<div class="e-countdown" data-deadline="{{ deadline }}">
    <div data-key="days">00</div>
    <div data-key="hours">00</div>
    <div data-key="minutes">00</div>
    <div data-key="seconds">00</div>
</div>
