<div class="e-pay-options">
    OR pay 4 monthly payments of {$dyn} with
    <ul>
        <li><img src="assets/images/klarna.svg" alt="Klarna" /></li>
        <li><img src="assets/images/sezzle.svg" alt="Sezzle" /></li>
        <li><img src="assets/images/afterpay.svg" alt="Afterpay" /></li>
    </ul>
</div>
