<div class="e-price">
    <div class="e-price__main">
        <div class="e-price__current {{#if highlight }}highlight-price{{/if}}">{{ current }}</div>
        {{#if old }}
            <div class="e-price__old">{$dyn}</div>
        {{/if}}
    </div>
</div>
