<div class="e-progress _e-progress--nearly-full {{#if low-stock }}e-progress--low-stock{{/if }}">
    <p>{{ label }}</p>
    {{#if small }}<small>{{ small }}</small>{{/if }}
    <div style="--progress: {{ progress }}%;">{{ progress }}% Sold</div>
</div>
