<div class="e-price {{#if highlight }}e-price--highlight{{/if}} {{#if strikethrough }}e-price--strikethrough{{/if}}">
    <div class="e-price__main">
        <div class="e-price__current">{{ current }}</div>
        {{#if old }}
            <div class="e-price__old">{$dyn}</div>
        {{/if}}
    </div>
</div>
