<div class="e-sticky-thumb-video">
    <video loop preload="metadata" playsinline="true">
        <source src="{{ link }}" type="video/mp4" />
    </video>
    <button type="button">
        <i class="e-icon e-icon-cross"></i>
    </button>
</div>
