// General styles for all pages
@use "general";

// Sections styles on current page
@use "@sections/intro-section/intro-section" as *;
@use "@sections/faqs-menu/faqs-menu" as *;
@use "@sections/faqs-content/faqs-content" as *;
@use "@sections/across-image-banner/across-image-banner" as *;

// Styles for current page only