// General styles for all pages
@use "general";

// Sections styles on current page
@use "@sections/guide-welcome/guide-welcome" as *;
@use "@sections/base-info/base-info" as *;

// Styles for current page only