// Sections styles on current page
@use "@sections/base-section/base-section" as *;
@use "@sections/base-slider/base-slider" as *;
@use "@sections/pills-nav/pills-nav" as *;
@use "@sections/across-image-banner/across-image-banner" as *;

// Styles for current page only