// Sections styles on current page
@use "@sections/across-image-banner/across-image-banner" as *;
@use "@sections/pills-nav/pills-nav" as *;
@use "@sections/base-slider/base-slider" as *;

// Styles for current page only