@use "@root/mixins" as *;
@use "@elements/e-icon" as *;

@mixin active-icons {
    .e-icon {
        position: relative;

        &::after {
            position: absolute;
            top: 0;
            left: 0;
            @include icon;
            color: #c7e5db;
        }
    }

    .e-icon-shipping-order {
        &::after {
            content: "\e90f";
        }
    }

    .e-icon-rejuvalight-pro-facewear {
        &::after {
            content: "\e910";
        }
    }

    .e-icon-micro-infusion-system {
        &::after {
            content: "\e912";
        }
    }

    .e-icon-renew-lllt-helmet {
        &::after {
            content: "\e914";
        }
    }

    .e-icon-returns-exchanges {
        &::after {
            content: "\e916";
        }
    }

    .e-icon-billing-payment {
        &::after {
            content: "\e918";
        }
    }

    .e-icon-warranty {
        &::after {
            content: "\e91a";
        }
    }

    .e-icon-qure-app {
        &::after {
            content: "\e91c";
        }
    }

    .e-icon-troubleshooting {
        &::after {
            content: "\e91e";
        }
    }
}

.shopify-section--faqs-menu {
    max-width: 350px;

    @include sm {
        max-width: none;
    }

    @media screen and (min-width: 1200px) {
        margin-left: max(0px, calc((100% - 1172px) / 2));
    }

    @media screen and (min-width: 1400px) {
        margin-left: max(0px, calc((100% - 1232px) / 2));
    }
}

.faqs-menu {
    font-size: 20px;

    .container {
        padding-right: 0;

        @include sm {
            padding-right: 16px;
        }
    }

    .dropdown {
        width: 100%;
    }

    .dropdown-toggle {
        display: flex;
        gap: 14px;
        align-items: center;
        width: 100%;
        height: 62px;
        padding: 16px;
        color: inherit;
        text-align: left;
        border: 1px solid #dfe0e0;
        border-radius: 5px;
        background: #fff url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxOCIgaGVpZ2h0PSI5IiB2aWV3Qm94PSIwIDAgMTggOSI+PHBhdGggZD0iTTEuNS43NUw5IDguMjUgMTYuNS43NSIgZmlsbD0ibm9uZSIgc3Ryb2tlPSIjMjEyNDI4IiBzdHJva2Utd2lkdGg9IjEuNSIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIi8+PC9zdmc+") no-repeat right 16px center / 18px 9px;

        @media screen and (min-width: 768px) {
            display: none;
        }

        &::after {
            display: none;
        }

        &.show {
            border-end-end-radius: 0;
            border-end-start-radius: 0;
        }

        .e-icon {
            margin-right: -5px;
            margin-left: -5px;
            font-size: 34px;
        }

        .e-icon-shipping-order {
            font-size: 30px;
        }

        @include active-icons;
    }

    .dropdown-menu {
        z-index: 1;
        padding: 0;
        font-size: 18px;

        @media screen and (min-width: 768px) {
            position: static;
            display: block;
            font-size: 20px;
            border: 0;
        }

        @include sm {
            width: 100%;
            border-color: #dfe0e0;
            border-top: 0;
            border-radius: 5px;
            transform: translateY(62px) !important;
            border-start-end-radius: 0;
            border-start-start-radius: 0;
        }

        p {
            font-weight: 500;

            @include sm {
                display: none;
            }
        }

        li {
            border-bottom: 1px solid #dfe0e0;

            @include sm {
                border: 0;
            }
        }

        button {
            display: flex;
            gap: 8px;
            align-items: center;
            width: 100%;
            height: 66px;
            padding: 6px;
            color: inherit;
            text-align: left;
            border: 0;
            background: none;

            @include sm {
                height: 60px;
                padding: 16px;
            }

            &::after {
                margin-left: auto;
                @include icon;
                font-size: 18px;
                transform: rotate(90deg);
                transition: all 200ms;
                content: "\e900";

                @include sm {
                    display: none;
                }
            }

            .e-icon {
                font-size: 34px;
            }

            .e-icon-shipping-order {
                font-size: 30px;
            }

            &.active {
                font-weight: 500;

                &::after {
                    transform: rotate(0);
                    -webkit-text-stroke: 1px;
                }

                @media screen and (min-width: 768px) {
                    @include active-icons;
                }
            }
        }
    }
}