.e-icon{
  display:inline-block;
  line-height:1;
}
.e-icon:before{
  font-family:icomoon;
  font-weight:400;
  font-style:normal;
  font-variant:normal;
  line-height:1;
  text-transform:none;
  vertical-align:top;
  -moz-osx-font-smoothing:grayscale;
  -webkit-font-smoothing:antialiased;
  speak:never;
}

.e-icon-chevron:before{
  content:"\e900";
}

.e-icon-checkmark:before{
  content:"\e901";
}

.e-icon-plus:before{
  content:"\e903";
}

.e-icon-minus:before{
  content:"\e902";
}

.e-icon-cross:before{
  content:"\e904";
}

.e-icon-arrow:before{
  content:"\e905";
}

.e-icon-qure:before{
  content:"\e906";
}

.e-icon-q:before{
  content:"\e907";
}

.e-icon-youtube:before{
  content:"\e90b";
}

.e-icon-instagram:before{
  content:"\e90a";
}

.e-icon-facebook:before{
  content:"\e909";
}

.e-icon-tiktok:before{
  content:"\e908";
}

.e-icon-i:before{
  content:"\e90c";
}

.e-icon-play:before{
  content:"\e90d";
}

.e-icon-stars:before{
  content:"\e920";
}

.e-icon-rating-fill:before{
  content:"\e921";
}

.e-icon-trustpilot:before{
  content:"\e922";
}

.e-icon-pm:before{
  content:"\e923";
}

.e-icon-am:before{
  content:"\e924";
}

.e-icon-watch:before{
  content:"\e925";
}

.e-icon-cart:before{
  content:"\e926";
}

.e-icon-user:before{
  content:"\e927";
}

.e-icon-gift:before{
  content:"\e928";
}

.e-icon-shipping:before{
  content:"\e92b";
}

.e-icon-faq:before{
  content:"\e92a";
}

.e-icon-letter:before{
  content:"\e929";
}

.e-icon-pillow:before{
  content:"\e92c";
}

.e-icon-shipping-order:before{
  content:"\e90e";
}

.e-icon-shipping-order-hvr:before{
  content:"\e90f";
}

.e-icon-rejuvalight-pro-facewear:before{
  content:"\e911";
}

.e-icon-rejuvalight-pro-facewear-hvr:before{
  content:"\e910";
}

.e-icon-micro-infusion-system:before{
  content:"\e913";
}

.e-icon-micro-infusion-system-hvr:before{
  content:"\e912";
}

.e-icon-renew-lllt-helmet:before{
  content:"\e915";
}

.e-icon-renew-lllt-helmet-hvr:before{
  content:"\e914";
}

.e-icon-returns-exchanges:before{
  content:"\e917";
}

.e-icon-returns-exchanges-hvr:before{
  content:"\e916";
}

.e-icon-billing-payment:before{
  content:"\e919";
}

.e-icon-billing-payment-hvr:before{
  content:"\e918";
}

.e-icon-warranty:before{
  content:"\e91b";
}

.e-icon-warranty-hvr:before{
  content:"\e91a";
}

.e-icon-qure-app:before{
  content:"\e91d";
}

.e-icon-qure-app-hvr:before{
  content:"\e91c";
}

.e-icon-troubleshooting:before{
  content:"\e91f";
}

.e-icon-troubleshooting-hvr:before{
  content:"\e91e";
}

.shopify-section--faqs-menu{
  max-width:350px;
}

.faqs-menu{
  font-size:20px;
}
.faqs-menu .container{
  padding-right:0;
}
.faqs-menu .dropdown{
  width:100%;
}
.faqs-menu .dropdown-toggle{
  display:flex;
  gap:14px;
  align-items:center;
  width:100%;
  height:62px;
  padding:16px;
  color:inherit;
  text-align:left;
  border:1px solid #dfe0e0;
  border-radius:5px;
  background:#fff url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxOCIgaGVpZ2h0PSI5IiB2aWV3Qm94PSIwIDAgMTggOSI+PHBhdGggZmlsbD0ibm9uZSIgc3Ryb2tlPSIjMjEyNDI4IiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIHN0cm9rZS13aWR0aD0iMS41IiBkPSJNMS41Ljc1IDkgOC4yNWw3LjUtNy41Ii8+PC9zdmc+") no-repeat right 16px center/18px 9px;
}
.faqs-menu .dropdown-toggle:after{
  display:none;
}
.faqs-menu .dropdown-toggle.show{
  border-end-end-radius:0;
  border-end-start-radius:0;
}
.faqs-menu .dropdown-toggle .e-icon{
  margin-right:-5px;
  margin-left:-5px;
  font-size:34px;
}
.faqs-menu .dropdown-toggle .e-icon-shipping-order{
  font-size:30px;
}
.faqs-menu .dropdown-toggle .e-icon{
  position:relative;
}
.faqs-menu .dropdown-toggle .e-icon:after{
  position:absolute;
  top:0;
  left:0;
  font-family:icomoon;
  font-weight:400;
  font-style:normal;
  font-variant:normal;
  line-height:1;
  text-transform:none;
  vertical-align:top;
  -moz-osx-font-smoothing:grayscale;
  -webkit-font-smoothing:antialiased;
  speak:never;
  color:#c7e5db;
}
.faqs-menu .dropdown-toggle .e-icon-shipping-order:after{
  content:"\e90f";
}
.faqs-menu .dropdown-toggle .e-icon-rejuvalight-pro-facewear:after{
  content:"\e910";
}
.faqs-menu .dropdown-toggle .e-icon-micro-infusion-system:after{
  content:"\e912";
}
.faqs-menu .dropdown-toggle .e-icon-renew-lllt-helmet:after{
  content:"\e914";
}
.faqs-menu .dropdown-toggle .e-icon-returns-exchanges:after{
  content:"\e916";
}
.faqs-menu .dropdown-toggle .e-icon-billing-payment:after{
  content:"\e918";
}
.faqs-menu .dropdown-toggle .e-icon-warranty:after{
  content:"\e91a";
}
.faqs-menu .dropdown-toggle .e-icon-qure-app:after{
  content:"\e91c";
}
.faqs-menu .dropdown-toggle .e-icon-troubleshooting:after{
  content:"\e91e";
}
.faqs-menu .dropdown-menu{
  z-index:1;
  padding:0;
  font-size:18px;
}
.faqs-menu .dropdown-menu p{
  font-weight:500;
}
.faqs-menu .dropdown-menu li{
  border-bottom:1px solid #dfe0e0;
}
.faqs-menu .dropdown-menu button{
  display:flex;
  gap:8px;
  align-items:center;
  width:100%;
  height:66px;
  padding:6px;
  color:inherit;
  text-align:left;
  border:0;
  background:none;
}
.faqs-menu .dropdown-menu button:after{
  margin-left:auto;
  font-family:icomoon;
  font-weight:400;
  font-style:normal;
  font-variant:normal;
  line-height:1;
  text-transform:none;
  vertical-align:top;
  -moz-osx-font-smoothing:grayscale;
  -webkit-font-smoothing:antialiased;
  speak:never;
  font-size:18px;
  transform:rotate(90deg);
  transition:all .2s;
  content:"\e900";
}
.faqs-menu .dropdown-menu button .e-icon{
  font-size:34px;
}
.faqs-menu .dropdown-menu button .e-icon-shipping-order{
  font-size:30px;
}
.faqs-menu .dropdown-menu button.active{
  font-weight:500;
}
.faqs-menu .dropdown-menu button.active:after{
  transform:rotate(0);
  -webkit-text-stroke:1px;
}
@media screen and (min-width:768px){
  .faqs-menu .dropdown-toggle{
    display:none;
  }
  .faqs-menu .dropdown-menu{
    position:static;
    display:block;
    font-size:20px;
    border:0;
  }
  .faqs-menu .dropdown-menu button.active .e-icon{
    position:relative;
  }
  .faqs-menu .dropdown-menu button.active .e-icon:after{
    position:absolute;
    top:0;
    left:0;
    font-family:icomoon;
    font-weight:400;
    font-style:normal;
    font-variant:normal;
    line-height:1;
    text-transform:none;
    vertical-align:top;
    -moz-osx-font-smoothing:grayscale;
    -webkit-font-smoothing:antialiased;
    speak:never;
    color:#c7e5db;
  }
  .faqs-menu .dropdown-menu button.active .e-icon-shipping-order:after{
    content:"\e90f";
  }
  .faqs-menu .dropdown-menu button.active .e-icon-rejuvalight-pro-facewear:after{
    content:"\e910";
  }
  .faqs-menu .dropdown-menu button.active .e-icon-micro-infusion-system:after{
    content:"\e912";
  }
  .faqs-menu .dropdown-menu button.active .e-icon-renew-lllt-helmet:after{
    content:"\e914";
  }
  .faqs-menu .dropdown-menu button.active .e-icon-returns-exchanges:after{
    content:"\e916";
  }
  .faqs-menu .dropdown-menu button.active .e-icon-billing-payment:after{
    content:"\e918";
  }
  .faqs-menu .dropdown-menu button.active .e-icon-warranty:after{
    content:"\e91a";
  }
  .faqs-menu .dropdown-menu button.active .e-icon-qure-app:after{
    content:"\e91c";
  }
  .faqs-menu .dropdown-menu button.active .e-icon-troubleshooting:after{
    content:"\e91e";
  }
}
@media screen and (min-width:1200px){
  .shopify-section--faqs-menu{
    margin-left:max(0px, (100% - 1172px) / 2);
  }
}
@media screen and (min-width:1400px){
  .shopify-section--faqs-menu{
    margin-left:max(0px, (100% - 1232px) / 2);
  }
}
@media screen and (max-width:767px){
  .shopify-section--faqs-menu{
    max-width:none;
  }
  .faqs-menu .container{
    padding-right:16px;
  }
  .faqs-menu .dropdown-menu{
    width:100%;
    border-color:#dfe0e0;
    border-top:0;
    border-radius:5px;
    transform:translateY(62px) !important;
    border-start-end-radius:0;
    border-start-start-radius:0;
  }
  .faqs-menu .dropdown-menu p{
    display:none;
  }
  .faqs-menu .dropdown-menu li{
    border:0;
  }
  .faqs-menu .dropdown-menu button{
    height:60px;
    padding:16px;
  }
  .faqs-menu .dropdown-menu button:after{
    display:none;
  }
}
