<!-- WHY USING -->
<link rel="stylesheet" href="sections/new/why-using/why-using.css" />
<section class="why-using {{ classes }}" >
    <div class="container">
        <article>
            <h2>{{ title }}</h2>
            <ul>
                {{#parseJson list }}
                    <li>
                        {{> e-icon icon=icon}}
                        {{ name }}
                    </li>
                {{/parseJson}}
            </ul>
            <button class="btn btn--primary" type="button">buy now &amp; SAVE UP TO 70%</button>
        </article>
    </div>
</section>
<!-- WHY USING END -->
