<!-- SKIN DESERVES -->
{{#unless page-css }}
<link rel="stylesheet" href="sections/new/skin-deserves/skin-deserves.css" />
{{/unless}}
<section class="skin-deserves {{ classes }}">
    <div class="container">
        <article>
            <h2>{{ title }}</h2>
            <p>{{ text }}</p>
            {{> @partial-block }}
        </article>
    </div>
</section>
<!-- SKIN DESERVES END -->
