<!-- TEXT ARTICLE -->
{{#unless page-css }}
<link rel="stylesheet" href="sections/new/text-article/text-article.css" />
{{/unless}}
<section class="article {{ classes }}">
    <div class="container">
        <article>
            {{> @partial-block }}
        </article>
    </div>
</section>
<!-- TEXT ARTICLE END -->
