.c-swiper{
  overflow:hidden;
  margin-right:-16px;
  margin-left:-16px;
  padding-right:16px;
  padding-left:16px;
}
.c-swiper .swiper-slide picture[data-url],.c-swiper .swiper-slide picture[data-video-id]{
  cursor:pointer;
}
.c-swiper .swiper-slide img{
  max-width:100%;
  height:auto;
  vertical-align:top;
}
.c-swiper-nav{
  display:flex;
  gap:20px;
  align-items:center;
  justify-content:center;
  margin-top:30px;
}
.c-swiper-nav-disabled .c-swiper-nav{
  display:none;
}
.c-swiper-pagination{
  display:flex;
  gap:10px;
  width:auto;
}
.c-swiper-button-next,.c-swiper-button-prev{
  display:flex;
  flex:0 0 40px;
  align-items:center;
  justify-content:center;
  height:40px;
  color:#212428;
  font-size:12px;
  border:1px solid;
  border-radius:50px;
  background:#fff;
  cursor:pointer;
  transition:.3s;
}
.c-swiper-button-next:after,.c-swiper-button-prev:after{
  font-family:icomoon;
  font-weight:400;
  font-style:normal;
  font-variant:normal;
  line-height:1;
  text-transform:none;
  vertical-align:top;
  -moz-osx-font-smoothing:grayscale;
  -webkit-font-smoothing:antialiased;
  speak:never;
  content:"\e900";
}
.c-swiper-button-next:hover,.c-swiper-button-prev:hover{
  border-color:#c8e6dc;
  background:#c8e6dc;
}
.c-swiper-button-next.swiper-button-disabled,.c-swiper-button-prev.swiper-button-disabled{
  color:#8b8c8e;
  pointer-events:none;
  opacity:.3;
}
.c-swiper-button-prev:after{
  transform:rotate(-180deg);
}

.c-trusted-video-card{
  overflow:hidden;
  border:1px solid #dfe0e0;
  border-radius:10px;
}
.c-trusted-video-card picture{
  display:block;
}
.c-trusted-video-card picture[data-url],.c-trusted-video-card picture[data-video-id]{
  cursor:pointer;
}
.c-trusted-video-card img{
  display:block;
  width:100%;
  height:auto;
}
.c-trusted-video-card p{
  margin:0;
}
.c-trusted-video-card p:has(.e-checkmark){
  display:flex;
  gap:6px;
  align-items:center;
}
.c-trusted-video-card article{
  display:flex;
  flex-direction:column;
  gap:16px;
  min-height:200px;
  padding:24px;
  font-size:20px;
}
.c-trusted-video-card article div{
  display:flex;
  flex-direction:column;
  margin-top:auto;
  font-size:16px;
}
.c-trusted-video-card .e-checkmark{
  font-size:14px;
}

.c-visual-compare-card{
  display:flex;
  flex-direction:column;
  gap:24px;
  overflow:hidden;
  padding:24px;
  border:1px solid #dfe0e0;
  border-radius:10px;
}
.c-visual-compare-card picture img{
  display:block;
  width:100%;
  height:auto;
}
.c-visual-compare-card article{
  display:flex;
  gap:16px;
  align-items:center;
  justify-content:center;
}
.c-visual-compare-card article span{
  padding:6px 20px;
  border-radius:30px;
  background:#c8e6dc;
}

.c-advisory-collapse-card{
  overflow:hidden;
}
.c-advisory-collapse-card picture{
  display:block;
  transition:opacity .3s;
  opacity:.55;
}
.c-advisory-collapse-card img{
  width:100%;
  display:block;
  max-width:100%;
  height:auto;
  border-radius:10px;
}
.c-advisory-collapse-card article{
  position:relative;
  cursor:pointer;
}
.c-advisory-collapse-card article:after{
  position:absolute;
  right:20px;
  bottom:20px;
  width:30px;
  height:30px;
  font-family:icomoon;
  font-weight:400;
  font-style:normal;
  font-variant:normal;
  line-height:1;
  text-transform:none;
  vertical-align:top;
  -moz-osx-font-smoothing:grayscale;
  -webkit-font-smoothing:antialiased;
  speak:never;
  line-height:30px;
  text-align:center;
  border-radius:30px;
  background:#fff;
  content:"\e903";
}
.c-advisory-collapse-card article:hover picture,.c-advisory-collapse-card article[aria-expanded=true] picture{
  opacity:1;
}
.c-advisory-collapse-card article[aria-expanded=true]:after{
  content:"\e902";
}
.c-advisory-collapse-card article p{
  position:absolute;
  right:65px;
  bottom:20px;
  left:20px;
  color:#fff;
  font-size:16px;
}
.c-advisory-collapse-card article p:first-line{
  font-size:20px;
  font-weight:500;
}
.c-advisory-collapse-card .collapse:not(.show){
  display:none;
}
.c-advisory-collapse-card .collapse p{
  width:100%;
  margin:0;
  padding:20px 10px 10px;
}

.c-modal{
  position:fixed;
  top:0;
  left:0;
  z-index:1055;
  display:none;
  overflow:hidden auto;
  width:100%;
  height:100%;
  outline:0;
}
.c-modal .modal-header{
  padding:10px;
  border:0;
}
.c-modal .modal-header .btn-close{
  padding:5px;
  color:#fff;
  font-size:14px;
  line-height:1;
}
.c-modal .modal-header .btn-close:hover{
  color:#212428;
}
.c-modal .modal-header .btn-close:after{
  font-family:icomoon;
  font-weight:400;
  font-style:normal;
  font-variant:normal;
  line-height:1;
  text-transform:none;
  -moz-osx-font-smoothing:grayscale;
  -webkit-font-smoothing:antialiased;
  speak:never;
  vertical-align:top;
  content:"\e904";
}
.c-modal--light .modal-dialog{
  display:flex;
  align-items:center;
  height:calc(100% - var(--bs-modal-margin)*2);
}
.c-modal--light .modal-header{
  height:30px;
  padding:0;
}
.c-modal--light .modal-header .btn-close{
  position:absolute;
  top:8px;
  right:8px;
  z-index:1;
  margin:0;
  color:#212428;
  font-size:20px;
  border:0;
  outline:none;
  background:none;
}
.c-modal--light .modal-header .btn-close:hover{
  background:#c8e6dc;
}
.c-modal--light .modal-content{
  border-radius:0;
}
.c-modal--light .modal-body{
  padding:0 16px 32px;
}
.c-modal--wistia .modal-dialog{
  max-width:500px;
  margin-top:0;
  margin-bottom:0;
}
.c-modal--wistia .modal-content{
  border:none;
  background:transparent;
}
.c-modal--wistia .modal-body{
  overflow:hidden;
  padding:0;
  border-radius:10px;
}
.c-modal--wistia .c-modal__video{
  overflow:hidden;
  max-width:400px;
  margin:0 auto;
  border-radius:10px;
}

.base-slider{
  text-align:center;
}
.base-slider h2{
  margin-bottom:0;
}
.base-slider h2+p{
  max-width:800px;
  margin:24px auto 0;
}
.base-slider .c-swiper{
  text-align:initial;
}
.base-slider .c-swiper:not(:first-child){
  margin-top:40px;
}
.base-slider .c-swiper picture[data-url],.base-slider .c-swiper picture[data-video-id]{
  position:relative;
  display:block;
}
.base-slider .c-swiper picture[data-url]:after,.base-slider .c-swiper picture[data-video-id]:after{
  position:absolute;
  top:50%;
  left:50%;
  padding:.155em;
  color:#fff;
  font-family:icomoon;
  font-weight:400;
  font-style:normal;
  font-variant:normal;
  line-height:1;
  text-transform:none;
  vertical-align:top;
  -moz-osx-font-smoothing:grayscale;
  -webkit-font-smoothing:antialiased;
  speak:never;
  font-size:52px;
  border-radius:50%;
  background:rgba(0,0,0,.35);
  transform:translate(-50%, -50%);
  content:"\e90d";
  font-size:46px;
}
.base-slider--two-cards .container{
  max-width:1022px;
}
.base-slider--tree-cards .container{
  max-width:1082px;
}
.base-slider .wistia-embed-video .wistia_responsive_padding{
  position:relative;
}
.base-slider .wistia-embed-video .wistia_responsive_wrapper{
  position:absolute;
  inset:0;
}
.base-slider .wistia-embed-video .wistia_embed{
  position:relative;
  width:100%;
  height:100%;
}
.base-slider .wistia-embed-video .wistia_swatch{
  position:absolute;
  top:0;
  left:0;
  overflow:hidden;
  width:100%;
  height:100%;
  transition:opacity .2s;
  opacity:0;
}
.base-slider .wistia-embed-video img{
  -o-object-fit:contain;
     object-fit:contain;
  width:100%;
  height:100%;
}
@media screen and (max-width:991px){
  .c-visual-compare-card{
    gap:16px;
    padding:16px;
  }
  .c-visual-compare-card article{
    flex-direction:column;
    gap:10px;
  }
  .base-slider .c-swiper:not(:first-child),.base-slider h2+p{
    margin-top:20px;
  }
}
