@use "@root/mixins" as *;
@use "@components/c-swiper" as *;
@use "@components/c-trusted-video-card" as *;
@use "@components/c-visual-compare-card" as *;
@use "@components/c-advisory-collapse-card" as *;
@use "@components/c-modal" as *;

.base-slider {
    $root: &;

    text-align: center;

    h2 {
        margin-bottom: 0;

        & + p {
            max-width: 800px;
            margin: 24px auto 0;

            @include md {
                margin-top: 20px;
            }
        }
    }

    .c-swiper {
        text-align: initial;

        &:not(:first-child) {
            margin-top: 40px;

            @include md {
                margin-top: 20px;
            }
        }

        picture {
            &[data-video-id],
            &[data-url] {
                @include play;

                &::after {
                    font-size: 46px;
                }
            }
        }
    }

    // .base-slider--two-cards
    &--two-cards {
        .container {
            max-width: 1022px;
        }
    }

    // .base-slider--tree-cards
    &--tree-cards {
        .container {
            max-width: 1082px;
        }
    }

    // Wistia embed video code
    .wistia-embed-video {
         @include wistia-inline;

        .wistia_swatch {
            position: absolute;
            top: 0;
            left: 0;
            overflow: hidden;
            width: 100%;
            height: 100%;
            transition: opacity 200ms;
            opacity: 0;
        }

        img {
            object-fit: contain;
            width: 100%;
            height: 100%;
        }
    }
}