@use "@root/mixins" as *;
@use "@components/c-hr-with-text" as *;

.guide-welcome {
    .container {
        display: grid;
        grid-template: 1fr auto / 280px 1fr 1fr;
        grid-template-areas:
            "video title title"
            "video start contact"
        ;
        gap: 60px;
        width: 100%;

        @include lg {
            gap: 40px;
        }

        @include md {
            display: flex;
            flex-direction: column;
            gap: 32px;
        }
    }

    .c-hr-with-text {
        margin-top: -6px;
        margin-bottom: -6px;
    }

    &__title {
        grid-area: title;
        align-self: end;

        @include md {
            align-self: start;
        }

        h2 {
            margin-bottom: 0;
        }
    }

    &__video {
        grid-area: video;
        @include wistia-inline;
    }

    &__card {
        display: flex;
        flex-direction: column;
        gap: 16px;
        padding: 32px;
        border: 1px solid #dfe0e0;
        border-radius: 10px;

        @include lg {
            padding: 24px;
        }

        h4 {
            margin-bottom: 0;
        }

        .btn {
            width: 100%;
        }

        .btn--light {
            font-weight: 500;
            border-radius: 50px;
        }
    }

    &__card--start {
        grid-area: start;
    }

    &__card--contact {
        grid-area: contact;
    }
}