<!-- CONTACT US -->
{{#unless page-css }}
    <link rel="stylesheet" href="sections/new/contact-us/contact-us.css" />
{{/unless}}
<section class="contact-us {{ classes }}">
    <div class="container">
        <article class="contact-us__text">
            <h2>{{ title }}</h2>
            {{> @partial-block }}
        </article>
        <ul class="contact-us__info">
            <li>
                {{> e-icon icon="chat" }}
                <strong>Live Chat</strong>
                <p>
                    Mon - Fri<br />
                    9AM - 5PM EST
                </p>
            </li>
            <li>
                {{> e-icon icon="call-us" }}
                <strong>Call Us</strong>
                <p>
                    +1 (240) 702-2228<br />
                    Sat - Sun<br />
                    9AM - 5PM EST
                </p>
            </li>
            <li>
                {{> e-icon icon="email" }}
                <strong>Email</strong>
                <p>
                    Send a Message to Customer<br /> Service below
                </p>
            </li>
        </ul>
        {{#unless hide-form }}
        <form class="contact-us__feedback" action="#">
            <p class="contact-us__feedback-success">Thanks for contacting us. We'll get back to you as soon as possible.</p>
            <div class="contact-us__feedback-field">
                <input type="text" class="form-control" placeholder="Name" />
            </div>
            <div class="contact-us__feedback-field">
                <input type="email" class="form-control" placeholder="Email address" />
            </div>
            <div class="contact-us__feedback-field">
                <input type="text" class="form-control" placeholder="Order number" />
            </div>
            <div class="contact-us__feedback-field">
                <input type="text" class="form-control" placeholder="Telephone number" />
            </div>
            <div class="contact-us__feedback-field">
                <select class="form-control synced-select">
                    <option value="">Topic</option>
                    <option value="Order_Tracking">Order Tracking</option>
                    <option value="Order_Issue">Order Issue</option>
                    <option value="product__Inquiry">Product Inquiry</option>
                    <option value="Discounts_and_Promotions">Discounts and Promotions</option>
                    <option value="Subscriptions">Subscriptions</option>
                    <option value="Rewards">Rewards</option>
                    <option value="Qure_App">Qure App</option>
                    <option value="Something_else">Something else</option>
                </select>
            </div>
            <div class="contact-us__feedback-field" style="display: none;">
                <select class="form-control synced-select" placeholder="Topic">
                    <option>Product</option>
                    <option value="Micro-Infusion Facial System">Micro-Infusion Facial System</option>
                    <option value="Q-Rejuvalight Pro Facewear">Q-Rejuvalight Pro Facewear</option>
                    <option value="Neck & Décolletage LED Device">Neck &amp; Décolletage LED Device</option>
                    <option value="Shower Filter">Shower Filter</option>
                    <option value="Faucet Filter">Faucet Filter</option>
                    <option value="Micro-Infusion Target Patches">Micro-Infusion Target Patches</option>
                    <option value="All-In-One Face Serum">All-In-One Face Serum</option>
                    <option value="Dermal Mist">Dermal Mist</option>
                    <option value="Silk Pillowcase">Silk Pillowcase</option>
                </select>
            </div>
            <div class="contact-us__feedback-field">
                <textarea class="form-control" rows="3" placeholder="What’s on your mind?"></textarea>
            </div>
            <div class="contact-us__feedback-field">
                <label>
                    <input type="checkbox" class="form-check-input" id="checkConsent" />
                    By submitting this contact form, you consent to receive text messages/SMS from Qure Skincare. To end messaging from us, you may always reply with STOP.
                </label>
            </div>
            <div class="contact-us__feedback-field">
                <button type="submit" class="btn btn--primary">Send</button>
            </div>
        </form>
        {{/unless}}
    </div>
</section>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        loadScriptOnce('contact-us', 'sections/new/contact-us/contact-us.js');
    });
</script>
<!-- CONTACT US END -->
