@use "transition" as *;

// For old layout
@mixin gallery-sticky-video {
    position: relative;

    .gallery-sticky-video {
        position: absolute;
        top: 16px;
        right: 16px;
        z-index: 2;
        display: block;
        overflow: hidden;
        width: calc(180px * (600 / 1080));
        height: 180px;
        cursor: pointer;
        transition: width .3s ease, height .3s ease;

        @media screen and (max-width: 480px) {
            top: 8px;
            right: 8px;
            width: calc(145px * (600 / 1080));
            height: 145px;
        }

        &.expanded {
            width: calc(300px * (600 / 1080));
            height: 300px;

            @media screen and (max-width: 480px) {
                width: calc(280px * (600 / 1080));
                height: 280px;
            }
        }

        video {
            position: absolute;
            top: 0;
            left: 0;
            object-fit: cover;
            width: 100%;
            height: 100%;
            border-radius: 10px;
        }

        // .gallery-sticky-video__close
        &__close {
            position: absolute;
            top: 6px;
            right: 6px;
            width: 20px;
            height: 20px;
            color: #fff;
            font-size: 8px;
            line-height: 20px;
            text-align: center;
            border-radius: 50%;
            background: #000;
            cursor: pointer;
            opacity: 0.35;
            @include transition;

            &:hover {
                opacity: 1;
            }
        }
    }
}