@mixin index-number {
    position: absolute;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1.5em;
    height: 1.5em;
    color: #fff;
    font-weight: 500;
    border-radius: 50%;
    background: #212428;
}