@mixin numeric-list {
    counter-reset: item;

    &:not(:last-child) {
        margin-bottom: 15px;
    }

    li {
        display: flex;
        gap: 12px;
        align-items: flex-start;
        counter-increment: item;

        &::before {
            flex: none;
            width: 24px;
            height: 24px;
            line-height: 24px;
            text-align: center;
            border: 1px solid;
            border-radius: 24px;
            content: counters(item, "");
        }

        &:not(:last-child) {
            margin-bottom: 12px;
        }
    }
}