@mixin numeric-list {
    counter-reset: item;

    &:not(:last-child) {
        margin-bottom: 15px;
    }

    li {
        position: relative;
        min-height: 24px;
        padding-left: 36px;
        counter-increment: item;

        &::before {
            position: absolute;
            top: 0;
            left: 0;
            width: 24px;
            height: 24px;
            line-height: 24px;
            text-align: center;
            border: 1px solid;
            border-radius: 24px;
            content: counters(item, "");
        }

        &:not(:last-child) {
            margin-bottom: 12px;
        }
    }
}