@mixin wistia-inline {
    .wistia_responsive_padding {
        position: relative;
    }

    .wistia_responsive_wrapper {
        position: absolute;
        inset: 0;
    }

    .wistia_embed {
        position: relative;
        width: 100%;
        height: 100%;
    }
}