.why-carousel {
    --section-padding-top: 50px;
    --section-padding-top-mob: 30px;
    --section-padding-bottom: 30px;
    --section-padding-bottom-mob: 10px;

    // .why-carousel__content
    &__content {
        display: grid;
        grid-template: repeat(2, auto) / repeat(2, 1fr);
        grid-template-areas: 
            "title button" 
            "carousel carousel";
        gap: 32px;
        align-items: center;

        @include sm {
            grid-template: auto / auto; 
            grid-template-areas: "title" "carousel" "button";
            gap: 14px;
        }
    }

    &__title {
        grid-area: title;
        margin: 0;
    }

    // .why-carousel__carousel
    &__carousel {
        grid-area: carousel;
        min-width: 0;
        margin-right: -15px;
        margin-left: -15px;

        .swiper-slide {
            padding-right: 15px;
            padding-left: 15px;
        }

        .swiper-arrows-with-pagination {
            @include swiper-arrows;

            @media screen and (min-width: 1200px) {
                display: none;
            }
        }
    }

    &__item {
        display: flex;
        flex-direction: column;
        gap: 16px;
        align-items: center;
        padding: 32px;
        text-align: left;
        border-radius: 10px;
        background: #f6f6f7;

        img {
            max-width: 250px;
            height: auto;
            margin-bottom: 4px;
        }

        h6 {
            width: 100%;
            margin-bottom: 0;
            font-family: inherit;
            font-weight: 600;
        }
    }

    &__button {
        grid-area: button;
        min-width: 300px;
        margin-left: auto;

        @include sm {
            margin-left: 0;
        }
    }
}