.e-icon{
  display:inline-block;
  line-height:1;
}
.e-icon:before{
  font-family:icomoon;
  font-weight:400;
  font-style:normal;
  font-variant:normal;
  line-height:1;
  text-transform:none;
  vertical-align:top;
  -moz-osx-font-smoothing:grayscale;
  -webkit-font-smoothing:antialiased;
  speak:never;
}

.e-icon-chevron:before{
  content:"\e900";
}

.e-icon-checkmark:before{
  content:"\e901";
}

.e-icon-plus:before{
  content:"\e903";
}

.e-icon-minus:before{
  content:"\e902";
}

.e-icon-cross:before{
  content:"\e904";
}

.e-icon-arrow:before{
  content:"\e905";
}

.e-icon-qure:before{
  content:"\e906";
}

.e-icon-q:before{
  content:"\e907";
}

.e-icon-youtube:before{
  content:"\e90b";
}

.e-icon-instagram:before{
  content:"\e90a";
}

.e-icon-facebook:before{
  content:"\e909";
}

.e-icon-tiktok:before{
  content:"\e908";
}

.e-icon-i:before{
  content:"\e90c";
}

.e-icon-play:before{
  content:"\e90d";
}

.e-icon-stars:before{
  content:"\e920";
}

.e-icon-rating-fill:before{
  content:"\e921";
}

.e-icon-trustpilot:before{
  content:"\e922";
}

.e-icon-pm:before{
  content:"\e923";
}

.e-icon-am:before{
  content:"\e924";
}

.e-icon-watch:before{
  content:"\e925";
}

.e-icon-cart:before{
  content:"\e926";
}

.e-icon-user:before{
  content:"\e927";
}

.e-icon-gift:before{
  content:"\e928";
}

.e-icon-shipping:before{
  content:"\e92b";
}

.e-icon-faq:before{
  content:"\e92a";
}

.e-icon-letter:before{
  content:"\e929";
}

.e-icon-pillow:before{
  content:"\e92c";
}

.e-icon-patches:before{
  content:"\e92d";
}

.e-icon-mist:before{
  content:"\e92e";
}

.e-icon-lock:before{
  content:"\e92f";
}

.e-icon-guarantee:before{
  content:"\e930";
}

.e-icon-top:before{
  content:"\e931";
}

.e-icon-proven:before{
  content:"\e932";
}

.e-icon-pay-later:before{
  content:"\e933";
}

.e-icon-reviewed:before{
  content:"\e934";
}

.e-icon-shipping-order:before{
  content:"\e90e";
}

.e-icon-shipping-order-hvr:before{
  content:"\e90f";
}

.e-icon-rejuvalight-pro-facewear:before{
  content:"\e911";
}

.e-icon-rejuvalight-pro-facewear-hvr:before{
  content:"\e910";
}

.e-icon-micro-infusion-system:before{
  content:"\e913";
}

.e-icon-micro-infusion-system-hvr:before{
  content:"\e912";
}

.e-icon-renew-lllt-helmet:before{
  content:"\e915";
}

.e-icon-renew-lllt-helmet-hvr:before{
  content:"\e914";
}

.e-icon-returns-exchanges:before{
  content:"\e917";
}

.e-icon-returns-exchanges-hvr:before{
  content:"\e916";
}

.e-icon-billing-payment:before{
  content:"\e919";
}

.e-icon-billing-payment-hvr:before{
  content:"\e918";
}

.e-icon-warranty:before{
  content:"\e91b";
}

.e-icon-warranty-hvr:before{
  content:"\e91a";
}

.e-icon-qure-app:before{
  content:"\e91d";
}

.e-icon-qure-app-hvr:before{
  content:"\e91c";
}

.e-icon-troubleshooting:before{
  content:"\e91f";
}

.e-icon-troubleshooting-hvr:before{
  content:"\e91e";
}
.patch__product-rating{
  padding:8px 20px;
  background:#f6f6f7;
  border-radius:5px;
}

.patch__product-rating strong{
  font-weight:600;
}

.patch__single-shortdes li{
  padding-left:25px;
  position:relative;
  color:var(--Charcoal, #212428);
  font-family:TT Commons;
  font-size:18px;
  font-style:normal;
  font-weight:400;
  line-height:20px;
}

.patch__single-shortdes li+li{
  margin-top:15px;
}

.patch__single-shortdes li:before{
  content:"\f058";
  font-family:Font Awesome\ 6 Pro;
  font-weight:400;
  position:absolute;
  left:0;
  top:2px;
  color:#91baec;
}

.vp-grid{
  display:grid;
  grid-template-columns:repeat(3, 1fr);
  gap:12px;
  align-items:flex-end;
}

.patch__value-pack{
  text-align:center;
}

.patch__value-pack>input{
  display:none;
}

.patch__value-pack .vp-pack{
  padding:12px 0 24px;
  border:1px solid #dfe0e0;
  width:100%;
  border-radius:10px;
  position:relative;
  cursor:pointer;
}

.vp-price{
  display:flex;
  gap:0 6px;
  justify-content:center;
}

.vp-price .vp-price-sale{
  color:var(--charcoal-light);
  text-decoration:line-through;
}

.vp-price .vp-price-reg{
  color:var(--color-orange);
}

.patch__value-pack .vp-pack .vp-badge{
  background:#ffeeea;
  color:var(--color-orange);
  font-size:14px;
  padding:1px 8px;
  display:inline-block;
  border-radius:40px;
  position:absolute;
  width:-webkit-max-content;
  width:-moz-max-content;
  width:max-content;
  bottom:-12px;
  left:0;
  right:0;
  margin:0 auto;
  font-weight:600;
}

.patch__value-pack>input:checked+.vp-pack{
  border-color:var(--qure-charcoal);
  border-width:2px;
  background-color:#f6f6f7;
}

.patch__value-pack>input:checked+.vp-pack .vp-badge{
  background:var(--color-orange);
  color:var(--white-color);
}

.patch__value-pack .vp-pack.vp-best-pack .vp-best-value{
  background:var(--qure-charcoal);
  color:var(--white-color);
  font-size:14px;
  border-radius:7px 7px 0 0;
  display:flex;
  align-items:center;
  justify-content:center;
  gap:0 10px;
  padding-bottom:2px;
  margin-bottom:10px;
}

.patch__value-pack .vp-pack.vp-best-pack .vp-best-value i{
  font-size:9px;
  margin-top:1px;
}

.patch__product-certified{
  display:grid;
  grid-template-columns:-webkit-max-content 1fr;
  grid-template-columns:max-content 1fr;
  padding:10px 20px;
  align-items:start;
  gap:10px;
  background:#f6f6f7;
  border-radius:5px;
  max-width:460px;
  margin:0 auto;
  font-size:14px;
  line-height:18px;
}

.patch__product-certified strong{
  font-weight:600;
}

.patch-dr-list{
  display:flex;
  align-items:center;
}

.patch-dr-list li{
  display:inline-flex;
  width:32px;
  height:32px;
  overflow:hidden;
  border-radius:50%;
  background:#c8e6dc;
  border:1px solid #f6f6f7;
  font-size:12px;
  font-weight:600;
  align-items:center;
  justify-content:center;
}

.patch-dr-list li img{
  max-height:inherit;
  width:inherit;
}

.patch-dr-list li+li{
  margin-left:-8px;
}

.patch__product-batch{
  display:flex;
  padding:20px 10px;
  flex-direction:column;
  justify-content:center;
  align-items:flex-start;
  gap:20px;
  border-radius:10px;
  border:1px solid var(--charcoal-10, #dfe0e0);
}

.patch-bar{
  display:flex;
  justify-content:space-between;
  height:24px;
  padding:0 10px;
  border-radius:99.608px;
  border:1px solid var(--border-color, #8b8c8e);
  width:100%;
  font-size:12px;
  color:var(--text-color, #7a7c7e);
  position:relative;
}

.patch-bar:before{
  content:"";
  display:block;
  height:22px;
  position:absolute;
  left:0;
  right:0;
  background:var(--progress-bg, #dfe0e0);
  width:var(--progress-width, 100%);
  border-radius:inherit;
  z-index:-1;
}

.patch__results{
  display:grid;
  grid-template-columns:80px 1fr;
  padding:24px 12px;
  background:#f6f6f7;
  border-radius:10px;
  gap:0 10px;
}

.patch-badge{
  display:inline-flex;
  padding:4px 20px;
  justify-content:center;
  align-items:center;
  gap:8px;
  border-radius:666px;
  border:1px solid var(--Charcoal-50, #8b8c8e);
  font-size:16px;
  color:var(--qure-charcoal);
}

.tp-product-accordion.accordion-flush>.accordion-item:last-child{
  border-bottom:var(--bs-accordion-border-width) solid var(--bs-accordion-border-color);
}
.qure_sale-countdown .qs-card{
  background:#f6f6f7;
  border:1px solid #ff6b3d;
  border-radius:12px;
  padding:20px 10px;
}

.qure_sale-countdown .qs-title{
  text-align:center;
  margin:0;
  font-size:16px;
  font-weight:600;
  color:#212428;
}

.qure_sale-countdown .qs-timer{
  display:flex;
  align-items:center;
  justify-content:center;
  padding:8px 0 15px;
}

.qure_sale-countdown .qs-unit{
  text-align:center;
  min-width:60px;
}

.qure_sale-countdown .qs-value{
  color:#ff5429;
  font-weight:600;
  font-size:18px;
  letter-spacing:2px;
}

.qure_sale-countdown .qs-label{
  color:#ff5429;
  font-size:10px;
  line-height:10px;
}

.qure_sale-countdown .qs-sep{
  width:1px;
  height:32px;
  background:#ff5429;
}

.qure_sale-countdown .qs-offer{
  text-align:center;
  color:#212428;
  font-size:16px;
  font-weight:600;
}

.qure_sale-countdown .qs-badge{
  display:inline-block;
  background:#ff5429;
  color:#fff;
  padding:0 14px;
  border-radius:25px;
  margin:0 2px;
}

.qure_sale-countdown .qs-code{
  font-weight:800;
  letter-spacing:1px;
}

.bundle_price .dis_red_line{
  position:relative;
  display:flex;
  gap:6px;
}

.bundle_price .dis_red_line:after{
  position:absolute;
  top:10px;
  right:-3px;
  left:-3px;
  z-index:1;
  height:2px;
  background:#ff4e22;
  content:"";
  transform:rotate(7deg);
}

.bundle_price .black_friday_pricing{
  text-transform:uppercase;
}

.bef_price{
  color:var(--Charcoal-50, #8b8c8e);
}
.best__value .qure__variant-box .qv-img{
  max-height:50px;
  min-width:70px;
  max-width:70px;
  -o-object-fit:contain;
     object-fit:contain;
}

.all-in-one-bf .qure__variant-item{
  margin-bottom:12px;
}

.vp-best-value{
  background:var(--qure-charcoal);
  color:var(--white-color);
  font-size:14px;
  border-radius:7px 7px 0 0;
  display:flex;
  align-items:center;
  justify-content:center;
  gap:0 10px;
  padding-bottom:2px;
  width:calc(100% + 1px);
}

.all-in-one-bf .vp-best-value{
  max-width:100px;
  margin:0 30px 0 auto;
}

.qure__variant-item>input:checked+.qure__variant-box{
  border:2px solid #212428;
  background-color:#f6f6f7;
}

.all-in-one-bf .qure__variant-box{
  padding:12px;
}

.qure__variant-box{
  display:flex;
  align-items:center;
  justify-content:space-between;
  gap:10px;
  padding:18px 0;
  position:relative;
  border-radius:10px;
  border:1px solid #dfe0e0;
  cursor:pointer;
  transition:border-color .4s ease;
}

.qure__variant-item>input{
  display:none;
}

.qure__variant-box .bf-buy-Wrapper{
  display:flex;
  gap:5px;
}

.all-in-one-bf .dis_red_line{
  position:relative;
}

.all-in-one-bf .dis_red_line:before{
  position:absolute;
  content:"";
  height:2px;
  width:100%;
  background:#ff5429;
  transform:rotate(5deg);
  top:10px;
}

body.product\.dermal-mist .qure-product-details{
  max-width:500px;
}

body.product\.dermal-mist .patch__product-variants{
  margin-top:30px;
}

.hypo_acid_derm_mist{
  font-size:16px;
  font-weight:400;
}

.hypo_acid_derm_mist,.purify_skin{
  margin-bottom:10px;
}

.price_dyn{
  font-weight:500;
  font-family:TT Commons;
  font-size:22px;
}

.black_friday_wrapper{
  display:flex;
  align-items:center;
  gap:20px;
  margin-top:20px;
}

.patch__single-shortdes{
  margin-top:20px;
}

.patch__product-variants{
  max-width:500px;
}

.qure__product-action-inner{
  margin-top:40px;
  margin-bottom:10px;
  max-width:500px;
}

.qure_action_inner_wrapper{
  max-width:500px;
}
.product\.micro-infusion-limited-edition-bundle-1 .max-w-ctm+.d-none,.product\.micro-infusion-limited-edition-bundle-1 .qure__swiper-wrapper+.d-flex{
  display:none !important;
}
.product\.micro-infusion-limited-edition-bundle-1 .review_videos{
  padding-bottom:0 !important;
}

.tp-product-gallery{
  position:relative;
}
.tp-product-gallery .gallery-sticky-video{
  position:absolute;
  top:16px;
  right:16px;
  z-index:2;
  display:block;
  overflow:hidden;
  width:100px;
  height:180px;
  cursor:pointer;
  transition:width .3s ease,height .3s ease;
}
.tp-product-gallery .gallery-sticky-video.expanded{
  width:166.6666666667px;
  height:300px;
}
.tp-product-gallery .gallery-sticky-video video{
  position:absolute;
  top:0;
  left:0;
  -o-object-fit:cover;
     object-fit:cover;
  width:100%;
  height:100%;
  border-radius:10px;
}
.tp-product-gallery .gallery-sticky-video__close{
  position:absolute;
  top:6px;
  right:6px;
  width:20px;
  height:20px;
  color:#fff;
  font-size:8px;
  line-height:20px;
  text-align:center;
  border-radius:50%;
  background:#000;
  cursor:pointer;
  opacity:.35;
  transition:all .2s linear;
}
.tp-product-gallery .gallery-sticky-video__close:hover{
  opacity:1;
}
@media (max-width:991px){
  .vp-grid{
    gap:6px;
  }
}
@media (max-width:767px){
  .qure__product-title{
    font-size:32px;
  }
  .qure__product-badge{
    font-size:var(--badge-fs-mob, 16px);
  }
  .qure__variant-box .qv-img{
    max-width:45px;
  }
  .bundle_price{
    flex-wrap:wrap;
  }
  .bundle_price .black_friday_pricing{
    width:100%;
  }
  .price_dyn{
    font-size:20px;
  }
  .qure__product-action-inner{
    margin-top:20px;
  }
  .qure_action_inner_wrapper{
    max-width:100%;
  }
  .product\.micro-infusion-limited-edition-bundle-1 .accordion{
    margin-top:-10px !important;
  }
}
@media screen and (max-width:480px){
  .tp-product-gallery .gallery-sticky-video{
    top:8px;
    right:8px;
    width:80.5555555556px;
    height:145px;
  }
  .tp-product-gallery .gallery-sticky-video.expanded{
    width:155.5555555556px;
    height:280px;
  }
}
