.text-section{
  width:100%;
}
.text-section article{
  text-align:center;
}
.text-section article h2:last-child{
  margin-bottom:0;
}
.page\.exclusive-holiday-bundle-deal .text-section{
  padding-top:60px;
  padding-bottom:60px;
}
@media screen and (max-width:767px){
  .text-section article{
    text-align:left;
  }
  .page\.exclusive-holiday-bundle-deal .text-section{
    padding-top:40px;
    padding-bottom:40px;
  }
}
