<!-- HIGHLIGHT -->
{{#unless page-css }}
<link rel="stylesheet" href="sections/new/highlight/highlight.css" />
{{/unless}}
<section class="highlight {{ classes }}">
    <div class="container">
        <div class="highlight__desktop">{{ desktop }}</div>
        <div class="highlight__mobile">{{ mobile }}</div>
    </div>
</section>
<!-- HIGHLIGHT END -->
