.e-rating-stars{
  position:relative;
  display:inline-flex;
  gap:.125em;
  align-items:center;
  color:#91baec;
}

.c-testimonial-card{
  display:flex;
  flex-direction:column;
  gap:16px;
  padding:24px 16px;
  font-size:14px;
  line-height:1.25;
  border-radius:20px;
  background:#fff;
}
.c-testimonial-card hr{
  margin:0;
  opacity:1;
  border-top-color:#dfe0e0;
}
.c-testimonial-card__header{
  display:grid;
  grid-template-columns:repeat(2, auto);
}
.c-testimonial-card__header-verified{
  display:flex;
  gap:4px;
  align-items:center;
  justify-self:end;
}
.c-testimonial-card__header-date{
  color:#8b8c8e;
  font-size:12px;
}
.c-testimonial-card__content{
  font-size:16px;
}
.c-testimonial-card__content-title{
  margin:6px 0;
  font-size:18px;
  font-weight:600;
}
.c-testimonial-card__footer p{
  margin:0;
}

.testimonials{
  padding-top:60px;
  padding-bottom:60px;
  background:#f6f6f7;
}
.testimonials__title{
  margin-bottom:60px;
  font-family:inherit;
  font-size:36px;
  font-weight:600;
  line-height:1.15;
  text-align:center;
}
.testimonials__intro,.testimonials__other{
  display:grid;
  grid-template-columns:repeat(2, 1fr);
  gap:20px;
}
.testimonials__other{
  margin-top:24px;
}
.testimonials__card:last-child:nth-child(odd){
  grid-column:1 /  -1;
  justify-self:center;
  max-width:590px;
}
.testimonials__button{
  display:block;
  padding-top:24px;
  color:#707172;
  text-align:center;
  text-decoration:underline;
}
.testimonials__button[aria-expanded=false]:after{
  content:attr(data-text-more);
}
.testimonials__button[aria-expanded=true]:after{
  content:attr(data-text-less);
}
@media screen and (max-width:767px){
  .testimonials{
    padding-top:40px;
    padding-bottom:40px;
  }
  .testimonials__title{
    margin-bottom:24px;
    font-size:26px;
    text-align:left;
  }
  .testimonials__intro,.testimonials__other{
    grid-template-columns:auto;
  }
}
