@use "@root/mixins" as *;
@use "@components/c-swiper" as *;
@use "@components/c-modal" as *;
@use "@components/c-note" as *;
@use "@components/c-step-by-step" as *;

.guide-content {
    $root: &;

    display: none;
    width: calc(100% - (calc((100% - 1172px) / 2) + 366px + 60px));

    @media screen and (max-width: 1187px) {
        width: calc(100% - (366px + 60px));
    }

    @include md {
        display: block;
        width: 100%;
        margin-top: -40px;
    }

    &.active {
        display: block;
    }

    .container {
        margin: 0;
        padding-left: 0;

        @include md {
            padding-left: 16px;
        }
    }

    .accordion {
        @include md {
            border-bottom: 1px solid #dfe0e0;
        }
    }

    .accordion-button {
        display: none;
        gap: 8px;
        align-items: center;
        width: 100%;
        height: 80px;
        padding: 6px;
        color: inherit;
        font-size: 20px;
        text-align: left;
        border: 0;
        box-shadow: none;
        background: none;

        @include md {
            display: flex;
        }

        &::after {
            width: auto;
            height: auto;
            margin-left: auto;
            @include icon;
            font-size: 18px;
            background: none;
            transform: none;
            transition: all 200ms;
            content: "\e900";
        }

        &.active {
            font-weight: 500;

            &::after {
                font-size: 20px;
            }
        }

        &[aria-expanded="true"] {
            font-weight: 500;

            &::after {
                transform: rotate(-90deg);
            }
        }

        em {
            padding: 0 12px;
            font-size: 14px;
            font-weight: 600;
            text-transform: uppercase;
            background: #c7e5db;
        }
    }

    .accordion-collapse {
        display: none;
        padding: 0 6px 28px;

        @include md {
            max-width: none;
        }
        
        @media screen and (min-width: 992px) {
            display: block;
            padding: 0;
        }

        &.show {
            display: block;
        }
    }

    article {
        overflow: hidden;
        max-width: 730px;

        &:not(:last-child) {
            margin-bottom: 25px;
        }

        // CONTENT ELEMENTS:
        // Title
        h2 {
            &:not(:last-child) {
                margin-bottom: 24px;
            }

            @include md {
                display: none;
            }
        }

        // Dotted list
        ul {
            padding-left: 24px;

            &:not(:last-child) {
                margin-bottom: 15px;
            }

            li {
                padding-left: 4px;
                list-style: disc;
            }
        }

        p {
            margin: 0;

            &:not(:last-child) {
                margin-bottom: 15px;
            }

            & + ul {
                margin-top: -10px;
            }
        }

        // Numeric list
        ol {
            margin-top: 15px;
            counter-reset: item;

            &:not(:last-child) {
                margin-bottom: 15px;
            }

            li {
                display: flex;
                gap: 12px;
                align-items: flex-start;
                counter-increment: item;

                &::before {
                    flex: none;
                    width: 24px;
                    height: 24px;
                    line-height: 24px;
                    text-align: center;
                    border: 1px solid;
                    border-radius: 24px;
                    content: counters(item, "");
                }

                &:not(:last-child) {
                    margin-bottom: 12px;
                }
            }
        }

        // Link
        a {
            color: inherit;
            text-decoration: underline;

            &:hover {
                text-decoration: none;
            }
        }

        strong {
            font-weight: 500;
        }

        // Image
        picture {
            float: right;
            width: clamp(250px, 40%, 350px);
            margin-bottom: 25px;
            margin-left: 40px;

            @include sm {
                float: none;
                display: block;
                width: 100%;
                margin-right: auto;
                margin-left: auto;
            }

            &[data-video-id],
            &[data-url] {
                width: clamp(250px, 50%, 335px);
                @include play;
                cursor: pointer;

                img {
                    border-radius: 10px;
                }

                @include sm {
                    width: 100%;
                }
            }

            &[data-label-text] {
                &::before {
                    position: absolute;
                    bottom: 22px;
                    left: 20px;
                    color: #fff;
                    font-weight: 500;
                    content: attr(data-label-text);
                }

                &::after {
                    inset: auto 20px 10px auto;
                    font-size: 35px;
                    transform: none;
                }
            }

            img {
                width: 100%;
                height: auto;
                vertical-align: top;
            }
        }

        &:has(> picture[data-video-id]) {
            @include sm {
                display: flex;
                flex-direction: column;
            }

            picture[data-video-id] {
                @include sm {
                    order: 10;
                    margin-top: 15px;
                    margin-bottom: 0;
                }
            }
        }
    }

    // Details guide link
    .guide-link {
        a {
            color: inherit;
            text-decoration: underline;
    
            &:hover {
                text-decoration: none;
            }
        }
    }

    // Serum Ingredients & Information (list and popup)
    .serum-ingredients-list {
        display: flex;
        flex-direction: column;
        gap: 25px;
        align-items: center;
        max-width: 730px;

        ul {
            display: flex;
            gap: 24px;

            @include sm {
                flex-direction: column;
            }
        }

        li {
            display: grid;
            grid-template: repeat(2, auto) / repeat(2, auto);
            gap: 4px 24px;
            align-items: center;
            padding: 24px;
            border: 1px solid #dfe0e0;
            border-radius: 10px;
        }

        picture {
            grid-row: 1 / -1;
        }

        img {
            width: auto;
            height: 100px;
            vertical-align: top;
        }

        p {
            margin: 0;
        }

        strong {
            font-weight: 500;
        }

        a {
            display: flex;
            gap: 6px;
            align-items: center;
            color: inherit;

            span {
                text-decoration: underline;
            }

            &:hover {
                span {
                    text-decoration: none;
                }
            }

        }

        .e-icon {
            font-size: 14px;
        }
    }

    .serum-ingredients-details {
        .tabs {
            display: flex;
            margin-bottom: 20px;

            button {
                padding: 0 22px 8px;
                border: 0;
                border-bottom: 1px solid #b5b6b7;
                background: none;

                &.active {
                    font-weight: 600;
                    border-bottom: 2px solid #212428;
                }
            }
        }

        .tab-content {
            display: none;
            margin-bottom: 25px;

            &.show {
                display: block;
            }

        }

        .c-note {
            background: #f6f6f7;
        }
    }

    // Content Angles & Ideas Card in slider
    .content-angles-ideas-card {
        height: 100%;
        padding: 68px 24px 24px;
        border-radius: 10px;
        background: #f6f6f7;

        &::before {
            top: 24px;
            left: 24px;
            font-size: 16px;
            @include index-number;
            content: attr(data-index);
        }

        .c-note {
            background: #fff;

            strong {
                display: block;
                margin-bottom: 4px;
                font-weight: 600;
            }
        }
    }

    // Slider
    .c-swiper {
        margin: 0 -22px;
        padding-right: 22px;
        padding-left: 22px;

        &:not(:last-child) {
            margin-bottom: 25px;
        }

        picture {
            &[data-video-id],
            &[data-url] {
                @include play;
                
                &::after {
                    font-size: 46px;
                }
            }
        }

        @at-root #{$root} #creative-direction-collapse .c-swiper {
            max-width: 616px;
        }
    }

    // Step by step list(swiper)
    .c-step-by-step {
        max-width: 730px;
        margin-bottom: 25px;

        @include sm {
            padding-top: 25px;
            border-top: 1px solid #dfe0e0;
        }
    }

    // .c-note
    .c-note--info {
        &:not(:last-child) {
            margin-bottom: 25px;
        }
    }

    // Wistia embed video code
    .wistia-embed-video {
        .wistia_responsive_padding {
            position: relative;
        }

        .wistia_responsive_wrapper {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }

        .wistia_embed {
            position:relative;
            width:100%;
            height:100%;
        }

        .wistia_swatch {
            position: absolute;
            top: 0;
            left: 0;
            overflow: hidden;
            width: 100%;
            height: 100%;
            transition: opacity 200ms;
            opacity: 0;
        }

        img {
            object-fit: contain;
            width: 100%;
            height: 100%;
            // filter: blur(5px);
        }
    }
}