.c-swiper{
  overflow:hidden;
  margin-right:-16px;
  margin-left:-16px;
  padding-right:16px;
  padding-left:16px;
}
.c-swiper .swiper-slide picture[data-url],.c-swiper .swiper-slide picture[data-video-id]{
  cursor:pointer;
}
.c-swiper .swiper-slide img{
  max-width:100%;
  height:auto;
  vertical-align:top;
}
.c-swiper-nav{
  display:flex;
  gap:20px;
  align-items:center;
  justify-content:center;
  margin-top:30px;
}
.c-swiper-nav-disabled .c-swiper-nav{
  display:none;
}
.c-swiper-pagination{
  display:flex;
  gap:10px;
  width:auto;
}
.c-swiper-button-next,.c-swiper-button-prev{
  display:flex;
  flex:0 0 40px;
  align-items:center;
  justify-content:center;
  height:40px;
  color:#212428;
  font-size:12px;
  border:1px solid;
  border-radius:50px;
  background:#fff;
  cursor:pointer;
  transition:.3s;
}
.c-swiper-button-next:after,.c-swiper-button-prev:after{
  font-family:icomoon;
  font-weight:400;
  font-style:normal;
  font-variant:normal;
  line-height:1;
  text-transform:none;
  vertical-align:top;
  -moz-osx-font-smoothing:grayscale;
  -webkit-font-smoothing:antialiased;
  speak:never;
  content:"\e900";
}
.c-swiper-button-next:hover,.c-swiper-button-prev:hover{
  border-color:#c8e6dc;
  background:#c8e6dc;
}
.c-swiper-button-next.swiper-button-disabled,.c-swiper-button-prev.swiper-button-disabled{
  color:#8b8c8e;
  pointer-events:none;
  opacity:.3;
}
.c-swiper-button-prev:after{
  transform:rotate(-180deg);
}

.c-modal{
  position:fixed;
  top:0;
  left:0;
  z-index:1055;
  display:none;
  overflow:hidden auto;
  width:100%;
  height:100%;
  outline:0;
}
.c-modal .modal-header{
  padding:10px;
  border:0;
}
.c-modal .modal-header .btn-close{
  padding:5px;
  color:#fff;
  font-size:14px;
  line-height:1;
}
.c-modal .modal-header .btn-close:hover{
  color:#212428;
}
.c-modal .modal-header .btn-close:after{
  font-family:icomoon;
  font-weight:400;
  font-style:normal;
  font-variant:normal;
  line-height:1;
  text-transform:none;
  -moz-osx-font-smoothing:grayscale;
  -webkit-font-smoothing:antialiased;
  speak:never;
  vertical-align:top;
  content:"\e904";
}
.c-modal--light .modal-dialog{
  display:flex;
  align-items:center;
  height:calc(100% - var(--bs-modal-margin)*2);
}
.c-modal--light .modal-header{
  height:30px;
  padding:0;
}
.c-modal--light .modal-header .btn-close{
  position:absolute;
  top:8px;
  right:8px;
  z-index:1;
  margin:0;
  color:#212428;
  font-size:20px;
  border:0;
  outline:none;
  background:none;
}
.c-modal--light .modal-header .btn-close:hover{
  background:#c8e6dc;
}
.c-modal--light .modal-content{
  border-radius:0;
}
.c-modal--light .modal-body{
  padding:0 16px 32px;
}
.c-modal--wistia .modal-dialog{
  max-width:500px;
  margin-top:0;
  margin-bottom:0;
}
.c-modal--wistia .modal-content{
  border:none;
  background:transparent;
}
.c-modal--wistia .modal-body{
  overflow:hidden;
  padding:0;
  border-radius:10px;
}
.c-modal--wistia .c-modal__video{
  overflow:hidden;
  max-width:400px;
  margin:0 auto;
  border-radius:10px;
}

.c-note{
  display:block;
  max-width:500px;
  padding:10px 12px;
  font-size:16px;
  line-height:1.25;
  border-radius:10px;
  background:#eef7f4;
}
.c-note p{
  margin:0;
}
.c-note p+p{
  margin-top:15px;
}
.c-note strong{
  font-weight:600;
}
.c-note--info{
  position:relative;
  padding-left:36px;
  background:#f4f8fd;
}
.c-note--info:before{
  position:absolute;
  top:12px;
  left:12px;
  width:16px;
  height:16px;
  color:#fff;
  font-size:8px;
  font-family:icomoon;
  font-weight:400;
  font-style:normal;
  font-variant:normal;
  line-height:1;
  text-transform:none;
  vertical-align:top;
  -moz-osx-font-smoothing:grayscale;
  -webkit-font-smoothing:antialiased;
  speak:never;
  line-height:16px;
  text-align:center;
  border-radius:16px;
  background:#91baec;
  content:"\e90c";
}

.c-step-by-step__title{
  margin-bottom:28px;
  font-size:20px;
  font-weight:500;
}
.c-step-by-step__item{
  position:relative;
  display:flex;
  align-items:center;
  overflow:hidden;
  min-height:224px;
  border:1px solid #dfe0e0;
  border-radius:10px;
}
.c-step-by-step__item:before{
  top:12px;
  left:12px;
  font-size:20px;
  position:absolute;
  z-index:1;
  display:flex;
  align-items:center;
  justify-content:center;
  width:1.5em;
  height:1.5em;
  color:#fff;
  font-weight:500;
  border-radius:50%;
  background:#212428;
  content:attr(data-index);
}
.c-step-by-step__item picture{
  position:relative;
  flex:0 0 250px;
  align-self:stretch;
}
.c-step-by-step__item img{
  position:absolute;
  top:0;
  left:0;
  -o-object-fit:cover;
     object-fit:cover;
}
.c-step-by-step__item article{
  padding:28px 32px;
}
.c-step-by-step__item h6{
  font-family:inherit;
  font-weight:500;
}
.c-step-by-step__item a{
  color:#91baec;
  text-decoration:underline;
}
.c-step-by-step__item a:hover{
  text-decoration:none;
}
.c-step-by-step__item .c-note{
  margin-top:15px;
}
.c-step-by-step .swiper-wrapper{
  flex-direction:column;
  gap:16px;
}
.c-step-by-step .swiper-slide img{
  width:100%;
  height:100%;
}

.c-step-by-step .c-swiper-nav,.guide-content{
  display:none;
}

.guide-content{
  width:calc(50% + 160px);
}
.guide-content.active{
  display:block;
}
.guide-content .container{
  margin:0;
  padding-left:0;
}
.guide-content .accordion-button{
  display:none;
  gap:8px;
  align-items:center;
  width:100%;
  height:80px;
  padding:6px;
  color:inherit;
  font-size:20px;
  text-align:left;
  border:0;
  box-shadow:none;
  background:none;
}
.guide-content .accordion-button:after{
  width:auto;
  height:auto;
  margin-left:auto;
  font-family:icomoon;
  font-weight:400;
  font-style:normal;
  font-variant:normal;
  line-height:1;
  text-transform:none;
  vertical-align:top;
  -moz-osx-font-smoothing:grayscale;
  -webkit-font-smoothing:antialiased;
  speak:never;
  font-size:18px;
  background:none;
  transform:none;
  transition:all .2s;
  content:"\e900";
}
.guide-content .accordion-button.active{
  font-weight:500;
}
.guide-content .accordion-button.active:after{
  font-size:20px;
}
.guide-content .accordion-button[aria-expanded=true]{
  font-weight:500;
}
.guide-content .accordion-button[aria-expanded=true]:after{
  transform:rotate(-90deg);
}
.guide-content .accordion-button em{
  padding:0 12px;
  font-size:14px;
  font-weight:600;
  text-transform:uppercase;
  background:#c7e5db;
}
.guide-content .accordion-collapse{
  display:none;
  padding:0 6px 28px;
}
.guide-content .accordion-collapse.show{
  display:block;
}
.guide-content article{
  overflow:hidden;
  max-width:730px;
}
.guide-content article:not(:last-child){
  margin-bottom:25px;
}
.guide-content article h2:not(:last-child){
  margin-bottom:24px;
}
.guide-content article ul{
  padding-left:24px;
}
.guide-content article ul:not(:last-child){
  margin-bottom:15px;
}
.guide-content article ul li{
  padding-left:4px;
  list-style:disc;
}
.guide-content article p{
  margin:0;
}
.guide-content article p:not(:last-child){
  margin-bottom:15px;
}
.guide-content article p+ul{
  margin-top:-10px;
}
.guide-content article ol{
  margin-top:15px;
  counter-reset:item;
}
.guide-content article ol:not(:last-child){
  margin-bottom:15px;
}
.guide-content article ol li{
  display:flex;
  gap:12px;
  align-items:flex-start;
  counter-increment:item;
}
.guide-content article ol li:before{
  flex:none;
  width:24px;
  height:24px;
  line-height:24px;
  text-align:center;
  border:1px solid;
  border-radius:24px;
  content:counters(item, "");
}
.guide-content article ol li:not(:last-child){
  margin-bottom:12px;
}
.guide-content article a{
  color:inherit;
  text-decoration:underline;
}
.guide-content article a:hover{
  text-decoration:none;
}
.guide-content article strong{
  font-weight:500;
}
.guide-content article picture{
  float:right;
  width:clamp(250px, 40%, 350px);
  margin-bottom:25px;
  margin-left:40px;
}
.guide-content article picture[data-url],.guide-content article picture[data-video-id]{
  width:clamp(250px, 50%, 335px);
  position:relative;
  display:block;
}
.guide-content article picture[data-url]:after,.guide-content article picture[data-video-id]:after{
  position:absolute;
  top:50%;
  left:50%;
  padding:.155em;
  color:#fff;
  font-family:icomoon;
  font-weight:400;
  font-style:normal;
  font-variant:normal;
  line-height:1;
  text-transform:none;
  vertical-align:top;
  -moz-osx-font-smoothing:grayscale;
  -webkit-font-smoothing:antialiased;
  speak:never;
  font-size:52px;
  border-radius:50%;
  background:rgba(0,0,0,.35);
  transform:translate(-50%, -50%);
  content:"\e90d";
}
.guide-content article picture[data-url],.guide-content article picture[data-video-id]{
  cursor:pointer;
}
.guide-content article picture[data-url] img,.guide-content article picture[data-video-id] img{
  border-radius:10px;
}
.guide-content article picture[data-label-text]:before{
  position:absolute;
  bottom:22px;
  left:20px;
  color:#fff;
  font-weight:500;
  content:attr(data-label-text);
}
.guide-content article picture[data-label-text]:after{
  inset:auto 20px 10px auto;
  font-size:35px;
  transform:none;
}
.guide-content article picture img{
  width:100%;
  height:auto;
  vertical-align:top;
}
.guide-content .guide-link a{
  color:inherit;
  text-decoration:underline;
}
.guide-content .guide-link a:hover{
  text-decoration:none;
}
.guide-content .serum-ingredients-list{
  display:flex;
  flex-direction:column;
  gap:25px;
  align-items:center;
  max-width:730px;
}
.guide-content .serum-ingredients-list ul{
  display:flex;
  gap:24px;
}
.guide-content .serum-ingredients-list li{
  display:grid;
  grid-template:repeat(2, auto)/repeat(2, auto);
  gap:4px 24px;
  align-items:center;
  padding:24px;
  border:1px solid #dfe0e0;
  border-radius:10px;
}
.guide-content .serum-ingredients-list picture{
  grid-row:1 /  -1;
}
.guide-content .serum-ingredients-list img{
  width:auto;
  height:100px;
  vertical-align:top;
}
.guide-content .serum-ingredients-list p{
  margin:0;
}
.guide-content .serum-ingredients-list strong{
  font-weight:500;
}
.guide-content .serum-ingredients-list a{
  display:flex;
  gap:6px;
  align-items:center;
  color:inherit;
}
.guide-content .serum-ingredients-list a span{
  text-decoration:underline;
}
.guide-content .serum-ingredients-list a:hover span{
  text-decoration:none;
}
.guide-content .serum-ingredients-list .e-icon{
  font-size:14px;
}
.guide-content .serum-ingredients-details .tabs{
  display:flex;
  margin-bottom:20px;
}
.guide-content .serum-ingredients-details .tabs button{
  padding:0 22px 8px;
  border:0;
  border-bottom:1px solid #b5b6b7;
  background:none;
}
.guide-content .serum-ingredients-details .tabs button.active{
  font-weight:600;
  border-bottom:2px solid #212428;
}
.guide-content .serum-ingredients-details .tab-content{
  display:none;
  margin-bottom:25px;
}
.guide-content .serum-ingredients-details .tab-content.show{
  display:block;
}
.guide-content .serum-ingredients-details .c-note{
  background:#f6f6f7;
}
.guide-content .content-angles-ideas-card{
  height:100%;
  padding:68px 24px 24px;
  border-radius:10px;
  background:#f6f6f7;
}
.guide-content .content-angles-ideas-card:before{
  top:24px;
  left:24px;
  font-size:16px;
  position:absolute;
  z-index:1;
  display:flex;
  align-items:center;
  justify-content:center;
  width:1.5em;
  height:1.5em;
  color:#fff;
  font-weight:500;
  border-radius:50%;
  background:#212428;
  content:attr(data-index);
}
.guide-content .content-angles-ideas-card .c-note{
  background:#fff;
}
.guide-content .content-angles-ideas-card .c-note strong{
  display:block;
  margin-bottom:4px;
  font-weight:600;
}
.guide-content .c-swiper{
  margin:0 -22px;
  padding-right:22px;
  padding-left:22px;
}
.guide-content .c-swiper:not(:last-child){
  margin-bottom:25px;
}
.guide-content .c-swiper picture[data-url],.guide-content .c-swiper picture[data-video-id]{
  position:relative;
  display:block;
}
.guide-content .c-swiper picture[data-url]:after,.guide-content .c-swiper picture[data-video-id]:after{
  position:absolute;
  top:50%;
  left:50%;
  padding:.155em;
  color:#fff;
  font-family:icomoon;
  font-weight:400;
  font-style:normal;
  font-variant:normal;
  line-height:1;
  text-transform:none;
  vertical-align:top;
  -moz-osx-font-smoothing:grayscale;
  -webkit-font-smoothing:antialiased;
  speak:never;
  font-size:52px;
  border-radius:50%;
  background:rgba(0,0,0,.35);
  transform:translate(-50%, -50%);
  content:"\e90d";
  font-size:46px;
}
.guide-content #creative-direction-collapse .c-swiper{
  max-width:616px;
}

.guide-content .c-step-by-step{
  max-width:730px;
  margin-bottom:25px;
}
.guide-content .c-note--info:not(:last-child){
  margin-bottom:25px;
}
.guide-content .wistia-embed-video .wistia_responsive_padding{
  position:relative;
}
.guide-content .wistia-embed-video .wistia_responsive_wrapper{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
}
.guide-content .wistia-embed-video .wistia_embed{
  position:relative;
  width:100%;
  height:100%;
}
.guide-content .wistia-embed-video .wistia_swatch{
  position:absolute;
  top:0;
  left:0;
  overflow:hidden;
  width:100%;
  height:100%;
  transition:opacity .2s;
  opacity:0;
}
.guide-content .wistia-embed-video img{
  -o-object-fit:contain;
     object-fit:contain;
  width:100%;
  height:100%;
}
@media screen and (min-width:992px){
  .guide-content .accordion-collapse{
    display:block;
    padding:0;
  }
}
@media screen and (max-width:1187px){
  .guide-content{
    width:calc(100% - 426px);
  }
}
@media screen and (max-width:991px){
  .guide-content{
    display:block;
    width:100%;
    margin-top:-40px;
  }
  .guide-content .container{
    padding-left:16px;
  }
  .guide-content .accordion{
    border-bottom:1px solid #dfe0e0;
  }
  .guide-content .accordion-button{
    display:flex;
  }
  .guide-content .accordion-collapse{
    max-width:none;
  }
  .guide-content article h2{
    display:none;
  }
}
@media screen and (max-width:767px){
  .c-step-by-step__item{
    flex-direction:column;
  }
  .c-step-by-step__item picture{
    flex-basis:180px;
  }
  .c-step-by-step__item article{
    display:flex;
    flex-grow:1;
    flex-direction:column;
    padding:20px 24px;
  }
  .c-step-by-step__item .c-note{
    margin-top:auto;
  }
  .c-step-by-step .swiper-wrapper{
    flex-direction:row;
    gap:0;
  }
  .c-step-by-step .c-swiper-nav{
    display:flex;
  }
  .guide-content article picture{
    float:none;
    display:block;
    width:100%;
    margin-right:auto;
    margin-left:auto;
  }
  .guide-content article picture[data-url],.guide-content article picture[data-video-id]{
    width:100%;
  }
  .guide-content article:has(>picture[data-video-id]){
    display:flex;
    flex-direction:column;
  }
  .guide-content article:has(>picture[data-video-id]) picture[data-video-id]{
    order:10;
    margin-top:15px;
    margin-bottom:0;
  }
  .guide-content .serum-ingredients-list ul{
    flex-direction:column;
  }
  .guide-content .c-step-by-step{
    padding-top:25px;
    border-top:1px solid #dfe0e0;
  }
}
