<!-- BEST SELLERS -->
{{#unless page-css }}
    <link rel="stylesheet" href="sections/new/best-sellers/best-sellers.css" />
{{/unless}}
<section class="best-sellers {{ classes }}">
    <div class="container">
        <div class="best-sellers__list">
            {{> @partial-block }}
        </div>
    </div>
</section>
<!-- BEST SELLERS END -->
