<!-- OUR COMMUNITY -->
{{#unless page-css }}
<link rel="stylesheet" href="sections/new/our-community/our-community.css" />
{{/unless}}
<section class="our-community {{ classes }}">
    <div class="container">
        <article>
            <h2>Learn more and share your skincare&nbsp;journey</h2>
            <p>Achieve your best skin yet with our simple 3-step skincare routine.</p>
            <a class="btn btn--primary" href="#">Join Our Community</a>
            <ul>
                <li>
                    <a href="#">
                        <img src="sections/isolated/block-card/images/block-card-1.webp" alt="Does Drinking Water Help Clear Your Skin?" />
                        <span>#skin</span>
                        <h6>Does Drinking Water Help Clear Your Skin?</h6>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="sections/isolated/block-card/images/block-card-2.webp" alt="Benefits of Peptides for the Skin" />
                        <span>#skincare</span>
                        <h6>Benefits of Peptides for the Skin</h6>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="sections/isolated/block-card/images/block-card-3.webp" alt="Does Drinking Water Help Clear Your Skin?" />
                        <span>#light-therapy</span>
                        <h6>How LED Therapy Can Transform Your Skin</h6>
                    </a>
                </li>
            </ul>
        </article>
    </div>
</section>
<!-- OUR COMMUNITY END -->
