<!-- APPLY TO JOIN -->
{{#unless page-css }}
    <link rel="stylesheet" href="sections/new/apply-to-join/apply-to-join.css" />
{{/unless}}
<section class="apply-to-join {{ classes }}">
    <div class="container">
        <h2>{{ title }}</h2>
        <form class="apply-to-join__form" action="#">
            <p class="apply-to-join__form-success">Thanks for contacting us. We'll get back to you as soon as possible.</p>
            <div class="apply-to-join__form-field">
                <input type="text" class="form-control" placeholder="First Name" />
            </div>
            <div class="apply-to-join__form-field">
                <input type="text" class="form-control" placeholder="Last Name" />
            </div>
            <div class="apply-to-join__form-field">
                <input type="email" class="form-control" placeholder="Email address" />
            </div>
            <div class="apply-to-join__form-field">
                <input type="text" class="form-control" placeholder="Main IG/TT/YT (provide the link)*" />
            </div>
            <div class="apply-to-join__form-field">
                <input type="text" class="form-control" placeholder="Secondary IG/TT/YT (provide the link)" />
            </div>
            <div class="apply-to-join__form-field">
                <textarea class="form-control" rows="3" placeholder="Have you tried our products? If so, which one is your favorite and why?*"></textarea>
            </div>
            <div class="apply-to-join__form-field">
                <textarea class="form-control" rows="3" placeholder="How did you find out about Qure Affiliate Program?"></textarea>
            </div>
            <div class="apply-to-join__form-terms">By creating account you agree to our <a href="#">Terms &amp; Conditions</a>.</div>
            <div class="apply-to-join__form-submit">
                <button class="btn btn--primary" type="submit">Create Account</button>
                <a href="#">I already have an account</a>
            </div>
        </form>
    </div>
</section>
<!-- APPLY TO JOIN END -->
