<!-- WHY IT WORK -->
{{#unless page-css }}
<link rel="stylesheet" href="sections/new/why-it-work/why-it-work.css" />
{{/unless}}
<section class="why-it-work {{ classes }}" {{#if id }}id="{{ id }}"{{/if}}>
    <div class="container">
        {{> @partial-block }}
    </div>
</section>
<!-- WHY IT WORK END -->
