{{!-- TODO: Create new section and remove this --}}

<!-- Sticky CTA start -->
<link rel="stylesheet" href="sections/isolated/sticky-cta/sticky-cta.css" />
<div class="qure__sticky-atc mi-patches-sticky-cta">
    <div class="container">
        <div class="d-flex flex-wrap justify-content-between align-items-center py-16">
            <div class="patch__product-variants d-flex align-items-center gap-5">
                <div class="select_qty fw-600 fs-20">Select Color</div>
                <div class="d-none d-md-grid grid_dynamic_cols" style="--grid_dynamic_cols:3;--col-gap:12px">
                    <div class="patch__value-pack">
                        <input type="radio" class="vp__input" name="vaule-pack" id="3-months-cta" checked="">
                        <label for="3-months-cta" class="vp-pack-cta px-12 py-8 d-flex align-items-center gap-2">
                            <div class="vp-img"><img src="sections/isolated/sticky-cta/images/white_swatch.webp">
                            </div>
                            <div class="vp-content">
                                <p class="mb-0">White</p>
                            </div>
                        </label>
                    </div>

                    <div class="patch__value-pack">
                        <input type="radio" class="vp__input" name="vaule-pack" id="one-month-cta">
                        <label for="one-month-cta" class="vp-pack-cta px-12 py-8 d-flex align-items-center gap-2">
                            <div class="vp-img"><img src="sections/isolated/sticky-cta/images/black_swatch.webp">
                            </div>
                            <div class="vp-content">
                                <p class="mb-0">Black</p>
                            </div>
                        </label>
                    </div>

                    {{#unless hide-silver }}
                        <div class="patch__value-pack">
                            <input type="radio" class="vp__input" name="vaule-pack" id="two-month-cta">
                            <label for="two-month-cta" class="vp-pack-cta px-12 py-8 d-flex align-items-center gap-2">
                                <div class="vp-img"><img src="sections/isolated/sticky-cta/images/silver_swatch.webp">
                                </div>
                                <div class="vp-content">
                                    <p class="mb-0">Silver</p>
                                </div>
                            </label>
                        </div>
                    {{/unless}}
                </div>

                <!-- Dropdown Wrapper -->
                <div class="dropdown-wrapper d-md-none">
                    <!-- Dropdown (opens upward) -->
                    <div class="dropdown-inner-container" id="dropdownContainer">
                        <div class="dropdown-option" onclick="selectOption('White', 'white_swatch.webp')">
                            <img src="sections/isolated/sticky-cta/images/white_swatch.webp" alt="">
                            <span>White</span>
                        </div>
                        <div class="dropdown-option" onclick="selectOption('Black', 'black_swatch.webp')">
                            <img src="sections/isolated/sticky-cta/images/black_swatch.webp" alt="">
                            <span>Black</span>
                        </div>
                        <div class="dropdown-option" onclick="selectOption('Silver', 'silver_swatch.webp')">
                            <img src="sections/isolated/sticky-cta/images/silver_swatch.webp" alt="">
                            <span>Silver</span>
                        </div>
                    </div>
                    <!-- Button to show current selection -->
                    <button type="button" class="dropdown-button" id="dropdownBtn" onclick="toggleDropdown()">
                        <img src="sections/isolated/sticky-cta/images/black_swatch.webp" /> Black
                        <i class="fa-solid fa-angle-down"></i>
                    </button>
                </div>
                <input type="hidden" name="properties[Duration]" id="selectedDuration" value="Black">

            </div>

            <a href="#buy_box" class="btn btn--primary fs-11 fs-md-20 px-10 mw" style="--mw-mob:170px">Subscribe &
                Save 30%</a>
        </div>
    </div>
    <div
        class="align-items-center bg-light d-flex fs-16 gap-4 justify-content-center py-6 qure__user-online text-center">
        <div class="pulse"></div>580 Units Reserved in last 48 hours
    </div>
</div>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        loadScriptOnce('sticky-cta', 'assets/js/sticky-cta.js');
    });
</script>
<!-- Sticky CTA end -->
