@use "@root/mixins" as *;

.shop-black-friday {
    padding-top: 60px;
    padding-bottom: 60px;
    text-align: center;

    @include md {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    h2 {
        margin-bottom: 32px;

        @include md {
            margin-bottom: 20px;
        }
    }

    ul {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        gap: 24px;
        justify-items: center;

        @include md {
            grid-template-columns: repeat(3, 1fr);
            gap: 16px;
        }
    }

    a {
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 12px;
        color: inherit;
        line-height: 1.2;
        text-decoration: underline;

        @include sm {
            font-size: 14px;
        }

        &:hover {
            text-decoration: none;
        }

        &[data-badge] {
            &::before {
                position: absolute;
                top: 12px;
                left: 12px;
                padding: 4px 12px;
                color: #fff;
                font-size: 14px;
                font-weight: 600;
                line-height: 17px;
                text-transform: uppercase;
                border-radius: 20px;
                background: #ff5429;
                content: attr(data-badge);

                @include sm {
                    top: 8px;
                    left: 8px;
                    padding: 0 8px;
                    line-height: 18px;
                }
            }
        }

    }

    img {
        display: block;
        width: 100%;
        height: auto;
        border-radius: 10px;
    }
}