@use "@root/mixins" as *;
@use "@elements/e-icon" as *;
@use "@elements/e-pill-badge" as *;
@use "@components/c-bundle-card" as *;

.offer-bundle {
    padding-bottom: 60px;

    @include sm {
        padding-bottom: 40px;
    }

    // .offer-bundle__content
    &__content {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 28px;

        @include sm {
            grid-template-columns: repeat(2, 1fr);
            gap: 16px;
        }
    }

    // .offer-bundle__category
    &__category {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        overflow: hidden;
        padding: 16px;
        border-radius: 10px;

        img {
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            object-fit: cover;
            width: 100%;
            height: 100%;
        }

        h3 {
            color: #fff;
            font-family: inherit;
            font-weight: 500;
            line-height: 1.2;
            text-align: center;

            @include sm {
                font-size: 22px;
            }
        }
    }

    // .offer-bundle__item-modal
    &__item-modal {
        .modal-dialog {
            position: relative;
            max-width: 328px;
            margin-right: auto;
            margin-left: auto;
        }

        .modal-content {
            padding: 16px;
        }

        .btn-close {
            position: absolute;
            top: 0;
            right: 0;
            z-index: 10;
            padding: 12px;
            border-radius: 100px;
            background: #fff;

            img {
                width: 24px;
                height: auto;
                vertical-align: top;
            }
        }

        .bef_price {
            color: #8b8c8e;
        }

        .reg-price {
            display: block;
            color: #8b8c8e;
        }

        .nav-link {
            color: inherit;

            &:hover {
                border-color: transparent;
            }

            &.active {
                font-weight: 600;
                border-color: transparent;
                border-bottom-color: #212428;
                border-bottom-width: 2px;
            }
        }

        .included_product {
            grid-template-columns: 50px 1fr;
            font-size: 16px;

            p {
                flex-grow: 1;
            }
        }

        .how-to-use-text {
            padding-bottom: 10px;
            font-size: 16px;

            p, ul {
                &:not(:last-child) {
                    margin-bottom: 15px;
                }
            }

            ul {
                padding-left: 24px;

                li {
                    padding-left: 4px;
                    list-style: disc;
                }
            }
        }

        .e-pill-badge {
            margin-bottom: 15px;
            color: inherit;
        }
    }
}