<!-- TRUSTED REVIEWS -->
<link rel="stylesheet" href="sections/new/trusted-reviews/trusted-reviews.css" />
<section class="trusted-reviews {{ classes }}">
    <div class="container">
        <h2>The results are crystal clear</h2>
        <div
            class="c-swiper"
            data-swiper='{
                "slidesPerView": 1.1,
                "spaceBetween": 16,
                "loop": false,
                "pagination": {
                    "el": ".c-swiper-pagination",
                    "type": "custom"
                },
                "navigation": {
                    "prevEl": ".c-swiper-button-prev",
                    "nextEl": ".c-swiper-button-next"
                },
                "breakpoints": {
                    "768": {
                        "slidesPerView": 2,
                        "spaceBetween": 24
                    },
                    "992": {
                        "slidesPerView": 3
                    }
                }
            }'
        >
            <div class="swiper-wrapper">
                {{> @partial-block }}
            </div>
            <div class="c-swiper-nav">
                <button class="c-swiper-button-prev"></button>
                <div class="c-swiper-pagination"></div>
                <button class="c-swiper-button-next"></button>
            </div>
        </div>
    </div>
</section>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        loadScriptOnce('swiper', 'assets/js-new/swiper.js');
    });
</script>
<!-- TRUSTED REVIEWS END -->
