@use "@root/mixins" as *;
@use "@elements/e-icon" as *;

.comparison {
    $root: &;


    .container {
        display: flex;
        flex-direction: column;
        gap: 40px;
        align-items: center;
        text-align: center;
    }

    article {
        max-width: 900px;
    }

    h2 {
        margin-bottom: 32px;
    }

    // .comparison__table
    &__table {
        position: relative;
        display: flex;
        gap: 38px;
        justify-content: center;

        @include sm {
            gap: 30px;
        }
    }

    // .comparison__product
    &__product {
        display: flex;
        flex-direction: column;
        gap: 24px;
        width: min(400px, 100%);

        img {
            @include img-fluid;
        }

        h4 {
            margin-bottom: 0;
        }

        ul {
            display: flex;
            flex-direction: column;
            gap: 24px;
            padding: 0 10px;
            text-align: left;

            @include sm {
                gap: 18px;
                padding: 0;
            }
        }

        li {
            display: flex;
            gap: 12px;
            align-items: flex-start;
            min-height: 44px;
            padding-bottom: 20px;
            line-height: 1.15;

            &:not(:last-child) {
                border-bottom: 1px solid #dfe0e0;
            }

            @include sm {
                min-height: 70px;
                padding-bottom: 12px;
                font-size: 16px;
            }
        }

        .e-icon {
            display: flex;
            flex: none;
            align-items: center;
            justify-content: center;
            width: 20px;
            height: 20px;
            text-align: center;
            border-radius: 20px;

            @include sm {
                width: 16px;
                height: 16px;
            }
        }

        .e-icon-checkmark {
            color: #91baec;
            font-size: 8px;
            border: 1px solid;
        }

        .e-icon-cross {
            color: #fff;
            font-size: 6px;
            background: #8b8c8e;
            -webkit-text-stroke: 0.5px
        }
    }

    // .comparison__versus
    &__versus {
        display: flex;
        flex: none;
        align-items: center;
        align-self: center;
        justify-content: center;
        width: 80px;
        height: 80px;
        color: #fff;
        font-size: 30px;
        font-weight: 600;
        text-align: center;
        text-transform: uppercase;
        border-radius: 80px;
        background: #212428;

        @include sm {
            position: absolute;
            top: 10vw;
            left: 50%;
            width: 50px;
            height: 50px;
            font-size: 18px;
            transform: translate(-50%);
        }
    }
}
