.e-icon{
  display:inline-block;
  line-height:1;
}
.e-icon:before{
  font-family:icomoon;
  font-weight:400;
  font-style:normal;
  font-variant:normal;
  line-height:1;
  text-transform:none;
  vertical-align:top;
  -moz-osx-font-smoothing:grayscale;
  -webkit-font-smoothing:antialiased;
  speak:never;
}

.e-icon-chevron:before{
  content:"\e900";
}

.e-icon-checkmark:before{
  content:"\e901";
}

.e-icon-plus:before{
  content:"\e903";
}

.e-icon-minus:before{
  content:"\e902";
}

.e-icon-cross:before{
  content:"\e904";
}

.e-icon-arrow:before{
  content:"\e905";
}

.e-icon-qure:before{
  content:"\e906";
}

.e-icon-q:before{
  content:"\e907";
}

.e-icon-youtube:before{
  content:"\e90b";
}

.e-icon-instagram:before{
  content:"\e90a";
}

.e-icon-facebook:before{
  content:"\e909";
}

.e-icon-tiktok:before{
  content:"\e908";
}

.e-icon-i:before{
  content:"\e90c";
}

.e-icon-play:before{
  content:"\e90d";
}

.e-icon-stars:before{
  content:"\e920";
}

.e-icon-rating-fill:before{
  content:"\e921";
}

.e-icon-trustpilot:before{
  content:"\e922";
}

.e-icon-pm:before{
  content:"\e923";
}

.e-icon-am:before{
  content:"\e924";
}

.e-icon-watch:before{
  content:"\e925";
}

.e-icon-cart:before{
  content:"\e926";
}

.e-icon-user:before{
  content:"\e927";
}

.e-icon-gift:before{
  content:"\e928";
}

.e-icon-shipping:before{
  content:"\e92b";
}

.e-icon-faq:before{
  content:"\e92a";
}

.e-icon-letter:before{
  content:"\e929";
}

.e-icon-pillow:before{
  content:"\e92c";
}

.e-icon-patches:before{
  content:"\e92d";
}

.e-icon-mist:before{
  content:"\e92e";
}

.e-icon-lock:before{
  content:"\e92f";
}

.e-icon-guarantee:before{
  content:"\e930";
}

.e-icon-top:before{
  content:"\e931";
}

.e-icon-proven:before{
  content:"\e932";
}

.e-icon-pay-later:before{
  content:"\e933";
}

.e-icon-reviewed:before{
  content:"\e934";
}

.e-icon-shipping-order:before{
  content:"\e90e";
}

.e-icon-shipping-order-hvr:before{
  content:"\e90f";
}

.e-icon-rejuvalight-pro-facewear:before{
  content:"\e911";
}

.e-icon-rejuvalight-pro-facewear-hvr:before{
  content:"\e910";
}

.e-icon-micro-infusion-system:before{
  content:"\e913";
}

.e-icon-micro-infusion-system-hvr:before{
  content:"\e912";
}

.e-icon-renew-lllt-helmet:before{
  content:"\e915";
}

.e-icon-renew-lllt-helmet-hvr:before{
  content:"\e914";
}

.e-icon-returns-exchanges:before{
  content:"\e917";
}

.e-icon-returns-exchanges-hvr:before{
  content:"\e916";
}

.e-icon-billing-payment:before{
  content:"\e919";
}

.e-icon-billing-payment-hvr:before{
  content:"\e918";
}

.e-icon-warranty:before{
  content:"\e91b";
}

.e-icon-warranty-hvr:before{
  content:"\e91a";
}

.e-icon-qure-app:before{
  content:"\e91d";
}

.e-icon-qure-app-hvr:before{
  content:"\e91c";
}

.e-icon-troubleshooting:before{
  content:"\e91f";
}

.e-icon-troubleshooting-hvr:before{
  content:"\e91e";
}

.comparison .container{
  display:flex;
  flex-direction:column;
  gap:40px;
  align-items:center;
  text-align:center;
}
.comparison article{
  max-width:900px;
}
.comparison h2{
  margin-bottom:32px;
}
.comparison__table{
  position:relative;
  display:flex;
  gap:38px;
  justify-content:center;
}
.comparison__product{
  display:flex;
  flex-direction:column;
  gap:24px;
  width:min(400px, 100%);
}
.comparison__product img{
  display:block;
  max-width:100%;
  height:auto;
}
.comparison__product h4{
  margin-bottom:0;
}
.comparison__product ul{
  display:flex;
  flex-direction:column;
  gap:24px;
  padding:0 10px;
  text-align:left;
}
.comparison__product li{
  display:flex;
  gap:12px;
  align-items:flex-start;
  min-height:44px;
  padding-bottom:20px;
  line-height:1.15;
}
.comparison__product li:not(:last-child){
  border-bottom:1px solid #dfe0e0;
}
.comparison__product .e-icon{
  display:flex;
  flex:none;
  align-items:center;
  justify-content:center;
  width:20px;
  height:20px;
  text-align:center;
  border-radius:20px;
}
.comparison__product .e-icon-checkmark{
  color:#91baec;
  font-size:8px;
  border:1px solid;
}
.comparison__product .e-icon-cross{
  color:#fff;
  font-size:6px;
  background:#8b8c8e;
  -webkit-text-stroke:.5px;
}
.comparison__versus{
  display:flex;
  flex:none;
  align-items:center;
  align-self:center;
  justify-content:center;
  width:80px;
  height:80px;
  color:#fff;
  font-size:30px;
  font-weight:600;
  text-align:center;
  text-transform:uppercase;
  border-radius:80px;
  background:#212428;
}
@media screen and (max-width:767px){
  .comparison__table{
    gap:30px;
  }
  .comparison__product ul{
    gap:18px;
    padding:0;
  }
  .comparison__product li{
    min-height:70px;
    padding-bottom:12px;
    font-size:16px;
  }
  .comparison__product .e-icon{
    width:16px;
    height:16px;
  }
  .comparison__versus{
    position:absolute;
    top:10vw;
    left:50%;
    width:50px;
    height:50px;
    font-size:18px;
    transform:translate(-50%);
  }
}
