@use "@root/mixins" as *;

.shopify-section--guide-menu {
    max-width: 350px;
    margin-left: max(0px, calc((100% - 1172px) / 2));
}

.guide-menu {
    font-size: 20px;

    @include md {
        height: 0;
        margin-top: -40px;
    }

    .container {
        padding-right: 0;
    }

    &__select {
        position: fixed;
        top: calc(var(--height-bar) + var(--height-header));
        left: 0;
        z-index: 10;
        display: none;
        width: 100%;
        background: #fff;

        @include md {
            display: block;
        }

        @at-root .has-guide-select {
            @include md {
                padding-top: calc(var(--height-bar) + var(--height-header) + 60px);
            }
        }

        select {
            width: 100%;
            height: 60px;
            padding: 16px;
            color: inherit;
            font-size: 18px;
            border: 0;
            border-bottom: 1px solid #dfe0e0;
            border-radius: 0;
            background: #fff url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxOCIgaGVpZ2h0PSI5IiB2aWV3Qm94PSIwIDAgMTggOSI+PHBhdGggZD0iTTEuNS43NUw5IDguMjUgMTYuNS43NSIgZmlsbD0ibm9uZSIgc3Ryb2tlPSIjMjEyNDI4IiBzdHJva2Utd2lkdGg9IjEuNSIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIi8+PC9zdmc+") no-repeat right 16px center / 18px 9px;
            appearance: none;
        }
    }

    &__list {
        @include md {
            display: none;
        }
        
        p {
            font-weight: 500;
        }
    
        li {
            &:not(:first-child) {
                border-top: 1px solid #dfe0e0;
            }
        }
    
        button {
            display: flex;
            gap: 8px;
            align-items: center;
            width: 100%;
            height: 80px;
            padding: 6px;
            text-align: left;
            border: 0;
            background: none;
    
            &::after {
                margin-left: auto;
                @include icon;
                font-size: 18px;
                transform: rotate(90deg);
                transition: all 200ms;
                content: "\e900";
            }
    
            &.active {
                font-weight: 500;
    
                &::after {
                    transform: rotate(0);
                    -webkit-text-stroke: 1px;
                }
            }
    
            em {
                padding: 0 12px;
                font-size: 14px;
                font-weight: 600;
                text-transform: uppercase;
                background: #c7e5db;
            }
        }
    }
}