<!-- BLOG -->
{{#unless page-css }}
    <link rel="stylesheet" href="sections/new/blog-section/blog-section.css" />
{{/unless}}
<section class="blog-section {{ classes }}">
    <div class="container">
        {{> @partial-block }}
    </div>
</section>
<!-- BLOG END -->
