.section-half-slider{
  width:100%;
}
.section-half-slider__content{
  display:grid;
  grid-template:auto 1fr/var(--content-width, 50%) 1fr;
  gap:28px clamp(20px, 7%, 80px);
}
.section-half-slider__header{
  display:flex;
  flex-direction:column;
  gap:8px;
}
.section-half-slider__carousel{
  grid-row:1 /  3;
  grid-column:2;
  min-width:0;
}
.section-half-slider__carousel .swiper-arrows-with-pagination{
  display:flex;
  gap:24px;
  align-items:center;
  justify-content:center;
  margin-top:30px;
}
.section-half-slider__carousel .swiper-arrows-with-pagination .swiper-pagination{
  position:static;
  width:auto;
}

.see-the-change{
  margin-left:auto;
  padding:60px 0 60px 15px;
}
.see-the-change .section-half-slider__content{
  --content-width:23%;
  --content-width-mob:35%;
  align-items:start;
}
.see-the-change .section-half-slider__other .btn{
  width:100%;
}
.see-the-change .section-half-slider__carousel .swiper-slide{
  padding-right:15px;
  padding-left:15px;
}
.see-the-change .section-half-slider__carousel .swiper-arrows-with-pagination{
  max-width:780px;
}
.see-the-change__item{
  display:flex;
  flex-direction:column;
  gap:24px;
  align-items:center;
  padding:24px;
  border-radius:10px;
  background:#f6f6f7;
}
.see-the-change__item img{
  width:100%;
  max-width:100%;
  height:auto;
  border-radius:5px;
}
.see-the-change__item p{
  display:flex;
  flex-wrap:wrap;
  gap:8px;
  align-items:center;
  font-size:16px;
}
.see-the-change__item p span{
  padding:4px 18px;
  border:1px solid #8b8c8e;
  border-radius:50px;
  background:#fff;
}

.backed-by-real-results{
  max-width:1200px;
  margin-right:auto;
  margin-left:auto;
  padding:30px 15px 60px;
}
.backed-by-real-results .section-half-slider__content{
  --content-width:48%;
  --content-width-mob:37%;
  grid-template-rows:auto auto;
  align-items:center;
}
.backed-by-real-results .section-half-slider__content .stats-list{
  display:flex;
  flex-direction:column;
  gap:18px;
}
.backed-by-real-results .section-half-slider__content .stats-list li{
  display:flex;
  gap:12px;
  align-items:center;
}
.backed-by-real-results .section-half-slider__content .stats-list+p{
  margin-top:18px;
  color:#8b8c8e;
  font-size:16px;
}
.backed-by-real-results .section-half-slider__content .circle-percent{
  position:relative;
  width:68px;
  height:68px;
  padding:6px;
  border-radius:100px;
  background:#c7e5db;
}
.backed-by-real-results .section-half-slider__content .circle-percent-90{
  background:conic-gradient(#c7e5db 0deg 324deg, transparent 324deg 1turn);
}
.backed-by-real-results .section-half-slider__content .circle-percent:before{
  position:absolute;
  inset:3px;
  z-index:-1;
  border:1px solid #8b8c8e;
  border-radius:100px;
  content:"";
}
.backed-by-real-results .section-half-slider__content .circle-percent span{
  display:flex;
  align-items:center;
  justify-content:center;
  width:56px;
  height:56px;
  font-size:20px;
  font-weight:600;
  border-radius:100px;
  background:#fff;
}
.backed-by-real-results .section-half-slider__header{
  align-self:end;
}
.backed-by-real-results .section-half-slider__carousel .swiper-arrows-with-pagination{
  margin-top:16px;
}
.backed-by-real-results .section-half-slider__other{
  align-self:start;
}
.backed-by-real-results__item{
  display:flex;
  flex-direction:column;
  gap:18px;
  align-items:center;
  padding:24px;
  border:1px solid #dfe0e0;
  border-radius:10px;
}
.backed-by-real-results__item img{
  width:100%;
  max-width:100%;
  height:auto;
  border-radius:5px;
}
.backed-by-real-results__item p{
  display:flex;
  flex-wrap:wrap;
  gap:8px;
  align-items:center;
  font-size:16px;
}
.backed-by-real-results__item p span{
  padding:4px 18px;
  border-radius:50px;
  background:#f6f6f7;
}
@media screen and (min-width:1200px){
  .see-the-change{
    max-width:calc(100% - 50vw + 582.5px);
  }
}
@media screen and (min-width:1400px){
  .see-the-change{
    max-width:calc(100% - 50vw + 607.5px);
  }
}
@media screen and (max-width:991px){
  .section-half-slider__content{
    grid-template-columns:var(--content-width, 50%) 1fr;
  }
  .see-the-change{
    padding:32px 15px;
  }
  .backed-by-real-results{
    padding:15px 15px 30px;
  }
}
@media screen and (max-width:767px){
  .section-half-slider__content{
    grid-template:auto/auto;
    gap:18px;
  }
  .section-half-slider__carousel{
    grid-row:auto;
    grid-column:auto;
  }
  .section-half-slider__carousel .swiper-arrows-with-pagination{
    margin-top:20px;
    margin-bottom:10px;
  }
  .see-the-change .section-half-slider__carousel{
    margin-right:-15px;
    margin-left:-15px;
  }
  .see-the-change__item{
    gap:16px;
    padding:16px;
  }
  .see-the-change__item p span{
    padding-top:0;
    padding-bottom:0;
  }
  .backed-by-real-results .section-half-slider__content .stats-list+p{
    margin-top:12px;
    text-align:center;
  }
  .backed-by-real-results__item{
    gap:16px;
    padding:16px;
  }
  .backed-by-real-results__item p{
    flex-direction:column;
    gap:0;
  }
}
