.section-half-slider {
    width: 100%;

    &__content {
        display: grid;
        grid-template: auto 1fr / var(--content-width, 50%) 1fr;
        gap: 28px clamp(20px, 7%, 80px);

        @include md {
            grid-template-columns: var(--content-width, 50%) 1fr;
        }

        @include sm {
            grid-template: auto / auto;
            gap: 18px;
        }
    }

    &__header {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    &__carousel {
        grid-row: 1 / 3;
        grid-column: 2;
        min-width: 0;

        @include sm {
            grid-row: auto;
            grid-column: auto;
        }

        .swiper-arrows-with-pagination {
            @include swiper-arrows;
        }
    } 
}

// MODIFICATORS
.see-the-change {
    margin-left: auto;
    padding: 60px 0 60px 15px;

    @media screen and (min-width: 1200px) {
        @include max-width(1150px);
    }
    
    @media screen and (min-width: 1400px) {
        @include max-width(1200px);
    }

    @include md {
        padding: 32px 15px;
    }

    .section-half-slider__content {
        --content-width: 23%;
        --content-width-mob: 35%;

        align-items: start;
    }

    .section-half-slider__other {
        .btn {
            width: 100%;
        }
    }

    .section-half-slider__carousel {
        @include sm {
            margin-right: -15px;
            margin-left: -15px;
        }

        .swiper-slide {
            padding-right: 15px;
            padding-left: 15px;
        }

        .swiper-arrows-with-pagination {
            max-width: 780px;
        }
    }

    // .see-the-change__item
    &__item {
        display: flex;
        flex-direction: column;
        gap: 24px;
        align-items: center;
        padding: 24px;
        border-radius: 10px;
        background: #f6f6f7;

        @include sm {
            gap: 16px;
            padding: 16px;
        }

        img {
            width: 100%;
            max-width: 100%;
            height: auto;
            border-radius: 5px;
        }

        p {
            display: flex;
            flex-wrap: wrap;
            gap: 8px;
            align-items: center;
            font-size: 16px;

            span {
                padding: 4px 18px;
                border: 1px solid #8b8c8e;
                border-radius: 50px;
                background: #fff;

                @include sm {
                    padding-top: 0;
                    padding-bottom: 0;
                }
            }
        }
    }
}

.backed-by-real-results {
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
    padding: 30px 15px 60px;

    @include md {
        padding: 15px 15px 30px;
    }

    .section-half-slider__content {
        --content-width: 48%;
        --content-width-mob: 37%;

        grid-template-rows: auto auto;
        align-items: center;

        .stats-list {
            display: flex;
            flex-direction: column;
            gap: 18px;

            li {
                display: flex;
                gap: 12px;
                align-items: center;
            }

            & + p {
                margin-top: 18px;
                color: #8b8c8e;
                font-size: 16px;

                @include sm {
                    margin-top: 12px;
                    text-align: center;
                }
            }
        }

        .circle-percent {
            position: relative;
            width: 68px;
            height: 68px;
            padding: 6px;
            border-radius: 100px;
            background: conic-gradient(#c7e5db 0deg calc(var(--percent-value) * 3.6deg), transparent calc(var(--percent-value) * 3.6deg) 360deg);
            
            &::before {
                position: absolute;
                inset: 3px;
                z-index: -1;
                border: 1px solid #8b8c8e;
                border-radius: 100px;
                content: '';
            }
            
            span {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 56px;
                height: 56px;
                font-size: 20px;
                font-weight: 600;
                border-radius: 100px;
                background: #fff;
            }
        }
    }

    .section-half-slider__header {
        align-self: end;
    }

    .section-half-slider__carousel {
        .swiper-arrows-with-pagination {
            margin-top: 16px;
        }
    }

    .section-half-slider__other {
        align-self: start;
    }

    // .backed-by-real-results__item
    &__item {
        display: flex;
        flex-direction: column;
        gap: 18px;
        align-items: center;
        padding: 24px;
        border: 1px solid #dfe0e0;
        border-radius: 10px;

        @include sm {
            gap: 16px;
            padding: 16px;
        }

        img {
            width: 100%;
            max-width: 100%;
            height: auto;
            border-radius: 5px;
        }

        p {
            display: flex;
            flex-wrap: wrap;
            gap: 8px;
            align-items: center;
            font-size: 16px;

            @include sm {
                flex-direction: column;
                gap: 0;
            }

            span {
                padding: 4px 18px;
                border-radius: 50px;
                background: #f6f6f7;
            }
        }
    }
}