@use "@root/mixins" as *;

@mixin sections-stack {
    .sections-stack {
        padding-top: 60px;
        padding-bottom: 60px;

        @include sm {
            padding-top: 40px;
            padding-bottom: 40px;
        }

        &,
        // .sections-stack__sub-stack
        &__sub-stack {
            display: flex;
            flex-direction: column;
            gap: 60px;

            @include md {
                gap: 40px;
            }
        }

        &:has(.guide-menu, .faqs-menu) {
            flex-flow: row wrap;

            .across-image-banner,
            .base-section,
            .shopify-section {
                width: 100%;
            }
        }

        &:has(.guide-menu) {
            .intro-section {
                @include md {
                    margin-bottom: -40px;
                }
            }
        }
    }
}

/* stylelint-disable selector-class-pattern */
.page\.derm-reviews,
.page\.q-rejuvalight-pro-reviews,
.page\.neck-decolletage-led-reviews,
.page\.neck-decolletage-led-pro-content-guide,
.page\.face-serum-reviews,
.page\.micro-infusion-targeted-patches-reviews,
.page\.micro-infusion-brief,
.page\.microinfusion-safety-guide,
.page\.q-rejuvalight-pro-led-mask-guide,
.page\.q-rejuvalight-pro-welcome,
.page\.q-rejuvalight-pro-content-guide,
.page\.n-d-quickstart-guide,
.page\.micro-infusion-patches-content-guide,
.page\.microinfusion-safety-guide-v15,
.page\.shower-creative-brief,
.page\.faucet-creative-brief,
.page\.dermal-mist-brief,
.page\.all-in-one-face-serum-creative-content-guide,
.page\.faucet-online-guide,
.page\.shower-filter-online-guide,
.page\.hairgrowth-helmet-brief,
.page\.hairgrowth-helmet-guide,
.page\.hairgrowth-helmet-welcome,
.page\.faqs,
.page\.qure-microinfusion-offer-listicle,
.page\.customer-reviews,
.page\.q-rejuvalight-pro-customer-reviews,
.page\.neck-decolletage-led-customer-reviews,
.page\.all-in-one-serum-customer-reviews,
.page\.micro-infusion-targeted-patches-customer-reviews {
    @include sections-stack;
}

.page\.derm-reviews,
.page\.q-rejuvalight-pro-reviews,
.page\.neck-decolletage-led-reviews,
.page\.neck-decolletage-led-pro-content-guide,
.page\.face-serum-reviews,
.page\.micro-infusion-targeted-patches-reviews,
.page\.q-rejuvalight-pro-content-guide,
.page\.microinfusion-safety-guide,
.page\.micro-infusion-brief,
.page\.q-rejuvalight-pro-led-mask-guide,
.page\.n-d-quickstart-guide,
.page\.micro-infusion-patches-content-guide,
.page\.microinfusion-safety-guide-v15,
.page\.shower-creative-brief,
.page\.faucet-creative-brief,
.page\.dermal-mist-brief,
.page\.all-in-one-face-serum-creative-content-guide,
.page\.faucet-online-guide,
.page\.shower-filter-online-guide,
.page\.hairgrowth-helmet-brief,
.page\.hairgrowth-helmet-guide,
.page\.qure-microinfusion-offer-listicle,
.page\.customer-reviews,
.page\.q-rejuvalight-pro-customer-reviews,
.page\.neck-decolletage-led-customer-reviews,
.page\.all-in-one-serum-customer-reviews,
.page\.micro-infusion-targeted-patches-customer-reviews {
    .sections-stack {
        padding-top: 0;

        @include sm {
            padding-top: 0;
        }
    }
}

.page\.neck-decolletage-led-pro-content-guide,
.page\.micro-infusion-brief,
.page\.q-rejuvalight-pro-content-guide,
.page\.q-rejuvalight-pro-welcome,
.page\.shower-creative-brief,
.page\.faucet-creative-brief,
.page\.dermal-mist-brief,
.page\.all-in-one-face-serum-creative-content-guide,
.page\.hairgrowth-helmet-welcome
.page\.qure-microinfusion-offer-listicle {
    .sections-stack {
        padding-bottom: 0;

        @include sm {
            padding-bottom: 0;
        }
    }
}
