@use "@root/mixins" as *;

@mixin sections-stack {
    .sections-stack {
        padding-top: 60px;
        padding-bottom: 60px;

        @include sm {
            padding-top: 40px;
            padding-bottom: 40px;
        }

        &,
        // .sections-stack__sub-stack
        &__sub-stack {
            display: flex;
            flex-direction: column;
            gap: 60px;

            @include md {
                gap: 40px;
            }
        }

        &:has(.guide-menu) {
            flex-flow: row wrap;

            .across-image-banner,
            .base-section,
            .shopify-section {
                width: 100%;
            }

            .intro-section {
                @include md {
                    margin-bottom: -40px;
                }
            }
        }
    }
}

/* stylelint-disable selector-class-pattern */
.page\.derm-reviews,
.page\.q-rejuvalight-pro-reviews,
.page\.neck-decolletage-led-reviews,
.page\.neck-decolletage-led-pro-content-guide,
.page\.face-serum-reviews,
.page\.micro-infusion-targeted-patches-reviews,
.page\.micro-infusion-brief,
.page\.microinfusion-safety-guide,
.page\.q-rejuvalight-pro-led-mask-guide,
.page\.q-rejuvalight-pro-welcome,
.page\.sunil-micro-mask-guide,
.page\.n-d-quickstart-guide,
.page\.microinfusion-safety-guide-v15,
.page\.shower-creative-brief,
.page\.faucet-creative-brief,
.page\.dermal-mist-brief,
.page\.micro-infusion-patches-content-guide {
    @include sections-stack;
}

.page\.derm-reviews,
.page\.q-rejuvalight-pro-reviews,
.page\.neck-decolletage-led-reviews,
.page\.neck-decolletage-led-pro-content-guide,
.page\.face-serum-reviews,
.page\.micro-infusion-targeted-patches-reviews,
.page\.sunil-micro-mask-guide,
.page\.microinfusion-safety-guide,
.page\.micro-infusion-brief,
.page\.q-rejuvalight-pro-led-mask-guide,
.page\.n-d-quickstart-guide,
.page\.microinfusion-safety-guide-v15,
.page\.shower-creative-brief,
.page\.faucet-creative-brief,
.page\.dermal-mist-brief,
.page\.micro-infusion-patches-content-guide {
    .sections-stack {
        padding-top: 0;

        @include sm {
            padding-top: 0;
        }
    }
}


.page\.neck-decolletage-led-pro-content-guide,
.page\.micro-infusion-brief,
.page\.q-rejuvalight-pro-led-mask-guide,
.page\.q-rejuvalight-pro-welcome,
.page\.shower-creative-brief,
.page\.faucet-creative-brief,
.page\.dermal-mist-brief {
    .sections-stack {
        padding-bottom: 0;

        @include sm {
            padding-bottom: 0;
        }
    }
}