@use "@root/mixins" as *;

@mixin sections-stack {
    .sections-stack {
        padding-bottom: 60px;
        
        @include md {
            padding-bottom: 40px;
        }
        
        &,
        // .sections-stack__sub-stack
        &__sub-stack {
            display: flex;
            flex-direction: column;
            gap: 60px;
            
            @include md {
                gap: 40px;
            }
        }

        &:has(.base-section--grey:last-child) {
            padding-bottom: 0;
        }

        &:has(.guide-menu) {
            flex-flow: row wrap;

            .across-image-banner,
            .base-section,
            .shopify-section {
                width: 100%;
            }

            .intro-section {
                @include md {
                    margin-bottom: -40px;
                }
            }
        }
    }
}

/* stylelint-disable selector-class-pattern */
.page\.derm-reviews,
.page\.q-rejuvalight-pro-reviews,
.page\.neck-decolletage-led-reviews,
.page\.face-serum-reviews,
.page\.micro-infusion-targeted-patches-reviews,
.page\.neck-decolletage-led-pro-content-guide,
.page\.micro-infusion-brief,
.page\.q-rejuvalight-pro-led-mask-guide,
.page\.microinfusion-safety-guide {
    @include sections-stack;
}