@use "@root/mixins" as *;

@mixin sections-stack {
    .sections-stack {
        padding-bottom: 60px;
        
        @include md {
            padding-bottom: 40px;
        }
        
        &,
        // .sections-stack__sub-stack
        &__sub-stack {
            display: flex;
            flex-direction: column;
            gap: 60px;
            
            @include md {
                gap: 40px;
            }
        }
    }
}

/* stylelint-disable selector-class-pattern */
.page\.derm-reviews,
.page\.q-rejuvalight-pro-reviews,
.page\.neck-decolletage-led-reviews,
.page\.face-serum-reviews,
.page\.micro-infusion-targeted-patches-reviews,
.page\.neck-decolletage-led-pro-content-guide,
.page\.micro-infusion-brief,
.page\.q-rejuvalight-pro-led-mask-guide {
    @include sections-stack;
}

.page\.neck-decolletage-led-pro-content-guide,
.page\.micro-infusion-brief,
.page\.q-rejuvalight-pro-led-mask-guide {
    .sections-stack {
        flex-flow: row wrap;
        padding-bottom: 0;

        @include md {
            padding-bottom: 0;
        }

        .across-image-banner,
        .base-section,
        .shopify-section {
            width: 100%;
        }
    }
}