@use "@root/mixins" as *;

.sections-stack {
    padding-bottom: 60px;

    @include md {
        padding-bottom: 40px;
    }
    
    &,
    // .sections-stack__sub-stack
    &__sub-stack {
        display: flex;
        flex-direction: column;
        gap: 60px;
    
        @include md {
            gap: 40px;
        }
    }
}