<!-- HERO QA -->
{{#unless page-css }}
<link rel="stylesheet" href="sections/new/hero-qa/hero-qa.css" />
{{/unless}}
<section class="hero-qa {{ classes }}">
    <div class="container">
        <article>
            <h1>{{ title }}</h1>
            {{> @partial-block}}
        </article>
    </div>
</section>
<!-- HERO QA END -->
