@use "@root/mixins" as *;
@use "@components/c-approved-by" as *;
@use "@components/c-info-bar" as *;
@use "@components/c-marked-list" as *;

.hero-section {
    $root: &;
    
    .container {
        display: flex;
        flex-direction: row-reverse;
        gap: 60px;
        margin-right: 0;
        padding-right: 0;
        
        @media screen and (min-width: 1200px) {
            @include max-width(1172px);
        }

        @media screen and (min-width: 1400px) {
            @include max-width(1232px);
        }

        @include md {
            gap: 40px;
        }

        @include sm {
            flex-direction: column;
            gap: 20px;
            padding-right: 15px;
        }
    }

    &__image {
        flex: 0 0 50vw;

        @include sm {
            width: 100vw;
            margin-right: -16px;
            margin-left: -16px;
        }

        img {
            object-fit: cover;
            width: 100%;
            height: 100%;
            // max-height: calc(100vh - (var(--height-bar) + var(--height-header)));
            vertical-align: top;

            @include sm {
                width: 100%;
            }
        }
    }


    &__content {
        display: flex;
        flex-grow: 1;
        flex-direction: column;
        gap: 32px;
        padding-top: 40px;
        padding-bottom: 40px;

        @include sm {
            gap: 16px;
            padding-top: 0;
        }
    }

    &__content-header {
        padding-top: 10px;

        @include sm {
            text-align: center;
        }

        @include sm {
            padding-top: 0;
        }

        .c-approved-by {
            margin-bottom: 30px;

            @include sm {
                justify-content: center;
                margin-bottom: 20px;
            }
        }

        h1 {
            margin-bottom: 20px;
            font-size: 43px;

            @include md {
                font-size: 34px;
            }

            @include sm {
                margin-bottom: 8px;
                font-size: 28px;
            }
        }

        p {
            @include sm {
                font-size: 14px;
            }
        }
    }

    &__content-button {
        display: flex;
        flex-direction: column;
        gap: 14px;
        align-items: center;

        .btn {
            width: 100%;
            text-transform: uppercase;

            @include sm {
                font-size: 18px;
            }
        }
    }

    &__content-footer {
        display: flex;
        flex-direction: column;
        gap: 32px;

        @include sm {
            gap: 20px;
        }

        picture {
            width: 100%;
            max-width: 340px;
            @include play;
            cursor: pointer;

            &::before {
                position: absolute;
                bottom: 28px;
                left: 16px;
                color: #fff;
                font-size: 20px;
                font-weight: 500;
                content: attr(data-label-text);
            }

            &::after {
                inset: auto 16px 16px auto;
                font-size: 35px;
                transform: none;
            }

            img {
                width: 100%;
                height: auto;
                vertical-align: top;
                border-radius: 10px;
            }
        }
    }
}