.c-approved-by{
  gap:8px;
  align-items:center;
  font-size:16px;
  line-height:1.2;
}
.c-approved-by,.c-approved-by ul{
  display:flex;
}
.c-approved-by li+li{
  margin-left:-8px;
}
.c-approved-by li:first-child{
  position:relative;
  z-index:1;
}
.c-approved-by img{
  display:block;
  width:46px;
  height:46px;
  vertical-align:top;
  border:3px solid #fff;
  border-radius:50%;
  box-shadow:0 5px 5px 0 rgba(0,0,0,.25);
}

.c-info-bar{
  font-size:16px;
  line-height:16px;
}
.c-info-bar:before{
  display:inline-block;
  width:14px;
  height:14px;
  margin-right:6px;
  color:#fff;
  font-size:8px;
  font-family:icomoon;
  font-weight:400;
  font-style:normal;
  font-variant:normal;
  line-height:1;
  text-transform:none;
  -moz-osx-font-smoothing:grayscale;
  -webkit-font-smoothing:antialiased;
  speak:never;
  line-height:14px;
  text-align:center;
  vertical-align:top;
  border-radius:50%;
  background:#fea500;
  content:"\e90c";
}

.c-marked-list{
  display:flex;
  flex-direction:column;
  gap:8px;
}
.c-marked-list li{
  position:relative;
  padding-left:32px;
  line-height:1.25;
}
.c-marked-list li:before{
  position:absolute;
  top:0;
  left:0;
  display:flex;
  align-items:center;
  justify-content:center;
  width:20px;
  height:20px;
  color:#91baec;
  font-size:8px;
  font-family:icomoon;
  font-weight:400;
  font-style:normal;
  font-variant:normal;
  line-height:1;
  text-transform:none;
  -moz-osx-font-smoothing:grayscale;
  -webkit-font-smoothing:antialiased;
  speak:never;
  vertical-align:top;
  border:1.5px solid;
  border-radius:50%;
  content:"\e901";
}

.hero-section{
  margin-bottom:60px;
}
.hero-section .container{
  display:flex;
  flex-direction:row-reverse;
  gap:60px;
  margin-right:0;
  padding-right:0;
}
.hero-section__image{
  flex:0 0 50vw;
}
.hero-section__image img{
  -o-object-fit:cover;
     object-fit:cover;
  width:100%;
  height:100%;
  vertical-align:top;
}
.hero-section__content{
  display:flex;
  flex-grow:1;
  flex-direction:column;
  gap:32px;
  padding-top:40px;
  padding-bottom:40px;
}
.hero-section__content-header{
  padding-top:10px;
}
.hero-section__content-header .c-approved-by{
  margin-bottom:30px;
}
.hero-section__content-header h1{
  margin-bottom:20px;
  font-size:43px;
}
.hero-section__content-button{
  display:flex;
  flex-direction:column;
  gap:14px;
  align-items:center;
}
.hero-section__content-button .btn{
  width:100%;
  text-transform:uppercase;
}
.hero-section__content-footer{
  display:flex;
  flex-direction:column;
  gap:32px;
}
.hero-section__content-footer picture{
  width:100%;
  max-width:340px;
  position:relative;
  display:block;
}
.hero-section__content-footer picture:after{
  position:absolute;
  top:50%;
  left:50%;
  padding:.155em;
  color:#fff;
  font-family:icomoon;
  font-weight:400;
  font-style:normal;
  font-variant:normal;
  line-height:1;
  text-transform:none;
  vertical-align:top;
  -moz-osx-font-smoothing:grayscale;
  -webkit-font-smoothing:antialiased;
  speak:never;
  font-size:52px;
  border-radius:50%;
  background:rgba(0,0,0,.35);
  transform:translate(-50%, -50%);
  content:"\e90d";
}
.hero-section__content-footer picture{
  cursor:pointer;
}
.hero-section__content-footer picture:before{
  position:absolute;
  bottom:28px;
  left:16px;
  color:#fff;
  font-size:20px;
  font-weight:500;
  content:attr(data-label-text);
}
.hero-section__content-footer picture:after{
  inset:auto 16px 16px auto;
  font-size:35px;
  transform:none;
}
.hero-section__content-footer picture img{
  width:100%;
  height:auto;
  vertical-align:top;
  border-radius:10px;
}
@media screen and (min-width:1200px){
  .hero-section .container{
    max-width:calc(100% - 50vw + 593.5px);
  }
}
@media screen and (min-width:1400px){
  .hero-section .container{
    max-width:calc(100% - 50vw + 623.5px);
  }
}
@media screen and (max-width:991px){
  .hero-section .container{
    gap:40px;
  }
  .hero-section__content-header h1{
    font-size:34px;
  }
}
@media screen and (max-width:767px){
  .c-approved-by{
    font-size:14px;
  }
  .c-approved-by img{
    width:26px;
    height:26px;
    border-width:2px;
  }
  .c-marked-list li{
    font-size:16px;
  }
  .hero-section{
    margin-bottom:40px;
  }
  .hero-section .container{
    flex-direction:column;
    gap:20px;
    padding-right:15px;
  }
  .hero-section__image{
    width:100vw;
    margin-right:-16px;
    margin-left:-16px;
  }
  .hero-section__image img{
    width:100%;
  }
  .hero-section__content{
    gap:16px;
    padding-top:0;
  }
  .hero-section__content-header{
    text-align:center;
    padding-top:0;
  }
  .hero-section__content-header .c-approved-by{
    justify-content:center;
    margin-bottom:20px;
  }
  .hero-section__content-header h1{
    margin-bottom:8px;
    font-size:28px;
  }
  .hero-section__content-header p{
    font-size:14px;
  }
  .hero-section__content-button .btn{
    font-size:18px;
  }
  .hero-section__content-footer{
    gap:20px;
  }
}
