@use "@root/mixins" as *;
@use "@elements/e-icon" as *;
@use "@components/c-rating" as *;
@use "@components/c-marked-list" as *;
@use "@components/c-buy-block" as *;
@use "@components/c-next-batch" as *;
@use "@components/c-swiper" as *;

.hero-product {
    $root: &;

    // .hero-product__container
    &__container {
        display: grid;
        grid-template: auto 1fr / repeat(2, 1fr);
        gap: 40px 60px;

        @include sm {
            grid-template: auto / auto;
            gap: 24px;
        }
    }

    // .hero-product__main
    &__main {
        display: flex;
        flex-direction: column;
        grid-row: 1 / -1;
        gap: 32px;

        @include sm {
            grid-row: auto;
        }

        .c-rating {
            align-self: flex-start;
        }

        & > p {
            &:first-of-type {
                font-size: 16px;
                text-transform: uppercase;
            }
        }

        h1 {
            margin-bottom: -5px;
        }

        .e-price {
            font-size: 22px;
            font-weight: 500;
        }

        article {
            p {
                margin-bottom: 1.5rem;
            }

            ul {
                @include c-marked-list;
                gap: 16px;
            }
        }

        .e-features-list {
            @include sm {
                display: none;
            }
        }
    }

    // .hero-product__gallery
    &__gallery {
        display: flex;
        flex-direction: column;
        gap: 24px;
        min-width: 0;

        @include sm {
            gap: 12px;
        }

        .c-swiper {
            margin: 0;
            padding: 0;
        }

        .c-swiper-thumbs-nav {
            .swiper-slide {
                width: 70px;

                &:last-child {
                    margin-right: 0 !important;
                }
            }
        }
    }

    // .hero-product__extra
    &__extra {
        min-width: 0;
    }

    // .hero-product__best-with
    &__best-with {
        h6 {
            margin-bottom: 16px;
            font-family: inherit;
            font-weight: normal;
        }

        .c-swiper {
            @media screen and (min-width: 768px) {
                margin: 0;
                padding: 0;
            }
        }

        .swiper-slide {
            display: grid;
            grid-template: 1fr auto / 80px 1fr;
            gap: 10px 12px;
            align-items: center;
            overflow: hidden;
            padding: 24px 12px;
            border-radius: 10px;
            background: #f6f6f7;

            a {
                align-self: start;
                color: inherit;

                &:hover {
                    text-decoration: underline;
                }
            }

            img {
                grid-row: 1 / -1;
            }

            .btn {
                --btn-sm-padding: 7px 20px;
            }
        }

    }
}
