.page\.black-friday-early-access{
  padding-top:0;
  color:#fff;
  background:#212428;
}

.black-friday-early-access{
  padding-top:0;
  padding-bottom:0;
}
.black-friday-early-access img{
  display:block;
  width:100%;
  max-width:100%;
  height:auto;
}
.black-friday-early-access .custom__grid{
  --column-gap:100px;
  align-items:center;
  margin-top:0;
  margin-bottom:0;
}
.black-friday-early-access .banner-text--media img{
  -o-object-fit:cover;
     object-fit:cover;
  height:calc(100vh - 76px);
}
.black-friday-early-access__content{
  display:flex;
  flex-direction:column;
  gap:40px;
  align-items:center;
  margin-right:-15px;
  margin-left:-15px;
  text-align:center;
}
.black-friday-early-access__content h2{
  color:inherit;
  font-size:46px;
  line-height:1.15;
}
.black-friday-early-access__content img:first-child{
  max-width:127px;
  height:auto;
}
.black-friday-early-access__content img:not(:first-child){
  display:none;
}
.black-friday-early-access .early-access-form{
  width:100%;
  margin-bottom:16px;
  padding-right:15px;
  padding-left:15px;
}
.black-friday-early-access .early-access-form__label{
  margin-bottom:10px;
  text-align:center;
}
.black-friday-early-access .early-access-form__content{
  position:relative;
  display:flex;
}
.black-friday-early-access .early-access-form__content .form-control{
  padding-left:30px;
  border:none;
  border-radius:50px 0 0 50px;
}
.black-friday-early-access .early-access-form__content .btn{
  padding-right:30px;
  color:#212428;
  font-size:20px;
  border:none;
  border-radius:0 50px 50px 0;
  background:#fff;
}
.black-friday-early-access .early-access-countdown__title{
  display:flex;
  gap:8px;
  margin-bottom:24px;
  font-size:20px;
  font-weight:600;
}
.black-friday-early-access .early-access-countdown__title svg{
  width:20px;
  height:auto;
  stroke:#fff;
}
.black-friday-early-access .early-access-countdown__timer{
  display:flex;
  gap:20px;
  justify-content:center;
}
.black-friday-early-access .early-access-countdown__timer .countdown-segment{
  display:flex;
  flex-direction:column;
  line-height:1;
}
.black-friday-early-access .early-access-countdown__timer .countdown-segment:not(:first-child){
  padding-left:16px;
  border-left:1px solid #fff;
}
.black-friday-early-access .early-access-countdown__timer .countdown-segment span{
  color:#ff5429;
  font-size:30px;
  font-weight:600;
}
.black-friday-early-access .early-access-countdown__timer .countdown-segment small{
  font-size:14px;
  text-transform:uppercase;
}
.black-friday-early-access-footer{
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
  min-height:76px;
  padding-top:10px;
  padding-bottom:10px;
  font-size:16px;
}
.black-friday-early-access-footer p{
  margin:0;
}
.black-friday-early-access-footer ul{
  display:flex;
  gap:16px;
}
.black-friday-early-access-footer a{
  color:inherit;
  -webkit-text-decoration:underline 1px;
          text-decoration:underline 1px;
}
.black-friday-early-access-footer a:hover{
  text-decoration:none;
}
@media screen and (max-width:991px){
  .black-friday-early-access .custom__block{
    padding-right:0;
  }
  .black-friday-early-access__content{
    gap:16px;
  }
  .black-friday-early-access__content h2{
    padding-right:15px;
    padding-left:15px;
    font-size:32px;
  }
  .black-friday-early-access__content img:first-child{
    max-width:84px;
  }
  .black-friday-early-access .early-access-countdown__title{
    margin-bottom:10px;
  }
}
@media screen and (max-width:767px){
  .black-friday-early-access .custom__block{
    padding-bottom:24px;
  }
  .black-friday-early-access__content img:not(:first-child){
    display:block;
  }
}
