<!-- BEFORE AFTER ACCORDION -->
{{#unless page-css }}
<link rel="stylesheet" href="sections/new/before-after-accordion/before-after-accordion.css" />
{{/unless}}
<section class="before-after-accordion {{ classes }}">
    <div class="container">
        <div class="before-after-accordion__content">
            {{> @partial-block }}
        </div>
    </div>
</section>
<!-- BEFORE AFTER ACCORDION END -->
