.bundle-banner{
  position:relative;
}
.bundle-banner__image{
  position:absolute;
  inset:0;
  z-index:-1;
}
.bundle-banner__image img{
  position:absolute;
  top:0;
  left:0;
  -o-object-fit:cover;
     object-fit:cover;
  -o-object-position:30% 100%;
     object-position:30% 100%;
  width:100%;
  height:100%;
}
.bundle-banner__content{
  position:relative;
  padding-right:15px;
  padding-left:15px;
}
.bundle-banner__content .bf-discont-badge{
  position:absolute;
  top:20px;
  left:50%;
  z-index:1;
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
  width:80px;
  height:80px;
  margin-left:-42vw;
  color:#fff;
  font-size:26px;
  font-weight:600;
  line-height:1;
  border-radius:100px;
  background:#ff5429;
}
.bundle-banner__content .bf-discont-badge:after{
  font-size:20px;
  font-weight:400;
  text-transform:uppercase;
  content:attr(data-text-bottom);
}
.bundle-banner__content .row{
  align-items:center;
  justify-content:flex-end;
  padding-top:40px;
  padding-bottom:34px;
}
.bundle-banner__content h3{
  margin-bottom:5px;
}
.bundle-banner__content h3 img{
  vertical-align:middle;
  filter:brightness(0) saturate(100%) invert(7%) sepia(5%) saturate(2568%) hue-rotate(175deg) brightness(92%) contrast(83%);
}
@keyframes pulse{
  0%{
    box-shadow:0 0 0 0 rgba(255,84,41,.7);
    transform:scale(1);
  }
  to{
    box-shadow:0 0 0 8px rgba(255,84,41,0);
    transform:scale(1.1);
  }
}
.bundle-banner__content .btn{
  width:100%;
  max-width:350px;
  padding-top:12px;
  padding-bottom:12px;
}
.bundle-banner__content .under-button-text{
  margin-top:12px;
  margin-left:15px;
  font-size:16px;
}
.bundle-banner__content .under-button-text:before{
  display:inline-block;
  width:8px;
  height:8px;
  margin-right:12px;
  border-radius:50%;
  background:#ff5429;
  animation:pulse 2s infinite;
  content:" ";
}
.bundle-banner.bundle-banner-mini{
  background:#212428;
}
.bundle-banner.bundle-banner-mini .bundle-banner__content{
  max-width:1330px;
  margin-right:auto;
  margin-left:auto;
  color:#fff;
}
.bundle-banner.bundle-banner-mini .mini-bundles{
  display:grid;
  grid-template:auto/calc(53.6% - 10px) repeat(2, calc(23.2% - 5px));
  gap:10px;
  width:100%;
  max-width:500px;
  margin-right:10%;
  margin-left:auto;
}
.bundle-banner.bundle-banner-mini .mini-bundles__item{
  position:relative;
}
.bundle-banner.bundle-banner-mini .mini-bundles__item:first-child:before{
  position:absolute;
  top:6px;
  left:70px;
  width:70px;
  color:#212428;
  line-height:1.1;
  content:attr(data-desc);
}
.bundle-banner.bundle-banner-mini .mini-bundles__item:not(:first-child):before{
  position:absolute;
  top:6px;
  left:8px;
  width:25px;
  height:25px;
  font-size:20px;
  line-height:25px;
  text-align:center;
  border-radius:25px;
  background:#ff5429;
  content:"%";
}
.bundle-banner.bundle-banner-mini .mini-bundles__item img{
  display:block;
  width:100%;
  height:auto;
  border-radius:10px;
}
.bundle-banner.bundle-banner-mini .mini-bundles__item .bf-discont-badge{
  top:50%;
  left:0;
  width:120px;
  height:120px;
  margin-top:-60px;
  margin-left:-60px;
  font-size:50px;
}
.bundle-banner.bundle-banner-mini .mini-bundles__item .bf-discont-badge:after,.bundle-banner.bundle-banner-mini .mini-bundles__item .bf-discont-badge:before{
  font-size:18px;
  text-transform:uppercase;
}
.bundle-banner.bundle-banner-mini .mini-bundles__item .bf-discont-badge:before{
  content:attr(data-text-top);
}
.bundle-banner.bundle-banner-mini .mini-bundles__item .bf-discont-badge:after{
  content:attr(data-text-bottom);
}
.bundle-banner.bundle-banner-mini .row{
  padding-top:20px;
  padding-bottom:20px;
}
.bundle-banner.bundle-banner-mini h3{
  color:inherit;
  font-size:38px;
}
.bundle-banner.bundle-banner-mini .btn{
  padding-right:20px;
  padding-left:20px;
  color:#212428;
  border-color:#fff;
  background:#fff;
}

.bundle-banners-slider .qure-swiper-arrow{
  display:none;
}
.bundle-banners-slider .swiper-pagination{
  padding-right:20px;
  padding-left:20px;
  text-align:right;
}
.bundle-banners-slider .swiper-pagination-bullet-active{
  background:#000;
}
@media screen and (min-width:991px){
  .bundle-banner.bundle-banner-mini .btn{
    display:block;
    max-width:300px;
    margin-left:auto;
    padding-top:17px;
    padding-bottom:17px;
  }
}
@media screen and (max-width:1230px){
  .bundle-banner.bundle-banner-mini .mini-bundles__item:first-child:before{
    left:90px;
  }
  .bundle-banner.bundle-banner-mini .mini-bundles__item .bf-discont-badge{
    margin-left:-30px;
  }
}
@media screen and (max-width:991px){
  .bundle-banner__content .bf-discont-badge{
    left:30px;
    margin-left:0;
  }
  .bundle-banner__content .btn{
    max-width:none;
  }
  .bundle-banner.bundle-banner-mini .mini-bundles__item:first-child:before{
    left:50px;
    font-size:12px;
  }
  .bundle-banner.bundle-banner-mini .mini-bundles__item .bf-discont-badge{
    width:80px;
    height:80px;
    margin-top:-40px;
    font-size:32px;
  }
  .bundle-banner.bundle-banner-mini .mini-bundles__item .bf-discont-badge:after,.bundle-banner.bundle-banner-mini .mini-bundles__item .bf-discont-badge:before{
    font-size:12px;
  }
  .bundle-banner.bundle-banner-mini h3{
    font-size:28px;
  }
  .bundle-banners-slider .swiper-pagination{
    text-align:center;
  }
}
@media screen and (max-width:767px){
  .bundle-banner__image img{
    -o-object-position:50% 0;
       object-position:50% 0;
  }
  .bundle-banner__content{
    padding:43% 15px 15px;
  }
  .bundle-banner__content .row{
    gap:10px;
    padding-top:34px;
    padding-bottom:24px;
    text-align:center;
  }
  .bundle-banner.bundle-banner-mini .bundle-banner__content{
    padding-top:10px;
    padding-bottom:10px;
  }
  .bundle-banner.bundle-banner-mini .mini-bundles{
    gap:6px;
    max-width:calc(100% - 30px);
    margin-right:0;
  }
  .bundle-banner.bundle-banner-mini .mini-bundles__item:first-child:before{
    left:35px;
  }
  .bundle-banner.bundle-banner-mini .mini-bundles__item:not(:first-child):before{
    top:4px;
    left:4px;
  }
  .bundle-banner.bundle-banner-mini .row{
    gap:20px;
    padding-top:20px;
  }
}
