@use "@root/mixins" as *;
@use "@elements/e-icon" as *;
@use "@elements/e-hamburger" as *;
@use "@components/c-swiper" as *;

.header {
    $root: &;

    position: fixed;
    top: var(--height-bar);
    z-index: 10;
    display: flex;
    flex-direction: column;
    width: 100%;
    color: #fff;
    background: #212428;

    & > .container {
        @include md {
            display: flex;
            flex-direction: column;
            height: 100%;
        }
    }

    // .header__navigation
    &__navigation {
        position: relative;
        display: flex;
        flex: none;
        gap: 30px;
        align-items: center;
        height: var(--height-header);
    }

    // .header__hamburger
    &__hamburger {
        display: none;
        flex: 1 1 0;
        margin-left: -16px;

        @include md {
            display: block;
        }
    }

    // .header__logo
    &__logo {
        position: absolute;
        top: 50%;
        left: 50%;
        padding: 12px;
        color: inherit;
        font-size: 36px;
        transform: translate(-50%, -50%);

        @include md {
            padding: 10px;
        }
    }

    // .header__menu
    &__menu {
        display: flex;
        flex: 1 1 0;
        gap: 30px;
        align-items: center;

        @include md {
            display: none;
        }

        li {
            &:last-child {
                margin-left: auto;
            }
        }

        a {
            display: block;
            padding-top: 19px;
            padding-bottom: 19px;
            color: inherit;
            cursor: pointer;

            &:hover,
            &.active {
                -webkit-text-stroke-width: 0.5px;
            }
        }
    }

    // .header__icons
    &__icons {
        display: flex;
        align-items: center;
        margin: 0 -10px;

        @include md {
            margin: 0 -5px;
        }

        li {
            font-size: 30px;

            &:not(:first-child) {
                border-left: 1px solid #8b8c8e;

                @include md {
                    border: 0;
                }
            }

            &:has(.e-icon-user) {
                @include md {
                    display: none;
                }
            }

            &:has(.cart-count) {
                a {
                    position: relative;
                }
            }

            a {
                display: block;
                padding: 5px 10px;
                color: inherit;

                @include md {
                    padding: 5px;
                }
            }

            .cart-count {
                position: absolute;
                top: 0;
                right: 6px;
                font-size: 12px;
                font-weight: 600;
                line-height: 1;
            }
        }
    }

    // .header__tabs
    &__tabs {
        display: none;
        flex: none;
        gap: 30px;
        overflow: auto;
        margin-right: -16px;
        margin-left: -16px;
        padding-right: 24px;
        padding-left: 24px;
        border-top: 1px solid #8b8c8e;
        border-bottom: 1px solid #8b8c8e;
        -ms-overflow-style: none;
        scrollbar-width: none;

        &::-webkit-scrollbar {
            width: 0;
            height: 0;
        }

        a {
            display: block;
            padding-top: 15px;
            padding-bottom: 15px;
            color: inherit;
            white-space: nowrap;

            &.active {
                -webkit-text-stroke-width: 0.5px;
            }
        }
    }

    &__content-wrapper {
        flex-grow: 1;
        overflow: hidden auto;
        min-height: 1px;
        margin-right: -16px;
        margin-left: -16px;
    }

    // .header__content
    &__content {
        @media screen and (min-width: 992px) {
            position: absolute;
            top: 100%;
            right: 0;
            left: 0;
            z-index: -1;
            background: #212428;
            transform: translateY(8px);
            pointer-events: none;
            transition: opacity 200ms ease, transform 200ms ease;
            opacity: 0;

            &.show-on-hover {
                z-index: 1;
                transform: translateY(0);
                pointer-events: all;
                opacity: 1;
            }
        }

        @include md {
            display: none;
        }
    }

    // .header__content-container
    &__content-container {
        display: grid;
        grid-template-columns: 1fr 2fr;
        gap: 80px;
        padding: 30px 0 30px 16px;

        @include lg {
            gap: 30px;
        }

        @include md {
            grid-template-columns: auto;
            padding-bottom: 20px;
            padding-left: 0;
        }

        #products & {
            grid-template-columns: repeat(3, 1fr);

            @include md {
                grid-template-columns: auto;
                padding-bottom: 30px;
            }
        }
    }

    // .header__content-menu
    &__content-menu {
        display: flex;
        flex-direction: column;
        gap: 16px;

        @include md {
            padding-right: 24px;
            padding-left: 24px;
        }

        &[data-title] {
            &::before {
                display: block;
                margin-bottom: 16px;
                color: #8b8c8e;
                content: attr(data-title);
                column-span: all;
            }
        }

        a {
            display: block;
            color: inherit;

            &:hover,
            &.active {
                color: #c7e5db;
                -webkit-text-stroke-width: 0.5px;
            }
        }

        #products & {
            display: block;
            column-gap: 30px;
            column-count: 2;

            li {
                margin-bottom: 16px;
                break-inside: avoid;
            }
        }
    }

    // .header__content-slider
    &__content-slider {
        min-width: 0;
        padding-right: 16px;
        padding-left: 16px;

        @include md {
            padding-top: 20px;
            border-top: 1px solid #8b8c8e;
        }

        #products & {
            display: grid;
            grid-template-rows: auto auto;
            grid-template-columns: 30px 1fr 30px;
            gap: 16px 8px;

            .c-swiper:first-child {
                grid-column: 1 / -1;
            }

            @include md {
                order: -1;
                grid-template: auto / auto;
                padding-top: 0;
                border-top: 0;
                border-bottom: 1px solid #8b8c8e;
            }
        }

        .c-swiper {
            &:not(.c-swiper-thumbs) {
                .swiper-slide {
                    a:not(.btn) {
                        display: block;
                        overflow: hidden;
                        width: 100%;
                        border-radius: 10px;

                        img {
                            @include transition;
                        }

                        &:hover {
                            img {
                                transform: scale(1.05);
                            }
                        }
                    }
                }
            }
        }

        .swiper-slide {
            overflow: hidden;

            &:has(.btn) {
                display: flex;
                flex-direction: column;
                align-items: center;
            }

            img {
                width: 100%;
            }

            .btn {
                position: relative;
                margin-top: -22px;
                padding: 6px 24px;
                font-size: 16px;
                font-weight: 500;
                white-space: nowrap;
                border: 0;

                .e-icon {
                    font-size: 12px;
                }
            }

            .btn--discount {
                color: #fff;
                background-color: var(--discount-color);
                background-image:
                linear-gradient(
                    90deg,
                    rgb(255 255 255 / 10%) 30%,
                    rgb(255 255 255 / 40%) 50%,
                    rgb(255 255 255 / 10%) 100%
                );

                &:hover {
                    background-image: none;
                }
            }
        }

        .c-swiper-thumbs {
            position: relative;

            @include md {
                padding-bottom: 20px;
            }

            .swiper-slide {
                cursor: pointer;
                @include transition;
                opacity: 0.6;

                &.swiper-slide-thumb-active {
                    opacity: 1;
                }
            }

            img {
                border-radius: 5px;
            }

            p {
                margin-top: 8px;
                font-size: 12px;
                line-height: 1.15;
                text-align: center;
            }
        }

        .c-swiper-button-prev,
        .c-swiper-button-next {
            height: 30px;
            margin-top: 15px;

            @include md {
                display: none;
            }
        }
    }

    // .header__general-links
    &__general-links {
        display: none;
        flex-direction: column;
        gap: 16px;
        padding: 30px 24px;
        border-top: 1px solid #8b8c8e;

        a {
            display: flex;
            gap: 6px;
            align-items: center;
            color: inherit;
        }

        .e-icon {
            font-size: 16px;
        }
    }

    .promo-animation {
        background-color: var(--discount-color);
        background-image:
            linear-gradient(
                90deg,
                rgb(255 255 255 / 0%) 30%,
                rgb(255 255 255 / 30%) 40%,
                rgb(255 255 255 / 60%) 50%,
                rgb(255 255 255 / 90%) 60%,
                rgb(255 255 255 / 60%) 70%,
                rgb(255 255 255 / 30%) 80%,
                rgb(255 255 255 / 0%) 100%
            );
        background-size: 400% 100%;
        background-clip: text;
        animation: flare 5s linear infinite;
        -webkit-text-fill-color: transparent;
    }

    // MOBILE MENU OPEN
    @at-root .menu-show {
        height: 100vh;

        #{$root} {
            height: calc(100vh - var(--height-bar));

            &__tabs {
                @include md {
                    display: flex;
                }

                & + #{$root}__content {
                    &:not([role="tabpanel"]) {
                        @include md {
                            display: block;
                        }
                    }
                }
            }

            &__content {
                &.show {
                    display: block;
                }
            }

            &__general-links {
                @include md {
                    display: flex;
                }
            }
        }
    }
}