<!-- PEEK CARDS SLIDER -->
{{#unless page-css }}
<link rel="stylesheet" href="sections/new/peek-cards-slider/peek-cards-slider.css" />
{{/unless}}
<section class="peek-cards-slider {{ classes }}">
    <div class="container">
        <article class="peek-cards-slider__content">
            <h2>{{ title }}</h2>
            {{> @partial-block}}
        </article>
    </div>
</section>
<!-- PEEK CARDS SLIDER END -->
