.hero-banner img{
  display:block;
  width:100%;
  height:auto;
}
.hero-banner--holidays{
  position:relative;
}
.hero-banner--holidays img{
  -o-object-fit:cover;
     object-fit:cover;
  min-height:220px;
}
.hero-banner--holidays article{
  position:absolute;
  top:50%;
  left:50%;
  z-index:1;
  display:flex;
  flex-direction:column;
  gap:10px;
  width:100%;
  max-width:545px;
  padding:42px 32px 28px;
  text-align:center;
  border-radius:20px;
  background:hsla(0,0%,100%,.5);
  transform:translate(-50%, -50%);
  -webkit-backdrop-filter:blur(5px);
          backdrop-filter:blur(5px);
}
.hero-banner--holidays article[data-badge]:before{
  position:absolute;
  bottom:100%;
  left:50%;
  margin-bottom:-14px;
  padding:4px 16px 3px;
  color:#fff;
  font-weight:500;
  line-height:20px;
  white-space:nowrap;
  text-transform:uppercase;
  border-radius:20px;
  background:var(--discount-color);
  transform:translateX(-50%);
  content:attr(data-badge);
}
@media screen and (max-width:767px){
  .hero-banner--holidays article{
    gap:0;
    max-width:327px;
    padding:32px 16px 20px;
    font-size:16px;
  }
  .hero-banner--holidays article h2{
    font-size:24px;
  }
  .hero-banner--holidays article[data-badge]:before{
    font-size:14px;
  }
}
