<!-- HERO BANNER -->
{{#unless page-css }}
    <link href="sections/new/hero-banner/hero-banner.css" rel="stylesheet" type="text/css">
{{/unless}}
<section class="hero-banner {{ classes }}">
    {{> @partial-block }}
</section>
<!-- HERO BANNER END -->
