<!-- LOGOS MARQUEE -->
<link rel="stylesheet" href="sections/new/logos-marquee/logos-marquee.css" />
<div class="logos-marquee">
    <div class="container">
        <ul class="logos-marquee__list">
            <li><img src="assets/images/vogue.svg" alt="Vogue" /></li>
            <li><img src="assets/images/womens-health.svg" alt="Womens health" /></li>
            <li><img src="assets/images/elle.webp" alt="Elle" /></li>
            <li><img src="assets/images/cosmopolitan.svg" alt="Cosmopolitan" /></li>
            <li><img src="assets/images/grazia.svg" alt="Grazia" /></li>
            <li><img src="assets/images/qq.svg" alt="GQ" /></li>
        </ul>
    </div>
</div>
<!-- LOGOS MARQUEE END -->
