.black_friday_wrapper {
    display: flex;
    align-items: center;
    gap: 20px;
    margin: 20px 0;
    flex-wrap: wrap;
}
.bf-text-black{
    color: #212428 !important;
}
.qure_bf_price{
    display: flex;
    justify-content: end;
    font-weight: 600;
}
.qure__subscription-btn.collapsed{
    align-items: center;
}
.qure__subscription-item .qure__subscription-btn + .qure__subscription-collapse {
    margin: 18px;
}
.qure__subscription-item .qure__subscription-btn {
    padding: 14px 18px !important;
}
.bundle_price .dis_red_line {
    position: relative;
    display: flex;
    gap: 6px;
}
.bef_price {
    color: var(--Charcoal-50, #8B8C8E);
}
.bundle_price .black_friday_price {
    font-weight: 600;
}
.bundle_price .black_friday_pricing {
    text-transform: uppercase;
}
body.product\.shower-filter-replacement .one_time_purchase .qure__subscription-btn{
    align-items: center;
}
body.product\.shower-filter-replacement .one_time_purchase .qure__subscription-collapse{
    display: none;
}

@media(max-width:767px){
    .bundle_price .black_friday_pricing {
        width: 100%;
    }
    .black_friday_wrapper {
        gap: 10px;
    }
}