.e-icon{
  display:inline-block;
  line-height:1;
}
.e-icon:before{
  font-family:icomoon;
  font-weight:400;
  font-style:normal;
  font-variant:normal;
  line-height:1;
  text-transform:none;
  vertical-align:top;
  -moz-osx-font-smoothing:grayscale;
  -webkit-font-smoothing:antialiased;
  speak:never;
}

.e-icon-chevron:before{
  content:"\e900";
}

.e-icon-checkmark:before{
  content:"\e901";
}

.e-icon-plus:before{
  content:"\e903";
}

.e-icon-minus:before{
  content:"\e902";
}

.e-icon-cross:before{
  content:"\e904";
}

.e-icon-arrow:before{
  content:"\e905";
}

.e-icon-qure:before{
  content:"\e906";
}

.e-icon-q:before{
  content:"\e907";
}

.e-icon-youtube:before{
  content:"\e90b";
}

.e-icon-instagram:before{
  content:"\e90a";
}

.e-icon-facebook:before{
  content:"\e909";
}

.e-icon-tiktok:before{
  content:"\e908";
}

.e-icon-i:before{
  content:"\e90c";
}

.e-icon-play:before{
  content:"\e90d";
}

.e-icon-stars:before{
  content:"\e920";
}

.e-icon-rating-fill:before{
  content:"\e921";
}

.e-icon-shipping-order:before{
  content:"\e90e";
}

.e-icon-shipping-order-hvr:before{
  content:"\e90f";
}

.e-icon-rejuvalight-pro-facewear:before{
  content:"\e911";
}

.e-icon-rejuvalight-pro-facewear-hvr:before{
  content:"\e910";
}

.e-icon-micro-infusion-system:before{
  content:"\e913";
}

.e-icon-micro-infusion-system-hvr:before{
  content:"\e912";
}

.e-icon-renew-lllt-helmet:before{
  content:"\e915";
}

.e-icon-renew-lllt-helmet-hvr:before{
  content:"\e914";
}

.e-icon-returns-exchanges:before{
  content:"\e917";
}

.e-icon-returns-exchanges-hvr:before{
  content:"\e916";
}

.e-icon-billing-payment:before{
  content:"\e919";
}

.e-icon-billing-payment-hvr:before{
  content:"\e918";
}

.e-icon-warranty:before{
  content:"\e91b";
}

.e-icon-warranty-hvr:before{
  content:"\e91a";
}

.e-icon-qure-app:before{
  content:"\e91d";
}

.e-icon-qure-app-hvr:before{
  content:"\e91c";
}

.e-icon-troubleshooting:before{
  content:"\e91f";
}

.e-icon-troubleshooting-hvr:before{
  content:"\e91e";
}

.c-subscribe-form{
  display:flex;
  flex-direction:column;
  gap:30px;
  align-items:center;
  width:100%;
  max-width:450px;
}
.c-subscribe-form h2{
  margin-bottom:0;
  color:inherit;
}
.c-subscribe-form form{
  display:flex;
  overflow:hidden;
  width:100%;
  border-radius:50px;
}
.c-subscribe-form input{
  width:100%;
  height:60px;
  padding-left:30px;
  color:#212428;
  font-size:20px;
  border:0;
  border-radius:0;
}
.c-subscribe-form input:focus{
  font-size:20px;
}
.c-subscribe-form button{
  flex:none;
  padding:0 30px 0 20px;
  font-size:20px;
  border:0;
  border-radius:0;
  background:#fff;
}

.c-follow-us{
  display:flex;
  flex-direction:column;
  gap:30px;
  align-items:center;
  width:100%;
  max-width:450px;
}
.c-follow-us h2{
  margin-bottom:0;
  color:inherit;
}
.c-follow-us ul{
  display:flex;
  gap:28px;
}
.c-follow-us a{
  display:block;
  color:inherit;
  font-size:35px;
}

.header{
  position:fixed;
  top:var(--height-bar);
  z-index:10;
  width:100%;
}

.footer-promo,.header{
  color:#fff;
  background:#212428;
}

.footer-promo{
  padding-top:30px;
  padding-bottom:35px;
}
.footer-promo__content{
  display:flex;
  gap:32px;
  max-width:980px;
  margin-left:auto;
}
.footer-promo .c-follow-us{
  align-content:center;
}

.footer hr{
  margin:0;
  color:#8b8c8e;
  opacity:1;
}
.footer__content{
  display:flex;
  flex-direction:column;
  gap:30px;
}
.footer__content-main{
  display:flex;
  gap:60px;
  align-items:flex-start;
}
.footer__logo{
  font-size:99px;
}
.footer__nav-column{
  width:100%;
  max-width:180px;
}
.footer__nav-column h6{
  margin-bottom:12px;
  color:#8b8c8e;
  font-family:inherit;
  font-weight:500;
  text-transform:uppercase;
  pointer-events:none;
}
.footer__nav-column h6:after{
  font-size:16px;
}
.footer__nav-column ul{
  display:flex;
  flex-direction:column;
  gap:12px;
}
.footer__nav-column a:hover{
  text-decoration:underline;
}
.footer__app{
  display:grid;
  grid-template-columns:auto;
  gap:12px;
  min-width:212px;
}
.footer__app h6{
  align-self:end;
  margin-bottom:0;
  color:inherit;
  font-family:inherit;
  font-weight:400;
}
.footer__app p{
  align-self:start;
}
.footer__app ul{
  display:flex;
  flex-direction:column;
  gap:10px;
}
.footer__app ul img{
  display:block;
  max-width:100%;
  height:auto;
  vertical-align:top;
}
.footer__content-bottom{
  display:flex;
  flex-direction:column;
  gap:12px;
}
.footer__copyright,.footer__copyright ul{
  display:flex;
  gap:20px;
}
.footer__copyright a:hover{
  text-decoration:underline;
}
.footer__disclaimer{
  max-width:750px;
  color:#8b8c8e;
  font-size:16px;
}
@media screen and (max-width:991px){
  .footer__content-main{
    flex-wrap:wrap;
    gap:24px;
  }
  .footer__logo{
    width:100%;
    font-size:60px;
    text-align:center;
  }
  .footer__nav-column{
    width:calc(33.33333% - 16px);
    max-width:none;
  }
  .footer__app{
    grid-template:repeat(2, auto)/1fr calc(33.33333% - 16px);
    align-items:center;
    width:100%;
  }
  .footer__app ul{
    grid-row:1 /  -1;
    grid-column:2;
  }
}
@media screen and (max-width:767px){
  .c-subscribe-form{
    gap:14px;
  }
  .c-subscribe-form input{
    height:56px;
    font-size:18px;
  }
  .c-subscribe-form button{
    font-size:16px;
  }
  .c-follow-us{
    gap:14px;
  }
  .footer-promo__content{
    align-items:center;
  }
  .footer-promo__content,.footer__content-main{
    flex-direction:column;
  }
  .footer__nav-column{
    width:100%;
    padding-right:6px;
    padding-left:6px;
    border-bottom:1px solid #8b8c8e;
  }
  .footer__nav-column h6{
    display:flex;
    align-items:center;
    justify-content:space-between;
    margin-bottom:0;
    padding-bottom:20px;
    font-weight:400;
    cursor:pointer;
    pointer-events:all;
  }
  .footer__nav-column h6:after{
    font-family:icomoon;
    font-weight:400;
    font-style:normal;
    font-variant:normal;
    line-height:1;
    text-transform:none;
    vertical-align:top;
    -moz-osx-font-smoothing:grayscale;
    -webkit-font-smoothing:antialiased;
    speak:never;
    content:"\e903";
  }
  .footer__nav-column h6.active:after{
    content:"\e902";
  }
  .footer__nav-column ul{
    gap:8px;
    overflow:hidden;
    height:0;
    transition:height .2s ease-in-out;
  }
  .footer__nav-column li:last-child{
    margin-bottom:25px;
  }
  .footer__app{
    grid-template-columns:1fr 120px;
    padding-top:6px;
  }
  .footer__copyright{
    flex-direction:column;
    gap:8px;
    font-size:16px;
  }
}
