.e-pill-badge{
  display:flex;
  gap:10px;
  align-items:center;
  width:-webkit-max-content;
  width:-moz-max-content;
  width:max-content;
  padding:10px 20px;
  color:#8b8c8e;
  font-size:18px;
  font-weight:500;
  letter-spacing:.32px;
  text-transform:capitalize;
  border-radius:30px;
  background:#f6f6f7;
}
.e-pill-badge .e-checkmark{
  font-size:20px;
}

.e-checkmark{
  width:1em;
  height:1em;
  color:#212428;
  line-height:1em;
  text-align:center;
  border-radius:50%;
  background:#c7e5db;
}
.e-checkmark:before{
  font-family:icomoon;
  font-weight:400;
  font-style:normal;
  font-variant:normal;
  line-height:1;
  text-transform:none;
  -moz-osx-font-smoothing:grayscale;
  -webkit-font-smoothing:antialiased;
  speak:never;
  font-size:.35em;
  line-height:inherit;
  vertical-align:top;
  content:"\e901";
}

.e-icon{
  display:inline-block;
  line-height:1;
}
.e-icon:before{
  font-family:icomoon;
  font-weight:400;
  font-style:normal;
  font-variant:normal;
  line-height:1;
  text-transform:none;
  vertical-align:top;
  -moz-osx-font-smoothing:grayscale;
  -webkit-font-smoothing:antialiased;
  speak:never;
}

.e-icon-chevron:before{
  content:"\e900";
}

.e-icon-checkmark:before{
  content:"\e901";
}

.e-icon-plus:before{
  content:"\e903";
}

.e-icon-minus:before{
  content:"\e902";
}

.e-icon-cross:before{
  content:"\e904";
}

.e-icon-arrow:before{
  content:"\e905";
}

.e-icon-qure:before{
  content:"\e906";
}

.e-icon-q:before{
  content:"\e907";
}

.e-icon-youtube:before{
  content:"\e90b";
}

.e-icon-instagram:before{
  content:"\e90a";
}

.e-icon-facebook:before{
  content:"\e909";
}

.e-icon-tiktok:before{
  content:"\e908";
}

.e-icon-i:before{
  content:"\e90c";
}

.e-icon-play:before{
  content:"\e90d";
}

.c-certified-box{
  display:grid;
  grid-template-columns:-webkit-max-content 1fr;
  grid-template-columns:max-content 1fr;
  gap:10px;
  align-items:center;
  max-width:415px;
  padding:10px 20px;
  font-size:14px;
  line-height:18px;
  text-align:left;
  border-radius:5px;
  background:#f6f6f7;
}
.c-certified-box ul{
  display:flex;
  align-items:center;
}
.c-certified-box ul li{
  display:inline-flex;
  align-items:center;
  justify-content:center;
  overflow:hidden;
  width:32px;
  height:32px;
  font-size:12px;
  font-weight:600;
  border:1px solid #f6f6f7;
  border-radius:50%;
  background:#c8e6dc;
}
.c-certified-box ul li+li{
  margin-left:-8px;
}
.c-certified-box ul li img{
  width:inherit;
  max-height:inherit;
}
.c-certified-box--light{
  background:#fff;
}

.c-swiper{
  overflow:hidden;
  margin-right:-16px;
  margin-left:-16px;
  padding-right:16px;
  padding-left:16px;
}
.c-swiper .swiper-slide picture[data-url],.c-swiper .swiper-slide picture[data-video-id]{
  cursor:pointer;
}
.c-swiper .swiper-slide img{
  max-width:100%;
  height:auto;
  vertical-align:top;
}
.c-swiper-nav{
  display:flex;
  gap:20px;
  align-items:center;
  justify-content:center;
  margin-top:30px;
}
.c-swiper-nav-disabled .c-swiper-nav{
  display:none;
}
.c-swiper-pagination{
  display:flex;
  gap:10px;
  width:auto;
}
.c-swiper-button-next,.c-swiper-button-prev{
  display:flex;
  flex:0 0 40px;
  align-items:center;
  justify-content:center;
  height:40px;
  color:#212428;
  font-size:12px;
  border:1px solid;
  border-radius:50px;
  background:#fff;
  cursor:pointer;
  transition:.3s;
}
.c-swiper-button-next:after,.c-swiper-button-prev:after{
  font-family:icomoon;
  font-weight:400;
  font-style:normal;
  font-variant:normal;
  line-height:1;
  text-transform:none;
  vertical-align:top;
  -moz-osx-font-smoothing:grayscale;
  -webkit-font-smoothing:antialiased;
  speak:never;
  content:"\e900";
}
.c-swiper-button-next:hover,.c-swiper-button-prev:hover{
  border-color:#c8e6dc;
  background:#c8e6dc;
}
.c-swiper-button-next.swiper-button-disabled,.c-swiper-button-prev.swiper-button-disabled{
  color:#8b8c8e;
  pointer-events:none;
  opacity:.3;
}
.c-swiper-button-prev:after{
  transform:rotate(-180deg);
}

.c-trusted-video-card{
  overflow:hidden;
  border:1px solid #dfe0e0;
  border-radius:10px;
}
.c-trusted-video-card picture{
  display:block;
}
.c-trusted-video-card picture[data-url],.c-trusted-video-card picture[data-video-id]{
  cursor:pointer;
}
.c-trusted-video-card img{
  display:block;
  width:100%;
  height:auto;
}
.c-trusted-video-card p{
  margin:0;
}
.c-trusted-video-card p:has(.e-checkmark){
  display:flex;
  gap:6px;
  align-items:center;
}
.c-trusted-video-card article{
  display:flex;
  flex-direction:column;
  gap:16px;
  min-height:200px;
  padding:24px;
  font-size:20px;
}
.c-trusted-video-card article div{
  display:flex;
  flex-direction:column;
  margin-top:auto;
  font-size:16px;
}
.c-trusted-video-card .e-checkmark{
  font-size:14px;
}

.c-visual-compare-card{
  display:flex;
  flex-direction:column;
  gap:24px;
  overflow:hidden;
  padding:24px;
  border:1px solid #dfe0e0;
  border-radius:10px;
}
.c-visual-compare-card picture img{
  display:block;
  width:100%;
  height:auto;
}
.c-visual-compare-card article{
  display:flex;
  gap:16px;
  align-items:center;
  justify-content:center;
}
.c-visual-compare-card article span{
  padding:6px 20px;
  border-radius:30px;
  background:#c8e6dc;
}

.c-advisory-collapse-card{
  overflow:hidden;
}
.c-advisory-collapse-card picture{
  display:block;
  transition:opacity .3s;
  opacity:.55;
}
.c-advisory-collapse-card img{
  width:100%;
  display:block;
  max-width:100%;
  height:auto;
  border-radius:10px;
}
.c-advisory-collapse-card article{
  position:relative;
  cursor:pointer;
}
.c-advisory-collapse-card article:after{
  position:absolute;
  right:20px;
  bottom:20px;
  width:30px;
  height:30px;
  font-family:icomoon;
  font-weight:400;
  font-style:normal;
  font-variant:normal;
  line-height:1;
  text-transform:none;
  vertical-align:top;
  -moz-osx-font-smoothing:grayscale;
  -webkit-font-smoothing:antialiased;
  speak:never;
  line-height:30px;
  text-align:center;
  border-radius:30px;
  background:#fff;
  content:"\e903";
}
.c-advisory-collapse-card article:hover picture,.c-advisory-collapse-card article[aria-expanded=true] picture{
  opacity:1;
}
.c-advisory-collapse-card article[aria-expanded=true]:after{
  content:"\e902";
}
.c-advisory-collapse-card article p{
  position:absolute;
  right:65px;
  bottom:20px;
  left:20px;
  color:#fff;
  font-size:16px;
}
.c-advisory-collapse-card article p:first-line{
  font-size:20px;
  font-weight:500;
}
.c-advisory-collapse-card .collapse:not(.show){
  display:none;
}
.c-advisory-collapse-card .collapse p{
  width:100%;
  margin:0;
  padding:20px 10px 10px;
}

.c-modal{
  position:fixed;
  top:0;
  left:0;
  z-index:1055;
  display:none;
  overflow:hidden auto;
  width:100%;
  height:100%;
  outline:0;
}
.c-modal .modal-header{
  padding:10px;
  border:0;
}
.c-modal .modal-header .btn-close{
  padding:5px;
  color:#fff;
  font-size:14px;
  line-height:1;
}
.c-modal .modal-header .btn-close:hover{
  color:#212428;
}
.c-modal .modal-header .btn-close:after{
  font-family:icomoon;
  font-weight:400;
  font-style:normal;
  font-variant:normal;
  line-height:1;
  text-transform:none;
  -moz-osx-font-smoothing:grayscale;
  -webkit-font-smoothing:antialiased;
  speak:never;
  vertical-align:top;
  content:"\e904";
}
.c-modal--light .modal-dialog{
  display:flex;
  align-items:center;
  height:calc(100% - var(--bs-modal-margin)*2);
}
.c-modal--light .modal-header{
  height:30px;
  padding:0;
}
.c-modal--light .modal-header .btn-close{
  position:absolute;
  top:8px;
  right:8px;
  z-index:1;
  margin:0;
  color:#212428;
  font-size:20px;
  border:0;
  outline:none;
  background:none;
}
.c-modal--light .modal-header .btn-close:hover{
  background:#c8e6dc;
}
.c-modal--light .modal-content{
  border-radius:0;
}
.c-modal--light .modal-body{
  padding:0 16px 32px;
}
.c-modal--wistia .modal-dialog{
  max-width:500px;
  margin-top:0;
  margin-bottom:0;
}
.c-modal--wistia .modal-content{
  border:none;
  background:transparent;
}
.c-modal--wistia .modal-body{
  overflow:hidden;
  padding:0;
  border-radius:10px;
}
.c-modal--wistia .c-modal__video{
  overflow:hidden;
  max-width:400px;
  margin:0 auto;
  border-radius:10px;
}

.c-pills-nav{
  display:flex;
  gap:16px;
  overflow:auto hidden;
  max-width:-webkit-max-content;
  max-width:-moz-max-content;
  max-width:max-content;
  margin-right:auto;
  margin-left:auto;
  font-size:16px;
  -ms-overflow-style:none;
  scrollbar-width:none;
}
.c-pills-nav::-webkit-scrollbar{
  display:none;
}
.c-pills-nav a{
  display:inline-block;
  padding:5px 20px;
  color:#212428;
  border:1px solid currentcolor;
  border-radius:100px;
  background:transparent;
  transition:.3s;
}
.c-pills-nav a.active,.c-pills-nav a:hover{
  color:#fff;
  border-color:#212428;
  background-color:#212428;
}
.c-pills-nav a.active{
  pointer-events:none;
}
.c-pills-nav a{
  white-space:nowrap;
}
.page\.all-in-one-face-serum-creative-content-guide .sections-stack,.page\.derm-reviews .sections-stack,.page\.dermal-mist-brief .sections-stack,.page\.face-serum-reviews .sections-stack,.page\.faucet-creative-brief .sections-stack,.page\.faucet-online-guide .sections-stack,.page\.micro-infusion-brief .sections-stack,.page\.micro-infusion-patches-content-guide .sections-stack,.page\.micro-infusion-targeted-patches-reviews .sections-stack,.page\.microinfusion-safety-guide .sections-stack,.page\.microinfusion-safety-guide-v15 .sections-stack,.page\.n-d-quickstart-guide .sections-stack,.page\.neck-decolletage-led-pro-content-guide .sections-stack,.page\.neck-decolletage-led-reviews .sections-stack,.page\.q-rejuvalight-pro-led-mask-guide .sections-stack,.page\.q-rejuvalight-pro-reviews .sections-stack,.page\.q-rejuvalight-pro-welcome .sections-stack,.page\.shower-creative-brief .sections-stack,.page\.shower-filter-online-guide .sections-stack,.page\.sunil-micro-mask-guide .sections-stack{
  padding-top:60px;
  padding-bottom:60px;
}
.page\.all-in-one-face-serum-creative-content-guide .sections-stack,.page\.all-in-one-face-serum-creative-content-guide .sections-stack__sub-stack,.page\.derm-reviews .sections-stack,.page\.derm-reviews .sections-stack__sub-stack,.page\.dermal-mist-brief .sections-stack,.page\.dermal-mist-brief .sections-stack__sub-stack,.page\.face-serum-reviews .sections-stack,.page\.face-serum-reviews .sections-stack__sub-stack,.page\.faucet-creative-brief .sections-stack,.page\.faucet-creative-brief .sections-stack__sub-stack,.page\.faucet-online-guide .sections-stack,.page\.faucet-online-guide .sections-stack__sub-stack,.page\.micro-infusion-brief .sections-stack,.page\.micro-infusion-brief .sections-stack__sub-stack,.page\.micro-infusion-patches-content-guide .sections-stack,.page\.micro-infusion-patches-content-guide .sections-stack__sub-stack,.page\.micro-infusion-targeted-patches-reviews .sections-stack,.page\.micro-infusion-targeted-patches-reviews .sections-stack__sub-stack,.page\.microinfusion-safety-guide .sections-stack,.page\.microinfusion-safety-guide .sections-stack__sub-stack,.page\.microinfusion-safety-guide-v15 .sections-stack,.page\.microinfusion-safety-guide-v15 .sections-stack__sub-stack,.page\.n-d-quickstart-guide .sections-stack,.page\.n-d-quickstart-guide .sections-stack__sub-stack,.page\.neck-decolletage-led-pro-content-guide .sections-stack,.page\.neck-decolletage-led-pro-content-guide .sections-stack__sub-stack,.page\.neck-decolletage-led-reviews .sections-stack,.page\.neck-decolletage-led-reviews .sections-stack__sub-stack,.page\.q-rejuvalight-pro-led-mask-guide .sections-stack,.page\.q-rejuvalight-pro-led-mask-guide .sections-stack__sub-stack,.page\.q-rejuvalight-pro-reviews .sections-stack,.page\.q-rejuvalight-pro-reviews .sections-stack__sub-stack,.page\.q-rejuvalight-pro-welcome .sections-stack,.page\.q-rejuvalight-pro-welcome .sections-stack__sub-stack,.page\.shower-creative-brief .sections-stack,.page\.shower-creative-brief .sections-stack__sub-stack,.page\.shower-filter-online-guide .sections-stack,.page\.shower-filter-online-guide .sections-stack__sub-stack,.page\.sunil-micro-mask-guide .sections-stack,.page\.sunil-micro-mask-guide .sections-stack__sub-stack{
  display:flex;
  flex-direction:column;
  gap:60px;
}
.page\.all-in-one-face-serum-creative-content-guide .sections-stack:has(.guide-menu),.page\.derm-reviews .sections-stack:has(.guide-menu),.page\.dermal-mist-brief .sections-stack:has(.guide-menu),.page\.face-serum-reviews .sections-stack:has(.guide-menu),.page\.faucet-creative-brief .sections-stack:has(.guide-menu),.page\.faucet-online-guide .sections-stack:has(.guide-menu),.page\.micro-infusion-brief .sections-stack:has(.guide-menu),.page\.micro-infusion-patches-content-guide .sections-stack:has(.guide-menu),.page\.micro-infusion-targeted-patches-reviews .sections-stack:has(.guide-menu),.page\.microinfusion-safety-guide .sections-stack:has(.guide-menu),.page\.microinfusion-safety-guide-v15 .sections-stack:has(.guide-menu),.page\.n-d-quickstart-guide .sections-stack:has(.guide-menu),.page\.neck-decolletage-led-pro-content-guide .sections-stack:has(.guide-menu),.page\.neck-decolletage-led-reviews .sections-stack:has(.guide-menu),.page\.q-rejuvalight-pro-led-mask-guide .sections-stack:has(.guide-menu),.page\.q-rejuvalight-pro-reviews .sections-stack:has(.guide-menu),.page\.q-rejuvalight-pro-welcome .sections-stack:has(.guide-menu),.page\.shower-creative-brief .sections-stack:has(.guide-menu),.page\.shower-filter-online-guide .sections-stack:has(.guide-menu),.page\.sunil-micro-mask-guide .sections-stack:has(.guide-menu){
  flex-flow:row wrap;
}
.page\.all-in-one-face-serum-creative-content-guide .sections-stack:has(.guide-menu) .across-image-banner,.page\.all-in-one-face-serum-creative-content-guide .sections-stack:has(.guide-menu) .base-section,.page\.all-in-one-face-serum-creative-content-guide .sections-stack:has(.guide-menu) .shopify-section,.page\.derm-reviews .sections-stack:has(.guide-menu) .across-image-banner,.page\.derm-reviews .sections-stack:has(.guide-menu) .base-section,.page\.derm-reviews .sections-stack:has(.guide-menu) .shopify-section,.page\.dermal-mist-brief .sections-stack:has(.guide-menu) .across-image-banner,.page\.dermal-mist-brief .sections-stack:has(.guide-menu) .base-section,.page\.dermal-mist-brief .sections-stack:has(.guide-menu) .shopify-section,.page\.face-serum-reviews .sections-stack:has(.guide-menu) .across-image-banner,.page\.face-serum-reviews .sections-stack:has(.guide-menu) .base-section,.page\.face-serum-reviews .sections-stack:has(.guide-menu) .shopify-section,.page\.faucet-creative-brief .sections-stack:has(.guide-menu) .across-image-banner,.page\.faucet-creative-brief .sections-stack:has(.guide-menu) .base-section,.page\.faucet-creative-brief .sections-stack:has(.guide-menu) .shopify-section,.page\.faucet-online-guide .sections-stack:has(.guide-menu) .across-image-banner,.page\.faucet-online-guide .sections-stack:has(.guide-menu) .base-section,.page\.faucet-online-guide .sections-stack:has(.guide-menu) .shopify-section,.page\.micro-infusion-brief .sections-stack:has(.guide-menu) .across-image-banner,.page\.micro-infusion-brief .sections-stack:has(.guide-menu) .base-section,.page\.micro-infusion-brief .sections-stack:has(.guide-menu) .shopify-section,.page\.micro-infusion-patches-content-guide .sections-stack:has(.guide-menu) .across-image-banner,.page\.micro-infusion-patches-content-guide .sections-stack:has(.guide-menu) .base-section,.page\.micro-infusion-patches-content-guide .sections-stack:has(.guide-menu) .shopify-section,.page\.micro-infusion-targeted-patches-reviews .sections-stack:has(.guide-menu) .across-image-banner,.page\.micro-infusion-targeted-patches-reviews .sections-stack:has(.guide-menu) .base-section,.page\.micro-infusion-targeted-patches-reviews .sections-stack:has(.guide-menu) .shopify-section,.page\.microinfusion-safety-guide .sections-stack:has(.guide-menu) .across-image-banner,.page\.microinfusion-safety-guide .sections-stack:has(.guide-menu) .base-section,.page\.microinfusion-safety-guide .sections-stack:has(.guide-menu) .shopify-section,.page\.microinfusion-safety-guide-v15 .sections-stack:has(.guide-menu) .across-image-banner,.page\.microinfusion-safety-guide-v15 .sections-stack:has(.guide-menu) .base-section,.page\.microinfusion-safety-guide-v15 .sections-stack:has(.guide-menu) .shopify-section,.page\.n-d-quickstart-guide .sections-stack:has(.guide-menu) .across-image-banner,.page\.n-d-quickstart-guide .sections-stack:has(.guide-menu) .base-section,.page\.n-d-quickstart-guide .sections-stack:has(.guide-menu) .shopify-section,.page\.neck-decolletage-led-pro-content-guide .sections-stack:has(.guide-menu) .across-image-banner,.page\.neck-decolletage-led-pro-content-guide .sections-stack:has(.guide-menu) .base-section,.page\.neck-decolletage-led-pro-content-guide .sections-stack:has(.guide-menu) .shopify-section,.page\.neck-decolletage-led-reviews .sections-stack:has(.guide-menu) .across-image-banner,.page\.neck-decolletage-led-reviews .sections-stack:has(.guide-menu) .base-section,.page\.neck-decolletage-led-reviews .sections-stack:has(.guide-menu) .shopify-section,.page\.q-rejuvalight-pro-led-mask-guide .sections-stack:has(.guide-menu) .across-image-banner,.page\.q-rejuvalight-pro-led-mask-guide .sections-stack:has(.guide-menu) .base-section,.page\.q-rejuvalight-pro-led-mask-guide .sections-stack:has(.guide-menu) .shopify-section,.page\.q-rejuvalight-pro-reviews .sections-stack:has(.guide-menu) .across-image-banner,.page\.q-rejuvalight-pro-reviews .sections-stack:has(.guide-menu) .base-section,.page\.q-rejuvalight-pro-reviews .sections-stack:has(.guide-menu) .shopify-section,.page\.q-rejuvalight-pro-welcome .sections-stack:has(.guide-menu) .across-image-banner,.page\.q-rejuvalight-pro-welcome .sections-stack:has(.guide-menu) .base-section,.page\.q-rejuvalight-pro-welcome .sections-stack:has(.guide-menu) .shopify-section,.page\.shower-creative-brief .sections-stack:has(.guide-menu) .across-image-banner,.page\.shower-creative-brief .sections-stack:has(.guide-menu) .base-section,.page\.shower-creative-brief .sections-stack:has(.guide-menu) .shopify-section,.page\.shower-filter-online-guide .sections-stack:has(.guide-menu) .across-image-banner,.page\.shower-filter-online-guide .sections-stack:has(.guide-menu) .base-section,.page\.shower-filter-online-guide .sections-stack:has(.guide-menu) .shopify-section,.page\.sunil-micro-mask-guide .sections-stack:has(.guide-menu) .across-image-banner,.page\.sunil-micro-mask-guide .sections-stack:has(.guide-menu) .base-section,.page\.sunil-micro-mask-guide .sections-stack:has(.guide-menu) .shopify-section{
  width:100%;
}

.page\.all-in-one-face-serum-creative-content-guide .sections-stack,.page\.derm-reviews .sections-stack,.page\.dermal-mist-brief .sections-stack,.page\.face-serum-reviews .sections-stack,.page\.faucet-creative-brief .sections-stack,.page\.faucet-online-guide .sections-stack,.page\.micro-infusion-brief .sections-stack,.page\.micro-infusion-patches-content-guide .sections-stack,.page\.micro-infusion-targeted-patches-reviews .sections-stack,.page\.microinfusion-safety-guide .sections-stack,.page\.microinfusion-safety-guide-v15 .sections-stack,.page\.n-d-quickstart-guide .sections-stack,.page\.neck-decolletage-led-pro-content-guide .sections-stack,.page\.neck-decolletage-led-reviews .sections-stack,.page\.q-rejuvalight-pro-led-mask-guide .sections-stack,.page\.q-rejuvalight-pro-reviews .sections-stack,.page\.shower-creative-brief .sections-stack,.page\.shower-filter-online-guide .sections-stack,.page\.sunil-micro-mask-guide .sections-stack{
  padding-top:0;
}

.page\.all-in-one-face-serum-creative-content-guide .sections-stack,.page\.dermal-mist-brief .sections-stack,.page\.faucet-creative-brief .sections-stack,.page\.micro-infusion-brief .sections-stack,.page\.neck-decolletage-led-pro-content-guide .sections-stack,.page\.q-rejuvalight-pro-led-mask-guide .sections-stack,.page\.q-rejuvalight-pro-welcome .sections-stack,.page\.shower-creative-brief .sections-stack{
  padding-bottom:0;
}

.base-section article{
  display:grid;
  grid-template-rows:auto minmax(-webkit-min-content, 0) auto;
  grid-template-rows:auto minmax(min-content, 0) auto;
  grid-template-columns:repeat(2, 1fr);
  gap:20px 60px;
  align-items:center;
  min-height:0;
}
.base-section article>h1,.base-section article>h2{
  align-self:end;
  margin-bottom:0;
  color:inherit;
}
.base-section article p em{
  font-style:normal;
  background:#c7e5db;
}
.base-section article p a{
  color:inherit;
  text-decoration:underline;
}
.base-section article p a:hover{
  text-decoration:none;
}
.base-section:has(.e-pill-badge) article h2{
  align-self:center;
}
.base-section:has(.e-pill-badge) article>div:not(.e-pill-badge){
  align-self:start;
}
.base-section:has(.e-pill-badge) .e-pill-badge{
  grid-row:1 /  1;
  align-self:end;
}

.base-section article .btn{
  align-self:start;
  width:-webkit-max-content;
  width:-moz-max-content;
  width:max-content;
  margin-top:8px;
}
.base-section picture{
  grid-row:1 /  -1;
  grid-column:2;
}
.base-section picture[data-url]{
  cursor:pointer;
}
.base-section picture img{
  display:block;
  width:100%;
  height:auto;
  border-radius:10px;
}
.base-section--small-media article{
  grid-template-columns:1fr 400px;
}
.base-section--small-media.base-section--reverse article{
  grid-template-columns:400px 1fr;
}
.base-section--half-media .container{
  margin-right:0;
  padding-right:0;
}
.base-section--half-media article{
  grid-template-columns:1fr 50vw;
}
.base-section--half-media article img{
  -o-object-fit:cover;
     object-fit:cover;
  max-height:600px;
  border-radius:0;
}
.base-section--half-media.base-section--reverse .container{
  margin-right:auto;
  margin-left:0;
  padding-right:15px;
  padding-left:0;
}
.base-section--half-media.base-section--reverse article{
  grid-template-columns:50vw 1fr;
}
.base-section--reverse picture{
  grid-column:1;
}
.base-section--grey{
  padding-top:60px;
  padding-bottom:60px;
  background:#f6f6f7;
}
.base-section--grey .e-pill-badge{
  background:#fff;
}
.base-section--dark{
  color:#fff;
  background:#212428;
}

.base-slider{
  text-align:center;
}
.base-slider h2{
  margin-bottom:0;
}
.base-slider h2+p{
  max-width:800px;
  margin:24px auto 0;
}
.base-slider .c-swiper{
  text-align:initial;
}
.base-slider .c-swiper:not(:first-child){
  margin-top:40px;
}
.base-slider--two-cards .container{
  max-width:1022px;
}
.base-slider--tree-cards .container{
  max-width:1082px;
}

.pills-nav__header{
  display:none;
  justify-content:space-between;
  margin-bottom:10px;
  font-size:16px;
}
.pills-nav__header div{
  display:flex;
  gap:6px;
  align-items:center;
}
.pills-nav__header .e-icon{
  font-size:12px;
}

.e-discount-badge{
  display:flex;
  flex-direction:column;
  gap:6px;
  align-items:center;
  justify-content:center;
  width:1em;
  height:1em;
  color:#fff;
  font-weight:500;
  line-height:1;
  border-radius:100px;
  background:var(--discount-color, #212428);
}
.e-discount-badge span{
  font-size:.41em;
  line-height:.8;
}
.e-discount-badge:after,.e-discount-badge:before{
  font-size:.145em;
  text-transform:uppercase;
}
.e-discount-badge:before{
  content:attr(data-text-top);
}
.e-discount-badge:after{
  content:attr(data-text-bottom);
}

.across-image-banner{
  position:relative;
  z-index:1;
}
.across-image-banner .container{
  display:flex;
  flex-direction:column;
  justify-content:center;
  height:34.7222222222vw;
  max-height:500px;
}
.across-image-banner picture{
  position:absolute;
  inset:0;
  z-index:-1;
}
.across-image-banner picture img{
  display:block;
  -o-object-fit:cover;
     object-fit:cover;
  width:100%;
  height:100%;
}
.across-image-banner article{
  display:flex;
  flex-direction:column;
  gap:16px;
  width:100%;
  max-width:550px;
  padding-top:60px;
  padding-bottom:60px;
}
.across-image-banner article h1,.across-image-banner article h2{
  margin-bottom:0;
  color:inherit;
}
.across-image-banner article .btn{
  margin-top:5px;
}
.across-image-banner--hero .c-certified-box{
  background:#fff;
}
.across-image-banner--reverse .container{
  align-items:flex-end;
  height:27.7777777778vw;
  max-height:400px;
}
.across-image-banner--reverse .container article{
  max-width:605px;
  font-size:16px;
}
.across-image-banner--reverse .container article h6{
  margin-bottom:0;
  color:inherit;
  font-family:inherit;
  font-size:inherit;
  font-weight:600;
}
.across-image-banner--reverse .container article h6+p{
  margin-top:-16px;
}
.page\.dermal-mist-brief .across-image-banner--reverse article,.page\.faucet-creative-brief .across-image-banner--reverse article,.page\.micro-infusion-brief .across-image-banner--reverse article,.page\.shower-creative-brief .across-image-banner--reverse article{
  max-width:440px;
}

.page\.microinfusion-safety-guide .across-image-banner--reverse .container,.page\.microinfusion-safety-guide-v15 .across-image-banner--reverse .container{
  position:relative;
}
.page\.microinfusion-safety-guide .across-image-banner--reverse article,.page\.microinfusion-safety-guide-v15 .across-image-banner--reverse article{
  max-width:480px;
}
.page\.microinfusion-safety-guide .across-image-banner--reverse article h1,.page\.microinfusion-safety-guide .across-image-banner--reverse article p,.page\.microinfusion-safety-guide-v15 .across-image-banner--reverse article h1,.page\.microinfusion-safety-guide-v15 .across-image-banner--reverse article p{
  max-width:340px;
}
.page\.microinfusion-safety-guide .across-image-banner--reverse figure,.page\.microinfusion-safety-guide-v15 .across-image-banner--reverse figure{
  position:absolute;
  right:-40px;
  bottom:-60px;
  width:210px;
}
.page\.microinfusion-safety-guide .across-image-banner--reverse figure img,.page\.microinfusion-safety-guide-v15 .across-image-banner--reverse figure img{
  max-width:100%;
  height:auto;
}

.page\.all-in-one-face-serum-creative-content-guide .across-image-banner--reverse article,.page\.q-rejuvalight-pro-led-mask-guide .across-image-banner--reverse article{
  max-width:480px;
}

.across-image-banner--holidays .container{
  height:38.1944444444vw;
  max-height:550px;
}
.across-image-banner--holidays article{
  display:flex;
  align-items:center;
  max-width:500px;
  text-align:center;
}
.across-image-banner--holidays h1{
  white-space:nowrap;
}
.across-image-banner--holidays p{
  max-width:330px;
}
.across-image-banner--holidays .btn{
  width:100%;
  max-width:400px;
}
.across-image-banner--holidays .e-discount-badge{
  position:absolute;
  top:65px;
  right:38px;
  font-size:140px;
}
@media screen and (min-width:1200px){
  .base-section--half-media .container{
    max-width:calc(100% - 50vw + 593.5px);
  }
}
@media screen and (min-width:1400px){
  .base-section--half-media .container{
    max-width:calc(100% - 50vw + 623.5px);
  }
}
@media screen and (max-width:1199px){
  .page\.microinfusion-safety-guide .across-image-banner--reverse article,.page\.microinfusion-safety-guide-v15 .across-image-banner--reverse article{
    max-width:540px;
  }
  .page\.microinfusion-safety-guide .across-image-banner--reverse figure,.page\.microinfusion-safety-guide-v15 .across-image-banner--reverse figure{
    right:16px;
  }
}
@media screen and (max-width:1120px){
  .page\.microinfusion-safety-guide .across-image-banner--reverse figure,.page\.microinfusion-safety-guide-v15 .across-image-banner--reverse figure{
    bottom:-40px;
  }
  .across-image-banner--holidays .e-discount-badge{
    top:40px;
    right:16px;
    font-size:90px;
  }
}
@media screen and (max-width:991px){
  .c-visual-compare-card{
    gap:16px;
    padding:16px;
  }
  .c-visual-compare-card article{
    flex-direction:column;
    gap:10px;
  }
  .c-pills-nav{
    gap:8px;
  }
  .page\.all-in-one-face-serum-creative-content-guide .sections-stack,.page\.all-in-one-face-serum-creative-content-guide .sections-stack__sub-stack,.page\.derm-reviews .sections-stack,.page\.derm-reviews .sections-stack__sub-stack,.page\.dermal-mist-brief .sections-stack,.page\.dermal-mist-brief .sections-stack__sub-stack,.page\.face-serum-reviews .sections-stack,.page\.face-serum-reviews .sections-stack__sub-stack,.page\.faucet-creative-brief .sections-stack,.page\.faucet-creative-brief .sections-stack__sub-stack,.page\.faucet-online-guide .sections-stack,.page\.faucet-online-guide .sections-stack__sub-stack,.page\.micro-infusion-brief .sections-stack,.page\.micro-infusion-brief .sections-stack__sub-stack,.page\.micro-infusion-patches-content-guide .sections-stack,.page\.micro-infusion-patches-content-guide .sections-stack__sub-stack,.page\.micro-infusion-targeted-patches-reviews .sections-stack,.page\.micro-infusion-targeted-patches-reviews .sections-stack__sub-stack,.page\.microinfusion-safety-guide .sections-stack,.page\.microinfusion-safety-guide .sections-stack__sub-stack,.page\.microinfusion-safety-guide-v15 .sections-stack,.page\.microinfusion-safety-guide-v15 .sections-stack__sub-stack,.page\.n-d-quickstart-guide .sections-stack,.page\.n-d-quickstart-guide .sections-stack__sub-stack,.page\.neck-decolletage-led-pro-content-guide .sections-stack,.page\.neck-decolletage-led-pro-content-guide .sections-stack__sub-stack,.page\.neck-decolletage-led-reviews .sections-stack,.page\.neck-decolletage-led-reviews .sections-stack__sub-stack,.page\.q-rejuvalight-pro-led-mask-guide .sections-stack,.page\.q-rejuvalight-pro-led-mask-guide .sections-stack__sub-stack,.page\.q-rejuvalight-pro-reviews .sections-stack,.page\.q-rejuvalight-pro-reviews .sections-stack__sub-stack,.page\.q-rejuvalight-pro-welcome .sections-stack,.page\.q-rejuvalight-pro-welcome .sections-stack__sub-stack,.page\.shower-creative-brief .sections-stack,.page\.shower-creative-brief .sections-stack__sub-stack,.page\.shower-filter-online-guide .sections-stack,.page\.shower-filter-online-guide .sections-stack__sub-stack,.page\.sunil-micro-mask-guide .sections-stack,.page\.sunil-micro-mask-guide .sections-stack__sub-stack{
    gap:40px;
  }
  .page\.all-in-one-face-serum-creative-content-guide .sections-stack:has(.guide-menu) .intro-section,.page\.derm-reviews .sections-stack:has(.guide-menu) .intro-section,.page\.dermal-mist-brief .sections-stack:has(.guide-menu) .intro-section,.page\.face-serum-reviews .sections-stack:has(.guide-menu) .intro-section,.page\.faucet-creative-brief .sections-stack:has(.guide-menu) .intro-section,.page\.faucet-online-guide .sections-stack:has(.guide-menu) .intro-section,.page\.micro-infusion-brief .sections-stack:has(.guide-menu) .intro-section,.page\.micro-infusion-patches-content-guide .sections-stack:has(.guide-menu) .intro-section,.page\.micro-infusion-targeted-patches-reviews .sections-stack:has(.guide-menu) .intro-section,.page\.microinfusion-safety-guide .sections-stack:has(.guide-menu) .intro-section,.page\.microinfusion-safety-guide-v15 .sections-stack:has(.guide-menu) .intro-section,.page\.n-d-quickstart-guide .sections-stack:has(.guide-menu) .intro-section,.page\.neck-decolletage-led-pro-content-guide .sections-stack:has(.guide-menu) .intro-section,.page\.neck-decolletage-led-reviews .sections-stack:has(.guide-menu) .intro-section,.page\.q-rejuvalight-pro-led-mask-guide .sections-stack:has(.guide-menu) .intro-section,.page\.q-rejuvalight-pro-reviews .sections-stack:has(.guide-menu) .intro-section,.page\.q-rejuvalight-pro-welcome .sections-stack:has(.guide-menu) .intro-section,.page\.shower-creative-brief .sections-stack:has(.guide-menu) .intro-section,.page\.shower-filter-online-guide .sections-stack:has(.guide-menu) .intro-section,.page\.sunil-micro-mask-guide .sections-stack:has(.guide-menu) .intro-section{
    margin-bottom:-40px;
  }
  .base-section article{
    -moz-column-gap:40px;
         column-gap:40px;
  }
  .base-section--grey{
    padding-top:40px;
    padding-bottom:40px;
  }
  .base-slider .c-swiper:not(:first-child),.base-slider h2+p{
    margin-top:20px;
  }
  .pills-nav__header{
    display:flex;
  }
  .e-discount-badge:after,.e-discount-badge:before{
    font-size:14px;
  }
  .page\.microinfusion-safety-guide .across-image-banner--reverse figure,.page\.microinfusion-safety-guide-v15 .across-image-banner--reverse figure{
    width:120px;
  }
  .page\.all-in-one-face-serum-creative-content-guide .across-image-banner--reverse article,.page\.q-rejuvalight-pro-led-mask-guide .across-image-banner--reverse article{
    max-width:340px;
  }
  .page\.sunil-micro-mask-guide .across-image-banner--reverse article{
    max-width:440px;
  }
  .across-image-banner--holidays article{
    max-width:410px;
  }
}
@media screen and (max-width:767px){
  .c-pills-nav a{
    font-size:16px;
  }
  .page\.all-in-one-face-serum-creative-content-guide .sections-stack,.page\.derm-reviews .sections-stack,.page\.dermal-mist-brief .sections-stack,.page\.face-serum-reviews .sections-stack,.page\.faucet-creative-brief .sections-stack,.page\.faucet-online-guide .sections-stack,.page\.micro-infusion-brief .sections-stack,.page\.micro-infusion-patches-content-guide .sections-stack,.page\.micro-infusion-targeted-patches-reviews .sections-stack,.page\.microinfusion-safety-guide .sections-stack,.page\.microinfusion-safety-guide-v15 .sections-stack,.page\.n-d-quickstart-guide .sections-stack,.page\.neck-decolletage-led-pro-content-guide .sections-stack,.page\.neck-decolletage-led-reviews .sections-stack,.page\.q-rejuvalight-pro-led-mask-guide .sections-stack,.page\.q-rejuvalight-pro-reviews .sections-stack,.page\.q-rejuvalight-pro-welcome .sections-stack,.page\.shower-creative-brief .sections-stack,.page\.shower-filter-online-guide .sections-stack,.page\.sunil-micro-mask-guide .sections-stack{
    padding-top:40px;
    padding-bottom:40px;
  }
  .page\.all-in-one-face-serum-creative-content-guide .sections-stack,.page\.derm-reviews .sections-stack,.page\.dermal-mist-brief .sections-stack,.page\.face-serum-reviews .sections-stack,.page\.faucet-creative-brief .sections-stack,.page\.faucet-online-guide .sections-stack,.page\.micro-infusion-brief .sections-stack,.page\.micro-infusion-patches-content-guide .sections-stack,.page\.micro-infusion-targeted-patches-reviews .sections-stack,.page\.microinfusion-safety-guide .sections-stack,.page\.microinfusion-safety-guide-v15 .sections-stack,.page\.n-d-quickstart-guide .sections-stack,.page\.neck-decolletage-led-pro-content-guide .sections-stack,.page\.neck-decolletage-led-reviews .sections-stack,.page\.q-rejuvalight-pro-led-mask-guide .sections-stack,.page\.q-rejuvalight-pro-reviews .sections-stack,.page\.shower-creative-brief .sections-stack,.page\.shower-filter-online-guide .sections-stack,.page\.sunil-micro-mask-guide .sections-stack{
    padding-top:0;
  }
  .page\.all-in-one-face-serum-creative-content-guide .sections-stack,.page\.dermal-mist-brief .sections-stack,.page\.faucet-creative-brief .sections-stack,.page\.micro-infusion-brief .sections-stack,.page\.neck-decolletage-led-pro-content-guide .sections-stack,.page\.q-rejuvalight-pro-led-mask-guide .sections-stack,.page\.q-rejuvalight-pro-welcome .sections-stack,.page\.shower-creative-brief .sections-stack{
    padding-bottom:0;
  }
  .base-section article{
    grid-template-rows:auto;
    grid-template-columns:auto;
  }
  .base-section article>h1+picture[data-url],.base-section article>h2+picture[data-url]{
    order:0;
  }
  .base-section:has(.e-pill-badge) article{
    justify-items:center;
    text-align:center;
  }
  .base-section:has(.e-pill-badge) .e-pill-badge{
    order:20;
    grid-row:auto;
  }
  .base-section article .btn{
    width:100%;
    margin-top:0;
  }
  .base-section picture{
    order:-1;
    grid-area:auto;
    grid-column:1;
    width:100%;
  }
  .base-section--small-media article,.base-section--small-media.base-section--reverse article{
    grid-template-columns:auto;
  }
  .base-section--half-media .container{
    padding-right:15px;
  }
  .base-section--half-media article{
    grid-template-columns:auto;
  }
  .base-section--half-media article picture{
    width:100vw;
    margin-right:-15px;
    margin-left:-15px;
  }
  .base-section--half-media article img{
    width:100%;
  }
  .base-section--half-media.base-section--reverse .container{
    padding-left:15px;
  }
  .base-section--half-media.base-section--reverse article{
    grid-template-columns:auto;
  }
  .base-section--half-media.base-section--reverse article picture{
    width:100vw;
    margin-right:-15px;
    margin-left:-15px;
  }
  .across-image-banner .container{
    height:133.3333333333vw;
    max-height:500px;
  }
  .across-image-banner article{
    max-width:none;
    padding-top:40px;
    padding-bottom:40px;
    text-align:center;
  }
  .across-image-banner article .btn{
    width:100%;
  }
  .across-image-banner--hero .container{
    justify-content:flex-start;
  }
  .across-image-banner--hero .c-certified-box{
    margin-right:auto;
    margin-left:auto;
  }
  .across-image-banner--reverse .container{
    justify-content:flex-end;
    height:106.6666666667vw;
    max-height:400px;
  }
  .across-image-banner--reverse .container article{
    color:#fff;
    text-align:left;
  }
  .page\.dermal-mist-brief .across-image-banner--reverse article,.page\.faucet-creative-brief .across-image-banner--reverse article,.page\.micro-infusion-brief .across-image-banner--reverse article,.page\.microinfusion-safety-guide .across-image-banner--reverse article,.page\.microinfusion-safety-guide-v15 .across-image-banner--reverse article,.page\.shower-creative-brief .across-image-banner--reverse article{
    max-width:none;
  }
  .page\.microinfusion-safety-guide .across-image-banner--reverse article h1,.page\.microinfusion-safety-guide .across-image-banner--reverse article p,.page\.microinfusion-safety-guide-v15 .across-image-banner--reverse article h1,.page\.microinfusion-safety-guide-v15 .across-image-banner--reverse article p{
    max-width:210px;
  }
  .page\.all-in-one-face-serum-creative-content-guide .across-image-banner--reverse article,.page\.q-rejuvalight-pro-led-mask-guide .across-image-banner--reverse article{
    max-width:none;
  }
  .across-image-banner--holidays .container{
    justify-content:flex-end;
  }
  .across-image-banner--holidays img{
    -o-object-position:top center;
       object-position:top center;
  }
  .across-image-banner--holidays article{
    padding-bottom:32px;
  }
  .across-image-banner--holidays .e-discount-badge,.across-image-banner--holidays h1,.across-image-banner--holidays p{
    display:none;
  }
}
