<!-- PRESS REVIEWS -->
{{#unless page-css }}
<link rel="stylesheet" href="sections/new/press-reviews/press-reviews.css" />
{{/unless}}
<section class="press-reviews {{ classes }}" >
    <div class="container">
        <h6>FEATURED IN</h6>
        <div
            class="c-swiper"
            data-swiper-thumbs=".press-reviews .c-swiper-thumbs"
            data-swiper='{
                "slidesPerView": 1,
                "spaceBetween": 16,
                "loop": true,
                "autoplay": {
                    "delay": 5000
                }
            }'
        >
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <h4>"Few beauty trends are actually worth adopting, but Qure’s take on at-home Micro-Infusion is a viral skin trend with merit."</h4>
                </div>
                <div class="swiper-slide">
                    <h4>A true micro-infusion treatment — creating microchannels that help enhance serum absorption and support visibly smoother-looking skin.</h4>
                </div>
                <div class="swiper-slide">
                    <h4>"This microneedling alternative is my secret to glowing skin."</h4>
                </div>
            </div>
        </div>
        <div class="c-swiper c-swiper-thumbs"
            data-swiper='{
                "slidesPerView": 3,
                "spaceBetween": 30,
                "breakpoints": {
                    "992": {
                        "spaceBetween": 80
                    }
                }
            }'
        >
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <img src="sections/isolated/press_slider/images/forbes.svg" alt="Forbes" />
                </div>
                <div class="swiper-slide">
                    <img src="sections/isolated/press_slider/images/bazzar.svg" alt="Bazzar" />
                </div>
                <div class="swiper-slide">
                    <img src="sections/isolated/press_slider/images/ps.svg" alt="PS" />
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        loadScriptOnce('swiper', 'assets/js-new/swiper.js');
    });
</script>
<!-- PRESS REVIEWS END -->
