<!-- EXPERT REVIEWS -->
{{#unless page-css }}
<link rel="stylesheet" href="sections/new/expert-reviews/expert-reviews.css" />
{{/unless}}
<section class="expert-reviews {{ classes }}">
    <div class="container">
        <h2>Trusted and Recommended by Experts</h2>
        {{> @partial-block }}
    </div>
</section>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        loadScriptOnce('swiper', 'assets/js-new/swiper.js');
        loadScriptOnce("wistia-script", "https://fast.wistia.com/assets/external/E-v1.js");
        loadScriptOnce("wistia", "assets/js-new/wistia.js");
    });
</script>
<!-- EXPERT REVIEWS END -->
