.e-pill-badge{
  display:flex;
  gap:10px;
  align-items:center;
  width:-webkit-max-content;
  width:-moz-max-content;
  width:max-content;
  padding:10px 20px;
  color:#8b8c8e;
  font-size:18px;
  font-weight:500;
  letter-spacing:.32px;
  text-transform:capitalize;
  border-radius:30px;
  background:#f6f6f7;
}
.e-pill-badge .e-checkmark{
  font-size:20px;
}
.e-pill-badge--small{
  padding:4px 12px;
  font-size:16px;
}

.e-checkmark{
  width:1em;
  height:1em;
  color:#212428;
  line-height:1em;
  text-align:center;
  border-radius:50%;
  background:#c7e5db;
}
.e-checkmark:before{
  font-family:icomoon;
  font-weight:400;
  font-style:normal;
  font-variant:normal;
  line-height:1;
  text-transform:none;
  -moz-osx-font-smoothing:grayscale;
  -webkit-font-smoothing:antialiased;
  speak:never;
  font-size:.35em;
  line-height:inherit;
  vertical-align:top;
  content:"\e901";
}

.e-icon{
  display:inline-block;
  line-height:1;
}
.e-icon:before{
  font-family:icomoon;
  font-weight:400;
  font-style:normal;
  font-variant:normal;
  line-height:1;
  text-transform:none;
  vertical-align:top;
  -moz-osx-font-smoothing:grayscale;
  -webkit-font-smoothing:antialiased;
  speak:never;
}

.e-icon-chevron:before{
  content:"\e900";
}

.e-icon-checkmark:before{
  content:"\e901";
}

.e-icon-plus:before{
  content:"\e903";
}

.e-icon-minus:before{
  content:"\e902";
}

.e-icon-cross:before{
  content:"\e904";
}

.e-icon-arrow:before{
  content:"\e905";
}

.e-icon-qure:before{
  content:"\e906";
}

.e-icon-q:before{
  content:"\e907";
}

.e-icon-youtube:before{
  content:"\e90b";
}

.e-icon-instagram:before{
  content:"\e90a";
}

.e-icon-facebook:before{
  content:"\e909";
}

.e-icon-tiktok:before{
  content:"\e908";
}

.e-icon-i:before{
  content:"\e90c";
}

.e-icon-play:before{
  content:"\e90d";
}

.e-icon-stars:before{
  content:"\e920";
}

.e-icon-rating-fill:before{
  content:"\e921";
}

.e-icon-trustpilot:before{
  content:"\e922";
}

.e-icon-pm:before{
  content:"\e923";
}

.e-icon-am:before{
  content:"\e924";
}

.e-icon-watch:before{
  content:"\e925";
}

.e-icon-cart:before{
  content:"\e926";
}

.e-icon-user:before{
  content:"\e927";
}

.e-icon-gift:before{
  content:"\e928";
}

.e-icon-shipping:before{
  content:"\e92b";
}

.e-icon-faq:before{
  content:"\e92a";
}

.e-icon-letter:before{
  content:"\e929";
}

.e-icon-pillow:before{
  content:"\e92c";
}

.e-icon-shipping-order:before{
  content:"\e90e";
}

.e-icon-shipping-order-hvr:before{
  content:"\e90f";
}

.e-icon-rejuvalight-pro-facewear:before{
  content:"\e911";
}

.e-icon-rejuvalight-pro-facewear-hvr:before{
  content:"\e910";
}

.e-icon-micro-infusion-system:before{
  content:"\e913";
}

.e-icon-micro-infusion-system-hvr:before{
  content:"\e912";
}

.e-icon-renew-lllt-helmet:before{
  content:"\e915";
}

.e-icon-renew-lllt-helmet-hvr:before{
  content:"\e914";
}

.e-icon-returns-exchanges:before{
  content:"\e917";
}

.e-icon-returns-exchanges-hvr:before{
  content:"\e916";
}

.e-icon-billing-payment:before{
  content:"\e919";
}

.e-icon-billing-payment-hvr:before{
  content:"\e918";
}

.e-icon-warranty:before{
  content:"\e91b";
}

.e-icon-warranty-hvr:before{
  content:"\e91a";
}

.e-icon-qure-app:before{
  content:"\e91d";
}

.e-icon-qure-app-hvr:before{
  content:"\e91c";
}

.e-icon-troubleshooting:before{
  content:"\e91f";
}

.e-icon-troubleshooting-hvr:before{
  content:"\e91e";
}

.base-section article{
  display:grid;
  grid-template-rows:auto minmax(-webkit-min-content, 0) auto;
  grid-template-rows:auto minmax(min-content, 0) auto;
  grid-template-columns:repeat(2, 1fr);
  gap:20px 60px;
  align-items:center;
  min-height:0;
}
.base-section article>:first-child{
  align-self:end;
}
.base-section article>:last-child{
  align-self:start;
}
.base-section article>h1,.base-section article>h2{
  margin-bottom:0;
  color:inherit;
}
.base-section article p em{
  font-style:normal;
  background:#c7e5db;
}
.base-section article p a{
  color:inherit;
  text-decoration:underline;
}
.base-section article p a:hover{
  text-decoration:none;
}
.base-section:has(.e-pill-badge) article h2{
  align-self:center;
}
.base-section:has(.e-pill-badge) article>div:not(.e-pill-badge){
  align-self:start;
}
.base-section:has(.e-pill-badge) .e-pill-badge{
  grid-row:1 /  1;
  align-self:end;
}

.base-section article .btn{
  align-self:start;
  width:-webkit-max-content;
  width:-moz-max-content;
  width:max-content;
  margin-top:8px;
}
.base-section .wistia-embed-video,.base-section picture{
  grid-row:1 /  -1;
  grid-column:2;
}
.base-section picture[data-url]{
  cursor:pointer;
}
.base-section picture img{
  display:block;
  width:100%;
  height:auto;
  border-radius:10px;
}
.base-section--small-media article{
  grid-template-columns:1fr 400px;
}
.base-section--small-media.base-section--reverse article{
  grid-template-columns:400px 1fr;
}
.base-section--half-media .container{
  margin-right:0;
  padding-right:0;
}
.base-section--half-media article{
  grid-template-columns:1fr 50vw;
}
.base-section--half-media article img{
  -o-object-fit:cover;
     object-fit:cover;
  max-height:600px;
  border-radius:0;
}
.base-section--half-media.base-section--reverse .container{
  margin-right:auto;
  margin-left:0;
  padding-right:15px;
  padding-left:0;
}
.base-section--half-media.base-section--reverse article{
  grid-template-columns:50vw 1fr;
}
.base-section--reverse .wistia-embed-video,.base-section--reverse picture{
  grid-column:1;
}
.base-section--grey{
  padding-top:60px;
  padding-bottom:60px;
  background:#f6f6f7;
}
.base-section--grey .e-pill-badge{
  background:#fff;
}
.base-section--dark{
  color:#fff;
  background:#212428;
}
.page\.qure-microinfusion-offer-listicle .base-section article{
  align-items:start;
}
@media screen and (min-width:1200px){
  .base-section--half-media .container{
    max-width:calc(100% - 50vw + 593.5px);
  }
}
@media screen and (min-width:1400px){
  .base-section--half-media .container{
    max-width:calc(100% - 50vw + 623.5px);
  }
}
@media screen and (max-width:991px){
  .base-section article{
    -moz-column-gap:40px;
         column-gap:40px;
  }
  .base-section--grey{
    padding-top:40px;
    padding-bottom:40px;
  }
}
@media screen and (max-width:767px){
  .base-section article{
    grid-template-rows:auto;
    grid-template-columns:auto;
  }
  .base-section article>h1+picture[data-url],.base-section article>h2+picture[data-url]{
    order:0;
  }
  .base-section:has(.e-pill-badge) article{
    justify-items:center;
    text-align:center;
  }
  .base-section:has(.e-pill-badge) .e-pill-badge{
    order:20;
    grid-row:auto;
  }
  .base-section article .btn{
    width:100%;
    margin-top:0;
  }
  .base-section .wistia-embed-video,.base-section picture{
    order:-1;
    grid-area:auto;
    grid-column:1;
    width:100%;
  }
  .base-section--small-media article,.base-section--small-media.base-section--reverse article{
    grid-template-columns:auto;
  }
  .base-section--half-media .container{
    padding-right:15px;
  }
  .base-section--half-media article{
    grid-template-columns:auto;
  }
  .base-section--half-media article picture{
    width:100vw;
    margin-right:-15px;
    margin-left:-15px;
  }
  .base-section--half-media article img{
    width:100%;
  }
  .base-section--half-media.base-section--reverse .container{
    padding-left:15px;
  }
  .base-section--half-media.base-section--reverse article{
    grid-template-columns:auto;
  }
  .base-section--half-media.base-section--reverse article picture{
    width:100vw;
    margin-right:-15px;
    margin-left:-15px;
  }
  .page\.qure-microinfusion-offer-listicle .base-section article .wistia-embed-video,.page\.qure-microinfusion-offer-listicle .base-section article picture{
    order:unset;
  }
}
