.e-icon{
  display:inline-block;
  line-height:1;
}
.e-icon:before{
  font-family:icomoon;
  font-weight:400;
  font-style:normal;
  font-variant:normal;
  line-height:1;
  text-transform:none;
  vertical-align:top;
  -moz-osx-font-smoothing:grayscale;
  -webkit-font-smoothing:antialiased;
  speak:never;
}

.e-icon-chevron:before{
  content:"\e900";
}

.e-icon-checkmark:before{
  content:"\e901";
}

.e-icon-plus:before{
  content:"\e903";
}

.e-icon-minus:before{
  content:"\e902";
}

.e-icon-cross:before{
  content:"\e904";
}

.e-icon-arrow:before{
  content:"\e905";
}

.e-icon-qure:before{
  content:"\e906";
}

.e-icon-q:before{
  content:"\e907";
}

.e-icon-youtube:before{
  content:"\e90b";
}

.e-icon-instagram:before{
  content:"\e90a";
}

.e-icon-facebook:before{
  content:"\e909";
}

.e-icon-tiktok:before{
  content:"\e908";
}

.e-icon-i:before{
  content:"\e90c";
}

.e-icon-play:before{
  content:"\e90d";
}

.e-icon-stars:before{
  content:"\e920";
}

.e-icon-rating-fill:before{
  content:"\e921";
}

.e-icon-trustpilot:before{
  content:"\e922";
}

.e-icon-pm:before{
  content:"\e923";
}

.e-icon-am:before{
  content:"\e924";
}

.e-icon-watch:before{
  content:"\e925";
}

.e-icon-cart:before{
  content:"\e926";
}

.e-icon-user:before{
  content:"\e927";
}

.e-icon-gift:before{
  content:"\e928";
}

.e-icon-shipping:before{
  content:"\e92b";
}

.e-icon-faq:before{
  content:"\e92a";
}

.e-icon-letter:before{
  content:"\e929";
}

.e-icon-shipping-order:before{
  content:"\e90e";
}

.e-icon-shipping-order-hvr:before{
  content:"\e90f";
}

.e-icon-rejuvalight-pro-facewear:before{
  content:"\e911";
}

.e-icon-rejuvalight-pro-facewear-hvr:before{
  content:"\e910";
}

.e-icon-micro-infusion-system:before{
  content:"\e913";
}

.e-icon-micro-infusion-system-hvr:before{
  content:"\e912";
}

.e-icon-renew-lllt-helmet:before{
  content:"\e915";
}

.e-icon-renew-lllt-helmet-hvr:before{
  content:"\e914";
}

.e-icon-returns-exchanges:before{
  content:"\e917";
}

.e-icon-returns-exchanges-hvr:before{
  content:"\e916";
}

.e-icon-billing-payment:before{
  content:"\e919";
}

.e-icon-billing-payment-hvr:before{
  content:"\e918";
}

.e-icon-warranty:before{
  content:"\e91b";
}

.e-icon-warranty-hvr:before{
  content:"\e91a";
}

.e-icon-qure-app:before{
  content:"\e91d";
}

.e-icon-qure-app-hvr:before{
  content:"\e91c";
}

.e-icon-troubleshooting:before{
  content:"\e91f";
}

.e-icon-troubleshooting-hvr:before{
  content:"\e91e";
}

.e-discount-badge{
  display:flex;
  flex-direction:column;
  gap:6px;
  align-items:center;
  justify-content:center;
  width:1em;
  height:1em;
  color:#fff;
  font-weight:500;
  line-height:1;
  border-radius:100px;
  background:var(--discount-color, #212428);
}
.e-discount-badge span{
  font-size:.41em;
  line-height:.8;
}
.e-discount-badge:after,.e-discount-badge:before{
  font-size:.145em;
  text-transform:uppercase;
}
.e-discount-badge:before{
  content:attr(data-text-top);
}
.e-discount-badge:after{
  content:attr(data-text-bottom);
}

.c-certified-box{
  display:grid;
  grid-template-columns:-webkit-max-content 1fr;
  grid-template-columns:max-content 1fr;
  gap:10px;
  align-items:center;
  max-width:415px;
  padding:10px 20px;
  font-size:14px;
  line-height:18px;
  text-align:left;
  border-radius:5px;
  background:#f6f6f7;
}
.c-certified-box ul{
  display:flex;
  align-items:center;
}
.c-certified-box ul li{
  display:inline-flex;
  align-items:center;
  justify-content:center;
  overflow:hidden;
  width:32px;
  height:32px;
  font-size:12px;
  font-weight:600;
  border:1px solid #f6f6f7;
  border-radius:50%;
  background:#c8e6dc;
}
.c-certified-box ul li+li{
  margin-left:-8px;
}
.c-certified-box ul li img{
  width:inherit;
  max-height:inherit;
}
.c-certified-box--light{
  background:#fff;
}

.across-image-banner{
  position:relative;
  z-index:1;
}
.across-image-banner .container{
  display:flex;
  flex-direction:column;
  justify-content:center;
  height:34.7222222222vw;
  max-height:500px;
}
.across-image-banner picture{
  position:absolute;
  inset:0;
  z-index:-1;
}
.across-image-banner picture img{
  display:block;
  -o-object-fit:cover;
     object-fit:cover;
  width:100%;
  height:100%;
}
.across-image-banner article{
  display:flex;
  flex-direction:column;
  gap:16px;
  width:100%;
  max-width:550px;
  padding-top:60px;
  padding-bottom:60px;
}
.across-image-banner article h1,.across-image-banner article h2{
  margin-bottom:0;
  color:inherit;
}
.across-image-banner article .btn{
  margin-top:5px;
}
.across-image-banner--hero .c-certified-box{
  background:#fff;
}
.page\.all-in-one-serum-customer-reviews .across-image-banner--hero .container,.page\.micro-infusion-targeted-patches-customer-reviews .across-image-banner--hero .container,.page\.neck-decolletage-led-customer-reviews .across-image-banner--hero .container,.page\.q-rejuvalight-pro-customer-reviews .across-image-banner--hero .container,.page\.reviews .across-image-banner--hero .container{
  height:38.1944444444vw;
  max-height:550px;
  align-items:center;
  justify-content:start;
}
.page\.all-in-one-serum-customer-reviews .across-image-banner--hero article,.page\.micro-infusion-targeted-patches-customer-reviews .across-image-banner--hero article,.page\.neck-decolletage-led-customer-reviews .across-image-banner--hero article,.page\.q-rejuvalight-pro-customer-reviews .across-image-banner--hero article,.page\.reviews .across-image-banner--hero article{
  flex-direction:column-reverse;
  gap:32px;
  align-items:center;
}
.page\.all-in-one-serum-customer-reviews .across-image-banner--hero .trustpilot-rating,.page\.micro-infusion-targeted-patches-customer-reviews .across-image-banner--hero .trustpilot-rating,.page\.neck-decolletage-led-customer-reviews .across-image-banner--hero .trustpilot-rating,.page\.q-rejuvalight-pro-customer-reviews .across-image-banner--hero .trustpilot-rating,.page\.reviews .across-image-banner--hero .trustpilot-rating{
  display:flex;
  gap:12px;
  align-items:center;
}
.page\.all-in-one-serum-customer-reviews .across-image-banner--hero .trustpilot-rating ul,.page\.micro-infusion-targeted-patches-customer-reviews .across-image-banner--hero .trustpilot-rating ul,.page\.neck-decolletage-led-customer-reviews .across-image-banner--hero .trustpilot-rating ul,.page\.q-rejuvalight-pro-customer-reviews .across-image-banner--hero .trustpilot-rating ul,.page\.reviews .across-image-banner--hero .trustpilot-rating ul{
  display:flex;
  gap:2px;
  font-size:24px;
}
.page\.all-in-one-serum-customer-reviews .across-image-banner--hero .trustpilot-rating ul li,.page\.micro-infusion-targeted-patches-customer-reviews .across-image-banner--hero .trustpilot-rating ul li,.page\.neck-decolletage-led-customer-reviews .across-image-banner--hero .trustpilot-rating ul li,.page\.q-rejuvalight-pro-customer-reviews .across-image-banner--hero .trustpilot-rating ul li,.page\.reviews .across-image-banner--hero .trustpilot-rating ul li{
  color:#dcdce6;
  background:#fff;
}
.page\.all-in-one-serum-customer-reviews .across-image-banner--hero .trustpilot-rating ul li:not(:last-child),.page\.micro-infusion-targeted-patches-customer-reviews .across-image-banner--hero .trustpilot-rating ul li:not(:last-child),.page\.neck-decolletage-led-customer-reviews .across-image-banner--hero .trustpilot-rating ul li:not(:last-child),.page\.q-rejuvalight-pro-customer-reviews .across-image-banner--hero .trustpilot-rating ul li:not(:last-child),.page\.reviews .across-image-banner--hero .trustpilot-rating ul li:not(:last-child){
  color:#73cf11;
}
.across-image-banner--reverse .container{
  align-items:flex-end;
  height:27.7777777778vw;
  max-height:400px;
}
.across-image-banner--reverse .container article{
  max-width:605px;
  font-size:16px;
}
.across-image-banner--reverse .container article h6{
  margin-bottom:0;
  color:inherit;
  font-family:inherit;
  font-size:inherit;
  font-weight:600;
}
.across-image-banner--reverse .container article h6+p{
  margin-top:-16px;
}
.page\.dermal-mist-brief .across-image-banner--reverse article,.page\.faucet-creative-brief .across-image-banner--reverse article,.page\.micro-infusion-brief .across-image-banner--reverse article,.page\.shower-creative-brief .across-image-banner--reverse article{
  max-width:440px;
}

.page\.microinfusion-safety-guide .across-image-banner--reverse .container,.page\.microinfusion-safety-guide-v15 .across-image-banner--reverse .container{
  position:relative;
}
.page\.microinfusion-safety-guide .across-image-banner--reverse article,.page\.microinfusion-safety-guide-v15 .across-image-banner--reverse article{
  max-width:480px;
}
.page\.microinfusion-safety-guide .across-image-banner--reverse article h1,.page\.microinfusion-safety-guide .across-image-banner--reverse article p,.page\.microinfusion-safety-guide-v15 .across-image-banner--reverse article h1,.page\.microinfusion-safety-guide-v15 .across-image-banner--reverse article p{
  max-width:340px;
}
.page\.microinfusion-safety-guide .across-image-banner--reverse figure,.page\.microinfusion-safety-guide-v15 .across-image-banner--reverse figure{
  position:absolute;
  right:-40px;
  bottom:-60px;
  width:210px;
}
.page\.microinfusion-safety-guide .across-image-banner--reverse figure img,.page\.microinfusion-safety-guide-v15 .across-image-banner--reverse figure img{
  max-width:100%;
  height:auto;
}

.page\.all-in-one-face-serum-creative-content-guide .across-image-banner--reverse article,.page\.hairgrowth-helmet-brief .across-image-banner--reverse article,.page\.q-rejuvalight-pro-led-mask-guide .across-image-banner--reverse article{
  max-width:480px;
}

.across-image-banner--holidays .container{
  height:38.1944444444vw;
  max-height:550px;
}
.across-image-banner--holidays article{
  display:flex;
  align-items:center;
  max-width:500px;
  text-align:center;
}
.across-image-banner--holidays h1{
  white-space:nowrap;
}
.across-image-banner--holidays p{
  max-width:330px;
}
.across-image-banner--holidays .btn{
  width:100%;
  max-width:400px;
}
.across-image-banner--holidays .e-discount-badge{
  position:absolute;
  top:65px;
  right:38px;
  font-size:140px;
}
@media screen and (max-width:1199px){
  .page\.microinfusion-safety-guide .across-image-banner--reverse article,.page\.microinfusion-safety-guide-v15 .across-image-banner--reverse article{
    max-width:540px;
  }
  .page\.microinfusion-safety-guide .across-image-banner--reverse figure,.page\.microinfusion-safety-guide-v15 .across-image-banner--reverse figure{
    right:16px;
  }
}
@media screen and (max-width:1120px){
  .page\.microinfusion-safety-guide .across-image-banner--reverse figure,.page\.microinfusion-safety-guide-v15 .across-image-banner--reverse figure{
    bottom:-40px;
  }
  .across-image-banner--holidays .e-discount-badge{
    top:40px;
    right:16px;
    font-size:90px;
  }
}
@media screen and (max-width:991px){
  .e-discount-badge:after,.e-discount-badge:before{
    font-size:14px;
  }
  .page\.microinfusion-safety-guide .across-image-banner--reverse figure,.page\.microinfusion-safety-guide-v15 .across-image-banner--reverse figure{
    width:120px;
  }
  .page\.all-in-one-face-serum-creative-content-guide .across-image-banner--reverse article,.page\.hairgrowth-helmet-brief .across-image-banner--reverse article,.page\.q-rejuvalight-pro-led-mask-guide .across-image-banner--reverse article{
    max-width:340px;
  }
  .page\.q-rejuvalight-pro-led-mask-guide .across-image-banner--reverse article{
    max-width:440px;
  }
  .across-image-banner--holidays article{
    max-width:410px;
  }
}
@media screen and (max-width:767px){
  .across-image-banner .container{
    height:133.3333333333vw;
    max-height:500px;
  }
  .across-image-banner article{
    max-width:none;
    padding-top:40px;
    padding-bottom:40px;
    text-align:center;
  }
  .across-image-banner article .btn{
    width:100%;
  }
  .across-image-banner--hero .container{
    justify-content:flex-start;
  }
  .across-image-banner--hero .c-certified-box{
    margin-right:auto;
    margin-left:auto;
  }
  .page\.all-in-one-serum-customer-reviews .across-image-banner--hero .container,.page\.micro-infusion-targeted-patches-customer-reviews .across-image-banner--hero .container,.page\.neck-decolletage-led-customer-reviews .across-image-banner--hero .container,.page\.q-rejuvalight-pro-customer-reviews .across-image-banner--hero .container,.page\.reviews .across-image-banner--hero .container{
    height:106.6666666667vw;
    max-height:400px;
  }
  .page\.all-in-one-serum-customer-reviews .across-image-banner--hero article,.page\.micro-infusion-targeted-patches-customer-reviews .across-image-banner--hero article,.page\.neck-decolletage-led-customer-reviews .across-image-banner--hero article,.page\.q-rejuvalight-pro-customer-reviews .across-image-banner--hero article,.page\.reviews .across-image-banner--hero article{
    gap:24px;
    padding-top:50px;
  }
  .across-image-banner--reverse .container{
    justify-content:flex-end;
    height:106.6666666667vw;
    max-height:400px;
  }
  .across-image-banner--reverse .container article{
    color:#fff;
    text-align:left;
  }
  .page\.dermal-mist-brief .across-image-banner--reverse article,.page\.faucet-creative-brief .across-image-banner--reverse article,.page\.micro-infusion-brief .across-image-banner--reverse article,.page\.microinfusion-safety-guide .across-image-banner--reverse article,.page\.microinfusion-safety-guide-v15 .across-image-banner--reverse article,.page\.shower-creative-brief .across-image-banner--reverse article{
    max-width:none;
  }
  .page\.microinfusion-safety-guide .across-image-banner--reverse article h1,.page\.microinfusion-safety-guide .across-image-banner--reverse article p,.page\.microinfusion-safety-guide-v15 .across-image-banner--reverse article h1,.page\.microinfusion-safety-guide-v15 .across-image-banner--reverse article p{
    max-width:210px;
  }
  .page\.all-in-one-face-serum-creative-content-guide .across-image-banner--reverse article,.page\.hairgrowth-helmet-brief .across-image-banner--reverse article,.page\.q-rejuvalight-pro-led-mask-guide .across-image-banner--reverse article{
    max-width:none;
  }
  .across-image-banner--holidays .container{
    justify-content:flex-end;
  }
  .across-image-banner--holidays img{
    -o-object-position:top center;
       object-position:top center;
  }
  .across-image-banner--holidays article{
    padding-bottom:32px;
  }
  .across-image-banner--holidays .e-discount-badge,.across-image-banner--holidays h1,.across-image-banner--holidays p{
    display:none;
  }
}
