@use "@root/mixins" as *;
@use "@elements/e-discount-badge" as *;
@use "@components/c-certified-box" as *;

.across-image-banner {
    $root: &;

    position: relative;
    z-index: 1;

    // .across-image-banner__image
    picture {
        width: 100%;

        img {
            display: block;
            width: 100%;
            height: auto;
        }
    }

    // .across-image-banner__overlay
    &__overlay {
        position: absolute;
        inset: 0;
        z-index: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;

        @include md {
            justify-content: flex-start;
        }
    }

    // .across-image-banner__content
    article {
        display: flex;
        flex-direction: column;
        gap: 16px;
        max-width: 550px;
        padding-top: 60px;
        padding-bottom: 60px;

        @include sm {
            max-width: none;
            text-align: center;
        }

        h1, h2 {
            margin-bottom: 0;
            color: inherit;
        }

        .btn {
            margin-top: 5px;

            @include sm {
                width: 100%;
            }
        }
    }

    // .across-image-banner--hero
    &--hero {
        .c-certified-box {
            background: #fff;
        }
    }

    // .across-image-banner--holidays
    &--holidays {
        #{$root}__overlay {
            @include sm {
                justify-content: flex-end;
            }
        }

        img {
            object-fit: cover;
            max-height: 550px;

            @include sm {
                max-height: none;
            }
        }

        article {
            display: flex;
            align-items: center;
            max-width: 500px;
            text-align: center;

            @include md {
                max-width: 410px;
            }

            @include sm {
                padding-top: 0;
                padding-bottom: 32px;
            }
        }

        h1 {
            @include sm {
                display: none;
            }
        }

        p {
            max-width: 330px;

            @include sm {
                display: none;
            }
        }

        .btn {
            width: 100%;
            max-width: 400px;
        }

        .e-discount-badge {
            position: absolute;
            top: 65px;
            right: 38px;
            font-size: 140px;

            @include lg {
                top: 40px;
                right: 16px;
                font-size: 90px;
            }

            @include sm {
                display: none;
            }
        }
    }
}