.e-discount-badge{
  display:flex;
  flex-direction:column;
  gap:6px;
  align-items:center;
  justify-content:center;
  width:1em;
  height:1em;
  color:#fff;
  font-weight:500;
  line-height:1;
  border-radius:100px;
  background:var(--discount-color, #212428);
}
.e-discount-badge span{
  font-size:.41em;
  line-height:.8;
}
.e-discount-badge:after,.e-discount-badge:before{
  font-size:.145em;
  text-transform:uppercase;
}
.e-discount-badge:before{
  content:attr(data-text-top);
}
.e-discount-badge:after{
  content:attr(data-text-bottom);
}

.c-certified-box{
  display:grid;
  grid-template-columns:-webkit-max-content 1fr;
  grid-template-columns:max-content 1fr;
  gap:10px;
  align-items:center;
  max-width:415px;
  padding:10px 20px;
  font-size:14px;
  line-height:18px;
  text-align:left;
  border-radius:5px;
  background:#f6f6f7;
}
.c-certified-box ul{
  display:flex;
  align-items:center;
}
.c-certified-box ul li{
  display:inline-flex;
  align-items:center;
  justify-content:center;
  overflow:hidden;
  width:32px;
  height:32px;
  font-size:12px;
  font-weight:600;
  border:1px solid #f6f6f7;
  border-radius:50%;
  background:#c8e6dc;
}
.c-certified-box ul li+li{
  margin-left:-8px;
}
.c-certified-box ul li img{
  width:inherit;
  max-height:inherit;
}
.c-certified-box--light{
  background:#fff;
}

.across-image-banner{
  position:relative;
  z-index:1;
}
.across-image-banner .container{
  display:flex;
  flex-direction:column;
  justify-content:center;
  height:34.7222222222vw;
  max-height:500px;
}
.across-image-banner picture{
  position:absolute;
  inset:0;
  z-index:-1;
}
.across-image-banner picture img{
  display:block;
  -o-object-fit:cover;
     object-fit:cover;
  width:100%;
  height:100%;
}
.across-image-banner article{
  display:flex;
  flex-direction:column;
  gap:16px;
  width:100%;
  max-width:550px;
  padding-top:60px;
  padding-bottom:60px;
}
.across-image-banner article h1,.across-image-banner article h2{
  margin-bottom:0;
  color:inherit;
}
.across-image-banner article .btn{
  margin-top:5px;
}
.across-image-banner--hero .c-certified-box{
  background:#fff;
}
.across-image-banner--reverse .container{
  align-items:flex-end;
  height:27.7777777778vw;
  max-height:400px;
}
.across-image-banner--reverse .container article{
  max-width:600px;
}
.page\.micro-infusion-brief .across-image-banner--reverse article{
  max-width:440px;
}

.page\.microinfusion-safety-guide .across-image-banner--reverse .container{
  position:relative;
}
.page\.microinfusion-safety-guide .across-image-banner--reverse article{
  max-width:480px;
}
.page\.microinfusion-safety-guide .across-image-banner--reverse article strong{
  display:block;
}
.page\.microinfusion-safety-guide .across-image-banner--reverse article h1,.page\.microinfusion-safety-guide .across-image-banner--reverse article p{
  max-width:340px;
}
.page\.microinfusion-safety-guide .across-image-banner--reverse figure{
  position:absolute;
  right:-40px;
  bottom:-60px;
  width:210px;
}
.page\.microinfusion-safety-guide .across-image-banner--reverse figure img{
  max-width:100%;
  height:auto;
}

.page\.q-rejuvalight-pro-led-mask-guide .across-image-banner--reverse article{
  max-width:480px;
}

.across-image-banner--holidays .container{
  height:38.1944444444vw;
  max-height:550px;
}
.across-image-banner--holidays article{
  display:flex;
  align-items:center;
  max-width:500px;
  text-align:center;
}
.across-image-banner--holidays h1{
  white-space:nowrap;
}
.across-image-banner--holidays p{
  max-width:330px;
}
.across-image-banner--holidays .btn{
  width:100%;
  max-width:400px;
}
.across-image-banner--holidays .e-discount-badge{
  position:absolute;
  top:65px;
  right:38px;
  font-size:140px;
}
@media screen and (max-width:1199px){
  .page\.microinfusion-safety-guide .across-image-banner--reverse article{
    max-width:540px;
  }
  .page\.microinfusion-safety-guide .across-image-banner--reverse figure{
    right:16px;
  }
}
@media screen and (max-width:1120px){
  .page\.microinfusion-safety-guide .across-image-banner--reverse figure{
    bottom:-40px;
  }
  .across-image-banner--holidays .e-discount-badge{
    top:40px;
    right:16px;
    font-size:90px;
  }
}
@media screen and (max-width:991px){
  .e-discount-badge:after,.e-discount-badge:before{
    font-size:14px;
  }
  .page\.microinfusion-safety-guide .across-image-banner--reverse figure{
    width:120px;
  }
  .page\.q-rejuvalight-pro-led-mask-guide .across-image-banner--reverse article{
    max-width:340px;
  }
  .across-image-banner--holidays article{
    max-width:410px;
  }
}
@media screen and (max-width:767px){
  .across-image-banner .container{
    height:133.3333333333vw;
    max-height:500px;
  }
  .across-image-banner article{
    max-width:none;
    padding-top:40px;
    padding-bottom:40px;
    text-align:center;
  }
  .across-image-banner article .btn{
    width:100%;
  }
  .across-image-banner--hero .container{
    justify-content:flex-start;
  }
  .across-image-banner--hero .c-certified-box{
    margin-right:auto;
    margin-left:auto;
  }
  .across-image-banner--reverse .container{
    justify-content:flex-end;
    height:106.6666666667vw;
    max-height:400px;
  }
  .across-image-banner--reverse .container article{
    color:#fff;
    text-align:left;
  }
  .page\.micro-infusion-brief .across-image-banner--reverse article,.page\.microinfusion-safety-guide .across-image-banner--reverse article{
    max-width:none;
  }
  .page\.microinfusion-safety-guide .across-image-banner--reverse article h1,.page\.microinfusion-safety-guide .across-image-banner--reverse article p{
    max-width:210px;
  }
  .page\.microinfusion-safety-guide .across-image-banner--reverse article p{
    font-size:16px;
  }
  .page\.q-rejuvalight-pro-led-mask-guide .across-image-banner--reverse article{
    max-width:none;
  }
  .across-image-banner--holidays .container{
    justify-content:flex-end;
  }
  .across-image-banner--holidays img{
    -o-object-position:top center;
       object-position:top center;
  }
  .across-image-banner--holidays article{
    padding-bottom:32px;
  }
  .across-image-banner--holidays .e-discount-badge,.across-image-banner--holidays h1,.across-image-banner--holidays p{
    display:none;
  }
}
