@use "@root/mixins" as *;
@use "@elements/e-discount-badge" as *;
@use "@components/c-certified-box" as *;

@mixin banner-height($height, $width) {
    height: calc(100vw * $height / $width);
    max-height: calc($height * 1px);
}

.across-image-banner {
    $root: &;

    position: relative;
    z-index: 1;

    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        @include banner-height(500, 1440);

        @include sm {
            @include banner-height(500, 375);
        }
    }

    // .across-image-banner__image
    picture {
        position: absolute;
        inset: 0;
        z-index: -1;

        img {
            display: block;
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }

    // .across-image-banner__content
    article {
        display: flex;
        flex-direction: column;
        gap: 16px;
        width: 100%;
        max-width: 550px;
        padding-top: 60px;
        padding-bottom: 60px;

        @include sm {
            max-width: none;
            padding-top: 40px;
            padding-bottom: 40px;
            text-align: center;
        }

        h1, h2 {
            margin-bottom: 0;
            color: inherit;
        }

        .btn {
            margin-top: 5px;

            @include sm {
                width: 100%;
            }
        }
    }

    // .across-image-banner--hero
    &--hero {
        .container {
            @include sm {
                justify-content: flex-start;
            }
        }

        .c-certified-box {
            background: #fff;

            @include sm {
                margin-right: auto;
                margin-left: auto;
            }
        }
    }

    // .across-image-banner--reverse
    &--reverse {
        .container {
            align-items: flex-end;
            @include banner-height(400, 1440);

            @include sm {
                justify-content: flex-end;
                @include banner-height(400, 375);
            }

            article {
                max-width: 605px;
                font-size: 16px;

                @include sm {
                    color: #fff;
                    text-align: left;
                }

                h6 {
                    margin-bottom: 0;
                    color: inherit;
                    font-family: inherit;
                    font-size: inherit;
                    font-weight: 600;

                    & + p {
                        margin-top: -16px;
                    }
                }
            }

            @at-root
            .page\.micro-infusion-brief #{$root}--reverse,
            .page\.shower-creative-brief #{$root}--reverse,
            .page\.faucet-creative-brief #{$root}--reverse,
            .page\.dermal-mist-brief #{$root}--reverse {
                article {
                    max-width: 440px;

                    @include sm {
                        max-width: none;
                    }
                }
            }

            @at-root
            .page\.microinfusion-safety-guide #{$root}--reverse,
            .page\.microinfusion-safety-guide-v15 #{$root}--reverse {
                .container {
                    position: relative;
                }

                article {
                    max-width: 480px;

                    @include xl {
                        max-width: 540px;
                    }

                    @include sm {
                        max-width: none;
                    }

                    h1, p {
                        max-width: 340px;

                        @include sm {
                            max-width: 210px;
                        }
                    }
                }

                figure {
                    position: absolute;
                    right: -40px;
                    bottom: -60px;
                    width: 210px;

                    @include xl {
                        right: 16px;
                    }

                    @include lg {
                        bottom: -40px;
                    }

                    @include md {
                        width: 120px;
                    }

                    img {
                        max-width: 100%;
                        height: auto;
                    }
                }
            }

            @at-root
            .page\.q-rejuvalight-pro-led-mask-guide #{$root}--reverse,
            .page\.all-in-one-face-serum-creative-content-guide #{$root}--reverse,
            .page\.hairgrowth-helmet-guide #{$root}--reverse {
                article {
                    max-width: 480px;

                    @include md {
                        max-width: 340px;
                    }

                    @include sm {
                        max-width: none;
                    }
                }
            }

            @at-root .page\.sunil-micro-mask-guide #{$root}--reverse {
                article {
                    @include md {
                        max-width: 440px;
                    }
                }
            }
        }
    }

    // .across-image-banner--holidays
    &--holidays {
        .container {
            @include banner-height(550, 1440);

            @include sm {
                justify-content: flex-end;
            }
        }

        img {
            @include sm {
                object-position: top center;
            }
        }

        article {
            display: flex;
            align-items: center;
            max-width: 500px;
            text-align: center;

            @include md {
                max-width: 410px;
            }

            @include sm {
                padding-bottom: 32px;
            }
        }

        h1 {
            white-space: nowrap;

            @include sm {
                display: none;
            }
        }

        p {
            max-width: 330px;

            @include sm {
                display: none;
            }
        }

        .btn {
            width: 100%;
            max-width: 400px;
        }

        .e-discount-badge {
            position: absolute;
            top: 65px;
            right: 38px;
            font-size: 140px;

            @include lg {
                top: 40px;
                right: 16px;
                font-size: 90px;
            }

            @include sm {
                display: none;
            }
        }
    }
}