@use "@root/mixins" as *;
@use "@elements/e-pill-tabs" as *;
@use "@elements/e-circle-percent" as *;
@use "@components/c-swiper" as *;
@use "@components/c-visual-compare-card" as *;

.product-results {
    $root: &;

    // .product-results__header
    &__header {
        display: grid;
        grid-template-columns: 1fr min(50%, 495px);
        margin-bottom: 16px;

        @include sm {
            grid-template-columns: auto;
        }

        h2 {
            align-self: center;
            margin-bottom: 0;

            @include sm {
                display: none;
            }
        }

        .e-pill-tabs {
            margin-right: auto;
            margin-left: auto;
        }
    }

    // .product-results__content
    &__content {
        display: flex;
        flex-direction: row-reverse;
        gap: 60px;
        align-items: flex-start;
        transition: opacity 600ms linear;

        @include md {
            gap: 40px;
        }

        @include sm {
            flex-direction: column;
            gap: 24px;
        }

        &:not(.show) {
            position: absolute;
            left: -100vw;
            z-index: -10;
            visibility: hidden;
            opacity: 0;
        }

        & > article {
            display: flex;
            flex-direction: column;
            align-self: stretch;

            p {
                margin-bottom: 15px;
            }

            ul {
                display: flex;
                flex-direction: column;
                gap: 18px;
                margin-bottom: 15px;

                li {
                    display: flex;
                    gap: 12px;
                    align-items: center;
                }

                strong {
                    font-weight: 500;
                }

                .e-icon-top {
                    margin-right: -6px;
                    color: #ff5429;
                    font-size: 16px;
                    vertical-align: top;
                }
            }

            small {
                margin-top: auto;
                color: #8b8c8e;
                font-size: 16px;
                line-height: 1.2;

                @include sm {
                    font-size: 14px;
                }
            }
        }

        & > picture,
        .c-swiper {
            flex: none;
            width: min(50%, 495px);

            @include sm {
                width: 100%;
            }

            img {
                @include img-fluid;
                vertical-align: top;
            }
        }

        .c-swiper {
            margin: 0;
            padding: 0;
        }

        .c-visual-compare-card {
            --c-visual-compare-card-pill-color: #f6f6f7;
        }
    }

    // TODO: Remove after run section stack
    /* stylelint-disable-next-line selector-class-pattern */
    @at-root .product\.hair-growth-helmet & {
        padding-top: 30px;
        padding-bottom: 60px;

        @include sm {
            padding-top: 40px;
            padding-bottom: 40px;
        }
    }
}