.e-pill-tabs{
  display:flex;
  gap:8px;
  align-items:center;
  justify-content:center;
  padding:7px 11px;
  border:1px solid #8b8c8e;
  border-radius:100px;
}
.e-pill-tabs button{
  padding:7px 16px;
  color:#b5b6b7;
  font-size:18px;
  border:0;
  border-radius:100px;
  background:none;
  transition:all .2s linear;
}
.e-pill-tabs button:hover{
  color:#212428;
  background-color:#eee;
}
.e-pill-tabs button.active{
  color:#212428;
  background-color:#c7e5db;
  pointer-events:none;
}

.e-circle-percent{
  position:relative;
  width:62px;
  height:62px;
  padding:6px;
  border-radius:100px;
  background:conic-gradient(#c7e5db 0deg calc(var(--percent-value)*3.6deg), transparent calc(var(--percent-value)*3.6deg) 1turn);
}
.e-circle-percent:before{
  position:absolute;
  inset:3px;
  z-index:-1;
  border:1px solid #8b8c8e;
  border-radius:100px;
  content:"";
}
.e-circle-percent span{
  display:flex;
  align-items:center;
  justify-content:center;
  width:50px;
  height:50px;
  font-size:20px;
  font-weight:500;
  border-radius:100px;
  background:#fff;
}

.c-swiper{
  overflow:hidden;
  margin-right:-16px;
  margin-left:-16px;
  padding-right:16px;
  padding-left:16px;
}
.c-swiper .swiper-slide picture[data-url],.c-swiper .swiper-slide picture[data-video-id]{
  cursor:pointer;
}
.c-swiper .swiper-slide img{
  width:100%;
  height:auto;
  vertical-align:top;
}
.c-swiper-nav{
  display:flex;
  gap:20px;
  align-items:center;
  justify-content:center;
  margin-top:30px;
}
.c-swiper-nav-disabled .c-swiper-nav{
  display:none;
}
.c-swiper-pagination{
  display:flex;
  gap:10px;
  width:auto;
}
.c-swiper-thumbs-nav{
  display:flex;
  gap:20px;
  align-items:center;
  justify-content:center;
  width:auto;
}
.c-swiper-thumbs-nav .swiper-slide{
  overflow:hidden;
  border-radius:5px;
  opacity:.5;
  transition:opacity .2s linear;
}
.c-swiper-thumbs-nav .swiper-slide.swiper-slide-thumb-active{
  border:1px solid #212428;
  opacity:1;
}
.c-swiper-button-next,.c-swiper-button-prev{
  display:flex;
  flex:0 0 40px;
  align-items:center;
  justify-content:center;
  height:40px;
  color:#212428;
  font-size:12px;
  border:1px solid;
  border-radius:50px;
  background:#fff;
  cursor:pointer;
  transition:.3s;
}
.c-swiper-button-next:after,.c-swiper-button-prev:after{
  font-family:icomoon;
  font-weight:400;
  font-style:normal;
  font-variant:normal;
  line-height:1;
  text-transform:none;
  vertical-align:top;
  -moz-osx-font-smoothing:grayscale;
  -webkit-font-smoothing:antialiased;
  speak:never;
  content:"\e900";
}
.c-swiper-button-next:hover,.c-swiper-button-prev:hover{
  border-color:#c8e6dc;
  background:#c8e6dc;
}
.c-swiper-button-next.swiper-button-disabled,.c-swiper-button-prev.swiper-button-disabled{
  color:#8b8c8e;
  pointer-events:none;
  opacity:.3;
}
.c-swiper-button-prev:after{
  transform:rotate(-180deg);
}

.c-visual-compare-card{
  --c-visual-compare-card-pill-color:#c8e6dc;
  display:flex;
  flex-direction:column;
  gap:24px;
  overflow:hidden;
  padding:24px;
  border:1px solid #dfe0e0;
  border-radius:10px;
}
.c-visual-compare-card picture img{
  display:block;
  width:100%;
  height:auto;
}
.c-visual-compare-card article{
  display:flex;
  gap:16px;
  align-items:center;
  justify-content:center;
}
.c-visual-compare-card article span{
  padding:6px 20px;
  border-radius:30px;
  background:var(--c-visual-compare-card-pill-color);
}

.product-results__header{
  display:grid;
  grid-template-columns:1fr min(50%, 495px);
  margin-bottom:16px;
}
.product-results__header h2{
  align-self:center;
  margin-bottom:0;
}
.product-results__header .e-pill-tabs{
  margin-right:auto;
  margin-left:auto;
}
.product-results__content{
  display:flex;
  flex-direction:row-reverse;
  gap:60px;
  align-items:flex-start;
  transition:opacity .6s linear;
}
.product-results__content:not(.show){
  position:absolute;
  left:-300vw;
  z-index:-10;
  visibility:hidden;
  opacity:0;
}
.product-results__content>article{
  display:flex;
  flex-direction:column;
  align-self:stretch;
}
.product-results__content>article p{
  margin-bottom:15px;
}
.product-results__content>article ul{
  display:flex;
  flex-direction:column;
  gap:18px;
  margin-bottom:15px;
}
.product-results__content>article ul li{
  display:flex;
  gap:12px;
  align-items:center;
}
.product-results__content>article ul strong{
  font-weight:500;
}
.product-results__content>article ul .e-icon-top{
  margin-right:-6px;
  color:#ff5429;
  font-size:16px;
  vertical-align:top;
}
.product-results__content>article small{
  margin-top:auto;
  color:#8b8c8e;
  font-size:16px;
  line-height:1.2;
}
.product-results__content .c-swiper,.product-results__content>picture{
  flex:none;
  width:min(50%, 495px);
}
.product-results__content .c-swiper img,.product-results__content>picture img{
  display:block;
  max-width:100%;
  height:auto;
  vertical-align:top;
}
.product-results__content .c-swiper{
  margin:0;
  padding:0;
}
.product-results__content .c-visual-compare-card{
  --c-visual-compare-card-pill-color:#f6f6f7;
}
.product\.hair-growth-helmet .product-results{
  padding-top:30px;
  padding-bottom:60px;
}
@media screen and (max-width:991px){
  .c-visual-compare-card{
    gap:16px;
    padding:16px;
  }
  .c-visual-compare-card article{
    flex-direction:column;
    gap:10px;
  }
  .product-results__content{
    gap:40px;
  }
}
@media screen and (max-width:767px){
  .product-results__header{
    grid-template-columns:auto;
  }
  .product-results__header h2{
    display:none;
  }
  .product-results__content{
    flex-direction:column;
    gap:24px;
  }
  .product-results__content>article small{
    font-size:14px;
  }
  .product-results__content .c-swiper,.product-results__content>picture{
    width:100%;
  }
  .product\.hair-growth-helmet .product-results{
    padding-top:40px;
    padding-bottom:40px;
  }
}
