@use "@root/mixins" as *;

.c-approved-by {
    display: flex;
    gap: 8px;
    align-items: center;
    font-size: 16px;
    line-height: 1.2;

    @include sm {
        font-size: 14px;
    }

    ul {
        display: flex;
    }

    li {
        & + li {
            margin-left: -8px;
        }

        &:first-child {
            position: relative;
            z-index: 1;
        }
    }

    img {
        display: block;
        width: 46px;
        height: 46px;
        vertical-align: top;
        border: 3px solid #fff;
        border-radius: 50%;
        box-shadow: 0 5px 5px 0 rgb(0 0 0 / 25%);

        @include sm {
            width: 26px;
            height: 26px;
            border-width: 2px;
        }
    }
}