.c-certified-box {
    display: grid;
    grid-template-columns: max-content 1fr;
    gap: 10px;
    align-items: center;
    max-width: 415px;
    padding: 10px 20px;
    font-size: 14px;
    line-height: 18px;
    text-align: left;
    border-radius: 5px;
    background: #f6f6f7;

    // .c-certified-box__list
    ul {
        display: flex;
        align-items: center;

        li {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            overflow: hidden;
            width: 32px;
            height: 32px;
            font-size: 12px;
            font-weight: 600;
            border: 1px solid #f6f6f7;
            border-radius: 50%;
            background: #c8e6dc;

            & + li {
                margin-left: -8px;
            }

            img {
                width: inherit;
                max-height: inherit;
            }
        }
    }

    // MODIFICATORS
    // .c-certified-box--light
    &--light {
        background: #fff;
    }
}