@use "@root/mixins" as *;

.c-dialog {
    $root: &;

    overflow: auto;
    max-width: none;
    max-height: none;
    padding: 0;
    border: 0;

    &::backdrop {
        background: #212428;
        opacity: 0.6;
    }

    // .c-dialog__message
    &__message {
        display: flex;
        flex: none;
        align-items: center;
        height: var(--height-bar);
        padding: 2px 24px;
        font-size: 14px;
        line-height: 1.1;
        background: #f6f6f7;

        @include sm {
            padding-right: 16px;
            padding-left: 16px;
        }
    }

    // .c-dialog__content
    &__content {
        padding: 24px;

        @include sm {
            padding-right: 16px;
            padding-left: 16px;
        }
    }

    // .c-dialog__close
    &__close {
        position: absolute;
        top: 0;
        right: 0;
        padding: 8px;
        font-size: 18px;
        line-height: 1;
        border: 0;
        border-radius: 30px;
        background: none;
        @include transition;

        &:hover {
            color: #fff;
            background: #212428;
        }

        .e-icon {
            vertical-align: top;
        }
    }

    // .c-dialog--column
    &--column {
        width: min(450px, 100%);
        height: 100vh;
        margin: 0 0 0 auto;

        .c-dialog__close {
            top: calc(var(--height-bar) + 22px);
            right: 14px;
        }
    }
}
