@use "@root/mixins" as *;

.c-hr-with-text {
    position: relative;
    text-align: center;

    &::after {
        position: absolute;
        top: 50%;
        right: 0;
        left: 0;
        z-index: -1;
        height: 1px;
        background: #dfe0e0;
        content: '';
    }

    span {
        padding-right: 12px;
        padding-left: 12px;
        font-size: 20px;
        font-weight: 500;
        text-transform: lowercase;
        background: #fff;
    }
}