@use "@root/mixins" as *;

.c-info-bar {
    font-size: 16px;
    line-height: 16px;

    &::before {
        display: inline-block;
        width: 14px;
        height: 14px;
        margin-right: 6px;
        color: #fff;
        font-size: 8px;
        @include icon;
        line-height: 14px;
        text-align: center;
        vertical-align: top;
        border-radius: 50%;
        background: #fea500;
        content: "\e90c";
    }
}