@use "@root/mixins" as *;

.c-modal {
    $root: &;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 1055;
    display: none;
    overflow: hidden auto;
    width: 100%;
    height: 100%;
    outline: 0;

    .modal-header {
        padding: 10px;
        border: 0;

        .btn-close {
            padding: 5px;
            color: #fff;
            font-size: 14px;
            line-height: 1;

            &:hover {
                color: #212428;
            }

            &::after {
                @include icon;
                vertical-align: top;
                content: "\e904";
            }
        }
    }

    // .c-modal--wistia
    &--wistia {
        .modal-dialog {
            max-width: 500px;
            margin-top: 0;
            margin-bottom: 0;
        }

        .modal-content {
            border: none;
            background: transparent;
        }

        .modal-body {
            overflow: hidden;
            padding: 0;
            border-radius: 10px;
        }

        #{$root}__video {
            overflow: hidden;
            max-width: 400px;
            margin: 0 auto;
            border-radius: 10px;
        }
    }
}