@use "@root/mixins" as *;

.c-note {
    display: block;
    max-width: 500px;
    padding: 10px 12px;
    font-size: 16px;
    line-height: 1.25;
    border-radius: 10px;
    background: #eef7f4;

    p {
        margin: 0;

        & + p {
            margin-top: 15px;
        }
    }

    strong {
        font-weight: 600;
    }

    // .c-note--warning
    // .c-note--info
    &--info,
    &--warning {
        position: relative;
        padding-left: 36px;

        &::before {
            position: absolute;
            top: 12px;
            left: 12px;
            width: 16px;
            height: 16px;
            color: #fff;
            font-size: 8px;
            @include icon;
            line-height: 16px;
            text-align: center;
            border-radius: 16px;
            content: "\e90c";
        }
    }
    
    // .c-note--info
    &--info {
        background: #f4f8fd;
        
        &::before {
            background: #91baec;
        }
    }

    // .c-note--warning
    &--warning {
        background: #ffeeea;
        
        &::before {
            background: #ff5429;
        }
    }
}