@use "@root/mixins" as *;
@use "@elements/e-pay-options" as *;

.c-order-button {
    display: flex;
    flex-direction: column;
    gap: 10px;

    .btn {
        width: 100%;
    }

    .e-pay-options {
        justify-content: center;
    }
}