@use "@root/mixins" as *;

.c-subscribe-form {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    width: 100%;
    max-width: 450px;

    @include sm {
        gap: 14px;
    }
    
    h2 {
        margin-bottom: 0;
        color: inherit;
    }
    
    form {
        display: flex;
        overflow: hidden;
        width: 100%;
        border-radius: 50px;
    }

    input {
        width: 100%;
        height: 60px;
        padding-left: 30px;
        color: #212428;
        font-size: 20px;
        border: 0;
        border-radius: 0;

        @include sm {
            height: 56px;
            font-size: 18px;
        }

        &:focus {
            font-size: 20px;
        }
    }

    button {
        flex: none;
        padding: 0 30px 0 20px;
        font-size: 20px;
        border: 0;
        border-radius: 0;
        background: #fff;

        @include sm {
            font-size: 16px;
        }
    }
}