@use "@root/mixins" as *;

.c-swiper {
    $root: &;
    
    overflow: hidden;
    margin-right: -15px;
    margin-left: -15px;
    padding-right: 15px;
    padding-left: 15px;

    // .c-swiper-nav
    &-nav {
        display: flex;
        gap: 20px;
        align-items: center;
        justify-content: center;
        margin-top: 30px;

        // .c-swiper-nav-disabled .c-swiper-nav
        #{$root}-nav-disabled & {
            display: none;
        }
    }

    // .c-swiper-pagination
    &-pagination {
        display: flex;
        gap: 10px;
        width: auto;
    }
    
    // .c-swiper-button-prev
    // .c-swiper-button-next
    &-button-prev,
    &-button-next {
        display: flex;
        flex: 0 0 40px;
        align-items: center;
        justify-content: center;
        height: 40px;
        color: #212428;
        font-size: 12px;
        border: 1px solid;
        border-radius: 50px;
        background: #fff;
        cursor: pointer;
        transition: .3s;

        &::after {
            @include icon;
            content: "\e900";
        }

        &:hover {
            border-color: #c8e6dc;
            background: #c8e6dc;
        }

        &.swiper-button-disabled {
            color: #8b8c8e;
            pointer-events: none;
            opacity: 0.3;
        }
    }

    // .c-swiper-button-prev
    &-button-prev {
        &::after {
            transform: rotate(-180deg);
        }
    }
}