@use "@root/mixins" as *;

.c-visual-compare-card {
    display: flex;
    flex-direction: column;
    gap: 24px;
    overflow: hidden;
    padding: 24px;
    border: 1px solid #dfe0e0;
    border-radius: 10px;

    @include md {
        gap: 16px;
        padding: 16px;
    }

    picture {
        img {
            display: block;
            width: 100%;
            height: auto;
        }
    }

    article {
        display: flex;
        gap: 16px;
        align-items: center;
        justify-content: center;

        @include md {
            flex-direction: column;
            gap: 10px;
        }

        span {
            padding: 6px 20px;
            border-radius: 30px;
            background: #c8e6dc;
        }
    }
}