<!-- PRODUCT SETTINGS -->
<link rel="stylesheet" href="sections/new/product-settings/product-settings.css" />
<section class="product-settings {{ classes }}">
    <div class="container">
        {{> @partial-block }}
    </div>
</section>
<!-- PRODUCT SETTINGS END -->
