<!-- MI NEW -->
<link rel="stylesheet" href="sections/new/mi-new/mi-new.css" />
<section class="mi-new {{ classes }}" >
    <div class="container">
        <h2>{{ title }}</h2>
        <article class="mi-new__content">
            <div class="mi-new__pointer">
                <div class="e-pill-badge">
                    <div class="e-checkmark"></div>
                    No Set-Up Required
                </div>
                <p>Easy to use. No manual assembly – just remove the cap and start the treatment.</p>
            </div>
            <div class="mi-new__pointer">
                <div class="e-pill-badge">
                    <div class="e-checkmark"></div>
                    Single-Use &amp; Disposable
                </div>
                <p>Reduces the risk of infection or irritation. Made from recycled plastic.</p>
            </div>
            <div class="mi-new__pointer">
                <div class="e-pill-badge">
                    <div class="e-checkmark"></div>
                    Patent-pending design
                </div>
                <p>Seamless serum dispensing delivers the right amount of serum with each press.</p>
            </div>
            <div class="mi-new__pointer">
                <div class="e-pill-badge">
                    <div class="e-checkmark"></div>
                    Under $20 per use
                </div>
                <p>Get clinic-quality results at a fraction of the cost.</p>
            </div>
            <picture class="mi-new__image">
                <img src="sections/new/mi-new/images/mi-new.webp" alt="MI NEW" />
            </picture>
        </article>
        <button class="btn btn--primary" type="button">Shop Now</button>
    </div>
</section>
<!-- MI NEW END -->
