@use "@root/mixins" as *;
@use "@elements/e-rating-stars" as *;
@use "@elements/e-switcher" as *;
@use "@components/c-marked-list" as *;
@use "@components/c-cart-tile" as *;
@use "@components/c-swiper" as *;

// BASE PAGE CART
.cart {

}

// FLYOUT CART
.flyout-cart {
    --bs-offcanvas-width: 450px;

    position: fixed;
    top: 0;
    right: -455px;
    bottom: 0;
    z-index: 1045;
    display: flex;
    flex-direction: column;
    visibility: hidden;
    width: min(var(--bs-offcanvas-width), 100%);
    background-color: #fff;
    @include transition;

    &.show {
        right: 0;
        visibility: visible;
    }

    // .flyout-cart__wrapper
    &__wrapper {
        display: flex;
        flex-grow: 1;
        flex-direction: column;
        min-height: 1px;
    }

    // .flyout-cart__header
    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 24px 24px 14px;
        color: #000;

        @include sm {
            padding-right: 16px;
            padding-left: 16px;
        }

        .btn-close {
            margin: -5px;
            padding: 5px;
        }
    }

    // .flyout-cart__gifts
    &__gifts {
        display: flex;
        flex-direction: column;
        gap: 10px;
        justify-content: center;
        margin: 0 24px 24px;
        padding-bottom: 48px;
        text-align: center;
        border-bottom: 1px solid #dfe0e0;

        @include sm {
            margin-right: 16px;
            margin-left: 16px;
        }

        p {
            font-size: 14px;
        }

        ul {
            position: relative;
            height: 14px;
            border: 1px solid #8b8c8e;
            border-radius: 20px;

            &::before {
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                width: var(--gifts-progress);
                border-radius: 20px;
                background: #d3e3f7;
                content: '';
            }
        }

        li {
            position: absolute;
            top: 50%;
            left: var(--gifts-icon-pos, 15%);
            z-index: 2;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 25px;
            height: 25px;
            color: #8b8c8e;
            border: 1px solid #8b8c8e;
            border-radius: 50%;
            background: #f6f6f7;
            transform: translate(calc(-1 * var(--gifts-icon-pos, 15%)), -50%);

            &.active {
                color: #212428;
                border-color: #91baec;
                background: #91baec;
            }

            .e-icon {
                font-size: 16px;
            }

            .e-icon-checkmark {
                font-size: 8px;
            }

            span {
                position: absolute;
                top: 28px;
                font-size: 14px;
                line-height: 18px;
            }
        }
    }

    // .flyout-cart__content
    &__content {
        display: flex;
        flex-grow: 1;
        flex-direction: column;
        overflow: auto;
        min-height: 1px;
        padding-bottom: 24px;
        @include custom-scrollbar;
    }

    // .flyout-cart__body
    &__body {
        flex-grow: 1;
    }

    // .flyout-cart__placeholder
    &__placeholder {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 24px;

        @include sm {
            padding-right: 16px;
            padding-left: 16px;
        }

        &:not(:last-child) {
            margin-bottom: 12px;
        }
    }

    // .flyout-cart__placeholder-header
    &__placeholder-header {
        margin-bottom: 28px;
        text-align: center;

        h4 {
            font-size: 28px;
        }
    }

    // .flyout-cart__placeholder-wrapper
    &__placeholder-wrapper {
        max-width: 343px;
        margin-right: auto;
        margin-left: auto;
        padding: 24px;
        border: 1px solid #dfe0e0;
        border-radius: 10px;
    }

    // .flyout-cart__placeholder-content
    &__placeholder-content {
        display: grid;
        grid-template: repeat(3, auto) / 100px 1fr;
        gap: 16px 18px;
        align-items: center;
        margin-bottom: 18px;

        img {
            @include img-fluid;
        }

        h6 {
            margin-bottom: 0;
        }

        ul, .btn {
            grid-column: span 2;
        }

        ul {
            @include c-marked-list;
            gap: 10px;
            font-size: 14px;
        }

        .btn {
            padding: 12px 24px;
            font-size: inherit;
        }
    }

    // .flyout-cart__placeholder-footer
    &__placeholder-footer {
        display: grid;
        grid-template: repeat(2, auto) / repeat(2, auto);
        gap: 0 8px;
        place-items: center;
        padding-top: 18px;
        font-size: 14px;
        line-height: 1.2;
        border-top: 1px solid #dfe0e0;

        .e-rating-stars {
            margin-left: auto;
        }

        strong {
            margin-right: auto;
        }

        p {
            grid-column: span 2;
        }
    }

    // .flyout-cart__list
    &__list {
        display: flex;
        flex-direction: column;
        gap: 12px;
        margin-bottom: 24px;
        padding: 0 24px;

        @include sm {
            padding: 0 16px;
        }
    }

    // .flyout-cart__upsells
    &__upsells {
        padding: 0 24px;

        @include sm {
            padding: 0 16px;
        }

        & > p {
            padding: 18px 0 12px;
            border-top: 1px solid #dfe0e0;
        }

        .c-swiper {
            @media screen and (min-width: 768px) {
                margin: 0 -24px;
                padding: 0 24px;
            }
        }

        .swiper-slide {
            display: flex;
            gap: 16px;
            align-items: center;
            padding: 16px 12px;
            border: 1px solid #dfe0e0;
            border-radius: 10px;

            img {
                width: 60px;
                height: auto;
            }

            p {
                flex-grow: 1;
                font-size: 16px;
                line-height: 1.25;
            }

            a {
                --btn-primary-bg: #f6f6f7;

                min-width: 96px;
                font-size: 18px;
                font-weight: 500;
                text-transform: uppercase;
            }
        }
    }

    // .flyout-cart__footer
    &__footer {
        display: flex;
        flex: none;
        flex-direction: column;
        gap: 14px;
        padding: 24px 24px 18px;
        border-top: 1px solid #dfe0e0;

        @include sm {
            padding-right: 16px;
            padding-left: 16px;
        }
    }

    // .flyout-cart__secure-ship
    &__secure-ship {
        display: grid;
        grid-template: repeat(2, auto) / 1fr auto;
        gap: 4px 0;

        .e-switcher {
            grid-row: 1 / -1;
            grid-column: 2;
        }

        p {
            font-size: 12px;
            line-height: 1.25;
        }
    }

    // .flyout-cart__summary
    &__summary {
        display: flex;
        flex-direction: column;
        font-size: 16px;

        li {
            display: flex;
            align-items: center;
            justify-content: space-between;

            &:has(.savings-price) {
                color: #0fa847;
            }
        }
    }

    // .flyout-cart__checkout
    &__checkout {
        display: flex;
        flex-direction: column;
        gap: 8px;

        .btn, p {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;

            .e-icon {
                vertical-align: top;
            }
        }

        .btn {
            gap: 12px;
            text-transform: uppercase;

            .e-icon {
                font-size: 16px;
            }
        }

        p {
            font-size: 14px;

            .e-icon {
                font-size: 25px;
            }
        }
    }
}