.e-icon{
  display:inline-block;
  line-height:1;
}
.e-icon:before{
  font-family:icomoon;
  font-weight:400;
  font-style:normal;
  font-variant:normal;
  line-height:1;
  text-transform:none;
  vertical-align:top;
  -moz-osx-font-smoothing:grayscale;
  -webkit-font-smoothing:antialiased;
  speak:never;
}

.e-icon-chevron:before{
  content:"\e900";
}

.e-icon-checkmark:before{
  content:"\e901";
}

.e-icon-plus:before{
  content:"\e903";
}

.e-icon-minus:before{
  content:"\e902";
}

.e-icon-cross:before{
  content:"\e904";
}

.e-icon-arrow:before{
  content:"\e905";
}

.e-icon-qure:before{
  content:"\e906";
}

.e-icon-q:before{
  content:"\e907";
}

.e-icon-youtube:before{
  content:"\e90b";
}

.e-icon-instagram:before{
  content:"\e90a";
}

.e-icon-facebook:before{
  content:"\e909";
}

.e-icon-tiktok:before{
  content:"\e908";
}

.e-icon-i:before{
  content:"\e90c";
}

.e-icon-play:before{
  content:"\e90d";
}

.e-icon-stars:before{
  content:"\e920";
}

.e-icon-rating-fill:before{
  content:"\e921";
}

.e-icon-trustpilot:before{
  content:"\e922";
}

.e-icon-pm:before{
  content:"\e923";
}

.e-icon-am:before{
  content:"\e924";
}

.e-icon-watch:before{
  content:"\e925";
}

.e-icon-cart:before{
  content:"\e926";
}

.e-icon-user:before{
  content:"\e927";
}

.e-icon-gift:before{
  content:"\e928";
}

.e-icon-shipping:before{
  content:"\e92b";
}

.e-icon-faq:before{
  content:"\e92a";
}

.e-icon-letter:before{
  content:"\e929";
}

.e-icon-pillow:before{
  content:"\e92c";
}

.e-icon-patches:before{
  content:"\e92d";
}

.e-icon-mist:before{
  content:"\e92e";
}

.e-icon-lock:before{
  content:"\e92f";
}

.e-icon-guarantee:before{
  content:"\e930";
}

.e-icon-top:before{
  content:"\e931";
}

.e-icon-proven:before{
  content:"\e932";
}

.e-icon-pay-later:before{
  content:"\e933";
}

.e-icon-reviewed:before{
  content:"\e934";
}

.e-icon-shipping-order:before{
  content:"\e90e";
}

.e-icon-shipping-order-hvr:before{
  content:"\e90f";
}

.e-icon-rejuvalight-pro-facewear:before{
  content:"\e911";
}

.e-icon-rejuvalight-pro-facewear-hvr:before{
  content:"\e910";
}

.e-icon-micro-infusion-system:before{
  content:"\e913";
}

.e-icon-micro-infusion-system-hvr:before{
  content:"\e912";
}

.e-icon-renew-lllt-helmet:before{
  content:"\e915";
}

.e-icon-renew-lllt-helmet-hvr:before{
  content:"\e914";
}

.e-icon-returns-exchanges:before{
  content:"\e917";
}

.e-icon-returns-exchanges-hvr:before{
  content:"\e916";
}

.e-icon-billing-payment:before{
  content:"\e919";
}

.e-icon-billing-payment-hvr:before{
  content:"\e918";
}

.e-icon-warranty:before{
  content:"\e91b";
}

.e-icon-warranty-hvr:before{
  content:"\e91a";
}

.e-icon-qure-app:before{
  content:"\e91d";
}

.e-icon-qure-app-hvr:before{
  content:"\e91c";
}

.e-icon-troubleshooting:before{
  content:"\e91f";
}

.e-icon-troubleshooting-hvr:before{
  content:"\e91e";
}

.c-faq-accordion__list{
  display:flex;
  flex-direction:column;
  gap:12px;
}
.c-faq-accordion__item{
  overflow:hidden;
  font-size:16px;
  border-radius:10px;
  background:#f6f6f7;
}
.c-faq-accordion__header button{
  display:flex;
  gap:10px;
  align-items:center;
  width:100%;
  min-height:63px;
  padding:12px 24px;
  color:#212428;
  text-align:left;
  border:0;
  background:none;
}
.c-faq-accordion__header button:after{
  margin-left:auto;
  font-family:icomoon;
  font-weight:400;
  font-style:normal;
  font-variant:normal;
  line-height:1;
  text-transform:none;
  vertical-align:top;
  -moz-osx-font-smoothing:grayscale;
  -webkit-font-smoothing:antialiased;
  speak:never;
  font-size:14px;
  content:"\e903";
}
.c-faq-accordion__header button[aria-expanded=true]{
  font-weight:600;
}
.c-faq-accordion__header button[aria-expanded=true]:after{
  content:"\e902";
}
.c-faq-accordion__content{
  padding:0 24px 24px;
}
.c-faq-accordion__content picture{
  float:right;
  width:min(300px, 40%);
  margin-bottom:25px;
  margin-left:40px;
}
.c-faq-accordion__content picture img{
  max-width:100%;
  height:auto;
}
.c-faq-accordion__content p{
  margin:0;
}
.c-faq-accordion__content p:not(:last-child){
  margin-bottom:15px;
}
.c-faq-accordion__content a{
  color:inherit;
  text-decoration:underline;
}
.c-faq-accordion__content a:hover{
  text-decoration:none;
}
.c-faq-accordion__content a[href^="mailto:"]{
  color:#91baec;
}
.c-faq-accordion__content strong{
  font-weight:500;
}
.c-faq-accordion__content ul{
  padding-left:24px;
}
.c-faq-accordion__content ul:not(:last-child){
  margin-bottom:15px;
}
.c-faq-accordion__content ul li{
  padding-left:4px;
  list-style:disc;
}
.c-faq-accordion__content ol{
  counter-reset:item;
}
.c-faq-accordion__content ol:not(:last-child){
  margin-bottom:15px;
}
.c-faq-accordion__content ol li{
  position:relative;
  min-height:24px;
  padding-left:36px;
  counter-increment:item;
}
.c-faq-accordion__content ol li:before{
  position:absolute;
  top:0;
  left:0;
  width:24px;
  height:24px;
  line-height:24px;
  text-align:center;
  border:1px solid;
  border-radius:24px;
  content:counters(item, "");
}
.c-faq-accordion__content ol li:not(:last-child){
  margin-bottom:12px;
}
.c-faq-accordion__ask-us{
  display:flex;
  gap:10px;
  align-items:center;
  justify-content:center;
  margin-top:40px;
  font-weight:500;
}
.c-faq-accordion__ask-us a{
  display:flex;
  gap:6px;
  align-items:center;
  font-weight:inherit;
}
.c-faq-accordion__ask-us a .e-icon{
  font-size:14px;
  vertical-align:top;
  -webkit-text-stroke:.4px;
}
.c-faq-accordion--lines .c-faq-accordion__list{
  gap:0;
}
.c-faq-accordion--lines .c-faq-accordion__item{
  border-bottom:1px solid #8b8c8e;
  border-radius:0;
  background:none;
}
.c-faq-accordion--lines .c-faq-accordion__content,.c-faq-accordion--lines .c-faq-accordion__header button{
  padding-right:0;
  padding-left:0;
}

.have-questions{
  padding-top:60px;
  padding-bottom:60px;
  background:#f6f6f7;
}
.have-questions .container{
  display:flex;
  flex-direction:column;
  justify-content:center;
}
.have-questions h2{
  margin-bottom:24px;
  text-align:center;
}
.have-questions .c-faq-accordion__header button{
  padding-top:32px;
  padding-bottom:32px;
  font-size:18px;
}
.have-questions .c-faq-accordion__content{
  padding-bottom:32px;
  font-size:18px;
}
.have-questions .c-faq-accordion__ask-us{
  margin-top:60px;
}
@media screen and (max-width:767px){
  .c-faq-accordion__content,.c-faq-accordion__header button{
    padding-right:16px;
    padding-left:16px;
  }
  .c-faq-accordion__content picture{
    float:none;
    display:block;
    width:100%;
    margin-left:0;
  }
  .c-faq-accordion__ask-us{
    margin-top:32px;
    margin-bottom:4px;
  }
  .have-questions{
    padding-top:40px;
    padding-bottom:40px;
  }
  .have-questions .c-faq-accordion__header button{
    padding-top:24px;
    padding-bottom:24px;
  }
  .have-questions .c-faq-accordion__content{
    padding-bottom:24px;
  }
  .have-questions .c-faq-accordion__ask-us{
    margin-top:40px;
  }
}
