@use "@root/mixins" as *;
@use "@elements/e-icon" as *;
@use "@components/c-faq-accordion" as *;

.have-questions {
    $root: &;

    padding-top: 60px;
    padding-bottom: 60px;
    background: #f6f6f7;

    @include sm {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    h2 {
        margin-bottom: 24px;
        text-align: center;
    }

    .c-faq-accordion__header {
        button {
            padding-top: 32px;
            padding-bottom: 32px;
            font-size: 18px;

            @include sm {
                padding-top: 24px;
                padding-bottom: 24px;
            }
        }
    }

    .c-faq-accordion__content {
        padding-bottom: 32px;
        font-size: 18px;

        @include sm {
            padding-bottom: 24px;
        }
    }

    .c-faq-accordion__ask-us {
        margin-top: 60px;

        @include sm {
            margin-top: 40px;
        }
    }
}
