<!-- HAVE QUESTIONS -->
<link rel="stylesheet" href="sections/new/have-questions/have-questions.css" />
<div class="have-questions">
    <div class="container">
        <h2>Have questions?</h2>
        {{> c-accordion list=list type="lines" button=true }}
    </div>
</div>
<!-- HAVE QUESTIONS END -->
