{{#> new
    title="Treatment Section Full"
}}

{{#> section-stack }}
    {{#> treatment
        classes="treatment--announcement"
        id="purchase-form"
        announcement="SOLD OUT 10X - AVAILABLE UNTIL STOCK LASTS"
        title="Choose your treatment"
        text="
            <p>All orders are one-time purchases. No extra charges, and no hidden fees.</p>
        "
        picture="sections/new/treatment/images/MI_6_month_DS.webp"
        features-list='[
            {
                "text": "30-Day Money-Back Guarantee",
                "icon": "guarantee"
            },
            {
                "text": "Free Shipping over {$dyn}",
                "icon": "shipping-order"
            },
            {
                "text": "Backed by Science",
                "icon": "proven"
            }
        ]'
        accordion-list='[
            {
                "summary": "What can it do for your skin",
                "text": "
                    <p>Designed to support smoother, brighter-looking skin with balanced hydration. </p>
                    <p>Helps soften the look of fine lines while improving the appearance of dark spots and uneven tone, leaving skin looking refreshed, plumper, and more luminous.</p>
                "
            },
            {
                "summary": "All Ingredients",
                "text": "
                    <p><strong>Dark Spots Serum:</strong><br /> Odycea Onsen-Sui (Thermal water), Propanediol, Glycerin, Tranexamic Acid, Niacinamide, Panthenol, Chrysanthellum Indicum Extract, Ethylhexylglycerin, Tripeptide-1, Xanthan Gum, Allantoin, SH-Oligopeptide-1.</p>
                    <p><strong>Wrinkles Serum:</strong><br /> Odycea Onsen-Sui (Thermal water), Propanediol, Glycerin, Panthenol, Niacinamide, Myrothamnus Flabellifolia Leaf/Stem Extract, Water, Butylene Glycol, Hydroxyacetophenone, Copper Tripeptide-1, Beta-Glucan, Chrysanthellum Indicum Extract, Ethylhexylglycerin, Allantoin, Sodium Hyaluronate, Xanthan Gum.</p>
                    <small>Please note that due to innovative updates and changing regulatory guidelines, the ingredient lists provided here may differ slightly from those on our packaging and distributor websites.</small>
                "
            }
        ]'
    }}
        <div class="treatment__steps">
            <div class="treatment__step">
                {{> c-options-selector
                    title="Select Your Product"
                    list='[
                        {
                            "img": "sections/new/treatment/images/Dark_Spots_4.png",
                            "name": "White",
                            "option": "color",
                            "checked": true
                        },
                        {
                            "img": "sections/new/treatment/images/Mixed_3.png",
                            "name": "Black",
                            "option": "color"
                        },
                        {
                            "img": "sections/new/treatment/images/Wrinkles_2.png",
                            "name": "Silver",
                            "option": "color"
                        }
                    ]'
                }}
                <div class="info-items">
                    <div class="info-items__item show">
                        {{> c-accordion
                            type="lines"
                            list='[
                                {
                                    "summary": "What can it do for your skin",
                                    "text": "
                                        <p>Helps reveal a smoother-looking, more radiant complexion. Formulated to help improve the appearance of dark spots and uneven tone for skin that looks refreshed and luminous.</p>
                                        <p><strong>Skin Concerns:</strong> Ideal for skin that appears uneven in tone or texture and shows visible dark spots or post-blemish marks.</p>
                                    "
                                },
                                {
                                    "summary": "All Ingredients",
                                    "text": "
                                        <p><strong>Odycea Onsen-Sui Thermal Spring Water (France): </strong>Making up 50% of the formula, this mineral-rich thermal spring water is known for its soothing, hydrating, and balancing properties that help support skin comfort and barrier strength.<br><br><strong>Epidermal Growth Factor (EGF): </strong>A science-backed ingredient known to support the look of smoother, hydrated, and more refreshed skin. Helps visibly reduce the look of fine lines and uneven tone.<br><br><strong>Niacinamide:</strong>A multi-benefit vitamin known to help improve the look of uneven tone, minimize visible pores, and support smoother-looking skin.<br><br><strong>Tranexamic Acid:</strong>A brightening ingredient that helps visibly improve the look of dark spots, uneven tone, and dullness.<br><br><strong>All ingredients:</strong><br>Odycea Onsen-Sui (Thermal water), Propanediol, Glycerin, Tranexamic Acid, Niacinamide, Panthenol, Chrysanthellum Indicum Extract, Ethylhexylglycerin, Tripeptide-1, Xanthan Gum, Allantoin, SH-Oligopeptide-1.</p>
                                        <small>Please note that due to innovative updates and changing regulatory guidelines, the ingredient lists provided here may differ slightly from those on our packaging and distributor websites.</small>
                                    "
                                }
                            ]'
                        }}
                    </div>
                    <div class="info-items__item">
                        {{> c-accordion
                            type="lines"
                            list='[
                                {
                                    "summary": "What can it do for your skin",
                                    "text": "
                                        <p>Delivers lasting hydration to leave skin looking plumper, smoother, and refreshed. Helps reduce the look of fine lines and wrinkles while supporting visibly calm, balanced, and supple-feeling skin.</p>
                                        <p><strong>Skin Concerns:</strong> Ideal for skin that appears dry, dull, or shows visible signs of aging such as fine lines, uneven tone, and temporary redness.</p>
                                    "
                                },
                                {
                                    "summary": "All Ingredients",
                                    "text": "
                                        <p><strong>Odycea Onsen-Sui Thermal Spring Water (France): </strong>Making up 50% of the formula, this mineral-rich thermal spring water is the foundation of our serum. Naturally sourced from the Onsen-Sui springs in France, it’s known for its soothing, hydrating, and balancing properties that help support skin comfort, barrier strength, and ingredient performance. As the main base of our micro-infusion system, it gives the formula its refreshing and lightweight feel — gentle enough even for sensitive skin.<br><br><strong>Beta Glucan:</strong> A powerful hydrator that helps the skin feel supple, moisturized, and visibly smoother.<br><br><strong>GHK-Cu (Copper Peptide):</strong>A peptide complex known to help improve the appearance of firmness and smoothness for youthful-looking skin. Gives the serum its signature blue hue.<br><br><strong>Sodium Hyaluronate:</strong>A powerful hydrator that helps the skin feel supple, moisturized, and visibly smoother.<br><br><strong>All ingredients:</strong><br>Odycea Onsen-Sui (Thermal water), Propanediol, Glycerin, Panthenol, Niacinamide, Myrothamnus Flabellifolia Leaf/Stem Extract, Water, Butylene Glycol, Hydroxyacetophenone, Copper Tripeptide-1, Beta-Glucan, Chrysanthellum Indicum Extract, Ethylhexylglycerin, Allantoin, Sodium Hyaluronate, Xanthan Gum.</p>
                                        <small>Please note that due to innovative updates and changing regulatory guidelines, the ingredient lists provided here may differ slightly from those on our packaging and distributor websites.</small>
                                    "
                                }
                            ]'
                        }}
                    </div>
                    <div class="info-items__item">
                        {{> c-accordion
                            type="lines"
                            list='[
                                {
                                    "summary": "What can it do for your skin",
                                    "text": "
                                        <p>Designed to support smoother, brighter-looking skin with balanced hydration.</p>
                                        <p>Helps soften the look of fine lines while improving the appearance of dark spots and uneven tone, leaving skin looking refreshed, plumper, and more luminous.</p>
                                    "
                                },
                                {
                                    "summary": "All Ingredients",
                                    "text": "
                                        <p><strong>Dark Spots Serum:<br></strong>Odycea Onsen-Sui (Thermal water), Propanediol, Glycerin, Tranexamic Acid, Niacinamide, Panthenol, Chrysanthellum Indicum Extract, Ethylhexylglycerin, Tripeptide-1, Xanthan Gum, Allantoin, SH-Oligopeptide-1.<br><br><strong>Wrinkles Serum:<br></strong>Odycea Onsen-Sui (Thermal water), Propanediol, Glycerin, Panthenol, Niacinamide, Myrothamnus Flabellifolia Leaf/Stem Extract, Water, Butylene Glycol, Hydroxyacetophenone, Copper Tripeptide-1, Beta-Glucan, Chrysanthellum Indicum Extract, Ethylhexylglycerin, Allantoin, Sodium Hyaluronate, Xanthan Gum.</p>
                                        <small>Please note that due to innovative updates and changing regulatory guidelines, the ingredient lists provided here may differ slightly from those on our packaging and distributor websites.</small>
                                    "
                                }
                            ]'
                        }}
                    </div>
                </div>
            </div>
            <div class="treatment__step">
                {{> c-supply-selector
                    classes=""
                    title="Select Your Supply"
                    list='[
                        {
                            "name": "6 Month Supply",
                            "desc": "12 Treatments",
                            "price-old": true,
                            "price-highlight": true,
                            "save-pill": true,
                            "save-value": "Save 70%",
                            "tag-up": true,
                            "tag-name": "Best Value <i class=\"e-icon e-icon-rating-fill\"></i>",
                            "option": "supply-new",
                            "kits-left-hot": true,
                            "checked": true
                        },
                        {
                            "name": "3 Month Supply",
                            "desc": "6 Treatments",
                            "price-old": true,
                            "price-highlight": true,
                            "save-pill": true,
                            "save-pill-light": true,
                            "save-value": "Save 53%",
                            "option": "supply-new",
                            "kits-left-normal": true
                        },
                        {
                            "name": "1 Months Supply",
                            "desc": "2 Micro-Infusion Treatments",
                            "option": "supply-new"
                        }
                    ]'
                }}
                <div class="info-items">
                    <div class="info-items__item show">
                        <details>
                            <summary>What is in the 6 Month Supply bundle? {{> e-icon icon="chevron"}}</summary>
                            <article>
                                <ul>
                                    <li>12 clinically formulated 4ml serums to treat your specific skin concerns (valued at $120)</li>
                                    <li>Worldwide shipping (valued at $25)</li>
                                    <li>Risk-free 90 day money-back guarantee to trial</li>
                                </ul>
                            </article>
                        </details>
                    </div>
                    <div class="info-items__item">
                        <details>
                            <summary>What is in the 3 Month Supply bundle? {{> e-icon icon="chevron"}}</summary>
                            <article>
                                <ul>
                                    <li>4 clinically formulated 4ml serums to treat your specific skin concerns (valued at $80)</li>
                                    <li>Worldwide shipping (valued at $25)</li>
                                    <li>Risk-free 90 day money-back guarantee to trial</li>
                                </ul>
                            </article>
                        </details>
                    </div>
                    <div class="info-items__item">
                        <details>
                            <summary>What is in the 1 Month Supply bundle? {{> e-icon icon="chevron"}}</summary>
                            <article>
                                <ul>
                                    <li>2 clinically formulated 4ml serums to treat your specific skin concerns (valued at $40)</li>
                                    <li>Worldwide shipping (valued at $25)</li>
                                </ul>
                            </article>
                        </details>
                    </div>
                </div>
            </div>
            <div class="treatment__step">
                {{> c-supply-selector
                    classes=""
                    title="Select Your Supply"
                    small="We recommend replacing your filter every 3 months."
                    list='[
                        {
                            "name": "6 Months Supply",
                            "desc": "Faucet + 2 Filters",
                            "price-old": true,
                            "price-highlight": false,
                            "save-pill": false,
                            "save-value": "22% off",
                            "tag-up": false,
                            "tag-name": "Popular",
                            "option": "supply"
                        },
                        {
                            "name": "12 Months Supply",
                            "desc": "Faucet + 4 Filters",
                            "price-old": true,
                            "price-highlight": false,
                            "save-pill": false,
                            "save-value": "47% off",
                            "tag-up": false,
                            "tag-name": "Best Value",
                            "option": "supply"
                        },
                        {
                            "image": "sections/isolated/micro-infusion-pdp/images/3_month_mixed.webp",
                            "name": "12 Months Supply",
                            "desc": "Faucet + 4 Filters",
                            "price-old": true,
                            "price-final": true,
                            "price-strikethrough": true,
                            "price-highlight": false,
                            "notify-row": true,
                            "option": "supply"
                        }
                    ]'
                }}
            </div>
            <div class="treatment__step">
                {{> c-supply-selector
                    classes="c-supply-selector--tiles"
                    title="Select Your Supply"
                    notify-tiles=true
                    list='[
                        {
                            "image": "sections/isolated/micro-infusion-pdp/images/3-bottles.webp",
                            "name": "6 Months",
                            "desc": "(3 bottles)",
                            "price-old": true,
                            "price-highlight": true,
                            "save-pill": true,
                            "save-value": "38% OFF",
                            "tag-up": true,
                            "tag-name": "Best Value <i class=\"e-icon e-icon-rating-fill\"></i>",
                            "option": "supply-tile",
                            "checked": true
                        },
                        {
                            "image": "sections/isolated/micro-infusion-pdp/images/2-bottles.webp",
                            "name": "4 Months",
                            "desc": "(2 bottles)",
                            "price-old": true,
                            "price-highlight": true,
                            "save-pill": true,
                            "save-pill-light": true,
                            "save-value": "25% OFF",
                            "option": "supply-tile"
                        },
                        {
                            "image": "sections/isolated/micro-infusion-pdp/images/1-bottle.webp",
                            "name": "2 Months",
                            "desc": "(1 bottles)",
                            "price-old": true,
                            "price-highlight": true,
                            "option": "supply-tile"
                        }
                    ]'
                }}
            </div>
            <div class="treatment__step">
                <div class="treatment__tabs-title">Select Your Delivery</div>
                <ul class="e-pill-tabs e-pill-tabs--selector">
                    <li>
                        <label>
                            <input name="delivery-type" type="radio" />
                            One time purchase
                        </label>
                    </li>
                    <li>
                        <label>
                            <input name="delivery-type" type="radio" checked />
                            Subscribe &amp; Save
                        </label>
                    </li>
                </ul>
                {{> c-supply-selector
                    classes="c-supply-selector--delivery"
                    title=""
                    list='[
                        {
                            "image": "sections/isolated/micro-infusion-pdp/images/3-bottles.webp",
                            "name": "6 Months",
                            "desc": "(3 bottles) <small>Ships every 6 months</small>",
                            "price-old": true,
                            "price-in-save": "{$dyn}",
                            "price-highlight": true,
                            "price-special": "{$dyn}",
                            "save-pill": true,
                            "save-value": "{dyn}% OFF",
                            "tag-up": true,
                            "tag-name": "Best Value <i class=\"e-icon e-icon-rating-fill\"></i>",
                            "option": "subscribe",
                            "checked": true
                        },
                        {
                            "image": "sections/isolated/micro-infusion-pdp/images/2-bottles.webp",
                            "name": "4 Months",
                            "desc": "(2 bottles) <small>Ships every 4 months</small>",
                            "price-old": true,
                            "price-in-save": "{$dyn}",
                            "price-highlight": true,
                            "price-special": "{$dyn}",
                            "save-pill": true,
                            "save-pill-light": true,
                            "save-value": "{dyn}% OFF",
                            "option": "subscribe"
                        },
                        {
                            "image": "sections/isolated/micro-infusion-pdp/images/1-bottle.webp",
                            "name": "2 Months",
                            "desc": "(1 bottles) <small>Ships every 2 months</small>",
                            "price-old": true,
                            "price-in-save": "{$dyn}",
                            "price-highlight": true,
                            "save-pill": true,
                            "save-pill-light": true,
                            "save-value": "{dyn}% OFF",
                            "option": "subscribe"
                        },
                        {
                            "image": "sections/isolated/micro-infusion-pdp/images/1-bottle.webp",
                            "name": "2 Months",
                            "desc": "(1 bottles)",
                            "price-old": true,
                            "price-highlight": true,
                            "option": "one-time"
                        }
                    ]'
                }}
                <p class="subscription-details">Skip, pause or cancel anytime. <a href="#">See more details</a></p>
            </div>
            <div class="treatment__step">
                {{> c-payment-selector
                    title="Select A Payment Option"
                    list='[
                        {
                            "name": "Pay in full",
                            "old-price": true,
                            "option": "payment",
                            "checked": true,
                            "text": "One-time payment with:",
                            "image": "assets/images/payment-icons-1.svg",
                            "checked": true
                        },
                        {
                            "name": "Pay today only",
                            "option": "payment",
                            "text": "Monthly interest-free payments with:",
                            "image": "assets/images/payment-icons-2.svg"
                        }
                    ]'
                }}
            </div>
        </div>
    {{/treatment}}

    <br /><br /><br /><br /><br />
{{/section-stack }}

{{/new }}
