{{#> default
    title="Hero Product Full"
}}

{{#> section-stack }}
    <br /><br />
    <!-- BUY SECTION -->
    <link rel="stylesheet" href="sections/new/hero-product/hero-product.css" />
    <section class="hero-product" id="hero-product">
        <div class="hero-product__container container">
            <div class="hero-product__gallery">
                <div
                    class="c-swiper"
                    data-swiper-thumbs="#hero-product .c-swiper-thumbs"
                    data-swiper='{
                        "slidesPerView": 1,
                        "spaceBetween": 16,
                        "navigation": {
                            "prevEl": "#hero-product .c-swiper-button-prev",
                            "nextEl": "#hero-product .c-swiper-button-next"
                        }
                    }'
                >
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <img src="sections/isolated/product-shower-filter/images/shower_filter_3.webp" alt="Qure faucet filter" />
                        </div>
                        <div class="swiper-slide">
                            <img src="sections/isolated/product-shower-filter/images/faucet_pd-4.webp" alt="Qure faucet filter"
                                data-url="https://www.youtube.com/watch?v=Jqw2lZirHz4"
                            />
                        </div>
                        <div class="swiper-slide">
                            <img class="lvideo" src="sections/isolated/product-shower-filter/images/faucet_pd-4.webp" alt="Qure faucet filter"
                                data-url="https://qureskincare.com/cdn/shop/videos/c/vp/a395e95a75e74ff68c8fd8576c90787f/a395e95a75e74ff68c8fd8576c90787f.HD-1080p-7.2Mbps-27970999.mp4?v=0"
                            />
                        </div>
                        <div class="swiper-slide">
                            <img src="sections/isolated/product-shower-filter/images/faucet_pd-1.webp" alt="Qure faucet filter" />
                        </div>
                        <div class="swiper-slide">
                            <img src="sections/isolated/product-shower-filter/images/faucet_pd-2.webp" alt="Qure faucet filter" />
                        </div>
                        <div class="swiper-slide">
                            <img src="sections/isolated/product-shower-filter/images/faucet_pd-3.webp" alt="Qure faucet filter" />
                        </div>
                        <div class="swiper-slide">
                            <img src="sections/isolated/product-shower-filter/images/shower_plus_faucet_img_4.webp" alt="Qure faucet filter" />
                        </div>
                        <div class="swiper-slide">
                            <img src="sections/isolated/product-shower-filter/images/faucet_pd-5.webp" alt="Qure faucet filter" />
                        </div>
                        <div class="swiper-slide">
                            <img src="sections/isolated/product-shower-filter/images/faucet_pd-6.webp" alt="Qure faucet filter" />
                        </div>
                        <div class="swiper-slide">
                            <img src="sections/isolated/product-shower-filter/images/faucet_pd-7.webp" alt="Qure faucet filter" />
                        </div>
                        <div class="swiper-slide">
                            <img
                                class="watch-wistia-video"
                                src="sections/isolated/product-shower-filter/images/faucet_pd-8.webp"
                                alt="Qure faucet filter"
                                data-bs-toggle="modal"
                                data-bs-target="#reusableWistiaModal"
                                data-video-id="8ymvdqzx92"
                            />
                        </div>
                    </div>
                </div>
                <div class="c-swiper-thumbs-nav">
                    <button class="c-swiper-button-prev"></button>
                    <div
                        class="c-swiper c-swiper-thumbs"
                        data-swiper='{
                            "slidesPerView": "auto",
                            "spaceBetween": 12
                        }'
                    >
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <img src="sections/isolated/product-shower-filter/images/shower_filter_3.webp" alt="Qure faucet filter" />
                            </div>
                            <div class="swiper-slide">
                                <img src="sections/isolated/product-shower-filter/images/faucet_pd-4.webp" alt="Qure faucet filter" />
                            </div>
                            <div class="swiper-slide">
                                <img src="sections/isolated/product-shower-filter/images/faucet_pd-4.webp" alt="Qure faucet filter" />
                            </div>
                            <div class="swiper-slide">
                                <img src="sections/isolated/product-shower-filter/images/faucet_pd-1.webp" alt="Qure faucet filter" />
                            </div>
                            <div class="swiper-slide">
                                <img src="sections/isolated/product-shower-filter/images/faucet_pd-2.webp" alt="Qure faucet filter" />
                            </div>
                            <div class="swiper-slide">
                                <img src="sections/isolated/product-shower-filter/images/faucet_pd-3.webp" alt="Qure faucet filter" />
                            </div>
                            <div class="swiper-slide">
                                <img src="sections/isolated/product-shower-filter/images/shower_plus_faucet_img_4.webp" alt="Qure faucet filter" />
                            </div>
                            <div class="swiper-slide">
                                <img src="sections/isolated/product-shower-filter/images/faucet_pd-5.webp" alt="Qure faucet filter" />
                            </div>
                            <div class="swiper-slide">
                                <img src="sections/isolated/product-shower-filter/images/faucet_pd-6.webp" alt="Qure faucet filter" />
                            </div>
                            <div class="swiper-slide">
                                <img src="sections/isolated/product-shower-filter/images/faucet_pd-7.webp" alt="Qure faucet filter" />
                            </div>
                            <div class="swiper-slide">
                                <img src="sections/isolated/product-shower-filter/images/faucet_pd-8.webp" alt="Qure faucet filter" />
                            </div>
                        </div>
                    </div>
                    <button class="c-swiper-button-next"></button>
                </div>
                {{> e-sticky-thumb-video link="https://embed-ssl.wistia.com/deliveries/a19c02d56780261a836b229148cef1bb2fa64c90.bin?disposition=attachment&filename=MICRO+INFUSION+2025_final_txt+%282%29.mp4" type="video/mp4" }}
            </div>
            <div class="hero-product__main">
                {{> c-rating value="4.8" }}
                <p>Qure faucet filter</p>
                <h1>Get clearer skin, on tap, with Qure Faucet Filter</h1>
                {{> e-price current="{$dyn}" }}
                {{> c-special-offer }}
                <article>
                    <ul>
                        <li>Advanced water filter reduces up to 99% of irritants for clearer, hydrated skin.</li>
                        <li>Helps reduce pore-clogging contaminants and supports the reduction of premature aging, without any extra steps in your routine.</li>
                        <li>Optimizes skincare effectiveness, and provides the most purified cleanse your skin will drink up.</li>
                    </ul>
                </article>
                <hr />
                <div class="purchase-form-wrapper">
                    {{> c-options-selector
                        title="Select Your Color"
                        list='[
                            {
                                "img": "sections/isolated/product-shower-filter/images/faucet_white.webp",
                                "name": "White",
                                "option": "color",
                                "checked": true
                            },
                            {
                                "img": "sections/isolated/product-shower-filter/images/faucet_black.webp",
                                "name": "Black",
                                "option": "color"
                            },
                            {
                                "img": "sections/isolated/product-shower-filter/images/faucet_silver.webp",
                                "name": "Silver",
                                "option": "color"
                            }
                        ]'
                    }}
                    {{> c-supply-selector
                        title="Select Your Supply"
                        small="We recommend replacing your filter every 3 months."
                        list='[
                            {
                                "name": "Buy 3 Months, Get 3 Months FREE",
                                "desc": "12 Micro-Infusion Treatments",
                                "price-old": true,
                                "price-highlight": true,
                                "save-pill": true,
                                "save-value": "Save 47%",
                                "tag-up": true,
                                "tag-name": "Best Value <i class=\"e-icon e-icon-rating-fill\"></i>",
                                "option": "supply",
                                "kits-left-hot": true,
                                "checked": true
                            },
                            {
                                "name": "3 Month Supply",
                                "desc": "4 Micro-Infusion Treatments",
                                "price-old": true,
                                "price-highlight": true,
                                "save-pill": true,
                                "save-value": "Save 37%",
                                "option": "supply",
                                "kits-left-normal": true
                            },
                            {
                                "name": "3 Months Supply",
                                "desc": "Faucet + 1 Filter",
                                "price-highlight": false,
                                "save-pill": true,
                                "save-pill-light": true,
                                "save-value": "Save 22%",
                                "tag-up": false,
                                "notify-row": true,
                                "option": "supply"
                            },
                            {
                                "name": "3 Months Supply",
                                "desc": "Faucet + 1 Filter",
                                "price-highlight": false,
                                "save-pill": false,
                                "tag-up": false,
                                "option": "supply"
                            },
                            {
                                "name": "6 Months Supply",
                                "desc": "Faucet + 2 Filters",
                                "price-old": true,
                                "price-highlight": false,
                                "save-pill": false,
                                "save-value": "22% off",
                                "tag-up": false,
                                "tag-name": "Popular",
                                "option": "supply"
                            },
                            {
                                "name": "12 Months Supply",
                                "desc": "Faucet + 4 Filters",
                                "price-old": true,
                                "price-highlight": false,
                                "save-pill": false,
                                "save-value": "47% off",
                                "tag-up": false,
                                "tag-name": "Best Value",
                                "option": "supply"
                            },
                            {
                                "image": "sections/isolated/micro-infusion-pdp/images/3_month_mixed.webp",
                                "name": "12 Months Supply",
                                "desc": "Faucet + 4 Filters",
                                "price-old": true,
                                "price-final": true,
                                "price-strikethrough": true,
                                "price-highlight": false,
                                "option": "supply"
                            }
                        ]'
                    }}
                    {{> c-supply-selector
                        classes="c-supply-selector--tiles"
                        title="Select Your Supply"
                        notify-tiles=true
                        list='[
                            {
                                "image": "sections/isolated/micro-infusion-pdp/images/3-bottles.webp",
                                "name": "6 Month Supply",
                                "desc": "(12 Treatments)",
                                "price-old": true,
                                "price-highlight": true,
                                "save-pill": true,
                                "save-value": "38% OFF",
                                "tag-up": true,
                                "tag-name": "Best Value <i class=\"e-icon e-icon-rating-fill\"></i>",
                                "option": "supply-tile",
                                "checked": true
                            },
                            {
                                "image": "sections/isolated/micro-infusion-pdp/images/2-bottles.webp",
                                "name": "4 Months Supply",
                                "desc": "(6 Treatments)",
                                "price-old": true,
                                "price-highlight": true,
                                "save-pill": true,
                                "save-pill-light": true,
                                "save-value": "25% OFF",
                                "option": "supply-tile"
                            },
                            {
                                "image": "sections/isolated/micro-infusion-pdp/images/1-bottle.webp",
                                "name": "2 Months Supply",
                                "desc": "(3 Treatments)",
                                "price-old": true,
                                "price-highlight": true,
                                "option": "supply-tile"
                            }
                        ]'
                    }}
                    <ul class="e-pill-tabs e-pill-tabs--selector">
                        <li>
                            <label>
                                <input name="delivery-type" type="radio" />
                                One time purchase
                            </label>
                        </li>
                        <li>
                            <label>
                                <input name="delivery-type" type="radio" checked />
                                Subscribe &amp; Save
                            </label>
                        </li>
                    </ul>
                    {{> c-supply-selector
                        classes="c-supply-selector--delivery"
                        title="Select Your Delivery"
                        list='[
                            {
                                "image": "sections/isolated/micro-infusion-pdp/images/3-bottles.webp",
                                "name": "6 Months",
                                "desc": "(3 bottles) <small>Ships every 6 months</small>",
                                "price-old": true,
                                "price-in-save": "{$dyn}",
                                "price-highlight": true,
                                "price-special": "{$dyn}",
                                "save-pill": true,
                                "save-value": "{dyn}% OFF",
                                "tag-up": true,
                                "tag-name": "Best Value <i class=\"e-icon e-icon-rating-fill\"></i>",
                                "option": "subscribe",
                                "checked": true
                            },
                            {
                                "image": "sections/isolated/micro-infusion-pdp/images/2-bottles.webp",
                                "name": "4 Months",
                                "desc": "(2 bottles) <small>Ships every 4 months</small>",
                                "price-old": true,
                                "price-in-save": "{$dyn}",
                                "price-highlight": true,
                                "price-special": "{$dyn}",
                                "save-pill": true,
                                "save-pill-light": true,
                                "save-value": "{dyn}% OFF",
                                "option": "subscribe"
                            },
                            {
                                "image": "sections/isolated/micro-infusion-pdp/images/1-bottle.webp",
                                "name": "2 Months",
                                "desc": "(1 bottles) <small>Ships every 2 months</small>",
                                "price-old": true,
                                "price-in-save": "{$dyn}",
                                "price-highlight": true,
                                "save-pill": true,
                                "save-pill-light": true,
                                "save-value": "{dyn}% OFF",
                                "option": "subscribe"
                            },
                            {
                                "image": "sections/isolated/micro-infusion-pdp/images/1-bottle.webp",
                                "name": "2 Months",
                                "desc": "(1 bottles)",
                                "price-old": true,
                                "price-highlight": true,
                                "option": "one-time"
                            }
                        ]'
                    }}
                    <p class="subscription-details">Skip, pause or cancel anytime. <a href="#">See more details</a></p>
                    {{> c-payment-selector
                        title="Select A Payment Option"
                        list='[
                            {
                                "name": "Pay in full",
                                "old-price": true,
                                "option": "payment",
                                "checked": true,
                                "text": "One-time payment with:",
                                "image": "assets/images/payment-icons-1.svg"
                            },
                            {
                                "name": "Pay today only",
                                "option": "payment",
                                "text": "Monthly interest-free payments with:",
                                "image": "assets/images/payment-icons-2.svg"
                            }
                        ]'
                    }}
                    <div class="c-buy-block">
                        {{> e-progress
                            label="Low Stock"
                            small="Due to high demand, this offer is only available while stock lasts."
                            progress="82"
                            low-stock=true
                        }}
                        {{> e-get-free-shipping
                            text="Order today to lock in your deal and get FREE Shipping"
                        }}
                        {{> c-order-button }}
                        {{> c-certified-box }}
                        <ul class="e-features-list">
                            <li>
                                {{> e-icon icon="guarantee" }}
                                30-Day Money-Back Guarantee
                            </li>
                            <li>
                                {{> e-icon icon="shipping-order" }}
                                Free Shipping over {$dyn}
                            </li>
                        </ul>
                    </div>
                </div>
                {{> c-next-batch }}
                {{> c-limited-offer }}
                {{> c-save-up }}
                {{> c-exclusive-offer }}
                <picture
                    data-label-text="Watch: How To Use"
                    data-bs-toggle="modal"
                    data-bs-target="#reusableWistiaModal"
                    data-video-id="8ymvdqzx92"
                >
                    <img src="sections/isolated/micro-infusion-pdp/images/how_to_use_men.webp" alt="Watch: How To Use" />
                </picture>
                {{> c-clinic-metrics
                    title="Clinically Proven Results"
                    list='[
                        {
                            "value": "90%",
                            "text": "agree skin feels hydrated"
                        },
                        {
                            "value": "83%",
                            "text": "agree skin feels softer"
                        },
                        {
                            "value": "70%",
                            "text": "agree hair feels less frizzy"
                        }
                    ]'
                }}
                {{> c-moneyback }}
                {{> c-complete-bundle }}
                <div class="c-bundle-included">
                    <p class="c-bundle-included__tile">What’s Included</p>
                    <ul class="c-bundle-included__list">
                        <li>
                            <a href="#">
                                <img src="sections/isolated/led-mask-offer/images/q-rejuvalight.webp" alt="Q-Rejuvalight Pro LED Mask" />
                            </a>
                            <div>
                                <a href="#">Q-Rejuvalight Pro LED Mask</a>
                                <small>FDA-cleared device that treats acne, fine lines, wrinkles and dark spots.</small>
                                {{> e-price current="{$dyn}" }}
                            </div>
                        </li>
                        <li>
                            <a href="#">
                                <img src="sections/isolated/led-mask-offer/images/led-device.webp" alt="Neck & Décolletage LED Device" />
                            </a>
                            <div>
                                <a href="#">Neck &amp; Décolletage LED Device</a>
                                <small>Clinically proven to smooth and firm where aging shows first.</small>
                                {{> e-price current="FREE" old="{$dyn}" highlight=true }}
                            </div>
                        </li>
                    </ul>
                    <hr />
                    <div class="c-bundle-included__amount">
                        <p>INSTANT SAVINGS: $299</p>
                        {{> e-price current="{$dyn}" old="{$dyn}" }}
                    </div>
                </div>
            </div>
            <div class="hero-product__extra">
                <div class="hero-product__best-with">
                    <h6>Get The Best Results With</h6>
                    <div
                        class="c-swiper"
                        data-swiper='{
                            "slidesPerView": "1.25",
                            "spaceBetween": 12,
                            "breakpoints": {
                                "992": {
                                    "slidesPerView": 2
                                }
                            }
                        }'
                    >
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <a href="#"><img src="sections/isolated/product-shower-filter/images/result-2.webp" alt="Dermal Mist (Duo - 100ml + 15ml)" /></a>
                                <a href="#">Dermal Mist (Duo - 100ml + 15ml)</a>
                                <button class="btn btn--primary btn--sm">Add - {$dyn}</button>
                            </div>
                            <div class="swiper-slide">
                                <a href="#"><img src="sections/isolated/product-shower-filter/images/shower_filter.webp" alt="Shower Filter" /></a>
                                <a href="#">Shower Filter</a>
                                <button class="btn btn--primary btn--sm">Add - {$dyn}</button>
                            </div>
                        </div>
                    </div>
                </div>
                {{> c-accordion
                    type="lines"
                    list='[
                        {
                            "summary": "Key Benefits",
                            "text": "
                                <p>Healthy skin starts with your water. The Qure Faucet Filter helps reduce harmful impurities that can cause dryness, irritation, and discomfort. By filtering your tap water, you\'re creating the perfect canvas for the rest of your skincare products and helping your skin stay hydrated and happy.</p>
                                <p>The Qure Faucet Filter is third-party tested to meet NSF standards for water filtration performance.</p>
                            "
                        },
                        {
                            "summary": "How It Works",
                            "text": "
                                <p>Our Triple-Filtration System helps reduce up to 99% of chlorine, heavy metals, and other contaminants in your water.</p>
                                <p>Here\'s what happens:</p>
                                <ol>
                                    <li>Water passes through our triple-filtration system</li>
                                    <li>Impurities get trapped in the specialized filtration media</li>
                                    <li>Clean, filtered water flows through your faucet</li>
                                </ol>
                                <p>The result? Water that\'s gentler on your skin, without the stuff that can strip away natural moisture.</p>
                            "
                        },
                        {
                            "summary": "What’s Included In The Box",
                            "text": "
                                <p>Inside the box, you\'ll find:</p>
                                <ul>
                                    <li>The Qure Faucet Filter with initial filter cartridge (lasts up to 3 months)</li>
                                    <li>Tools for installation, including a bubbler wrench, thread adapters, and silicone rings</li>
                                    <li>Clear setup instructions and user manual</li>
                                </ul>
                            "
                        }
                    ]'
                }}
                {{> c-jump-to
                    list='[
                        {
                            "id": "improve_skin",
                            "name": "The Results"
                        },
                        {
                            "id": "crystal_clear",
                            "name": "Reviews"
                        },
                        {
                            "id": "easy_steps",
                            "name": "How To Use"
                        },
                        {
                            "id": "why_it_works",
                            "name": "How It Works"
                        },
                        {
                            "id": "faq",
                            "name": "FAQs"
                        }
                    ]'
                }}
            </div>
        </div>
    </section>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            loadScriptOnce('swiper', 'assets/js-new/swiper.js');
            loadScriptOnce('countdown', 'assets/js-new/countdown.js');
            loadScriptOnce('youtube-popup', 'assets/js-new/yt-popup.js');
            loadScriptOnce('wistia-popup', 'assets/js-new/wistia-popup.js');
            loadScriptOnce('wistia-script', 'https://fast.wistia.com/assets/external/E-v1.js');
            loadScriptOnce('gallery-sticky-video', 'assets/js-new/gallery-sticky-video.js');
            loadScriptOnce('dialog', 'assets/js-new/dialog.js');
        });
    </script>
    <!-- BUY SECTION END -->

    <br /><br /><br /><br /><br />
{{/section-stack }}

{{#> cta-bar
    color-selector=true
    button="Subscribe & Save {dyn}%"
}}
{{/cta-bar}}

{{#> cta-bar
    qty-selector=true
    button="Subscribe & Save {dyn}%"
}}
    <div class="cta-bar__selector" data-label="Select Quantity">
        <button type="button">
            <img src="sections/isolated/targeted-patches/images/3-bottles_250x.webp" alt="6 Months" />
            6 Months
        </button>
        <ul>
            <li>
                <label>
                    <img src="sections/isolated/targeted-patches/images/3-bottles_250x.webp" alt="6 Months" />
                    <input type="radio" name="cta-qty" value="white" checked />
                    <span>6 Months</span>
                </label>
            </li>
            <li>
                <label>
                    <img src="sections/isolated/targeted-patches/images/2-bottles_250x.webp" alt="4 Months" />
                    <input type="radio" name="cta-qty" value="white" />
                    <span>4 Months</span>
                </label>
            </li>
            <li>
                <label>
                    <img src="sections/isolated/targeted-patches/images/1-bottle_250x.webp" alt="2 Months" />
                    <input type="radio" name="cta-qty" value="white" />
                    <span>2 Months</span>
                </label>
            </li>
        </ul>
    </div>
{{/cta-bar}}

{{#> cta-bar
    name="Faucet Filter"
    button="Subscribe & Save {dyn}%"
}}
{{/cta-bar}}

{{/default }}
