{{#> new
    title="Home"
    body-class="index"
}}

{{#> section-stack }}
    {{> quick-links
        list='[
            {
                "img": "sections/isolated/categories/images/1.webp",
                "name": "Q-Rejuvalight LED Mask"
            },
            {
                "img": "sections/isolated/categories/images/2.webp",
                "name": "Micro-Infusion System"
            },
            {
                "img": "sections/isolated/categories/images/3.webp",
                "name": "Neck & Décolletage LED"
            },
            {
                "img": "sections/isolated/categories/images/4.webp",
                "name": "All-In-One Face Serum"
            },
            {
                "img": "sections/isolated/categories/images/5.webp",
                "name": "Micro-Infusion Patches"
            },
            {
                "img": "sections/isolated/categories/images/6.webp",
                "name": "Faucet Filter"
            },
            {
                "img": "sections/isolated/categories/images/7.webp",
                "name": "Dermal Mist"
            }
        ]'
    }}

    {{#> across-image-banner
        classes="across-image-banner--holidays"
    }}
        <picture>
            <source media="(min-width: 768px)" srcset="sections/new/across-image-banner/images/mothers-day.webp" />
            <img src="sections/new/across-image-banner/images/mothers-day-mob.webp" alt="Give Mom the Glow She Deserves" />
        </picture>
        <div class="container">
            <article>
                <div class="e-pill-badge e-pill-badge--xs">This Mother's Day Only</div>
                <h1>Give Mom the Glow She&nbsp;Deserves</h1>
                <p>Buy LED Mask, Get Neck &amp; Décolletage LED <strong>FREE</strong></p>
                <a href="#" class="btn btn--primary">Buy Now &amp; Save $299</a>
            </article>
        </div>
    {{/across-image-banner}}

    {{!-- {{#> across-image-banner
        classes="across-image-banner--hero"
    }}
        <picture>
            <source media="(min-width: 768px)" srcset="sections/isolated/page-banner/images/hero.webp" />
            <img src="sections/isolated/page-banner/images/hero-mob.webp" />
        </picture>
        <div class="container">
            <article>
                <h1>Get clinic-level results from home – minus the ‘clinical’ costs.</h1>
                <p>Join <strong>300,000+ customers</strong> feeling more confident.</p>
                <a href="#" class="btn btn--primary">Shop All Best Sellers</a>
            </article>
        </div>
    {{/across-image-banner}} --}}

    {{> quick-tile-links
        title=""
        list='[
            {
                "img": "sections/new/quick-tile-links/images/skincare-bundles.webp",
                "name": "Skincare Bundles"
            },
            {
                "img": "sections/new/quick-tile-links/images/best-sellers.webp",
                "name": "Best Sellers"
            },
            {
                "img": "sections/new/quick-tile-links/images/helmet.webp",
                "name": "Q-Renew LLLT Helmet",
                "badge": "New"
            },
            {
                "img": "sections/new/quick-tile-links/images/led-mask.webp",
                "name": "Q-Rejuvalight LED Mask"
            },
            {
                "img": "sections/new/quick-tile-links/images/neck-decolletage.webp",
                "name": "Neck & Décolletage LED System"
            },
            {
                "img": "sections/new/quick-tile-links/images/mi-system.webp",
                "name": "Micro-Infusion System"
            }
        ]'
    }}

    {{#> press-reviews }}
        <div
            class="c-swiper"
            data-swiper-thumbs=".press-reviews .c-swiper-thumbs"
            data-swiper='{
                "slidesPerView": 1,
                "spaceBetween": 16,
                "loop": true,
                "autoplay": {
                    "delay": 5000
                }
            }'
        >
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <h4>“The professional grade is the perfect addition to any at-home skincare routine.”</h4>
                </div>
                <div class="swiper-slide">
                    <h4>“My skin actually seems considerable brighter and smoother! It’s simple, fast, and effective enough to become a daily habit.”</h4>
                </div>
                <div class="swiper-slide">
                    <h4>“The results are blatant — my glow after using the treatment speaks for itself. You'll notice hydrated, radiant, and healthy-looking skin.”</h4>
                </div>
                <div class="swiper-slide">
                    <h4>“The combination of colors allows you to customize which lights are used, maximizing its benefits to help your skin...”</h4>
                </div>
                <div class="swiper-slide">
                    <h4> “Q-Rejuvalight Pro harnesses the power of lights from blue to infrared to address nearly every skincare concern you could imagine.”</h4>
                </div>
            </div>
        </div>
        <div class="c-swiper c-swiper-thumbs"
            data-swiper='{
                "slidesPerView": 3,
                "spaceBetween": 30,
                "breakpoints": {
                    "992": {
                        "slidesPerView": 5,
                        "spaceBetween": 50
                    }
                }
            }'
        >
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <img src="sections/isolated/press_slider/images/vogue-black.svg" alt="Vogue" />
                </div>
                <div class="swiper-slide">
                    <img src="sections/isolated/press_slider/images/women-health.svg" alt="Women Health" />
                </div>
                <div class="swiper-slide">
                    <img src="sections/isolated/press_slider/images/popsugar.svg" alt="Popsugar" />
                </div>
                <div class="swiper-slide">
                    <img src="sections/isolated/press_slider/images/cosmopolitan.svg" alt="Cosmopolitan" />
                </div>
                <div class="swiper-slide">
                    <img src="sections/isolated/press_slider/images/gq.svg" alt="QG" />
                </div>
            </div>
        </div>
    {{/press-reviews}}

    {{#> trusted-reviews
        classes="trusted-reviews--light"
        title="Results you’ll see with your own eyes"
    }}
        <div class="swiper-slide">
            <div class="c-trusted-review-card">
                <picture>
                    <img src="sections/isolated/review-slider/images/ellie_6_treatments.webp" alt="My skin returned to life!" />
                </picture>
                <div class="e-author">
                    <img src="sections/isolated/review-slider/images/america_f.webp" alt="Kim L." />
                    Kim L.
                </div>
                <div class="e-verified-customer">
                    <div class="e-checkmark"></div>
                    Verified customer
                </div>
                <article>
                    <h6>My skin returned to life!</h6>
                    <p>“I just turned 57 years. My skin was extremely dry and while using this product my skin RETURNED to LIFE! I am so impressed with it! My Coworkers ask me what I use in my skin.. and I tell them. Product easy to use and the needles are better that using a pen for microneedling. This is an amazing product that you will not regret in purchasing it. I really see the change in my skin. Outstanding job QURE!”</p>
                </article>
                <a href="#">
                    <img src="sections/isolated/review-slider/images/micro-infusion-facial-system.webp" alt="Micro-Infusion Facial System" />
                    <small>Ellie uses...</small>
                    <span>Micro-Infusion Facial System</span>
                </a>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="c-trusted-review-card">
                <picture>
                    <img src="sections/isolated/review-slider/images/mona-p.webp" alt="Fade after just two treatments" />
                </picture>
                <div class="e-author">
                    <img src="sections/isolated/review-slider/images/america_f.webp" alt="Mona P." />
                    Mona P.
                </div>
                <div class="e-verified-customer">
                    <div class="e-checkmark"></div>
                    Verified customer
                </div>
                <article>
                    <h6>Fade after just two treatments</h6>
                    <p>“I personally think my products absorbed better, my skin looks a bit brighter and that larger acne scar on my right cheek has started to fade after just TWO treatments!”</p>
                </article>
                <a href="#">
                    <img src="sections/isolated/review-slider/images/q-rejuvalight-pro-led-mask.webp" alt="Q-Rejuvalight Pro LED Mask" />
                    <small>Mona uses...</small>
                    <span>Q-Rejuvalight Pro LED Mask</span>
                </a>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="c-trusted-review-card">
                <picture>
                    <img src="sections/isolated/review-slider/images/andrea.webp" alt="Definitely be re-ordering" />
                </picture>
                <div class="e-author">
                    <img src="sections/isolated/review-slider/images/america_f.webp" alt="Andrea G." />
                    Andrea G.
                </div>
                <div class="e-verified-customer">
                    <div class="e-checkmark"></div>
                    Verified customer
                </div>
                <article>
                    <h6>Definitely be re-ordering</h6>
                    <p>“Still a newbie but so far so great! I have dermarolled for more than a decade -still do with .25 at least one a week. I’ve avoided getting a pen because there’s so much involved- but the Qure system is just awesome. So easy and user friendly and my skin loves the serum! Doing my third treatment Saturday and will definitely be re-ordering 🤗</p>
                </article>
                <a href="#">
                    <img src="sections/isolated/review-slider/images/micro-infusion-facial-system.webp" alt="Micro-Infusion Facial System" />
                    <small>Andrea uses...</small>
                    <span>Micro-Infusion Facial System</span>
                </a>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="c-trusted-review-card">
                <picture>
                    <img src="sections/isolated/review-slider/images/jessica-k.webp" alt="Thrilled with the results!" />
                </picture>
                <div class="e-author">
                    <img src="sections/isolated/review-slider/images/america_f.webp" alt="Jessica K." />
                    Jessica K.
                </div>
                <div class="e-verified-customer">
                    <div class="e-checkmark"></div>
                    Verified customer
                </div>
                <article>
                    <h6>Thrilled with the results!</h6>
                    <p>"I have been using the mask &amp; microneedling for 6 weeks &amp; am truly impressed with the results. I have noticed a dramatic reduction in redness, an improvement in my dark spots, scars & overall skin tone & firmness, and a smoothing of fine lines & wrinkles."</p>
                </article>
                <a href="#">
                    <img src="sections/isolated/review-slider/images/micro-infusion-targeted-patches.webp" alt="Micro-Infusion Targeted Patches" />
                    <small>Jessica uses...</small>
                    <span>Micro-Infusion Targeted Patches</span>
                </a>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="c-trusted-review-card">
                <picture>
                    <img src="sections/isolated/review-slider/images/ela-o.webp" alt="Shocked at the results" />
                </picture>
                <div class="e-author">
                    <img src="sections/isolated/review-slider/images/america_f.webp" alt="Ela O." />
                    Ela O.
                </div>
                <div class="e-verified-customer">
                    <div class="e-checkmark"></div>
                    Verified customer
                </div>
                <article>
                    <h6>Shocked at the results</h6>
                    <p>“Shocked at the results after just one treatment! I’m not one to usually leave reviews... but I was shocked at how my skin looked the morning after my first treatment! Texture was soooo much smoother, my skin looked clear, glowy and healthy. The system was so easy to use and I can’t wait until my next treatment.”</p>
                </article>
                <a href="#">
                    <img src="sections/isolated/review-slider/images/neck-decolletage-led-device.webp" alt="Neck & Décolletage LED Device" />
                    <small>Ela uses...</small>
                    <span>Neck &amp; Décolletage LED Device</span>
                </a>
            </div>
        </div>
    {{/trusted-reviews }}

    {{#> top-rated
        title="Top Rated Products"
    }}
        {{> c-product-tile
            image="sections/new/complete-system/images/micro-infusion.webp"
            image-hover="/sections/new/complete-system/images/micro-infusion-hover.webp"
            reviews="196"
            name="Micro-Infusion"
            bestseller=true
        }}
        {{> c-product-tile
            image="sections/new/complete-system/images/led-mask.webp"
            image-hover="/sections/new/complete-system/images/led-mask-hover.webp"
            reviews="283"
            name="Q-Rejuvalight Pro LED Mask"
        }}
        {{> c-product-tile
            image="sections/new/complete-system/images/all-in-one.webp"
            image-hover="/sections/new/complete-system/images/all-in-one-hover.webp"
            reviews="180"
            name="All-In-One Face Serum"
        }}
        {{> c-product-tile
            image="sections/new/complete-system/images/mi-target-patches.webp"
            image-hover="/sections/new/complete-system/images/mi-target-patches-hover.webp"
            reviews="157"
            name="Micro-Infusion Targeted Patches"
            badge="Trending"
        }}
    {{/top-rated}}

    {{#> get-qure
        title="Get Qure"
    }}
        <p>Reclaim your confidence at any age, no matter what your skin concern is.</p>
        <ul>
            <li>
                <picture>
                    <source media="(min-width: 768px)" srcset="sections/isolated/get-qure/images/gq-1.webp" />
                    <img src="sections/isolated/get-qure/images/gq-mob-1.webp" />
                </picture>
                <h6>Signs of aging, fine lines and wrinkles</h6>
                <a class="btn btn--primary-white" href="#">Shop Now</a>
            </li>
            <li>
                <picture>
                    <source media="(min-width: 768px)" srcset="sections/isolated/get-qure/images/gq-2.webp" />
                    <img src="sections/isolated/get-qure/images/gq-mob-2.webp" />
                </picture>
                <h6>Dark spots and uneven skin tone</h6>
                <a class="btn btn--primary-white" href="#">Shop Now</a>
            </li>
            <li>
                <picture>
                    <source media="(min-width: 768px)" srcset="sections/isolated/get-qure/images/gq-3.webp" />
                    <img src="sections/isolated/get-qure/images/gq-mob-3.webp" />
                </picture>
                <h6>Large pores and textured skin</h6>
                <a class="btn btn--primary-white" href="#">Shop Now</a>
            </li>
            <li>
                <picture>
                    <source media="(min-width: 768px)" srcset="sections/isolated/get-qure/images/gq-4.webp" />
                    <img src="sections/isolated/get-qure/images/gq-mob-4.webp" />
                </picture>
                <h6>Acne breakouts and&nbsp;blemishes</h6>
                <a class="btn btn--primary-white" href="#">Shop Now</a>
            </li>
        </ul>
    {{/get-qure}}

    {{> features-marquee }}

    {{#> base-section
        classes="base-section--small-media"
        title="Trusted and Recommended by Experts"
        video='[
            {
                "url": "https://www.youtube.com/watch?v=mVdncsTAXiA",
                "picture": "sections/isolated/experts/images/dr_shah_max_clean.webp",
                "label-main": "Dr. Shah & Dr. Maxfield",
                "label-secondary": "Board Certified Dermatologists"
            }
        ]'
        pill-badge=true
    }}
        <p>“This treatment is an at-home option for those who want to <em>avoid the hassle or cost of going to the office</em>”.</p>
    {{/base-section }}

    {{#> base-slider
        classes="base-slider--tree-cards"
        title=""
    }}
        <div
            class="c-swiper"
            data-swiper='{
                "slidesPerView": 1.1,
                "spaceBetween": 13,
                "loop": false,
                "pagination": {
                    "el": ".c-swiper-pagination",
                    "type": "custom"
                },
                "navigation": {
                    "prevEl": ".c-swiper-button-prev",
                    "nextEl": ".c-swiper-button-next"
                },
                "breakpoints": {
                    "768": {
                        "slidesPerView": 2
                    },
                    "1200": {
                        "slidesPerView": 3,
                        "spaceBetween": 16
                    }
                }
            }'
        >
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="c-trusted-video-card">
                        <picture
                            class="filter-card-video"
                            data-bs-toggle="modal"
                            data-bs-target="#reusableWistiaModal"
                            data-video-id="rehxqby0fq"
                        >
                            <img src="sections/isolated/trusted-video/images/home-trusted_img_1.webp" alt="Dr. Alekandra Brown" />
                        </picture>
                        <article>
                            <p>"I like using this between my in-office treatments and it's easy to use, even for beginners." </p>
                            <div>
                                <p>Dr. Alekandra Brown</p>
                                <p><span class="e-checkmark"></span> Board-Certified Dermatologist</p>
                            </div>
                        </article>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="c-trusted-video-card">
                        <picture
                            data-bs-toggle="modal"
                            data-bs-target="#reusableWistiaModal"
                            data-video-id="ug1o3j3d8w"
                        >
                            <img src="sections/isolated/trusted-video/images/trusted_img_5.webp" alt="Dr. Lindsey Zubritsky" />
                        </picture>
                        <article>
                            <p>"After just a few uses my wrinkles look less visible and my skin brighter and smoother."</p>
                            <div>
                                <p>Dr. Lindsey Zubritsky</p>
                                <p><span class="e-checkmark"></span> Board-Certified Dermatologist</p>
                            </div>
                        </article>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="c-trusted-video-card">
                        <picture
                            data-bs-toggle="modal"
                            data-bs-target="#reusableWistiaModal"
                            data-video-id="wbf95ywhx4"
                        >
                            <img src="sections/isolated/trusted-video/images/trusted_img_6.webp" alt="Dr. Alexis Stephens" />
                        </picture>
                        <article>
                            <p>"You can get a clinical treatment at home safely and conveniently... and it's particularly beneficial for those with melanin-rich skin"</p>
                            <div>
                                <p>Dr. Alexis Stephens</p>
                                <p><span class="e-checkmark"></span> Internal Medicine Doctor</p>
                            </div>
                        </article>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="c-trusted-video-card">
                        <picture
                            data-bs-toggle="modal"
                            data-bs-target="#reusableWistiaModal"
                            data-video-id="gzba345nd4"
                        >
                            <img src="sections/isolated/trusted-video/images/trusted_img_9.webp" alt="Dr. Prem Tripati" />
                        </picture>
                        <article>
                            <p>"With Qure's Micro-Infusion System - consistency is key."</p>
                            <div>
                                <p>Dr. Prem Tripati</p>
                                <p><span class="e-checkmark"></span> Facial Plastic Surgeon</p>
                            </div>
                        </article>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="c-trusted-video-card">
                        <picture
                            data-bs-toggle="modal"
                            data-bs-target="#reusableWistiaModal"
                            data-video-id="ypvcdsgwkx"
                        >
                            <img src="sections/isolated/trusted-video/images/trusted_img_8.webp" alt="Dr. Wallace Nozile" />
                        </picture>
                        <article>
                            <p>"One of the best ways to treat hyperpigmentation at home."</p>
                            <div>
                                <p>Dr. Wallace Nozile</p>
                                <p><span class="e-checkmark"></span> Board-Certified Dermatologist</p>
                            </div>
                        </article>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="c-trusted-video-card">
                        <picture
                            data-bs-toggle="modal"
                            data-bs-target="#reusableWistiaModal"
                            data-video-id="3bud7no0j9"
                        >
                            <img src="sections/isolated/trusted-video/images/trusted_img_7.webp" alt="Dr. Davin Lim" />
                        </picture>
                        <article>
                            <p>"With Micro-Infusion, you get to see the results almost instantly."</p>
                            <div>
                                <p>Dr. Davin Lim</p>
                                <p><span class="e-checkmark"></span> Board-Certified Dermatologist</p>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
            <div class="c-swiper-nav">
                <button class="c-swiper-button-prev"></button>
                <div class="c-swiper-pagination"></div>
                <button class="c-swiper-button-next"></button>
            </div>
        </div>
    {{/base-slider }}

    {{#> base-section
        classes="base-section--reverse"
        title="Why we started Qure"
        picture="sections/global/banner-with-text/images/skincare_rev.webp"
        button="Read Our Story"
    }}
        <p>We had one belief: Feeling good in your skin is a fundamental right — not a luxury. Because how you feel in your skin affects how you show up in your life.</p>
        <p>As a brother-and-sister duo, we saw that <em>clinically proven skincare</em> was often expensive, or out of reach for many people.</p>
        <p>So we set out to remove unnecessary barriers and make effective <em>science-backed treatments</em> accessible from home.</p>
    {{/base-section }}

    {{> board-advisors
        title="Meet our board of advisors"
        text="At Qure Skincare, we are proud to have a team of esteemed Dermatologists guiding our mission to deliver high-quality skincare solutions."
        advisory-1="I like that they put a lot of R&D into their products - Ultimately, I think that they care a lot about the products they are putting out"
        advisory-2="Qure do studies on this, taking a look at how effective it is, so you can have confidence it’s going to help what you’re doing for your skincare routine"
        advisory-3="I love that Qure Skincare products go beyond just topical treatments, helping to maintain the results of in-office procedures."
        advisory-4="What really sets Qure apart is the level of innovation and thoughtfulness they put into each product. Their commitment to quality and attention to detail really shines through in everything they create"
    }}

    {{> take-quiz }}

    {{> our-community }}
{{/section-stack }}

{{> cookies }}

{{/new }}
