{{#> new
    title="Micro-Infusion for Men"
    body-class="page.qure-microinfusion-offer-men"
}}

{{#> section-stack }}
    {{#> hero-product }}
        <div class="hero-product__gallery">
            <div
                class="c-swiper"
                data-swiper-thumbs="#hero-product .c-swiper-thumbs"
                data-swiper='{
                    "slidesPerView": 1,
                    "spaceBetween": 16,
                    "navigation": {
                        "prevEl": "#hero-product .c-swiper-button-prev",
                        "nextEl": "#hero-product .c-swiper-button-next"
                    }
                }'
            >
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <img src="sections/isolated/micro-infusion-pdp/images/mi_mens_1.webp" alt="Micro-Infusion for Men" />
                    </div>
                    <div class="swiper-slide">
                        <img
                            class="watch-wistia-video"
                            src="sections/isolated/micro-infusion-pdp/images/mi_mens_2.webp"
                            alt="Micro-Infusion for Men"
                            data-bs-toggle="modal"
                            data-bs-target="#reusableWistiaModal"
                            data-video-id="bmdx4v17fb"
                        />
                    </div>
                    <div class="swiper-slide">
                        <img src="sections/isolated/micro-infusion-pdp/images/mi_mens_3.webp" alt="Micro-Infusion for Men" />
                    </div>
                    <div class="swiper-slide">
                        <img src="sections/isolated/micro-infusion-pdp/images/mi_mens_4.webp" alt="Micro-Infusion for Men" />
                    </div>
                    <div class="swiper-slide">
                        <img src="sections/isolated/micro-infusion-pdp/images/mi-6.webp" alt="Micro-Infusion for Men" />
                    </div>
                    <div class="swiper-slide">
                        <img src="sections/isolated/micro-infusion-pdp/images/mi_mens_6.webp" alt="Micro-Infusion for Men" />
                    </div>
                    <div class="swiper-slide">
                        <img src="sections/isolated/micro-infusion-pdp/images/mi-13.webp" alt="Micro-Infusion for Men" />
                    </div>
                </div>
            </div>
            <div class="c-swiper-thumbs-nav">
                <button class="c-swiper-button-prev"></button>
                <div
                    class="c-swiper c-swiper-thumbs"
                    data-swiper='{
                        "slidesPerView": "auto",
                        "spaceBetween": 12
                    }'
                >
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <img src="sections/isolated/micro-infusion-pdp/images/mi_mens_1.webp" alt="Micro-Infusion for Men" />
                        </div>
                        <div class="swiper-slide">
                            <img src="sections/isolated/micro-infusion-pdp/images/mi_mens_2.webp" alt="Micro-Infusion for Men" />
                        </div>
                        <div class="swiper-slide">
                            <img src="sections/isolated/micro-infusion-pdp/images/mi_mens_3.webp" alt="Micro-Infusion for Men" />
                        </div>
                        <div class="swiper-slide">
                            <img src="sections/isolated/micro-infusion-pdp/images/mi_mens_4.webp" alt="Micro-Infusion for Men" />
                        </div>
                        <div class="swiper-slide">
                            <img src="sections/isolated/micro-infusion-pdp/images/mi-6.webp" alt="Micro-Infusion for Men" />
                        </div>
                        <div class="swiper-slide">
                            <img src="sections/isolated/micro-infusion-pdp/images/mi_mens_6.webp" alt="Micro-Infusion for Men" />
                        </div>
                        <div class="swiper-slide">
                            <img src="sections/isolated/micro-infusion-pdp/images/mi-13.webp" alt="Micro-Infusion for Men" />
                        </div>
                    </div>
                </div>
                <button class="c-swiper-button-next"></button>
            </div>
        </div>
        <div class="hero-product__main">
            {{> c-rating value="4.8" }}
            <h1>The go-to skin treatment for the ultimate confidence booster</h1>
            <article>
                <ul>
                    <li>Helps reduce appearance of fine lines, smooth texture whilst helping to infuse active ingredients into your skin.</li>
                    <li>Virtually painless and performed in the comfort and convenience of your home.</li>
                    <li>Minimal to no downtime with visible results.</li>
                </ul>
            </article>
            <div class="c-buy-block">
                {{> c-order-button
                    button="GET SMOOTHER SKIN"
                    hide-pay=true }}
            </div>
            <picture
                data-label-text="Watch: How To Use"
                data-bs-toggle="modal"
                data-bs-target="#reusableWistiaModal"
                data-video-id="8ymvdqzx92"
            >
                <img src="sections/isolated/micro-infusion-pdp/images/how_to_use_men.webp" alt="Watch: How To Use" />
            </picture>
        </div>
        <div class="hero-product__extra">
            {{> c-jump-to
                list='[
                    {
                        "id": "improve_skin",
                        "name": "The Results"
                    },
                    {
                        "id": "crystal_clear",
                        "name": "Reviews"
                    },
                    {
                        "id": "easy_steps",
                        "name": "How To Use"
                    },
                    {
                        "id": "why_it_works",
                        "name": "How It Works"
                    },
                    {
                        "id": "faq",
                        "name": "FAQs"
                    }
                ]'
            }}
        </div>
    {{/hero-product}}

    {{> press-reviews }}

    {{#> base-section
        classes="base-section--reverse"
        title="Qure’s Micro-Infusion goes where your skin cream can’t…"
        wistia="a1pykz2tp0"
        percent-list='[
            {
                "value": 90,
                "text": "agreed their skin looked better after Micro-Infusion."
            },
            {
                "value": 93,
                "text": "reported skin appeared more hydrated and glowy."
            },
            {
                "value": 70,
                "text": "Agreed their fine lines looked smoother."
            },
            {
                "value": 87,
                "text": "prefer this treatment over clinic-based treatments."
            }
        ]'
    }}
        <p>Its tiny, almost painless, microneedles penetrate beyond the skin’s surface increasing serum absorption and delivering powerful active ingredients exactly where they’re needed!</p>
    {{/base-section }}

    {{> highlight
        desktop="THE ONLY FACIAL TREATMENTS YOUR SKIN NEEDS"
        mobile="Available until stocks last!"
    }}

    {{#> base-section
        title="Introducing the Qure Micro-Infusion System"
        picture="sections/global/banner-with-text/images/qure-micro-infusion_men.webp"
        buy-block=true
    }}
        <ul class="c-marked-list">
            <li>Helps reduce appearance of <strong>fine lines</strong></li>
            <li>Wake up with <strong>dewy looking, glowing skin</strong></li>
            <li>Reveal <strong>brighter</strong> looking, <strong>firmer</strong> feeling skin</li>
            <li>Help fade appearance of <strong>dark spots</strong> and acne marks</li>
        </ul>
    {{/base-section }}

    {{> features-marquee }}

    {{#> base-slider id="crystal_clear" title="Confident skin starts here" }}
        <div
            class="c-swiper"
            data-swiper='{
                "slidesPerView": 1.2,
                "spaceBetween": 16,
                "loop": false,
                "pagination": {
                    "el": ".c-swiper-pagination",
                    "type": "custom"
                },
                "navigation": {
                    "prevEl": ".c-swiper-button-prev",
                    "nextEl": ".c-swiper-button-next"
                },
                "breakpoints": {
                    "480": {
                        "slidesPerView": 2.2
                    },
                    "768": {
                        "slidesPerView": 4
                    }
                }
            }'
        >
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="wistia-embed-video">
                        <div class="wistia_responsive_padding">
                            <div class="wistia_responsive_wrapper">
                                <div class="wistia_embed wistia_async_zs3ddb0qly popover=true seo=false videoFoam=true">
                                    <div class="wistia_swatch">
                                        <img
                                            src="https://fast.wistia.com/embed/medias/zs3ddb0qly/swatch"
                                            alt="Wistia video thumbnail"
                                            style="filter: blur(5px);"
                                        />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="wistia-embed-video">
                        <div class="wistia_responsive_padding">
                            <div class="wistia_responsive_wrapper">
                                <div class="wistia_embed wistia_async_w4iq1fw935 popover=true seo=false videoFoam=true">
                                    <div class="wistia_swatch">
                                        <img
                                            src="https://fast.wistia.com/embed/medias/w4iq1fw935/swatch"
                                            alt="Wistia video thumbnail"
                                            style="filter: blur(5px);"
                                        />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="wistia-embed-video">
                        <div class="wistia_responsive_padding">
                            <div class="wistia_responsive_wrapper">
                                <div class="wistia_embed wistia_async_odqq1nfd70 popover=true seo=false videoFoam=true">
                                    <div class="wistia_swatch">
                                        <img
                                            src="https://fast.wistia.com/embed/medias/odqq1nfd70/swatch"
                                            alt="Wistia video thumbnail"
                                            style="filter: blur(5px);"
                                        />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="wistia-embed-video">
                        <div class="wistia_responsive_padding">
                            <div class="wistia_responsive_wrapper">
                                <div class="wistia_embed wistia_async_0s0i1yak5q popover=true seo=false videoFoam=true">
                                    <div class="wistia_swatch">
                                        <img
                                            src="https://fast.wistia.com/embed/medias/0s0i1yak5q/swatch"
                                            alt="Wistia video thumbnail"
                                            style="filter: blur(5px);"
                                        />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="wistia-embed-video">
                        <div class="wistia_responsive_padding">
                            <div class="wistia_responsive_wrapper">
                                <div class="wistia_embed wistia_async_tbijgay3s8 popover=true seo=false videoFoam=true">
                                    <div class="wistia_swatch">
                                        <img
                                            src="https://fast.wistia.com/embed/medias/tbijgay3s8/swatch"
                                            alt="Wistia video thumbnail"
                                            style="filter: blur(5px);"
                                        />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="wistia-embed-video">
                        <div class="wistia_responsive_padding">
                            <div class="wistia_responsive_wrapper">
                                <div class="wistia_embed wistia_async_qsa1cc7fi3 popover=true seo=false videoFoam=true">
                                    <div class="wistia_swatch">
                                        <img
                                            src="https://fast.wistia.com/embed/medias/qsa1cc7fi3/swatch"
                                            alt="Wistia video thumbnail"
                                            style="filter: blur(5px);"
                                        />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="wistia-embed-video">
                        <div class="wistia_responsive_padding">
                            <div class="wistia_responsive_wrapper">
                                <div class="wistia_embed wistia_async_atw6y4k628 popover=true seo=false videoFoam=true">
                                    <div class="wistia_swatch">
                                        <img
                                            src="https://fast.wistia.com/embed/medias/atw6y4k628/swatch"
                                            alt="Wistia video thumbnail"
                                            style="filter: blur(5px);"
                                        />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="wistia-embed-video">
                        <div class="wistia_responsive_padding">
                            <div class="wistia_responsive_wrapper">
                                <div class="wistia_embed wistia_async_1qdmdzjgoz popover=true seo=false videoFoam=true">
                                    <div class="wistia_swatch">
                                        <img
                                            src="https://fast.wistia.com/embed/medias/1qdmdzjgoz/swatch"
                                            alt="Wistia video thumbnail"
                                            style="filter: blur(5px);"
                                        />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="c-swiper-nav">
                <button class="c-swiper-button-prev"></button>
                <div class="c-swiper-pagination"></div>
                <button class="c-swiper-button-next"></button>
            </div>
        </div>
    {{/base-slider }}

    {{#> base-section
        classes="base-section--simple-grid base-section--reverse"
        title="Dual action for twice the results"
        picture="sections/global/banner-with-text/images/dual-action_men.webp"
    }}
        <p>Qure’s Micro-Infusion System has a one-two punch, making it uniquely effective.</p>
        <ol>
            <li>First, it uses tiny 24K gold needles (thinner than a hair) to gently press into your skin. This helps improve firmness and smooth out fine lines.</li>
            <li>Next, it delivers serum through the tiny channels created, so your skin absorbs the ingredients more deeply.</li>
        </ol>
        <p>Perfect for anyone wanting to add a fresh, dewy glowing look to their skin, especially before an event or occasion.</p>
    {{/base-section }}

    {{> why-using
        classes="why-using--bg"
        title="4  reasons why everyone is using the Qure Micro-Infusion System"
        list='[
            {
                "icon": "save-money",
                "name": "Saves time, money and hassle compared to in-clinic treatments"
            },
            {
                "icon": "mi-quick",
                "name": "Quick & easy 5-minute DIY facial from the convenience of home"
            },
            {
                "icon": "mi-painless",
                "name": "Virtually painless, little to no downtime"
            },
            {
                "icon": "two-in-one",
                "name": "2-in-1 system refreshes the look of skin for a visible glow"
            }
        ]'
    }}

    {{#> base-section
        classes="base-section--small-media"
        title="Trusted and Recommended by Experts"
        video='[
            {
                "url": "https://www.youtube.com/watch?v=mVdncsTAXiA",
                "picture": "sections/isolated/experts/images/dr_shah_max_clean.webp",
                "label-main": "Dr. Shah & Dr. Maxfield",
                "label-secondary": "Board Certified Dermatologists"
            }
        ]'
        pill-badge=true
    }}
        <p>“This treatment is an at-home option for those who want to <em>avoid the hassle or cost of going to the office</em>”.</p>
    {{/base-section }}

    {{#> base-slider }}
        <div
            class="c-swiper"
            data-swiper='{
                "slidesPerView": 1.1,
                "spaceBetween": 13,
                "loop": false,
                "pagination": {
                    "el": ".c-swiper-pagination",
                    "type": "custom"
                },
                "navigation": {
                    "prevEl": ".c-swiper-button-prev",
                    "nextEl": ".c-swiper-button-next"
                },
                "breakpoints": {
                    "768": {
                        "slidesPerView": 2
                    },
                    "1200": {
                        "slidesPerView": 3,
                        "spaceBetween": 16
                    }
                }
            }'
        >
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="c-trusted-video-card">
                        <picture
                            data-bs-toggle="modal"
                            data-bs-target="#reusableWistiaModal"
                            data-video-id="gzba345nd4"
                        >
                            <img src="sections/isolated/trusted-video/images/trusted_img_9.webp" alt="Dr. Prem Tripati" />
                        </picture>
                        <article>
                            <p>"With Qure's Micro-Infusion System - consistency is key."</p>
                            <div>
                                <p>Dr. Prem Tripati</p>
                                <p><span class="e-checkmark"></span> Facial Plastic Surgeon</p>
                            </div>
                        </article>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="c-trusted-video-card">
                        <picture
                            data-bs-toggle="modal"
                            data-bs-target="#reusableWistiaModal"
                            data-video-id="ypvcdsgwkx"
                        >
                            <img src="sections/isolated/trusted-video/images/trusted_img_8.webp" alt="Dr. Wallace Nozile" />
                        </picture>
                        <article>
                            <p>"One of the best ways to treat hyperpigmentation at home."</p>
                            <div>
                                <p>Dr. Wallace Nozile</p>
                                <p><span class="e-checkmark"></span> Board-Certified Dermatologist</p>
                            </div>
                        </article>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="c-trusted-video-card">
                        <picture
                            data-bs-toggle="modal"
                            data-bs-target="#reusableWistiaModal"
                            data-video-id="3bud7no0j9"
                        >
                            <img src="sections/isolated/trusted-video/images/trusted_img_7.webp" alt="Dr. Davin Lim" />
                        </picture>
                        <article>
                            <p>"With Micro-Infusion, you get to see the results almost instantly."</p>
                            <div>
                                <p>Dr. Davin Lim</p>
                                <p><span class="e-checkmark"></span> Board-Certified Dermatologist</p>
                            </div>
                        </article>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="c-trusted-video-card">
                        <picture data-url="https://www.youtube.com/watch?v=mVdncsTAXiA">
                            <img src="sections/isolated/trusted-video/images/dr_dylan.webp" alt="Dr. Dylan Greeney" />
                        </picture>
                        <article>
                            <p>“This system takes it a step further by increasing hydration and delivering growth factors right where they need to be.”</p>
                            <div>
                                <p>Dr. Dylan Greeney</p>
                                <p><span class="e-checkmark"></span> Board-Certified Dermatologist</p>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
            <div class="c-swiper-nav">
                <button class="c-swiper-button-prev"></button>
                <div class="c-swiper-pagination"></div>
                <button class="c-swiper-button-next"></button>
            </div>
        </div>
    {{/base-slider }}

    {{#> trusted-reviews title="Results you’ll see with your own eyes" button="buy now & SAVE UP TO 43%" }}
        <div class="swiper-slide">
            <div class="c-trusted-review-card">
                <picture>
                    <img src="sections/isolated/review-slider/images/results_men_lp_1.webp" alt="My skin is GLOWING" />
                </picture>
                <div class="e-author">
                    <img src="sections/isolated/review-slider/images/australia_f.webp" alt="David G." />
                    David G.
                </div>
                <div class="e-verified-customer">
                    <div class="e-checkmark"></div>
                    Verified customer
                </div>
                <article>
                    <h6>My skin is GLOWING</h6>
                    <p>“I was skeptical at first, but after using the Micro-Infusion Device for a few weeks, I'm blown away by the results. My skin looks and feels noticeably smoother. Highly recommend giving it a try!”</p>
                </article>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="c-trusted-review-card">
                <picture>
                    <img src="sections/isolated/review-slider/images/shower-result2.webp" alt="Hydrated more than ever" />
                </picture>
                <div class="e-author">
                    <img src="sections/isolated/review-slider/images/england_f.webp" alt="Hanna L." />
                    Hanna L.
                </div>
                <div class="e-verified-customer">
                    <div class="e-checkmark"></div>
                    Verified customer
                </div>
                <article>
                    <h6>Hydrated more than ever</h6>
                    <p>“I never had major issues with skin before I moved. Then I started to get irritation and my makeup would look cakey cause my skin always felt so dry no matter what moisturizer I used. I didn't change anything in my skincare routine except filtered water. I'm never washing my face with anything less than Q-urified water because my skin feels so much better.”</p>
                </article>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="c-trusted-review-card">
                <picture>
                    <img src="sections/isolated/review-slider/images/shower-result3.webp" alt="Acne and dryness gone" />
                </picture>
                <div class="e-author">
                    <img src="sections/isolated/review-slider/images/america_f.webp" alt="Josie K." />
                    Josie K.
                </div>
                <div class="e-verified-customer">
                    <div class="e-checkmark"></div>
                    Verified customer
                </div>
                <article>
                    <h6>Acne and dryness gone</h6>
                    <p>“My skin looks much clearer thanks to Qure! I use the LED mask and water filter daily and...my complexion looks so much smoother and less red! My skin feels soft and hydrated. I can actually walk out of the house without makeup now. THANK YOU QURE!”</p>
                </article>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="c-trusted-review-card">
                <picture>
                    <img src="sections/isolated/review-slider/images/shower-result4.webp" alt="Skin and hair are glowing" />
                </picture>
                <div class="e-author">
                    <img src="sections/isolated/review-slider/images/america_f.webp" alt="Adele M." />
                    Adele M.
                </div>
                <div class="e-verified-customer">
                    <div class="e-checkmark"></div>
                    Verified customer
                </div>
                <article>
                    <h6>Skin and hair are glowing</h6>
                    <p>“I have been using this filter for a few weeks now and my hair is SO much healthier. Much more smooth, less frizzy, looks glossier and the shedding has reduced. And actually I'm even seeing my skin look more hydrated and glowier - bonus!!”</p>
                </article>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="c-trusted-review-card">
                <picture>
                    <img src="sections/isolated/review-slider/images/shower-result5.webp" alt="Source of my unclear skin" />
                </picture>
                <div class="e-author">
                    <img src="sections/isolated/review-slider/images/america_f.webp" alt="Kim L." />
                    Kim L.
                </div>
                <div class="e-verified-customer">
                    <div class="e-checkmark"></div>
                    Verified customer
                </div>
                <article>
                    <h6>Source of my unclear skin</h6>
                    <p>“I didn’t realize how big impact water has on our skin... I almost got used to my skin never getting better than mediocre, but this Water Filter is a game changer in my skincare routine.”</p>
                </article>
            </div>
        </div>
    {{/trusted-reviews }}

    {{> logos-marquee }}

    {{#> why-it-works id="why_it_works" }}
        <article class="why-it-works__text">
            <h2>Why It Works</h2>
            <p>Our triple filtration technology filters the water to remove heavy metals and purify.</p>
        </article>
        <div class="why-it-works__main">
            <div class="why-it-works__according">
                <div class="c-accordion c-accordion--lines">
                    <div class="c-accordion__list">
                        <details class="c-accordion__item" id="carbon-fiber">
                            <summary class="c-accordion__summary">
                                {{> e-icon icon="carbon"}}
                                Carbon Fiber Layer
                            </summary>
                            <article class="c-accordion__content">
                                <p>Removes up to 99% of chlorine which can reduce dry and irritated feeling skin leaving skin and hair looking healthier.</p>
                            </article>
                        </details>
                        <details class="c-accordion__item" id="kdf-filter">
                            <summary class="c-accordion__summary">
                                {{> e-icon icon="pp-filter"}}
                                KDF-55 Layer
                            </summary>
                            <article class="c-accordion__content">
                                <p>Captures larger particles such as dirt, rust, and sediment, providing the first stage of filtration.</p>
                            </article>
                        </details>
                        <details class="c-accordion__item" id="fof-filter">
                            <summary class="c-accordion__summary">
                                {{> e-icon icon="nok-filter"}}
                                FOF (Filter of Future)
                            </summary>
                            <article class="c-accordion__content">
                                <p>Helps limit limescale buildup by reducing hard water mineral accumulation, which can support improved water flow over time.</p>
                            </article>
                        </details>
                    </div>
                </div>
            </div>
            <div class="why-it-works__components">
                <div class="c-product-components c-product-components--shower-filter">
                    <img src="sections/new/why-it-works/images/shower-filter.webp" alt="Qure Shower Filter" />
                    <div class="e-component-pointer">
                        <hr />
                        <a href="#carbon-fiber">Carbon Fiber Layer</a>
                    </div>
                    <div class="e-component-pointer e-component-pointer--reverse">
                        <hr />
                        <a href="#kdf-filter">KDF-55 Layer</a>
                    </div>
                    <div class="e-component-pointer">
                        <hr />
                        <a href="#fof-filter">Filter of Future</a>
                    </div>
                </div>
            </div>
        </div>
    {{/why-it-works }}

    {{#> set-up id="easy_steps" }}
        <picture
            data-bs-toggle="modal"
            data-bs-target="#reusableWistiaModal"
            data-video-id="fsw2ted2a8"
        >
            <source media="(min-width:768px)" srcset="sections/new/set-up/images/shower-filter-use-video.webp" />
            <img src="sections/new/set-up/images/shower-filter-use-video-mob.webp" alt="Set up in 3 easy steps" />
        </picture>
        <h2>Set up in 3 easy steps</h2>
        <ol>
            <li>
                <picture>
                    <source media="(min-width:768px)" srcset="sections/new/set-up/images/shower-filter-use-step-1.webp" />
                    <img src="sections/new/set-up/images/shower-filter-use-step-1-mob.webp" alt="Detatch" />
                </picture>
                <h6>Detatch</h6>
                <p>Unscrew your old shower head by hand, or with a wrench (included) for more grip if needed.</p>
            </li>
            <li>
                <picture>
                    <source media="(min-width:768px)" srcset="sections/new/set-up/images/shower-filter-use-step-2.webp" />
                    <img src="sections/new/set-up/images/shower-filter-use-step-2-mob.webp" alt="Fit" />
                </picture>
                <h6>Fit</h6>
                <p>Wrap the plumber tape (included) around the shower pipe.</p>
            </li>
            <li>
                <picture>
                    <source media="(min-width:768px)" srcset="sections/new/set-up/images/shower-filter-use-step-3.webp" />
                    <img src="sections/new/set-up/images/shower-filter-use-step-3-mob.webp" alt="Secure" />
                </picture>
                <h6>Secure</h6>
                <p>Twist the Qure Shower Filter onto the pipe and tighten it securely with the wrench.</p>
            </li>
        </ol>
    {{/set-up}}

    {{#> product-settings }}
        <article>
            <h2>Adjust the flow and angle</h2>
            <p>Transform your shower with our rotatable filter and three customizable water flow settings, giving you the perfect angle and flow for every preference.</p>
        </article>
        {{> c-lifetime-warranty }}
        <div class="c-pill-tabs">
            <h6>Choose from three flow settings</h6>
            <ul class="c-pill-tabs__buttons e-pill-tabs" role="tablist">
                <li>
                    <button
                        class="active"
                        type="button"
                        data-bs-toggle="tab"
                        data-bs-target="#pill-tabs-rainfall"
                    >
                        Rainfall
                    </button>
                </li>
                <li>
                    <button
                        type="button"
                        data-bs-toggle="tab"
                        data-bs-target="#pill-tabs-massage"
                    >
                        Massage
                    </button>
                </li>
                <li>
                    <button
                        type="button"
                        data-bs-toggle="tab"
                        data-bs-target="#pill-tabs-spray"
                    >
                        Power Spray
                    </button>
                </li>
            </ul>
            <div class="c-pill-tabs__pane show" id="pill-tabs-rainfall">
                <img src="assets/images/shower_rainfall.webp" alt="Rainfall" />
            </div>
            <div class="c-pill-tabs__pane" id="pill-tabs-massage">
                <img src="assets/images/shower_massage.webp" alt="Massage" />
            </div>
            <div class="c-pill-tabs__pane" id="pill-tabs-spray">
                <img src="assets/images/shower_spray.webp" alt="Power Spray" />
            </div>
        </div>
    {{/product-settings }}

    {{#> comparison
        title="Why choose Qure?"
        picture-first="sections/isolated/eye-patches/images/compare_filter1.webp"
        picture-second="sections/isolated/eye-patches/images/compare_filter2.webp"
        name-first="Qure Shower Filter"
        name-second="Alternative Filters"
        list-first='[
            "Reduces chlorine and heavy metals*",
            "Three-step filtration system",
            "Exceeds NSF-177 certifications ",
            "Customizable water flow",
            "Backed by a lifetime warranty"
        ]'
        list-second='[
            "May reduce some chlorine and metals",
            "Standard filtration system",
            "Limited third-party testing information",
            "No customization options",
            "Limited or no warranty"
        ]'
        declaimer="*Based on laboratory testing under controlled conditions. Performance may vary depending on water quality and usage."
    }}
        <p>Qure Shower Filter removes more contaminants than standard showerheads, and provides better water quality than alternative filters.</p>
    {{/comparison }}

    {{> have-questions
        list='[
            {
                "summary": "How will the Qure Shower Filter benefit my hair/skin?",
                "text": "
                    <p>The Qure Shower Filter removes harmful impurities like heavy metals, chlorine, and unwanted minerals from your water, helping to protect your skin and hair from damage caused by hard water.</p>
                    <p>By filtering out water impurities, the Qure Shower Filter helps reduce dryness, irritation, and brittleness, leaving your skin hydrated and your hair smoother and more manageable.</p>
                "
            },
            {
                "summary": "Is it compatible with all showerheads?",
                "text": "
                    <p>The Qure Shower Filter fits most standard showerheads, but we recommend checking your showerhead\'s specifications to ensure compatibility.</p>
                "
            },
            {
                "summary": "Does it affect water pressure?",
                "text": "
                    <p>The Qure Shower Filter is designed to maintain water pressure while effectively filtering impurities. You’ll enjoy clean water without compromising your shower experience.</p>
                "
            },
            {
                "summary": "Is the Qure Shower Filter certified, tested, and safe to use?",
                "text": "
                    <p>Yes — it’s third-party tested to meet NSF water filtration standards and made with certified BPA-free, non-toxic, and skin-friendly materials. It’s also leak-resistant and built to last.</p>
                "
            },
            {
                "summary": "Do I need to change/replace the filter?",
                "text": "
                    <p>The Qure Shower Filter lasts approximately 3 months, depending on your water quality and usage. We recommend replacing it after 3 months for optimal performance.</p>
                "
            },
            {
                "summary": "How easy is it to install?",
                "text": "
                    <p>Yes, the Qure Shower Filter is designed for easy, tool-free installation. It fits most standard showerheads, so you can quickly start enjoying clean, filtered water.</p>
                "
            },
            {
                "summary": "Why should I subscribe?",
                "text": "
                    <p>Regularly replacing your Qure Shower Filter ensures it continues to effectively remove chlorine, heavy metals, and impurities from your water. Over time, the filtration media becomes saturated, reducing its ability to provide clean, skin-friendly water.</p>
                    <p>By subscribing, you prevent buildup of contaminants that can diminish the filter’s effectiveness, and consistently reduce exposure to harmful chemicals that cause hair and skin irritation and dryness.</p>
                "
            }
        ]'
    }}

{{/section-stack }}

{{> cta-bar
    name="Micro-Infusion Facial System"
    button="Buy now & SAVE UP TO 43%"
}}

{{/new }}
