{{#> new
    title="Micro-Infusion for Men"
    body-class="page.qure-microinfusion-offer-men"
}}

{{#> section-stack }}
    {{#> hero-product }}
        <div class="hero-product__gallery">
            <div
                class="c-swiper"
                data-swiper-thumbs="#hero-product .c-swiper-thumbs"
                data-swiper='{
                    "slidesPerView": 1,
                    "spaceBetween": 16,
                    "navigation": {
                        "prevEl": "#hero-product .c-swiper-button-prev",
                        "nextEl": "#hero-product .c-swiper-button-next"
                    }
                }'
            >
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <img src="sections/isolated/micro-infusion-pdp/images/mi_mens_1.webp" alt="Micro-Infusion for Men" />
                    </div>
                    <div class="swiper-slide">
                        <img
                            class="watch-wistia-video"
                            src="sections/isolated/micro-infusion-pdp/images/mi_mens_2.webp"
                            alt="Micro-Infusion for Men"
                            data-bs-toggle="modal"
                            data-bs-target="#reusableWistiaModal"
                            data-video-id="bmdx4v17fb"
                        />
                    </div>
                    <div class="swiper-slide">
                        <img src="sections/isolated/micro-infusion-pdp/images/mi_mens_3.webp" alt="Micro-Infusion for Men" />
                    </div>
                    <div class="swiper-slide">
                        <img src="sections/isolated/micro-infusion-pdp/images/mi_mens_4.webp" alt="Micro-Infusion for Men" />
                    </div>
                    <div class="swiper-slide">
                        <img src="sections/isolated/micro-infusion-pdp/images/mi-6.webp" alt="Micro-Infusion for Men" />
                    </div>
                    <div class="swiper-slide">
                        <img src="sections/isolated/micro-infusion-pdp/images/mi_mens_6.webp" alt="Micro-Infusion for Men" />
                    </div>
                    <div class="swiper-slide">
                        <img src="sections/isolated/micro-infusion-pdp/images/mi-13.webp" alt="Micro-Infusion for Men" />
                    </div>
                </div>
            </div>
            <div class="c-swiper-thumbs-nav">
                <button class="c-swiper-button-prev"></button>
                <div
                    class="c-swiper c-swiper-thumbs"
                    data-swiper='{
                        "slidesPerView": "auto",
                        "spaceBetween": 12
                    }'
                >
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <img src="sections/isolated/micro-infusion-pdp/images/mi_mens_1.webp" alt="Micro-Infusion for Men" />
                        </div>
                        <div class="swiper-slide">
                            <img src="sections/isolated/micro-infusion-pdp/images/mi_mens_2.webp" alt="Micro-Infusion for Men" />
                        </div>
                        <div class="swiper-slide">
                            <img src="sections/isolated/micro-infusion-pdp/images/mi_mens_3.webp" alt="Micro-Infusion for Men" />
                        </div>
                        <div class="swiper-slide">
                            <img src="sections/isolated/micro-infusion-pdp/images/mi_mens_4.webp" alt="Micro-Infusion for Men" />
                        </div>
                        <div class="swiper-slide">
                            <img src="sections/isolated/micro-infusion-pdp/images/mi-6.webp" alt="Micro-Infusion for Men" />
                        </div>
                        <div class="swiper-slide">
                            <img src="sections/isolated/micro-infusion-pdp/images/mi_mens_6.webp" alt="Micro-Infusion for Men" />
                        </div>
                        <div class="swiper-slide">
                            <img src="sections/isolated/micro-infusion-pdp/images/mi-13.webp" alt="Micro-Infusion for Men" />
                        </div>
                    </div>
                </div>
                <button class="c-swiper-button-next"></button>
            </div>
        </div>
        <div class="hero-product__main">
            {{> c-rating value="4.8" }}
            <h1>The go-to skin treatment for the ultimate confidence booster</h1>
            <article>
                <ul>
                    <li>Helps reduce appearance of fine lines, smooth texture whilst helping to infuse active ingredients into your skin.</li>
                    <li>Virtually painless and performed in the comfort and convenience of your home.</li>
                    <li>Minimal to no downtime with visible results.</li>
                </ul>
            </article>
            <div class="c-buy-block">
                {{> c-order-button
                    button="GET SMOOTHER SKIN"
                    hide-pay=true }}
            </div>
            <picture
                data-label-text="Watch: How To Use"
                data-bs-toggle="modal"
                data-bs-target="#reusableWistiaModal"
                data-video-id="8ymvdqzx92"
            >
                <img src="sections/isolated/micro-infusion-pdp/images/how_to_use_men.webp" alt="Watch: How To Use" />
            </picture>
        </div>
        <div class="hero-product__extra">
            {{> c-jump-to
                list='[
                    {
                        "id": "improve_skin",
                        "name": "The Results"
                    },
                    {
                        "id": "crystal_clear",
                        "name": "Reviews"
                    },
                    {
                        "id": "easy_steps",
                        "name": "How To Use"
                    },
                    {
                        "id": "why_it_works",
                        "name": "How It Works"
                    },
                    {
                        "id": "faq",
                        "name": "FAQs"
                    }
                ]'
            }}
        </div>
    {{/hero-product}}

    {{#> press-reviews }}
        <div
            class="c-swiper"
            data-swiper-thumbs=".press-reviews .c-swiper-thumbs"
            data-swiper='{
                "slidesPerView": 1,
                "spaceBetween": 16,
                "loop": true,
                "autoplay": {
                    "delay": 5000
                }
            }'
        >
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <h4>"Few beauty trends are actually worth adopting, but Qure’s take on at-home Micro-Infusion is a viral skin trend with merit."</h4>
                </div>
                <div class="swiper-slide">
                    <h4>A true micro-infusion treatment — creating microchannels that help enhance serum absorption and support visibly smoother-looking skin.</h4>
                </div>
                <div class="swiper-slide">
                    <h4>"This microneedling alternative is my secret to glowing skin."</h4>
                </div>
            </div>
        </div>
        <div class="c-swiper c-swiper-thumbs"
            data-swiper='{
                "slidesPerView": 3,
                "spaceBetween": 30,
                "breakpoints": {
                    "992": {
                        "spaceBetween": 80
                    }
                }
            }'
        >
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <img src="sections/isolated/press_slider/images/forbes.svg" alt="Forbes" />
                </div>
                <div class="swiper-slide">
                    <img src="sections/isolated/press_slider/images/bazzar.svg" alt="Bazzar" />
                </div>
                <div class="swiper-slide">
                    <img src="sections/isolated/press_slider/images/ps.svg" alt="PS" />
                </div>
            </div>
        </div>
    {{/press-reviews}}

    {{#> base-section
        classes="base-section--reverse"
        title="Qure’s Micro-Infusion goes where your skin cream can’t…"
        wistia="a1pykz2tp0"
        percent-list='[
            {
                "value": 90,
                "text": "agreed their skin looked better after Micro-Infusion."
            },
            {
                "value": 93,
                "text": "reported skin appeared more hydrated and glowy."
            },
            {
                "value": 70,
                "text": "Agreed their fine lines looked smoother."
            },
            {
                "value": 87,
                "text": "prefer this treatment over clinic-based treatments."
            }
        ]'
    }}
        <p>Its tiny, almost painless, microneedles penetrate beyond the skin’s surface increasing serum absorption and delivering powerful active ingredients exactly where they’re needed!</p>
    {{/base-section }}

    {{> highlight
        text="THE ONLY FACIAL TREATMENTS YOUR SKIN NEEDS"
        mobile="Available until stocks last!"
    }}

    {{#> base-section
        title="Introducing the Qure Micro-Infusion System"
        picture="sections/global/banner-with-text/images/qure-micro-infusion_men.webp"
        buy-block=true
    }}
        <ul class="c-marked-list">
            <li>Helps reduce appearance of <strong>fine lines</strong></li>
            <li>Wake up with <strong>dewy looking, glowing skin</strong></li>
            <li>Reveal <strong>brighter</strong> looking, <strong>firmer</strong> feeling skin</li>
            <li>Help fade appearance of <strong>dark spots</strong> and acne marks</li>
        </ul>
    {{/base-section }}

    {{> features-marquee }}

    {{#> base-slider id="crystal_clear" title="Confident skin starts here" }}
        <div
            class="c-swiper"
            data-swiper='{
                "slidesPerView": 1.2,
                "spaceBetween": 16,
                "loop": false,
                "pagination": {
                    "el": ".c-swiper-pagination",
                    "type": "custom"
                },
                "navigation": {
                    "prevEl": ".c-swiper-button-prev",
                    "nextEl": ".c-swiper-button-next"
                },
                "breakpoints": {
                    "480": {
                        "slidesPerView": 2.2
                    },
                    "768": {
                        "slidesPerView": 4
                    }
                }
            }'
        >
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="wistia-embed-video">
                        <div class="wistia_responsive_padding">
                            <div class="wistia_responsive_wrapper">
                                <div class="wistia_embed wistia_async_zs3ddb0qly popover=true seo=false videoFoam=true">
                                    <div class="wistia_swatch">
                                        <img
                                            src="https://fast.wistia.com/embed/medias/zs3ddb0qly/swatch"
                                            alt="Wistia video thumbnail"
                                            style="filter: blur(5px);"
                                        />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="wistia-embed-video">
                        <div class="wistia_responsive_padding">
                            <div class="wistia_responsive_wrapper">
                                <div class="wistia_embed wistia_async_w4iq1fw935 popover=true seo=false videoFoam=true">
                                    <div class="wistia_swatch">
                                        <img
                                            src="https://fast.wistia.com/embed/medias/w4iq1fw935/swatch"
                                            alt="Wistia video thumbnail"
                                            style="filter: blur(5px);"
                                        />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="wistia-embed-video">
                        <div class="wistia_responsive_padding">
                            <div class="wistia_responsive_wrapper">
                                <div class="wistia_embed wistia_async_odqq1nfd70 popover=true seo=false videoFoam=true">
                                    <div class="wistia_swatch">
                                        <img
                                            src="https://fast.wistia.com/embed/medias/odqq1nfd70/swatch"
                                            alt="Wistia video thumbnail"
                                            style="filter: blur(5px);"
                                        />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="wistia-embed-video">
                        <div class="wistia_responsive_padding">
                            <div class="wistia_responsive_wrapper">
                                <div class="wistia_embed wistia_async_0s0i1yak5q popover=true seo=false videoFoam=true">
                                    <div class="wistia_swatch">
                                        <img
                                            src="https://fast.wistia.com/embed/medias/0s0i1yak5q/swatch"
                                            alt="Wistia video thumbnail"
                                            style="filter: blur(5px);"
                                        />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="wistia-embed-video">
                        <div class="wistia_responsive_padding">
                            <div class="wistia_responsive_wrapper">
                                <div class="wistia_embed wistia_async_tbijgay3s8 popover=true seo=false videoFoam=true">
                                    <div class="wistia_swatch">
                                        <img
                                            src="https://fast.wistia.com/embed/medias/tbijgay3s8/swatch"
                                            alt="Wistia video thumbnail"
                                            style="filter: blur(5px);"
                                        />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="wistia-embed-video">
                        <div class="wistia_responsive_padding">
                            <div class="wistia_responsive_wrapper">
                                <div class="wistia_embed wistia_async_qsa1cc7fi3 popover=true seo=false videoFoam=true">
                                    <div class="wistia_swatch">
                                        <img
                                            src="https://fast.wistia.com/embed/medias/qsa1cc7fi3/swatch"
                                            alt="Wistia video thumbnail"
                                            style="filter: blur(5px);"
                                        />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="wistia-embed-video">
                        <div class="wistia_responsive_padding">
                            <div class="wistia_responsive_wrapper">
                                <div class="wistia_embed wistia_async_atw6y4k628 popover=true seo=false videoFoam=true">
                                    <div class="wistia_swatch">
                                        <img
                                            src="https://fast.wistia.com/embed/medias/atw6y4k628/swatch"
                                            alt="Wistia video thumbnail"
                                            style="filter: blur(5px);"
                                        />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="wistia-embed-video">
                        <div class="wistia_responsive_padding">
                            <div class="wistia_responsive_wrapper">
                                <div class="wistia_embed wistia_async_1qdmdzjgoz popover=true seo=false videoFoam=true">
                                    <div class="wistia_swatch">
                                        <img
                                            src="https://fast.wistia.com/embed/medias/1qdmdzjgoz/swatch"
                                            alt="Wistia video thumbnail"
                                            style="filter: blur(5px);"
                                        />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="c-swiper-nav">
                <button class="c-swiper-button-prev"></button>
                <div class="c-swiper-pagination"></div>
                <button class="c-swiper-button-next"></button>
            </div>
        </div>
    {{/base-slider }}

    {{#> base-section
        classes="base-section--simple-grid base-section--reverse"
        title="Dual action for twice the results"
        picture="sections/global/banner-with-text/images/dual-action_men.webp"
    }}
        <p>Qure’s Micro-Infusion System has a one-two punch, making it uniquely effective.</p>
        <ol>
            <li>First, it uses tiny 24K gold needles (thinner than a hair) to gently press into your skin. This helps improve firmness and smooth out fine lines.</li>
            <li>Next, it delivers serum through the tiny channels created, so your skin absorbs the ingredients more deeply.</li>
        </ol>
        <p>Perfect for anyone wanting to add a fresh, dewy glowing look to their skin, especially before an event or occasion.</p>
    {{/base-section }}

    {{> why-using
        classes="why-using--bg"
        title="4  reasons why everyone is using the Qure Micro-Infusion System"
        list='[
            {
                "icon": "save-money",
                "name": "Saves time, money and hassle compared to in-clinic treatments"
            },
            {
                "icon": "mi-quick",
                "name": "Quick & easy 5-minute DIY facial from the convenience of home"
            },
            {
                "icon": "mi-painless",
                "name": "Virtually painless, little to no downtime"
            },
            {
                "icon": "two-in-one",
                "name": "2-in-1 system refreshes the look of skin for a visible glow"
            }
        ]'
    }}

    {{#> base-section
        classes="base-section--small-media"
        title="Trusted and Recommended by Experts"
        video='[
            {
                "url": "https://www.youtube.com/watch?v=mVdncsTAXiA",
                "picture": "sections/isolated/experts/images/dr_shah_max_clean.webp",
                "label-main": "Dr. Shah & Dr. Maxfield",
                "label-secondary": "Board Certified Dermatologists"
            }
        ]'
        pill-badge=true
    }}
        <p>“This treatment is an at-home option for those who want to <em>avoid the hassle or cost of going to the office</em>”.</p>
    {{/base-section }}

    {{#> base-slider }}
        <div
            class="c-swiper"
            data-swiper='{
                "slidesPerView": 1.1,
                "spaceBetween": 13,
                "loop": false,
                "pagination": {
                    "el": ".c-swiper-pagination",
                    "type": "custom"
                },
                "navigation": {
                    "prevEl": ".c-swiper-button-prev",
                    "nextEl": ".c-swiper-button-next"
                },
                "breakpoints": {
                    "768": {
                        "slidesPerView": 2
                    },
                    "1200": {
                        "slidesPerView": 3,
                        "spaceBetween": 16
                    }
                }
            }'
        >
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="c-trusted-video-card">
                        <picture
                            data-bs-toggle="modal"
                            data-bs-target="#reusableWistiaModal"
                            data-video-id="gzba345nd4"
                        >
                            <img src="sections/isolated/trusted-video/images/trusted_img_9.webp" alt="Dr. Prem Tripati" />
                        </picture>
                        <article>
                            <p>"With Qure's Micro-Infusion System - consistency is key."</p>
                            <div>
                                <p>Dr. Prem Tripati</p>
                                <p><span class="e-checkmark"></span> Facial Plastic Surgeon</p>
                            </div>
                        </article>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="c-trusted-video-card">
                        <picture
                            data-bs-toggle="modal"
                            data-bs-target="#reusableWistiaModal"
                            data-video-id="ypvcdsgwkx"
                        >
                            <img src="sections/isolated/trusted-video/images/trusted_img_8.webp" alt="Dr. Wallace Nozile" />
                        </picture>
                        <article>
                            <p>"One of the best ways to treat hyperpigmentation at home."</p>
                            <div>
                                <p>Dr. Wallace Nozile</p>
                                <p><span class="e-checkmark"></span> Board-Certified Dermatologist</p>
                            </div>
                        </article>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="c-trusted-video-card">
                        <picture
                            data-bs-toggle="modal"
                            data-bs-target="#reusableWistiaModal"
                            data-video-id="3bud7no0j9"
                        >
                            <img src="sections/isolated/trusted-video/images/trusted_img_7.webp" alt="Dr. Davin Lim" />
                        </picture>
                        <article>
                            <p>"With Micro-Infusion, you get to see the results almost instantly."</p>
                            <div>
                                <p>Dr. Davin Lim</p>
                                <p><span class="e-checkmark"></span> Board-Certified Dermatologist</p>
                            </div>
                        </article>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="c-trusted-video-card">
                        <picture data-url="https://www.youtube.com/watch?v=mVdncsTAXiA">
                            <img src="sections/isolated/trusted-video/images/dr_dylan.webp" alt="Dr. Dylan Greeney" />
                        </picture>
                        <article>
                            <p>“This system takes it a step further by increasing hydration and delivering growth factors right where they need to be.”</p>
                            <div>
                                <p>Dr. Dylan Greeney</p>
                                <p><span class="e-checkmark"></span> Board-Certified Dermatologist</p>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
            <div class="c-swiper-nav">
                <button class="c-swiper-button-prev"></button>
                <div class="c-swiper-pagination"></div>
                <button class="c-swiper-button-next"></button>
            </div>
        </div>
    {{/base-slider }}

    {{#> trusted-reviews
        title="Results you’ll see with your own eyes"
        button="buy now & SAVE UP TO 43%"
    }}
        <div class="swiper-slide">
            <div class="c-trusted-review-card">
                <picture>
                    <img src="sections/isolated/review-slider/images/results_men_lp_1.webp" alt="My skin is GLOWING" />
                </picture>
                <div class="e-author">
                    <img src="sections/isolated/review-slider/images/australia_f.webp" alt="David G." />
                    David G.
                </div>
                <div class="e-verified-customer">
                    <div class="e-checkmark"></div>
                    Verified customer
                </div>
                <article>
                    <h6>My skin is GLOWING</h6>
                    <p>“I was skeptical at first, but after using the Micro-Infusion Device for a few weeks, I'm blown away by the results. My skin looks and feels noticeably smoother. Highly recommend giving it a try!”</p>
                </article>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="c-trusted-review-card">
                <picture>
                    <img src="sections/isolated/review-slider/images/results_men_lp_2.webp" alt="Strengthened skin" />
                </picture>
                <div class="e-author">
                    <img src="sections/isolated/review-slider/images/cambodia_f.webp" alt="AJ B." />
                    AJ B.
                </div>
                <div class="e-verified-customer">
                    <div class="e-checkmark"></div>
                    Verified customer
                </div>
                <article>
                    <h6>Strengthened skin</h6>
                    <p>"My skin has definitely improved and strengthened since using the Micro-Infusion Device with serum as well. It is less costly than going to a cosmetic dermatologist and it is easy-to-use at home. So far I’m loving this! Didn’t hurt, skin wasn’t irritated after, feels and looks great! Looking forward to my next treatment!"</p>
                </article>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="c-trusted-review-card">
                <picture>
                    <img src="sections/isolated/review-slider/images/results_men_lp_3.webp" alt="My skin looks so healthy!" />
                </picture>
                <div class="e-author">
                    <img src="sections/isolated/review-slider/images/australia_f.webp" alt="John M." />
                    John M.
                </div>
                <div class="e-verified-customer">
                    <div class="e-checkmark"></div>
                    Verified customer
                </div>
                <article>
                    <h6>My skin looks so healthy!</h6>
                    <p>“First time trying Micro-Infusion and wow, what a difference! Haven’t tried any other treatments but one day after Qure’s and my skin already feels firmer, looks plumper, and definitely healthier. Big fan already. Highly recommend giving it a go!”</p>
                </article>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="c-trusted-review-card">
                <picture>
                    <img src="sections/isolated/review-slider/images/results_men_lp_4.webp" alt="Acne scars have faded" />
                </picture>
                <div class="e-author">
                    <img src="sections/isolated/review-slider/images/america_f.webp" alt="Dylan B." />
                    Dylan B.
                </div>
                <div class="e-verified-customer">
                    <div class="e-checkmark"></div>
                    Verified customer
                </div>
                <article>
                    <h6>Acne scars have faded</h6>
                    <p>“Qure Micro-Infusion has been a game-changer for me. After struggling with acne scarring and dark spots for years, I can finally say goodbye to them. I feel more confident than ever before. It's a must-try for anyone dealing with similar skin concerns.”</p>
                </article>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="c-trusted-review-card">
                <picture>
                    <img src="sections/isolated/review-slider/images/results_men_lp_5.webp" alt="Clearer skin overnight" />
                </picture>
                <div class="e-author">
                    <img src="sections/isolated/review-slider/images/australia_f.webp" alt="Jay J." />
                    Jay J.
                </div>
                <div class="e-verified-customer">
                    <div class="e-checkmark"></div>
                    Verified customer
                </div>
                <article>
                    <h6>Clearer skin overnight</h6>
                    <p>“I noticed huge improvements after using Qure’s Micro-Infusion system with clearer skin overnight. It did hurt a little at the start but I got use to it quickly. Would definitely recommend this.”</p>
                </article>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="c-trusted-review-card">
                <picture>
                    <img src="sections/isolated/review-slider/images/results_men_lp_6.webp" alt="WOW I want more!" />
                </picture>
                <div class="e-author">
                    <img src="sections/isolated/review-slider/images/america_f.webp" alt="Paul W." />
                    Paul W.
                </div>
                <div class="e-verified-customer">
                    <div class="e-checkmark"></div>
                    Verified customer
                </div>
                <article>
                    <h6>WOW I want more!</h6>
                    <p>"A couple days after my 1st Micro-Infusion treatment, one of my employees who’d been on holiday came into my office and literally screamed “oh my god, you look so young!” Well that clinched it for me. I’m male, 65, and take great care of my skin….these will never last 3 months because I can’t wait to turn back the clock even more! :)"</p>
                </article>
            </div>
        </div>
    {{/trusted-reviews }}

    {{#> comparison
        title="Typically more effective and safer than other at-home needling devices"
        picture-first="sections/isolated/eye-patches/images/mist_img_3.webp"
        picture-second="sections/isolated/eye-patches/images/mist_img_4.webp"
        name-first="Qure Micro-Infusion System"
        name-second="Other At-Home Needling Devices"
        list-first='[
            "Stamping doesn’t over-damage skin",
            "Little to no downtime & quick recovery",
            "New needle heads provide sharp, straight needles for every treatment - designed for better efficacy",
            "Minimized risk of infection due to disposable heads",
            "Applies serum onto the skin to enhance absorption and visible results"
        ]'
        list-second='[
            "Rolling can cause damage to skin",
            "Slower recovery & longer healing time",
            "Needles become blunt after several uses & may cause unnecessary irritation which can affect results",
            "Risk of infection & irritation if not disinfected well",
            "Less effective absorption of serum as applied topically"
        ]'
        declaimer="*Based on laboratory testing under controlled conditions. Performance may vary depending on water quality and usage."
    }}
        <p>Unlike at-home needle roller devices, Micro-Infusion requires little to no downtime, is virtually painless, and minimizes risk of&nbsp;infection and irritation.</p>
    {{/comparison }}

    {{#> comparison-table
        title="Give yourself a Clinic Quality glow up without the Clinical Prices"
        labels='[
            {
                "name": "Results in",
                "colorize": false
            },
            {
                "name": "Customized",
                "colorize": false
            },
            {
                "name": "Skin Safe",
                "colorize": true
            },
            {
                "name": "Cost",
                "colorize": false
            }
        ]'
    }}
        <div class="swiper-slide">
            <article>
                <picture>
                    <img src="sections/isolated/serum-compare/images/micro-infusion-system.webp" alt="Qure Micro-Infusion System" />
                </picture>
                <h5>Qure<br /> Micro-Infusion System</h5>
                <ul>
                    <li>{{> e-icon icon="checkmark-fill"}} <span>As little as 1-2 days</span></li>
                    <li>{{> e-icon icon="checkmark-fill"}} <span>Tailored to your needs</span></li>
                    <li>{{> e-icon icon="checkmark-fill"}} <span>Minimal downtime</span></li>
                    <li>{{> e-icon icon="checkmark-fill"}} <span>&lt; $20 per treatment</span></li>
                </ul>
            </article>
        </div>
        <div class="swiper-slide">
            <article>
                <picture>
                    <img src="sections/isolated/serum-compare/images/clinic-treatment.webp" alt="Micro-Infusion Clinic Treatment" />
                </picture>
                <h5>Micro-Infusion<br /> Clinic Treatment</h5>
                <ul>
                    <li>{{> e-icon icon="checkmark-fill"}} <span>As little as 1-2 days</span></li>
                    <li>{{> e-icon icon="checkmark-fill"}} <span>Tailored to your needs</span></li>
                    <li>{{> e-icon icon="checkmark-fill"}} <span>Minimal downtime</span></li>
                    <li>{{> e-icon icon="cross-fill"}} <span>$300+ per treatment</span></li>
                </ul>
            </article>
        </div>
        <div class="swiper-slide">
            <article>
                <picture>
                    <img src="sections/isolated/serum-compare/images/home-treatment.webp" alt="Derma Roller At-Home Treatment" />
                </picture>
                <h5>Derma Roller<br /> At-Home Treatment</h5>
                <ul>
                    <li>{{> e-icon icon="cross-fill"}} <span>A few days</span></li>
                    <li>{{> e-icon icon="cross-fill"}} <span>Not customized</span></li>
                    <li>{{> e-icon icon="cross-fill"}} <span>Potential side effects</span></li>
                    <li>{{> e-icon icon="checkmark-fill"}} <span>&lt; $10 per treatment</span></li>
                </ul>
            </article>
        </div>
    {{/comparison-table }}

    {{#> set-up }}
        <picture
            data-bs-toggle="modal"
            data-bs-target="#reusableWistiaModal"
            data-video-id="wxgqgsjjdr"
        >
            <source media="(min-width:768px)" srcset="sections/new/set-up/images/mi-men-use-video.webp" />
            <img src="sections/new/set-up/images/mi-men-use-video-mob.webp" alt="See how quick and easy it is to use" />
        </picture>
        <h2>See how quick and easy it is to use</h2>
        <ol>
            <li>
                <picture>
                    <source media="(min-width:768px)" srcset="sections/new/set-up/images/mi-men-use-step-1.webp" />
                    <img src="sections/new/set-up/images/mi-men-use-step-1-mob.webp" alt="Prepare" />
                </picture>
                <h6>Prepare</h6>
                <p>Twist open the Micro-Infusion device and fill with one ampule of serum.</p>
            </li>
            <li>
                <picture>
                    <source media="(min-width:767px)" srcset="sections/new/set-up/images/mi-men-use-step-2.webp" />
                    <img src="sections/new/set-up/images/mi-men-use-step-2-mob.webp" alt="Treatment" />
                </picture>
                <h6>Treatment</h6>
                <p>Start at the centre of the face and work your way outward to cover the full face.</p>
            </li>
            <li>
                <picture>
                    <source media="(min-width:767px)" srcset="sections/new/set-up/images/mi-men-use-step-3.webp">
                    <img src="sections/new/set-up/images/mi-men-use-step-3-mob.webp" alt="Aftercare" />
                </picture>
                <h6>Aftercare</h6>
                <p>Once treatment is completed, place lid back on the needle head. Twist the lid off and dispose safely. </p>
            </li>
        </ol>
        <button class="btn btn--primary" type="button">buy now &amp; SAVE up to 43%</button>
    {{/set-up}}

    {{> highlight
        classes="highlight--dark"
        text="INCLUDED IN THE SYSTEM:"
    }}

    {{#> science-backed
        title="Science-Backed Micro-Infusion Serums"
        text="
            <p>Choose the exact serum to use in your Micro-Infusion treatment, or get both and mix them together to experience a complete set of benefits that addresses your specific skin concerns.</p>
        "
    }}
        <div class="science-backed__data">
            <img src="sections/isolated/serum/images/dark-serum.webp" alt="" />
            <h4>For Dark Spots</h4>
            <ul>
                <li>
                    {{> e-icon icon="perfect-transforming" }}
                    Brightens look of skin
                </li>
                <li>
                    {{> e-icon icon="two-in-one" }}
                    Reduces look of dark spots
                </li>
                <li>
                    {{> e-icon icon="even-looking" }}
                    Even-looking tone
                </li>
            </ul>
            {{> c-accordion
                type="lines"
                list='[
                    {
                        "summary": "What can it do for your skin",
                        "text": "
                            <p>Helps reveal a smoother-looking, more radiant complexion. Formulated to help improve the appearance of dark spots and uneven tone for skin that looks refreshed and luminous.</p>
                            <p><strong>Skin Concerns:</strong> Ideal for skin that appears uneven in tone or texture and shows visible dark spots or post-blemish marks.</p>
                        "
                    },
                    {
                        "summary": "All Ingredients",
                        "text": "
                            <p><strong>Epidermal Growth Factor (EGF):</strong> A science-backed ingredient known to support the look of smoother, hydrated, and more refreshed skin. Helps visibly reduce the look of fine lines and uneven tone.</p>
                            <p><strong>Niacinamide:</strong> A multi-benefit vitamin known to help improve the look of uneven tone, minimize visible pores, and support smoother-looking skin.</p>
                            <p><strong>Tranexamic Acid:</strong> A brightening ingredient that helps visibly improve the look of dark spots, uneven tone, and dullness.</p>
                            <p><strong>All ingredients:</strong><br /> Rosa Damascena Flower Water, Propanediol, Glycerin, Tranexamic Acid, Niacinamide, Panthenol, Chrysanthellum Indicum Extract, Ethylhexylglycerin, Tripeptide-1, Xanthan Gum, Allantoin, Sh-Oligopeptide-1.</p>
                            <small>Please note that due to innovative updates and changing regulatory guidelines, the ingredient lists provided here may differ slightly from those on our packaging and distributor websites.</small>
                        "
                    }
                ]'
            }}
            <div class="quote">
                <div class="e-rating-stars" style="--rating: 4.5;"></div>
                <p>“I’m obsessed with this thing, my dark spots have faded within a few days, my fine lines also... wow!”</p>
                <div class="e-author">
                    <img src="sections/isolated/review-slider/images/america_f.webp" alt="Jessie Hardy" />
                    Jessie Hardy
                </div>
                <small>Verified customer</small>
            </div>
        </div>
        <div class="science-backed__or">or</div>
        <div class="science-backed__data">
            <img src="sections/isolated/serum/images/wrinkle-serum.webp" alt="" />
            <h4>For Wrinkles</h4>
            <ul>
                <li>
                    {{> e-icon icon="smooths" }}
                    Smooths fine lines
                </li>
                <li>
                    {{> e-icon icon="calms-redness" }}
                    Calms visible redness
                </li>
                <li>
                    {{> e-icon icon="deeply-hydrates" }}
                    Deeply hydrates
                </li>
            </ul>
            {{> c-accordion
                type="lines"
                list='[
                    {
                        "summary": "What can it do for your skin",
                        "text": "
                            <p>Delivers lasting hydration to leave skin looking plumper, smoother, and refreshed. Helps reduce the look of fine lines and wrinkles while supporting visibly calm, balanced, and supple-feeling skin.</p>
                            <p><strong>Skin Concerns:</strong> Ideal for skin that appears dry, dull, or shows visible signs of aging such as fine lines, uneven tone, and temporary redness.</p>
                        "
                    },
                    {
                        "summary": "All Ingredients",
                        "text": "
                            <p><strong>Beta Glucan:</strong> A deeply hydrating ingredient that helps the skin feel soothed, soft, and supple. Supports the look of a healthy skin barrier.</p>
                            <p><strong>GHK-Cu (Copper Peptide):</strong> A peptide complex known to help improve the appearance of firmness and smoothness for youthful-looking skin. Gives the serum its signature blue hue.</p>
                            <p><strong>Sodium Hyaluronate:</strong> A powerful hydrator that helps the skin feel supple, moisturized, and visibly smoother.</p>
                            <p><strong>All ingredients:</strong><br /> Rosa Damascena Flower Water, Propanediol, Glycerin, Panthenol, Niacinamide, Myrothamnus Flabellifolia Leaf/Stem Extract, Water, Butylene Glycol, Hydroxyacetophenone, Copper Tripeptide-1, Beta-Glucan, Chrysanthellum Indicum Extract, Ethylhexylglycerin, Sodium Hyaluronate, Allantoin, Xanthan Gum.</p>
                            <small>Please note that due to innovative updates and changing regulatory guidelines, the ingredient lists provided here may differ slightly from those on our packaging and distributor websites.</small>
                        "
                    }
                ]'
            }}
            <div class="quote">
                <div class="e-rating-stars" style="--rating: 4.5;"></div>
                <p>“I’m obsessed with this thing, my dark spots have faded within a few days, my fine lines also... wow!”</p>
                <div class="e-author">
                    <img src="sections/isolated/review-slider/images/australia_f.webp" alt="Monika Jansen" />
                    Monika Jansen
                </div>
                <small>Verified customer</small>
            </div>
        </div>
    {{/science-backed}}

    {{> guarantee }}

    {{#> treatment
        classes="treatment--announcement"
        id="treatment"
        announcement="SOLD OUT 10X - AVAILABLE UNTIL STOCK LASTS "
        title="Choose your treatment"
        text="
            <p>All orders are one-time purchases. No extra charges, and no hidden fees.</p>
        "
        picture="sections/isolated/archive/images/mi-men.webp"
        features-list='[
            {
                "text": "Dermatologist Reviewed",
                "icon": "reviewed"
            },
            {
                "text": "Free Shipping over {$dyn}",
                "icon": "shipping-order"
            },
            {
                "text": "Backed by Science",
                "icon": "proven"
            }
        ]'
     }}
        <div class="treatment__steps">
            <div class="treatment__step">
                {{> c-options-selector
                    title="Select Your Product"
                    list='[
                        {
                            "img": "sections/new/treatment/images/Dark_Spots_4.png",
                            "name": "Dark Spots",
                            "option": "serum",
                            "checked": true
                        },
                        {
                            "img": "sections/new/treatment/images/Mixed_3.png",
                            "name": "Wrinkles",
                            "option": "serum"
                        },
                        {
                            "img": "sections/new/treatment/images/Wrinkles_2.png",
                            "name": "Mixed",
                            "option": "serum"
                        }
                    ]'
                }}
            </div>
            <div class="treatment__step">
                {{> c-supply-selector
                    classes=""
                    title="Select Your Supply"
                    list='[
                        {
                            "name": "Buy 3 Months, Get 3 Months FREE",
                            "desc": "12 Micro-Infusion Treatments",
                            "price-old": true,
                            "price-highlight": true,
                            "save-pill": true,
                            "save-value": "Save 70%",
                            "tag-up": true,
                            "tag-name": "Best Value <i class=\"e-icon e-icon-rating-fill\"></i>",
                            "option": "supply",
                            "kits-left-hot": true,
                            "checked": true
                        },
                        {
                            "name": "2 Month Supply",
                            "desc": "4 Micro-Infusion Treatments",
                            "price-old": true,
                            "price-highlight": true,
                            "save-pill": true,
                            "save-pill-light": true,
                            "save-value": "Save 53%",
                            "option": "supply",
                            "kits-left-normal": true
                        },
                        {
                            "name": "1 Months Supply",
                            "desc": "2 Micro-Infusion Treatments",
                            "option": "supply"
                        }
                    ]'
                }}
                <div class="info-items">
                    <div class="info-items__item show">
                        <details>
                            <summary>What is in the 6 Month Supply bundle? {{> e-icon icon="chevron"}}</summary>
                            <article>
                                <ul>
                                    <li>1 Micro-Infusion device (valued at $80)</li>
                                    <li>12 clinical-grade micro-needling heads (valued at $50)</li>
                                    <li>12 clinically formulated 4ml serums to treat your specific skin concerns (valued at $120)</li>
                                    <li>Worldwide shipping (valued at $25)</li>
                                    <li>Risk-free 90 day money-back guarantee to trial</li>
                                </ul>
                            </article>
                        </details>
                    </div>
                    <div class="info-items__item">
                        <details>
                            <summary>What is in the 3 Month Supply bundle? {{> e-icon icon="chevron"}}</summary>
                            <article>
                                <ul>
                                    <li>1 Micro-Infusion device (valued at $80)</li>
                                    <li>4 clinical-grade micro-needling heads (valued at $40)</li>
                                    <li>4 clinically formulated 4ml serums to treat your specific skin concerns (valued at $80)</li>
                                    <li>Worldwide shipping (valued at $25)</li>
                                    <li>Risk-free 90 day money-back guarantee to trial</li>
                                </ul>
                            </article>
                        </details>
                    </div>
                    <div class="info-items__item">
                        <details>
                            <summary>What is in the 1 Month Supply bundle? {{> e-icon icon="chevron"}}</summary>
                            <article>
                                <ul>
                                    <li>1 Micro-Infusion device (valued at $80)</li>
                                    <li>2 clinical-grade micro-needling heads (valued at $20)</li>
                                    <li>2 clinically formulated 4ml serums to treat your specific skin concerns (valued at $40)</li>
                                    <li>Worldwide shipping (valued at $25)</li>
                                </ul>
                            </article>
                        </details>
                    </div>
                </div>
            </div>
            <div class="treatment__step">
                {{> c-payment-selector
                    title="Select A Payment Option"
                    list='[
                        {
                            "name": "Pay in full",
                            "old-price": true,
                            "option": "payment",
                            "checked": true,
                            "text": "One-time payment with:",
                            "image": "assets/images/payment-icons-1.svg",
                            "checked": true
                        },
                        {
                            "name": "Pay today only",
                            "option": "payment",
                            "text": "Monthly interest-free payments with:",
                            "image": "assets/images/payment-icons-2.svg"
                        }
                    ]'
                }}
            </div>
        </div>
    {{/treatment}}

    {{#> should-know }}
        <article>
            <h2>What you should know for the best results</h2>
            <p>The Qure Micro-Infusion System is designed with your safety in mind.</p>
            <p>Unlike popular at-home derma rollers, our stamper device features single-use sterile heads that help minimize the risk of infection or unnecessary skin damage caused by blunt and multi-use needles.</p>
            <p>Below are a few rules you should follow while using your Qure Micro-Infusion System:</p>
        </article>
        <div
            class="c-swiper"
            data-swiper='{
                "slidesPerView": 1.1,
                "spaceBetween": 16,
                "loop": false,
                "pagination": {
                    "el": ".c-swiper-pagination",
                    "type": "custom"
                },
                "navigation": {
                    "prevEl": ".c-swiper-button-prev",
                    "nextEl": ".c-swiper-button-next"
                },
                "breakpoints": {
                    "768": {
                        "slidesPerView": 2,
                        "spaceBetween": 40
                    }
                }
            }'
        >
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <p><strong>How To Use</strong></p>
                    <ol>
                        <li>Fill the device: Open the device and pour in one ampoule of serum.</li>
                        <li>Prepare the device: Twist on the needle head and leave upside down for 1–2 minutes.</li>
                        <li>Begin infusion: Stamp evenly across the face with 2–3 passes, then pat in any remaining serum.</li>
                    </ol>
                    <small class="c-note c-note--info">
                        <strong>Tip:</strong> Apply remaining serum after your treatment and allow it to absorb overnight.
                    </small>
                </div>
                <div class="swiper-slide">
                    <p><strong>Safety Guidelines</strong></p>
                    <p>Micro-Infusion is a simple treatment you can do at-home. No appointments and no downtime. It’s designed to be safe and easy to use, as long as your skin is clean and healthy.</p>
                    <p>Avoid using Micro-Infusion on active breakouts or broken skin, as it may spread bacteria. Always use a fresh, sterile needle head for each treatment, and apply SPF after use to protect your skin.</p>
                    <p>If you’re pregnant or have a medical condition, check with your doctor first.</p>
                </div>
            </div>
            <div class="c-swiper-nav">
                <button class="c-swiper-button-prev"></button>
                <div class="c-swiper-pagination"></div>
                <button class="c-swiper-button-next"></button>
            </div>
        </div>
        <a href="#" class="btn btn--primary">See Detailed Treatment Guide {{> e-icon icon="arrow" }}</a>
    {{/should-know}}

    {{> have-questions
        list='[
            {
                "summary": "What are the benefits of Micro-Infusion?",
                "text": "
                    <p>The stamping action of the Micro-Infusion device creates tiny micro-channels on the surface of the skin, helping to enhance the absorption of active ingredients and visibly refresh the complexion.</p>
                    <p>The serum you choose during your Micro-Infusion treatment will deliver visible results over time. Very fine needles help apply concentrated ingredients exactly where they’re needed to target specific skin concerns with precision.</p>
                    <p>You can switch up your treatments or even mix the two serums together!</p>
                    <p>Visible benefits of Micro-Infusion may include:</p>
                    <ul>
                        <li>More even-looking skin tone and texture</li>
                        <li>Glowing, refreshed-looking complexion</li>
                        <li>Softer-looking fine lines</li>
                        <li>Skin that feels renewed and rejuvenated</li>
                    </ul>
                "
            },
            {
                "summary": "How quickly will I see results?",
                "text": "
                    <p>Micro-Infusion treatment is an effective skin booster treatment, and you’ll notice a radiance boost, smaller pores, more hydrated and overall a healthy fresh complexion in the next day or two.</p>
                    <p>The more treatments you perform the greater skin benefits over time you’ll receive! This quick and easy home facial is perfect to perform a day or two before a big event, when you need to look to boost your skin’s complexion, fast.</p>
                    <p>Don’t forget to keep up with your everyday skincare routine to boost the effectiveness of your Micro-Infusion results and keep skin glowing long-term.</p>
                "
            },
            {
                "summary": "Is it painful to use?",
                "text": "
                    <p>You get to experience minimal discomfort and maximum results with Qure\'s Micro-Infusion System.</p>
                    <p>Although the needles themselves are actually longer than most at-home needling systems (making it more effective), the ultra-fine needles are thinner than a human hair, so that means you’ll feel minimal to no pain during treatment.</p>
                    <p>During the initial stages of treatment, you may experience a slight sensation or prickling feeling as the needles make contact with the skin but you’ll quickly get used to the feeling quickly.</p>
                "
            },
            {
                "summary": "How often can I use the treatment?",
                "text": "
                    <p>We recommend a Micro-Infusion treatment once every 2 weeks for the best results.</p>
                "
            },
            {
                "summary": "When is the best time to do Micro-Infusion?",
                "text": "
                    <p>We recommend doing the treatment at night before bed. Avoid being in the sun and using makeup for 24 hours after the treatment. For more information on post treatment care, <a href=\"#\">visit our safety guide</a>.</p>
                "
            },
            {
                "summary": "Can I use it around the eyes and on the neck?",
                "text": "
                    <p>Yes, you can use Micro-Infusion around the eye area to help smooth crow’s feet. Just ensure to apply a very gentle pressure and only do one pass. Monitor your skin accordingly as everyone’s skin is different!</p>
                    <p>Performing Micro-Infusion on the neck can help improve the appearance of fine lines, and rejuvenate skin. It can target issues such as neck creases, horizontal lines, and age-related skin concerns to help enhance the overall texture, tone, and youthfulness of the skin.</p>
                "
            },
            {
                "summary": "Can I use a different serum with the Micro-Infusion device?",
                "text": "
                    <p>No - only use the provided Qure serum with your Micro-Infusion Device. </p>
                    <p>Please keep in mind that not all serums are suitable for Micro-Infusion. Some may cause irritation and should be avoided! Our potent serum ampoules are specifically developed for our Micro-Infusion System, with gentle, fragrance-free formulas designed for deep delivery and low risk of sensitivity.</p>
                "
            },
            {
                "summary": "How is this different to micro-rolling?",
                "text": "
                    <p>Micro-Infusion focuses on improving the skin’s appearance by creating micro-channels on the skin’s surface. It does not alter or affect skin structure or function.</p>
                    <p>With Micro-Infusion, you not only enjoy the visible benefits of micro-needling, but also deliver science-backed ingredients to targeted areas with precision — helping the skin appear smoother and more radiant.</p>
                "
            },
            {
                "summary": "Tranexamic Acid Notice",
                "text": "
                    <p>If you live in Australia, you may receive a notice from Border Force regarding tranexamic acid (TXA) in your order. Here’s what you need to know:</p>
                    <p>In Australia, TXA is classified as a Schedule 4 (prescription-only) drug only when used orally or by injection for treating melasma or other medical conditions. However, <strong>topical TXA in cosmetic formulations is permitted</strong>.</p>
                    <p>Our serums are purely for cosmetic use and do not claim to treat medical conditions. They are applied topically (not injected) and are classified as a cosmetic product rather than a prescription medicine.</p>
                    <p>Our products are compliant with Australian regulations. Facial serums containing up to 3% TXA for cosmetic purposes are not classified as prescription-only medicines and do not require inclusion in the Australian Register of Therapeutic Goods (ARTG).</p>
                    <p>If Border Force requires clarification, you can provide the information above to confirm that the product complies with Australian regulations. If further details are needed, they can refer to the Therapeutic Goods Administration (TGA) guidelines on cosmetic formulations.</p>
                    <p>If you need further assistance, feel free to <a href=\"#\">contact our support team—we’re</a> happy to help!</p>
                "
            }
        ]'
    }}

{{/section-stack }}

{{#> cta-bar
    name="Micro-Infusion Facial System"
    button="Buy now & SAVE UP TO 43%"
}}
{{/cta-bar}}

{{/new }}
