{{#> default
    title="Become Stockist"
    body-class="page.become-stockist"
}}

{{#> section-stack }}
    {{#> across-image-banner
        classes="across-image-banner--hero"
    }}
        <picture>
            <source media="(min-width: 768px)" srcset="sections/isolated/our-story-banner/images/stockist_banner.webp" />
            <img src="sections/isolated/our-story-banner/images/stockist_banner_mob.webp" />
        </picture>
        <div class="container">
            <article>
                <h1>Will you be our next professional partner?</h1>
                <a href="#" class="btn btn--primary">Submit Stockist Enquiry</a>
            </article>
        </div>
    {{/across-image-banner}}

    {{> logos-marquee }}

    {{#> text-section }}
        <h3>Qure’s Professional Skincare Revolution</h3>
        <p>Using science-backed technology, research, and forward-focused insights, Qure creates visionary solutions, setting the new benchmark in the beauty industry. </p>
        <p>Bringing together world-class experts with product designers and engineers, we disrupt the dermatologist industry and question how we can give power to people to teat their own skin from home with proven DIY therapies for an affordable price.</p>
        <p>Gain maximum advantage of the industry’s consistent growth.</p>
        <p>Join the revolution and <em>become our professional partner.</em></p>
    {{/text-section}}

    {{#> text-section
        classes="text-section--stats"
    }}
        <ul>
            <li>
                <span>25.1%</span>
                Growth of home beauty devices
            </li>
            <li>
                <span>5.1%</span>
                Growth of light therapy market
            </li>
            <li>
                <span>5.6%</span>
                Growth of blue light therapy market*
            </li>
            <li>
                <span>4.5%</span>
                Growth of red light therapy market**
            </li>
        </ul>
        <hr />
        <div class="footnote">
            <p>** Driven by demand of non-invasive skin rejuvenation treatment</p>
            <p>* Driven by preference for non-invasive acne treatment</p>
        </div>
    {{/text-section}}
    {{#> base-form  title=""}}
        <p class="base-form__form-success">Thanks for contacting us. We'll get back to you as soon as possible.</p>
        <div class="base-form__form-field">
            <input type="text" class="form-control" placeholder="Name" />
        </div>
        <div class="base-form__form-field">
            <input type="email" class="form-control" placeholder="Email address" />
        </div>
        <div class="base-form__form-field">
            <input type="tel" class="form-control" placeholder="Phone number" />
        </div>
        <div class="base-form__form-field">
            <input type="text" class="form-control" placeholder="Company Name" />
        </div>
        <div class="base-form__form-field">
            <input type="text" class="form-control" placeholder="Location (City, Country)" />
        </div>
        <div class="base-form__form-field">
            <input type="url" class="form-control" placeholder="Website URL" />
        </div>
        <div class="base-form__form-field">
            <textarea class="form-control" name="" id="" placeholder="Message"></textarea>
        </div>
        <div class="base-form__form-submit">
            <button class="btn btn--primary" type="submit">Send</button>
        </div>
    {{/base-form }}
{{/section-stack }}

{{/default }}
