{{#> new
    title="Water Filters Offer"
    body-class="page.qure-filters-offer"
}}

{{#> section-stack }}
    {{#> hero-product }}
        <div class="hero-product__gallery">
            <div
                class="c-swiper"
                data-swiper-thumbs="#hero-product .c-swiper-thumbs"
                data-swiper='{
                    "slidesPerView": 1,
                    "spaceBetween": 16,
                    "navigation": {
                        "prevEl": "#hero-product .c-swiper-button-prev",
                        "nextEl": "#hero-product .c-swiper-button-next"
                    }
                }'
            >
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <img src="sections/isolated/clean-water/images/shower_plus_faucet_img_1.webp" alt="Water Filters Offer" />
                    </div>
                    <div class="swiper-slide">
                        <img src="sections/isolated/clean-water/images/shower_plus_faucet_img_2.webp" alt="Water Filters Offer" />
                    </div>
                    <div class="swiper-slide">
                        <img src="sections/isolated/clean-water/images/shower_plus_faucet_img_3.webp" alt="Water Filters Offer" />
                    </div>
                    <div class="swiper-slide">
                        <img src="sections/isolated/clean-water/images/shower_plus_faucet_img_4.webp" alt="Water Filters Offer" />
                    </div>
                    <div class="swiper-slide">
                        <img src="sections/isolated/clean-water/images/shower_plus_faucet_img_5.webp" alt="Water Filters Offer" />
                    </div>
                    <div class="swiper-slide">
                        <img src="sections/isolated/clean-water/images/shower_plus_faucet_img_6.webp" alt="Water Filters Offer" />
                    </div>
                </div>
            </div>
            <div class="c-swiper-thumbs-nav">
                <button class="c-swiper-button-prev"></button>
                <div
                    class="c-swiper c-swiper-thumbs"
                    data-swiper='{
                        "slidesPerView": "auto",
                        "spaceBetween": 12
                    }'
                >
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <img src="sections/isolated/clean-water/images/shower_plus_faucet_img_1.webp" alt="Water Filters Offer" />
                        </div>
                        <div class="swiper-slide">
                            <img src="sections/isolated/clean-water/images/shower_plus_faucet_img_2.webp" alt="Water Filters Offer" />
                        </div>
                        <div class="swiper-slide">
                            <img src="sections/isolated/clean-water/images/shower_plus_faucet_img_3.webp" alt="Water Filters Offer" />
                        </div>
                        <div class="swiper-slide">
                            <img src="sections/isolated/clean-water/images/shower_plus_faucet_img_4.webp" alt="Water Filters Offer" />
                        </div>
                        <div class="swiper-slide">
                            <img src="sections/isolated/clean-water/images/shower_plus_faucet_img_5.webp" alt="Water Filters Offer" />
                        </div>
                        <div class="swiper-slide">
                            <img src="sections/isolated/clean-water/images/shower_plus_faucet_img_6.webp" alt="Water Filters Offer" />
                        </div>
                    </div>
                </div>
                <button class="c-swiper-button-next"></button>
            </div>
        </div>
        <div class="hero-product__main">
            {{> c-rating value="4.8" }}
            <h1>Clean Water, Clearer Skin, Healthier Hair</h1>
            <article>
                <p>Your water is filled with hidden irritants and chemicals that damage your skin and hair daily.</p>
                <p>The Qure Filter Bundle removes these at the source without adding any steps to your routine.</p>
            </article>
            <div class="c-buy-block">
                {{> c-order-button
                    button="Buy One + Get One FREE"
                    hide-pay=true
                }}
            </div>
            {{> c-complete-bundle }}

        </div>
    {{/hero-product}}

    {{#> text-section
        classes="text-section--bg"
    }}
        <h3>“Unfiltered water may disturb the natural balance of skin flora, exacerbating conditions such as acne, eczema and dermatitis.”</h3>
        <p>&nbsp;</p>
        <p>Dr Gloria Lin, a board-certified dermatologist, in</p>
        <img src="sections/isolated/quote/images/newsweek.webp" alt="Newsweek" />
    {{/text-section}}

    {{#> peek-cards-slider
        title="The 3 biggest skin and hair issues? Blame your water."
    }}
        <div>
            <p>And no amount of expensive products can change that. In fact, they could just make it worse.</p>
        </div>
        <div
            class="c-swiper"
            data-swiper='{
                "slidesPerView": 1.1,
                "spaceBetween": 16,
                "loop": false,
                "pagination": {
                    "el": ".c-swiper-pagination",
                    "type": "custom"
                },
                "navigation": {
                    "prevEl": ".c-swiper-button-prev",
                    "nextEl": ".c-swiper-button-next"
                },
                "breakpoints": {
                    "768": {
                        "slidesPerView": 1.75,
                        "spaceBetween": 24
                    }
                }
            }'
        >
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <picture>
                        <img src="sections/isolated/skin-hair-issue/images/dry_skin_tight.webp" alt="Dry, Tight Skin" />
                    </picture>
                    <article>
                        <h6>Dry, Tight Skin</h6>
                        <p>That rough, stretched, uncomfortable feeling you cannot moisturize away.</p>
                        <hr />
                        <small>Caused by:</small>
                        <ul>
                            <li>
                                <div class="e-pill-badge e-pill-badge--xxs">Chlorine</div>
                            </li>
                            <li>
                                <div class="e-pill-badge e-pill-badge--xxs">Minerals</div>
                            </li>
                            <li>
                                <div class="e-pill-badge e-pill-badge--xxs">Chemical Residues</div>
                            </li>
                        </ul>
                    </article>
                </div>
                <div class="swiper-slide">
                    <picture>
                        <img src="sections/isolated/skin-hair-issue/images/hair_scalp.webp" alt="Itchy, Flaky Scalp" />
                    </picture>
                    <article>
                        <h6>Itchy, Flaky Scalp</h6>
                        <p>The embarrassing flakes and constant tightness you cannot escape.</p>
                        <hr />
                        <small>Caused by:</small>
                        <ul>
                            <li>
                                <div class="e-pill-badge e-pill-badge--xxs">Heavy Metals</div>
                            </li>
                            <li>
                                <div class="e-pill-badge e-pill-badge--xxs">Chlorine</div>
                            </li>
                            <li>
                                <div class="e-pill-badge e-pill-badge--xxs">Bacteria</div>
                            </li>
                        </ul>
                    </article>
                </div>
                <div class="swiper-slide">
                    <picture data-index="3">
                        <img src="sections/isolated/skin-hair-issue/images/stubborn_breakouts.webp" alt="Stubborn Breakouts" />
                    </picture>
                    <article>
                        <h6>Stubborn Breakouts</h6>
                        <p>The angry, red, under-the-surface spots that never seem to fully heal.</p>
                        <hr />
                        <small>Caused by:</small>
                        <ul>
                            <li>
                                <div class="e-pill-badge e-pill-badge--xxs">Bacteria</div>
                            </li>
                            <li>
                                <div class="e-pill-badge e-pill-badge--xxs">Chlorine</div>
                            </li>
                            <li>
                                <div class="e-pill-badge e-pill-badge--xxs">Rust</div>
                            </li>
                        </ul>
                    </article>
                </div>
            </div>
            <div class="c-swiper-nav">
                <button class="c-swiper-button-prev"></button>
                <div class="c-swiper-pagination"></div>
                <button class="c-swiper-button-next"></button>
            </div>
        </div>
    {{/peek-cards-slider }}

    {{> logos-marquee }}

    {{#> text-section
        problems='[
            {
                "img": "sections/isolated/real-problem/images/real_pblm_1.webp",
                "name": "Actives can’t absorb",
                "desc": "Dirty water blocks actives, wasting every expensive drop you paid for."
            },
            {
                "img": "sections/isolated/real-problem/images/real_pblm_2.webp",
                "name": "More moisturizer won’t help",
                "desc": "Moisturizer is useless if your skin’s too damaged to absorb it."
            },
            {
                "img": "sections/isolated/real-problem/images/real_pblm_3.webp",
                "name": "Hair products barely work",
                "desc": "Your water leaves hair dry and wastes your expensive hair care."
            }
        ]'
    }}
        <h2>More products won’t fix the real problem</h2>
        <p>No product can fix what dirty water keeps damaging. Until you fix the water, you are just masking the problem... and pouring money down the drain.</p>
    {{/text-section}}

    {{#> meet-filters }}
        <article>
            <h2>Meet The Qure Filters</h2>
            <p>From hair to hands, protect your entire body from damaging chemicals and compounds with our unique skincare filtration system.</p>
            <img src="assets/images/qr-filter.webp" alt="Meet The Qure Filters" />
        </article>
        <div class="c-pill-tabs">
            <ul class="c-pill-tabs__buttons e-pill-tabs" role="tablist">
                <li>
                    <button
                        class="active"
                        type="button"
                        data-bs-toggle="tab"
                        data-bs-target="#pill-tabs-shower"
                    >
                        Shower Filter
                    </button>
                </li>
                <li>
                    <button
                        type="button"
                        data-bs-toggle="tab"
                        data-bs-target="#pill-tabs-faucet"
                    >
                        Faucet Filter
                    </button>
                </li>
            </ul>
            <img src="assets/images/qr-filter.webp" alt="Meet The Qure Filters" />
            <div class="c-pill-tabs__pane show" id="pill-tabs-shower">
                <h6>The Qure Shower Filter</h6>
                <ul>
                    <li>
                        {{> e-icon icon="watering-can"}}
                        Filters Heavy Metals
                    </li>
                    <li>
                        {{> e-icon icon="no-chlorine"}}
                        Removes Chlorine
                    </li>
                    <li>
                        {{> e-icon icon="unclogs-pores"}}
                        Unclogs Pores
                    </li>
                    <li>
                        {{> e-icon icon="hydration"}}
                        Boosts Hydration
                    </li>
                    <li>
                        {{> e-icon icon="balances"}}
                        Balances pH
                    </li>
                    <li>
                        {{> e-icon icon="shine"}}
                        Boosts Hair Shine
                    </li>
                </ul>
                <img src="sections/isolated/meet-the-qure-filter/images/shower-1.webp" alt="Shower Filter" />
                {{#> c-wistia-embed-video
                    classes=""
                    id="fsw2ted2a8"
                    alt="Meet Shower Filter"
                }}
                {{/c-wistia-embed-video}}
            </div>
            <div class="c-pill-tabs__pane" id="pill-tabs-faucet">
                <h6>The Qure Faucet Filter</h6>
                <ul>
                    <li>
                        {{> e-icon icon="rotation"}}
                        360º Rotation
                    </li>
                    <li>
                        {{> e-icon icon="watering-can"}}
                        Filters Irritants
                    </li>
                    <li>
                        {{> e-icon icon="no-chlorine"}}
                        Removes Chlorine
                    </li>
                    <li>
                        {{> e-icon icon="hydration"}}
                        Boosts Hydration
                    </li>

                    <li>
                        {{> e-icon icon="easy-washing"}}
                        Easy Face Washing
                    </li>
                    <li>
                        {{> e-icon icon="faucet"}}
                        Fits 99% of Faucets
                    </li>
                </ul>
                <img src="sections/isolated/meet-the-qure-filter/images/shower-3.webp" alt="Faucet Filter" />
                {{#> c-wistia-embed-video
                    classes=""
                    id="tev066z6pv"
                    alt="Meet Faucet Filter"
                }}
                {{/c-wistia-embed-video}}
            </div>
        </div>
    {{/meet-filters }}

    {{#> progress-metrics }}
        <article>
            <h2>Clinically proven to improve skin hydration in just 4 weeks</h2>
            <p>We conducted a independent user study on 30 participants to measure the influence on the level of skin hydration and appearance of wrinkles. Here’s what the results were:</p>
        </article>
        <div class="c-pill-tabs">
            <ul class="c-pill-tabs__buttons e-pill-tabs" role="tablist">
                <li>
                    <button
                        class="active"
                        type="button"
                        data-bs-toggle="tab"
                        data-bs-target="#pill-tabs-before"
                    >
                        Before
                    </button>
                </li>
                <li>
                    <button
                        type="button"
                        data-bs-toggle="tab"
                        data-bs-target="#pill-tabs-after"
                    >
                        After
                    </button>
                </li>
            </ul>
            <div class="c-pill-tabs__pane show" id="pill-tabs-before">
                <img src="sections/isolated/improve-skin/images/before-gf.webp" alt="Before" />
            </div>
            <div class="c-pill-tabs__pane" id="pill-tabs-after">
                <img src="sections/isolated/improve-skin/images/after-gf.webp" alt="After" />
            </div>
        </div>
        <div>
            {{> c-percent-list
                list='[
                    {
                        "value": 97,
                        "text": "of participants wouldn’t go back to tap water."
                    },
                    {
                        "value": 80,
                        "text": "noticed less dryness after 4 weeks."
                    },
                    {
                        "value": 76,
                        "text": "reported reduced tightness after filtered water wash."
                    }
                ]'
            }}
            <small>Tested by an independent lab, compiled by Regulatory Consultants</small>
        </div>
    {{/progress-metrics }}

    {{#> trusted-reviews
        title="Your transformation awaits"
    }}
        <div class="swiper-slide">
            <div class="c-trusted-review-card">
                <picture>
                    <img src="sections/isolated/review-slider/images/shower-result1.webp" alt="Restored my curls!" />
                </picture>
                <div class="e-author">
                    <img src="sections/isolated/review-slider/images/america_f.webp" alt="Briony R." />
                    Briony R.
                </div>
                <div class="e-verified-customer">
                    <div class="e-checkmark"></div>
                    Verified customer
                </div>
                <article>
                    <h6>Restored my curls!</h6>
                    <p>“When I discovered the curly girl method, I thought I had cracked the code to perfectly defined curls. Then one day my curls stopped curling, they became week, lump and shine free. I did some research and realized it was my water. I saw a big difference after only one wash - it turned out I had a bunch of build up on my hair. Thank you Qure for saving my curls!”</p>
                </article>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="c-trusted-review-card">
                <picture>
                    <img src="sections/isolated/review-slider/images/shower-result2.webp" alt="Hydrated more than ever" />
                </picture>
                <div class="e-author">
                    <img src="sections/isolated/review-slider/images/england_f.webp" alt="Hanna L." />
                    Hanna L.
                </div>
                <div class="e-verified-customer">
                    <div class="e-checkmark"></div>
                    Verified customer
                </div>
                <article>
                    <h6>Hydrated more than ever</h6>
                    <p>“I never had major issues with skin before I moved. Then I started to get irritation and my makeup would look cakey cause my skin always felt so dry no matter what moisturizer I used. I didn't change anything in my skincare routine except filtered water. I'm never washing my face with anything less than Q-urified water because my skin feels so much better.”</p>
                </article>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="c-trusted-review-card">
                <picture>
                    <img src="sections/isolated/review-slider/images/shower-result3.webp" alt="Acne and dryness gone" />
                </picture>
                <div class="e-author">
                    <img src="sections/isolated/review-slider/images/america_f.webp" alt="Josie K." />
                    Josie K.
                </div>
                <div class="e-verified-customer">
                    <div class="e-checkmark"></div>
                    Verified customer
                </div>
                <article>
                    <h6>Acne and dryness gone</h6>
                    <p>“My skin looks much clearer thanks to Qure! I use the LED mask and water filter daily and...my complexion looks so much smoother and less red! My skin feels soft and hydrated. I can actually walk out of the house without makeup now. THANK YOU QURE!”</p>
                </article>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="c-trusted-review-card">
                <picture>
                    <img src="sections/isolated/review-slider/images/shower-result4.webp" alt="Skin and hair are glowing" />
                </picture>
                <div class="e-author">
                    <img src="sections/isolated/review-slider/images/america_f.webp" alt="Adele M." />
                    Adele M.
                </div>
                <div class="e-verified-customer">
                    <div class="e-checkmark"></div>
                    Verified customer
                </div>
                <article>
                    <h6>Skin and hair are glowing</h6>
                    <p>“I have been using this filter for a few weeks now and my hair is SO much healthier. Much more smooth, less frizzy, looks glossier and the shedding has reduced. And actually I'm even seeing my skin look more hydrated and glowier - bonus!!”</p>
                </article>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="c-trusted-review-card">
                <picture>
                    <img src="sections/isolated/review-slider/images/shower-result5.webp" alt="Source of my unclear skin" />
                </picture>
                <div class="e-author">
                    <img src="sections/isolated/review-slider/images/america_f.webp" alt="Kim L." />
                    Kim L.
                </div>
                <div class="e-verified-customer">
                    <div class="e-checkmark"></div>
                    Verified customer
                </div>
                <article>
                    <h6>Source of my unclear skin</h6>
                    <p>“I didn’t realize how big impact water has on our skin... I almost got used to my skin never getting better than mediocre, but this Water Filter is a game changer in my skincare routine.”</p>
                </article>
            </div>
        </div>
    {{/trusted-reviews }}

    {{#> base-section
        classes="base-section--small-media"
        title="Trusted and Recommended by Experts"
        picture="sections/isolated/experts/images/doctor_shah_desk.webp"
        pill-badge=true
    }}
        <p>“How do you <em>reduce the things in your water that may be causing issues</em> with your skin?</p>
        <p>This Qure filter is incredible – <em>it’s the only filter I personally use</em> to [reduce] chlorine and anything else that’s going to make your water harsh for your skin.”</p>
    {{/base-section }}

    {{#> hero-product
        id="limited-offer"
        classes="hero-product--reverse hero-product--secondary"
    }}
        <div class="hero-product__gallery">
            <div
                class="c-swiper"
                data-swiper-thumbs="#limited-offer .c-swiper-thumbs"
                data-swiper='{
                    "slidesPerView": 1,
                    "spaceBetween": 16,
                    "navigation": {
                        "prevEl": "#limited-offer .c-swiper-button-prev",
                        "nextEl": "#limited-offer .c-swiper-button-next"
                    }
                }'
            >
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <img src="sections/isolated/clean-water/images/shower_plus_faucet_img_1.webp" alt="Water Filters Offer" />
                    </div>
                    <div class="swiper-slide">
                        <img src="sections/isolated/clean-water/images/shower_plus_faucet_img_2.webp" alt="Water Filters Offer" />
                    </div>
                    <div class="swiper-slide">
                        <img src="sections/isolated/clean-water/images/shower_plus_faucet_img_3.webp" alt="Water Filters Offer" />
                    </div>
                    <div class="swiper-slide">
                        <img src="sections/isolated/clean-water/images/shower_plus_faucet_img_4.webp" alt="Water Filters Offer" />
                    </div>
                    <div class="swiper-slide">
                        <img src="sections/isolated/clean-water/images/shower_plus_faucet_img_5.webp" alt="Water Filters Offer" />
                    </div>
                    <div class="swiper-slide">
                        <img src="sections/isolated/clean-water/images/shower_plus_faucet_img_6.webp" alt="Water Filters Offer" />
                    </div>
                </div>
            </div>
            <div class="c-swiper-thumbs-nav">
                <button class="c-swiper-button-prev"></button>
                <div
                    class="c-swiper c-swiper-thumbs"
                    data-swiper='{
                        "slidesPerView": "auto",
                        "spaceBetween": 12
                    }'
                >
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <img src="sections/isolated/clean-water/images/shower_plus_faucet_img_1.webp" alt="Water Filters Offer" />
                        </div>
                        <div class="swiper-slide">
                            <img src="sections/isolated/clean-water/images/shower_plus_faucet_img_2.webp" alt="Water Filters Offer" />
                        </div>
                        <div class="swiper-slide">
                            <img src="sections/isolated/clean-water/images/shower_plus_faucet_img_3.webp" alt="Water Filters Offer" />
                        </div>
                        <div class="swiper-slide">
                            <img src="sections/isolated/clean-water/images/shower_plus_faucet_img_4.webp" alt="Water Filters Offer" />
                        </div>
                        <div class="swiper-slide">
                            <img src="sections/isolated/clean-water/images/shower_plus_faucet_img_5.webp" alt="Water Filters Offer" />
                        </div>
                        <div class="swiper-slide">
                            <img src="sections/isolated/clean-water/images/shower_plus_faucet_img_6.webp" alt="Water Filters Offer" />
                        </div>
                    </div>
                </div>
                <button class="c-swiper-button-next"></button>
            </div>
        </div>
        <div class="hero-product__main">
            <div class="e-pill-badge e-pill-badge--md">Limited Time Offer</div>
            <h2>Qure Shower Filter</h2>
            <h4>+ FREE Faucet Filter</h4>
            {{> c-special-offer }}
            <article>
                <ul>
                    <li>Lifetime Warranty</li>
                    <li>99% Fit Compatibility</li>
                </ul>
                <p>Repair skin and hair with dual filters that remove up to 99% of chlorine, heavy metals and contaminants.</p>
            </article>
            <hr />
            <div class="purchase-form-wrapper">
                {{> c-options-selector
                    title="Select Your Color"
                    list='[
                        {
                            "img": "sections/isolated/qure-shower-filter/images/shower_filter_white.webp",
                            "img2": "sections/isolated/qure-shower-filter/images/faucet_filter_white.webp",
                            "name": "White",
                            "option": "color",
                            "checked": true
                        },
                        {
                            "img": "sections/isolated/qure-shower-filter/images/shower_filter_black.webp",
                            "img2": "sections/isolated/qure-shower-filter/images/faucet_filter_black.webp",
                            "name": "Black",
                            "option": "color"
                        }
                    ]'
                }}
                {{> c-subscribe-selector
                    title="Select Your Delivery"
                    list='[
                        {
                            "name": "Subscribe &",
                            "save": "50%",
                            "price-old": true,
                            "tag": "Best Value <i class=\"e-icon e-icon-rating-fill\"></i>",
                            "option": "subscribe",
                            "checked": true,
                            "text": "
                                <hr />
                                <table>
                                    <tr>
                                        <th>Qure Shower Filter</th>
                                        <td>{$dyn}</td>
                                    </tr>
                                    <tr>
                                        <th>Qure Faucet Filter</th>
                                        <td><span>FREE</span> <del>{$dyn}</del></td>
                                    </tr>
                                </table>
                                <hr />
                                <p>Receive a new Filter Refill every 90 days</p>
                            "
                        },
                        {
                            "name": "One-Time Purchase",
                            "save": "20%",
                            "price-old": true,
                            "option": "subscribe",
                            "text": "
                                <hr />
                                <table>
                                    <tr>
                                        <th>Qure Shower Filter</th>
                                        <td>{$dyn}</td>
                                    </tr>
                                    <tr>
                                        <th>Qure Faucet Filter</th>
                                        <td><span>FREE</span> <del>{$dyn}</del></td>
                                    </tr>
                                </table>
                            "
                        }
                    ]'
                }}
            </div>
            <div class="c-buy-block">
                {{> c-order-button
                    button="Subscribe Now & Save 50%"
                    hide-pay=true
                }}
                <p><strong>Skip, pause/modify or cancel anytime. </strong> <a href="#">See more details.</a></p>
                <ul class="e-features-list">
                    <li>
                        {{> e-icon icon="guarantee" }}
                        30-Day Money-Back Guarantee
                    </li>
                    <li>
                        {{> e-icon icon="shipping-order" }}
                        Free Shipping over {$dyn}
                    </li>
                </ul>
                <div class="c-lifetime-warranty c-lifetime-warranty--vertical">
                    {{> e-icon icon="verified-shield" }}
                    <p>
                        <strong>Covered by our Lifetime Warranty.</strong>
                        Backed by our 30-Day Money-Back Guarantee.
                    </p>
                </div>
            </div>
        </div>
        <div class="hero-product__extra">
            {{> c-accordion
                type="lines"
                list='[
                    {
                        "summary": "Key Benefits",
                        "text": "
                            <p>Get clearer, hydrated skin on tap with the Qure Filter Bundle.</p>
                            <p>Research shows tap water is often contaminated with over 320 chemicals, which can harm skin health. This bundle utilizes advanced filtering technology to reduce contaminants, including chlorine and other heavy metals, which are known to impact skin negatively.</p>
                            <p>The Qure Shower Filter and Qure Faucet Filter work together to filter  water, providing clean purified water that helps to improve skin hydration, reduce premature aging, and decrease redness and irritation.</p>
                        "
                    },
                    {
                        "summary": "How It Works",
                        "text": "
                            <p>The Qure Filter Bundle improves your tap water by reducing skin irritants like chlorine, heavy metals, micro-organisms, and more.</p>
                            <p>Each filter attaches directly to your showerhead or faucet, and uses a patent-pending, multi-stage filtration system.</p>
                            <p>The Shower Filter softens and purifies the water that hits your skin and hair. The Faucet Filter cleans the water that touches your skin and hands — so you’re no longer washing with the same harsh water that’s been drying you out and triggering breakouts. </p>
                        "
                    },
                    {
                        "summary": "What\'s Included In The Box",
                        "text": "
                            <p>This bundle includes:</p>
                            <ul>
                                <li>1 Qure Showerhead + 1 Filter</li>
                                <li>1 Qure Faucet + 1 Filter</li>
                            </ul>
                            <p>Each filter lasts 90 days (3 months) before needing to be replaced to ensure optimal filtration. </p>
                            <p>When you subscribe to this bundle, 2 replacement filters (1 for Showerhead and 1 for Faucet) will auto-ship every 90 days, with a recurring charge of {$dyn} per month. </p>
                        "
                    }
                ]'
            }}
        </div>
    {{/hero-product}}

    {{#> base-slider
        classes="base-slider--bg"
        title="See why everyone’s switching to filtered water"
    }}
        <div
            class="c-swiper"
            data-swiper='{
                "slidesPerView": 1.2,
                "spaceBetween": 16,
                "loop": false,
                "pagination": {
                    "el": ".c-swiper-pagination",
                    "type": "custom"
                },
                "navigation": {
                    "prevEl": ".c-swiper-button-prev",
                    "nextEl": ".c-swiper-button-next"
                },
                "breakpoints": {
                    "480": {
                        "slidesPerView": 2.2
                    },
                    "768": {
                        "slidesPerView": 4
                    }
                }
            }'
        >
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="swiper-slide">
                    <picture data-url="https://www.youtube.com/watch?v=JELsZmxlAM">
                        <img src="assets/images/shwr_fau_img1.webp" alt="Youtube video" />
                    </picture>
                </div>
                </div>
                <div class="swiper-slide">
                    {{#> c-wistia-embed-video
                        classes=""
                        id="yvm1h7gbig"
                        alt="Wistia video"
                    }}
                    {{/c-wistia-embed-video}}
                </div>
                <div class="swiper-slide">
                    {{#> c-wistia-embed-video
                        classes=""
                        id="altvn4hlw5"
                        alt="Wistia video"
                    }}
                    {{/c-wistia-embed-video}}
                </div>
                <div class="swiper-slide">
                    {{#> c-wistia-embed-video
                        classes=""
                        id="lxde2943wj"
                        alt="Wistia video"
                    }}
                    {{/c-wistia-embed-video}}
                </div>
                <div class="swiper-slide">
                    <picture data-url="https://www.youtube.com/watch?v=YulGNwbRp7w">
                        <img src="assets/images/shwr_fau_img6.webp" alt="Youtube video" />
                    </picture>
                </div>
            </div>
            <div class="c-swiper-nav">
                <button class="c-swiper-button-prev"></button>
                <div class="c-swiper-pagination"></div>
                <button class="c-swiper-button-next"></button>
            </div>
        </div>
    {{/base-slider }}

    {{#> skin-deserves
        title="Your skin deserves Qure"
        text="When your water is working against you, no product can keep up. Here’s how Qure filters changes that."
    }}
        <table>
            <tr>
                <th>{{> e-icon icon="qure"}}</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
                <th>Other Products</th>
            </tr>
            <tr>
                <td>Made for skin and hair care</td>
                <td>{{> e-icon icon="checkmark-fill"}}</td>
                <td>{{> e-icon icon="cross-fill"}}</td>
                <td>Made for maximum profit</td>
            </tr>
            <tr>
                <td>Protects you at the sink and the shower</td>
                <td>{{> e-icon icon="checkmark-fill"}}</td>
                <td>{{> e-icon icon="cross-fill"}}</td>
                <td>Doesn’t protect your skin everywhere</td>
            </tr>
            <tr>
                <td>Removes chemicals and heavy metals</td>
                <td>{{> e-icon icon="checkmark-fill"}}</td>
                <td>{{> e-icon icon="cross-fill"}}</td>
                <td>Leaves the worst chemicals behind</td>
            </tr>
            <tr>
                <td>Proven to calm breakouts and dryness</td>
                <td>{{> e-icon icon="checkmark-fill"}}</td>
                <td>{{> e-icon icon="cross-fill"}}</td>
                <td>Feel like they should help, but don’t</td>
            </tr>
            <tr>
                <td>Makes your products work even better</td>
                <td>{{> e-icon icon="checkmark-fill"}}</td>
                <td>{{> e-icon icon="cross-fill"}}</td>
                <td>Block absorption and waste your routine</td>
            </tr>
        </table>
    {{/skin-deserves }}

    {{#> base-section
        classes="base-section--reverse base-section--grey"
        title="Do you know what’s in your water?"
        features-list='
            <ul class="features-list">
                <li>
                    <i class="e-icon e-icon-limescale"></i>
                    Limescale
                </li>
                <li>
                    <i class="e-icon e-icon-heavy-metals"></i>
                    Heavy Metals
                </li>
                <li>
                    <i class="e-icon e-icon-chlorine"></i>
                    Chlorine
                </li>
                <li>
                    <i class="e-icon e-icon-micro-plastics"></i>
                    Micro-plastics
                </li>
                <li>
                    <i class="e-icon e-icon-copper"></i>
                    Copper
                </li>
                <li>
                    <i class="e-icon e-icon-micro-organisms"></i>
                    Micro-organisms
                </li>
            </ul>
        '
    }}
        <p>Most tap water is filled with invisible contaminants that quietly damage your skin, hair, and health – without you even realizing.</p>
        <p>Take the quiz to find out what’s lurking in your water.</p>
        <a class="btn btn--primary" href="#">Get a Free Water Report</a>
    {{/base-section }}

    {{#> hero-product
        id="protect-skin"
        classes="hero-product--reverse hero-product--secondary"
    }}
        <div class="hero-product__gallery">
            <img src="sections/isolated/protect-your-skin/images/protect_skin.webp" alt="Water Filters Offer" />
        </div>
        <div class="hero-product__main">
            {{> c-rating value="4.8" }}
            <h1>Protect your skin &amp; save $129</h1>
            <article>
                <p>Your water is filled with hidden irritants and chemicals that damage your skin and hair daily.</p>
                <p>The Qure Filter Bundle removes these at the source without adding any steps to your routine.</p>
            </article>
            <div class="c-buy-block">
                {{> c-order-button
                    button="Claim Offer Now"
                    hide-pay=true
                }}
                <ul class="e-features-list">
                    <li>
                        {{> e-icon icon="guarantee" }}
                        30-Day Money-Back Guarantee
                    </li>
                    <li>
                        {{> e-icon icon="shipping-order" }}
                        Free Shipping over {$dyn}
                    </li>
                </ul>
            </div>
            {{> c-complete-bundle }}
        </div>
    {{/hero-product}}

    {{> have-questions
        list='[
            {
                "summary": "What’s included in this bundle?",
                "text": "
                    <p>This bundle includes:</p>
                    <ul>
                        <li>1 Qure Showerhead + 1 Filter</li>
                        <li>1 Qure Faucet + 1 Filter</li>
                    </ul>
                    <p>Each filter lasts 90 days (3 months) before needing to be replaced to ensure optimal filtration. When you subscribe to this bundle, 2 replacement filters (1 for Showerhead and 1 for Faucet) will auto-ship every 90 days, with a recurring charge of {$dyn} per month.</p>
                "
            },
            {
                "summary": "How does tap water harm my skin?",
                "text": "
                    <p>Facial skin is more sensitive than your skin anywhere else. Your skin barrier is like a protective shield against outside threats. But the stuff in tap water can harm it, leading to:</p>
                    <ul>
                        <li>Dry and Damaged Skin: Tap water can strip away your skin\'s natural oils, leaving it dry and damaged.</li>
                        <li>Skin Irritation: It might also cause skin irritation, making it sensitive and red.</li>
                        <li>Premature Aging: Chemicals in tap water may contribute to early signs of aging, like fine lines and dullness.</li>
                    </ul>
                "
            },
            {
                "summary": "What chemicals do they filter?",
                "text": "
                    <p>The Qure Filter Bundle improves your tap water by reducing skin irritants that make your water “hard,” like chlorine, heavy metals, microorganisms, and more.</p>
                    <p>The filters reduce chlorine, heavy metals, microorganisms, and other common water contaminants.</p>
                "
            },
            {
                "summary": "Are they compatible with all showerhead and faucets?",
                "text": "
                    <p>The Qure Shower Filter fits most standard screw-on showerheads, but we recommend checking your showerheads specs to confirm. It won’t work with built-in or custom fittings without standard threads.</p>
                    <p>The Qure Faucet Filter fits 99% of standard faucets with a circular removable aerator and includes adaptors for different sizes. We recommend checking your faucet type before purchase. It won’t fit square or oval faucets, showerhead faucets, induction styles, pull-outs without detachable aerators, or non-threaded pipes under 15mm.</p>
                    <img src=\"sections/isolated/faqs/images/taps.webp\" alt=\"Faucets\">
                "
            },
            {
                "summary": "Do I need to change/replace the filters?",
                "text": "
                    <p>With daily use, your Qure Filters will need to be replaced at least once every three months for your skin to look and feel its best. When you subscribe to this bundle, 2 replacement filters (1 for Showerhead and 1 for Faucet) will auto-ship every 90 days, with a recurring charge of {$dyn} per month.</p>
                "
            },
            {
                "summary": "Will it affect water pressure?",
                "text": "
                    <p>Our filters are designed to maintain water pressure while effectively filtering impurities.</p>
                "
            }
        ]'
    }}

{{/section-stack }}

{{#> cta-bar
    color-selector=true
    button="Subscribe & Save 50%"
}}
{{/cta-bar}}

{{/new }}
