{{#> new
    title="Contact Us"
    body-class="page.contact-us"
}}

{{#> section-stack }}
    {{#> contact-us
        title="Contact Us"
     }}
        <p>We are here to help!</p>
    {{/contact-us }}
    {{#> text-section }}
        <strong>Additional Customer Service</strong>
        <a href="#">Frequently Asked Questions</a>
        <span>|</span>
        <a href="#">Returns and Exchanges</a>
    {{/text-section}}
{{/section-stack }}

{{/new }}
