{{#> default
    title="Questions & Answers"
    body-class="page.micro-infusion-faq-page-2"
}}

{{#> section-stack }}
    {{#> hero-qa
        title="Enjoy Smoother, Healthier Skin at Home in Just 5 Minutes with Our Micro-Infusion System"
    }}
        <div>
            <p>Created In Partnership With <strong>Leading Dermatologists</strong></p>
            <ul>
                <li>
                    {{> e-icon icon="eye" }}
                    3,201
                </li>
                <li>
                    {{> e-icon icon="share" }}
                    743
                </li>
            </ul>
        </div>
        <picture>
            <source media="(min-width: 768px)" srcset="sections/isolated/healthier-skin/images/micro_infusion-banner.webp" />
            <img
                src="sections/isolated/healthier-skin/images/micro_infusion-bannerMob.webp"
                alt="Enjoy Smoother, Healthier Skin at Home in Just 5 Minutes with Our Micro-Infusion System"
            />
        </picture>
    {{/hero-qa }}

    {{#> qa-section
        title="What Is the Qure Micro-Infusion System?"
    }}
        <p>The Qure Micro-Infusion System is a simple yet <strong>powerful skincare device</strong> that brings the benefits of micro-needling to your home. It helps to reduce the appearance of fine lines, smooths skin texture, and enhances the effectiveness of your serums to improve your skin’s appearance and boost your confidence.</p>
        <p>Use it for <strong>just 5 minutes</strong> every 2 weeks to infuse active ingredients deep into your skin, promoting a brighter, more radiant complexion.</p>
    {{/qa-section }}

    {{#> qa-section
        title="How Fast Can I See Results?"
    }}
        <p>With the Qure Micro-Infusion System, many users notice improvements in their skin’s appearance after the first use. </p>
        <p>While it won’t transform your skin overnight, <strong>you’ll likely see a brighter, more hydrated complexion the next day.</strong></p>
        <p>With consistent use every 2 weeks, you can expect to see a significant reduction in fine lines and a smoother skin texture within a month, helping you <strong>achieve a more youthful and radiant look.</strong> </p>
        <p>Dermatologists recommend using the device every 2 weeks for a minimum of 3 months for optimal results. Consistency is key!</p>
    {{/qa-section }}

    {{#> qa-section
        classes="qa-section--img-to-left"
        title="How Does the Qure Micro-Infusion System Work?"
    }}
        <p class="d-md-none">The Qure Micro-Infusion System is designed to revitalize your skin through a precise and effective process:</p>
        <picture>
            <img src="sections/global/banner-with-text/images/mi_needle.webp" alt="MI Needle" />
        </picture>
        <p class="d-none d-md-block">The Qure Micro-Infusion System is designed to revitalize your skin through a precise and effective process:</p>
        <p><strong>Micro-Needles:</strong> Tiny, gold needles (thinner than a human hair) create micro-channels in your skin. This helps stimulate collagen production and triggers your skin’s natural healing process.</p>
        <p>Serum Delivery: The micro-channels allow our scientifically-backed serums to penetrate deeply, delivering active ingredients exactly where they are needed to reduce the appearance of wrinkles, fine lines, and dark spots.</p>
        <p><strong>Hydration and Plumping:</strong> The infusion process enhances your skin's ability to retain moisture, resulting in a plumper, more hydrated, and radiant looking complexion.</p>
        <p>Use the Qure Micro-Infusion System for just 5 minutes every 2 weeks for a minimum of 3 months and <strong>enjoy smoother looking more youthful skin</strong> and a more confident you.</p>
    {{/qa-section }}

    {{#> qa-section
        title="Can I Use the Qure Micro-Infusion System If I Have Sensitive Skin?"
    }}
        <p>Absolutely! The Qure Micro-Infusion System is designed to be <strong>gentle and effective</strong> for most skin types.</p>
        <p>We know that everyone's skin is unique, and that's why our device is crafted to minimize irritation while maximizing results. The 24k gold plated micro-needles are designed to be virtually painless, and our serums are formulated to soothe and nourish even the most delicate skin.</p>
    {{/qa-section }}

    {{#> set-up
        classes="set-up--qa"
    }}
        <picture
            data-bs-toggle="modal"
            data-bs-target="#reusableWistiaModal"
            data-video-id="8ymvdqzx92"
        >
            <source media="(min-width:768px)" srcset="sections/new/set-up/images/mi-use-video.webp" />
            <img src="sections/new/set-up/images/mi-use-video-mob.webp" alt="See how quick and easy it is to use" />
        </picture>
        <h2>How Do I Use the Qure Micro-Infusion System?</h2>
        <p>Using the Qure Micro-Infusion System is simple and convenient. Just follow these steps:</p>
        <ol>
            <li>
                <picture>
                    <source media="(min-width:768px)" srcset="sections/new/set-up/images/mi-use-step-1.webp" />
                    <img src="sections/new/set-up/images/mi-use-step-1-mob.webp" alt="Cleanse" />
                </picture>
                <h6>Cleanse</h6>
                <p>Cleanse your face thoroughly and spritz the <a href="#">Dermal Mist</a> to refresh and prepare your skin further.</p>
            </li>
            <li>
                <picture>
                    <source media="(min-width:767px)" srcset="sections/new/set-up/images/mi-use-step-2.webp" />
                    <img src="sections/new/set-up/images/mi-use-step-2-mob.webp" alt="Prepare" />
                </picture>
                <h6>Prepare</h6>
                <p>Twist off the cap of the serum vial and screw on the sterile needle head.</p>
            </li>
            <li>
                <picture>
                    <source media="(min-width:767px)" srcset="sections/new/set-up/images/mi-use-step-3.webp">
                    <img src="sections/new/set-up/images/mi-use-step-3-mob.webp" alt="Treat" />
                </picture>
                <h6>Treat</h6>
                <p>Remove the cap and stamp gently across your face using light pressure, working section-by-section.</p>
            </li>
        </ol>
    {{/set-up}}

    {{#> qa-section
        title="Will the Qure Micro-Infusion System Work for Wrinkles?"
    }}
        <picture>
            <source media="(min-width:767px)" srcset="sections/isolated/healthier-skin/images/micro_infusion-banner2.webp">
            <img
                src="sections/isolated/healthier-skin/images/micro_infusion-banner2-M.webp"
                alt="Will the Qure Micro-Infusion System Work for Wrinkles?"
            />
        </picture>
        <p>Absolutely! The Qure Micro-Infusion System is designed to be <strong>gentle and effective</strong> for most skin types, including sensitive skin.</p>
        <p>We know that everyone's skin is unique, and that's why our device is crafted to minimize irritation while maximizing results. </p>
        <p>The 24k gold plated micro-needles are <strong>designed to be virtually painless</strong>, and our serums are formulated to soothe and nourish even the most delicate skin.</p>
        <p>So, if you have sensitive skin, you can confidently use our Micro-Infusion System to achieve a <strong>healthier, more radiant complexion</strong>.</p>
    {{/qa-section }}

    {{#> qa-section
        classes="qa-section--img-to-top"
        title="Will the Qure Micro-Infusion System Work for Dark Spots and Hyperpigmentation?"
    }}
        <picture>
            <source media="(min-width:767px)" srcset="sections/isolated/faqs/images/micro_infusion-banner3.webp">
            <img
                src="sections/isolated/faqs/images/micro_infusion-banner3-M.webp"
                alt="Will the Qure Micro-Infusion System Work for Dark Spots and Hyperpigmentation?"
            />
        </picture>
        <p>Yes, it will! The Qure Micro-Infusion System is specifically designed to address a variety of skin concerns, including dark spots and hyperpigmentation.</p>
        <p>Our micro-needling process, combined with our rejuvenating serum, <strong>helps to penetrate deeply into the skin, reducing pigmentation</strong> and evening out skin tone. </p>
        <p>The system delivers active ingredients directly to the areas where they are needed most, promoting a clearer, more radiant complexion.</p>
        <p>With consistent use, you’ll notice a <strong>significant reduction in dark spots</strong> and a more even skin tone, helping you to reveal your <strong>natural glow.</strong></p>
    {{/qa-section }}

    {{#> qa-section
        classes="qa-section--img-to-top"
        title="How Much Does the Qure Micro-Infusion System Cost?"
    }}
        <picture>
            <source media="(min-width:767px)" srcset="sections/isolated/faqs/images/micro_infusion-banner4.webp">
            <img
                src="sections/isolated/faqs/images/micro_infusion-banner4-M.webp"
                alt="How Much Does the Qure Micro-Infusion System Cost?"
            />
        </picture>
        <p>At Qure, we are dedicated to making advanced skincare solutions accessible and affordable for everyone.</p>
        <p>We’ve priced our Micro-Infusion System competitively because we understand that quality skincare shouldn’t break the bank. </p>
        <p>Professional treatments can be costly and time-consuming, but with Qure, <strong>you can achieve similar results at home for a fraction of the cost.</strong></p>
        <p>The Qure Micro-Infusion System, which includes the device and a 6-month supply of serums, typically retails at $713.</p>
        <p>However, for a limited time, you can get it for just $219 when you choose our best value bundle, <strong>saving you 70%.</strong></p>
        <p>We believe everyone deserves to look and feel their best without the high costs of professional treatments.</p>
    {{/qa-section }}

    {{#> qa-section
        classes="qa-section--img-to-left"
        title="Where Can I Purchase the Qure Micro-Infusion System?"
    }}
        <picture>
            <img src="sections/global/banner-with-text/images/micro_infusion-banner5.webp" alt="Where Can I Purchase the Qure Micro-Infusion System?" />
        </picture>
        <p>You can purchase the Qure Micro-Infusion System directly from our official website. This ensures you get the <strong>authentic product</strong> with the quality and results you expect.</p>
        <p>Avoid imitations and knockoffs by buying only from our site.</p>
        <p>We’ve designed our system to be effective and safe, and only our official website can guarantee you’re getting the real thing.</p>
        <p><a href="#">Visit our website to order your Qure Micro-Infusion System today.</a></p>
    {{/qa-section }}

    {{#> qa-section
        title="Is the Qure Micro-Infusion System Safe?"
    }}
        <p>Yes, the Qure Micro-Infusion System is very safe to use. It has been thoroughly tested and reviewed by leading dermatologists to ensure it meets the highest safety standards.</p>
        <p>Our device uses gentle, 24k gold micro-needles and carefully formulated serums to provide effective results with minimal risk of irritation. You can confidently incorporate it into your skincare routine, knowing it’s designed with your skin’s health in mind.</p>
    {{/qa-section }}

    {{#> qa-section
        title="What If I Am Not Happy With My Purchase?"
    }}
        <p>Yes, the Qure Micro-Infusion System is <strong>very safe to use</strong>. It has been <strong>thoroughly tested and reviewed</strong> by leading dermatologists to ensure it meets the highest safety standards.</p>
        <p>Our device uses gentle, 24k gold micro-needles and carefully formulated serums to provide effective results with minimal risk of irritation. </p>
        <p>You can confidently incorporate it into your skincare routine, knowing it’s designed with your skin’s health in mind.</p>
    {{/qa-section }}

    {{#> qa-section
        title="Try it Yourself And Enjoy Simple Skincare Created To Support Real Women Look And Feel Their Best."
    }}
        <ol>
            <li>Click the "Check Availability" button below to see if we’re in stock (due to high demand, we sell out quickly!)</li>
            <li>If we have stock, you’ll be directed to our secure checkout where you can choose the bundle that best fits your needs. We recommend the 6 month bundle for best results (and the best price!)</li>
            <li>Enter your shipping and billing information on our secure checkout, and we'll pack your order and send it out to you the following day.</li>
            <li>Your Qure Micro-Infusion System will be delivered to your door, typically shipping from our local warehouse within 7 working days. It's that straightforward!</li>
        </ol>
        <p>With competitive prices, responsive support, and flexible payment plans, Qure is committed to your skincare success.</p>
    {{/qa-section }}

    {{#> qa-section
        title="Flexible Payment Plans"
    }}
        <p>We offer easy payment plans through Sezzle, AfterPay, and Klarna. Spread your payments over <strong>four interest-free monthly installments</strong> and start your skincare transformation today without the upfront cost.</p>
        <p>Trust Qure to support you on your journey to healthier, more radiant skin. </p>
        <p>Click "Check Availability" now, and let's start transforming your skin together!</p>
        <div class="cta-box">
            <a class="cta-box__image" href="#">
                <img src="sections/isolated/faqs/images/mi_bundle.webp" alt="MI Bundle" />
            </a>
            <div class="cta-box__content">
                <div class="e-pill-badge e-pill-badge--fill">Limited Time Offer</div>
                <h5>TAKE CHARGE OF YOUR SKINCARE WITH QURE</h5>
                <div>
                    <p>For a limited time, enjoy up to 50% off when you choose our best bundle.</p>
                    <p>Click "Check Availability" below to see our current stock and secure your discount!</p>
                </div>
                <div>
                    <a class="btn btn--primary" href="#">Check Availability</a>
                    <ul class="e-features-list">
                        <li>
                            {{> e-icon icon="shipping-order" }}
                            Free Shipping over {$dyn}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    {{/qa-section }}

    {{#> treatment
        classes="treatment--announcement"
        id="purchase-form"
        announcement="SOLD OUT 10X - AVAILABLE UNTIL STOCK LASTS"
        title="Choose your treatment"
        text="
            <p>All orders are one-time purchases. No extra charges, and no hidden fees.</p>
        "
        picture="sections/new/treatment/images/MI_6_month_DS.webp"
        features-list='[
            {
                "text": "90-Day Money-Back Guarantee",
                "icon": "guarantee"
            },
            {
                "text": "Free Shipping over {$dyn}",
                "icon": "shipping-order"
            },
            {
                "text": "Backed by Science",
                "icon": "proven"
            }
        ]'
    }}
        <div class="treatment__steps">
            <div class="treatment__step">
                {{> c-options-selector
                    title="Select Your Product"
                    list='[
                        {
                            "img": "sections/new/treatment/images/Dark_Spots_4.png",
                            "name": "Dark Spots",
                            "option": "type",
                            "checked": true
                        },
                        {
                            "img": "sections/new/treatment/images/Wrinkles_2.png",
                            "name": "Wrinkles",
                            "option": "type"
                        },
                        {
                            "img": "sections/new/treatment/images/Mixed_3.png",
                            "name": "Mixed",
                            "option": "type"
                        }
                    ]'
                }}
            </div>
            <div class="treatment__step">
                {{> c-supply-selector
                    classes="c-supply-selector--tiles"
                    title="Select Your Supply"
                    notify-tiles=true
                    list='[
                        {
                            "image": "sections/isolated/micro-infusion-pdp/images/3_month_mixed.webp",
                            "name": "3 Months",
                            "desc": "(6 treatments)",
                            "price-old": true,
                            "price-highlight": true,
                            "save-pill": true,
                            "save-value": "38% OFF",
                            "tag-up": true,
                            "tag-name": "Best Value <i class=\"e-icon e-icon-rating-fill\"></i>",
                            "option": "supply-tile",
                            "checked": true
                        },
                        {
                            "image": "sections/isolated/micro-infusion-pdp/images/2_month_mixed.webp",
                            "name": "2 Months",
                            "desc": "(4 treatments)",
                            "price-old": true,
                            "price-highlight": true,
                            "save-pill": true,
                            "save-pill-light": true,
                            "save-value": "25% OFF",
                            "option": "supply-tile"
                        },
                        {
                            "image": "sections/isolated/micro-infusion-pdp/images/1_month_mixed.webp",
                            "name": "1 Months",
                            "desc": "(2 treatments)",
                            "option": "supply-tile"
                        }
                    ]'
                }}
                <div class="info-items">
                    <div class="info-items__item show">
                        <details>
                            <summary>What is in the 3 Month Supply bundle? {{> e-icon icon="chevron"}}</summary>
                            <article>
                                <ul>
                                    <li>12 clinically formulated 4ml serums to treat your specific skin concerns (valued at $120)</li>
                                    <li>Worldwide shipping (valued at $25)</li>
                                    <li>Risk-free 90 day money-back guarantee to trial</li>
                                </ul>
                            </article>
                        </details>
                    </div>
                    <div class="info-items__item">
                        <details>
                            <summary>What is in the 2 Month Supply bundle? {{> e-icon icon="chevron"}}</summary>
                            <article>
                                <ul>
                                    <li>4 clinically formulated 4ml serums to treat your specific skin concerns (valued at $80)</li>
                                    <li>Worldwide shipping (valued at $25)</li>
                                    <li>Risk-free 90 day money-back guarantee to trial</li>
                                </ul>
                            </article>
                        </details>
                    </div>
                    <div class="info-items__item">
                        <details>
                            <summary>What is in the 1 Month Supply bundle? {{> e-icon icon="chevron"}}</summary>
                            <article>
                                <ul>
                                    <li>2 clinically formulated 4ml serums to treat your specific skin concerns (valued at $40)</li>
                                    <li>Worldwide shipping (valued at $25)</li>
                                </ul>
                            </article>
                        </details>
                    </div>
                </div>
            </div>
            <div class="treatment__step">
                {{> c-payment-selector
                    title="Select A Payment Option"
                    list='[
                        {
                            "name": "Pay in full",
                            "old-price": true,
                            "option": "payment",
                            "checked": true,
                            "text": "One-time payment with:",
                            "image": "assets/images/payment-icons-1.svg",
                            "checked": true
                        },
                        {
                            "name": "Pay today only",
                            "option": "payment",
                            "text": "Monthly interest-free payments with:",
                            "image": "assets/images/payment-icons-2.svg"
                        }
                    ]'
                }}
            </div>
        </div>
    {{/treatment}}

    {{#> trusted-reviews
        classes="trusted-reviews--light"
        title="Results you’ll see with your own eyes"
        button="Check Availability"
        features-list=true
    }}
        <div class="swiper-slide">
            <div class="c-trusted-review-card">
                <picture>
                    <img src="sections/isolated/review-slider/images/ellie_6_treatments.webp" alt="My skin returned to life!" />
                </picture>
                <div class="e-author">
                    <img src="sections/isolated/review-slider/images/america_f.webp" alt="Kim L." />
                    Kim L.
                </div>
                <div class="e-verified-customer">
                    <div class="e-checkmark"></div>
                    Verified customer
                </div>
                <article>
                    <h6>My skin returned to life!</h6>
                    <p>“I just turned 57 years. My skin was extremely dry and while using this product my skin RETURNED to LIFE! I am so impressed with it! My Coworkers ask me what I use in my skin.. and I tell them. Product easy to use and the needles are better that using a pen for microneedling. This is an amazing product that you will not regret in purchasing it. I really see the change in my skin. Outstanding job QURE!”</p>
                </article>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="c-trusted-review-card">
                <picture>
                    <img src="sections/isolated/review-slider/images/mona-p.webp" alt="Fade after just two treatments" />
                </picture>
                <div class="e-author">
                    <img src="sections/isolated/review-slider/images/america_f.webp" alt="Mona P." />
                    Mona P.
                </div>
                <div class="e-verified-customer">
                    <div class="e-checkmark"></div>
                    Verified customer
                </div>
                <article>
                    <h6>Fade after just two treatments</h6>
                    <p>“I personally think my products absorbed better, my skin looks a bit brighter and that larger acne scar on my right cheek has started to fade after just TWO treatments!”</p>
                </article>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="c-trusted-review-card">
                <picture>
                    <img src="sections/isolated/review-slider/images/andrea.webp" alt="Definitely be re-ordering" />
                </picture>
                <div class="e-author">
                    <img src="sections/isolated/review-slider/images/america_f.webp" alt="Andrea G." />
                    Andrea G.
                </div>
                <div class="e-verified-customer">
                    <div class="e-checkmark"></div>
                    Verified customer
                </div>
                <article>
                    <h6>Definitely be re-ordering</h6>
                    <p>“Still a newbie but so far so great! I have dermarolled for more than a decade -still do with .25 at least one a week. I’ve avoided getting a pen because there’s so much involved- but the Qure system is just awesome. So easy and user friendly and my skin loves the serum! Doing my third treatment Saturday and will definitely be re-ordering 🤗</p>
                </article>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="c-trusted-review-card">
                <picture>
                    <img src="sections/isolated/review-slider/images/jessica-k.webp" alt="Thrilled with the results!" />
                </picture>
                <div class="e-author">
                    <img src="sections/isolated/review-slider/images/america_f.webp" alt="Jessica K." />
                    Jessica K.
                </div>
                <div class="e-verified-customer">
                    <div class="e-checkmark"></div>
                    Verified customer
                </div>
                <article>
                    <h6>Thrilled with the results!</h6>
                    <p>"I have been using the mask & microneedling for 6 weeks & am truly impressed with the results. I have noticed a dramatic reduction in redness, an improvement in my dark spots, scars & overall skin tone & firmness, and a smoothing of fine lines & wrinkles."</p>
                </article>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="c-trusted-review-card">
                <picture>
                    <img src="sections/isolated/review-slider/images/ela-o.webp" alt="Shocked at the results" />
                </picture>
                <div class="e-author">
                    <img src="sections/isolated/review-slider/images/america_f.webp" alt="Ela O." />
                    Ela O.
                </div>
                <div class="e-verified-customer">
                    <div class="e-checkmark"></div>
                    Verified customer
                </div>
                <article>
                    <h6>Shocked at the results</h6>
                    <p>“Shocked at the results after just one treatment! I’m not one to usually leave reviews... but I was shocked at how my skin looked the morning after my first treatment! Texture was soooo much smoother, my skin looked clear, glowy and healthy. The system was so easy to use and I can’t wait until my next treatment.”</p>
                </article>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="c-trusted-review-card">
                <picture>
                    <img src="sections/isolated/review-slider/images/shelly.webp" alt="Looking better and better" />
                </picture>
                <div class="e-author">
                    <img src="sections/isolated/review-slider/images/america_f.webp" alt="Shelly S." />
                    Shelly S.
                </div>
                <div class="e-verified-customer">
                    <div class="e-checkmark"></div>
                    Verified customer
                </div>
                <article>
                    <h6>Looking better and better</h6>
                    <p>“I have used the Qure Micro- Infusion System for 3 monthly treatments. The results are clearer, plumper and firmer skin. With further treatments I am looking forward to looking better and better.”</p>
                </article>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="c-trusted-review-card">
                <picture>
                    <img src="sections/isolated/review-slider/images/chelsea.webp" alt="Amazing results!" />
                </picture>
                <div class="e-author">
                    <img src="sections/isolated/review-slider/images/america_f.webp" alt="Chelsea J." />
                    Chelsea J.
                </div>
                <div class="e-verified-customer">
                    <div class="e-checkmark"></div>
                    Verified customer
                </div>
                <article>
                    <h6>Amazing results!</h6>
                    <p>"Amazing results. I am just in shock at how great my skin is looking. This stuff has been amazing for hyperpigmentation and also some hormonal cystic acne. I will be continuing to support this business because it has brought the skin I know back. I was at my wits end with a hormonal breakout and bad hyperpigmentation."</p>
                </article>
            </div>
        </div>
    {{/trusted-reviews }}

    {{#> qa-section
        title=""
    }}
        <div class="updated-info">
            <h6>Update 08/21/25</h6>
            <p>To celebrate more women saying no to the hype and yes to simple skincare that works, we're offering a limited-time discount of up to 43% for this month only.</p>
        </div>
    {{/qa-section }}

{{/section-stack }}

{{/default }}
