{{#> new
    title="Micro-Infusion Facial System"
    body-class="page.microinfusion"
}}

{{#> section-stack }}
    {{#> hero-product }}
        <div class="hero-product__gallery">
            <div
                class="c-swiper"
                data-swiper-thumbs="#hero-product .c-swiper-thumbs"
                data-swiper='{
                    "slidesPerView": 1,
                    "spaceBetween": 16,
                    "navigation": {
                        "prevEl": "#hero-product .c-swiper-button-prev",
                        "nextEl": "#hero-product .c-swiper-button-next"
                    }
                }'
            >
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <img src="sections/isolated/micro-infusion-pdp/images/sunil_mi_pdp_1.webp" alt="Micro-Infusion Facial System" />
                    </div>
                    <div class="swiper-slide">
                        <img
                            class="watch-wistia-video"
                            src="sections/isolated/micro-infusion-pdp/images/sunil_mi_pdp_2.webp" alt="Micro-Infusion Facial System"
                            data-bs-toggle="modal"
                            data-bs-target="#reusableWistiaModal"
                            data-video-id="jg8c1a3bee"
                        />
                    </div>
                    <div class="swiper-slide">
                        <img src="sections/isolated/micro-infusion-pdp/images/sunil_mi_pdp_3.webp" alt="Micro-Infusion Facial System" />
                    </div>
                    <div class="swiper-slide">
                        <img src="sections/isolated/micro-infusion-pdp/images/sunil_mi_pdp_4.webp" alt="Micro-Infusion Facial System" />
                    </div>
                    <div class="swiper-slide">
                        <img src="sections/isolated/micro-infusion-pdp/images/sunil_mi_pdp_5.webp" alt="Micro-Infusion Facial System" />
                    </div>
                    <div class="swiper-slide">
                        <img src="sections/isolated/micro-infusion-pdp/images/sunil_mi_pdp_6.webp" alt="Micro-Infusion Facial System" />
                    </div>
                    <div class="swiper-slide">
                        <img src="sections/isolated/micro-infusion-pdp/images/sunil_mi_pdp_7.webp" alt="Micro-Infusion Facial System" />
                    </div>
                    <div class="swiper-slide">
                        <img src="sections/isolated/micro-infusion-pdp/images/sunil_mi_pdp_8.webp" alt="Micro-Infusion Facial System" />
                    </div>
                    <div class="swiper-slide">
                        <img src="sections/isolated/micro-infusion-pdp/images/sunil_mi_pdp_9.webp" alt="Micro-Infusion Facial System" />
                    </div>
                    <div class="swiper-slide">
                        <img src="sections/isolated/micro-infusion-pdp/images/sunil_mi_pdp_10.webp" alt="Micro-Infusion Facial System" />
                    </div>
                    <div class="swiper-slide">
                        <img src="sections/isolated/micro-infusion-pdp/images/sunil_mi_pdp_11.webp" alt="Micro-Infusion Facial System" />
                    </div>
                </div>
            </div>
            <div class="c-swiper-thumbs-nav">
                <button class="c-swiper-button-prev"></button>
                <div
                    class="c-swiper c-swiper-thumbs"
                    data-swiper='{
                        "slidesPerView": "auto",
                        "spaceBetween": 12
                    }'
                >
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <img src="sections/isolated/micro-infusion-pdp/images/sunil_mi_pdp_1.webp" alt="Micro-Infusion Facial System" />
                        </div>
                        <div class="swiper-slide">
                            <img src="sections/isolated/micro-infusion-pdp/images/sunil_mi_pdp_2.webp" alt="Micro-Infusion Facial System" />
                        </div>
                        <div class="swiper-slide">
                            <img src="sections/isolated/micro-infusion-pdp/images/sunil_mi_pdp_3.webp" alt="Micro-Infusion Facial System" />
                        </div>
                        <div class="swiper-slide">
                            <img src="sections/isolated/micro-infusion-pdp/images/sunil_mi_pdp_4.webp" alt="Micro-Infusion Facial System" />
                        </div>
                        <div class="swiper-slide">
                            <img src="sections/isolated/micro-infusion-pdp/images/sunil_mi_pdp_5.webp" alt="Micro-Infusion Facial System" />
                        </div>
                        <div class="swiper-slide">
                            <img src="sections/isolated/micro-infusion-pdp/images/sunil_mi_pdp_6.webp" alt="Micro-Infusion Facial System" />
                        </div>
                        <div class="swiper-slide">
                            <img src="sections/isolated/micro-infusion-pdp/images/sunil_mi_pdp_7.webp" alt="Micro-Infusion Facial System" />
                        </div>
                        <div class="swiper-slide">
                            <img src="sections/isolated/micro-infusion-pdp/images/sunil_mi_pdp_8.webp" alt="Micro-Infusion Facial System" />
                        </div>
                        <div class="swiper-slide">
                            <img src="sections/isolated/micro-infusion-pdp/images/sunil_mi_pdp_9.webp" alt="Micro-Infusion Facial System" />
                        </div>
                        <div class="swiper-slide">
                            <img src="sections/isolated/micro-infusion-pdp/images/sunil_mi_pdp_10.webp" alt="Micro-Infusion Facial System" />
                        </div>
                        <div class="swiper-slide">
                            <img src="sections/isolated/micro-infusion-pdp/images/sunil_mi_pdp_11.webp" alt="Micro-Infusion Facial System" />
                        </div>
                    </div>
                </div>
                <button class="c-swiper-button-next"></button>
            </div>
            {{> e-sticky-thumb-video link="https://embed-ssl.wistia.com/deliveries/a19c02d56780261a836b229148cef1bb2fa64c90.bin?disposition=attachment&filename=MICRO+INFUSION+2025_final_txt+%282%29.mp4" type="video/mp4" }}
        </div>
        <div class="hero-product__main">
            {{> c-rating value="4.8" }}
            <p>MICRO INFUSION FACIAL SYSTEM - AN ALTERNATIVE TO DERMA ROLLERS</p>
            <h1>Transform dull looking skin with Micro-Infusion Facial System</h1>
            {{> c-special-offer hide-price=true }}
            <article>
                <ul>
                    <li>Helps reduce appearance of fine lines, smooth texture while helping to infuse active ingredients into your skin.</li>
                    <li>Virtually painless and performed in the comfort and convenience of your home.</li>
                    <li>Minimal to no downtime with visible results.</li>
                </ul>
            </article>
            <hr />
            {{> c-options-selector
                title="Select Your Serum"
                list='[
                    {
                        "img": "sections/isolated/micro-infusion-pdp/images/serum_1.webp",
                        "name": "Dark Spots",
                        "option": "serum",
                        "checked": true
                    },
                    {
                        "img": "sections/isolated/micro-infusion-pdp/images/serum_2.webp",
                        "name": "Wrinkles",
                        "option": "serum"
                    },
                    {
                        "img": "sections/isolated/micro-infusion-pdp/images/serum_3.webp",
                        "name": "Mixed",
                        "option": "serum"
                    }
                ]'
            }}
            {{> c-supply-selector
                title="Select Your Supply"
                list='[
                    {
                        "image": "sections/isolated/micro-infusion-pdp/images/3_month_mixed.webp",
                        "name": "3 Months Supply",
                        "desc": "6 Micro-Infusion treatments",
                        "price-old": true,
                        "price-final": true,
                        "price-strikethrough": true,
                        "price-highlight": false,
                        "tag-up": true,
                        "tag-name": "Best Value <i class=\"e-icon e-icon-rating-fill\"></i>",
                        "option": "supply",
                        "checked": true
                    },
                    {
                        "image": "sections/isolated/micro-infusion-pdp/images/2_month_mixed.webp",
                        "name": "2 Months Supply",
                        "desc": "4 Micro-Infusion treatments",
                        "price-old": true,
                        "price-final": true,
                        "price-strikethrough": true,
                        "price-highlight": false,
                        "option": "supply"
                    },
                    {
                        "image": "sections/isolated/micro-infusion-pdp/images/1_month_mixed.webp",
                        "name": "1 Months Supply",
                        "desc": "2 Micro-Infusion treatments",
                        "price-old": true,
                        "price-final": true,
                        "price-strikethrough": true,
                        "price-highlight": false,
                        "option": "supply"
                    }
                ]'
            }}
            <div class="c-buy-block">
                {{> c-order-button }}
                {{> c-certified-box }}
                <ul class="e-features-list">
                    <li>
                        {{> e-icon icon="guarantee" }}
                        30-Day Money-Back Guarantee
                    </li>
                    <li>
                        {{> e-icon icon="shipping-order" }}
                        Free Shipping over {$dyn}
                    </li>
                </ul>
            </div>
            {{> c-next-batch }}
        </div>
        <div class="hero-product__extra">
            <div class="hero-product__best-with">
                <h6>Get The Best Results With</h6>
                <div
                    class="c-swiper"
                    data-swiper='{
                        "slidesPerView": "1.25",
                        "spaceBetween": 12,
                        "breakpoints": {
                            "992": {
                                "slidesPerView": 2
                            }
                        }
                    }'
                >
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <a href="#"><img src="sections/isolated/n&d-slider/images/q_rejuv_n&d.webp" alt="Neck & Décolletage LED Device" /></a>
                            <a href="#">Neck &amp; Décolletage LED Device</a>
                            <button class="btn btn--primary btn--sm">Add - {$dyn}</button>
                        </div>
                        <div class="swiper-slide">
                            <a href="#"><img src="sections/isolated/targeted-patches/images/result-1.webp" alt="All-In One Face Serum" /></a>
                            <a href="#">All-In One Face Serum</a>
                            <button class="btn btn--primary btn--sm">Add - {$dyn}</button>
                        </div>
                    </div>
                </div>
            </div>
            {{> c-accordion
                type="lines"
                list='[
                    {
                        "summary": "Key Benefits",
                        "text": "
                            <p>The Micro-Infusion System creates micro-channels on the skin’s surface to enhance serum absorption for visible improvements.</p>
                           <p>Visible benefits include*:</p>
                           <ul>
                              <li>Helps smooth the appearance of fine lines and wrinkles</li>
                              <li>Supports a brighter, more even-looking skin tone</li>
                              <li>Visibly plumps and supports smoother-looking skin texture</li>
                              <li>Leaves skin with a fresh, dewy-looking glow</li>
                           </ul>
                           <p>*As reported by customers in self-perception surveys and before-and-after images. Individual results may vary</p>
                        "
                    },
                    {
                        "summary": "How To Use",
                        "text": "
                            <p>The Micro-Infusion System is designed to be simple, mess-free, and beginner-friendly. Each treatment takes just a few minutes and fits easily into your nighttime routine.</p>
                            <ul>
                                <li>Fill the device with one serum ampule, attach the needle head, and let it soak for 1–2 minutes.</li>
                                <li>Start at the centre of your face and work outward, doing 2–3 passes in each area of your face.</li>
                                <li>Pat in any leftover serum and leave on overnight.</li>
                            </ul>
                            <p>Each order of Micro-Infusion comes with a detailed user guide to walk you through setup and treatment.</p>
                        "
                    },
                    {
                        "summary": "Full Ingredient List",
                        "text": "
                            <p><strong>Serum for Dark Spots:</strong></p>
                            <p>Rosa Damascena Flower Water, Propanediol, Glycerin, Panthenol, Niacinamide, Myrothamnus Flabellifolia Leaf/Stem Extract, Water, Butylene Glycol, Hydroxyacetophenone, Copper Tripeptide-1, Beta-Glucan, Chrysanthellum Indicum Extract, Ethylhexylglycerin, Sodium Hyaluronate, Allantoin, Xanthan Gum</p>
                            <p><strong>Serum for Wrinkles:</strong></p>
                            <p>Rosa Damascena Flower Water, Propanediol, Glycerin, Tranexamic Acid, Niacinamide, Panthenol, Chrysanthellum Indicum Extract, Ethylhexylglycerin, Tripeptide-1, Xanthan Gum, Allantoin, Sh-Oligopeptide-1</p>
                            <ul class=\"c-marked-list\">
                                <li>Vegan and cruelty-free</li>
                                <li>Suitable for sensitive skin </li>
                            </ul>
                        "
                    }
                ]'
            }}
            {{> c-jump-to
                list='[
                    {
                        "id": "improve_skin",
                        "name": "The Results"
                    },
                    {
                        "id": "how_it_works",
                        "name": "How It Works"
                    },
                    {
                        "id": "reviews",
                        "name": "Reviews"
                    },
                    {
                        "id": "easy_steps",
                        "name": "How To Use"
                    },
                    {
                        "id": "ingredients",
                        "name": "Ingredients"
                    },
                    {
                        "id": "faq",
                        "name": "FAQs"
                    }
                ]'
            }}
        </div>
    {{/hero-product}}

    {{#> press-reviews }}
        <div
            class="c-swiper"
            data-swiper-thumbs=".press-reviews .c-swiper-thumbs"
            data-swiper='{
                "slidesPerView": 1,
                "spaceBetween": 16,
                "loop": true,
                "autoplay": {
                    "delay": 5000
                }
            }'
        >
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <h4>“Few beauty trends are actually worth adopting, but Qure’s take on at-home Micro-Infusion is a viral skin trend with merit.”</h4>
                </div>
                <div class="swiper-slide">
                    <h4>“A true microneedling treatment - creating microchannels that increase collagen and elastin production and product absorption.”</h4>
                </div>
                <div class="swiper-slide">
                    <h4>“This microneedling alternative is my secret to glowing skin.”</h4>
                </div>
            </div>
        </div>
        <div class="c-swiper c-swiper-thumbs"
            data-swiper='{
                "slidesPerView": 3,
                "spaceBetween": 30,
                "breakpoints": {
                    "992": {
                        "spaceBetween": 80
                    }
                }
            }'
        >
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <img src="sections/isolated/press_slider/images/forbes.svg" alt="Forbes" />
                </div>
                <div class="swiper-slide">
                    <img src="sections/isolated/press_slider/images/bazzar.svg" alt="Bazzar" />
                </div>
                <div class="swiper-slide">
                    <img src="sections/isolated/press_slider/images/ps.svg" alt="PS" />
                </div>
            </div>
        </div>
    {{/press-reviews}}

    {{> why-using
        title="5 reasons why everyone is using the Qure Micro-Infusion System"
        list='[
            {
                "icon": "save-money",
                "name": "Saves time, money and hassle compared to in-clinic treatments"
            },
            {
                "icon": "mi-quick",
                "name": "Quick & easy 5-minute DIY facial from the convenience of home"
            },
            {
                "icon": "mi-painless",
                "name": "Virtually painless, little to no downtime"
            },
            {
                "icon": "two-in-one",
                "name": "2-in-1 system rejuvenates skin & infuses serum deeper for faster results"
            },
            {
                "icon": "perfect-transforming",
                "name": "Perfect for transforming dull-looking skin before events"
            }
        ]'
        hide-button=true
    }}

    {{#> base-section
        classes="base-section--reverse"
        id="how_it_works"
        title="Qure’s Micro-Infusion goes where your skin cream can’t…"
        wistia="a1pykz2tp0"
        button="Shop Now"
    }}
        <p>Its tiny, almost painless, 24K gold plated 0.5mm microneedles penetrate beyond the skin’s surface to gently create controlled trauma in your skin which help <em>boost the feel of firmness, smooth texture and reduce the look of fine lines and wrinkles</em>.</p>
        <p>The invisible micro-channels then infuse science-backed serums into your skin that are tailored to <em>treat your specific skin concerns</em>, increasing absorption and delivering powerful active ingredients exactly where they’re needed.</p>
    {{/base-section }}

    {{#> progress-metrics id="improve_skin" }}
        <article>
            <h2>No hype, just evidence</h2>
            <p>The results speak for themselves. In an independent user study, participants' skin was measured and showed proven visible improvement after just 6 treatments.</p>
        </article>
        <div
            class="c-swiper"
            data-swiper='{
                "slidesPerView": 1,
                "spaceBetween": 16,
                "loop": false,
                "pagination": {
                    "el": ".progress-metrics .c-swiper-pagination",
                    "type": "custom"
                },
                "navigation": {
                    "prevEl": ".progress-metrics .c-swiper-button-prev",
                    "nextEl": ".progress-metrics .c-swiper-button-next"
                }
            }'
        >
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="c-visual-compare-card">
                        <picture>
                            <img src="sections/isolated/after-before/images/no_hype_1.webp" alt="Proven to visually improve" />
                        </picture>
                        <article>
                            <p>Proven to visually improve</p>
                            <span>Fine Lines &amp; Wrinkles</span>
                        </article>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="c-visual-compare-card">
                        <picture>
                            <img src="sections/isolated/after-before/images/no_hype_2.webp" alt="Proven to visually improve" />
                        </picture>
                        <article>
                            <p>Proven to visually improve</p>
                            <span>Large Pores &amp; Skin Texture</span>
                        </article>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="c-visual-compare-card">
                        <picture>
                            <img src="sections/isolated/after-before/images/no_hype_3.webp" alt="Proven to visually improve" />
                        </picture>
                        <article>
                            <p>Proven to visually improve</p>
                            <span>Dark Spots &amp; Texture</span>
                        </article>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="c-visual-compare-card">
                        <picture>
                            <img src="sections/isolated/after-before/images/no_hype_4.webp" alt="Proven to visually improve" />
                        </picture>
                        <article>
                            <p>Proven to visually improve</p>
                            <span>Uneven Skin Tone</span>
                        </article>
                    </div>
                </div>
            </div>
            <div class="c-swiper-nav">
                <button class="c-swiper-button-prev"></button>
                <div class="c-swiper-pagination"></div>
                <button class="c-swiper-button-next"></button>
            </div>
        </div>
        <div>
            {{> c-percent-list
                list='[
                    {
                        "value": 70,
                        "text": "of participants say their fine lines looked smoother."
                    },
                    {
                        "value": 93,
                        "text": "noticed results the next day after their first Micro-Infusion treatment."
                    },
                    {
                        "value": 70,
                        "text": "of participants say their skin looked brighter and more even toned."
                    }
                ]'
            }}
            <small>Skin and scalp hydration measured using instrumental testing in a consumer use study. Individual results may vary.</small>
        </div>
    {{/progress-metrics }}

    {{#> trusted-reviews
        title="Results you’ll see with your own eyes"
    }}
        <div class="swiper-slide">
            <div class="c-trusted-review-card">
                <picture>
                    <img src="sections/isolated/review-slider/images/ellie_6_treatments.webp" alt="My skin returned to life!" />
                </picture>
                <div class="e-author">
                    <img src="sections/isolated/review-slider/images/america_f.webp" alt="Kim L." />
                    Kim L.
                </div>
                <div class="e-verified-customer">
                    <div class="e-checkmark"></div>
                    Verified customer
                </div>
                <article>
                    <h6>My skin returned to life!</h6>
                    <p>“I just turned 57 years. My skin was extremely dry and while using this product my skin RETURNED to LIFE! I am so impressed with it! My Coworkers ask me what I use in my skin.. and I tell them. Product easy to use and the needles are better that using a pen for microneedling. This is an amazing product that you will not regret in purchasing it. I really see the change in my skin. Outstanding job QURE!”</p>
                </article>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="c-trusted-review-card">
                <picture>
                    <img src="sections/isolated/review-slider/images/mona-p.webp" alt="Fade after just two treatments" />
                </picture>
                <div class="e-author">
                    <img src="sections/isolated/review-slider/images/america_f.webp" alt="Mona P." />
                    Mona P.
                </div>
                <div class="e-verified-customer">
                    <div class="e-checkmark"></div>
                    Verified customer
                </div>
                <article>
                    <h6>Fade after just two treatments</h6>
                    <p>“I personally think my products absorbed better, my skin looks a bit brighter and that larger acne scar on my right cheek has started to fade after just TWO treatments!”</p>
                </article>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="c-trusted-review-card">
                <picture>
                    <img src="sections/isolated/review-slider/images/andrea.webp" alt="Definitely be re-ordering" />
                </picture>
                <div class="e-author">
                    <img src="sections/isolated/review-slider/images/america_f.webp" alt="Andrea G." />
                    Andrea G.
                </div>
                <div class="e-verified-customer">
                    <div class="e-checkmark"></div>
                    Verified customer
                </div>
                <article>
                    <h6>Definitely be re-ordering</h6>
                    <p>“Still a newbie but so far so great! I have dermarolled for more than a decade -still do with .25 at least one a week. I’ve avoided getting a pen because there’s so much involved- but the Qure system is just awesome. So easy and user friendly and my skin loves the serum! Doing my third treatment Saturday and will definitely be re-ordering 🤗</p>
                </article>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="c-trusted-review-card">
                <picture>
                    <img src="sections/isolated/review-slider/images/jessica-k.webp" alt="Thrilled with the results!" />
                </picture>
                <div class="e-author">
                    <img src="sections/isolated/review-slider/images/america_f.webp" alt="Jessica K." />
                    Jessica K.
                </div>
                <div class="e-verified-customer">
                    <div class="e-checkmark"></div>
                    Verified customer
                </div>
                <article>
                    <h6>Thrilled with the results!</h6>
                    <p>"I have been using the mask & microneedling for 6 weeks & am truly impressed with the results. I have noticed a dramatic reduction in redness, an improvement in my dark spots, scars & overall skin tone & firmness, and a smoothing of fine lines & wrinkles."</p>
                </article>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="c-trusted-review-card">
                <picture>
                    <img src="sections/isolated/review-slider/images/ela-o.webp" alt="Shocked at the results" />
                </picture>
                <div class="e-author">
                    <img src="sections/isolated/review-slider/images/america_f.webp" alt="Ela O." />
                    Ela O.
                </div>
                <div class="e-verified-customer">
                    <div class="e-checkmark"></div>
                    Verified customer
                </div>
                <article>
                    <h6>Shocked at the results</h6>
                    <p>“Shocked at the results after just one treatment! I’m not one to usually leave reviews... but I was shocked at how my skin looked the morning after my first treatment! Texture was soooo much smoother, my skin looked clear, glowy and healthy. The system was so easy to use and I can’t wait until my next treatment.”</p>
                </article>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="c-trusted-review-card">
                <picture>
                    <img src="sections/isolated/review-slider/images/shelly.webp" alt="Looking better and better" />
                </picture>
                <div class="e-author">
                    <img src="sections/isolated/review-slider/images/america_f.webp" alt="Shelly S." />
                    Shelly S.
                </div>
                <div class="e-verified-customer">
                    <div class="e-checkmark"></div>
                    Verified customer
                </div>
                <article>
                    <h6>Looking better and better</h6>
                    <p>“I have used the Qure Micro- Infusion System for 3 monthly treatments. The results are clearer, plumper and firmer skin. With further treatments I am looking forward to looking better and better.”</p>
                </article>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="c-trusted-review-card">
                <picture>
                    <img src="sections/isolated/review-slider/images/chelsea.webp" alt="Amazing results!" />
                </picture>
                <div class="e-author">
                    <img src="sections/isolated/review-slider/images/america_f.webp" alt="Chelsea J." />
                    Chelsea J.
                </div>
                <div class="e-verified-customer">
                    <div class="e-checkmark"></div>
                    Verified customer
                </div>
                <article>
                    <h6>Amazing results!</h6>
                    <p>"Amazing results. I am just in shock at how great my skin is looking. This stuff has been amazing for hyperpigmentation and also some hormonal cystic acne. I will be continuing to support this business because it has brought the skin I know back. I was at my wits end with a hormonal breakout and bad hyperpigmentation."</p>
                </article>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="c-trusted-review-card">
                <picture>
                    <img src="sections/isolated/review-slider/images/akina.webp" alt="It really works!!" />
                </picture>
                <div class="e-author">
                    <img src="sections/isolated/review-slider/images/america_f.webp" alt="Akina M." />
                    Akina M.
                </div>
                <div class="e-verified-customer">
                    <div class="e-checkmark"></div>
                    Verified customer
                </div>
                <article>
                    <h6>It really works!!</h6>
                    <p>“I used three time so far. I can see the results from first time I used. I love this product but only thing is it’s take time to apply till used all serum per application. I tried many different way to press to my skin so the serum come out more but then a lot of time not.”</p>
                </article>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="c-trusted-review-card">
                <picture>
                    <img src="sections/isolated/review-slider/images/jess.webp" alt="It really works!!" />
                </picture>
                <div class="e-author">
                    <img src="sections/isolated/review-slider/images/america_f.webp" alt="Jess" />
                    Jess
                </div>
                <div class="e-verified-customer">
                    <div class="e-checkmark"></div>
                    Verified customer
                </div>
                <article>
                    <h6>It really works!!</h6>
                    <p>“I committed to the 3 month saver bundle and after 6 treatments (2 weeks apart) I’m SO happy with the results!!! My pores are smaller and I have mainly noticed a difference in my skin texture. My skin goes a little red straight after the treatment but that quickly goes away. It’s a little uncomfortable when I do it on my forehead but it’s fine everywhere else. Totally worth it!!!”</p>
                </article>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="c-trusted-review-card">
                <picture>
                    <img src="sections/isolated/review-slider/images/priya.webp" alt="Plumper, more hydrated!" />
                </picture>
                <div class="e-author">
                    <img src="sections/isolated/review-slider/images/england_f.webp" alt="Priya P." />
                    Priya P.
                </div>
                <div class="e-verified-customer">
                    <div class="e-checkmark"></div>
                    Verified customer
                </div>
                <article>
                    <h6>Plumper, more hydrated!</h6>
                    <p>“After the first use of EGF, my skin was plumper, more hydrated and skin tone improved radically, literally the next day. Love this product, will definitely be purchasing more as its really helped smooth out the fine lines also”</p>
                </article>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="c-trusted-review-card">
                <picture>
                    <img src="sections/isolated/review-slider/images/Jennifer_1_treatment.webp" alt="Works better than I imagined!" />
                </picture>
                <div class="e-author">
                    <img src="sections/isolated/review-slider/images/america_f.webp" alt="Jennifer N." />
                    Jennifer N.
                </div>
                <div class="e-verified-customer">
                    <div class="e-checkmark"></div>
                    Verified customer
                </div>
                <article>
                    <h6>Works better than I imagined!</h6>
                    <p>“I am really stunned by how well this product works. I have had professional micro-needling and I wanted the benefits without the downtime. I did my treatment, went to bed and woke up the next morning and was ready to go. My skin looks better than it has in years.”</p>
                </article>
            </div>
        </div>
    {{/trusted-reviews }}

    {{#> complete-system
        title="Complete the Qure system"
    }}
        <ol class="complete-system__scale c-swiper-steps">
            <li><span>Restrict</span></li>
            <li><span>Revive</span></li>
            <li><span>Ready</span></li>
            <li><span>Rejuvenate</span></li>
        </ol>
        <div class="complete-system__items">
            <div
                class="c-swiper"
                data-swiper='{
                    "slidesPerView": 1.4,
                    "spaceBetween": 16,
                    "loop": false,
                    "pagination": {
                        "el": ".c-swiper-pagination",
                        "type": "custom"
                    },
                    "navigation": {
                        "prevEl": ".c-swiper-button-prev",
                        "nextEl": ".c-swiper-button-next"
                    },
                    "steps-selector": ".c-swiper-steps",
                    "watchSlidesProgress": true,
                    "breakpoints": {
                        "768": {
                            "slidesPerView": 2,
                            "spaceBetween": 24
                        },
                        "992": {
                            "slidesPerView": 4
                        }
                    }
                }'
            >
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        {{> c-product-tile
                            image="sections/new/complete-system/images/faucet-filter.webp"
                            image-hover="/sections/new/complete-system/images/faucet-filter-hover.webp"
                            reviews="28"
                            name="Faucet Filter"
                            desc="Cleanse with filtered water to help reduce potential irritants and remove unwanted impurities from your skin and water."
                            day=true
                            night=true
                        }}
                    </div>
                    <div class="swiper-slide">
                        {{> c-product-tile
                            image="sections/new/complete-system/images/led-mask.webp"
                            image-hover="/sections/new/complete-system/images/led-mask-hover.webp"
                            reviews="283"
                            name="Q-Rejuvalight Pro LED Mask"
                            desc="Daily multi wavelength LED treatment helps calm the skin and support the natural recovery process after treatments."
                            day=true
                            night=true
                        }}
                    </div>
                    <div class="swiper-slide">
                        {{> c-product-tile
                            image="sections/new/complete-system/images/dermal-mist.webp"
                            image-hover="/sections/new/complete-system/images/dermal-mist-hover.webp"
                            reviews="72"
                            name="Dermal Mist"
                            desc="Kills bacteria and prepares skin for a safer Micro-Infusion treatment."
                            day=true
                            night=true
                        }}
                    </div>
                    <div class="swiper-slide">
                        {{> c-product-tile
                            image="sections/new/complete-system/images/micro-infusion.webp"
                            image-hover="/sections/new/complete-system/images/micro-infusion-hover.webp"
                            reviews="196"
                            name="Micro-Infusion"
                            desc="Activates your skin’s renewal process and helps improve the look of fine lines, texture, and uneven tone."
                            day=false
                            night=true
                        }}
                    </div>
                </div>
                <div class="c-swiper-nav">
                    <button class="c-swiper-button-prev"></button>
                    <div class="c-swiper-pagination"></div>
                    <button class="c-swiper-button-next"></button>
                </div>
            </div>
        </div>
    {{/complete-system }}

    {{#> base-section
        classes="base-section--small-media"
        title="Trusted and Recommended by Experts"
        video='[
            {
                "url": "https://www.youtube.com/watch?v=mVdncsTAXiA",
                "picture": "sections/isolated/experts/images/dr_shah_max_clean.webp",
                "label-main": "Dr. Shah & Dr. Maxfield",
                "label-secondary": "Board Certified Dermatologists"
            }
        ]'
        pill-badge=true
    }}
        <p>“This treatment is an at-home option for those who want to <em>avoid the hassle or cost of going to the office</em>”.</p>
    {{/base-section }}

    {{#> base-slider
        classes="base-slider--tree-cards"
        title=""
    }}
        <div
            class="c-swiper"
            data-swiper='{
                "slidesPerView": 1.1,
                "spaceBetween": 13,
                "loop": false,
                "pagination": {
                    "el": ".c-swiper-pagination",
                    "type": "custom"
                },
                "navigation": {
                    "prevEl": ".c-swiper-button-prev",
                    "nextEl": ".c-swiper-button-next"
                },
                "breakpoints": {
                    "768": {
                        "slidesPerView": 2
                    },
                    "1200": {
                        "slidesPerView": 3,
                        "spaceBetween": 16
                    }
                }
            }'
        >
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="c-trusted-video-card">
                        <picture
                            class="filter-card-video"
                            data-bs-toggle="modal"
                            data-bs-target="#reusableWistiaModal"
                            data-video-id="rehxqby0fq"
                        >
                            <img src="sections/isolated/trusted-video/images/home-trusted_img_1.webp" alt="Dr. Alekandra Brown" />
                        </picture>
                        <article>
                            <p>"I like using this between my in-office treatments and it's easy to use, even for beginners." </p>
                            <div>
                                <p>Dr. Alekandra Brown</p>
                                <p><span class="e-checkmark"></span> Board-Certified Dermatologist</p>
                            </div>
                        </article>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="c-trusted-video-card">
                        <picture
                            data-bs-toggle="modal"
                            data-bs-target="#reusableWistiaModal"
                            data-video-id="ug1o3j3d8w"
                        >
                            <img src="sections/isolated/trusted-video/images/trusted_img_5.webp" alt="Dr. Lindsey Zubritsky" />
                        </picture>
                        <article>
                            <p>"After just a few uses my wrinkles look less visible and my skin brighter and smoother."</p>
                            <div>
                                <p>Dr. Lindsey Zubritsky</p>
                                <p><span class="e-checkmark"></span> Board-Certified Dermatologist</p>
                            </div>
                        </article>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="c-trusted-video-card">
                        <picture
                            data-bs-toggle="modal"
                            data-bs-target="#reusableWistiaModal"
                            data-video-id="wbf95ywhx4"
                        >
                            <img src="sections/isolated/trusted-video/images/trusted_img_6.webp" alt="Dr. Alexis Stephens" />
                        </picture>
                        <article>
                            <p>"You can get a clinical treatment at home safely and conveniently... and it's particularly beneficial for those with melanin-rich skin"</p>
                            <div>
                                <p>Dr. Alexis Stephens</p>
                                <p><span class="e-checkmark"></span> Internal Medicine Doctor</p>
                            </div>
                        </article>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="c-trusted-video-card">
                        <picture
                            data-bs-toggle="modal"
                            data-bs-target="#reusableWistiaModal"
                            data-video-id="gzba345nd4"
                        >
                            <img src="sections/isolated/trusted-video/images/trusted_img_9.webp" alt="Dr. Prem Tripati" />
                        </picture>
                        <article>
                            <p>"With Qure's Micro-Infusion System - consistency is key."</p>
                            <div>
                                <p>Dr. Prem Tripati</p>
                                <p><span class="e-checkmark"></span> Facial Plastic Surgeon</p>
                            </div>
                        </article>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="c-trusted-video-card">
                        <picture
                            data-bs-toggle="modal"
                            data-bs-target="#reusableWistiaModal"
                            data-video-id="ypvcdsgwkx"
                        >
                            <img src="sections/isolated/trusted-video/images/trusted_img_8.webp" alt="Dr. Wallace Nozile" />
                        </picture>
                        <article>
                            <p>"One of the best ways to treat hyperpigmentation at home."</p>
                            <div>
                                <p>Dr. Wallace Nozile</p>
                                <p><span class="e-checkmark"></span> Board-Certified Dermatologist</p>
                            </div>
                        </article>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="c-trusted-video-card">
                        <picture
                            data-bs-toggle="modal"
                            data-bs-target="#reusableWistiaModal"
                            data-video-id="3bud7no0j9"
                        >
                            <img src="sections/isolated/trusted-video/images/trusted_img_7.webp" alt="Dr. Davin Lim" />
                        </picture>
                        <article>
                            <p>"With Micro-Infusion, you get to see the results almost instantly."</p>
                            <div>
                                <p>Dr. Davin Lim</p>
                                <p><span class="e-checkmark"></span> Board-Certified Dermatologist</p>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
            <div class="c-swiper-nav">
                <button class="c-swiper-button-prev"></button>
                <div class="c-swiper-pagination"></div>
                <button class="c-swiper-button-next"></button>
            </div>
        </div>
    {{/base-slider }}

    {{> features-marquee }}

    {{#> science-backed
        title="Science-Backed Micro-Infusion Serums"
        text="
            <p>Choose the exact serum to use in your Micro-Infusion treatment, or get both and mix them together to experience a complete set of benefits that addresses your specific skin concerns.</p>
        "
    }}
        <div class="science-backed__data">
            <img src="sections/isolated/serum/images/dark-serum.webp" alt="" />
            <h4>For Dark Spots</h4>
            <ul>
                <li>
                    {{> e-icon icon="perfect-transforming" }}
                    Brightens look of skin
                </li>
                <li>
                    {{> e-icon icon="two-in-one" }}
                    Reduces look of dark spots
                </li>
                <li>
                    {{> e-icon icon="even-looking" }}
                    Even-looking tone
                </li>
            </ul>
            {{> c-accordion
                type="lines"
                list='[
                    {
                        "summary": "What can it do for your skin",
                        "text": "
                            <p>Helps reveal a smoother-looking, more radiant complexion. Formulated to help improve the appearance of dark spots and uneven tone for skin that looks refreshed and luminous.</p>
                            <p><strong>Skin Concerns:</strong> Ideal for skin that appears uneven in tone or texture and shows visible dark spots or post-blemish marks.</p>
                        "
                    },
                    {
                        "summary": "All Ingredients",
                        "text": "
                            <p><strong>Epidermal Growth Factor (EGF):</strong> A science-backed ingredient known to support the look of smoother, hydrated, and more refreshed skin. Helps visibly reduce the look of fine lines and uneven tone.</p>
                            <p><strong>Niacinamide:</strong> A multi-benefit vitamin known to help improve the look of uneven tone, minimize visible pores, and support smoother-looking skin.</p>
                            <p><strong>Tranexamic Acid:</strong> A brightening ingredient that helps visibly improve the look of dark spots, uneven tone, and dullness.</p>
                            <p><strong>All ingredients:</strong><br /> Rosa Damascena Flower Water, Propanediol, Glycerin, Tranexamic Acid, Niacinamide, Panthenol, Chrysanthellum Indicum Extract, Ethylhexylglycerin, Tripeptide-1, Xanthan Gum, Allantoin, Sh-Oligopeptide-1.</p>
                            <small>Please note that due to innovative updates and changing regulatory guidelines, the ingredient lists provided here may differ slightly from those on our packaging and distributor websites.</small>
                        "
                    }
                ]'
            }}
            <div class="quote">
                <div class="e-rating-stars" style="--rating: 4.5;"></div>
                <p>“I’m obsessed with this thing, my dark spots have faded within a few days, my fine lines also... wow!”</p>
                <div class="e-author">
                    <img src="sections/isolated/review-slider/images/america_f.webp" alt="Jessie Hardy" />
                    Jessie Hardy
                </div>
                <small>Verified customer</small>
            </div>
        </div>
        <div class="science-backed__or">or</div>
        <div class="science-backed__data">
            <img src="sections/isolated/serum/images/wrinkle-serum.webp" alt="" />
            <h4>For Wrinkles</h4>
            <ul>
                <li>
                    {{> e-icon icon="smooths" }}
                    Smooths fine lines
                </li>
                <li>
                    {{> e-icon icon="calms-redness" }}
                    Calms visible redness
                </li>
                <li>
                    {{> e-icon icon="deeply-hydrates" }}
                    Deeply hydrates
                </li>
            </ul>
            {{> c-accordion
                type="lines"
                list='[
                    {
                        "summary": "What can it do for your skin",
                        "text": "
                            <p>Delivers lasting hydration to leave skin looking plumper, smoother, and refreshed. Helps reduce the look of fine lines and wrinkles while supporting visibly calm, balanced, and supple-feeling skin.</p>
                            <p><strong>Skin Concerns:</strong> Ideal for skin that appears dry, dull, or shows visible signs of aging such as fine lines, uneven tone, and temporary redness.</p>
                        "
                    },
                    {
                        "summary": "All Ingredients",
                        "text": "
                            <p><strong>Beta Glucan:</strong> A deeply hydrating ingredient that helps the skin feel soothed, soft, and supple. Supports the look of a healthy skin barrier.</p>
                            <p><strong>GHK-Cu (Copper Peptide):</strong> A peptide complex known to help improve the appearance of firmness and smoothness for youthful-looking skin. Gives the serum its signature blue hue.</p>
                            <p><strong>Sodium Hyaluronate:</strong> A powerful hydrator that helps the skin feel supple, moisturized, and visibly smoother.</p>
                            <p><strong>All ingredients:</strong><br /> Rosa Damascena Flower Water, Propanediol, Glycerin, Panthenol, Niacinamide, Myrothamnus Flabellifolia Leaf/Stem Extract, Water, Butylene Glycol, Hydroxyacetophenone, Copper Tripeptide-1, Beta-Glucan, Chrysanthellum Indicum Extract, Ethylhexylglycerin, Sodium Hyaluronate, Allantoin, Xanthan Gum.</p>
                            <small>Please note that due to innovative updates and changing regulatory guidelines, the ingredient lists provided here may differ slightly from those on our packaging and distributor websites.</small>
                        "
                    }
                ]'
            }}
            <div class="quote">
                <div class="e-rating-stars" style="--rating: 4.5;"></div>
                <p>“I’m obsessed with this thing, my dark spots have faded within a few days, my fine lines also... wow!”</p>
                <div class="e-author">
                    <img src="sections/isolated/review-slider/images/australia_f.webp" alt="Monika Jansen" />
                    Monika Jansen
                </div>
                <small>Verified customer</small>
            </div>
        </div>
    {{/science-backed}}

    {{#> base-slider
        title="Confident skin starts here"
    }}
        <div
            class="c-swiper"
            data-swiper='{
                "slidesPerView": 1.2,
                "spaceBetween": 16,
                "loop": false,
                "pagination": {
                    "el": ".c-swiper-pagination",
                    "type": "custom"
                },
                "navigation": {
                    "prevEl": ".c-swiper-button-prev",
                    "nextEl": ".c-swiper-button-next"
                },
                "breakpoints": {
                    "480": {
                        "slidesPerView": 2.2
                    },
                    "768": {
                        "slidesPerView": 4
                    }
                }
            }'
        >
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="wistia-embed-video">
                        <div class="wistia_responsive_padding">
                            <div class="wistia_responsive_wrapper">
                                <div class="wistia_embed wistia_async_zs3ddb0qly popover=true seo=false videoFoam=true">
                                    <div class="wistia_swatch">
                                        <img
                                            src="https://fast.wistia.com/embed/medias/zs3ddb0qly/swatch"
                                            alt="Wistia video thumbnail"
                                            style="filter: blur(5px);"
                                        />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="wistia-embed-video">
                        <div class="wistia_responsive_padding">
                            <div class="wistia_responsive_wrapper">
                                <div class="wistia_embed wistia_async_v5e5op6ap7 popover=true seo=false videoFoam=true">
                                    <div class="wistia_swatch">
                                        <img
                                            src="https://fast.wistia.com/embed/medias/v5e5op6ap7/swatch"
                                            alt="Wistia video thumbnail"
                                            style="filter: blur(5px);"
                                        />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="wistia-embed-video">
                        <div class="wistia_responsive_padding">
                            <div class="wistia_responsive_wrapper">
                                <div class="wistia_embed wistia_async_zhb1w8ise9 popover=true seo=false videoFoam=true">
                                    <div class="wistia_swatch">
                                        <img
                                            src="https://fast.wistia.com/embed/medias/zhb1w8ise9/swatch"
                                            alt="Wistia video thumbnail"
                                            style="filter: blur(5px);"
                                        />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="wistia-embed-video">
                        <div class="wistia_responsive_padding">
                            <div class="wistia_responsive_wrapper">
                                <div class="wistia_embed wistia_async_opfbh936fc popover=true seo=false videoFoam=true">
                                    <div class="wistia_swatch">
                                        <img
                                            src="https://fast.wistia.com/embed/medias/opfbh936fc/swatch"
                                            alt="Wistia video thumbnail"
                                            style="filter: blur(5px);"
                                        />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="wistia-embed-video">
                        <div class="wistia_responsive_padding">
                            <div class="wistia_responsive_wrapper">
                                <div class="wistia_embed wistia_async_nei98l696b popover=true seo=false videoFoam=true">
                                    <div class="wistia_swatch">
                                        <img
                                            src="https://fast.wistia.com/embed/medias/nei98l696b/swatch"
                                            alt="Wistia video thumbnail"
                                            style="filter: blur(5px);"
                                        />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="wistia-embed-video">
                        <div class="wistia_responsive_padding">
                            <div class="wistia_responsive_wrapper">
                                <div class="wistia_embed wistia_async_jcgxarsfbj popover=true seo=false videoFoam=true">
                                    <div class="wistia_swatch">
                                        <img
                                            src="https://fast.wistia.com/embed/medias/jcgxarsfbj/swatch"
                                            alt="Wistia video thumbnail"
                                            style="filter: blur(5px);"
                                        />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="c-swiper-nav">
                <button class="c-swiper-button-prev"></button>
                <div class="c-swiper-pagination"></div>
                <button class="c-swiper-button-next"></button>
            </div>
        </div>
    {{/base-slider }}

    {{#> text-section
        classes="text-section--guide"
     }}
        <h5>Is this your kind of skincare ritual?</h5>
        <p>Take a look at our Micro-Infusion safety protocols and treatment instructions.</p>
        <a class="btn btn--primary" href="#">See Detailed Guide {{> e-icon icon="arrow" }}</a>
    {{/text-section}}

    {{#> set-up }}
        <picture
            data-bs-toggle="modal"
            data-bs-target="#reusableWistiaModal"
            data-video-id="8ymvdqzx92"
        >
            <source media="(min-width:768px)" srcset="sections/new/set-up/images/mi-use-video.webp" />
            <img src="sections/new/set-up/images/mi-use-video-mob.webp" alt="See how quick and easy it is to use" />
        </picture>
        <h2>See how quick and easy it is to use</h2>
        <ol>
            <li>
                <picture>
                    <source media="(min-width:768px)" srcset="sections/new/set-up/images/mi-use-step-1.webp" />
                    <img src="sections/new/set-up/images/mi-use-step-1-mob.webp" alt="Cleanse" />
                </picture>
                <h6>Cleanse</h6>
                <p>Cleanse your face thoroughly and spritz the <a href="#">Dermal Mist</a> to refresh and prepare your skin further.</p>
            </li>
            <li>
                <picture>
                    <source media="(min-width:767px)" srcset="sections/new/set-up/images/mi-use-step-2.webp" />
                    <img src="sections/new/set-up/images/mi-use-step-2-mob.webp" alt="Prepare" />
                </picture>
                <h6>Prepare</h6>
                <p>Twist off the cap of the serum vial and screw on the sterile needle head.</p>
            </li>
            <li>
                <picture>
                    <source media="(min-width:767px)" srcset="sections/new/set-up/images/mi-use-step-3.webp">
                    <img src="sections/new/set-up/images/mi-use-step-3-mob.webp" alt="Treat" />
                </picture>
                <h6>Treat</h6>
                <p>Remove the cap and stamp gently across your face using light pressure, working section-by-section.</p>
            </li>
        </ol>
    {{/set-up}}

    {{#> comparison-table
        title="Give yourself a Clinic Quality glow up without the Clinical Prices"
        labels='[
            {
                "name": "Results in",
                "colorize": false
            },
            {
                "name": "Customized",
                "colorize": false
            },
            {
                "name": "Skin Safe",
                "colorize": true
            },
            {
                "name": "Cost",
                "colorize": false
            }
        ]'
    }}
        <div class="swiper-slide">
            <article>
                <picture>
                    <img src="sections/isolated/serum-compare/images/micro-infusion-system.webp" alt="Qure Micro-Infusion System" />
                </picture>
                <h5>Qure<br /> Micro-Infusion System</h5>
                <ul>
                    <li>{{> e-icon icon="checkmark-fill"}} <span>As little as 1-2 days</span></li>
                    <li>{{> e-icon icon="checkmark-fill"}} <span>Tailored to your needs</span></li>
                    <li>{{> e-icon icon="checkmark-fill"}} <span>Minimal downtime</span></li>
                    <li>{{> e-icon icon="checkmark-fill"}} <span>&lt; $20 per treatment</span></li>
                </ul>
            </article>
        </div>
        <div class="swiper-slide">
            <article>
                <picture>
                    <img src="sections/isolated/serum-compare/images/clinic-treatment.webp" alt="Micro-Infusion Clinic Treatment" />
                </picture>
                <h5>Micro-Infusion<br /> Clinic Treatment</h5>
                <ul>
                    <li>{{> e-icon icon="checkmark-fill"}} <span>As little as 1-2 days</span></li>
                    <li>{{> e-icon icon="checkmark-fill"}} <span>Tailored to your needs</span></li>
                    <li>{{> e-icon icon="checkmark-fill"}} <span>Minimal downtime</span></li>
                    <li>{{> e-icon icon="cross-fill"}} <span>$300+ per treatment</span></li>
                </ul>
            </article>
        </div>
        <div class="swiper-slide">
            <article>
                <picture>
                    <img src="sections/isolated/serum-compare/images/home-treatment.webp" alt="Derma Roller At-Home Treatment" />
                </picture>
                <h5>Derma Roller<br /> At-Home Treatment</h5>
                <ul>
                    <li>{{> e-icon icon="cross-fill"}} <span>A few days</span></li>
                    <li>{{> e-icon icon="cross-fill"}} <span>Not customized</span></li>
                    <li>{{> e-icon icon="cross-fill"}} <span>Potential side effects</span></li>
                    <li>{{> e-icon icon="checkmark-fill"}} <span>&lt; $10 per treatment</span></li>
                </ul>
            </article>
        </div>
    {{/comparison-table }}

    {{#> comparison
        title="Typically more effective and safer than other at-home needling devices"
        picture-first="sections/isolated/eye-patches/images/mist_img_3.webp"
        picture-second="sections/isolated/eye-patches/images/mist_img_4.webp"
        name-first="Qure Micro-Infusion System"
        name-second="Other At-Home Needling Devices"
        list-first='[
            "Stamping doesn’t over-damage skin",
            "Little to no downtime & quick recovery",
            "New needle heads provide sharp, straight needles for every treatment - designed for better efficacy",
            "Minimized risk of infection due to disposable heads",
            "Applies serum onto the skin to enhance absorption and visible results"
        ]'
        list-second='[
            "Rolling can cause damage to skin",
            "Slower recovery & longer healing time",
            "Needles become blunt after several uses & may cause unnecessary irritation which can affect results",
            "Risk of infection & irritation if not disinfected well",
            "Less effective absorption of serum as applied topically"
        ]'
        declaimer="*Based on laboratory testing under controlled conditions. Performance may vary depending on water quality and usage."
    }}
        <p>Unlike at-home needle roller devices, Micro-Infusion requires little to no downtime, is virtually painless, and minimizes risk of&nbsp;infection and irritation.</p>
    {{/comparison }}

    {{#> treatment
        classes="treatment--announcement"
        id="purchase-form"
        announcement="Available until stocks last!"
        title="Choose your treatment"
        text="
            <p>All orders are one-time purchases. No extra charges, and no hidden fees.</p>
        "
        picture="sections/isolated/archive/images/mi-men.webp"
        features-list='[
            {
                "text": "Dermatologist Reviewed",
                "icon": "reviewed"
            },
            {
                "text": "Free Shipping over {$dyn}",
                "icon": "shipping-order"
            },
            {
                "text": "Backed by Science",
                "icon": "proven"
            }
        ]'
     }}
        <div class="treatment__steps">
            <div class="treatment__step">
                {{> c-options-selector
                    title="Select Your Serum"
                    list='[
                        {
                            "img": "sections/isolated/micro-infusion-pdp/images/serum_1.webp",
                            "name": "Dark Spots",
                            "option": "serum-treatment",
                            "checked": true
                        },
                        {
                            "img": "sections/isolated/micro-infusion-pdp/images/serum_2.webp",
                            "name": "Wrinkles",
                            "option": "serum-treatment"
                        },
                        {
                            "img": "sections/isolated/micro-infusion-pdp/images/serum_3.webp",
                            "name": "Mixed",
                            "option": "serum-treatment"
                        }
                    ]'
                }}
            </div>
            <div class="treatment__step">
                {{> c-supply-selector
                    classes=""
                    title="Select Your Supply"
                    list='[
                        {
                            "image": "sections/isolated/micro-infusion-pdp/images/3_month_mixed.webp",
                            "name": "3 Months Supply",
                            "desc": "6 Micro-Infusion treatments",
                            "price-old": true,
                            "price-final": true,
                            "price-strikethrough": true,
                            "price-highlight": false,
                            "tag-up": true,
                            "tag-name": "Best Value <i class=\"e-icon e-icon-rating-fill\"></i>",
                            "option": "supply-treatment",
                            "checked": true
                        },
                        {
                            "image": "sections/isolated/micro-infusion-pdp/images/2_month_mixed.webp",
                            "name": "2 Months Supply",
                            "desc": "4 Micro-Infusion treatments",
                            "price-old": true,
                            "price-final": true,
                            "price-strikethrough": true,
                            "price-highlight": false,
                            "option": "supply-treatment"
                        },
                        {
                            "image": "sections/isolated/micro-infusion-pdp/images/1_month_mixed.webp",
                            "name": "1 Months Supply",
                            "desc": "2 Micro-Infusion treatments",
                            "price-old": true,
                            "price-final": true,
                            "price-strikethrough": true,
                            "price-highlight": false,
                            "option": "supply-treatment"
                        }
                    ]'
                }}
            </div>
            <div class="treatment__step">
                {{> c-payment-selector
                    title="Select A Payment Option"
                    list='[
                        {
                            "name": "Pay in full",
                            "old-price": true,
                            "option": "payment",
                            "checked": true,
                            "text": "One-time payment with:",
                            "image": "assets/images/payment-icons-1.svg",
                            "checked": true
                        },
                        {
                            "name": "Pay today only",
                            "option": "payment",
                            "text": "Monthly interest-free payments with:",
                            "image": "assets/images/payment-icons-2.svg"
                        }
                    ]'
                }}
            </div>
        </div>
    {{/treatment}}

    {{> have-questions
        list='[
            {
                "summary": "What are the benefits of Micro-Infusion?",
                "text": "
                    <p>The stamping action of the Micro-Infusion device creates tiny micro-channels on the surface of the skin, helping to enhance the absorption of active ingredients and visibly refresh the complexion.</p>
                    <p>The serum you choose during your Micro-Infusion treatment will deliver visible results over time. Very fine needles help apply concentrated ingredients exactly where they’re needed to target specific skin concerns with precision.</p>
                    <p>You can switch up your treatments or even mix the two serums together!</p>
                    <p>Visible benefits of Micro-Infusion may include:</p>
                    <ul>
                        <li>More even-looking skin tone and texture</li>
                        <li>Glowing, refreshed-looking complexion</li>
                        <li>Softer-looking fine lines</li>
                        <li>Skin that feels renewed and rejuvenated</li>
                    </ul>
                "
            },
            {
                "summary": "How quickly will I see results?",
                "text": "
                    <p>Micro-Infusion treatment is an effective skin-boosting step, and many users report a visible radiance boost, glowy-looking complexion, and skin that feels more hydrated within a day or two after their first treatment.</p>
                    <p>The more consistently you use the treatment, the more visible improvements you’ll likely notice over time. This easy-at-home facial is perfect to use a day or two before a big event, when you want your complexion to look and feel refreshed.</p>
                    <p>Don’t forget to keep up with your everyday skincare routine to help maintain the results of your Micro-Infusion treatment and keep your skin looking its best long-term.</p>
                "
            },
            {
                "summary": "Timeline of Visible Results",
                "text": "
                    <p>After 1–2 Treatments (Weeks 1–4):</p>
                    <ul>
                        <li>Typically users experience mild redness post-treatment – this is a normal response!</li>
                        <li>Skin looks more hydrated, plumped, and refreshed.</li>
                        <li>Complexion appears smoother and more radiant.</li>
                    </ul>
                    <p>After 4 Treatments (Around 8 Weeks):</p>
                    <ul>
                        <li>Fine lines begin to appear softened.</li>
                        <li>Skin tone looks more even and bright.</li>
                        <li>Hydration feels longer-lasting.</li>
                    </ul>
                    <p>After 6+ Treatments (12 Weeks and Beyond):</p>
                    <ul>
                        <li>Complexion looks clearer and more balanced.</li>
                        <li>Skin feels firmer with improved elasticity.</li>
                        <li>Texture appears smoother and more refined.</li>
                        <li>Overall skin looks more resilient and youthful.</li>
                    </ul>
                "
            },
            {
                "summary": "Is it painful to use?",
                "text": "
                    <p>You can expect minimal discomfort and maximum results with Qure’s Micro-Infusion System.</p>
                    <p>Although the needles themselves are finer than most at-home needling systems (making it more comfortable), the ultra-fine tips are thinner than a human hair, so you’ll feel only a mild sensation during treatment.</p>
                    <p>During the initial stages of use, you may experience a slight sensation or pricking feeling as the needles make contact with the skin, but you’ll quickly get used to the feeling.</p>
                "
            },
            {
                "summary": "How often can I use the treatment?",
                "text": "
                    <p>We recommend performing a Micro-Infusion treatment every 2 weeks for best results.</p>
                "
            },
            {
                "summary": "When is the best time to do Micro-Infusion?",
                "text": "
                    <p>We recommend doing the treatment at night before bed. Avoid being in the sun and using makeup for 24 hours after treatment. For more information on post-treatment care, visit our safety guide.</p>
                "
            },
            {
                "summary": "Can I use it around the eyes and on the neck?",
                "text": "
                    <p>Yes, you can use Micro-Infusion around the eye area to help smooth crow’s feet. Just ensure to apply a very gentle pressure and only do one pass. Monitor your skin accordingly as everyone’s skin is different.</p>
                    <p>Performing Micro-Infusion on the neck can help improve the look of fine lines and rejuvenate the skin’s appearance. It can target issues such as neck creases, horizontal lines, and age-related skin concerns to help enhance the overall texture, tone, and look of this area.</p>
                "
            },
            {
                "summary": "Can I use a different serum with the Micro-Infusion device?",
                "text": "
                    <p>No — only use the provided Qure serum with your Micro-Infusion Device.</p>
                    <p>Please keep in mind that not all serums are suitable for Micro-Infusion. Some may cause irritation and should be avoided. Our serums and ampoules are specifically developed for Qure’s Micro-Infusion System, with gentle, fragrance-free formulas designed with care for all skin types.</p>
                "
            },
            {
                "summary": "How is this different to micro-rolling?",
                "text": "
                    <p>Micro-Infusion focuses on improving the skin’s appearance by creating micro-channels on the skin’s surface. It does not alter or affect skin structure or function.</p>
                    <p>With Micro-Infusion, you not only enjoy the visible benefits of micro-needling, but also deliver science-backed ingredients to targeted areas with precision — helping the skin appear smoother and more radiant.</p>
                "
            },
            {
                "summary": "Tranexamic Acid Notice",
                "text": "
                    <p>If you live in Australia, you may receive a notice from Border Force regarding tranexamic acid (TXA) in your order. Here’s what you need to know:</p>
                    <p>In Australia, TXA is classified as a Schedule 4 (prescription-only) drug only when used orally or by injection for treating melasma or other medical conditions. However, <strong>topical TXA in cosmetic formulations is permitted.</strong></p>
                    <p>Our serums are purely for cosmetic use and do not claim to treat medical conditions. They are applied topically (not injected) and are classified as a cosmetic product rather than a prescription medicine.</p>
                    <p>Our products are compliant with Australian regulations. Facial serums containing up to 3% TXA for cosmetic purposes are not classified as prescription-only medicines and do not require inclusion in the Australian Register of Therapeutic Goods (ARTG).</p>
                    <p>If Border Force requires clarification, you can provide the information above to confirm that the product complies with Australian regulations. If further details are needed, they can refer to the Therapeutic Goods Administration (TGA) guidelines on cosmetic formulations.</p>
                    <p>If you need further assistance, feel free to <a href=\"#\">contact our support team</a> — we’re happy to help!</p>
                "
            }
        ]'
    }}
{{/section-stack }}

{{#> cta-bar
    name="Micro-Infusion Facial System"
    button="Choose Your Supply"
}}
{{/cta-bar}}

{{/new }}
