{{#> new
    title="User Guides"
    body-class="page.products-guide-page"
}}

{{#> section-stack }}
    {{#> guides-list }}
        <h1>User Guides</h1>
        <p><strong>Choose your product</strong> to get started.</p>
        <ul>
            <li>
                <a href="#">
                    <img src="sections/isolated/user-guide/images/product_guide-1.webp" alt="Micro-Infusion Facial System" />
                    Micro-Infusion Facial System
                    <i class="e-icon e-icon-chevron"></i>
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="sections/isolated/user-guide/images/product_guide-5.webp" alt="Q-Renew LLLT Helmet" />
                    Q-Renew LLLT Helmet
                    <i class="e-icon e-icon-chevron"></i>
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="sections/isolated/user-guide/images/product_guide-3.webp" alt="Q-Rejuvalight Pro LED Face Mask" />
                    Q-Rejuvalight Pro LED Face Mask
                    <i class="e-icon e-icon-chevron"></i>
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="sections/isolated/user-guide/images/n_d_device.webp" alt="Neck & Décolletage LED Device" />
                    Neck &amp; Décolletage LED Device
                    <i class="e-icon e-icon-chevron"></i>
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="sections/isolated/user-guide/images/product_guide-2.webp" alt="Faucet Filter" />
                    Faucet Filter
                    <i class="e-icon e-icon-chevron"></i>
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="sections/isolated/user-guide/images/product_guide-4.webp" alt="Shower Filter" />
                    Shower Filter
                    <i class="e-icon e-icon-chevron"></i>
                </a>
            </li>
        </ul>
    {{/guides-list}}
{{/section-stack }}

{{/new }}
