{{#> new
    title="Q-Rejuvalight Pro N&D Offer"
    body-class="page.led-mask-offer-2"
}}

{{#> section-stack }}
    {{#> hero-product }}
        <div class="hero-product__gallery">
            <div
                class="c-swiper"
                data-swiper-thumbs="#hero-product .c-swiper-thumbs"
                data-swiper='{
                    "slidesPerView": 1,
                    "spaceBetween": 16,
                    "navigation": {
                        "prevEl": "#hero-product .c-swiper-button-prev",
                        "nextEl": "#hero-product .c-swiper-button-next"
                    }
                }'
            >
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <img src="sections/isolated/micro-infusion-pdp/images/lmo-1.webp" alt="Q-Rejuvalight Pro N&D Offer" />
                    </div>
                    <div class="swiper-slide">
                        <img src="sections/isolated/micro-infusion-pdp/images/lmo-2.webp" alt="Q-Rejuvalight Pro N&D Offer" />
                    </div>
                    <div class="swiper-slide">
                        <img src="sections/isolated/micro-infusion-pdp/images/lmo-3.webp" alt="Q-Rejuvalight Pro N&D Offer" />
                    </div>
                    <div class="swiper-slide">
                        <img src="sections/isolated/micro-infusion-pdp/images/lmo-4.webp" alt="Q-Rejuvalight Pro N&D Offer" />
                    </div>
                    <div class="swiper-slide">
                        <img src="sections/isolated/micro-infusion-pdp/images/lmo-5.webp" alt="Q-Rejuvalight Pro N&D Offer" />
                    </div>
                    <div class="swiper-slide">
                        <img src="sections/isolated/micro-infusion-pdp/images/lmo-6.webp" alt="Q-Rejuvalight Pro N&D Offer" />
                    </div>
                </div>
            </div>
            <div class="c-swiper-thumbs-nav">
                <button class="c-swiper-button-prev"></button>
                <div
                    class="c-swiper c-swiper-thumbs"
                    data-swiper='{
                        "slidesPerView": "auto",
                        "spaceBetween": 12
                    }'
                >
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <img src="sections/isolated/micro-infusion-pdp/images/lmo-1.webp" alt="Q-Rejuvalight Pro N&D Offer" />
                        </div>
                        <div class="swiper-slide">
                            <img src="sections/isolated/micro-infusion-pdp/images/lmo-2.webp" alt="Q-Rejuvalight Pro N&D Offer" />
                        </div>
                        <div class="swiper-slide">
                            <img src="sections/isolated/micro-infusion-pdp/images/lmo-3.webp" alt="Q-Rejuvalight Pro N&D Offer" />
                        </div>
                        <div class="swiper-slide">
                            <img src="sections/isolated/micro-infusion-pdp/images/lmo-4.webp" alt="Q-Rejuvalight Pro N&D Offer" />
                        </div>
                        <div class="swiper-slide">
                            <img src="sections/isolated/micro-infusion-pdp/images/lmo-5.webp" alt="Q-Rejuvalight Pro N&D Offer" />
                        </div>
                        <div class="swiper-slide">
                            <img src="sections/isolated/micro-infusion-pdp/images/lmo-6.webp" alt="Q-Rejuvalight Pro N&D Offer" />
                        </div>
                    </div>
                </div>
                <button class="c-swiper-button-next"></button>
            </div>
        </div>
        <div class="hero-product__main">
            {{> c-rating value="4.8" }}
            <h1>Feel Confident Makeup-Free with Q-Rejuvalight Pro</h1>
            <article>
                <ul>
                    <li>FDA-cleared at-home LED mask</li>
                    <li>Treat acne, fine lines, wrinkles &amp; more</li>
                    <li>Customize, track &amp; schedule treatments with app</li>
                    <li>Quick &amp; convenient 3-minute wireless treatments</li>
                </ul>
            </article>
            <div class="c-buy-block">
                {{> c-order-button
                    button="Shop Now & Save {$dyn}"
                    hide-pay=true
                    arrow=true
                }}
                <ul class="e-features-list">
                    <li>
                        {{> e-icon icon="one-year" }}
                        1-Year Guarantee
                    </li>
                    <li>
                        {{> e-icon icon="shipping-order" }}
                        Free Shipping over {$dyn}
                    </li>
                </ul>
            </div>
            {{> c-exclusive-offer }}

        </div>
    {{/hero-product}}

    {{> logos-marquee }}

    {{#> how-to-use
        classes="how-to-use--center"
        title="Get compliment-worthy skin"
    }}
        <div
            class="c-swiper"
            data-swiper='{
                "slidesPerView": 1.05,
                "spaceBetween": 16,
                "loop": false,
                "pagination": {
                    "el": ".c-swiper-pagination",
                    "type": "custom"
                },
                "navigation": {
                    "prevEl": ".c-swiper-button-prev",
                    "nextEl": ".c-swiper-button-next"
                },
                "breakpoints": {
                    "768": {
                        "slidesPerView": 4,
                        "spaceBetween": 32
                    }
                }
            }'
        >
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <picture data-index="1">
                        <img src="sections/isolated/compliment-skin/images/1.webp" alt="Trusted by world-leading dermatologists" />
                    </picture>
                    <article>
                        <h6>Trusted by world-leading dermatologists</h6>
                        <p>Dr. Shah, a Board-Certified Dermatologist, reviewed that it’s "the best LED mask on the market, in my opinion.”</p>
                    </article>
                </div>
                <div class="swiper-slide">
                    <picture data-index="2">
                        <img src="sections/isolated/compliment-skin/images/2.webp" alt="Alleviates many different skin concerns" />
                    </picture>
                    <article>
                        <h6>Alleviates many different skin concerns</h6>
                        <p>Choose between an anti-aging treatment, an anti-breakout treatment, or customized treatment modes for each facial area.</p>
                    </article>
                </div>
                <div class="swiper-slide">
                    <picture data-index="3">
                        <img src="sections/isolated/compliment-skin/images/3.webp" alt="Proven results in less than 12 weeks" />
                    </picture>
                    <article>
                        <h6>Proven results in less than 12 weeks</h6>
                        <p>Customers have reported reduced redness, diminished fine lines &amp; wrinkles, and a glowing, younger-looking complexion.</p>
                    </article>
                </div>
                <div class="swiper-slide">
                    <picture data-index="4">
                        <img src="sections/isolated/compliment-skin/images/4.webp" alt="Track your treatments with Qure mobile app" />
                    </picture>
                    <article>
                        <h6>Track your treatments with Qure mobile app</h6>
                        <p>Use on its own, or pair with our app to customize your treatments, set reminders, and track progress.</p>
                    </article>
                </div>
            </div>
            <div class="c-swiper-nav">
                <button class="c-swiper-button-prev"></button>
                <div class="c-swiper-pagination"></div>
                <button class="c-swiper-button-next"></button>
            </div>
        </div>
        <a class="btn btn--primary" href="#">Start A Return</a>
    {{/how-to-use }}

    {{#> progress-metrics }}
        <article>
            <h2>Proof in Numbers</h2>
            <p>During clinical studies on LED light therapy, users reported numerous benefits:</p>
        </article>
        <div>
            {{> c-percent-list
                list='[
                    {
                        "value": 97,
                        "text": "of participants wouldn’t go back to tap water."
                    },
                    {
                        "value": 80,
                        "text": "noticed less dryness after 4 weeks."
                    },
                    {
                        "value": 76,
                        "text": "reported reduced tightness after filtered water wash."
                    }
                ]'
            }}
            <small>Skin and scalp hydration measured using instrumental testing in a consumer use study. Individual results may vary.</small>
        </div>
        <div class="c-note c-note--info">
            <a href="javascript:;" onclick="clinicalTrials.showModal()">Read more about the clinical trials</a>
        </div>
        {{#> c-dialog id="clinicalTrials" }}
            <div class="c-dialog__tabs">
                <ul class="c-dialog__tabs-buttons" role="tablist">
                    <li>
                        <button
                            class="active"
                            type="button"
                            data-bs-toggle="tab"
                            data-bs-target="#study1"
                        >
                            Study 1
                        </button>
                    </li>
                    <li>
                        <button
                            type="button"
                            data-bs-toggle="tab"
                            data-bs-target="#study2"
                        >
                            Study 2
                        </button>
                    </li>
                    <li>
                        <button
                            type="button"
                            data-bs-toggle="tab"
                            data-bs-target="#study3"
                        >
                            Study 3
                        </button>
                    </li>
                </ul>
                <div class="c-dialog__tabs-pane show" id="study1">
                    <div class="e-pill-badge e-pill-badge--fill">Fine Lines &amp; Wrinkles</div>
                    <p>Q-Rejuvalight Pro utilizes a 630 nm red LED, a wavelength clinically shown to boost collagen synthesis and improve wrinkle depth and skin texture. In a 2009 trial, participants experienced a <strong>31% increase</strong> in type‑1 procollagen production, with <strong>over 90%</strong> also seeing a reduction in wrinkle depth and surface roughness <strong>after just 12 treatments</strong>. The trial also found that 87% of participants demonstrated lower Fitzpatrick wrinkling scores,</p>
                    <hr />
                    <h6>About the clinical trial</h6>
                    <p>8-week single-blinded split-face trial with participants aged 27 to 79. Results measured after 12 treatments using profilometry and Fitzpatrick wrinkle severity scoring.</p>
                    <span>Reference: Lee, Soo-Young, et al. "Regulation of Skin Collagen Metabolism in Vitro Using a Pulsed 660 nm LED Light Source: Clinical Correlation with a Single-Blinded Study." Journal of Investigative Dermatology, vol. 129, no. 12, Dec. 2009, pp. 2751–2759.</span>
                </div>
                <div class="c-dialog__tabs-pane" id="study2">
                    <div class="e-pill-badge e-pill-badge--fill">Dark Spots &amp; Skin Tone</div>
                    <p>A 2007 clinical study found that red LED therapy visibly improved signs of sun damage, including skin texture and tone, <strong>after just 9 treatments</strong>. By week 12, 91% of participants reported brighter, more even skin, and 82% noticed smoother texture. These results support the skin-renewing benefits of red light wavelengths used in the Q-Rejuvalight Pro.</p>
                    <hr />
                    <h6>About the clinical trial</h6>
                    <p>5‑week single-arm trial with 13 photoaged participants. Results measured after 9 treatments via clinical photography and patient satisfaction scores at 6, 9, and 12 weeks</p>
                    <span>Reference: Russell, Bethany A., et al. "The Effects of Red and Infrared LED Light on Photoaged Skin." Journal of Cosmetic Dermatology, vol. 6, no. 3, Sept. 2007, pp. 189–194.</span>
                </div>
                <div class="c-dialog__tabs-pane" id="study3">
                    <div class="e-pill-badge e-pill-badge--fill">Dark Spots &amp; Skin Tone</div>
                    <p>Q-Rejuvalight Pro combines blue (415 nm) and red (630 nm) LED wavelengths that are proven to improve mild to severe acne. A 2006 study found that after 8 sessions over 4 weeks, participants saw a 46% reduction in lesion count at 4 weeks and an impressive 81% reduction at 12 weeks, with minimal side effect.</p>
                    <hr />
                    <h6>About the clinical trial</h6>
                    <p>4-week trial with 24 participants with mild to severe acne. Results measured after 8 treatments via lesion counts at weeks 2, 4, 8, and 12, along with dermatologist evaluation and patient self-assessment.</p>
                    <span>Reference: Gold, Michael H., et al. "Combination Blue (415 nm) and Red (633 nm) LED Phototherapy in the Treatment of Mild to Severe Acne Vulgaris." Journal of Cosmetic and Laser Therapy, vol. 8, no. 2, June 2006, pp. 71–75.</span>
                </div>
            </div>
        {{/c-dialog}}
    {{/progress-metrics }}

    {{#> trusted-reviews
        classes="trusted-reviews--light"
        title="Thousands are out-glowing their insecurities"
    }}
        <div class="swiper-slide">
            <div class="c-trusted-review-card">
                <picture>
                    <img src="sections/isolated/review-slider/images/terry-p.webp" alt="Wish I started years ago!" />
                </picture>
                <div class="e-author">
                    <img src="sections/isolated/review-slider/images/america_f.webp" alt="Terri P." />
                    Terri P.
                </div>
                <div class="e-verified-customer">
                    <div class="e-checkmark"></div>
                    Verified customer
                </div>
                <article>
                    <h6>Wish I started years ago</h6>
                    <p>“After two weeks I began to see results and after six weeks the changes in my skin were dramatic. I have now been using Qure six months and loving the compliments! I bought masks for my daughters for Christmas so they could start at a younger age…. I wish this technology had been available when I was younger.”</p>
                </article>
                <a href="#">
                    <img src="sections/isolated/review-slider/images/q-rejuvalight-pro-led-mask.webp" alt="Q-Rejuvalight Pro LED Mask" />
                    <small>Terri uses...</small>
                    <span>Q-Rejuvalight Pro LED Mask</span>
                </a>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="c-trusted-review-card">
                <picture>
                    <img src="sections/isolated/review-slider/images/Claudia.webp" alt="Recommend to everyone" />
                </picture>
                <div class="e-author">
                    <img src="sections/isolated/review-slider/images/canada_f.webp" alt="Claudia M." />
                    Claudia M.
                </div>
                <div class="e-verified-customer">
                    <div class="e-checkmark"></div>
                    Verified customer
                </div>
                <article>
                    <h6>Recommend to everyone</h6>
                    <p>“I was shocked seeing my before and after photos!! I didn’t realise how much my skin improved. I feel so much more confident wearing open tops now. My skin looks much more even, less red and all round healthier. Happy I invested into this device.”</p>
                </article>
                <a href="#">
                    <img src="sections/isolated/review-slider/images/neck-decolletage-led-device.webp" alt="Neck & Décolletage LED Device" />
                    <small>Claudia uses...</small>
                    <span>Neck &amp; Décolletage LED Device</span>
                </a>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="c-trusted-review-card">
                <picture>
                    <img src="sections/isolated/review-slider/images/Brooke.webp" alt="Great results so far!" />
                </picture>
                <div class="e-author">
                    <img src="sections/isolated/review-slider/images/america_f.webp" alt="Brooke B." />
                    Brooke B.
                </div>
                <div class="e-verified-customer">
                    <div class="e-checkmark"></div>
                    Verified customer
                </div>
                <article>
                    <h6>Great results so far!</h6>
                    <p>“After only 3 weeks of use I can see a visible change in the texture and color of my skin. I have a lot of sun damage in my chest so I imagine I will need to use my device consistently for a few months before I see a huge difference but I am already noticing improvement and am very happy with my purchase. I highly recommend!”</p>
                </article>
                <a href="#">
                    <img src="sections/isolated/review-slider/images/neck-decolletage-led-device.webp" alt="Neck & Décolletage LED Device" />
                    <small>Brooke uses...</small>
                    <span>Neck &amp; Décolletage LED Device</span>
                </a>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="c-trusted-review-card">
                <picture>
                    <img src="sections/isolated/review-slider/images/ana.webp" alt="Amazing products!" />
                </picture>
                <div class="e-author">
                    <img src="sections/isolated/review-slider/images/colombia_f.webp" alt="Ana L." />
                    Ana L.
                </div>
                <div class="e-verified-customer">
                    <div class="e-checkmark"></div>
                    Verified customer
                </div>
                <article>
                    <h6>Amazing products</h6>
                    <p>“I'm so happy, l've been using the products for 2 months and they have made such a difference in my skin. I had tried a lot of products before but with just one bottle of the serum, staying consistent with the Mask, and doing a few treatments of the micro infusion for scaring. l've seen a huge change in my skin.”</p>
                </article>
                <a href="#">
                    <img src="sections/isolated/review-slider/images/q-rejuvalight-pro-led-mask.webp" alt="Q-Rejuvalight Pro LED Mask" />
                    <small>Ana uses...</small>
                    <span>Q-Rejuvalight Pro LED Mask</span>
                </a>
            </div>
        </div>
    {{/trusted-reviews }}

    {{#> exclusive-bundle
        title="Experience face and neck rejuvenation in one bundle"
    }}
        <div class="exclusive-bundle__tabs">
            <div class="exclusive-bundle__tabs-buttons" role="tablist">
                <button
                    class="active"
                    type="button"
                    data-bs-toggle="tab"
                    data-bs-target="#first-pane"
                >
                    <img src="sections/isolated/exclusive-offer/images/q-rejuvalight-pro-led-mask.webp" alt="Q-Rejuvalight Pro LED Mask" />
                    Q-Rejuvalight Pro LED Mask
                </button>
                {{> e-icon icon="plus" }}
                <button
                    type="button"
                    data-bs-toggle="tab"
                    data-bs-target="#second-pane"
                >
                    <img src="sections/isolated/exclusive-offer/images/neck-decolletage-led-device.webp" alt="Neck & Décolletage LED Device" />
                    Neck &amp; Décolletage LED Device
                </button>
            </div>
            <div class="exclusive-bundle__tabs-pane show" id="first-pane">
                <img src="sections/isolated/exclusive-offer/images/q-rejuvalight-pro-led-mask.webp" alt="Q-Rejuvalight Pro LED Mask" />
                <h6>Q-Rejuvalight Pro LED Mask</h6>
                {{> e-price current="$299" }}
                <ul>
                    {{#eachList '[
                        "Designed for the face",
                        "5 clinically studied wavelengths",
                        "2 treatment modes ",
                        "(Skin Rejuvenating and Skin Clearing)",
                        "Treats wrinkles and mild-to-moderate inflammatory acne.",
                        "Helps visibly smooth the look of fine lines & wrinkles",
                        "Improves the appearance of skin texture & tone",
                        "Supports skin’s natural renewal process"
                    ]' }}
                        <li>{{> e-icon icon="checkmark" }} {{{ this }}}</li>
                    {{/eachList }}
                </ul>
            </div>
            {{> e-icon icon="plus" }}
            <div class="exclusive-bundle__tabs-pane show" id="second-pane">
                <img src="sections/isolated/exclusive-offer/images/neck-decolletage-led-device.webp" alt="Neck &amp; Décolletage LED Device" />
                <h6>Neck &amp; Décolletage LED Device</h6>
                {{> e-price current="FREE" old="{$dyn}" highlight=true }}
                <ul>
                    {{#eachList '[
                        "Designed for the neck & chest",
                        "2 clinically studied wavelengths",
                        "1 treatment mode (Skin Rejuvenation)",
                        "Helps visibly firm and smooth skin texture",
                        "Improves the look of fine lines & elasticity",
                        "Helps even skin tone and reduce the appearance of dark spots",
                        "Supports overall skin radiance"
                    ]' }}
                        <li>{{> e-icon icon="checkmark" }} {{{ this }}}</li>
                    {{/eachList }}
                </ul>
            </div>
        </div>

        {{!-- <div class="exclusive-bundle__column">
            111
        </div>
        {{> e-icon icon="plus" }}
        <div class="exclusive-bundle__column">
            222
        </div> --}}
    {{/exclusive-bundle }}

    {{#> base-section
        classes="base-section--small-media"
        title="Trusted and Recommended by Experts"
        picture="sections/isolated/experts/images/doctor_shah_desk.webp"
        pill-badge=true
    }}
        <p>“How do you <em>reduce the things in your water that may be causing issues</em> with your skin?</p>
        <p>This Qure filter is incredible – <em>it’s the only filter I personally use</em> to [reduce] chlorine and anything else that’s going to make your water harsh for your skin.”</p>
    {{/base-section }}

    {{#> hero-product
        id="limited-offer"
        classes="hero-product--reverse hero-product--secondary"
    }}
        <div class="hero-product__gallery">
            <div
                class="c-swiper"
                data-swiper-thumbs="#limited-offer .c-swiper-thumbs"
                data-swiper='{
                    "slidesPerView": 1,
                    "spaceBetween": 16,
                    "navigation": {
                        "prevEl": "#limited-offer .c-swiper-button-prev",
                        "nextEl": "#limited-offer .c-swiper-button-next"
                    }
                }'
            >
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <img src="sections/isolated/clean-water/images/shower_plus_faucet_img_1.webp" alt="Water Filters Offer" />
                    </div>
                    <div class="swiper-slide">
                        <img src="sections/isolated/clean-water/images/shower_plus_faucet_img_2.webp" alt="Water Filters Offer" />
                    </div>
                    <div class="swiper-slide">
                        <img src="sections/isolated/clean-water/images/shower_plus_faucet_img_3.webp" alt="Water Filters Offer" />
                    </div>
                    <div class="swiper-slide">
                        <img src="sections/isolated/clean-water/images/shower_plus_faucet_img_4.webp" alt="Water Filters Offer" />
                    </div>
                    <div class="swiper-slide">
                        <img src="sections/isolated/clean-water/images/shower_plus_faucet_img_5.webp" alt="Water Filters Offer" />
                    </div>
                    <div class="swiper-slide">
                        <img src="sections/isolated/clean-water/images/shower_plus_faucet_img_6.webp" alt="Water Filters Offer" />
                    </div>
                </div>
            </div>
            <div class="c-swiper-thumbs-nav">
                <button class="c-swiper-button-prev"></button>
                <div
                    class="c-swiper c-swiper-thumbs"
                    data-swiper='{
                        "slidesPerView": "auto",
                        "spaceBetween": 12
                    }'
                >
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <img src="sections/isolated/clean-water/images/shower_plus_faucet_img_1.webp" alt="Water Filters Offer" />
                        </div>
                        <div class="swiper-slide">
                            <img src="sections/isolated/clean-water/images/shower_plus_faucet_img_2.webp" alt="Water Filters Offer" />
                        </div>
                        <div class="swiper-slide">
                            <img src="sections/isolated/clean-water/images/shower_plus_faucet_img_3.webp" alt="Water Filters Offer" />
                        </div>
                        <div class="swiper-slide">
                            <img src="sections/isolated/clean-water/images/shower_plus_faucet_img_4.webp" alt="Water Filters Offer" />
                        </div>
                        <div class="swiper-slide">
                            <img src="sections/isolated/clean-water/images/shower_plus_faucet_img_5.webp" alt="Water Filters Offer" />
                        </div>
                        <div class="swiper-slide">
                            <img src="sections/isolated/clean-water/images/shower_plus_faucet_img_6.webp" alt="Water Filters Offer" />
                        </div>
                    </div>
                </div>
                <button class="c-swiper-button-next"></button>
            </div>
        </div>
        <div class="hero-product__main">
            <div class="e-pill-badge e-pill-badge--md">Limited Time Offer</div>
            <h2>Qure Shower Filter</h2>
            <h4>+ FREE Faucet Filter</h4>
            {{> c-special-offer }}
            <article>
                <ul>
                    <li>Lifetime Warranty</li>
                    <li>99% Fit Compatibility</li>
                </ul>
                <p>Repair skin and hair with dual filters that remove up to 99% of chlorine, heavy metals and contaminants.</p>
            </article>
            <hr />
            <div class="purchase-form-wrapper">
                {{> c-options-selector
                    title="Select Your Color"
                    list='[
                        {
                            "img": "sections/isolated/qure-shower-filter/images/shower_filter_white.webp",
                            "img2": "sections/isolated/qure-shower-filter/images/faucet_filter_white.webp",
                            "name": "White",
                            "option": "color",
                            "checked": true
                        },
                        {
                            "img": "sections/isolated/qure-shower-filter/images/shower_filter_black.webp",
                            "img2": "sections/isolated/qure-shower-filter/images/faucet_filter_black.webp",
                            "name": "Black",
                            "option": "color"
                        }
                    ]'
                }}
                {{> c-subscribe-selector
                    title="Select Your Delivery"
                    list='[
                        {
                            "name": "Subscribe &",
                            "save": "50%",
                            "price-old": true,
                            "tag": "Best Value <i class=\"e-icon e-icon-rating-fill\"></i>",
                            "option": "subscribe",
                            "checked": true,
                            "text": "
                                <hr />
                                <table>
                                    <tr>
                                        <th>Qure Shower Filter</th>
                                        <td>{$dyn}</td>
                                    </tr>
                                    <tr>
                                        <th>Qure Faucet Filter</th>
                                        <td><span>FREE</span> <del>{$dyn}</del></td>
                                    </tr>
                                </table>
                                <hr />
                                <p>Receive a new Filter Refill every 90 days</p>
                            "
                        },
                        {
                            "name": "One-Time Purchase",
                            "save": "20%",
                            "price-old": true,
                            "option": "subscribe",
                            "text": "
                                <hr />
                                <table>
                                    <tr>
                                        <th>Qure Shower Filter</th>
                                        <td>{$dyn}</td>
                                    </tr>
                                    <tr>
                                        <th>Qure Faucet Filter</th>
                                        <td><span>FREE</span> <del>{$dyn}</del></td>
                                    </tr>
                                </table>
                            "
                        }
                    ]'
                }}
            </div>
            <div class="c-buy-block">
                {{> c-order-button
                    button="Subscribe Now & Save 50%"
                    hide-pay=true
                }}
                <p><strong>Skip, pause/modify or cancel anytime. </strong> <a href="#">See more details.</a></p>
                <ul class="e-features-list">
                    <li>
                        {{> e-icon icon="guarantee" }}
                        30-Day Money-Back Guarantee
                    </li>
                    <li>
                        {{> e-icon icon="shipping-order" }}
                        Free Shipping over {$dyn}
                    </li>
                </ul>
                <div class="c-lifetime-warranty c-lifetime-warranty--vertical">
                    {{> e-icon icon="verified-shield" }}
                    <p>
                        <strong>Covered by our Lifetime Warranty.</strong>
                        Backed by our 30-Day Money-Back Guarantee.
                    </p>
                </div>
            </div>
        </div>
        <div class="hero-product__extra">
            {{> c-accordion
                type="lines"
                list='[
                    {
                        "summary": "Key Benefits",
                        "text": "
                            <p>Get clearer, hydrated skin on tap with the Qure Filter Bundle.</p>
                            <p>Research shows tap water is often contaminated with over 320 chemicals, which can harm skin health. This bundle utilizes advanced filtering technology to reduce contaminants, including chlorine and other heavy metals, which are known to impact skin negatively.</p>
                            <p>The Qure Shower Filter and Qure Faucet Filter work together to filter  water, providing clean purified water that helps to improve skin hydration, reduce premature aging, and decrease redness and irritation.</p>
                        "
                    },
                    {
                        "summary": "How It Works",
                        "text": "
                            <p>The Qure Filter Bundle improves your tap water by reducing skin irritants like chlorine, heavy metals, micro-organisms, and more.</p>
                            <p>Each filter attaches directly to your showerhead or faucet, and uses a patent-pending, multi-stage filtration system.</p>
                            <p>The Shower Filter softens and purifies the water that hits your skin and hair. The Faucet Filter cleans the water that touches your skin and hands — so you’re no longer washing with the same harsh water that’s been drying you out and triggering breakouts. </p>
                        "
                    },
                    {
                        "summary": "What\'s Included In The Box",
                        "text": "
                            <p>This bundle includes:</p>
                            <ul>
                                <li>1 Qure Showerhead + 1 Filter</li>
                                <li>1 Qure Faucet + 1 Filter</li>
                            </ul>
                            <p>Each filter lasts 90 days (3 months) before needing to be replaced to ensure optimal filtration. </p>
                            <p>When you subscribe to this bundle, 2 replacement filters (1 for Showerhead and 1 for Faucet) will auto-ship every 90 days, with a recurring charge of {$dyn} per month. </p>
                        "
                    }
                ]'
            }}
        </div>
    {{/hero-product}}

    {{#> base-slider
        classes="base-slider--bg"
        title="See why everyone’s switching to filtered water"
    }}
        <div
            class="c-swiper"
            data-swiper='{
                "slidesPerView": 1.2,
                "spaceBetween": 16,
                "loop": false,
                "pagination": {
                    "el": ".c-swiper-pagination",
                    "type": "custom"
                },
                "navigation": {
                    "prevEl": ".c-swiper-button-prev",
                    "nextEl": ".c-swiper-button-next"
                },
                "breakpoints": {
                    "480": {
                        "slidesPerView": 2.2
                    },
                    "768": {
                        "slidesPerView": 4
                    }
                }
            }'
        >
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="swiper-slide">
                    <picture data-url="https://www.youtube.com/watch?v=JELsZmxlAM">
                        <img src="assets/images/shwr_fau_img1.webp" alt="Youtube video" />
                    </picture>
                </div>
                </div>
                <div class="swiper-slide">
                    {{#> c-wistia-embed-video
                        classes=""
                        id="yvm1h7gbig"
                        alt="Wistia video"
                    }}
                    {{/c-wistia-embed-video}}
                </div>
                <div class="swiper-slide">
                    {{#> c-wistia-embed-video
                        classes=""
                        id="altvn4hlw5"
                        alt="Wistia video"
                    }}
                    {{/c-wistia-embed-video}}
                </div>
                <div class="swiper-slide">
                    {{#> c-wistia-embed-video
                        classes=""
                        id="lxde2943wj"
                        alt="Wistia video"
                    }}
                    {{/c-wistia-embed-video}}
                </div>
                <div class="swiper-slide">
                    <picture data-url="https://www.youtube.com/watch?v=YulGNwbRp7w">
                        <img src="assets/images/shwr_fau_img6.webp" alt="Youtube video" />
                    </picture>
                </div>
            </div>
            <div class="c-swiper-nav">
                <button class="c-swiper-button-prev"></button>
                <div class="c-swiper-pagination"></div>
                <button class="c-swiper-button-next"></button>
            </div>
        </div>
    {{/base-slider }}

    {{#> skin-deserves
        title="Your skin deserves Qure"
        text="When your water is working against you, no product can keep up. Here’s how Qure filters changes that."
    }}
        <table>
            <tr>
                <th>{{> e-icon icon="qure"}}</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
                <th>Other Products</th>
            </tr>
            <tr>
                <td>Made for skin and hair care</td>
                <td>{{> e-icon icon="checkmark-fill"}}</td>
                <td>{{> e-icon icon="cross-fill"}}</td>
                <td>Made for maximum profit</td>
            </tr>
            <tr>
                <td>Protects you at the sink and the shower</td>
                <td>{{> e-icon icon="checkmark-fill"}}</td>
                <td>{{> e-icon icon="cross-fill"}}</td>
                <td>Doesn’t protect your skin everywhere</td>
            </tr>
            <tr>
                <td>Removes chemicals and heavy metals</td>
                <td>{{> e-icon icon="checkmark-fill"}}</td>
                <td>{{> e-icon icon="cross-fill"}}</td>
                <td>Leaves the worst chemicals behind</td>
            </tr>
            <tr>
                <td>Proven to calm breakouts and dryness</td>
                <td>{{> e-icon icon="checkmark-fill"}}</td>
                <td>{{> e-icon icon="cross-fill"}}</td>
                <td>Feel like they should help, but don’t</td>
            </tr>
            <tr>
                <td>Makes your products work even better</td>
                <td>{{> e-icon icon="checkmark-fill"}}</td>
                <td>{{> e-icon icon="cross-fill"}}</td>
                <td>Block absorption and waste your routine</td>
            </tr>
        </table>
    {{/skin-deserves }}

    {{#> base-section
        classes="base-section--reverse base-section--grey"
        title="Do you know what’s in your water?"
        features-list='
            <ul class="features-list">
                <li>
                    <i class="e-icon e-icon-limescale"></i>
                    Limescale
                </li>
                <li>
                    <i class="e-icon e-icon-heavy-metals"></i>
                    Heavy Metals
                </li>
                <li>
                    <i class="e-icon e-icon-chlorine"></i>
                    Chlorine
                </li>
                <li>
                    <i class="e-icon e-icon-micro-plastics"></i>
                    Micro-plastics
                </li>
                <li>
                    <i class="e-icon e-icon-copper"></i>
                    Copper
                </li>
                <li>
                    <i class="e-icon e-icon-micro-organisms"></i>
                    Micro-organisms
                </li>
            </ul>
        '
    }}
        <p>Most tap water is filled with invisible contaminants that quietly damage your skin, hair, and health – without you even realizing.</p>
        <p>Take the quiz to find out what’s lurking in your water.</p>
        <a class="btn btn--primary" href="#">Get a Free Water Report</a>
    {{/base-section }}

    {{#> hero-product
        id="protect-skin"
        classes="hero-product--reverse hero-product--secondary"
    }}
        <div class="hero-product__gallery">
            <img src="sections/isolated/protect-your-skin/images/protect_skin.webp" alt="Water Filters Offer" />
        </div>
        <div class="hero-product__main">
            {{> c-rating value="4.8" }}
            <h1>Protect your skin &amp; save $129</h1>
            <article>
                <p>Your water is filled with hidden irritants and chemicals that damage your skin and hair daily.</p>
                <p>The Qure Filter Bundle removes these at the source without adding any steps to your routine.</p>
            </article>
            <div class="c-buy-block">
                {{> c-order-button
                    button="Claim Offer Now"
                    hide-pay=true
                }}
                <ul class="e-features-list">
                    <li>
                        {{> e-icon icon="guarantee" }}
                        30-Day Money-Back Guarantee
                    </li>
                    <li>
                        {{> e-icon icon="shipping-order" }}
                        Free Shipping over {$dyn}
                    </li>
                </ul>
            </div>
            {{> c-complete-bundle }}
        </div>
    {{/hero-product}}

    {{> have-questions
        list='[
            {
                "summary": "What’s included in this bundle?",
                "text": "
                    <p>This bundle includes:</p>
                    <ul>
                        <li>1 Qure Showerhead + 1 Filter</li>
                        <li>1 Qure Faucet + 1 Filter</li>
                    </ul>
                    <p>Each filter lasts 90 days (3 months) before needing to be replaced to ensure optimal filtration. When you subscribe to this bundle, 2 replacement filters (1 for Showerhead and 1 for Faucet) will auto-ship every 90 days, with a recurring charge of {$dyn} per month.</p>
                "
            },
            {
                "summary": "How does tap water harm my skin?",
                "text": "
                    <p>Facial skin is more sensitive than your skin anywhere else. Your skin barrier is like a protective shield against outside threats. But the stuff in tap water can harm it, leading to:</p>
                    <ul>
                        <li>Dry and Damaged Skin: Tap water can strip away your skin\'s natural oils, leaving it dry and damaged.</li>
                        <li>Skin Irritation: It might also cause skin irritation, making it sensitive and red.</li>
                        <li>Premature Aging: Chemicals in tap water may contribute to early signs of aging, like fine lines and dullness.</li>
                    </ul>
                "
            },
            {
                "summary": "What chemicals do they filter?",
                "text": "
                    <p>The Qure Filter Bundle improves your tap water by reducing skin irritants that make your water “hard,” like chlorine, heavy metals, microorganisms, and more.</p>
                    <p>The filters reduce chlorine, heavy metals, microorganisms, and other common water contaminants.</p>
                "
            },
            {
                "summary": "Are they compatible with all showerhead and faucets?",
                "text": "
                    <p>The Qure Shower Filter fits most standard screw-on showerheads, but we recommend checking your showerheads specs to confirm. It won’t work with built-in or custom fittings without standard threads.</p>
                    <p>The Qure Faucet Filter fits 99% of standard faucets with a circular removable aerator and includes adaptors for different sizes. We recommend checking your faucet type before purchase. It won’t fit square or oval faucets, showerhead faucets, induction styles, pull-outs without detachable aerators, or non-threaded pipes under 15mm.</p>
                    <img src=\"sections/isolated/faqs/images/taps.webp\" alt=\"Faucets\">
                "
            },
            {
                "summary": "Do I need to change/replace the filters?",
                "text": "
                    <p>With daily use, your Qure Filters will need to be replaced at least once every three months for your skin to look and feel its best. When you subscribe to this bundle, 2 replacement filters (1 for Showerhead and 1 for Faucet) will auto-ship every 90 days, with a recurring charge of {$dyn} per month.</p>
                "
            },
            {
                "summary": "Will it affect water pressure?",
                "text": "
                    <p>Our filters are designed to maintain water pressure while effectively filtering impurities.</p>
                "
            }
        ]'
    }}

{{/section-stack }}

{{#> cta-bar
    name="Q-Rejuvalight Pro + Neck & Décolletage LED Device"
    button="Shop Now & Save $299"
}}
{{/cta-bar}}

{{/new }}
