{{#> default
    title="404"
    body-class="404"
}}

{{#> section-stack }}
    {{#> base-section
        classes="base-section--reverse base-section--404"
        title="Oops"
        picture="sections/global/banner-with-text/images/404.svg"
        button="Back to Homepage"
    }}
        <p>Looks like you took a detour on your skincare path. Navigate back to our amazing products for the perfect route to radiant skin!</p>
    {{/base-section }}
{{/section-stack }}

{{/default }}
