{{#> default
    title="Rejuvalight Pro Mask"
    body-class="page.q-rejuvalight-pro-welcome"
}}

{{#> section-stack }}

    <!-- GUIDE WELCOME -->
    <link rel="stylesheet" href="sections/new/guide-welcome/guide-welcome.css" />
    <section class="guide-welcome">
        <div class="container">
            <div class="guide-welcome__title">
                <h2>Welcome to Qure</h2>
            </div>
            <div class="guide-welcome__video">
                <div class="wistia_responsive_padding">
                    <div class="wistia_responsive_wrapper">
                        <div class="wistia_embed wistia_async_2jl8ah5r5n seo=false videoFoam=true">&nbsp;</div>
                    </div>
                </div>
            </div>
            <div class="guide-welcome__card guide-welcome__card--start">
                <h4>Let's get started</h4>
                <p>Everything you need to know to kickstart your journey with Q-Rejuvalight Pro</p>
                <a href="#" class="btn btn--primary">Quick-Start Guide</a>
                <div class="c-hr-with-text"><span>Or</span></div>
                <a href="#" class="btn btn--light">Download Full Manual</a>
            </div>
            <div class="guide-welcome__card guide-welcome__card--contact">
                <h4>Need help or have questions?</h4>
                <p>We're here to support you every step of the way.</p>
                <a href="#" class="btn btn--primary">Contact Us</a>
            </div>
        </div>
    </section>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            loadScriptOnce('wistia-script', 'https://fast.wistia.com/assets/external/E-v1.js');
        });
    </script>
    <!-- GUIDE WELCOME END -->

    <!-- BASE INFO -->
    <link rel="stylesheet" href="sections/new/base-info/base-info.css" />
    <section class="base-info base-info--grey">
        <div class="container">
            <article>
                <p>Enjoy peace of mind with our 30 day money-back guarantee.</p>
            </article>
            <a href="#" class="btn">Learn More</a>
        </div>
    </section>
    <!-- BASE INFO END -->
{{/section-stack }}

{{/default }}
