{{#> new
    title="Q-Rejuvalight Pro N&D Offer"
    body-class="page.led-mask-offer-2"
}}

{{#> section-stack }}
    {{#> hero-product }}
        <div class="hero-product__gallery">
            <div
                class="c-swiper"
                data-swiper-thumbs="#hero-product .c-swiper-thumbs"
                data-swiper='{
                    "slidesPerView": 1,
                    "spaceBetween": 16,
                    "navigation": {
                        "prevEl": "#hero-product .c-swiper-button-prev",
                        "nextEl": "#hero-product .c-swiper-button-next"
                    }
                }'
            >
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <img src="sections/isolated/micro-infusion-pdp/images/lmo-1.webp" alt="Q-Rejuvalight Pro N&D Offer" />
                    </div>
                    <div class="swiper-slide">
                        <img src="sections/isolated/micro-infusion-pdp/images/lmo-2.webp" alt="Q-Rejuvalight Pro N&D Offer" />
                    </div>
                    <div class="swiper-slide">
                        <img src="sections/isolated/micro-infusion-pdp/images/lmo-3.webp" alt="Q-Rejuvalight Pro N&D Offer" />
                    </div>
                    <div class="swiper-slide">
                        <img src="sections/isolated/micro-infusion-pdp/images/lmo-4.webp" alt="Q-Rejuvalight Pro N&D Offer" />
                    </div>
                    <div class="swiper-slide">
                        <img src="sections/isolated/micro-infusion-pdp/images/lmo-5.webp" alt="Q-Rejuvalight Pro N&D Offer" />
                    </div>
                    <div class="swiper-slide">
                        <img src="sections/isolated/micro-infusion-pdp/images/lmo-6.webp" alt="Q-Rejuvalight Pro N&D Offer" />
                    </div>
                </div>
            </div>
            <div class="c-swiper-thumbs-nav">
                <button class="c-swiper-button-prev"></button>
                <div
                    class="c-swiper c-swiper-thumbs"
                    data-swiper='{
                        "slidesPerView": "auto",
                        "spaceBetween": 12
                    }'
                >
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <img src="sections/isolated/micro-infusion-pdp/images/lmo-1.webp" alt="Q-Rejuvalight Pro N&D Offer" />
                        </div>
                        <div class="swiper-slide">
                            <img src="sections/isolated/micro-infusion-pdp/images/lmo-2.webp" alt="Q-Rejuvalight Pro N&D Offer" />
                        </div>
                        <div class="swiper-slide">
                            <img src="sections/isolated/micro-infusion-pdp/images/lmo-3.webp" alt="Q-Rejuvalight Pro N&D Offer" />
                        </div>
                        <div class="swiper-slide">
                            <img src="sections/isolated/micro-infusion-pdp/images/lmo-4.webp" alt="Q-Rejuvalight Pro N&D Offer" />
                        </div>
                        <div class="swiper-slide">
                            <img src="sections/isolated/micro-infusion-pdp/images/lmo-5.webp" alt="Q-Rejuvalight Pro N&D Offer" />
                        </div>
                        <div class="swiper-slide">
                            <img src="sections/isolated/micro-infusion-pdp/images/lmo-6.webp" alt="Q-Rejuvalight Pro N&D Offer" />
                        </div>
                    </div>
                </div>
                <button class="c-swiper-button-next"></button>
            </div>
        </div>
        <div class="hero-product__main">
            {{> c-approved-by }}
            <h1>Feel Confident Makeup-Free with Q-Rejuvalight Pro</h1>
            <article>
                <ul>
                    <li>FDA-cleared at-home LED mask</li>
                    <li>Treat acne, fine lines, wrinkles &amp; more</li>
                    <li>Customize, track &amp; schedule treatments with app</li>
                    <li>Quick &amp; convenient 3-minute wireless treatments</li>
                </ul>
            </article>
            <div class="c-buy-block">
                {{> c-order-button
                    button="Shop Now & Save {$dyn}"
                    hide-pay=true
                    arrow=true
                }}
                <ul class="e-features-list">
                    <li>
                        {{> e-icon icon="one-year" }}
                        1-Year Guarantee
                    </li>
                    <li>
                        {{> e-icon icon="shipping-order" }}
                        Free Shipping over {$dyn}
                    </li>
                </ul>
            </div>
            {{> c-exclusive-offer
                exclusive-tag=true
            }}
        </div>
    {{/hero-product}}

    {{> logos-marquee }}

    {{#> how-to-use
        classes="how-to-use--center"
        title="Get compliment-worthy skin"
    }}
        <div
            class="c-swiper"
            data-swiper='{
                "slidesPerView": 1.05,
                "spaceBetween": 16,
                "loop": false,
                "pagination": {
                    "el": ".c-swiper-pagination",
                    "type": "custom"
                },
                "navigation": {
                    "prevEl": ".c-swiper-button-prev",
                    "nextEl": ".c-swiper-button-next"
                },
                "breakpoints": {
                    "768": {
                        "slidesPerView": 4,
                        "spaceBetween": 32
                    }
                }
            }'
        >
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <picture data-index="1">
                        <img src="sections/isolated/compliment-skin/images/1.webp" alt="Trusted by world-leading dermatologists" />
                    </picture>
                    <article>
                        <h6>Trusted by world-leading dermatologists</h6>
                        <p>Dr. Shah, a Board-Certified Dermatologist, reviewed that it’s "the best LED mask on the market, in my opinion.”</p>
                    </article>
                </div>
                <div class="swiper-slide">
                    <picture data-index="2">
                        <img src="sections/isolated/compliment-skin/images/2.webp" alt="Alleviates many different skin concerns" />
                    </picture>
                    <article>
                        <h6>Alleviates many different skin concerns</h6>
                        <p>Choose between an anti-aging treatment, an anti-breakout treatment, or customized treatment modes for each facial area.</p>
                    </article>
                </div>
                <div class="swiper-slide">
                    <picture data-index="3">
                        <img src="sections/isolated/compliment-skin/images/3.webp" alt="Proven results in less than 12 weeks" />
                    </picture>
                    <article>
                        <h6>Proven results in less than 12 weeks</h6>
                        <p>Customers have reported reduced redness, diminished fine lines &amp; wrinkles, and a glowing, younger-looking complexion.</p>
                    </article>
                </div>
                <div class="swiper-slide">
                    <picture data-index="4">
                        <img src="sections/isolated/compliment-skin/images/4.webp" alt="Track your treatments with Qure mobile app" />
                    </picture>
                    <article>
                        <h6>Track your treatments with Qure mobile app</h6>
                        <p>Use on its own, or pair with our app to customize your treatments, set reminders, and track progress.</p>
                    </article>
                </div>
            </div>
            <div class="c-swiper-nav">
                <button class="c-swiper-button-prev"></button>
                <div class="c-swiper-pagination"></div>
                <button class="c-swiper-button-next"></button>
            </div>
        </div>
        <a class="btn btn--primary" href="#">Start A Return</a>
    {{/how-to-use }}

    {{#> progress-metrics }}
        <article>
            <h2>Proof in Numbers</h2>
            <p>During clinical studies on LED light therapy, users reported numerous benefits:</p>
        </article>
        <div>
            {{> c-percent-list
                list='[
                    {
                        "value": 97,
                        "text": "of participants wouldn’t go back to tap water."
                    },
                    {
                        "value": 80,
                        "text": "noticed less dryness after 4 weeks."
                    },
                    {
                        "value": 76,
                        "text": "reported reduced tightness after filtered water wash."
                    }
                ]'
            }}
            <small>Skin and scalp hydration measured using instrumental testing in a consumer use study. Individual results may vary.</small>
        </div>
        <div class="c-note c-note--info">
            <a href="javascript:;" onclick="clinicalTrials.showModal()">Read more about the clinical trials</a>
        </div>
        {{#> c-dialog id="clinicalTrials" }}
            <div class="c-dialog__tabs">
                <ul class="c-dialog__tabs-buttons" role="tablist">
                    <li>
                        <button
                            class="active"
                            type="button"
                            data-bs-toggle="tab"
                            data-bs-target="#study1"
                        >
                            Study 1
                        </button>
                    </li>
                    <li>
                        <button
                            type="button"
                            data-bs-toggle="tab"
                            data-bs-target="#study2"
                        >
                            Study 2
                        </button>
                    </li>
                    <li>
                        <button
                            type="button"
                            data-bs-toggle="tab"
                            data-bs-target="#study3"
                        >
                            Study 3
                        </button>
                    </li>
                </ul>
                <div class="c-dialog__tabs-pane show" id="study1">
                    <div class="e-pill-badge e-pill-badge--fill">Fine Lines &amp; Wrinkles</div>
                    <p>Q-Rejuvalight Pro utilizes a 630 nm red LED, a wavelength clinically shown to boost collagen synthesis and improve wrinkle depth and skin texture. In a 2009 trial, participants experienced a <strong>31% increase</strong> in type‑1 procollagen production, with <strong>over 90%</strong> also seeing a reduction in wrinkle depth and surface roughness <strong>after just 12 treatments</strong>. The trial also found that 87% of participants demonstrated lower Fitzpatrick wrinkling scores,</p>
                    <hr />
                    <h6>About the clinical trial</h6>
                    <p>8-week single-blinded split-face trial with participants aged 27 to 79. Results measured after 12 treatments using profilometry and Fitzpatrick wrinkle severity scoring.</p>
                    <span>Reference: Lee, Soo-Young, et al. "Regulation of Skin Collagen Metabolism in Vitro Using a Pulsed 660 nm LED Light Source: Clinical Correlation with a Single-Blinded Study." Journal of Investigative Dermatology, vol. 129, no. 12, Dec. 2009, pp. 2751–2759.</span>
                </div>
                <div class="c-dialog__tabs-pane" id="study2">
                    <div class="e-pill-badge e-pill-badge--fill">Dark Spots &amp; Skin Tone</div>
                    <p>A 2007 clinical study found that red LED therapy visibly improved signs of sun damage, including skin texture and tone, <strong>after just 9 treatments</strong>. By week 12, 91% of participants reported brighter, more even skin, and 82% noticed smoother texture. These results support the skin-renewing benefits of red light wavelengths used in the Q-Rejuvalight Pro.</p>
                    <hr />
                    <h6>About the clinical trial</h6>
                    <p>5‑week single-arm trial with 13 photoaged participants. Results measured after 9 treatments via clinical photography and patient satisfaction scores at 6, 9, and 12 weeks</p>
                    <span>Reference: Russell, Bethany A., et al. "The Effects of Red and Infrared LED Light on Photoaged Skin." Journal of Cosmetic Dermatology, vol. 6, no. 3, Sept. 2007, pp. 189–194.</span>
                </div>
                <div class="c-dialog__tabs-pane" id="study3">
                    <div class="e-pill-badge e-pill-badge--fill">Dark Spots &amp; Skin Tone</div>
                    <p>Q-Rejuvalight Pro combines blue (415 nm) and red (630 nm) LED wavelengths that are proven to improve mild to severe acne. A 2006 study found that after 8 sessions over 4 weeks, participants saw a 46% reduction in lesion count at 4 weeks and an impressive 81% reduction at 12 weeks, with minimal side effect.</p>
                    <hr />
                    <h6>About the clinical trial</h6>
                    <p>4-week trial with 24 participants with mild to severe acne. Results measured after 8 treatments via lesion counts at weeks 2, 4, 8, and 12, along with dermatologist evaluation and patient self-assessment.</p>
                    <span>Reference: Gold, Michael H., et al. "Combination Blue (415 nm) and Red (633 nm) LED Phototherapy in the Treatment of Mild to Severe Acne Vulgaris." Journal of Cosmetic and Laser Therapy, vol. 8, no. 2, June 2006, pp. 71–75.</span>
                </div>
            </div>
        {{/c-dialog}}
    {{/progress-metrics }}

    {{#> trusted-reviews
        title="Thousands are out-glowing their insecurities"
    }}
        <div class="swiper-slide">
            <div class="c-trusted-review-card">
                <picture>
                    <img src="sections/isolated/review-slider/images/terry-p.webp" alt="Wish I started years ago!" />
                </picture>
                <div class="e-author">
                    <img src="sections/isolated/review-slider/images/america_f.webp" alt="Terri P." />
                    Terri P.
                </div>
                <div class="e-verified-customer">
                    <div class="e-checkmark"></div>
                    Verified customer
                </div>
                <article>
                    <h6>Wish I started years ago</h6>
                    <p>“After two weeks I began to see results and after six weeks the changes in my skin were dramatic. I have now been using Qure six months and loving the compliments! I bought masks for my daughters for Christmas so they could start at a younger age…. I wish this technology had been available when I was younger.”</p>
                </article>
                <a href="#">
                    <img src="sections/isolated/review-slider/images/q-rejuvalight-pro-led-mask.webp" alt="Q-Rejuvalight Pro LED Mask" />
                    <small>Terri uses...</small>
                    <span>Q-Rejuvalight Pro LED Mask</span>
                </a>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="c-trusted-review-card">
                <picture>
                    <img src="sections/isolated/review-slider/images/Claudia.webp" alt="Recommend to everyone" />
                </picture>
                <div class="e-author">
                    <img src="sections/isolated/review-slider/images/canada_f.webp" alt="Claudia M." />
                    Claudia M.
                </div>
                <div class="e-verified-customer">
                    <div class="e-checkmark"></div>
                    Verified customer
                </div>
                <article>
                    <h6>Recommend to everyone</h6>
                    <p>“I was shocked seeing my before and after photos!! I didn’t realise how much my skin improved. I feel so much more confident wearing open tops now. My skin looks much more even, less red and all round healthier. Happy I invested into this device.”</p>
                </article>
                <a href="#">
                    <img src="sections/isolated/review-slider/images/neck-decolletage-led-device.webp" alt="Neck & Décolletage LED Device" />
                    <small>Claudia uses...</small>
                    <span>Neck &amp; Décolletage LED Device</span>
                </a>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="c-trusted-review-card">
                <picture>
                    <img src="sections/isolated/review-slider/images/Brooke.webp" alt="Great results so far!" />
                </picture>
                <div class="e-author">
                    <img src="sections/isolated/review-slider/images/america_f.webp" alt="Brooke B." />
                    Brooke B.
                </div>
                <div class="e-verified-customer">
                    <div class="e-checkmark"></div>
                    Verified customer
                </div>
                <article>
                    <h6>Great results so far!</h6>
                    <p>“After only 3 weeks of use I can see a visible change in the texture and color of my skin. I have a lot of sun damage in my chest so I imagine I will need to use my device consistently for a few months before I see a huge difference but I am already noticing improvement and am very happy with my purchase. I highly recommend!”</p>
                </article>
                <a href="#">
                    <img src="sections/isolated/review-slider/images/neck-decolletage-led-device.webp" alt="Neck & Décolletage LED Device" />
                    <small>Brooke uses...</small>
                    <span>Neck &amp; Décolletage LED Device</span>
                </a>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="c-trusted-review-card">
                <picture>
                    <img src="sections/isolated/review-slider/images/ana.webp" alt="Amazing products!" />
                </picture>
                <div class="e-author">
                    <img src="sections/isolated/review-slider/images/colombia_f.webp" alt="Ana L." />
                    Ana L.
                </div>
                <div class="e-verified-customer">
                    <div class="e-checkmark"></div>
                    Verified customer
                </div>
                <article>
                    <h6>Amazing products</h6>
                    <p>“I'm so happy, l've been using the products for 2 months and they have made such a difference in my skin. I had tried a lot of products before but with just one bottle of the serum, staying consistent with the Mask, and doing a few treatments of the micro infusion for scaring. l've seen a huge change in my skin.”</p>
                </article>
                <a href="#">
                    <img src="sections/isolated/review-slider/images/q-rejuvalight-pro-led-mask.webp" alt="Q-Rejuvalight Pro LED Mask" />
                    <small>Ana uses...</small>
                    <span>Q-Rejuvalight Pro LED Mask</span>
                </a>
            </div>
        </div>
    {{/trusted-reviews }}

    {{#> exclusive-bundle
        title="Experience face and neck rejuvenation in one bundle"
    }}
        <div class="exclusive-bundle__tabs">
            <p>Includes 2 LED Devices:</p>
            <div class="exclusive-bundle__tabs-buttons" role="tablist">
                <button
                    class="active"
                    type="button"
                    data-bs-toggle="tab"
                    data-bs-target="#first-pane"
                >
                    <img src="sections/isolated/exclusive-offer/images/q-rejuvalight-pro-led-mask.webp" alt="Q-Rejuvalight Pro LED Mask" />
                    Q-Rejuvalight Pro LED Mask
                </button>
                {{> e-icon icon="plus" }}
                <button
                    type="button"
                    data-bs-toggle="tab"
                    data-bs-target="#second-pane"
                >
                    <div class="e-pill-badge e-pill-badge--fill e-pill-badge--sm">FREE</div>
                    <img src="sections/isolated/exclusive-offer/images/neck-decolletage-led-device.webp" alt="Neck & Décolletage LED Device" />
                    Neck &amp; Décolletage LED Device
                </button>
            </div>
            <div class="exclusive-bundle__tabs-pane show" id="first-pane">
                <img src="sections/isolated/exclusive-offer/images/q-rejuvalight-pro-led-mask.webp" alt="Q-Rejuvalight Pro LED Mask" />
                <h6>Q-Rejuvalight Pro LED Mask</h6>
                {{> e-price current="$299" }}
                <ul>
                    {{#eachList '[
                        "Designed for the face",
                        "5 clinically studied wavelengths",
                        "2 treatment modes (Skin Rejuvenating and Skin Clearing)",
                        "Treats wrinkles and mild-to-moderate inflammatory acne.",
                        "Helps visibly smooth the look of fine lines & wrinkles",
                        "Improves the appearance of skin texture & tone",
                        "Supports skin’s natural renewal process"
                    ]' }}
                        <li>{{> e-icon icon="checkmark" }} {{{ this }}}</li>
                    {{/eachList }}
                </ul>
            </div>
            {{> e-icon icon="plus" }}
            <div class="exclusive-bundle__tabs-pane" id="second-pane">
                <div class="e-pill-badge e-pill-badge--fill">INCLUDED FREE</div>
                <img src="sections/isolated/exclusive-offer/images/neck-decolletage-led-device.webp" alt="Neck &amp; Décolletage LED Device" />
                <h6>Neck &amp; Décolletage LED Device</h6>
                {{> e-price current="FREE" old="{$dyn}" highlight=true }}
                <ul>
                    {{#eachList '[
                        "Designed for the neck & chest",
                        "2 clinically studied wavelengths",
                        "1 treatment mode (Skin Rejuvenation)",
                        "Helps visibly firm and smooth skin texture",
                        "Improves the look of fine lines & elasticity",
                        "Helps even skin tone and reduce the appearance of dark spots",
                        "Supports overall skin radiance"
                    ]' }}
                        <li>{{> e-icon icon="checkmark" }} {{{ this }}}</li>
                    {{/eachList }}
                </ul>
            </div>
        </div>
    {{/exclusive-bundle }}

    {{#> hero-product
        id="limited-offer"
        classes="hero-product--reverse hero-product--secondary"
    }}
        <div class="hero-product__gallery">
            <div
                class="c-swiper"
                data-swiper-thumbs="#limited-offer .c-swiper-thumbs"
                data-swiper='{
                    "slidesPerView": 1,
                    "spaceBetween": 16,
                    "navigation": {
                        "prevEl": "#limited-offer .c-swiper-button-prev",
                        "nextEl": "#limited-offer .c-swiper-button-next"
                    }
                }'
            >
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <img src="sections/isolated/led-mask-offer/images/1.webp" alt="Skin Bundle Offer" />
                    </div>
                    <div class="swiper-slide">
                        <img src="sections/isolated/led-mask-offer/images/2.webp" alt="Skin Bundle Offer" />
                    </div>
                    <div class="swiper-slide">
                        <img src="sections/isolated/led-mask-offer/images/3.webp" alt="Skin Bundle Offer" />
                    </div>
                    <div class="swiper-slide">
                        <img src="sections/isolated/led-mask-offer/images/4.webp" alt="Skin Bundle Offer" />
                    </div>
                    <div class="swiper-slide">
                        <img src="sections/isolated/led-mask-offer/images/5.webp" alt="Skin Bundle Offer" />
                    </div>
                </div>
            </div>
            <div class="c-swiper-thumbs-nav">
                <button class="c-swiper-button-prev"></button>
                <div
                    class="c-swiper c-swiper-thumbs"
                    data-swiper='{
                        "slidesPerView": "auto",
                        "spaceBetween": 12
                    }'
                >
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <img src="sections/isolated/led-mask-offer/images/1.webp" alt="Skin Bundle Offer" />
                        </div>
                        <div class="swiper-slide">
                            <img src="sections/isolated/led-mask-offer/images/2.webp" alt="Skin Bundle Offer" />
                        </div>
                        <div class="swiper-slide">
                            <img src="sections/isolated/led-mask-offer/images/3.webp" alt="Skin Bundle Offer" />
                        </div>
                        <div class="swiper-slide">
                            <img src="sections/isolated/led-mask-offer/images/4.webp" alt="Skin Bundle Offer" />
                        </div>
                        <div class="swiper-slide">
                            <img src="sections/isolated/led-mask-offer/images/5.webp" alt="Skin Bundle Offer" />
                        </div>
                    </div>
                </div>
                <button class="c-swiper-button-next"></button>
            </div>
        </div>
        <div class="hero-product__main">
            <div class="e-pill-badge e-pill-badge--md">Limited Time Offer</div>
            <h2>Q-Rejuvalight Pro LED Mask</h2>
            <h4>+ FREE Neck &amp; Décolletage LED System</h4>
            {{> c-special-offer }}
            <article>
                <ul>
                    <li>Lifetime Warranty</li>
                    <li>FDA Cleared</li>
                </ul>
                <p>Elevate your LED routine with full face and neck coverage for consistent all-over results.</p>
            </article>
            <hr />
            <div class="c-bundle-included">
                <p class="c-bundle-included__tile">What’s Included</p>
                <ul class="c-bundle-included__list">
                    <li>
                        <a href="#">
                            <img src="sections/isolated/led-mask-offer/images/q-rejuvalight.webp" alt="Q-Rejuvalight Pro LED Mask" />
                        </a>
                        <div>
                            <a href="#">Q-Rejuvalight Pro LED Mask</a>
                            <small>FDA-cleared device that treats acne, fine lines, wrinkles and dark spots.</small>
                            {{> e-price current="{$dyn}" }}
                        </div>
                    </li>
                    <li>
                        <a href="#">
                            <img src="sections/isolated/led-mask-offer/images/led-device.webp" alt="Neck & Décolletage LED Device" />
                        </a>
                        <div>
                            <a href="#">Neck &amp; Décolletage LED Device</a>
                            <small>Clinically proven to smooth and firm where aging shows first.</small>
                            {{> e-price current="FREE" old="{$dyn}" highlight=true }}
                        </div>
                    </li>
                </ul>
                <hr />
                <div class="c-bundle-included__amount">
                    <p>INSTANT SAVINGS: $299</p>
                    {{> e-price current="{$dyn}" old="{$dyn}" }}
                </div>
            </div>
            <div class="c-buy-block">
                {{> e-progress
                    label="Low Stock"
                    small="Due to high demand, this offer is only available while stock lasts."
                    progress="82"
                    low-stock=true
                }}
                {{> e-get-free-shipping
                    text="Order today to lock in your deal and get FREE Shipping"
                }}
                {{> c-order-button
                    button="Shop Now & Save {$dyn}"
                    hide-pay=true
                    arrow=true
                }}
                <div class="c-buy-block__payment-logos">
                    <img src="assets/images/full-payment-logos.svg" alt="Full payment logos" />
                </div>
                <ul class="e-features-list">
                    <li>
                        {{> e-icon icon="one-year" }}
                        1-Year Guarantee
                    </li>
                    <li>
                        {{> e-icon icon="shipping-order" }}
                        Free Shipping over {$dyn}
                    </li>
                </ul>
            </div>
        </div>
        <div class="hero-product__extra">
            {{> c-accordion
                type="lines"
                list='[
                    {
                        "summary": "Key Benefits",
                        "text": "
                            <p>The Q-Rejuvalight Pro is designed to deliver powerful, science-backed LED light technology from the comfort of home. It combines 5 clinically studied wavelengths to address multiple skin concerns with just one device. No downtime, no irritation, and no ongoing cost.</p>
                            <p>By using it just 3 minutes a day, you’re targeting the root causes of skin concerns like breakouts, pigmentation, fine lines, and redness.</p>
                            <p>Visible benefits include*:</p>
                            <ul>
                                <li>Visibly reduced look of breakouts and redness</li>
                                <li>Visibly improved look of uneven tone and signs of environmental exposure</li>
                                <li>Smoother fine lines and wrinkles</li>
                                <li>Faded dark spots and sun damage</li>
                                <li>Firmer, plumper-looking skin</li>
                                <li>Calmer, less reactive skin</li>
                            </ul>
                            <p>With consistent use, Qure supports long-term skin health and helps you maintain a radiant, balanced complexion, all without needing to layer on multiple products or book clinic appointments.</p>
                            <p>*As reported by customers in self-perception surveys and before-and-after images. Individual results may vary</p>
                        "
                    },
                    {
                        "summary": "How It Works",
                        "text": "
                            <p>It’s simple and only takes 3 minutes a day:</p>
                            <ol>
                                <li>Start with clean, dry skin</li>
                                <li>Put on the mask and adjust the strap</li>
                                <li>Press and hold the power button for 3 seconds to turn on</li>
                                <li>Press the power button once to activate Pro-Aging mode, or press it twice for Anti-Breakout mode. You can also customize your treatment completely and target specific facial zones via the Qure app.</li>
                            </ol>
                            <p>The mask will automatically shut off after the session. Follow with your regular skincare routine for best results.</p>
                        "
                    },
                    {
                        "summary": "What\'s Included",
                        "text": "
                            <p>This limited time bundle includes one Q-Rejuvalight Pro LED Face Mask and one Neck & Décolletage LED Device for free (worth $299).</p>
                        "
                    }
                ]'
            }}
        </div>
    {{/hero-product}}

    {{> features-marquee }}

    {{#> set-up }}
        <picture
            data-bs-toggle="modal"
            data-bs-target="#reusableWistiaModal"
            data-video-id="jlz3itwzrb"
        >
            <source media="(min-width:768px)" srcset="sections/new/set-up/images/mask-use-video.webp" />
            <img src="sections/new/set-up/images/mask-use-video-mob.webp" alt="See how quick and easy it is to use" />
        </picture>
        <h2>See how quick and easy it is to use</h2>
        <ol>
            <li>
                <picture>
                    <source media="(min-width:768px)" srcset="sections/new/set-up/images/mask-use-step-1.webp" />
                    <img src="sections/new/set-up/images/mask-use-step-1-mob.webp" alt="Prepare" />
                </picture>
                <h6>Prepare</h6>
                <p>Start with clean, dry skin—no serums or moisturizers before treatment.</p>
            </li>
            <li>
                <picture>
                    <source media="(min-width:767px)" srcset="sections/new/set-up/images/mask-use-step-2.webp" />
                    <img src="sections/new/set-up/images/mask-use-step-2-mob.webp" alt="Treatment" />
                </picture>
                <h6>Treatment</h6>
                <p>Open the Qure app to customize your or use the pre-set routines on the device.</p>
            </li>
            <li>
                <picture>
                    <source media="(min-width:767px)" srcset="sections/new/set-up/images/mask-use-step-3.webp">
                    <img src="sections/new/set-up/images/mask-use-step-3-mob.webp" alt="Aftercare" />
                </picture>
                <h6>Aftercare</h6>
                <p>Relax while the mask runs its 3-minute session. Afterward, follow with your usual skincare routine.</p>
            </li>
        </ol>
    {{/set-up}}

    {{#> why-it-work id="how_it_works" }}
        <div class="why-it-work__header">
            <h2>How It Works</h2>
            <ul class="e-pill-tabs" role="tablist">
                <li>
                    <button
                        class="active"
                        type="button"
                        data-bs-toggle="tab"
                        data-bs-target="#why-it-work-rejuvenating"
                    >
                        Skin Rejuvenating
                    </button>
                </li>
                <li>
                    <button
                        type="button"
                        data-bs-toggle="tab"
                        data-bs-target="#why-it-work-clearing"
                    >
                        Skin Clearing
                    </button>
                </li>
            </ul>
        </div>
        <div class="why-it-work__content show" id="why-it-work-rejuvenating">
            <figure>
                <figcaption>The Q-Rejuvalight Pro LED mask uses 5 light wavelengths and two modes for customizable skincare. Our FDA-cleared device targets your skin's needs.</figcaption>
                <img src="sections/isolated/how-it-works/images/mask_aging.webp" alt="Q-Rejuvalight Pro LED mask" />
            </figure>
            <article>
                <h6>Skin Rejuvenating Mode</h6>
                <div>
                    <p>On Skin Rejuvenating Mode, red and infrared wavelengths work together to help improve the appearance of skin texture and firmness. </p>
                    <p>Red light helps improve the look of skin smoothness and radiance. Deep red and infrared light work at different depths of the skin’s surface to help improve the look of wrinkles over time.</p>
                </div>
                <ul class="e-scale">
                    <li style="--graduation-color: #840d43">Infrared <span>(880 nm)</span></li>
                    <li style="--graduation-color: #b80e0d">Deep Red <span>(660 nm)</span></li>
                    <li style="--graduation-color: #f5181e">Red <span>(630 nm)</span></li>
                    <li style="--graduation-color: #fd8e15">Amber <span>(605 nm)</span></li>
                </ul>
            </article>
        </div>
        <div class="why-it-work__content" id="why-it-work-clearing">
            <figure>
                <figcaption>The Q-Rejuvalight Pro LED mask uses 5 light wavelengths and two modes for customizable skincare. Our FDA-cleared device targets your skin's needs.</figcaption>
                <img src="sections/isolated/how-it-works/images/mask_breakout.webp" alt="Q-Rejuvalight Pro LED mask" />
            </figure>
            <article>
                <h6>Skin Clearing Mode</h6>
                <div>
                    <p>Our Skin Clearing Mode combines blue and red light wavelengths. Blue (415 nm) helps with mild-to-moderate acne, while red (630 nm) helps calm and soothe the appearance of irritated skin.</p>
                    <p>Together, these wavelengths help improve the appearance of breakouts, support clearer-looking skin, and promote a balanced, healthier-looking complexion.</p>
                </div>
                <ul class="e-scale">
                    <li style="--graduation-color: #2b5aa2">Blue <span>(415 nm)</span></li>
                    <li style="--graduation-color: #f5181e">Red <span>(630 nm)</span></li>
                </ul>
            </article>
        </div>
        <div class="why-it-work__accordion">
            <hr />
            {{> c-accordion
                list='[
                    {
                        "summary": "Technical specifications",
                        "text": "
                            <p>
                                <strong>TREATMENT TIME: </strong> 3 minutes<br />
                                <strong>CERTIFICATES: </strong> FDA, TGA, CE, UKCA<br />
                                <strong>OPERATION: </strong>Wireless, hands-free<br />
                                <strong>WAVELENGTH: </strong>415nm (Blue), 605nm (Amber), 630nm (Red), 660nm (Deep Red), 880nm (Infrared)<br />
                                <strong>TREATMENT TIME: </strong> 2 hours<br />
                                <strong>CHARGING TIME: </strong> 3 minutes<br />
                                <strong>LEDs: </strong> 160 dual core
                            </p>
                        "
                    },
                    {
                        "summary": "Treatment details",
                        "text": "
                            <p>
                                <strong>USE: </strong> Use daily after cleansing, before topical skincare<br />
                                <strong>PRO-AGING TREATMENT: </strong> 415nm (Blue), 605nm (Amber), 630nm (Red), 660nm (Deep Red), 880nm (Infrared)<br />
                                <strong>ANTI-BREAKOUT TREATMENT: </strong> 415nm (Blue), 630nm (Red)<br />
                                <strong>CUSTOMIZED TREATMENT: </strong> Choose treatment modes for each facial area via app<br />
                                <strong>Skin Type: </strong>Most suitable for Fitzpatrick Skin Types I-IV
                            </p>
                        "
                    }
                ]'
            }}
        </div>
    {{/why-it-work }}

    {{#> base-section
        classes="base-section--simple-grid"
        title="Clinical-grade LED, personalized to your skin"
        picture="sections/global/banner-with-text/images/clinical-grade.webp"
    }}
        <p><strong>See transformative results in less than 12 weeks.</strong></p>
        <p>Safe, clinically proven wavelengths of light penetrate the layers of the skin at various depths to trigger natural cellular reactions that treats skin concerns from the inside out, for immediate and long lasting results.</p>
    {{/base-section }}

    {{#> base-section
        classes="base-section--simple-grid base-section--reverse"
        title="Qure mobile app"
        picture="assets/images/qure_mobile_app.webp"
    }}
        <p><strong>The only FDA-cleared LED light therapy mask with an app.</strong></p>
        <p>Your skin is unique, so your treatment should be too.</p>
        <p>Choose between <em>three treatment modes</em> - “Skin Rejuvenating”, “Skin Clearing” or custom treatment zones. Select a treatment mode on five different facial areas to <em>treat and target what your skin needs</em> today.</p>
        <p>Never miss a treatment with Qure mobile app planner and phone reminders.</p>
    {{/base-section }}

    {{#> base-section
        classes="base-section--small-media"
        title="Trusted and Recommended by Experts"
        video='[
            {
                "url": "https://www.youtube.com/watch?v=jwKN4SH4yz8",
                "picture": "sections/isolated/experts/images/doctor_img_clean.webp",
                "label-main": "Dr. Shah & Dr. Maxfield",
                "label-secondary": "Board Certified Dermatologists"
            }
        ]'
        pill-badge=true
    }}
        <p>“Of all the LED masks we’ve tried, this is <em>the best on the market right now...</em> It didn’t lose in any category...</p>
        <p>There’s real science behind LED therapy, and <em>Qure makes it easy</em> to be consistent—which is what really drives results.”</p>
    {{/base-section }}

    {{#> base-slider
        classes="base-slider--tree-cards"
        title=""
    }}
        <div
            class="c-swiper"
            data-swiper='{
                "slidesPerView": 1.1,
                "spaceBetween": 13,
                "loop": false,
                "pagination": {
                    "el": ".c-swiper-pagination",
                    "type": "custom"
                },
                "navigation": {
                    "prevEl": ".c-swiper-button-prev",
                    "nextEl": ".c-swiper-button-next"
                },
                "breakpoints": {
                    "768": {
                        "slidesPerView": 2
                    },
                    "1200": {
                        "slidesPerView": 3,
                        "spaceBetween": 16
                    }
                }
            }'
        >
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="c-trusted-video-card">
                        <picture
                            class="filter-card-video"
                            data-bs-toggle="modal"
                            data-bs-target="#reusableWistiaModal"
                            data-video-id="qnxqysx3sg"
                        >
                            <img src="sections/isolated/trusted-video/images/lmv-1.webp" alt="Dr. Prem Tripathi" />
                        </picture>
                        <article>
                            <p>"Qure has a fully customized mask which has 5 clinical-grade wavelength for aging and acne."</p>
                            <div>
                                <p>Dr. Prem Tripathi</p>
                                <p><span class="e-checkmark"></span> Board-Certified Dermatologist</p>
                            </div>
                        </article>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="c-trusted-video-card">
                        <picture data-url="https://www.youtube.com/watch?v=1iXBgh7WPOY">
                            <img src="sections/isolated/trusted-video/images/lmv-2.webp" alt="Dr. Dylan Greeney" />
                        </picture>
                        <article>
                            <p>"Qure's anti-aging treatment gets down deep into your skin to stimulate collagen & makes a big difference..."</p>
                            <div>
                                <p>Dr. Dylan Greeney</p>
                                <p><span class="e-checkmark"></span> Board-Certified Dermatologist</p>
                            </div>
                        </article>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="c-trusted-video-card">
                        <picture data-url="https://www.youtube.com/watch?v=AeksxRPZyrA">
                            <img src="sections/isolated/trusted-video/images/lmv-3.webp" alt="Dr. Luke Maxfield" />
                        </picture>
                        <article>
                            <p>"This is one of my faves from @qureskincare. It's a high quality mask and personalizable."</p>
                            <div>
                                <p>Dr. Luke Maxfield</p>
                                <p><span class="e-checkmark"></span> Board-Certified Dermatologist</p>
                            </div>
                        </article>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="c-trusted-video-card">
                        <picture data-url="https://www.youtube.com/watch?v=XtgmSadah48">
                            <img src="sections/isolated/trusted-video/images/lmv-4.webp" alt="Dr. Anthony Youn" />
                        </picture>
                        <article>
                            <p>"This mask actively treats the entire face for clearer and more beautiful skin."</p>
                            <div>
                                <p>Dr. Anthony Youn</p>
                                <p><span class="e-checkmark"></span> Plastic Surgeon</p>
                            </div>
                        </article>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="c-trusted-video-card">
                        <picture data-url="https://www.youtube.com/watch?v=lLkM7Q7It2A&t=154s">
                            <img src="sections/isolated/trusted-video/images/lmv-5.webp" alt="Dr. Yaseen Arsalan" />
                        </picture>
                        <article>
                            <p>"These wavelengths trigger cells to create even more collagen... helping reduce common signs of aging."</p>
                            <div>
                                <p>Dr. Yaseen Arsalan</p>
                                <p><span class="e-checkmark"></span> Doctor of Pharmacy</p>
                            </div>
                        </article>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="c-trusted-video-card">
                        <picture data-url="https://www.youtube.com/watch?v=7nQcleLpPnk">
                            <img src="sections/isolated/trusted-video/images/lmv-6.webp" alt="Dr. Davin Lim" />
                        </picture>
                        <article>
                            <p>"Not your average LED mask... this is a deeper, more effective way to achieve healthy, radiant skin."</p>
                            <div>
                                <p>Dr. Davin Lim</p>
                                <p><span class="e-checkmark"></span> Board-Certified Dermatologist</p>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
            <div class="c-swiper-nav">
                <button class="c-swiper-button-prev"></button>
                <div class="c-swiper-pagination"></div>
                <button class="c-swiper-button-next"></button>
            </div>
        </div>
    {{/base-slider }}

    {{#> comparison
        title="The beauty of clinical results from home - without the ‘clinical’ costs"
        picture-first="sections/isolated/eye-patches/images/clinical-1.webp"
        picture-second="sections/isolated/eye-patches/images/rejuv_vs_2.webp"
        name-first="Qure"
        name-second="Derm/Clinic Treatments"
        list-first='[
            "<div><strong>One-time</strong> investment</div>",
            "No appointments - use anytime at home",
            "Saves time with only 3 minutes a day",
            "Better results with more frequent treatments",
            "Customized approach with clinical backing"
        ]'
        list-second='[
            "<div><strong>Ongoing cost</strong> per session</div> ",
            "Completed according to clinic\'s availability",
            "Requires 20-30 mins per session, plus travel time",
            "Less treatments = less consistent results",
            "Customized approach with clinical backing"
        ]'
        declaimer="*Based on laboratory testing under controlled conditions. Performance may vary depending on water quality and usage."
    }}
        <p>It’s like going to a clinic, minus the on-going costs, the time commitment, the overpromises, the upselling and the hassle.</p>
    {{/comparison }}

    {{#> across-image-banner
        classes="across-image-banner--hero"
    }}
        <picture>
            <source media="(min-width: 768px)" srcset="sections/isolated/page-banner/images/hero.webp" />
            <img src="sections/isolated/page-banner/images/hero-mob-1.webp" />
        </picture>
        <div class="container">
            <article>
                <div class="c-inline-product-box">
                    {{> c-rating value="4.8" light=true }}
                    <h2>Maximize Benefits with a FREE Neck &amp; Décolletage LED System</h2>
                    {{> c-special-offer
                        hide-label=true
                        pill-text="SAVE {$dyn}"
                    }}
                    <ul>
                        <li>Extend your treatment beyond the face for an all-over rejuvenated&nbsp;look</li>
                        <li>Visibly smooth fine lines, improve skin texture, and support firmness</li>
                        <li>Helps reduce the look of dark spots and improve uneven tone for a&nbsp;more radiant complexion</li>
                    </ul>
                    <form class="c-buy-block" action="#">
                        {{> c-order-button
                            button="SHOP NOW & SAVE {$DYN}"
                            hide-pay=true
                            arrow=true
                        }}
                    </form>
                </div>
            </article>
        </div>
    {{/across-image-banner }}

    {{> have-questions
        devices-technical=true
        list='[
            {
                "summary": "How quickly will I see results?",
                "text": "
                    <p>Every individual may respond differently to specific wavelengths of light, and results will depend on the goal you want to address.</p>
                    <p>Most users report visible improvements in the look of breakouts and redness sooner than expected. Smoother-looking lines, improved tone, and a firmer appearance may take longer.</p>
                    <p>Changes are often gradual, so we recommend taking “before and after” photos to track your results. Consistency is key for maintaining improvements over time.</p>
                "
            },
            {
                "summary": "How often can I use these treatments?",
                "text": "
                    <p>You can use both the Q-Rejuvalight Pro Mask and the Neck & Décolletage LED Device daily. In fact, consistent daily use is recommended for best results.</p>
                "
            },
            {
                "summary": "Do I need to wear eye protection when I use the Q-Rejuvalight Pro?",
                "text": "
                    <p>The Q-Rejuvalight Pro has been tested and cleared for eye safety. It has successfully passed the IEC62471 evaluation for eye safety test, which is used to determine whether a device\'s light output is safe for the eyes or not.</p>
                    <p>Regardless, we recommend closing your eyes and wearing protective eyewear during treatment. The light can be bright when powered on and some users may experience sensitivity, even when closing their eyes.</p>
                    <p>As part of our unwavering commitment to your safety, we decided to take the initiative to include FREE light blocking protective eyewear with our Q-Rejuvalight Pro LED mask that works seamlessly during your treatment.</p>
                "
            },
            {
                "summary": "Is LED light therapy safe for all skin types?",
                "text": "
                    <p>Yes — the Q-Rejuvalight Pro is designed for use across all skin types when used as directed.</p>
                    <p>That said, skin types V and VI (on the Fitzpatrick scale) may be more sensitive to visible light due to higher melanin levels, leading to increased photo-absorption and a small risk of pigmentation changes.</p>
                    <p>Because of this, we advise that those with darker skin tones or pigment-prone skin consult with their dermatologist before use to determine proper settings and usage frequency.</p>
                    <p>Many users with deeper skin tones have used the device safely and shared positive outcomes when protocols were followed carefully.</p>
                "
            },
            {
                "summary": "Does the Q-Rejuvalight Pro come with warranty?",
                "text": "
                    <p>Q-Rejuvalight Pro Facewear comes with one (1) year warranty covering any manufacturer related problems resulting from everyday use of the product. However, this device is designed to last years! Proudly designed in Australia.</p>
                "
            },
            {
                "summary": "At what age and when is the best time to start using LED light therapy?",
                "text": "
                    <p>Most people can benefit from LED light therapty. Whether the goal is to treat acne, help reduce the visible signs of aging, or both, prevention is better than correction. The sooner the Q-Rejuvalight Pro becomes part of your routine, the better!</p>
                "
            },
            {
                "summary": "Is Q-Rejuvalight Pro FDA-cleared?",
                "text": "
                    <p>Yes! The Q-Rejuvalight Pro LED Mask is the world’s first customizable, FDA-cleared at-home LED device designed for the treatment of wrinkles and mild-to-moderate inflammatory acne. You can find more details about the clearance on the FDA website (K230042).</p>
                "
            }
        ]'
    }}

{{/section-stack }}

{{#> cta-bar
    name="Q-Rejuvalight Pro + Neck & Décolletage LED Device"
    button="Shop Now & Save $299"
}}
{{/cta-bar}}

{{/new }}
