{{#> new
    title="Micro-Infusion Dark Spot"
    body-class="page.micro-infusion-dark-spots"
}}

{{#> section-stack }}
    {{#> hero-product }}
        <div class="hero-product__gallery">
            <div
                class="c-swiper"
                data-swiper-thumbs="#hero-product .c-swiper-thumbs"
                data-swiper='{
                    "slidesPerView": 1,
                    "spaceBetween": 16,
                    "navigation": {
                        "prevEl": "#hero-product .c-swiper-button-prev",
                        "nextEl": "#hero-product .c-swiper-button-next"
                    }
                }'
            >
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <img src="sections/isolated/micro-infusion-pdp/images/sunil_mi_pdp_9.webp" alt="Micro-Infusion" />
                    </div>
                    <div class="swiper-slide">
                        <img
                            class="watch-wistia-video"
                            src="sections/isolated/micro-infusion-pdp/images/sunil_mi_pdp_2.webp" alt="Micro-Infusion"
                            data-bs-toggle="modal"
                            data-bs-target="#reusableWistiaModal"
                            data-video-id="jg8c1a3bee"
                        />
                    </div>
                    <div class="swiper-slide">
                        <img src="sections/isolated/micro-infusion-pdp/images/B&A-9.webp" alt="Micro-Infusion" />
                    </div>
                    <div class="swiper-slide">
                        <img src="sections/isolated/micro-infusion-pdp/images/mi-5.webp" alt="Micro-Infusion" />
                    </div>
                    <div class="swiper-slide">
                        <img src="sections/isolated/micro-infusion-pdp/images/B&A-10.webp" alt="Micro-Infusion" />
                    </div>
                    <div class="swiper-slide">
                        <img src="sections/isolated/micro-infusion-pdp/images/mi-6.webp" alt="Micro-Infusion" />
                    </div>
                    <div class="swiper-slide">
                        <img src="sections/isolated/micro-infusion-pdp/images/sunil_mi_pdp_6.webp" alt="Micro-Infusion" />
                    </div>
                    <div class="swiper-slide">
                        <img src="sections/isolated/micro-infusion-pdp/images/sunil_mi_pdp_7.webp" alt="Micro-Infusion" />
                    </div>
                    <div class="swiper-slide">
                        <img src="sections/isolated/micro-infusion-pdp/images/sunil_mi_pdp_8.webp" alt="Micro-Infusion" />
                    </div>
                    <div class="swiper-slide">
                        <img src="sections/isolated/micro-infusion-pdp/images/sunil_mi_pdp_12.webp" alt="Micro-Infusion" />
                    </div>
                    <div class="swiper-slide">
                        <img src="sections/isolated/micro-infusion-pdp/images/mi-13.webp" alt="Micro-Infusion" />
                    </div>
                </div>
            </div>
            <div class="c-swiper-thumbs-nav">
                <button class="c-swiper-button-prev"></button>
                <div
                    class="c-swiper c-swiper-thumbs"
                    data-swiper='{
                        "slidesPerView": "auto",
                        "spaceBetween": 12
                    }'
                >
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <img src="sections/isolated/micro-infusion-pdp/images/sunil_mi_pdp_9.webp" alt="Micro-Infusion" />
                        </div>
                        <div class="swiper-slide">
                            <img src="sections/isolated/micro-infusion-pdp/images/sunil_mi_pdp_2.webp" alt="Micro-Infusion" />
                        </div>
                        <div class="swiper-slide">
                            <img src="sections/isolated/micro-infusion-pdp/images/B&A-9.webp" alt="Micro-Infusion" />
                        </div>
                        <div class="swiper-slide">
                            <img src="sections/isolated/micro-infusion-pdp/images/mi-5.webp" alt="Micro-Infusion" />
                        </div>
                        <div class="swiper-slide">
                            <img src="sections/isolated/micro-infusion-pdp/images/B&A-10.webp" alt="Micro-Infusion" />
                        </div>
                        <div class="swiper-slide">
                            <img src="sections/isolated/micro-infusion-pdp/images/mi-6.webp" alt="Micro-Infusion" />
                        </div>
                        <div class="swiper-slide">
                            <img src="sections/isolated/micro-infusion-pdp/images/sunil_mi_pdp_6.webp" alt="Micro-Infusion" />
                        </div>
                        <div class="swiper-slide">
                            <img src="sections/isolated/micro-infusion-pdp/images/sunil_mi_pdp_7.webp" alt="Micro-Infusion" />
                        </div>
                        <div class="swiper-slide">
                            <img src="sections/isolated/micro-infusion-pdp/images/sunil_mi_pdp_8.webp" alt="Micro-Infusion" />
                        </div>
                        <div class="swiper-slide">
                            <img src="sections/isolated/micro-infusion-pdp/images/sunil_mi_pdp_12.webp" alt="Micro-Infusion" />
                        </div>
                        <div class="swiper-slide">
                            <img src="sections/isolated/micro-infusion-pdp/images/mi-13.webp" alt="Micro-Infusion" />
                        </div>
                    </div>
                </div>
                <button class="c-swiper-button-next"></button>
            </div>
        </div>
        <div class="hero-product__main">
            {{> c-rating value="4.8" }}
            <h1>Fade dark spots and reveal even complexion with this 5-minute treatment</h1>
            <article>
                <ul>
                    <li>Stimulates skin regeneration to smooth acne scars, works beneath the surface where topicals can't reach</li>
                    <li>Easy 5-minute treatment that triggers your skin's natural healing response for visibly smother, even-toned skin.</li>
                    <li>Watch as skin texture improves and scars become less visible, with typical results after just 3 sessions every 2 weeks</li>
                </ul>
            </article>
            <div class="c-buy-block">
                {{> c-order-button
                    button="GET SMOOTHER, GLOWING SKIN"
                    hide-pay=true }}
            </div>
            <picture
                data-label-text="Watch: How To Use"
                data-bs-toggle="modal"
                data-bs-target="#reusableWistiaModal"
                data-video-id="8ymvdqzx92"
            >
                <img src="sections/isolated/micro-infusion-pdp/images/how-to-use3.webp" alt="Watch: How To Use" />
            </picture>
        </div>
        <div class="hero-product__extra">
            {{> c-jump-to
                list='[
                    {
                        "id": "improve_skin",
                        "name": "The Results"
                    },
                    {
                        "id": "crystal_clear",
                        "name": "Reviews"
                    },
                    {
                        "id": "easy_steps",
                        "name": "How To Use"
                    },
                    {
                        "id": "why_it_works",
                        "name": "How It Works"
                    },
                    {
                        "id": "faq",
                        "name": "FAQs"
                    }
                ]'
            }}
        </div>
    {{/hero-product}}

    {{#> press-reviews }}
        <div
            class="c-swiper"
            data-swiper-thumbs=".press-reviews .c-swiper-thumbs"
            data-swiper='{
                "slidesPerView": 1,
                "spaceBetween": 16,
                "loop": true,
                "autoplay": {
                    "delay": 5000
                }
            }'
        >
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <h4>"Few beauty trends are actually worth adopting, but Qure’s take on at-home Micro-Infusion is a viral skin trend with merit."</h4>
                </div>
                <div class="swiper-slide">
                    <h4>A true micro-infusion treatment — creating microchannels that help enhance serum absorption and support visibly smoother-looking skin.</h4>
                </div>
                <div class="swiper-slide">
                    <h4>"This microneedling alternative is my secret to glowing skin."</h4>
                </div>
            </div>
        </div>
        <div class="c-swiper c-swiper-thumbs"
            data-swiper='{
                "slidesPerView": 3,
                "spaceBetween": 30,
                "breakpoints": {
                    "992": {
                        "spaceBetween": 80
                    }
                }
            }'
        >
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <img src="sections/isolated/press_slider/images/forbes.svg" alt="Forbes" />
                </div>
                <div class="swiper-slide">
                    <img src="sections/isolated/press_slider/images/bazzar.svg" alt="Bazzar" />
                </div>
                <div class="swiper-slide">
                    <img src="sections/isolated/press_slider/images/ps.svg" alt="PS" />
                </div>
            </div>
        </div>
    {{/press-reviews}}

    {{#> base-section
        classes="base-section--reverse"
        title="Qure’s Micro-Infusion goes where your skin cream can’t…"
        wistia="a1pykz2tp0"
        button="BUY NOW & SAVE UP TO 43%"
    }}
        <p>Its tiny, almost painless, microneedles penetrate beyond the skin's surface to <strong>activate skin regeneration</strong> and deliver powerful active ingredients EXACTLY where they're needed for scar improvement!</p>
        {{> c-percent-list
            list='[
                {
                    "value": 90,
                    "text": "agreed their skin looked better after Micro-Infusion."
                },
                {
                    "value": 93,
                    "text": "reported skin appeared more hydrated and glowy."
                }
            ]'
            columns=true
        }}
    {{/base-section }}

    {{> highlight
        text="THE ONLY FACIAL TREATMENTS YOUR SKIN NEEDS"
        mobile="Available until stocks last!"
    }}

    {{#> base-section
        title="Introducing the Qure Micro-Infusion System"
        picture="sections/global/banner-with-text/images/mi_serum-show.webp"
        buy-block=true
    }}
        <div class="c-note" style="--note-bg: #f6f6f7">“<strong>Even my esthetician is hooked!</strong> And I can now visit beauty clinics less&nbsp;often.”</div>
        <ul class="c-marked-list">
            <li>Works beneath the surface where topicals can't reach to target <strong>stubborn dark spots</strong> and uneven tone</li>
            <li>Wake up with <strong>radiant, more even-toned</strong> skin</li>
            <li>Minimal to no downtime, and <strong>virtually painless</strong></li>
            <li>Easy to use <strong>5-minute</strong> treatment</li>
        </ul>
    {{/base-section }}

    {{#> achieve-goals
        title="Achieve your skincare goals"
        list='["Fade Hyperpigmentation", "Improve Tone and Texture", "Boost Glow and Radiance"]'
    }}
        <div class="swiper-slide">
            <div class="c-trusted-review-card c-trusted-review-card--short">
                <picture>
                    <img src="sections/isolated/archive/images/kyla.webp" alt="Before and after image" />
                </picture>
                <div class="e-author">
                    <img src="sections/isolated/review-slider/images/america_f.webp" alt="Kyla R." />
                    Kyla R.
                </div>
                <div class="e-verified-customer">
                    <div class="e-checkmark"></div>
                    Verified
                </div>
            </div>
            <article>
                <h3>Fade Hyperpigmentation and Dark Spots</h3>
                <p>Qure’s Micro-Infusion can help reduce the appearance of dark spots and uneven tone by combining gentle microneedling with targeted brightening serum delivery.</p>
                <hr />
                <ul>
                    <li>Helps target stubborn pigmentation where topicals can’t reach</li>
                    <li>Supports skin renewal for a more even-looking complexion</li>
                    <li>Creates visible improvement in tone and clarity over time</li>
                </ul>
            </article>
        </div>
        <div class="swiper-slide">
            <div class="c-trusted-review-card c-trusted-review-card--short">
                <picture>
                    <img src="sections/isolated/archive/images/jess.webp" alt="Before and after image" />
                </picture>
                <div class="e-author">
                    <img src="sections/isolated/review-slider/images/australia_f.webp" alt="Jess M." />
                    Jess M.
                </div>
                <div class="e-verified-customer">
                    <div class="e-checkmark"></div>
                    Verified
                </div>
            </div>
            <article>
                <h3>Improve Tone &amp; Texture</h3>
                <p>Uneven tone can make skin look older and less healthy. Micro-Infusion helps minimize the look of blotchiness by delivering concentrated ingredients where they’re needed most.</p>
                <hr />
                <ul>
                    <li>Helps minimize the look of pores for a smoother, clearer complexion</li>
                    <li>Softens the appearance of redness and patchiness</li>
                    <li>Targets rough texture and uneven tone</li>
                </ul>
            </article>
        </div>
        <div class="swiper-slide">
            <div class="c-trusted-review-card c-trusted-review-card--short">
                <picture>
                    <img src="sections/isolated/archive/images/monika.webp" alt="Before and after image" />
                </picture>
                <div class="e-author">
                    <img src="sections/isolated/review-slider/images/america_f.webp" alt="Monika J." />
                    Monika J.
                </div>
                <div class="e-verified-customer">
                    <div class="e-checkmark"></div>
                    Verified
                </div>
            </div>
            <article>
                <h3>Boost Glow and Revive Dull Skin</h3>
                <p>Refresh tired-looking skin by infusing hydrating, brightening ingredients deep into the skin for a fresh, radiant finish that lasts.</p>
                <hr />
                <ul>
                    <li>Brightens the look of tired skin for a healthier appearance</li>
                    <li>Boosts hydration to help skin look plump and refreshed</li>
                    <li>Leaves skin looking refreshed and full of life</li>
                </ul>
            </article>
        </div>
    {{/achieve-goals }}

    {{> features-marquee }}

    {{#> base-slider id="crystal_clear" title="Confident skin starts here" }}
        <div
            class="c-swiper"
            data-swiper='{
                "slidesPerView": 1.2,
                "spaceBetween": 16,
                "loop": false,
                "pagination": {
                    "el": ".c-swiper-pagination",
                    "type": "custom"
                },
                "navigation": {
                    "prevEl": ".c-swiper-button-prev",
                    "nextEl": ".c-swiper-button-next"
                },
                "breakpoints": {
                    "480": {
                        "slidesPerView": 2.2
                    },
                    "768": {
                        "slidesPerView": 4
                    }
                }
            }'
        >
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="wistia-embed-video">
                        <div class="wistia_responsive_padding">
                            <div class="wistia_responsive_wrapper">
                                <div class="wistia_embed wistia_async_zs3ddb0qly popover=true seo=false videoFoam=true">
                                    <div class="wistia_swatch">
                                        <img
                                            src="https://fast.wistia.com/embed/medias/zs3ddb0qly/swatch"
                                            alt="Wistia video thumbnail"
                                            style="filter: blur(5px);"
                                        />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="wistia-embed-video">
                        <div class="wistia_responsive_padding">
                            <div class="wistia_responsive_wrapper">
                                <div class="wistia_embed wistia_async_v5e5op6ap7 popover=true seo=false videoFoam=true">
                                    <div class="wistia_swatch">
                                        <img
                                            src="https://fast.wistia.com/embed/medias/v5e5op6ap7/swatch"
                                            alt="Wistia video thumbnail"
                                            style="filter: blur(5px);"
                                        />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="wistia-embed-video">
                        <div class="wistia_responsive_padding">
                            <div class="wistia_responsive_wrapper">
                                <div class="wistia_embed wistia_async_zhb1w8ise9 popover=true seo=false videoFoam=true">
                                    <div class="wistia_swatch">
                                        <img
                                            src="https://fast.wistia.com/embed/medias/zhb1w8ise9/swatch"
                                            alt="Wistia video thumbnail"
                                            style="filter: blur(5px);"
                                        />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="wistia-embed-video">
                        <div class="wistia_responsive_padding">
                            <div class="wistia_responsive_wrapper">
                                <div class="wistia_embed wistia_async_opfbh936fc popover=true seo=false videoFoam=true">
                                    <div class="wistia_swatch">
                                        <img
                                            src="https://fast.wistia.com/embed/medias/opfbh936fc/swatch"
                                            alt="Wistia video thumbnail"
                                            style="filter: blur(5px);"
                                        />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="wistia-embed-video">
                        <div class="wistia_responsive_padding">
                            <div class="wistia_responsive_wrapper">
                                <div class="wistia_embed wistia_async_nei98l696b popover=true seo=false videoFoam=true">
                                    <div class="wistia_swatch">
                                        <img
                                            src="https://fast.wistia.com/embed/medias/nei98l696b/swatch"
                                            alt="Wistia video thumbnail"
                                            style="filter: blur(5px);"
                                        />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="wistia-embed-video">
                        <div class="wistia_responsive_padding">
                            <div class="wistia_responsive_wrapper">
                                <div class="wistia_embed wistia_async_jcgxarsfbj popover=true seo=false videoFoam=true">
                                    <div class="wistia_swatch">
                                        <img
                                            src="https://fast.wistia.com/embed/medias/jcgxarsfbj/swatch"
                                            alt="Wistia video thumbnail"
                                            style="filter: blur(5px);"
                                        />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="c-swiper-nav">
                <button class="c-swiper-button-prev"></button>
                <div class="c-swiper-pagination"></div>
                <button class="c-swiper-button-next"></button>
            </div>
        </div>
    {{/base-slider }}

    {{#> base-section
        classes="base-section--simple-grid base-section--reverse"
        title="Dual action for twice the results"
        picture="sections/global/banner-with-text/images/dual_action-women.webp"
    }}
        <p>Qure’s Micro-Infusion System has a one-two punch, making it uniquely effective.</p>
        <ol>
            <li>First, it uses tiny 24K gold needles (thinner than a hair) to gently press into your skin. This helps improve firmness and smooth out fine lines.</li>
            <li>Next, it delivers serum through the tiny channels created, so your skin absorbs the ingredients more deeply.</li>
        </ol>
        <p>Perfect for anyone wanting to add a fresh, dewy glowing look to their skin, especially before an event or occasion.</p>
    {{/base-section }}

    {{> why-using
        classes="why-using--bg"
        title="5 reasons why everyone is using the Qure Micro-Infusion System"
        list='[
            {
                "icon": "save-money",
                "name": "Saves time, money and hassle compared to in-clinic treatments"
            },
            {
                "icon": "mi-quick",
                "name": "Quick & easy 5-minute DIY facial from the convenience of home"
            },
            {
                "icon": "mi-painless",
                "name": "Virtually painless, little to no downtime"
            },
            {
                "icon": "two-in-one",
                "name": "2-in-1 system refreshes the look of skin for a visible glow"
            },
            {
                "icon": "perfect-transforming",
                "name": "Perfect for transforming dull-looking skin before events"
            }
        ]'
    }}

    {{#> base-section
        classes="base-section--small-media"
        title="Trusted and Recommended by Experts"
        video='[
            {
                "url": "https://www.youtube.com/watch?v=mVdncsTAXiA",
                "picture": "sections/isolated/experts/images/dr_shah_max_clean.webp",
                "label-main": "Dr. Shah & Dr. Maxfield",
                "label-secondary": "Board Certified Dermatologists"
            }
        ]'
        pill-badge=true
    }}
        <p>“This treatment is an at-home option for those who want to <em>avoid the hassle or cost of going to the office</em>”.</p>
    {{/base-section }}

    {{#> base-slider
        classes="base-slider--tree-cards"
        title=""
    }}
        <div
            class="c-swiper"
            data-swiper='{
                "slidesPerView": 1.1,
                "spaceBetween": 13,
                "loop": false,
                "pagination": {
                    "el": ".c-swiper-pagination",
                    "type": "custom"
                },
                "navigation": {
                    "prevEl": ".c-swiper-button-prev",
                    "nextEl": ".c-swiper-button-next"
                },
                "breakpoints": {
                    "768": {
                        "slidesPerView": 2
                    },
                    "1200": {
                        "slidesPerView": 3,
                        "spaceBetween": 16
                    }
                }
            }'
        >
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="c-trusted-video-card">
                        <picture
                            class="filter-card-video"
                            data-bs-toggle="modal"
                            data-bs-target="#reusableWistiaModal"
                            data-video-id="rehxqby0fq"
                        >
                            <img src="sections/isolated/trusted-video/images/home-trusted_img_1.webp" alt="Dr. Alekandra Brown" />
                        </picture>
                        <article>
                            <p>"I like using this between my in-office treatments and it's easy to use, even for beginners." </p>
                            <div>
                                <p>Dr. Alekandra Brown</p>
                                <p><span class="e-checkmark"></span> Board-Certified Dermatologist</p>
                            </div>
                        </article>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="c-trusted-video-card">
                        <picture
                            data-bs-toggle="modal"
                            data-bs-target="#reusableWistiaModal"
                            data-video-id="ug1o3j3d8w"
                        >
                            <img src="sections/isolated/trusted-video/images/trusted_img_5.webp" alt="Dr. Lindsey Zubritsky" />
                        </picture>
                        <article>
                            <p>"After just a few uses my wrinkles look less visible and my skin brighter and smoother."</p>
                            <div>
                                <p>Dr. Lindsey Zubritsky</p>
                                <p><span class="e-checkmark"></span> Board-Certified Dermatologist</p>
                            </div>
                        </article>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="c-trusted-video-card">
                        <picture
                            data-bs-toggle="modal"
                            data-bs-target="#reusableWistiaModal"
                            data-video-id="wbf95ywhx4"
                        >
                            <img src="sections/isolated/trusted-video/images/trusted_img_6.webp" alt="Dr. Alexis Stephens" />
                        </picture>
                        <article>
                            <p>"You can get a clinical treatment at home safely and conveniently... and it's particularly beneficial for those with melanin-rich skin"</p>
                            <div>
                                <p>Dr. Alexis Stephens</p>
                                <p><span class="e-checkmark"></span> Internal Medicine Doctor</p>
                            </div>
                        </article>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="c-trusted-video-card">
                        <picture
                            data-bs-toggle="modal"
                            data-bs-target="#reusableWistiaModal"
                            data-video-id="gzba345nd4"
                        >
                            <img src="sections/isolated/trusted-video/images/trusted_img_9.webp" alt="Dr. Prem Tripati" />
                        </picture>
                        <article>
                            <p>"With Qure's Micro-Infusion System - consistency is key."</p>
                            <div>
                                <p>Dr. Prem Tripati</p>
                                <p><span class="e-checkmark"></span> Facial Plastic Surgeon</p>
                            </div>
                        </article>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="c-trusted-video-card">
                        <picture
                            data-bs-toggle="modal"
                            data-bs-target="#reusableWistiaModal"
                            data-video-id="ypvcdsgwkx"
                        >
                            <img src="sections/isolated/trusted-video/images/trusted_img_8.webp" alt="Dr. Wallace Nozile" />
                        </picture>
                        <article>
                            <p>"One of the best ways to treat hyperpigmentation at home."</p>
                            <div>
                                <p>Dr. Wallace Nozile</p>
                                <p><span class="e-checkmark"></span> Board-Certified Dermatologist</p>
                            </div>
                        </article>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="c-trusted-video-card">
                        <picture
                            data-bs-toggle="modal"
                            data-bs-target="#reusableWistiaModal"
                            data-video-id="3bud7no0j9"
                        >
                            <img src="sections/isolated/trusted-video/images/trusted_img_7.webp" alt="Dr. Davin Lim" />
                        </picture>
                        <article>
                            <p>"With Micro-Infusion, you get to see the results almost instantly."</p>
                            <div>
                                <p>Dr. Davin Lim</p>
                                <p><span class="e-checkmark"></span> Board-Certified Dermatologist</p>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
            <div class="c-swiper-nav">
                <button class="c-swiper-button-prev"></button>
                <div class="c-swiper-pagination"></div>
                <button class="c-swiper-button-next"></button>
            </div>
        </div>
    {{/base-slider }}

    {{#> trusted-reviews
        title="Results you’ll see with your own eyes"
        button="buy now & SAVE up to 43%"
    }}
        <div class="swiper-slide">
            <div class="c-trusted-review-card">
                <picture>
                    <img src="sections/isolated/review-slider/images/chelsea.webp" alt="Amazing results!" />
                </picture>
                <div class="e-author">
                    <img src="sections/isolated/review-slider/images/america_f.webp" alt="Chelsea J." />
                    Chelsea J.
                </div>
                <div class="e-verified-customer">
                    <div class="e-checkmark"></div>
                    Verified customer
                </div>
                <article>
                    <h6>Amazing results!</h6>
                    <p>"Amazing results. I am just in shock at how great my skin is looking. This stuff has been amazing for hyperpigmentation and also some hormonal cystic acne. I will be continuing to support this business because it has brought the skin I know back. I was at my wits end with a hormonal breakout and bad hyperpigmentation."</p>
                </article>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="c-trusted-review-card">
                <picture>
                    <img src="sections/isolated/review-slider/images/mona-p.webp" alt="Fade after just two treatments" />
                </picture>
                <div class="e-author">
                    <img src="sections/isolated/review-slider/images/america_f.webp" alt="Mona P." />
                    Mona P.
                </div>
                <div class="e-verified-customer">
                    <div class="e-checkmark"></div>
                    Verified customer
                </div>
                <article>
                    <h6>Fade after just two treatments</h6>
                    <p>“I personally think my products absorbed better, my skin looks a bit brighter and that larger acne scar on my right cheek has started to fade after just TWO treatments!”</p>
                </article>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="c-trusted-review-card">
                <picture>
                    <img src="sections/isolated/review-slider/images/akina.webp" alt="It really works!!" />
                </picture>
                <div class="e-author">
                    <img src="sections/isolated/review-slider/images/america_f.webp" alt="Akina M." />
                    Akina M.
                </div>
                <div class="e-verified-customer">
                    <div class="e-checkmark"></div>
                    Verified customer
                </div>
                <article>
                    <h6>It really works!!</h6>
                    <p>“I used three time so far. I can see the results from first time I used. I love this product but only thing is it’s take time to apply till used all serum per application. I tried many different way to press to my skin so the serum come out more but then a lot of time not.”</p>
                </article>
            </div>
        </div>

        <div class="swiper-slide">
            <div class="c-trusted-review-card">
                <picture>
                    <img src="sections/isolated/review-slider/images/jessica-k.webp" alt="Thrilled with the results!" />
                </picture>
                <div class="e-author">
                    <img src="sections/isolated/review-slider/images/america_f.webp" alt="Jessica K." />
                    Jessica K.
                </div>
                <div class="e-verified-customer">
                    <div class="e-checkmark"></div>
                    Verified customer
                </div>
                <article>
                    <h6>Thrilled with the results!</h6>
                    <p>"I have been using the mask & microneedling for 6 weeks & am truly impressed with the results. I have noticed a dramatic reduction in redness, an improvement in my dark spots, scars & overall skin tone & firmness, and a smoothing of fine lines & wrinkles."</p>
                </article>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="c-trusted-review-card">
                <picture>
                    <img src="sections/isolated/review-slider/images/ela-o.webp" alt="Shocked at the results" />
                </picture>
                <div class="e-author">
                    <img src="sections/isolated/review-slider/images/america_f.webp" alt="Ela O." />
                    Ela O.
                </div>
                <div class="e-verified-customer">
                    <div class="e-checkmark"></div>
                    Verified customer
                </div>
                <article>
                    <h6>Shocked at the results</h6>
                    <p>“Shocked at the results after just one treatment! I’m not one to usually leave reviews... but I was shocked at how my skin looked the morning after my first treatment! Texture was soooo much smoother, my skin looked clear, glowy and healthy. The system was so easy to use and I can’t wait until my next treatment.”</p>
                </article>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="c-trusted-review-card">
                <picture>
                    <img src="sections/isolated/review-slider/images/shelly.webp" alt="Looking better and better" />
                </picture>
                <div class="e-author">
                    <img src="sections/isolated/review-slider/images/america_f.webp" alt="Shelly S." />
                    Shelly S.
                </div>
                <div class="e-verified-customer">
                    <div class="e-checkmark"></div>
                    Verified customer
                </div>
                <article>
                    <h6>Looking better and better</h6>
                    <p>“I have used the Qure Micro- Infusion System for 3 monthly treatments. The results are clearer, plumper and firmer skin. With further treatments I am looking forward to looking better and better.”</p>
                </article>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="c-trusted-review-card">
                <picture>
                    <img src="sections/isolated/review-slider/images/jess.webp" alt="It really works!!" />
                </picture>
                <div class="e-author">
                    <img src="sections/isolated/review-slider/images/america_f.webp" alt="Jess" />
                    Jess
                </div>
                <div class="e-verified-customer">
                    <div class="e-checkmark"></div>
                    Verified customer
                </div>
                <article>
                    <h6>It really works!!</h6>
                    <p>“I committed to the 3 month saver bundle and after 6 treatments (2 weeks apart) I’m SO happy with the results!!! My pores are smaller and I have mainly noticed a difference in my skin texture. My skin goes a little red straight after the treatment but that quickly goes away. It’s a little uncomfortable when I do it on my forehead but it’s fine everywhere else. Totally worth it!!!”</p>
                </article>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="c-trusted-review-card">
                <picture>
                    <img src="sections/isolated/review-slider/images/ellie_6_treatments.webp" alt="My skin returned to life!" />
                </picture>
                <div class="e-author">
                    <img src="sections/isolated/review-slider/images/america_f.webp" alt="Kim L." />
                    Kim L.
                </div>
                <div class="e-verified-customer">
                    <div class="e-checkmark"></div>
                    Verified customer
                </div>
                <article>
                    <h6>My skin returned to life!</h6>
                    <p>“I just turned 57 years. My skin was extremely dry and while using this product my skin RETURNED to LIFE! I am so impressed with it! My Coworkers ask me what I use in my skin.. and I tell them. Product easy to use and the needles are better that using a pen for microneedling. This is an amazing product that you will not regret in purchasing it. I really see the change in my skin. Outstanding job QURE!”</p>
                </article>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="c-trusted-review-card">
                <picture>
                    <img src="sections/isolated/review-slider/images/andrea.webp" alt="Definitely be re-ordering" />
                </picture>
                <div class="e-author">
                    <img src="sections/isolated/review-slider/images/america_f.webp" alt="Andrea G." />
                    Andrea G.
                </div>
                <div class="e-verified-customer">
                    <div class="e-checkmark"></div>
                    Verified customer
                </div>
                <article>
                    <h6>Definitely be re-ordering</h6>
                    <p>“Still a newbie but so far so great! I have dermarolled for more than a decade -still do with .25 at least one a week. I’ve avoided getting a pen because there’s so much involved- but the Qure system is just awesome. So easy and user friendly and my skin loves the serum! Doing my third treatment Saturday and will definitely be re-ordering 🤗</p>
                </article>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="c-trusted-review-card">
                <picture>
                    <img src="sections/isolated/review-slider/images/priya.webp" alt="Plumper, more hydrated!" />
                </picture>
                <div class="e-author">
                    <img src="sections/isolated/review-slider/images/england_f.webp" alt="Priya P." />
                    Priya P.
                </div>
                <div class="e-verified-customer">
                    <div class="e-checkmark"></div>
                    Verified customer
                </div>
                <article>
                    <h6>Plumper, more hydrated!</h6>
                    <p>“After the first use of EGF, my skin was plumper, more hydrated and skin tone improved radically, literally the next day. Love this product, will definitely be purchasing more as its really helped smooth out the fine lines also”</p>
                </article>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="c-trusted-review-card">
                <picture>
                    <img src="sections/isolated/review-slider/images/Jennifer_1_treatment.webp" alt="Works better than I imagined!" />
                </picture>
                <div class="e-author">
                    <img src="sections/isolated/review-slider/images/america_f.webp" alt="Jennifer N." />
                    Jennifer N.
                </div>
                <div class="e-verified-customer">
                    <div class="e-checkmark"></div>
                    Verified customer
                </div>
                <article>
                    <h6>Works better than I imagined!</h6>
                    <p>“I am really stunned by how well this product works. I have had professional micro-needling and I wanted the benefits without the downtime. I did my treatment, went to bed and woke up the next morning and was ready to go. My skin looks better than it has in years.”</p>
                </article>
            </div>
        </div>
    {{/trusted-reviews }}

    {{#> comparison
        title="Typically more effective and safer than other at-home needling devices"
        picture-first="sections/isolated/eye-patches/images/mist_img_3.webp"
        picture-second="sections/isolated/eye-patches/images/mist_img_4.webp"
        name-first="Qure Micro-Infusion System"
        name-second="Other At-Home Needling Devices"
        list-first='[
            "Stamping doesn’t over-damage skin",
            "Little to no downtime & quick recovery",
            "New needle heads provide sharp, straight needles for every treatment - designed for better efficacy",
            "Minimized risk of infection due to disposable heads",
            "Applies serum onto the skin to enhance absorption and visible results"
        ]'
        list-second='[
            "Rolling can cause damage to skin",
            "Slower recovery & longer healing time",
            "Needles become blunt after several uses & may cause unnecessary irritation which can affect results",
            "Risk of infection & irritation if not disinfected well",
            "Less effective absorption of serum as applied topically"
        ]'
        declaimer="*Based on laboratory testing under controlled conditions. Performance may vary depending on water quality and usage."
    }}
        <p>Unlike at-home needle roller devices, Micro-Infusion requires little to no downtime, is virtually painless, and minimizes risk of&nbsp;infection and irritation.</p>
    {{/comparison }}

    {{#> comparison-table
        title="Give yourself a Clinic Quality glow up without the Clinical Prices"
        labels='[
            {
                "name": "Results in",
                "colorize": false
            },
            {
                "name": "Customized",
                "colorize": false
            },
            {
                "name": "Skin Safe",
                "colorize": true
            },
            {
                "name": "Cost",
                "colorize": false
            }
        ]'
    }}
        <div class="swiper-slide">
            <article>
                <picture>
                    <img src="sections/isolated/serum-compare/images/micro-infusion-system.webp" alt="Qure Micro-Infusion System" />
                </picture>
                <h5>Qure<br /> Micro-Infusion System</h5>
                <ul>
                    <li>{{> e-icon icon="checkmark-fill"}} <span>As little as 1-2 days</span></li>
                    <li>{{> e-icon icon="checkmark-fill"}} <span>Tailored to your needs</span></li>
                    <li>{{> e-icon icon="checkmark-fill"}} <span>Minimal downtime</span></li>
                    <li>{{> e-icon icon="checkmark-fill"}} <span>&lt; $20 per treatment</span></li>
                </ul>
            </article>
        </div>
        <div class="swiper-slide">
            <article>
                <picture>
                    <img src="sections/isolated/serum-compare/images/clinic-treatment.webp" alt="Micro-Infusion Clinic Treatment" />
                </picture>
                <h5>Micro-Infusion<br /> Clinic Treatment</h5>
                <ul>
                    <li>{{> e-icon icon="checkmark-fill"}} <span>As little as 1-2 days</span></li>
                    <li>{{> e-icon icon="checkmark-fill"}} <span>Tailored to your needs</span></li>
                    <li>{{> e-icon icon="checkmark-fill"}} <span>Minimal downtime</span></li>
                    <li>{{> e-icon icon="cross-fill"}} <span>$300+ per treatment</span></li>
                </ul>
            </article>
        </div>
        <div class="swiper-slide">
            <article>
                <picture>
                    <img src="sections/isolated/serum-compare/images/home-treatment.webp" alt="Derma Roller At-Home Treatment" />
                </picture>
                <h5>Derma Roller<br /> At-Home Treatment</h5>
                <ul>
                    <li>{{> e-icon icon="cross-fill"}} <span>A few days</span></li>
                    <li>{{> e-icon icon="cross-fill"}} <span>Not customized</span></li>
                    <li>{{> e-icon icon="cross-fill"}} <span>Potential side effects</span></li>
                    <li>{{> e-icon icon="checkmark-fill"}} <span>&lt; $10 per treatment</span></li>
                </ul>
            </article>
        </div>
    {{/comparison-table }}

    {{#> set-up }}
        <picture
            data-bs-toggle="modal"
            data-bs-target="#reusableWistiaModal"
            data-video-id="8ymvdqzx92"
        >
            <source media="(min-width:768px)" srcset="sections/new/set-up/images/mi-use-video.webp" />
            <img src="sections/new/set-up/images/mi-use-video-mob.webp" alt="See how quick and easy it is to use" />
        </picture>
        <h2>See how quick and easy it is to use</h2>
        <ol>
            <li>
                <picture>
                    <source media="(min-width:768px)" srcset="sections/new/set-up/images/mi-use-step-1.webp" />
                    <img src="sections/new/set-up/images/mi-use-step-1-mob.webp" alt="Cleanse" />
                </picture>
                <h6>Cleanse</h6>
                <p>Cleanse your face thoroughly and spritz the <a href="#">Dermal Mist</a> to refresh and prepare your skin further.</p>
            </li>
            <li>
                <picture>
                    <source media="(min-width:767px)" srcset="sections/new/set-up/images/mi-use-step-2.webp" />
                    <img src="sections/new/set-up/images/mi-use-step-2-mob.webp" alt="Prepare" />
                </picture>
                <h6>Prepare</h6>
                <p>Twist off the cap of the serum vial and screw on the sterile needle head.</p>
            </li>
            <li>
                <picture>
                    <source media="(min-width:767px)" srcset="sections/new/set-up/images/mi-use-step-3.webp">
                    <img src="sections/new/set-up/images/mi-use-step-3-mob.webp" alt="Treat" />
                </picture>
                <h6>Treat</h6>
                <p>Remove the cap and stamp gently across your face using light pressure, working section-by-section.</p>
            </li>
        </ol>
    {{/set-up}}

    {{> highlight
        classes="highlight--dark"
        text="INCLUDED IN THE SYSTEM:"
    }}

    {{#> science-backed
        classes="science-backed--single"
        title="Science-Backed Micro-Infusion Serums"
        text="Choose the exact serum to use in your Micro-Infusion treatment, or get both and mix them together to experience a complete set of benefits that addresses your specific skin concerns."
        picture="sections/isolated/serum/images/serums-lady2.webp"
        single=true
    }}
        <div class="science-backed__data">
            <article>
                <img src="sections/isolated/serum/images/dark-serum.webp" alt="" />
                <h3>Rejuvenating Serum</h3>
                <p>For Dark Spots</p>
            </article>
            {{> c-accordion
                type="lines"
                list='[
                    {
                        "summary": "What can it do for your skin",
                        "text": "
                            <p>Helps reveal a smoother-looking, more radiant complexion. Formulated to help improve the appearance of dark spots and uneven tone for skin that looks refreshed and luminous.</p>
                            <p><strong>Skin Concerns:</strong> Ideal for skin that appears uneven in tone or texture and shows visible dark spots or post-blemish marks.</p>
                        "
                    },
                    {
                        "summary": "All Ingredients",
                        "text": "
                            <p><strong>Epidermal Growth Factor (EGF):</strong> A science-backed ingredient known to support the look of smoother, hydrated, and more refreshed skin. Helps visibly reduce the look of fine lines and uneven tone.</p>
                            <p><strong>Niacinamide:</strong> A multi-benefit vitamin known to help improve the look of uneven tone, minimize visible pores, and support smoother-looking skin.</p>
                            <p><strong>Tranexamic Acid:</strong> A brightening ingredient that helps visibly improve the look of dark spots, uneven tone, and dullness.</p>
                            <p><strong>All ingredients:</strong><br /> Rosa Damascena Flower Water, Propanediol, Glycerin, Tranexamic Acid, Niacinamide, Panthenol, Chrysanthellum Indicum Extract, Ethylhexylglycerin, Tripeptide-1, Xanthan Gum, Allantoin, Sh-Oligopeptide-1.</p>
                            <small>Please note that due to innovative updates and changing regulatory guidelines, the ingredient lists provided here may differ slightly from those on our packaging and distributor websites.</small>
                        "
                    }
                ]'
            }}
            <div class="quote">
                <div class="e-rating-stars" style="--rating: 4.5;"></div>
                <p>“Thrilled with the results. I’ve noticed a dramatic reduction in redness and my scars!”</p>
                <div class="e-author">
                    <img src="sections/isolated/review-slider/images/america_f.webp" alt="Jessica K." />
                    Jessica K.
                </div>
                <small>Verified customer</small>
            </div>
        </div>
    {{/science-backed}}

    {{> guarantee }}

    {{#> treatment
        classes="treatment--announcement"
        id="treatment"
        announcement="SOLD OUT 10X - AVAILABLE UNTIL STOCK LASTS "
        title="Choose your treatment"
        text="
            <p>All orders are one-time purchases. No extra charges, and no hidden fees.</p>
        "
        picture="sections/isolated/archive/images/dark_spot-serum.webp"
        features-list='[
            {
                "text": "Dermatologist Reviewed",
                "icon": "reviewed"
            },
            {
                "text": "Free Shipping over {$dyn}",
                "icon": "shipping-order"
            },
            {
                "text": "Backed by Science",
                "icon": "proven"
            }
        ]'
     }}
        <div class="treatment__steps">
            <div class="treatment__step">
                {{> c-options-selector
                    title="Select Your Product"
                    list='[
                        {
                            "img": "sections/new/treatment/images/Dark_Spots_4.png",
                            "name": "Dark Spots",
                            "option": "serum",
                            "checked": true
                        }
                    ]'
                }}
            </div>
            <div class="treatment__step">
                {{> c-supply-selector
                    classes=""
                    title="Select Your Supply"
                    list='[
                        {
                            "name": "Buy 3 Months, Get 3 Months FREE",
                            "desc": "12 Micro-Infusion Treatments",
                            "price-old": true,
                            "price-highlight": true,
                            "save-pill": true,
                            "save-value": "Save 70%",
                            "tag-up": true,
                            "tag-name": "Best Value <i class=\"e-icon e-icon-rating-fill\"></i>",
                            "option": "supply",
                            "kits-left-hot": true,
                            "checked": true
                        },
                        {
                            "name": "2 Month Supply",
                            "desc": "4 Micro-Infusion Treatments",
                            "price-old": true,
                            "price-highlight": true,
                            "save-pill": true,
                            "save-pill-light": true,
                            "save-value": "Save 53%",
                            "option": "supply",
                            "kits-left-normal": true
                        },
                        {
                            "name": "1 Months Supply",
                            "desc": "2 Micro-Infusion Treatments",
                            "option": "supply"
                        }
                    ]'
                }}
                <div class="info-items">
                    <div class="info-items__item show">
                        <details>
                            <summary>What is in the 6 Month Supply bundle? {{> e-icon icon="chevron"}}</summary>
                            <article>
                                <ul>
                                    <li>1 Micro-Infusion device (valued at $80)</li>
                                    <li>12 clinical-grade micro-needling heads (valued at $50)</li>
                                    <li>12 clinically formulated 4ml serums to treat your specific skin concerns (valued at $120)</li>
                                    <li>Worldwide shipping (valued at $25)</li>
                                    <li>Risk-free 90 day money-back guarantee to trial</li>
                                </ul>
                            </article>
                        </details>
                    </div>
                    <div class="info-items__item">
                        <details>
                            <summary>What is in the 3 Month Supply bundle? {{> e-icon icon="chevron"}}</summary>
                            <article>
                                <ul>
                                    <li>1 Micro-Infusion device (valued at $80)</li>
                                    <li>4 clinical-grade micro-needling heads (valued at $40)</li>
                                    <li>4 clinically formulated 4ml serums to treat your specific skin concerns (valued at $80)</li>
                                    <li>Worldwide shipping (valued at $25)</li>
                                    <li>Risk-free 90 day money-back guarantee to trial</li>
                                </ul>
                            </article>
                        </details>
                    </div>
                    <div class="info-items__item">
                        <details>
                            <summary>What is in the 1 Month Supply bundle? {{> e-icon icon="chevron"}}</summary>
                            <article>
                                <ul>
                                    <li>1 Micro-Infusion device (valued at $80)</li>
                                    <li>2 clinical-grade micro-needling heads (valued at $20)</li>
                                    <li>2 clinically formulated 4ml serums to treat your specific skin concerns (valued at $40)</li>
                                    <li>Worldwide shipping (valued at $25)</li>
                                </ul>
                            </article>
                        </details>
                    </div>
                </div>
            </div>
            <div class="treatment__step">
                {{> c-payment-selector
                    title="Select A Payment Option"
                    list='[
                        {
                            "name": "Pay in full",
                            "old-price": true,
                            "option": "payment",
                            "checked": true,
                            "text": "One-time payment with:",
                            "image": "assets/images/payment-icons-1.svg",
                            "checked": true
                        },
                        {
                            "name": "Pay today only",
                            "option": "payment",
                            "text": "Monthly interest-free payments with:",
                            "image": "assets/images/payment-icons-2.svg"
                        }
                    ]'
                }}
            </div>
        </div>
    {{/treatment}}

    {{#> should-know }}
        <article>
            <h2>What you should know for the best results</h2>
            <p>The Qure Micro-Infusion System is designed with your safety in mind.</p>
            <p>Unlike popular at-home derma rollers, our stamper device features single-use sterile heads that help minimize the risk of infection or unnecessary skin damage caused by blunt and multi-use needles.</p>
            <p>Below are a few rules you should follow while using your Qure Micro-Infusion System:</p>
        </article>
        <div
            class="c-swiper"
            data-swiper='{
                "slidesPerView": 1.1,
                "spaceBetween": 16,
                "loop": false,
                "pagination": {
                    "el": ".c-swiper-pagination",
                    "type": "custom"
                },
                "navigation": {
                    "prevEl": ".c-swiper-button-prev",
                    "nextEl": ".c-swiper-button-next"
                },
                "breakpoints": {
                    "768": {
                        "slidesPerView": 2,
                        "spaceBetween": 40
                    }
                }
            }'
        >
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <p><strong>How To Use</strong></p>
                    <ol>
                        <li>Fill the device: Open the device and pour in one ampoule of serum.</li>
                        <li>Prepare the device: Twist on the needle head and leave upside down for 1–2 minutes.</li>
                        <li>Begin infusion: Stamp evenly across the face with 2–3 passes, then pat in any remaining serum.</li>
                    </ol>
                    <small class="c-note c-note--info">
                        <strong>Tip:</strong> Apply remaining serum after your treatment and allow it to absorb overnight.
                    </small>
                </div>
                <div class="swiper-slide">
                    <p><strong>Safety Guidelines</strong></p>
                    <p>Micro-Infusion is a simple treatment you can do at-home. No appointments and no downtime. It’s designed to be safe and easy to use, as long as your skin is clean and healthy.</p>
                    <p>Avoid using Micro-Infusion on active breakouts or broken skin, as it may spread bacteria. Always use a fresh, sterile needle head for each treatment, and apply SPF after use to protect your skin.</p>
                    <p>If you’re pregnant or have a medical condition, check with your doctor first.</p>
                </div>
            </div>
            <div class="c-swiper-nav">
                <button class="c-swiper-button-prev"></button>
                <div class="c-swiper-pagination"></div>
                <button class="c-swiper-button-next"></button>
            </div>
        </div>
        <a href="#" class="btn btn--primary">See Detailed Treatment Guide {{> e-icon icon="arrow" }}</a>
    {{/should-know}}

    {{> have-questions
        list='[
            {
                "summary": "What are the benefits of Micro-Infusion?",
                "text": "
                    <p>The stamping action of the Micro-Infusion device creates tiny micro-channels on the surface of the skin, helping to enhance the absorption of active ingredients and visibly refresh the complexion.</p>
                    <p>The serum you choose during your Micro-Infusion treatment will deliver visible results over time. Very fine needles help apply concentrated ingredients exactly where they’re needed to target specific skin concerns with precision.</p>
                    <p>You can switch up your treatments or even mix the two serums together!</p>
                    <p>Visible benefits of Micro-Infusion may include:</p>
                    <ul>
                        <li>More even-looking skin tone and texture</li>
                        <li>Glowing, refreshed-looking complexion</li>
                        <li>Softer-looking fine lines</li>
                        <li>Skin that feels renewed and rejuvenated</li>
                    </ul>
                "
            },
            {
                "summary": "How quickly will I see results?",
                "text": "
                    <p>Micro-Infusion treatment is an effective skin booster treatment, and you’ll notice a radiance boost, smaller pores, more hydrated and overall a healthy fresh complexion in the next day or two.</p>
                    <p>The more treatments you perform the greater skin benefits over time you’ll receive! This quick and easy home facial is perfect to perform a day or two before a big event, when you need to look to boost your skin’s complexion, fast.</p>
                    <p>Don’t forget to keep up with your everyday skincare routine to boost the effectiveness of your Micro-Infusion results and keep skin glowing long-term.</p>
                "
            },
            {
                "summary": "Is it painful to use?",
                "text": "
                    <p>You get to experience minimal discomfort and maximum results with Qure\'s Micro-Infusion System.</p>
                    <p>Although the needles themselves are actually longer than most at-home needling systems (making it more effective), the ultra-fine needles are thinner than a human hair, so that means you’ll feel minimal to no pain during treatment.</p>
                    <p>During the initial stages of treatment, you may experience a slight sensation or prickling feeling as the needles make contact with the skin but you’ll quickly get used to the feeling quickly.</p>
                "
            },
            {
                "summary": "How often can I use the treatment?",
                "text": "
                    <p>We recommend a Micro-Infusion treatment once every 2 weeks for the best results.</p>
                "
            },
            {
                "summary": "When is the best time to do Micro-Infusion?",
                "text": "
                    <p>We recommend doing the treatment at night before bed. Avoid being in the sun and using makeup for 24 hours after the treatment. For more information on post treatment care, <a href=\"#\">visit our safety guide</a>.</p>
                "
            },
            {
                "summary": "Can I use it around the eyes and on the neck?",
                "text": "
                    <p>Yes, you can use Micro-Infusion around the eye area to help smooth crow’s feet. Just ensure to apply a very gentle pressure and only do one pass. Monitor your skin accordingly as everyone’s skin is different!</p>
                    <p>Performing Micro-Infusion on the neck can help improve the appearance of fine lines, and rejuvenate skin. It can target issues such as neck creases, horizontal lines, and age-related skin concerns to help enhance the overall texture, tone, and youthfulness of the skin.</p>
                "
            },
            {
                "summary": "Can I use a different serum with the Micro-Infusion device?",
                "text": "
                    <p>No - only use the provided Qure serum with your Micro-Infusion Device. </p>
                    <p>Please keep in mind that not all serums are suitable for Micro-Infusion. Some may cause irritation and should be avoided! Our potent serum ampoules are specifically developed for our Micro-Infusion System, with gentle, fragrance-free formulas designed for deep delivery and low risk of sensitivity.</p>
                "
            },
            {
                "summary": "How is this different to micro-rolling?",
                "text": "
                    <p>Micro-Infusion focuses on improving the skin’s appearance by creating micro-channels on the skin’s surface. It does not alter or affect skin structure or function.</p>
                    <p>With Micro-Infusion, you not only enjoy the visible benefits of micro-needling, but also deliver science-backed ingredients to targeted areas with precision — helping the skin appear smoother and more radiant.</p>
                "
            },
            {
                "summary": "Tranexamic Acid Notice",
                "text": "
                    <p>If you live in Australia, you may receive a notice from Border Force regarding tranexamic acid (TXA) in your order. Here’s what you need to know:</p>
                    <p>In Australia, TXA is classified as a Schedule 4 (prescription-only) drug only when used orally or by injection for treating melasma or other medical conditions. However, <strong>topical TXA in cosmetic formulations is permitted</strong>.</p>
                    <p>Our serums are purely for cosmetic use and do not claim to treat medical conditions. They are applied topically (not injected) and are classified as a cosmetic product rather than a prescription medicine.</p>
                    <p>Our products are compliant with Australian regulations. Facial serums containing up to 3% TXA for cosmetic purposes are not classified as prescription-only medicines and do not require inclusion in the Australian Register of Therapeutic Goods (ARTG).</p>
                    <p>If Border Force requires clarification, you can provide the information above to confirm that the product complies with Australian regulations. If further details are needed, they can refer to the Therapeutic Goods Administration (TGA) guidelines on cosmetic formulations.</p>
                    <p>If you need further assistance, feel free to <a href=\"#\">contact our support team—we’re</a> happy to help!</p>
                "
            }
        ]'
    }}

{{/section-stack }}

{{#> cta-bar
    name="Micro-Infusion Facial System"
    button="Buy now & SAVE UP TO 43%"
}}
{{/cta-bar}}

{{/new }}
