{{#> new
    title="All-In-One Face Serum"
    body-class="product.face-serum"
}}

{{#> section-stack }}
    <!-- BUY SECTION -->
    <link rel="stylesheet" href="sections/new/hero-product/hero-product.css" />
    <section class="hero-product" id="hero-product">
        <div class="hero-product__container container">
            <div class="hero-product__gallery">
                <div
                    class="c-swiper"
                    data-swiper-thumbs="#hero-product .c-swiper-thumbs"
                    data-swiper='{
                        "slidesPerView": 1,
                        "spaceBetween": 16,
                        "navigation": {
                            "prevEl": "#hero-product .c-swiper-button-prev",
                            "nextEl": "#hero-product .c-swiper-button-next"
                        }
                    }'
                >
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <img src="sections/isolated/micro-infusion-pdp/images/B&A-1.webp" alt="Qure All-In-One Face Serum" />
                        </div>
                        <div class="swiper-slide">
                            <img src="sections/isolated/targeted-patches/images/derm_mist_2.webp" alt="Qure All-In-One Face Serum"
                                data-url="https://www.youtube.com/watch?v=PJt57LcFEQk"
                            />
                        </div>
                        <div class="swiper-slide">
                            <img src="sections/isolated/micro-infusion-pdp/images/B&A-2.webp" alt="Qure All-In-One Face Serum" />
                        </div>
                        <div class="swiper-slide">
                            <img src="sections/isolated/micro-infusion-pdp/images/B&A-3.webp" alt="Qure All-In-One Face Serum" />
                        </div>
                        <div class="swiper-slide">
                            <img src="sections/isolated/micro-infusion-pdp/images/B&A-4.webp" alt="Qure All-In-One Face Serum" />
                        </div>
                        <div class="swiper-slide">
                            <img src="sections/isolated/micro-infusion-pdp/images/B&A-5.webp" alt="Qure All-In-One Face Serum" />
                        </div>
                        <div class="swiper-slide">
                            <img src="sections/isolated/micro-infusion-pdp/images/B&A-6.webp" alt="Qure All-In-One Face Serum" />
                        </div>
                        <div class="swiper-slide">
                            <img src="sections/isolated/micro-infusion-pdp/images/B&A-7.webp" alt="Qure All-In-One Face Serum" />
                        </div>
                        <div class="swiper-slide">
                            <img src="sections/isolated/micro-infusion-pdp/images/B&A-8.webp" alt="Qure All-In-One Face Serum" />
                        </div>
                    </div>
                </div>
                <div class="c-swiper-thumbs-nav">
                    <button class="c-swiper-button-prev"></button>
                    <div
                        class="c-swiper c-swiper-thumbs"
                        data-swiper='{
                            "slidesPerView": "auto",
                            "spaceBetween": 12
                        }'
                    >
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <img src="sections/isolated/micro-infusion-pdp/images/B&A-1.webp" alt="Qure All-In-One Face Serum" />
                            </div>
                            <div class="swiper-slide">
                                <img src="sections/isolated/targeted-patches/images/derm_mist_2.webp" alt="Qure All-In-One Face Serum" />
                            </div>
                            <div class="swiper-slide">
                                <img src="sections/isolated/micro-infusion-pdp/images/B&A-2.webp" alt="Qure All-In-One Face Serum" />
                            </div>
                            <div class="swiper-slide">
                                <img src="sections/isolated/micro-infusion-pdp/images/B&A-3.webp" alt="Qure All-In-One Face Serum" />
                            </div>
                            <div class="swiper-slide">
                                <img src="sections/isolated/micro-infusion-pdp/images/B&A-4.webp" alt="Qure All-In-One Face Serum" />
                            </div>
                            <div class="swiper-slide">
                                <img src="sections/isolated/micro-infusion-pdp/images/B&A-5.webp" alt="Qure All-In-One Face Serum" />
                            </div>
                            <div class="swiper-slide">
                                <img src="sections/isolated/micro-infusion-pdp/images/B&A-6.webp" alt="Qure All-In-One Face Serum" />
                            </div>
                            <div class="swiper-slide">
                                <img src="sections/isolated/micro-infusion-pdp/images/B&A-7.webp" alt="Qure All-In-One Face Serum" />
                            </div>
                            <div class="swiper-slide">
                                <img src="sections/isolated/micro-infusion-pdp/images/B&A-8.webp" alt="Qure All-In-One Face Serum" />
                            </div>
                        </div>
                    </div>
                    <button class="c-swiper-button-next"></button>
                </div>
            </div>
            <div class="hero-product__main">
                {{> c-rating value="4.8" }}
                <p>ANTI-AGING &amp; ALL-IN-ONE SERUM</p>
                <h1>Embrace ageless confidence with All-In-One Face Serum</h1>
                <article>
                    <ul>
                        <li>Helps reduce the appearance of fine lines and dark spots, for smoother, firmer feeling skin.</li>
                        <li>Save money buying multiple skincare products to treat various concerns.</li>
                        <li>Argireline® Peptides, Retinol, Bakuchiol, Niacinamide, Vitamin C, Vitamin E, Ferulic Acid.</li>
                    </ul>
                </article>
                <hr />
                {{> c-supply-selector
                    classes="c-supply-selector--tiles"
                    title="Select Your Supply"
                    list='[
                        {
                            "image": "sections/isolated/micro-infusion-pdp/images/3-bottles.webp",
                            "name": "6 Months",
                            "desc": "(3 bottles)",
                            "price-old": true,
                            "price-highlight": true,
                            "save-pill": true,
                            "save-value": "38% OFF",
                            "tag-up": true,
                            "tag-name": "Best Value <i class=\"e-icon e-icon-rating-fill\"></i>",
                            "option": "supply-tile",
                            "checked": true
                        },
                        {
                            "image": "sections/isolated/micro-infusion-pdp/images/2-bottles.webp",
                            "name": "4 Months",
                            "desc": "(2 bottles)",
                            "price-old": true,
                            "price-highlight": true,
                            "save-pill": true,
                            "save-pill-light": true,
                            "save-value": "25% OFF",
                            "option": "supply-tile"
                        },
                        {
                            "image": "sections/isolated/micro-infusion-pdp/images/1-bottle.webp",
                            "name": "2 Months",
                            "desc": "(1 bottles)",
                            "price-old": true,
                            "price-highlight": true,
                            "option": "supply-tile"
                        }
                    ]'
                }}
                <div class="c-buy-block">
                    {{> c-order-button }}
                    {{> c-certified-box }}
                    <ul class="e-features-list">
                        <li>
                            {{> e-icon icon="guarantee" }}
                            30-Day Money-Back Guarantee
                        </li>
                        <li>
                            {{> e-icon icon="shipping-order" }}
                            Free Shipping over {$dyn}
                        </li>
                    </ul>
                </div>
                {{> c-next-batch }}
            </div>
            <div class="hero-product__extra">
                <div class="hero-product__best-with">
                    <h6>Get The Best Results With</h6>
                    <div
                        class="c-swiper"
                        data-swiper='{
                            "slidesPerView": "1.25",
                            "spaceBetween": 12,
                            "breakpoints": {
                                "992": {
                                    "slidesPerView": 2
                                }
                            }
                        }'
                    >
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <a href="#"><img src="sections/isolated/targeted-patches/images/result-1.webp" alt="All-In One Face Serum" /></a>
                                <a href="#">All-In One Face Serum</a>
                                <button class="btn btn--primary btn--sm">Add - {$dyn}</button>
                            </div>
                            <div class="swiper-slide">
                                <img src="sections/isolated/targeted-patches/images/derm_mist_result.webp" alt="Micro-Infusion Targeted Patches" />
                                <a href="#">Micro-Infusion Targeted Patches</a>
                                <button class="btn btn--primary btn--sm">Add - {$dyn}</button>
                            </div>
                        </div>
                    </div>
                </div>
                {{> c-accordion
                    type="lines"
                    list='[
                        {
                            "summary": "Key Benefits",
                            "text": "
                                <p>The All-In-One Serum visibly smooths fine lines, evens skin tone, boosts hydration, and improves texture in one simple step. Suitable for most skin types.</p>
                                <p>Visible benefits include:</p>
                                <ul>
                                    <li>A brighter, more radiant skin tone</li>
                                    <li>Firmer, plumper skin with a youthful glow</li>
                                    <li>Improved texture and reduced hyperpigmentation</li>
                                    <li>Softer, less noticeable fine lines and wrinkles</li>
                                    <li>Deeply hydrated skin that feels fresh and glows</li>
                                </ul>
                            "
                        },
                        {
                            "summary": "How To Use",
                            "text": "
                                <ul>
                                    <li>After cleansing, apply 1-2 pumps onto already cleansed face and neck.</li>
                                    <li>Use every second day during the first week of use while your skin builds tolerance. If you have sensitive skin we recommend a patch test prior to use.</li>
                                    <li>Use daily for best results.</li>
                                </ul>
                                <p>Each full-size 30ml bottle of the All-In-One Face Serum is designed to last approximately 2 months with daily use. </p>
                                <p>You can also choose from our multi-month supply options, so you can keep your routine consistent and save more with every bottle.</p>
                            "
                        },
                        {
                            "summary": "Full Ingredient List",
                            "text": "
                                <p>Purified Aqua, Aqua (and) Acetyl Hexapeptide-8, Aqua (and) Boswellia Serrata Resin Extract, Glycerin, Caprylic/capric Triglyceride, 1,3-Propanediol, Aqua (and) Sodium Hydroxide, Maltodextrin (and) Sucrose Dilaurate (and) Sodium Cocoyl Glutamate (and) Pisum Sativum (Pea) Extract, Glycerin (and) Aqua (and) Artemisia Umbelliformis Extract, Sodium Acrylates Copolymer (and) Lecithin, Niacinamide, 1,2-Hexanediol (and) Caprylyl Glycol (and) Tropolone, Sodium Acrylates Copolymer (and) Lecithin, Caprylic/Capric Triglyceride (and) Retinol (and) BHT, Retinyl Palmitate (and) Glycine Soja (Soybean) Oil (and) Tocopherol, Bakuchiol, Glyceryl Oleate Citrate (and) Caprylic/Capric Triglyceride, Lactic Acid, Propanediol (and) Aqua (and) Ganoderma Lucidum (Mushroom) Extract, Camellia Sinensis Leaf Extract, Polycrylate-13 (and) Polyisobutene (and) Polysorbate 20, Tocopheryl Acetate, 3-O-Ethyl Ascorbic Acid, Pentaerythrityl tetra-di-t-butyl hydroxyhydrocinnamate, Ferulic Acid, Mandelic Acid, Aqua (and) Ginkgo biloba Leaf Extract, Aqua (and) Terminalia Ferdinandiana Fruit Extract.</p>
                                <p>Ingredients may be subject to change based on availability, formulation improvements, or regulatory updates. Please refer to the packaging for the most current ingredient list.</p>
                                <ul class=\"c-marked-list\">
                                    <li>Clinically tested and hypoallergenic</li>
                                    <li>Dermatologically approved</li>
                                    <li>Suitable for sensitive skin</li>
                                    <li>Vegan and cruelty-free</li>
                                    <li>Free from fragrance, parabens, and PEG</li>
                                </ul>
                            "
                        }
                    ]'
                }}
                {{> c-jump-to
                    list='[
                        {
                            "id": "easy_steps",
                            "name": "How To Use"
                        },
                        {
                            "id": "reviews",
                            "name": "Reviews"
                        },
                        {
                            "id": "ingredients",
                            "name": "Ingredients"
                        },
                        {
                            "id": "faq",
                            "name": "FAQs"
                        }
                    ]'
                }}
            </div>
        </div>
    </section>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            loadScriptOnce('swiper', 'assets/js-new/swiper.js');
            loadScriptOnce('youtube-popup', 'assets/js-new/yt-popup.js');
        });
    </script>
    <!-- BUY SECTION END -->

    {{> logos-marquee }}

    {{#> base-section
        classes="base-section--reverse"
        title="Everything you need in one serum"
        picture="sections/isolated/micro-infusion-pdp/images/in-one-serum.webp"
        button="Shop Now"
    }}
        <p>Simplify your skincare routine, <em>get maximum results with minimal effort</em>.</p>
        <p>Packed with <em>clinically backed ingredients</em> like Argireline® Peptides, Retinol, Bakuchiol, Niacinamide, Hyaluronic Acid, Vitamin C, Vitamin E, Ferulic Acid. The All-In-One Serum hydrates, brightens, smooths look of fine lines in one easy step.</p>
        <p>Vegan and cruelty-free. Free from fragrance, parabens, and PEG.</p>
    {{/base-section }}

    {{#> text-section }}
        <h2>Powered by actives, designed for daily use</h2>
        <p>Targets uneven texture, fine lines, and discoloration with clinically-backed ingredients that work together to smooth, firm, and visibly brighten your skin over time.</p>
    {{/text-section}}

    {{#> before-after-accordion }}
        <div class="c-trusted-review-card c-trusted-review-card--short">
            <picture>
                <img src="sections/isolated/after-before-accordion/images/uneven-skin-texture.webp" alt="Uneven Skin Texture" />
            </picture>
            <div class="e-author">
                <img src="sections/isolated/after-before-accordion/images/canada_f.webp" alt="Bethany N." />
                Bethany N.
            </div>
            <div class="e-verified-customer">
                <div class="e-checkmark"></div>
                Verified
            </div>
        </div>
        <article>
            <h3>Uneven Skin Texture</h3>
            <p>Clarify and even skin tone, minimize enlarged pores, strengthen skin’s barrier, reduce breakouts.</p>
            <hr />
            <p>Key Ingredients:</p>
            {{> c-accordion
                list='[
                    {
                        "summary": "Retinol",
                        "text": "
                            <p>Helps reduce the appearance of wrinkles and  age spots and smooths the feel of skin texture.</p>
                        "
                    },
                    {
                        "summary": "Niacinamide",
                        "text": "
                            <p>All star ingredient that helps clarify and even skin tone, minimize the look of pores, and reduce the appearance of redness.</p>
                        "
                    },
                    {
                        "summary": "Lactic & Mandelic Acid",
                        "text": "
                            <p>Gentle chemical exfoliants to clear away the layer of dead cells to reveal smoother, clearer-looking skin.</p>
                        "
                    }
                ]'
            }}
        </article>
    {{/before-after-accordion}}

    {{#> before-after-accordion }}
        <div class="c-trusted-review-card c-trusted-review-card--short">
            <picture>
                <img src="sections/isolated/after-before-accordion/images/fine-line-wrinkles.webp" alt="Fine Lines and Wrinkles" />
            </picture>
            <div class="e-author">
                <img src="sections/isolated/review-slider/images/america_f.webp" alt="Shannon W." />
                Shannon W.
            </div>
            <div class="e-verified-customer">
                <div class="e-checkmark"></div>
                Verified
            </div>
        </div>
        <article>
            <h3>Fine Lines and Wrinkles</h3>
            <p>Deeply hydrate skin to make fine lines less visible for more plumper, younger looking skin</p>
            <hr />
            <p>Key Ingredients:</p>
            {{> c-accordion
                list='[
                    {
                        "summary": "Argireline® Peptides",
                        "text": "
                            <p>The most trusted anti-aging peptide in the world. Stimulates collagen, reduces fine lines and boosts moisture for a firmer, youthful complexion!</p>
                        "
                    },
                    {
                        "summary": "Bakuchiol",
                        "text": "
                            <p>A gentle alternative to retinol, bakuchiol helps to make your skin look smooth and firm.</p>
                        "
                    },
                    {
                        "summary": "Hyaluronic Acid",
                        "text": "
                            <p>A drink of water for thirsty skin. Helps your skin retain moisture for softer and more supple looking skin.</p>
                        "
                    }
                ]'
            }}
        </article>
    {{/before-after-accordion}}

    {{#> before-after-accordion }}
        <div class="c-trusted-review-card c-trusted-review-card--short">
            <picture>
                <img src="sections/isolated/after-before-accordion/images/dark-spots.webp" alt="Dark Spots and Discoloration" />
            </picture>
            <div class="e-author">
                <img src="sections/isolated/review-slider/images/america_f.webp" alt="Elisabeth R." />
                Elisabeth R.
            </div>
            <div class="e-verified-customer">
                <div class="e-checkmark"></div>
                Verified
            </div>
        </div>
        <article>
            <h3>Dark Spots and Discoloration</h3>
            <p>Reduce the look of hyperpigmentation to restore a more even-looking skin tone.</p>
            <hr />
            <p>Key Ingredients:</p>
            {{> c-accordion
                list='[
                    {
                        "summary": "Ethyl Ascorbic Acid (Vitamin C)",
                        "text": "
                            <p>A powerful antioxidant that helps protect the skin from environmental stressors and supports a more youthful-looking appearance.</p>
                        "
                    },
                    {
                        "summary": "Ferulic Acid",
                        "text": "
                            <p>Known for helping to brighten the look of skin and reducing the appearance of wrinkles.</p>
                        "
                    },
                    {
                        "summary": "Actiwhite™",
                        "text": "
                            <p>Visibly brighten and even skin tone and reduce the appearance of dark spots for a more radiant looking complexion.</p>
                        "
                    }
                ]'
            }}
        </article>
    {{/before-after-accordion}}

    {{#> trusted-reviews
        title="Results you’ll see with your own eyes"
    }}
        <div class="swiper-slide">
            <div class="c-trusted-review-card">
                <picture>
                    <img src="sections/isolated/review-slider/images/ana.webp" alt="Amazing" />
                </picture>
                <div class="e-author">
                    <img src="sections/isolated/review-slider/images/australia_f.webp" alt="Ana L." />
                    Ana L.
                </div>
                <div class="e-verified-customer">
                    <div class="e-checkmark"></div>
                    Verified customer
                </div>
                <article>
                    <h6>Amazing</h6>
                    <p>I'm so happy, l've been using the products for 2 months and they have made such a difference in my skin. I had tried a lot of products before but with just one bottle of the serum, staying consistent with the Mask, and doing a few treatments of the Micro-Infusion for scaring. l've seen a huge change in my skin.”</p>
                </article>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="c-trusted-review-card">
                <picture>
                    <img src="sections/isolated/review-slider/images/vanessa.webp" alt="My cystic acne is gone" />
                </picture>
                <div class="e-author">
                    <img src="sections/isolated/review-slider/images/australia_f.webp" alt="Vanessa B." />
                    Vanessa B.
                </div>
                <div class="e-verified-customer">
                    <div class="e-checkmark"></div>
                    Verified customer
                </div>
                <article>
                    <h6>My cystic acne is gone</h6>
                    <p>“So far loving it! Had a little purging the first day using it but when it settled down, boy was it good. My cystic acne is gone. I still have some hyperpigmentation and little surface pimples that I get occasionally but no where near the pain I experienced with cystic acne.”</p>
                </article>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="c-trusted-review-card">
                <picture>
                    <img src="sections/isolated/review-slider/images/cheryl.webp" alt="I see a difference!" />
                </picture>
                <div class="e-author">
                    <img src="sections/isolated/review-slider/images/america_f.webp" alt="Cheryl T." />
                    Cheryl T.
                </div>
                <div class="e-verified-customer">
                    <div class="e-checkmark"></div>
                    Verified customer
                </div>
                <article>
                    <h6>I see a difference!</h6>
                    <p>“I SEE A DIFFERENCE!! This product is a keeper. I’ve been using it for 2 weeks now and there is definitely a big difference in my skin!! I noticed my sun spots have lighten, especially on the backs of my hands. Facial redness and discolorations have lessened! Very happy with this serum.”</p>
                </article>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="c-trusted-review-card">
                <picture>
                    <img src="sections/isolated/review-slider/images/dona.webp" alt="Love your serum!" />
                </picture>
                <div class="e-author">
                    <img src="sections/isolated/review-slider/images/america_f.webp" alt="Dona S." />
                    Dona S.
                </div>
                <div class="e-verified-customer">
                    <div class="e-checkmark"></div>
                    Verified customer
                </div>
                <article>
                    <h6>Love your serum!</h6>
                    <p>“Love your serum! It goes on easily, feels good, and did make my old skin look and feel better. Wish it had been around when I was in my 30’s. I might have taken care of my skin. Since my late 60’s I’ve tried other brands. All were a bit disappointing and I saw few results. After two weeks using Qure I actually thought my old skin looked better.”</p>
                </article>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="c-trusted-review-card">
                <picture>
                    <img src="sections/isolated/review-slider/images/tina.webp" alt="I look fresher" />
                </picture>
                <div class="e-author">
                    <img src="sections/isolated/review-slider/images/america_f.webp" alt="Tina C." />
                    Tina C.
                </div>
                <div class="e-verified-customer">
                    <div class="e-checkmark"></div>
                    Verified customer
                </div>
                <article>
                    <h6>I look fresher</h6>
                    <p>“I am only 2 weeks in on using this product, my skin feels softer, hydrated and glowing. Friends have asked me what do I use on my face as I look fresher. I tell them Qure All in One Face Serum. I have give them your website to order their choice of products from your company 😁👍.”</p>
                </article>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="c-trusted-review-card">
                <picture>
                    <img src="sections/isolated/review-slider/images/bethany.webp" alt="Changed my life!" />
                </picture>
                <div class="e-author">
                    <img src="sections/isolated/review-slider/images/canada_f.webp" alt="Bethany N." />
                    Bethany N.
                </div>
                <div class="e-verified-customer">
                    <div class="e-checkmark"></div>
                    Verified customer
                </div>
                <article>
                    <h6>Changed my life!</h6>
                    <p>“This product has changed my life! My skin feels brighter, clearer and way more even! I’ll use this for the rest of my life!”</p>
                </article>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="c-trusted-review-card">
                <picture>
                    <img src="sections/isolated/review-slider/images/lena.webp" alt="My skin feels tight" />
                </picture>
                <div class="e-author">
                    <img src="sections/isolated/review-slider/images/america_f.webp" alt="Lena A." />
                    Lena A.
                </div>
                <div class="e-verified-customer">
                    <div class="e-checkmark"></div>
                    Verified customer
                </div>
                <article>
                    <h6>My skin feels tight</h6>
                    <p>“I tried this serum after trying all the others. I have found the fountain of youth! It started minimizing fine lines from the first use. My skin feels tight, but, not too tight. My face is softer than it has been in 20 years. I will not be using any serums on my face except QURE. I am thrilled with the results!”</p>
                </article>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="c-trusted-review-card">
                <picture>
                    <img src="sections/isolated/review-slider/images/jessica.webp" alt="Best experience" />
                </picture>
                <div class="e-author">
                    <img src="sections/isolated/review-slider/images/america_f.webp" alt="Jessica R." />
                    Jessica R.
                </div>
                <div class="e-verified-customer">
                    <div class="e-checkmark"></div>
                    Verified customer
                </div>
                <article>
                    <h6>Best experience</h6>
                    <p>“I had an excellent customer service, they have been very attentive to my questions and the quality of the items they sell. I give them a 100/100 , My skin had a small breakout, enlarged pores and was tired, with just one Micro-Infusion treatment it changed radically in 3 days, I will buy it again”</p>
                </article>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="c-trusted-review-card">
                <picture>
                    <img src="sections/isolated/review-slider/images/dorothy.webp" alt="Beauty has no age limit" />
                </picture>
                <div class="e-author">
                    <img src="sections/isolated/review-slider/images/america_f.webp" alt="Dorothy S." />
                    Dorothy S.
                </div>
                <div class="e-verified-customer">
                    <div class="e-checkmark"></div>
                    Verified customer
                </div>
                <article>
                    <h6>Beauty has no age limit</h6>
                    <p>“I am 76 years old. I shared my discovery of Qure’s All-in-1 serum about three months ago and that I had purchased the red light mask about six weeks before. I use both daily. Such a boost to my anti-aging regimen in just three or four minutes! The Qure's at home Micro-Infusion System and targeted serums enhance the red light therapy and All-in-1 Serum and it saves me money! Qure’s products have made an obvious improvement in my skin’s texture, brightness, and tone.</p>
                </article>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="c-trusted-review-card">
                <picture>
                    <img src="sections/isolated/review-slider/images/white-c.webp" alt="The best serum!" />
                </picture>
                <div class="e-author">
                    <img src="sections/isolated/review-slider/images/hong_kong_f.webp" alt="White C." />
                    White C.
                </div>
                <div class="e-verified-customer">
                    <div class="e-checkmark"></div>
                    Verified customer
                </div>
                <article>
                    <h6>The best serum!</h6>
                    <p>“I can't believe it! In just 2 months of using this serum, the results on my skin are absolutely amazing. I no longer have to rely on heavy makeup and concealer to cover up any imperfections. This serum has truly worked wonders for me!”</p>
                </article>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="c-trusted-review-card">
                <picture>
                    <img src="sections/isolated/review-slider/images/johanna.webp" alt="All in for All-In-One Serum" />
                </picture>
                <div class="e-author">
                    <img src="sections/isolated/review-slider/images/america_f.webp" alt="Johanna Y." />
                    Johanna Y.
                </div>
                <div class="e-verified-customer">
                    <div class="e-checkmark"></div>
                    Verified customer
                </div>
                <article>
                    <h6>All in for All-In-One Serum</h6>
                    <p>“I purchased this as part of my nightly routine as a few dark spots and some fine lines showing up. After using it consistently now for 6-8 weeks, I can honestly say the darker spots are lighter. My skin feels smooth and I see less fine lines! I will continue on this journey in hopes to see even more benefits like brighter, plump skin!”</p>
                </article>
            </div>
        </div>
    {{/trusted-reviews }}

    {{#> base-section
        classes="base-section--small-media"
        title="Trusted and Recommended by Experts"
        video='[
            {
                "url": "https://www.youtube.com/watch?v=PJt57LcFEQk",
                "picture": "sections/isolated/experts/images/dr_shah_max_2.webp",
                "label-main": "Dr. Shah & Dr. Maxfield",
                "label-secondary": "Board Certified Dermatologists"
            }
        ]'
        pill-badge=true
    }}
        <p>“Qure has a really good serum. It’s probably <em>the best known peptide complex</em>.</p>
        <p>It has awesome, complimenting ingredients and amazing antioxidants. It really helps to simplify and consolidate your night routine.”</p>
    {{/base-section }}

    {{> features-marquee }}

    {{#> base-section
        classes="base-section--simple-grid"
        id="ingredients"
        picture="sections/isolated/target-specific/images/tg-frame_serum.webp"
        title="One product to replace your full routine"
    }}
        <ul class="circle-icons-list">
            <li><div>{{> e-icon icon="fine-lines"}}</div> Fine Lines</li>
            <li><div>{{> e-icon icon="wrinkles"}}</div> Wrinkles</li>
            <li><div>{{> e-icon icon="dark-spots"}}</div> Dark Spots</li>
            <li><div>{{> e-icon icon="blemishes"}}</div> Blemishes</li>
            <li><div>{{> e-icon icon="rough-texture"}}</div> Rough Texture</li>
        </ul>
    {{/base-section }}

    {{#> comparison-table
        title="More actives, less hassle, better results"
        labels='[
            {
                "name": "Active Ingredients",
                "colorize": false
            },
            {
                "name": "Multi-Benefit Formula",
                "colorize": false
            },
            {
                "name": "Ease of Use",
                "colorize": false
            },
            {
                "name": "Cost",
                "colorize": false
            }
        ]'
    }}
        <div class="swiper-slide">
            <article>
                <h5>Qure<br /> All-In-One Serum</h5>
                <ul>
                    <li>{{> e-icon icon="checkmark-fill"}} <span>Retinol, peptides, niacinamide, bakuchiol</span></li>
                    <li>{{> e-icon icon="checkmark-fill"}} <span>Targets 5+ concerns in one easy-to-use formula</span></li>
                    <li>{{> e-icon icon="checkmark-fill"}} <span>One step, AM or PM</span></li>
                    <li>{{> e-icon icon="checkmark-fill"}} <span>Great value</span></li>
                </ul>
            </article>
        </div>
        <div class="swiper-slide">
            <article>
                <h5>High-End<br /> Serums</h5>
                <ul>
                    <li>{{> e-icon icon="checkmark-fill"}} <span>Usually 1–2 premium actives per product</span></li>
                    <li>{{> e-icon icon="cross-fill"}} <span>Often one concern per product</span></li>
                    <li>{{> e-icon icon="cross-fill"}} <span>Multi-step routine</span></li>
                    <li>{{> e-icon icon="cross-fill"}} <span>High ($90+ per product)</span></li>
                </ul>
            </article>
        </div>
        <div class="swiper-slide">
            <article>
                <h5>Drugstore<br /> Serums</h5>
                <ul>
                    <li>{{> e-icon icon="cross-fill"}} <span>Basic actives in lowest concentrations</span></li>
                    <li>{{> e-icon icon="cross-fill"}} <span>Often one concern per product</span></li>
                    <li>{{> e-icon icon="cross-fill"}} <span>Multi-step routine</span></li>
                    <li>{{> e-icon icon="checkmark-fill"}} <span>Low</span></li>
                </ul>
            </article>
        </div>
    {{/comparison-table }}

    {{#> base-slider
        title="Confident skin starts here"
    }}
        <div
            class="c-swiper"
            data-swiper='{
                "slidesPerView": 1.2,
                "spaceBetween": 16,
                "loop": false,
                "pagination": {
                    "el": ".c-swiper-pagination",
                    "type": "custom"
                },
                "navigation": {
                    "prevEl": ".c-swiper-button-prev",
                    "nextEl": ".c-swiper-button-next"
                },
                "breakpoints": {
                    "480": {
                        "slidesPerView": 2.2
                    },
                    "768": {
                        "slidesPerView": 4
                    }
                }
            }'
        >
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="wistia-embed-video">
                        <div class="wistia_responsive_padding">
                            <div class="wistia_responsive_wrapper">
                                <div class="wistia_embed wistia_async_gt0wr74fyd popover=true seo=false videoFoam=true">
                                    <div class="wistia_swatch">
                                        <img
                                            src="https://fast.wistia.com/embed/medias/gt0wr74fyd/swatch"
                                            alt="Wistia video thumbnail"
                                            style="filter: blur(5px);"
                                        />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <picture data-url="https://www.youtube.com/watch?v=wuIjXhlFUTU">
                        <img src="sections/isolated/review-videos/images/all-in-one-serum-reviews.webp" alt="Video thumbnail" />
                    </picture>
                </div>
                <div class="swiper-slide">
                    <div class="wistia-embed-video">
                        <div class="wistia_responsive_padding">
                            <div class="wistia_responsive_wrapper">
                                <div class="wistia_embed wistia_async_7ghlcv9xqg popover=true seo=false videoFoam=true">
                                    <div class="wistia_swatch">
                                        <img
                                            src="https://fast.wistia.com/embed/medias/7ghlcv9xqg/swatch"
                                            alt="Wistia video thumbnail"
                                            style="filter: blur(5px);"
                                        />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="wistia-embed-video">
                        <div class="wistia_responsive_padding">
                            <div class="wistia_responsive_wrapper">
                                <div class="wistia_embed wistia_async_cdyj6o3q28 popover=true seo=false videoFoam=true">
                                    <div class="wistia_swatch">
                                        <img
                                            src="https://fast.wistia.com/embed/medias/cdyj6o3q28/swatch"
                                            alt="Wistia video thumbnail"
                                            style="filter: blur(5px);"
                                        />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <picture data-url="https://www.youtube.com/watch?v=j0L38mO7XaY&t=208s">
                        <img src="sections/isolated/review-videos/images/luxury-micro-habits.webp" alt="Video thumbnail" />
                    </picture>
                </div>
                <div class="swiper-slide">
                    <picture data-url="https://www.youtube.com/watch?v=Jb99E6ztDIM">
                        <img src="sections/isolated/review-videos/images/anti-aging-skincare-serum.webp" alt="Video thumbnail" />
                    </picture>
                </div>
            </div>
            <div class="c-swiper-nav">
                <button class="c-swiper-button-prev"></button>
                <div class="c-swiper-pagination"></div>
                <button class="c-swiper-button-next"></button>
            </div>
        </div>
    {{/base-slider }}

    {{> have-questions
        list='[
            {
                "summary": "Who should use All-In-One Serum?",
                "text": "<p>You should use the All-In-One Serum if:</p><ul><li>Your skin is showing signs of aging</li><li>Your skin looks dull and tired</li><li>You want to even your skin tone and texture</li><li>Your skin has dark spots and discoloration</li></ul><p>All-In-One Serum helps improve these skin concerns. It’s a lightweight serum that rejuvenates dull skin for smooth, radiant results. Its clinically proven ingredients work to make your skin look brighter, instantly and over time.</p>"
            },
            {
                "summary": "When will I start to see results?",
                "text": "<p>Most people see improvement in a few weeks, but this can vary. Remember to stick with it - consistency is key!</p>"
            },
            {
                "summary": "When should I use the All-In-One Serum?",
                "text": "<p>The All-In-One Serum should be used once daily, after cleansing and before moisturizer. It’s suitable for both morning and evening routines.</p><p>To maximize the effectiveness, apply after your Q-Rejuvalight Pro LED Mask treatment.</p>"
            },
            {
                "summary": "What is the full ingredient list?",
                "text": "<p>Purified Aqua, Aqua (and) Acetyl Hexapeptide-8, Aqua (and) Boswellia Serrata Resin Extract, Glycerin, Caprylic/capric Triglyceride, 1,3-Propanediol, Aqua (and) Sodium Hydroxide, Maltodextrin (and) Sucrose Dilaurate (and) Sodium Cocoyl Glutamate (and) Pisum Sativum (Pea) Extract, Glycerin (and) Aqua (and) Artemisia Umbelliformis Extract, Sodium Acrylates Copolymer (and) Lecithin, Niacinamide, 1,2-Hexanediol (and) Caprylyl Glycol (and) Tropolone, Sodium Acrylates Copolymer (and) Lecithin, Caprylic/Capric Triglyceride (and) Retinol (and) BHT, Retinyl Palmitate (and) Glycine Soja (Soybean) Oil (and) Tocopherol, Bakuchiol, Glyceryl Oleate Citrate (and) Caprylic/Capric Triglyceride, Lactic Acid, Propanediol (and) Aqua (and) Ganoderma Lucidum (Mushroom) Extract, Camellia Sinensis Leaf Extract, Polycrylate-13 (and) Polyisobutene (and) Polysorbate 20, Tocopheryl Acetate, 3-O-Ethyl Ascorbic Acid, Pentaerythrityl tetra-di-t-butyl hydroxyhydrocinnamate, Ferulic Acid, Mandelic Acid, Aqua (and) Ginkgo biloba Leaf Extract, Aqua (and) Terminalia Ferdinandiana Fruit Extract</p>"
            },
            {
                "summary": "What skin types is the All-In-One Serum best for?",
                "text": "<p>This formula is suitable for all skin types (including sensitive) thanks to its balanced blend of active and calming ingredients. It’s especially helpful if you’re targeting fine lines, dullness, uneven tone, or dryness.</p>"
            },
            {
                "summary": "Can I use this with the Q-Rejuvalight Pro LED Face Mask?",
                "text": "<p>Yes, this serum pairs perfectly with the Q-Rejuvalight Pro. For best results, use the mask on clean skin first, then follow with the All-In-One Serum to maximize absorption and benefits.</p>"
            }
        ]'
    }}
{{/section-stack }}

{{> cta-bar
    qty-selector=true
    button="Subscribe & Save {dyn}%"
}}

{{/new }}
