{{#> new
    title="Dermal Mist"
    body-class="product.dermal-mist"
}}

{{#> section-stack }}
    <!-- BUY SECTION -->
    <link rel="stylesheet" href="sections/new/hero-product/hero-product.css" />
    <section class="hero-product" id="hero-product">
        <div class="hero-product__container container">
            <div class="hero-product__gallery">
                <div
                    class="c-swiper"
                    data-swiper-thumbs="#hero-product .c-swiper-thumbs"
                    data-swiper='{
                        "slidesPerView": 1,
                        "spaceBetween": 16,
                        "navigation": {
                            "prevEl": "#hero-product .c-swiper-button-prev",
                            "nextEl": "#hero-product .c-swiper-button-next"
                        }
                    }'
                >
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <img src="sections/isolated/targeted-patches/images/derm_mist_1.webp" alt="Qure Dermal Mist" />
                        </div>
                        <div class="swiper-slide">
                            <img src="sections/isolated/targeted-patches/images/derm_mist_2.webp" alt="Qure Dermal Mist"
                                data-url="https://www.youtube.com/watch?v=Ecw9o0bM6Gc"
                            />
                        </div>
                        <div class="swiper-slide">
                            <img src="sections/isolated/targeted-patches/images/derm_mist_3.webp" alt="Qure Dermal Mist" />
                        </div>
                        <div class="swiper-slide">
                            <img src="sections/isolated/targeted-patches/images/derm_mist_4.webp" alt="Qure Dermal Mist" />
                        </div>
                        <div class="swiper-slide">
                            <img src="sections/isolated/targeted-patches/images/derm_mist_5.webp" alt="Qure Dermal Mist" />
                        </div>
                    </div>
                </div>
                <div class="c-swiper-thumbs-nav">
                    <button class="c-swiper-button-prev"></button>
                    <div
                        class="c-swiper c-swiper-thumbs"
                        data-swiper='{
                            "slidesPerView": "auto",
                            "spaceBetween": 12
                        }'
                    >
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <img src="sections/isolated/targeted-patches/images/derm_mist_1.webp" alt="Qure Dermal Mist" />
                            </div>
                            <div class="swiper-slide">
                                <img src="sections/isolated/targeted-patches/images/derm_mist_2.webp" alt="Qure Dermal Mist" />
                            </div>
                            <div class="swiper-slide">
                                <img src="sections/isolated/targeted-patches/images/derm_mist_3.webp" alt="Qure Dermal Mist" />
                            </div>
                            <div class="swiper-slide">
                                <img src="sections/isolated/targeted-patches/images/derm_mist_4.webp" alt="Qure Dermal Mist" />
                            </div>
                            <div class="swiper-slide">
                                <img src="sections/isolated/targeted-patches/images/derm_mist_5.webp" alt="Qure Dermal Mist" />
                            </div>
                        </div>
                    </div>
                    <button class="c-swiper-button-next"></button>
                </div>
            </div>
            <div class="hero-product__main">
                {{> c-rating value="4.8" }}
                <p>HYPOCHLOROUS ACID SPRAY DERMAL MIST</p>
                <h1>Refresh your skin anytime, anywhere with  Dermal Mist</h1>
                <article>
                    <ul>
                        <li>A hypochlorous acid mist to rebalance skin, kills breakout-causing bacteria, and supports barrier repair.</li>
                        <li>Use on clean skin to soothe visible redness, calm irritation or as a no-rinse refresher throughout the day. </li>
                        <li>Comes as a duo: 100ml for daily use and a travel-friendly 15ml.</li>
                    </ul>
                </article>
                <hr />
                {{> c-supply-selector
                    classes="c-supply-selector--tiles"
                    title="Select Your Supply"
                    list='[
                        {
                            "image": "sections/isolated/micro-infusion-pdp/images/3-bottles.webp",
                            "name": "3 Months",
                            "desc": "(3 bottles)",
                            "price-old": true,
                            "price-highlight": true,
                            "save-pill": true,
                            "save-value": "38% OFF",
                            "tag-up": true,
                            "tag-name": "Best Value <i class=\"e-icon e-icon-rating-fill\"></i>",
                            "option": "supply-tile",
                            "checked": true
                        },
                        {
                            "image": "sections/isolated/micro-infusion-pdp/images/2-bottles.webp",
                            "name": "2 Months",
                            "desc": "(2 bottles)",
                            "price-old": true,
                            "price-highlight": true,
                            "save-pill": true,
                            "save-pill-light": true,
                            "save-value": "25% OFF",
                            "option": "supply-tile"
                        },
                        {
                            "image": "sections/isolated/micro-infusion-pdp/images/1-bottle.webp",
                            "name": "1 Months",
                            "desc": "(1 bottles)",
                            "price-old": true,
                            "price-highlight": true,
                            "option": "supply-tile"
                        }
                    ]'
                }}
                <div class="c-buy-block">
                    {{> c-order-button }}
                    {{> c-certified-box }}
                    <ul class="e-features-list">
                        <li>
                            {{> e-icon icon="guarantee" }}
                            30-Day Money-Back Guarantee
                        </li>
                        <li>
                            {{> e-icon icon="shipping-order" }}
                            Free Shipping over {$dyn}
                        </li>
                    </ul>
                </div>
                {{> c-next-batch }}
            </div>
            <div class="hero-product__extra">
                <div class="hero-product__best-with">
                    <h6>Get The Best Results With</h6>
                    <div
                        class="c-swiper"
                        data-swiper='{
                            "slidesPerView": "1.25",
                            "spaceBetween": 12,
                            "breakpoints": {
                                "992": {
                                    "slidesPerView": 2
                                }
                            }
                        }'
                    >
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <a href="#"><img src="sections/isolated/targeted-patches/images/result-1.webp" alt="All-In One Face Serum" /></a>
                                <a href="#">All-In One Face Serum</a>
                                <button class="btn btn--primary btn--sm">Add - {$dyn}</button>
                            </div>
                            <div class="swiper-slide">
                                <img src="sections/isolated/targeted-patches/images/derm_mist_result.webp" alt="Micro-Infusion Targeted Patches" />
                                <a href="#">Micro-Infusion Targeted Patches</a>
                                <button class="btn btn--primary btn--sm">Add - {$dyn}</button>
                            </div>
                        </div>
                    </div>
                </div>
                {{> c-accordion
                    type="lines"
                    list='[
                        {
                            "summary": "Key Benefits",
                            "text": "
                                <p>Our Dermal Mist is a purifying facial spray that eliminates acne-causing bacteria while calming irritation and supporting the skin barrier. Use it after treatments or as part of your daily routine to keep skin clear and soothed.</p>
                                <p>It delivers instant relief while strengthening the skin barrier, making it ideal for sensitive, reactive, or post-treatment skin.</p>
                                <p>Visible benefits include:</p>
                                <ul>
                                    <li>Targets and eliminates breakout-causing bacteria</li>
                                    <li>Soothes redness, irritation, and inflammation</li>
                                    <li>Clears and balances skin over time </li>
                                    <li>Accelerates healing and repair</li>
                                </ul>
                            "
                        },
                        {
                            "summary": "How To Use",
                            "text": "
                                <p>For best results, spray on dry skin with eyes closed. Allow to dry naturally. No need to rinse or pat!</p>
                                <p>Dermal Mist can also be used post-workout, during travel, or throughout the day to keep skin calm, balanced, and fresh.</p>
                            "
                        },
                        {
                            "summary": "Full Ingredient List",
                            "text": "
                                <p>Water (aqua)*, Chrysanthellum indicum flower water, Sodium chloride, Sodium phosphate, Disodium phosphate, Hypochlorous acid. </p>
                                <p>*Ultra pure water.</p>
                                <ul class=\"c-marked-list\">
                                    <li>Clinically tested and hypoallergenic</li>
                                    <li>Dermatologically approved</li>
                                    <li>Suitable for sensitive skin</li>
                                    <li>Free from fragrance, parabens, and PEG</li>
                                </ul>
                            "
                        }
                    ]'
                }}
                {{> c-jump-to
                    list='[
                        {
                            "id": "easy_steps",
                            "name": "How To Use"
                        },
                        {
                            "id": "ingredients",
                            "name": "Ingredients"
                        },
                        {
                            "id": "faq",
                            "name": "FAQs"
                        }
                    ]'
                }}
            </div>
        </div>
    </section>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            loadScriptOnce('swiper', 'assets/js-new/swiper.js');
            loadScriptOnce('youtube-popup', 'assets/js-new/yt-popup.js');
        });
    </script>
    <!-- BUY SECTION END -->

    {{> logos-marquee }}

    {{#> base-section
        classes="base-section--reverse"
        title="A mist to refresh skin prone to breakouts, redness and sensitivity"
        wistia="getx3xc27m"
        button="Shop Now"
    }}
        <p>Powered by hypochlorous acid (HOCl), Dermal Mist helps calm the look and feel of stressed skin and support a fresh, balanced complexion—without irritation.</p>
        <p>Perfect for skin that experiences <em>breakouts, visible redness, or post-treatment sensitivity</em>, this lightweight mist helps soothe the look of skin and protect against everyday environmental stressors.</p>
        <p>It’s fragrance-free, non-drying, and gentle enough to use anytime, anywhere, even over makeup.</p>
    {{/base-section }}

    {{#> how-to-use
        title="Bacteria defense that fits your day"
        text= "
            <p>Fresh, comfortable skin wherever you are. Dermal Mist comes in two sizes: a 100 ml bottle for consistent at-home use, and a 15 ml travel size for easy, on-the-go refreshment.</p>
            <p><strong>Use it in 4 ways.</strong></p>
        "
    }}
        <div class="swiper-slide">
            <picture data-index="1">
                <source media="(min-width:768px)" srcset="sections/new/how-to-use/images/dermal-mist-1.webp" />
                <img src="sections/new/how-to-use/images/dermal-mist-1-mob.webp" alt="Post-Workout Refresh" />
            </picture>
            <article>
                <h6>Post-Workout Refresh</h6>
                <p>Mist onto skin after workouts or throughout the day to help calm the look of flushed, stressed skin.</p>
            </article>
        </div>
        <div class="swiper-slide">
            <picture data-index="2">
                <source media="(min-width:768px)" srcset="sections/new/how-to-use/images/dermal-mist-2.webp" />
                <img src="sections/new/how-to-use/images/dermal-mist-2-mob.webp" alt="Pillow Protector" />
            </picture>
            <article>
                <h6>Pillow Protector</h6>
                <p>Spritz on your pillowcase at night to keep your pillow fresh and cool.</p>
            </article>
        </div>
        <div class="swiper-slide">
            <picture data-index="3">
                <source media="(min-width:768px)" srcset="sections/new/how-to-use/images/dermal-mist-3.webp" />
                <img src="sections/new/how-to-use/images/dermal-mist-3-mob.webp" alt="Pre-Treatment Purifier" />
            </picture>
            <article>
                <h6>Pre-Treatment Purifier</h6>
                <p>Use after cleansing to hydrate and balance the skin.</p>
            </article>
        </div>
        <div class="swiper-slide">
            <picture data-index="4">
                <source media="(min-width:768px)" srcset="sections/new/how-to-use/images/dermal-mist-4.webp" />
                <img src="sections/new/how-to-use/images/dermal-mist-4-mob.webp" alt="Device Care" />
            </picture>
            <article>
                <h6>Device Care</h6>
                <p>After using your Q-Rejuvalight Pro, a light spray and wipe inside your device keeps it refreshed.</p>
            </article>
        </div>
    {{/how-to-use }}

    {{#> base-section
        classes="base-section--small-media"
        title="Trusted and Recommended by Experts"
        video='[
            {
                "wistia-video": true,
                "code": "zd9o2f2jp7",
                "picture": "sections/isolated/experts/images/dr_shah_max.webp",
                "label-main": "Dr. Shah & Dr. Maxfield",
                "label-secondary": "Board Certified Dermatologists"
            }
        ]'
        pill-badge=true
    }}
        <p>“Dermal Mist is great for use after the gym, but the best use of hypocholorus acid is in combination with Qure’s Micro-Infusion. <em>Dermal Mist preps your skin</em>, allowing ingredients placed on top to penetrate your skin even further.”</p>
    {{/base-section }}

    {{> features-marquee }}

    {{#> base-section
        classes="base-section--reverse"
        id="ingredients"
        picture="assets/images/hypo_acid.webp"
        title="A mist to refresh skin prone to breakouts, redness and sensitivity"
        ingredients=true
    }}
        <p>Powered by hypochlorous acid (HOCl), Dermal Mist helps calm the look and feel of stressed skin and support a fresh, balanced complexion—without irritation.</p>
        <p>Perfect for skin that experiences <em>breakouts, visible redness, or post-treatment sensitivity</em>, this lightweight mist helps soothe the look of skin and protect against everyday environmental stressors.</p>
        <p>It’s fragrance-free, non-drying, and gentle enough to use anytime, anywhere, even over makeup.</p>
    {{/base-section }}

    {{#> base-slider
        title="Confident skin starts here"
    }}
        <div
            class="c-swiper"
            data-swiper='{
                "slidesPerView": 1.2,
                "spaceBetween": 16,
                "loop": false,
                "pagination": {
                    "el": ".c-swiper-pagination",
                    "type": "custom"
                },
                "navigation": {
                    "prevEl": ".c-swiper-button-prev",
                    "nextEl": ".c-swiper-button-next"
                },
                "breakpoints": {
                    "480": {
                        "slidesPerView": 2.2
                    },
                    "768": {
                        "slidesPerView": 4
                    }
                }
            }'
        >
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <picture data-url="https://www.youtube.com/watch?v=EjLx0IvKh7g">
                        <img src="sections/isolated/faucet-creative-brief/images/mist_thumb.webp" alt="Content examples video" />
                    </picture>
                </div>
                <div class="swiper-slide">
                    <picture
                        data-bs-toggle="modal"
                        data-bs-target="#reusableWistiaModal"
                        data-video-id="yn6z8yyb27"
                    >
                        <img src="sections/isolated/faucet-creative-brief/images/mist_thumb2.webp" alt="Content examples video" />
                    </picture>
                </div>
                <div class="swiper-slide">
                    <picture
                        data-bs-toggle="modal"
                        data-bs-target="#reusableWistiaModal"
                        data-video-id="8gyyf2dcvi"
                    >
                        <img src="sections/isolated/faucet-creative-brief/images/mist_thumb3.webp" alt="Content examples video" />
                    </picture>
                </div>
                <div class="swiper-slide">
                    <picture
                        data-bs-toggle="modal"
                        data-bs-target="#reusableWistiaModal"
                        data-video-id="1n99gjr2s0"
                    >
                        <img src="sections/isolated/faucet-creative-brief/images/mist_thumb4.webp" alt="Content examples video" />
                    </picture>
                </div>
                <div class="swiper-slide">
                    <picture
                        data-bs-toggle="modal"
                        data-bs-target="#reusableWistiaModal"
                        data-video-id="70whuifdz9"
                    >
                        <img src="sections/isolated/faucet-creative-brief/images/mist_thumb5.webp" alt="Content examples video" />
                    </picture>
                </div>
                <div class="swiper-slide">
                    <picture
                        data-bs-toggle="modal"
                        data-bs-target="#reusableWistiaModal"
                        data-video-id="3ju1jzs8kh"
                    >
                        <img src="sections/isolated/faucet-creative-brief/images/mist_thumb6.webp" alt="Content examples video" />
                    </picture>
                </div>
                <div class="swiper-slide">
                    <picture
                        data-bs-toggle="modal"
                        data-bs-target="#reusableWistiaModal"
                        data-video-id="8oaekyxuea"
                    >
                        <img src="sections/isolated/faucet-creative-brief/images/mist_thumb7.webp" alt="Content examples video" />
                    </picture>
                </div>
                <div class="swiper-slide">
                    <picture
                        data-bs-toggle="modal"
                        data-bs-target="#reusableWistiaModal"
                        data-video-id="73f18l0mq1"
                    >
                        <img src="sections/isolated/faucet-creative-brief/images/mist_thumb8.webp" alt="Content examples video" />
                    </picture>
                </div>
                <div class="swiper-slide">
                    <picture
                        data-bs-toggle="modal"
                        data-bs-target="#reusableWistiaModal"
                        data-video-id="yerwu83f6q"
                    >
                        <img src="sections/isolated/faucet-creative-brief/images/mist_thumb9.webp" alt="Content examples video" />
                    </picture>
                </div>
            </div>
            <div class="c-swiper-nav">
                <button class="c-swiper-button-prev"></button>
                <div class="c-swiper-pagination"></div>
                <button class="c-swiper-button-next"></button>
            </div>
        </div>
    {{/base-slider }}

    {{#> comparison
        title="A mist that does more than refresh"
        picture-first="sections/isolated/eye-patches/images/mist_img_1.webp"
        picture-second="sections/isolated/eye-patches/images/mist_img_2.webp"
        name-first="Qure Dermal Mist"
        name-second="Traditional Skin Mists"
        list-first='[
            "Powered by Hypochlorous Acid and enriched with Chamomile",
            "Designed for face, body & anywhere your skin touches",
            "Hypoallergenic and suitable for sensitive skin",
            "Clinically proven to reduce bacteria and inflammation",
            "Light, natural scent that dissipates quickly"
        ]'
        list-second='[
            "Often alcohol-based or contain added fragrances",
            "Primarily designed for facial use only",
            "May contain irritants not ideal for sensitive skin",
            "Usually focused on hydration without these benefits",
            "Often has a fragrance which can cause irritation"
        ]'
        declaimer="*Based on laboratory testing under controlled conditions. Performance may vary depending on water quality and usage."
    }}
        <p>With the Qure Faucet Filter, you get the best science-backed, dermatologist-approved solution to filtered water at home for better skin.</p>
    {{/comparison }}

    {{> have-questions
        list='[
            {
                "summary": "What makes Dermal Mist different from other facial sprays?",
                "text": "
                    <p>Unlike many face mists that are fragranced or water-heavy with little skin benefit, our Dermal Mist is formulated specifically for sensitive and post-treatment skin.</p>
                    <p>Dermal Mist is powered by hypochlorous acid and enriched with chamomile, offering anti-inflammatory and antibacterial benefits without any harsh chemicals. It\'s pH balanced and gentle enough for all skin types, making it a versatile addition to your daily routine.</p>
                    <p>It hydrates without irritation, soothes redness, and helps your skin bounce back faster.</p>
                "
            },
            {
                "summary": "What are the benefits of Dermal Mist and hypochlorous acid?",
                "text": "
                    <p>Our Dermal Mist is powered by hypochlorous acid — a gentle yet effective ingredient known for its soothing, antibacterial, and barrier-supporting properties. </p>
                    <p>Hypochlorous acid (HOCl) helps soothe redness, reduce inflammation, and accelerate healing, making it especially useful for sensitive, acne-prone, or post-treatment skin. </p>
                    <p>Unlike harsher actives, HOCl supports the skin barrier while eliminating harmful bacteria — all without causing dryness or disrupting the skin’s natural balance. It is safe for all skin types, it’s a gentle but effective way to calm, protect, and refresh the skin.</p>
                "
            },
            {
                "summary": "How should I incorporate Dermal Mist into my skincare routine?",
                "text": "
                    <p>You can use Dermal Mist morning and evening as a purifying step before applying treatments. It’s also great for refreshing your skin throughout the day, post-workout, or to disinfect surfaces such as your pillow and your skincare tools.</p>
                "
            },
            {
                "summary": "What’s the concentration of hypochlorous acid in Dermal Mist?",
                "text": "
                    <p>Dermal Mist contains a precise 0.02% concentration of hypochlorous acid, which is effective enough to deliver antibacterial and anti-inflammatory benefits while remaining gentle on the skin.</p>
                    <p>We don’t add any fragrances, so you may notice the light, natural scent of hypochlorous acid. This should fade soon after spraying.</p>
                "
            },
            {
                "summary": "Can I use Dermal Mist on sensitive skin?",
                "text": "
                    <p>Absolutely. Dermal Mist is dermatologically tested, hypoallergenic, and formulated specifically to be kind to even the most sensitive skin. It’s designed to soothe, purify, and protect without causing irritation.</p>
                "
            },
            {
                "summary": "Is this product vegan and cruelty-free?",
                "text": "
                    <p>Yes, Dermal Mist is both vegan and cruelty-free. We are committed to creating products that are kind to both your skin and the environment.</p>
                "
            }

        ]'
    }}

{{/section-stack }}

<!-- Sticky CTA start -->
<link rel="stylesheet" href="sections/isolated/sticky-cta/sticky-cta.css" />
<div class="qure__sticky-atc">
    <div class="container">
        <div class="d-flex flex-wrap justify-content-between align-items-center py-16">
            <h3 class="fs-20 m-0 d-none d-md-block">Dermal Mist</h3>
            <a href="#hero-product" class="btn btn--primary">Pre-Order Now</a>
        </div>
    </div>
    <div class="align-items-center bg-light d-flex fs-16 gap-4 justify-content-center py-6 qure__user-online text-center">
        <div class="pulse"></div> 93 reserved in last 48 hours
    </div>
</div>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        loadScriptOnce('sticky-cta', 'assets/js/sticky-cta.js');
    });
</script>
<!-- Sticky CTA end -->

{{/new }}
