{{#> new
    title="Micro-Infusion Patches"
    body-class="product.micro-infusion-targeted-patches"
}}

{{#> section-stack }}
    <!-- BUY SECTION -->
    <link rel="stylesheet" href="sections/new/hero-product/hero-product.css" />
    <section class="hero-product" id="hero-product">
        <div class="hero-product__container container">
            <div class="hero-product__gallery">
                <div
                    class="c-swiper"
                    data-swiper-thumbs="#hero-product .c-swiper-thumbs"
                    data-swiper='{
                        "slidesPerView": 1,
                        "spaceBetween": 16,
                        "navigation": {
                            "prevEl": "#hero-product .c-swiper-button-prev",
                            "nextEl": "#hero-product .c-swiper-button-next"
                        }
                    }'
                >
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <img src="sections/isolated/targeted-patches/images/mi_patches_1.webp" alt="Qure Micro-Infusion Patches" />
                        </div>
                        <div class="swiper-slide">
                            <img src="sections/isolated/targeted-patches/images/mi_patches_2.webp" alt="Qure Micro-Infusion Patches"
                                data-url="https://www.youtube.com/watch?v=mVdncsTAXiA"
                            />
                        </div>
                        <div class="swiper-slide">
                            <img src="sections/isolated/targeted-patches/images/mi_patches_3.webp" alt="Qure Micro-Infusion Patches" />
                        </div>
                        <div class="swiper-slide">
                            <img src="sections/isolated/targeted-patches/images/mi_patches_4.webp" alt="Qure Micro-Infusion Patches" />
                        </div>
                        <div class="swiper-slide">
                            <img src="sections/isolated/targeted-patches/images/mi_patches_5.webp" alt="Qure Micro-Infusion Patches" />
                        </div>
                        <div class="swiper-slide">
                            <img src="sections/isolated/targeted-patches/images/mi_patches_6.webp" alt="Qure Micro-Infusion Patches" />
                        </div>
                        <div class="swiper-slide">
                            <img src="sections/isolated/targeted-patches/images/mi_patches_7.webp" alt="Qure Micro-Infusion Patches" />
                        </div>
                        <div class="swiper-slide">
                            <img src="sections/isolated/targeted-patches/images/mi_patches_8.webp" alt="Qure Micro-Infusion Patches" />
                        </div>
                        <div class="swiper-slide">
                            <img src="sections/isolated/targeted-patches/images/mi_patches_9.webp" alt="Qure Micro-Infusion Patches" />
                        </div>
                        <div class="swiper-slide">
                            <img src="sections/isolated/targeted-patches/images/mi_patches_10.webp" alt="Qure Micro-Infusion Patches" />
                        </div>
                    </div>
                </div>
                <div class="c-swiper-thumbs-nav">
                    <button class="c-swiper-button-prev"></button>
                    <div
                        class="c-swiper c-swiper-thumbs"
                        data-swiper='{
                            "slidesPerView": "auto",
                            "spaceBetween": 12
                        }'
                    >
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <img src="sections/isolated/targeted-patches/images/mi_patches_1.webp" alt="Qure Micro-Infusion Patches" />
                            </div>
                            <div class="swiper-slide">
                                <img src="sections/isolated/targeted-patches/images/mi_patches_2.webp" alt="Qure Micro-Infusion Patches" />
                            </div>
                            <div class="swiper-slide">
                                <img src="sections/isolated/targeted-patches/images/mi_patches_3.webp" alt="Qure Micro-Infusion Patches" />
                            </div>
                            <div class="swiper-slide">
                                <img src="sections/isolated/targeted-patches/images/mi_patches_4.webp" alt="Qure Micro-Infusion Patches" />
                            </div>
                            <div class="swiper-slide">
                                <img src="sections/isolated/targeted-patches/images/mi_patches_5.webp" alt="Qure Micro-Infusion Patches" />
                            </div>
                            <div class="swiper-slide">
                                <img src="sections/isolated/targeted-patches/images/mi_patches_6.webp" alt="Qure Micro-Infusion Patches" />
                            </div>
                            <div class="swiper-slide">
                                <img src="sections/isolated/targeted-patches/images/mi_patches_7.webp" alt="Qure Micro-Infusion Patches" />
                            </div>
                            <div class="swiper-slide">
                                <img src="sections/isolated/targeted-patches/images/mi_patches_8.webp" alt="Qure Micro-Infusion Patches" />
                            </div>
                            <div class="swiper-slide">
                                <img src="sections/isolated/targeted-patches/images/mi_patches_9.webp" alt="Qure Micro-Infusion Patches" />
                            </div>
                            <div class="swiper-slide">
                                <img src="sections/isolated/targeted-patches/images/mi_patches_10.webp" alt="Qure Micro-Infusion Patches" />
                            </div>
                        </div>
                    </div>
                    <button class="c-swiper-button-next"></button>
                </div>
            </div>
            <div class="hero-product__main">
                {{> c-rating value="4.8" }}
                <p>MICRO-INFUSION DART PATCHES</p>
                <h1>Smooth, firm and plump stubborn areas with Micro-Infusion Targeted Patches</h1>
                <article>
                    <ul>
                        <li>Reduces appearance of fine lines and wrinkles, under-eye darkness, and puffiness. </li>
                        <li>Serum infused micro-darts dissolve into the skin to deliver active ingredients beyond the surface for faster results.</li>
                        <li>Science backed, age-defying ingredients such as retinol, caffeine, niacinamide, and peptides.</li>
                    </ul>
                </article>
                <hr />
                {{> c-supply-selector
                    classes="c-supply-selector--tiles"
                    title="Select Your Supply"
                    list='[
                        {
                            "image": "sections/isolated/targeted-patches/images/24-pairs.webp",
                            "name": "3 Months",
                            "desc": "(3 boxes, 24 pairs)",
                            "price-old": true,
                            "price-highlight": true,
                            "save-pill": true,
                            "save-value": "38% OFF",
                            "tag-up": true,
                            "tag-name": "Best Value <i class=\"e-icon e-icon-rating-fill\"></i>",
                            "option": "supply-tile",
                            "checked": true
                        },
                        {
                            "image": "sections/isolated/targeted-patches/images/16-pairs.webp",
                            "name": "2 Months",
                            "desc": "(2 boxes, 12 pairs)",
                            "price-old": true,
                            "price-highlight": true,
                            "save-pill": true,
                            "save-pill-light": true,
                            "save-value": "25% OFF",
                            "option": "supply-tile"
                        },
                        {
                            "image": "sections/isolated/targeted-patches/images/8-pairs.webp",
                            "name": "1 Months",
                            "desc": "(1 boxes, 8 pairs)",
                            "price-old": true,
                            "price-highlight": true,
                            "option": "supply-tile"
                        }
                    ]'
                }}
                <div class="c-buy-block">
                    {{> c-order-button }}
                    {{> c-certified-box }}
                    <ul class="e-features-list">
                        <li>
                            {{> e-icon icon="guarantee" }}
                            30-Day Money-Back Guarantee
                        </li>
                        <li>
                            {{> e-icon icon="shipping-order" }}
                            Free Shipping over {$dyn}
                        </li>
                    </ul>
                </div>
                {{> c-next-batch }}
            </div>
            <div class="hero-product__extra">
                <div class="hero-product__best-with">
                    <h6>Get The Best Results With</h6>
                    <div
                        class="c-swiper"
                        data-swiper='{
                            "slidesPerView": "1.25",
                            "spaceBetween": 12,
                            "breakpoints": {
                                "992": {
                                    "slidesPerView": 2
                                }
                            }
                        }'
                    >
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <a href="#"><img src="sections/isolated/targeted-patches/images/result-1.webp" alt="All-In One Face Serum" /></a>
                                <a href="#">All-In One Face Serum</a>
                                <button class="btn btn--primary btn--sm">Add - {$dyn}</button>
                            </div>
                            <div class="swiper-slide">
                                <img src="sections/isolated/targeted-patches/images/result-2.webp" alt="Dermal Mist (Duo - 100ml + 15ml)" />
                                <a href="#">Dermal Mist (Duo - 100ml + 15ml)</a>
                                <button class="btn btn--primary btn--sm">Add - {$dyn}</button>
                            </div>
                        </div>
                    </div>
                </div>
                {{> c-accordion
                    type="lines"
                    list='[
                        {
                            "summary": "Key Benefits",
                            "text": "
                                <p>These patches are designed to deliver clinical-grade ingredients exactly where your skin needs them most. </p>
                                <p>With 80 dissolving micro-darts per patch, they treat targeted concerns with precision and zero mess.</p>
                                <p>Visible benefits include:</p>
                                <ul>
                                    <li>Reduction in the appearance of fine lines</li>
                                    <li>Smoother and more refined skin texture</li>
                                    <li>Brighter and more even skin tone</li>
                                    <li>Diminished appearance of dark spots and hyperpigmentation</li>
                                </ul>
                            "
                        },
                        {
                            "summary": "How To Works",
                            "text": "
                                <ul>
                                    <li>Apply the patch on a desired area (11 lines, Crow’s feet, under-eye area or smile lines) with adhesive side facing down.</li>
                                    <li>Gently press for 5-10 seconds.</li>
                                </ul>
                                <p>Use 1-2 times per week for at least two hours. For best results, leave them on overnight!</p>
                            "
                        },
                        {
                            "summary": "Full Ingredient List",
                            "text": "
                                <p>Sodium Hyaluronate, Caffeine, Copper-Tripeptide-1, Niacinamide, Cyclodextrin, Water, Glycine Soja (Soybean) Oil, Madecassoside, Macadamia Nut Oil, Allantoin, Retinol, Oil Soluble Licorice (Glycyrrhiza) Extract, Centella Asiatica Extract, Acetyl Hexapeptide-8, BHT</p>
                                <ul>
                                    <li>Clinically tested and hypoallergenic</li>
                                    <li>Dermatologically approved</li>
                                    <li>Suitable for sensitive skin</li>
                                </ul>
                            "
                        }
                    ]'
                }}
                {{> c-jump-to
                    list='[
                        {
                            "id": "improve_skin",
                            "name": "The Results"
                        },
                        {
                            "id": "how_it_works",
                            "name": "How It Works"
                        },
                        {
                            "id": "reviews",
                            "name": "Reviews"
                        },
                        {
                            "id": "easy_steps",
                            "name": "How To Use"
                        },
                        {
                            "id": "ingredients",
                            "name": "Ingredients"
                        },
                        {
                            "id": "faq",
                            "name": "FAQs"
                        }
                    ]'
                }}
            </div>
        </div>
    </section>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            loadScriptOnce('swiper', 'assets/js-new/swiper.js');
            loadScriptOnce('youtube-popup', 'assets/js-new/yt-popup.js');
        });
    </script>
    <!-- BUY SECTION END -->

    {{#> press-reviews }}
        <div
            class="c-swiper"
            data-swiper-thumbs=".press-reviews .c-swiper-thumbs"
            data-swiper='{
                "slidesPerView": 1,
                "spaceBetween": 16,
                "loop": true,
                "autoplay": {
                    "delay": 5000
                }
            }'
        >
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <h4>"This helps bring life and radiance to your eyes, the focal point of&nbsp;your&nbsp;face."</h4>
                </div>
            </div>
        </div>
        <div class="c-swiper c-swiper-thumbs"
            data-swiper='{
                "slidesPerView": 1,
                "spaceBetween": 30,
                "breakpoints": {
                    "992": {
                        "spaceBetween": 80
                    }
                }
            }'
        >
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <img src="sections/isolated/quote/images/vogue.webp" alt="Vogue" />
                </div>
            </div>
        </div>
    {{/press-reviews}}

    {{#> base-section
        classes="base-section--reverse"
        id="how_it_works"
        title="80 Serum-Enriches Micro-Darts for precise improvement"
        wistia="f4cj3x9e99"
        button="Buy Now"
    }}
        <p>These advanced patches feature 80 ultra-fine, self-dissolving micro-darts designed to target and help <em>improve the appearance of fine lines, under-eye puffiness, and dark circles</em>.</p>
        <p>While traditional patches lay flat on the skin, the micro-dart design allows the serum to be applied in a more targeted, close-to-skin manner for enhanced contact and absorption. </p>
        <p>Precisely engineered, the patches help support smoother-looking, more refreshed skin with consistent cosmetic use — including on delicate under-eye areas.</p>
    {{/base-section }}

    {{#> progress-metrics id="improve_skin" }}
        <article>
            <h2>No hype, just evidence</h2>
            <p>In an independent study of 30 subjects over 4 weeks of use, participants' skin was measured and showed a visible improvement after just one month.</p>
        </article>
        <div
            class="c-swiper"
            data-swiper='{
                "slidesPerView": 1,
                "spaceBetween": 16,
                "loop": false,
                "pagination": {
                    "el": ".progress-metrics .c-swiper-pagination",
                    "type": "custom"
                },
                "navigation": {
                    "prevEl": ".progress-metrics .c-swiper-button-prev",
                    "nextEl": ".progress-metrics .c-swiper-button-next"
                }
            }'
        >
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="c-visual-compare-card">
                        <picture>
                            <img src="sections/isolated/after-before/images/ab-2.webp" alt="Proven to visually improve" />
                        </picture>
                        <article>
                            <p>Proven to visually improve</p>
                            <span>Crow’s Feet</span>
                        </article>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="c-visual-compare-card">
                        <picture>
                            <img src="sections/isolated/after-before/images/ab-1.webp" alt="Proven to visually improve" />
                        </picture>
                        <article>
                            <p>Proven to visually improve</p>
                            <span>Dark Under Eyes</span>
                        </article>
                    </div>
                </div>
            </div>
            <div class="c-swiper-nav">
                <button class="c-swiper-button-prev"></button>
                <div class="c-swiper-pagination"></div>
                <button class="c-swiper-button-next"></button>
            </div>
        </div>
        <div>
            {{> c-percent-list
                list='[
                    {
                        "value": 77,
                        "text": "noticed improvement in the appearance of wrinkles. "
                    },
                    {
                        "value": 90,
                        "text": "reported under-eyes were visibly brighter."
                    },
                    {
                        "value": 87,
                        "text": "would recommend Micro-Infusion Targeted Patches to a friend."
                    }
                ]'
            }}
            <small>Skin and scalp hydration measured using instrumental testing in a consumer use study. Individual results may vary.</small>
        </div>
    {{/progress-metrics }}

    {{#> trusted-reviews
        id="reviews"
        title="Results you’ll see with your own eyes"
    }}
        <div class="swiper-slide">
            <div class="c-trusted-review-card">
                <picture>
                    <img src="sections/isolated/review-slider/images/a-1.webp" alt="Dark circles less visible" />
                </picture>
                <div class="e-author">
                    <img src="sections/isolated/review-slider/images/america_f.webp" alt="Katie" />
                    Katie
                </div>
                <div class="e-verified-customer">
                    <div class="e-checkmark"></div>
                    Verified customer
                </div>
                <article>
                    <h6>Dark circles less visible</h6>
                    <p>“Didn't expect it to work but they proved me wrong. It looks much more clear in person than the photos. My dark circles and puffiness are less visible. There's no pain at all they're comfortable while wearing to sleep." </p>
                </article>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="c-trusted-review-card">
                <picture>
                    <img src="sections/isolated/review-slider/images/a-2.webp" alt="Love these patches!" />
                </picture>
                <div class="e-author">
                    <img src="sections/isolated/review-slider/images/america_f.webp" alt="Shannon" />
                    Shannon
                </div>
                <div class="e-verified-customer">
                    <div class="e-checkmark"></div>
                    Verified customer
                </div>
                <article>
                    <h6>Love these patches!</h6>
                    <p>“I found Qure's Micro-Infusion Patches as a targeted solution for my laugh lines. These impressed me so much that now I want to tape them all over my face to target all wrinkles. These patches have become an essential part of my skincare routine, and I highly recommend them to anyone seeking a non-invasive, effective solution for aging skin.” </p>
                </article>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="c-trusted-review-card">
                <picture>
                    <img src="sections/isolated/review-slider/images/cassandra.webp" alt="Can see the difference after one use!" />
                </picture>
                <div class="e-author">
                    <img src="sections/isolated/review-slider/images/america_f.webp" alt="Cassandra" />
                    Cassandra
                </div>
                <div class="e-verified-customer">
                    <div class="e-checkmark"></div>
                    Verified customer
                </div>
                <article>
                    <h6>Can see the difference after one use!</h6>
                    <p>"I did the patches last night and I swear just after one use I already see a result. The difference in my under-eye is wild!"</p>
                </article>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="c-trusted-review-card">
                <picture>
                    <img src="sections/isolated/review-slider/images/a-4.webp" alt="Love these patches!" />
                </picture>
                <div class="e-author">
                    <img src="sections/isolated/review-slider/images/england_f.webp" alt="Mary" />
                    Mary
                </div>
                <div class="e-verified-customer">
                    <div class="e-checkmark"></div>
                    Verified customer
                </div>
                <article>
                    <h6>Love these patches!</h6>
                    <p>"I started to see fine lines around my eyes and these patches work wonders! I wear them overnight and they don’t come off. I’VE SEEN A HUGE DIFFERENCE, leaving my skin smoother and firmer after just a few uses. Highly recommend.”</p>
                </article>
            </div>
        </div>
    {{/trusted-reviews }}

    {{#> how-to-use
        title="Targeted ingredients, thoughtfully applied"
        text= "
            <p>Ultra-fine, serum-infused micro-darts help apply ingredients in a precise, targeted way. The lightweight design allows the patch to sit comfortably on the skin while the formula is released over time for optimal contact.</p>
        "
    }}
        <div class="swiper-slide">
            <picture data-index="1">
                <source media="(min-width:768px)" srcset="sections/new/how-to-use/images/patches-1.webp" />
                <img src="sections/new/how-to-use/images/patches-1-mob.webp" alt="Target" />
            </picture>
            <article>
                <h6>Target</h6>
                <p>80 micro-darts painlessly reach below the surface to target the look of fine lines and dullness. </p>
            </article>
        </div>
        <div class="swiper-slide">
            <picture data-index="2">
                <source media="(min-width:768px)" srcset="sections/new/how-to-use/images/patches-2.webp" />
                <img src="sections/new/how-to-use/images/patches-2-mob.webp" alt="Absorb" />
            </picture>
            <article>
                <h6>Absorb</h6>
                <p>The micro-darts gradually dissolve upon contact, allowing the serum to be absorbed for plumper-looking skin.</p>
            </article>
        </div>
        <div class="swiper-slide">
            <picture data-index="3">
                <source media="(min-width:768px)" srcset="sections/new/how-to-use/images/patches-3.webp" />
                <img src="sections/new/how-to-use/images/patches-3-mob.webp" alt="Finish" />
            </picture>
            <article>
                <h6>Finish</h6>
                <p>After 2 hours, the skin is left looking smoother and more radiant.</p>
            </article>
        </div>
    {{/how-to-use }}

    {{#> base-section
        classes="base-section--simple-grid base-section--grey"
        id="ingredients"
        picture="sections/isolated/target-specific/images/tg-frame.webp"
        title="Target specific areas to help combat multiple concerns"
    }}
        <ul class="circle-icons-list">
            <li><div>{{> e-icon icon="dark-spots"}}</div> Dark Circles</li>
            <li><div>{{> e-icon icon="wrinkles"}}</div> Wrinkles</li>
            <li><div>{{> e-icon icon="fine-lines"}}</div> Fine Lines</li>
            <li><div>{{> e-icon icon="eye-bags"}}</div> Under-Eye Bags</li>
            <li><div>{{> e-icon icon="rough-texture"}}</div> Rough Texture</li>
        </ul>
    {{/base-section }}

    {{#> set-up }}
        <picture
            data-bs-toggle="modal"
            data-bs-target="#reusableWistiaModal"
            data-video-id="wxgqgsjjdr"
        >
            <source media="(min-width:768px)" srcset="sections/new/set-up/images/patches-use-video.webp" />
            <img src="sections/new/set-up/images/patches-use-video-mob.webp" alt="See how quick and easy it is to use" />
        </picture>
        <h2>See how quick and easy it is to use</h2>
        <ol>
            <li>
                <picture>
                    <source media="(min-width:768px)" srcset="sections/new/set-up/images/patches-use-step-1.webp" />
                    <img src="sections/new/set-up/images/patches-use-step-1-mob.webp" alt="Prepare" />
                </picture>
                <h6>Prepare</h6>
                <p>Peel off the adhesive strips. Avoid touching the adhesive or the darts with your hands.</p>
            </li>
            <li>
                <picture>
                    <source media="(min-width:767px)" srcset="sections/new/set-up/images/patches-use-step-2.webp" />
                    <img src="sections/new/set-up/images/patches-use-step-2-mob.webp" alt="Treatment" />
                </picture>
                <h6>Treatment</h6>
                <p>Apply the patch on a desired area. Gently press for 5-10 seconds then leave them to work for at least two hours.</p>
            </li>
            <li>
                <picture>
                    <source media="(min-width:767px)" srcset="sections/new/set-up/images/patches-use-step-3.webp">
                    <img src="sections/new/set-up/images/patches-use-step-3-mob.webp" alt="Aftercare" />
                </picture>
                <h6>Aftercare</h6>
                <p>After the treatment peel off the patches gently. Wash your face and continue with your regular routine.</p>
            </li>
        </ol>
    {{/set-up}}

    {{> features-marquee }}

    {{#> comparison
        title="Not your ordinary eye patches"
        picture-first="sections/isolated/eye-patches/images/micro-infusion-targeted-patches.webp"
        picture-second="sections/isolated/eye-patches/images/alternative-eye-patches.webp"
        name-first="Micro-Infusion Targeted Patches"
        name-second="Alternative Eye Patches"
        list-first='[
            "Serum-infused micro-darts designed for targeted application",
            "Versatile (11 lines, crow’s feet, under-eye, laugh lines)",
            "Designed to stay comfortably in place for extended wear, including overnight",
            "Supports smoother-looking skin with consistent use"
        ]'
        list-second='[
            "Formulas typically rest on the surface of the skin",
            "Designed primarily for the under-eye area",
            "May shift or move during wear",
            "Effects are often short-lived and surface-level"
        ]'
        declaimer="*Based on laboratory testing under controlled conditions. Performance may vary depending on water quality and usage."
    }}
    {{/comparison }}

    {{#> base-slider
        title="Confident skin starts here"
    }}
        <div
            class="c-swiper"
            data-swiper='{
                "slidesPerView": 1.2,
                "spaceBetween": 16,
                "loop": false,
                "pagination": {
                    "el": ".c-swiper-pagination",
                    "type": "custom"
                },
                "navigation": {
                    "prevEl": ".c-swiper-button-prev",
                    "nextEl": ".c-swiper-button-next"
                },
                "breakpoints": {
                    "480": {
                        "slidesPerView": 2.2
                    },
                    "768": {
                        "slidesPerView": 4
                    }
                }
            }'
        >
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="wistia-embed-video">
                        <div class="wistia_responsive_padding">
                            <div class="wistia_responsive_wrapper">
                                <div class="wistia_embed wistia_async_suqimfilsp popover=true seo=false videoFoam=true">
                                    <div class="wistia_swatch">
                                        <img
                                            src="https://fast.wistia.com/embed/medias/suqimfilsp/swatch"
                                            alt="Wistia video thumbnail"
                                            style="filter: blur(5px);"
                                        />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="wistia-embed-video">
                        <div class="wistia_responsive_padding">
                            <div class="wistia_responsive_wrapper">
                                <div class="wistia_embed wistia_async_7c3fakey42 popover=true seo=false videoFoam=true">
                                    <div class="wistia_swatch">
                                        <img
                                            src="https://fast.wistia.com/embed/medias/7c3fakey42/swatch"
                                            alt="Wistia video thumbnail"
                                            style="filter: blur(5px);"
                                        />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="wistia-embed-video">
                        <div class="wistia_responsive_padding">
                            <div class="wistia_responsive_wrapper">
                                <div class="wistia_embed wistia_async_ttir3xa0s4 popover=true seo=false videoFoam=true">
                                    <div class="wistia_swatch">
                                        <img
                                            src="https://fast.wistia.com/embed/medias/ttir3xa0s4/swatch"
                                            alt="Wistia video thumbnail"
                                            style="filter: blur(5px);"
                                        />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="wistia-embed-video">
                        <div class="wistia_responsive_padding">
                            <div class="wistia_responsive_wrapper">
                                <div class="wistia_embed wistia_async_gzn858rd6u popover=true seo=false videoFoam=true">
                                    <div class="wistia_swatch">
                                        <img
                                            src="https://fast.wistia.com/embed/medias/gzn858rd6u/swatch"
                                            alt="Wistia video thumbnail"
                                            style="filter: blur(5px);"
                                        />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="wistia-embed-video">
                        <div class="wistia_responsive_padding">
                            <div class="wistia_responsive_wrapper">
                                <div class="wistia_embed wistia_async_m465kgkfe7 popover=true seo=false videoFoam=true">
                                    <div class="wistia_swatch">
                                        <img
                                            src="https://fast.wistia.com/embed/medias/m465kgkfe7/swatch"
                                            alt="Wistia video thumbnail"
                                            style="filter: blur(5px);"
                                        />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="wistia-embed-video">
                        <div class="wistia_responsive_padding">
                            <div class="wistia_responsive_wrapper">
                                <div class="wistia_embed wistia_async_rcztisjnyr popover=true seo=false videoFoam=true">
                                    <div class="wistia_swatch">
                                        <img
                                            src="https://fast.wistia.com/embed/medias/rcztisjnyr/swatch"
                                            alt="Wistia video thumbnail"
                                            style="filter: blur(5px);"
                                        />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="wistia-embed-video">
                        <div class="wistia_responsive_padding">
                            <div class="wistia_responsive_wrapper">
                                <div class="wistia_embed wistia_async_opxc7lay7h popover=true seo=false videoFoam=true">
                                    <div class="wistia_swatch">
                                        <img
                                            src="https://fast.wistia.com/embed/medias/opxc7lay7h/swatch"
                                            alt="Wistia video thumbnail"
                                            style="filter: blur(5px);"
                                        />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="wistia-embed-video">
                        <div class="wistia_responsive_padding">
                            <div class="wistia_responsive_wrapper">
                                <div class="wistia_embed wistia_async_zd7tr3jnkh popover=true seo=false videoFoam=true">
                                    <div class="wistia_swatch">
                                        <img
                                            src="https://fast.wistia.com/embed/medias/zd7tr3jnkh/swatch"
                                            alt="Wistia video thumbnail"
                                            style="filter: blur(5px);"
                                        />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="c-swiper-nav">
                <button class="c-swiper-button-prev"></button>
                <div class="c-swiper-pagination"></div>
                <button class="c-swiper-button-next"></button>
            </div>
        </div>
    {{/base-slider }}

    {{#> accordion-tiles
        title="Skin-replenishing,  science-backed ingredients"
        list='[
            {
                "image": "patches-ingredients-1",
                "summary": "Retinol (Vitamin A)",
                "text": "Retinol supports faster cell turnover to reveal smoother, more refined skin. It helps fade hyperpigmentation, improve texture, and reduce fine lines, without the typical irritation."
            },
            {
                "image": "patches-ingredients-2",
                "summary": "Copper Peptides",
                "text": "A blend of peptides designed to help support skin that looks firmer and more resilient, contributing to a plumper, more youthful look."
            },
            {
                "image": "patches-ingredients-3",
                "summary": "Caffeine",
                "text": "Known for its refreshing properties, caffeine helps energize the look of tired skin and reduce the appearance of under-eye dullness and puffiness for a more awake look."
            },
            {
                "image": "patches-ingredients-4",
                "summary": "Licorice",
                "text": "A botanical ingredient traditionally used in skincare to help soothe the look of stressed skin and promote a more even, calm-looking complexion."
            }
        ]'
    }}
        <button class="btn btn--primary-grey" type="button" onclick="fullIngredient.showModal()">View Full Ingredient List</button>
        <dialog class="c-dialog" id="fullIngredient">
            <div class="c-dialog__content">
                <p><strong>Micro-Infusion Targeted Patches Ingredients</strong></p>
                <p>Sodium Hyaluronate, Caffeine, Copper Tripeptide-1, Niacinamide, Cyclodextrin, Water, Glycine Soja (Soybean) Oil, Madecassoside, Macadamia Ternifolia Seed Oil, Allantoin, Retinol, Glycyrrhiza Glabra (Licorice) Root Extract, Centella Asiatica Extract, Acetyl Hexapeptide-8, BHT.</p>
                <button type="button" class="btn-close" onclick="fullIngredient.close()">
                    {{> e-icon icon="cross"}}
                </button>
            </div>
        </dialog>
    {{/accordion-tiles}}

    {{> have-questions
        list='[
            {
                "summary": "How quickly will I see results?",
                "text": "<p>A natural derivative of vitamin A, this hero ingredient speeds up the removal of old skin cells to reveal your best, most rejuvenated skin underneath.</p>"
            },
            {
                "summary": "How many patches come per box?",
                "text": "<p>There are 8 pairs per box. We recommend using the Patches 1-2 times per week, which means one box should last you 1 month.</p>"
            },
            {
                "summary": "How long should I apply the patches for?",
                "text": "<p>For optimal results, we suggest applying the patches for a minimum of 2 hours, but preferably overnight.</p><p>Leaving the patches on while you sleep ensures that the serum has ample time to dissolve and penetrate into the skin, maximizing its effectiveness to give you the best results.</p><p>We recommend using 1-2 times per week.</p>"
            },
            {
                "summary": "Can I use the patches while pregnant or breast feeding?",
                "text": "<p>Yes! Many pregnant women avoid injectables, retinols, or any strong acids for anti-aging during this time, so many turn to Qure as a safer alternative. However, we always recommend speaking with a medical professional for advice prior to use.</p>"
            },
            {
                "summary": "Are they only suitable for use around the eyes?",
                "text": "<p>The best thing about our Micro-Infusion patches is that you can target different areas of concern. Whether it be under-eyes, crow’s feet, smile lines or frown lines.</p>"
            }
        ]'
    }}
{{/section-stack }}

{{#> cta-bar
    qty-selector=true
    button="Subscribe & Save {dyn}%"
}}
    <div class="cta-bar__selector" data-label="Select Quantity">
        <button type="button">
            <img src="sections/isolated/targeted-patches/images/24-pairs.webp" alt="6 Months" />
            6 Months
        </button>
        <ul>
            <li>
                <label>
                    <img src="sections/isolated/targeted-patches/images/24-pairs.webp" alt="3 Months" />
                    <input type="radio" name="cta-qty" value="white" checked />
                    <span>3 Months</span>
                </label>
            </li>
            <li>
                <label>
                    <img src="sections/isolated/targeted-patches/images/16-pairs.webp" alt="2 Months" />
                    <input type="radio" name="cta-qty" value="white" />
                    <span>2 Months</span>
                </label>
            </li>
            <li>
                <label>
                    <img src="sections/isolated/targeted-patches/images/8-pairs.webp" alt="1 Months" />
                    <input type="radio" name="cta-qty" value="white" />
                    <span>1 Months</span>
                </label>
            </li>
        </ul>
    </div>
{{/cta-bar}}

{{/new }}
