{{#> default
    title="Q-Rejuvalight Pro Protective Eyewear"
    body-class="product"
}}

{{#> section-stack }}
    {{#> hero-product }}
        <div class="hero-product__gallery">
            <div
                class="c-swiper"
                data-swiper-thumbs="#hero-product .c-swiper-thumbs"
                data-swiper='{
                    "slidesPerView": 1,
                    "spaceBetween": 16,
                    "navigation": {
                        "prevEl": "#hero-product .c-swiper-button-prev",
                        "nextEl": "#hero-product .c-swiper-button-next"
                    }
                }'
            >
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <img src="sections/isolated/n&d-slider/images/goggles-1.webp" alt="Q-Rejuvalight Pro Protective Eyewear" />
                    </div>
                    <div class="swiper-slide">
                        <img src="sections/isolated/n&d-slider/images/goggles-2.webp" alt="Q-Rejuvalight Pro Protective Eyewear" />
                    </div>
                    <div class="swiper-slide">
                        <img src="sections/isolated/n&d-slider/images/goggles-3.webp" alt="Q-Rejuvalight Pro Protective Eyewear" />
                    </div>
                </div>
            </div>
            <div class="c-swiper-thumbs-nav">
                <button class="c-swiper-button-prev"></button>
                <div
                    class="c-swiper c-swiper-thumbs"
                    data-swiper='{
                        "slidesPerView": "auto",
                        "spaceBetween": 12
                    }'
                >
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <img src="sections/isolated/n&d-slider/images/goggles-1.webp" alt="Q-Rejuvalight Pro Protective Eyewear" />
                        </div>
                        <div class="swiper-slide">
                            <img src="sections/isolated/n&d-slider/images/goggles-2.webp" alt="Q-Rejuvalight Pro Protective Eyewear" />
                        </div>
                        <div class="swiper-slide">
                            <img src="sections/isolated/n&d-slider/images/goggles-3.webp" alt="Q-Rejuvalight Pro Protective Eyewear" />
                        </div>
                    </div>
                </div>
                <button class="c-swiper-button-next"></button>
            </div>
        </div>
        <div class="hero-product__main">
            {{> c-rating value="4.8" }}
            <h1>Q-Rejuvalight Pro Protective Eyewear</h1>
            {{> e-price current="{$dyn}" }}
            <article>
                <p>Qure’s light blocking protective eyewear has been specifically designed to work seamlessly with the Q-Rejuvalight Pro LED mask, providing the utmost protection during treatment whilst still offering the convenience of being able to multitask. </p>
            </article>
            <div class="c-buy-block">
                {{> c-order-button }}
                {{> c-certified-box }}
                <ul class="e-features-list">
                    <li>
                        {{> e-icon icon="guarantee" }}
                        30-Day Money-Back Guarantee
                    </li>
                    <li>
                        {{> e-icon icon="shipping-order" }}
                        Free Shipping over {$dyn}
                    </li>
                </ul>
            </div>
            {{> c-save-up }}
        </div>
    {{/hero-product}}

    {{#> press-reviews }}
        <div
            class="c-swiper"
            data-swiper-thumbs=".press-reviews .c-swiper-thumbs"
            data-swiper='{
                "slidesPerView": 1,
                "spaceBetween": 16,
                "loop": true,
                "autoplay": {
                    "delay": 5000
                }
            }'
        >
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <h4>“The professional grade is the perfect addition to any at-home skincare routine.”</h4>
                </div>
                <div class="swiper-slide">
                    <h4>"Treatment time is only three minutes—among the fastest of all devices."</h4>
                </div>
                <div class="swiper-slide">
                    <h4>“A multi-use LED mask with five different light setting options to plump, smooth, and rejuvenate all skin types.”</h4>
                </div>
                <div class="swiper-slide">
                    <h4>“The combination of colors allows you to customize which lights are used, maximizing its benefits to help your skin... ”</h4>
                </div>
                <div class="swiper-slide">
                    <h4>“Q-Rejuvalight Pro harnesses the power of lights from blue to infrared to address nearly every skincare concern you could imagine.”</h4>
                </div>
            </div>
        </div>
        <div class="c-swiper c-swiper-thumbs"
            data-swiper='{
                "slidesPerView": 3,
                "spaceBetween": 30,
                "breakpoints": {
                    "992": {
                        "slidesPerView": 5
                    }
                }
            }'
        >
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <img src="sections/isolated/press_slider/images/vogue-black.svg" alt="Vogue" />
                </div>
                <div class="swiper-slide">
                    <img src="sections/isolated/press_slider/images/women-health.svg" alt="Women Health" />
                </div>
                <div class="swiper-slide">
                    <img src="assets/images/elle-black.svg" alt="Elle" />
                </div>
                <div class="swiper-slide">
                    <img src="sections/isolated/press_slider/images/cosmopolitan.svg" alt="Cosmopolitan" />
                </div>
                <div class="swiper-slide">
                    <img src="sections/isolated/press_slider/images/gq.svg" alt="GQ" />
                </div>
            </div>
        </div>
    {{/press-reviews}}

    {{#> trusted-reviews
        classes="trusted-reviews--light"
        title="Results you’ll see with your own eyes"
    }}
        <div class="swiper-slide">
            <div class="c-trusted-review-card">
                <picture>
                    <img src="sections/isolated/review-slider/images/ellie_6_treatments.webp" alt="My skin returned to life!" />
                </picture>
                <div class="e-author">
                    <img src="sections/isolated/review-slider/images/america_f.webp" alt="Kim L." />
                    Kim L.
                </div>
                <div class="e-verified-customer">
                    <div class="e-checkmark"></div>
                    Verified customer
                </div>
                <article>
                    <h6>My skin returned to life!</h6>
                    <p>“I just turned 57 years. My skin was extremely dry and while using this product my skin RETURNED to LIFE! I am so impressed with it! My Coworkers ask me what I use in my skin.. and I tell them. Product easy to use and the needles are better that using a pen for microneedling. This is an amazing product that you will not regret in purchasing it. I really see the change in my skin. Outstanding job QURE!”</p>
                </article>
                <a href="#">
                    <img src="sections/isolated/review-slider/images/micro-infusion-facial-system.webp" alt="Micro-Infusion Facial System" />
                    <small>Ellie uses...</small>
                    <span>Micro-Infusion Facial System</span>
                </a>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="c-trusted-review-card">
                <picture>
                    <img src="sections/isolated/review-slider/images/anton-m.webp" alt="My skin returned to life!" />
                </picture>
                <div class="e-author">
                    <img src="sections/isolated/review-slider/images/australia_f.webp" alt="Anton M." />
                    Anton M.
                </div>
                <div class="e-verified-customer">
                    <div class="e-checkmark"></div>
                    Verified customer
                </div>
                <article>
                    <h6>Can’t go a day without it</h6>
                    <p>“I just turned 57 years. My skin was extremely dry and while using this product my skin RETURNED to LIFE! I am so impressed with it! My Coworkers ask me what I use in my skin.. and I tell them. Product easy to use and the needles are better that using a pen for microneedling. This is an amazing product that you will not regret in purchasing it. I really see the change in my skin. Outstanding job QURE!”</p>
                </article>
                <a href="#">
                    <img src="sections/isolated/review-slider/images/q-rejuvalight-pro-led-mask.webp" alt="Q-Rejuvalight Pro LED Mask" />
                    <small>Mona uses...</small>
                    <span>Q-Rejuvalight Pro LED Mask</span>
                </a>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="c-trusted-review-card">
                <picture>
                    <img src="sections/isolated/review-slider/images/Jennifer_1_treatment.webp" alt="Works better than I imagined!" />
                </picture>
                <div class="e-author">
                    <img src="sections/isolated/review-slider/images/america_f.webp" alt="Jennifer N." />
                    Jennifer N.
                </div>
                <div class="e-verified-customer">
                    <div class="e-checkmark"></div>
                    Verified customer
                </div>
                <article>
                    <h6>Works better than I imagined!</h6>
                    <p>“I am really stunned by how well this product works. I have had professional micro-needling and I wanted the benefits without the downtime. I did my treatment, went to bed and woke up the next morning and was ready to go. My skin looks better than it has in years.”</p>
                </article>
                <a href="#">
                    <img src="sections/isolated/review-slider/images/micro-infusion-facial-system.webp" alt="Micro-Infusion Facial System" />
                    <small>Andrea uses...</small>
                    <span>Micro-Infusion Facial System</span>
                </a>
            </div>
        </div>
    {{/trusted-reviews }}

    {{#> base-slider
        title="You may also like..."
    }}
        <div
            class="c-swiper"
            data-swiper='{
                "slidesPerView": 1.05,
                "spaceBetween": 16,
                "loop": false,
                "pagination": {
                    "el": ".c-swiper-pagination",
                    "type": "custom"
                },
                "navigation": {
                    "prevEl": ".c-swiper-button-prev",
                    "nextEl": ".c-swiper-button-next"
                },
                "breakpoints": {
                    "768": {
                        "slidesPerView": 2
                    },
                    "992": {
                        "slidesPerView": 4
                    }
                }
            }'
        >
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    {{> c-product-tile
                        image="sections/isolated/product-bundle/images/prod_bundle_8.webp"
                        image-hover="/sections/isolated/product-bundle/images/prod_bundle_8_hover.webp"
                        reviews="4070"
                        name="Fade & Firm Bundle Essential"
                        button="Buy Now"
                    }}
                </div>
                <div class="swiper-slide">
                    {{> c-product-tile
                        image="sections/isolated/product-bundle/images/prod_bundle_9.webp"
                        image-hover="/sections/isolated/product-bundle/images/prod_bundle_9_hover.webp"
                        reviews="4474"
                        name="Fade & Firm Bundle Pro"
                        button="Buy Now"
                    }}
                </div>
                <div class="swiper-slide">
                    {{> c-product-tile
                        image="sections/isolated/product-bundle/images/prod_bundle_10.webp"
                        image-hover="/sections/isolated/product-bundle/images/prod_bundle_10_hover.webp"
                        reviews="192"
                        name="Water Filter Family Bundle"
                        button="Buy Now"
                    }}
                </div>
                <div class="swiper-slide">
                    {{> c-product-tile
                        image="sections/isolated/product-bundle/images/prod_bundle_11.webp"
                        image-hover="/sections/isolated/product-bundle/images/prod_bundle_11_hover.webp"
                        reviews="286"
                        name="Breakout Control Pro"
                        button="Buy Now"
                    }}
                </div>
            </div>
            <div class="c-swiper-nav">
                <button class="c-swiper-button-prev"></button>
                <div class="c-swiper-pagination"></div>
                <button class="c-swiper-button-next"></button>
            </div>
        </div>
    {{/base-slider }}
{{/section-stack }}

{{/default }}
