{{#> default
    title="Shower Filter Replacement"
    body-class="product.shower-filter-replacement"
}}

{{#> section-stack }}
    <!-- BUY SECTION -->
    <link rel="stylesheet" href="sections/new/hero-product/hero-product.css" />
    <section class="hero-product" id="hero-product">
        <div class="hero-product__container container">
            <div class="hero-product__gallery">
                <div
                    class="c-swiper"
                    data-swiper-thumbs="#hero-product .c-swiper-thumbs"
                    data-swiper='{
                        "slidesPerView": 1,
                        "spaceBetween": 16,
                        "navigation": {
                            "prevEl": "#hero-product .c-swiper-button-prev",
                            "nextEl": "#hero-product .c-swiper-button-next"
                        }
                    }'
                >
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <img src="sections/isolated/product-shower-filter/images/shower_filter_4.webp" alt="Qure Shower Filter Refill" />
                        </div>
                        <div class="swiper-slide">
                            <img
                                class="watch-wistia-video"
                                src="sections/isolated/product-shower-filter/images/shower_filter_2.webp"
                                alt="Qure Shower Filter Refill"
                                data-bs-toggle="modal"
                                data-bs-target="#reusableWistiaModal"
                                data-video-id="bwhqvtar9u"
                            />
                        </div>
                        <div class="swiper-slide">
                            <img src="sections/isolated/product-shower-filter/images/shower_replace1.webp" alt="Qure Shower Filter Refill" />
                        </div>
                        <div class="swiper-slide">
                            <img src="sections/isolated/product-shower-filter/images/shower_filter_3.webp" alt="Qure Shower Filter Refill" />
                        </div>
                        <div class="swiper-slide">
                            <img src="sections/isolated/product-shower-filter/images/shower_filter_5.webp" alt="Qure Shower Filter Refill" />
                        </div>
                        <div class="swiper-slide">
                            <img src="sections/isolated/product-shower-filter/images/shower_replace2.webp" alt="Qure Shower Filter Refill" />
                        </div>
                        <div class="swiper-slide">
                            <img src="sections/isolated/product-shower-filter/images/shower_filter_7.webp" alt="Qure Shower Filter Refill" />
                        </div>
                        <div class="swiper-slide">
                            <img src="sections/isolated/product-shower-filter/images/shower_filter_8.webp" alt="Qure Shower Filter Refill" />
                        </div>
                        <div class="swiper-slide">
                            <img src="sections/isolated/product-shower-filter/images/shower_replace3.webp" alt="Qure Shower Filter Refill" />
                        </div>
                        <div class="swiper-slide">
                            <img src="sections/isolated/product-shower-filter/images/shower_replace4.webp" alt="Qure Shower Filter Refill" />
                        </div>
                        <div class="swiper-slide">
                            <img src="sections/isolated/product-shower-filter/images/shower_replace5.webp" alt="Qure Shower Filter Refill" />
                        </div>
                    </div>
                </div>
                <div class="c-swiper-thumbs-nav">
                    <button class="c-swiper-button-prev"></button>
                    <div
                        class="c-swiper c-swiper-thumbs"
                        data-swiper='{
                            "slidesPerView": "auto",
                            "spaceBetween": 12
                        }'
                    >
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <img src="sections/isolated/product-shower-filter/images/shower_filter_4.webp" alt="Qure Shower Filter Refill" />
                            </div>
                            <div class="swiper-slide">
                                <img src="sections/isolated/product-shower-filter/images/shower_filter_2.webp" alt="Qure Shower Filter Refill" />
                            </div>
                            <div class="swiper-slide">
                                <img src="sections/isolated/product-shower-filter/images/shower_replace1.webp" alt="Qure Shower Filter Refill" />
                            </div>
                            <div class="swiper-slide">
                                <img src="sections/isolated/product-shower-filter/images/shower_filter_3.webp" alt="Qure Shower Filter Refill" />
                            </div>
                            <div class="swiper-slide">
                                <img src="sections/isolated/product-shower-filter/images/shower_filter_5.webp" alt="Qure Shower Filter Refill" />
                            </div>
                            <div class="swiper-slide">
                                <img src="sections/isolated/product-shower-filter/images/shower_replace2.webp" alt="Qure Shower Filter Refill" />
                            </div>
                            <div class="swiper-slide">
                                <img src="sections/isolated/product-shower-filter/images/shower_filter_7.webp" alt="Qure Shower Filter Refill" />
                            </div>
                            <div class="swiper-slide">
                                <img src="sections/isolated/product-shower-filter/images/shower_filter_8.webp" alt="Qure Shower Filter Refill" />
                            </div>
                            <div class="swiper-slide">
                                <img src="sections/isolated/product-shower-filter/images/shower_replace3.webp" alt="Qure Shower Filter Refill" />
                            </div>
                            <div class="swiper-slide">
                                <img src="sections/isolated/product-shower-filter/images/shower_replace4.webp" alt="Qure Shower Filter Refill" />
                            </div>
                            <div class="swiper-slide">
                                <img src="sections/isolated/product-shower-filter/images/shower_replace5.webp" alt="Qure Shower Filter Refill" />
                            </div>
                        </div>
                    </div>
                    <button class="c-swiper-button-next"></button>
                </div>
            </div>
            <div class="hero-product__main">
                {{> c-rating value="4.8" }}
                <p>SHOWER FILTER REFILL CARTRIDGE</p>
                <h1>Keep your skin &amp; hair protected with the Shower Filter Refill</h1>
                {{> c-special-offer hide-price=true }}
                <article>
                    <ul>
                        <li>Replace Shower Filter cartridge every 3 months for consistently hydrated, healthier hair and skin. </li>
                        <li>Removes up to 99% chlorine, heavy metals &amp; contaminants that harms your skin and hair.</li>
                        <li>Easy to refill, only 2 minutes, no tools needed.</li>
                    </ul>
                </article>
                <hr />
                {{> c-options-selector
                    title="Select Your Color"
                    list='[
                        {
                            "img": "sections/isolated/product-shower-filter/images/cartiage-1.webp",
                            "name": "White",
                            "option": "color",
                            "checked": true
                        },
                        {
                            "img": "sections/isolated/product-shower-filter/images/cartiage-2.webp",
                            "name": "Black",
                            "option": "color"
                        }
                    ]'
                }}
                {{> c-subscribe-selector
                    title="Select Your Delivery"
                    list='[
                        {
                            "name": "Subscribe &",
                            "save": "20%",
                            "old-price": true,
                            "tag": "Best Value <i class=\"e-icon e-icon-rating-fill\"></i>",
                            "option": "subscribe",
                            "checked": true,
                            "text": "
                                <p>Receive a new Filter Refill every 90 days</p>
                                <small>Skip, pause or cancel anytime. <a href=\"#\">See more details</a></small>
                            "
                        },
                        {
                            "name": "One-Time Purchase",
                            "option": "subscribe",
                            "text": "
                                <p> One Time: Faucet + 1 Filter</p>
                            "
                        }
                    ]'
                }}
                <div class="c-buy-block">
                    {{> c-order-button }}
                    {{> c-certified-box }}
                    <ul class="e-features-list">
                        <li>
                            {{> e-icon icon="guarantee" }}
                            30-Day Money-Back Guarantee
                        </li>
                        <li>
                            {{> e-icon icon="shipping-order" }}
                            Free Shipping over {$dyn}
                        </li>
                    </ul>
                </div>
                {{> c-next-batch }}
            </div>
            <div class="hero-product__extra">
                <div class="hero-product__best-with">
                    <h6>Get The Best Results With</h6>
                    <div
                        class="c-swiper"
                        data-swiper='{
                            "slidesPerView": "1.25",
                            "spaceBetween": 12,
                            "breakpoints": {
                                "992": {
                                    "slidesPerView": 2
                                }
                            }
                        }'
                    >
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <a href="#"><img src="sections/isolated/product-shower-filter/images/result-2.webp" alt="Dermal Mist (Duo - 100ml + 15ml)" /></a>
                                <a href="#">Dermal Mist (Duo - 100ml + 15ml)</a>
                                <button class="btn btn--primary btn--sm">Add - {$dyn}</button>
                            </div>
                            <div class="swiper-slide">
                                <a href="#"><img src="sections/isolated/product-shower-filter/images/faucer_prod.webp" alt="Faucet Filter" /></a>
                                <a href="#">Faucet Filter</a>
                                <button class="btn btn--primary btn--sm">Add - {$dyn}</button>
                            </div>
                        </div>
                    </div>
                </div>
                {{> c-accordion
                    type="lines"
                    list='[
                        {
                            "summary": "Key Benefits",
                            "text": "
                                <p>Healthy skin starts in the shower – we\'re tackling skin issues at the source. The Qure Shower Filter removes harmful impurities that cause dryness, irritation, and brittleness. By filtering your shower water, you create the ideal canvas for your skincare routine, helping both your skin and hair stay hydrated and happy. </p>
                                <p>Tested to meet NSF water filtration standards, the Qure Shower Filter ensures top safety and quality—so you can enjoy every shower with peace of mind.</p>
                                <p>Clinically proven to boost skin & scalp moisture after just 8 weeks of daily use.</p>
                            "
                        },
                        {
                            "summary": "How It Works",
                            "text": "
                                <p>Our Triple-Filtration System helps reduce up to 99% of chlorine, heavy metals, and other contaminants in your water.</p>
                                <p>Here\'s what happens:</p>
                                <ol>
                                    <li>Water passes through our triple-filtration system</li>
                                    <li>Impurities get trapped in the specialized filtration media</li>
                                    <li>Clean, filtered water flows through your shower head</li>
                                </ol>
                                <p>The result? Water that\'s gentler on your skin and hair, without the stuff that can strip away natural moisture.</p>
                            "
                        },
                        {
                            "summary": "What’s Included In The Box",
                            "text": "
                                <p>1 replaceable filter cartridge, which lasts up to 3 months.</p>
                            "
                        }
                    ]'
                }}
                {{> c-jump-to
                    list='[
                        {
                            "id": "improve_skin",
                            "name": "The Results"
                        },
                        {
                            "id": "crystal_clear",
                            "name": "Reviews"
                        },
                        {
                            "id": "easy_steps",
                            "name": "How To Use"
                        },
                        {
                            "id": "why_it_works",
                            "name": "How It Works"
                        },
                        {
                            "id": "faq",
                            "name": "FAQs"
                        }
                    ]'
                }}
            </div>
        </div>
    </section>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            loadScriptOnce('swiper', 'assets/js-new/swiper.js');
            loadScriptOnce('youtube-popup', 'assets/js-new/yt-popup.js');
        });
    </script>
    <!-- BUY SECTION END -->

    {{#> base-section
        classes="base-section--reverse base-section--grey"
        title="Do you know what’s in your water?"
        features-list='
            <ul class="features-list">
                <li>
                    <i class="e-icon e-icon-limescale"></i>
                    Limescale
                </li>
                <li>
                    <i class="e-icon e-icon-heavy-metals"></i>
                    Heavy Metals
                </li>
                <li>
                    <i class="e-icon e-icon-chlorine"></i>
                    Chlorine
                </li>
                <li>
                    <i class="e-icon e-icon-micro-plastics"></i>
                    Micro-plastics
                </li>
                <li>
                    <i class="e-icon e-icon-copper"></i>
                    Copper
                </li>
                <li>
                    <i class="e-icon e-icon-micro-organisms"></i>
                    Micro-organisms
                </li>
            </ul>
        '
    }}
        <p>Research has shown tap water is contaminated with over 320* chemicals that your skin is absorbing daily. These micro-contaminants in water can clog pores, dry out and irritate sensitive skin.</p>
    {{/base-section }}

    {{#> base-section
        classes="base-section--reverse"
        title="Maximum filtration, minimal effort"
        picture="sections/global/banner-with-text/images/shower_img.webp"
        button="Shop Now"
    }}
        <p>The Qure Shower Filter is designed to <em>remove up to 99% of chlorine</em> – and other hard water nasties like copper and lead – for healthy skin and hair.</p>
        <p>For optimized showering that leaves you feeling (and looking) your best, swap out the filter cartridge every 3 months. This Refill seamlessly fits the Qure Shower Filter system, providing long-lasting filtration benefits.</p>
    {{/base-section }}

    {{#> progress-metrics id="improve_skin" }}
        <article>
            <h2>Improve skin and scalp hydration in just 8&nbsp;weeks</h2>
            <p>The Qure Shower Filter demonstrated visible improvements after two months of daily filtered showers.</p>
        </article>
        <div class="c-pill-tabs">
            <ul class="c-pill-tabs__buttons e-pill-tabs" role="tablist">
                <li>
                    <button
                        class="active"
                        type="button"
                        data-bs-toggle="tab"
                        data-bs-target="#pill-tabs-before"
                    >
                        Before
                    </button>
                </li>
                <li>
                    <button
                        type="button"
                        data-bs-toggle="tab"
                        data-bs-target="#pill-tabs-after"
                    >
                        After
                    </button>
                </li>
            </ul>
            <div class="c-pill-tabs__pane show" id="pill-tabs-before">
                <img src="sections/isolated/improve-skin/images/graph_before.webp" alt="Before" />
            </div>
            <div class="c-pill-tabs__pane" id="pill-tabs-after">
                <img src="sections/isolated/improve-skin/images/graph_after.webp" alt="After" />
            </div>
        </div>
        <div>
            {{> c-percent-list
                list='[
                    {
                        "value": 83,
                        "text": "say skin and hair feel softer"
                    },
                    {
                        "value": 80,
                        "text": "noticed feeling reduced scalp dryness, irritation, or flakiness"
                    },
                    {
                        "value": 83,
                        "text": "reported fewer signs of skin irritation including redness or breakouts"
                    }
                ]'
            }}
            <small>Skin and scalp hydration measured using instrumental testing in a consumer use study. Individual results may vary.</small>
        </div>
    {{/progress-metrics }}

    {{#> trusted-reviews title="The results are crystal clear" }}
        <div class="swiper-slide">
            <div class="c-trusted-review-card">
                <picture>
                    <img src="sections/isolated/review-slider/images/shower-result1.webp" alt="Restored my curls!" />
                </picture>
                <div class="e-author">
                    <img src="sections/isolated/review-slider/images/america_f.webp" alt="Briony R." />
                    Briony R.
                </div>
                <div class="e-verified-customer">
                    <div class="e-checkmark"></div>
                    Verified customer
                </div>
                <article>
                    <h6>Restored my curls!</h6>
                    <p>“When I discovered the curly girl method, I thought I had cracked the code to perfectly defined curls. Then one day my curls stopped curling, they became week, lump and shine free. I did some research and realized it was my water. I saw a big difference after only one wash - it turned out I had a bunch of build up on my hair. Thank you Qure for saving my curls!”</p>
                </article>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="c-trusted-review-card">
                <picture>
                    <img src="sections/isolated/review-slider/images/shower-result2.webp" alt="Hydrated more than ever" />
                </picture>
                <div class="e-author">
                    <img src="sections/isolated/review-slider/images/england_f.webp" alt="Hanna L." />
                    Hanna L.
                </div>
                <div class="e-verified-customer">
                    <div class="e-checkmark"></div>
                    Verified customer
                </div>
                <article>
                    <h6>Hydrated more than ever</h6>
                    <p>“I never had major issues with skin before I moved. Then I started to get irritation and my makeup would look cakey cause my skin always felt so dry no matter what moisturizer I used. I didn't change anything in my skincare routine except filtered water. I'm never washing my face with anything less than Q-urified water because my skin feels so much better.”</p>
                </article>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="c-trusted-review-card">
                <picture>
                    <img src="sections/isolated/review-slider/images/shower-result3.webp" alt="Acne and dryness gone" />
                </picture>
                <div class="e-author">
                    <img src="sections/isolated/review-slider/images/america_f.webp" alt="Josie K." />
                    Josie K.
                </div>
                <div class="e-verified-customer">
                    <div class="e-checkmark"></div>
                    Verified customer
                </div>
                <article>
                    <h6>Acne and dryness gone</h6>
                    <p>“My skin looks much clearer thanks to Qure! I use the LED mask and water filter daily and...my complexion looks so much smoother and less red! My skin feels soft and hydrated. I can actually walk out of the house without makeup now. THANK YOU QURE!”</p>
                </article>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="c-trusted-review-card">
                <picture>
                    <img src="sections/isolated/review-slider/images/shower-result4.webp" alt="Skin and hair are glowing" />
                </picture>
                <div class="e-author">
                    <img src="sections/isolated/review-slider/images/america_f.webp" alt="Adele M." />
                    Adele M.
                </div>
                <div class="e-verified-customer">
                    <div class="e-checkmark"></div>
                    Verified customer
                </div>
                <article>
                    <h6>Skin and hair are glowing</h6>
                    <p>“I have been using this filter for a few weeks now and my hair is SO much healthier. Much more smooth, less frizzy, looks glossier and the shedding has reduced. And actually I'm even seeing my skin look more hydrated and glowier - bonus!!”</p>
                </article>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="c-trusted-review-card">
                <picture>
                    <img src="sections/isolated/review-slider/images/shower-result5.webp" alt="Source of my unclear skin" />
                </picture>
                <div class="e-author">
                    <img src="sections/isolated/review-slider/images/america_f.webp" alt="Kim L." />
                    Kim L.
                </div>
                <div class="e-verified-customer">
                    <div class="e-checkmark"></div>
                    Verified customer
                </div>
                <article>
                    <h6>Source of my unclear skin</h6>
                    <p>“I didn’t realize how big impact water has on our skin... I almost got used to my skin never getting better than mediocre, but this Water Filter is a game changer in my skincare routine.”</p>
                </article>
            </div>
        </div>
    {{/trusted-reviews }}

    {{#> base-section
        classes="base-section--small-media"
        title="Trusted and Recommended by Experts"
        picture="sections/isolated/experts/images/doctor_shah_desk.webp"
        pill-badge=true
    }}
        <p>“How do you <em>reduce the things in your water that may be causing issues</em> with your skin?</p>
        <p>This Qure filter is incredible – <em>it’s the only filter I personally use</em> to [reduce] chlorine and anything else that’s going to make your water harsh for your skin.”</p>
    {{/base-section }}

    {{> logos-marquee }}

    {{#> why-it-works id="why_it_works" }}
        <article class="why-it-works__text">
            <h2>Why It Works</h2>
            <p>Our triple filtration technology filters the water to remove heavy metals and purify.</p>
        </article>
        <div class="why-it-works__main">
            <div class="why-it-works__according">
                <div class="c-accordion c-accordion--lines">
                    <div class="c-accordion__list">
                        <details class="c-accordion__item" id="carbon-fiber">
                            <summary class="c-accordion__summary">
                                {{> e-icon icon="carbon"}}
                                Carbon Fiber Layer
                            </summary>
                            <article class="c-accordion__content">
                                <p>Removes up to 99% of chlorine which can reduce dry and irritated feeling skin leaving skin and hair looking healthier.</p>
                            </article>
                        </details>
                        <details class="c-accordion__item" id="kdf-filter">
                            <summary class="c-accordion__summary">
                                {{> e-icon icon="pp-filter"}}
                                KDF-55 Layer
                            </summary>
                            <article class="c-accordion__content">
                                <p>Helps reduce heavy metals such as lead and mercury, supporting cleaner shower water.</p>
                            </article>
                        </details>
                        <details class="c-accordion__item" id="fof-filter">
                            <summary class="c-accordion__summary">
                                {{> e-icon icon="nok-filter"}}
                                FOF (Filter of Future)
                            </summary>
                            <article class="c-accordion__content">
                                <p>Helps limit limescale buildup by reducing hard water mineral accumulation, which can support improved water flow over time.</p>
                            </article>
                        </details>
                    </div>
                </div>
            </div>
            <div class="why-it-works__components">
                <div class="c-product-components c-product-components--shower-filter">
                    <img src="sections/new/why-it-works/images/shower-filter.webp" alt="Qure Shower Filter Refill" />
                    <div class="e-component-pointer">
                        <hr />
                        <a href="#carbon-fiber">Carbon Fiber Layer</a>
                    </div>
                    <div class="e-component-pointer e-component-pointer--reverse">
                        <hr />
                        <a href="#kdf-filter">KDF-55 Layer</a>
                    </div>
                    <div class="e-component-pointer">
                        <hr />
                        <a href="#fof-filter">Filter of Future</a>
                    </div>
                </div>
            </div>
        </div>
    {{/why-it-works }}

    {{#> base-slider id="crystal_clear" title="Confident skin starts here" }}
        <div
            class="c-swiper"
            data-swiper='{
                "slidesPerView": 1.2,
                "spaceBetween": 16,
                "loop": false,
                "pagination": {
                    "el": ".c-swiper-pagination",
                    "type": "custom"
                },
                "navigation": {
                    "prevEl": ".c-swiper-button-prev",
                    "nextEl": ".c-swiper-button-next"
                },
                "breakpoints": {
                    "480": {
                        "slidesPerView": 2.2
                    },
                    "768": {
                        "slidesPerView": 4
                    }
                }
            }'
        >
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="wistia-embed-video">
                        <div class="wistia_responsive_padding">
                            <div class="wistia_responsive_wrapper">
                                <div class="wistia_embed wistia_async_0vu4f6h4h8 popover=true seo=false videoFoam=true">
                                    <div class="wistia_swatch">
                                        <img
                                            src="https://fast.wistia.com/embed/medias/0vu4f6h4h8/swatch"
                                            alt="Wistia video thumbnail"
                                            style="filter: blur(5px);"
                                        />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="wistia-embed-video">
                        <div class="wistia_responsive_padding">
                            <div class="wistia_responsive_wrapper">
                                <div class="wistia_embed wistia_async_lmnn8fcnp4 popover=true seo=false videoFoam=true">
                                    <div class="wistia_swatch">
                                        <img
                                            src="https://fast.wistia.com/embed/medias/lmnn8fcnp4/swatch"
                                            alt="Wistia video thumbnail"
                                            style="filter: blur(5px);"
                                        />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="wistia-embed-video">
                        <div class="wistia_responsive_padding">
                            <div class="wistia_responsive_wrapper">
                                <div class="wistia_embed wistia_async_2427ztggvj popover=true seo=false videoFoam=true">
                                    <div class="wistia_swatch">
                                        <img
                                            src="https://fast.wistia.com/embed/medias/2427ztggvj/swatch"
                                            alt="Wistia video thumbnail"
                                            style="filter: blur(5px);"
                                        />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="wistia-embed-video">
                        <div class="wistia_responsive_padding">
                            <div class="wistia_responsive_wrapper">
                                <div class="wistia_embed wistia_async_b79xvfj27c popover=true seo=false videoFoam=true">
                                    <div class="wistia_swatch">
                                        <img
                                            src="https://fast.wistia.com/embed/medias/b79xvfj27c/swatch"
                                            alt="Wistia video thumbnail"
                                            style="filter: blur(5px);"
                                        />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="c-swiper-nav">
                <button class="c-swiper-button-prev"></button>
                <div class="c-swiper-pagination"></div>
                <button class="c-swiper-button-next"></button>
            </div>
        </div>
    {{/base-slider }}

    {{> features-marquee }}

    {{#> set-up id="easy_steps" }}
        <picture
            data-bs-toggle="modal"
            data-bs-target="#reusableWistiaModal"
            data-video-id="bwhqvtar9u"
        >
            <source media="(min-width:768px)" srcset="sections/new/set-up/images/shower-filter-refill-video.webp" />
            <img src="sections/new/set-up/images/shower-filter-refill-video-mob.webp" alt="Set up in 3 easy steps" />
        </picture>
        <h2>How to replace your filter refill cartridge</h2>
        <ol>
            <li>
                <picture>
                    <source media="(min-width:768px)" srcset="sections/new/set-up/images/shower-filter-refill-step-1.webp" />
                    <img src="sections/new/set-up/images/shower-filter-refill-step-1-mob.webp" alt="Remove" />
                </picture>
                <h6>Remove</h6>
                <p>Turn off the water. Open the filter housing and remove the old cartridge.</p>
            </li>
            <li>
                <picture>
                    <source media="(min-width:768px)" srcset="sections/new/set-up/images/shower-filter-refill-step-2.webp" />
                    <img src="sections/new/set-up/images/shower-filter-refill-step-2-mob.webp" alt="Fit" />
                </picture>
                <h6>Fit</h6>
                <p>Firmly press the new filter into the housing. Screw the cover back clockwise until it's secure.</p>
            </li>
            <li>
                <picture>
                    <source media="(min-width:768px)" srcset="sections/new/set-up/images/shower-filter-refill-step-3.webp" />
                    <img src="sections/new/set-up/images/shower-filter-refill-step-3-mob.webp" alt="Secure" />
                </picture>
                <h6>Secure</h6>
                <p>Turn on the shower and let the system run for 1–2 minutes to flush out any loose particles.</p>
            </li>
        </ol>
    {{/set-up}}

    {{#> comparison
        title="Why choose Qure?"
        picture-first="sections/isolated/eye-patches/images/compare_filter1.webp"
        picture-second="sections/isolated/eye-patches/images/compare_filter2.webp"
        name-first="Qure Shower Filter"
        name-second="Alternative Filters"
        list-first='[
            "Reduces chlorine and heavy metals*",
            "Three-step filtration system",
            "NSF-standard tested",
            "Customizable water flow",
            "Backed by a lifetime warranty"
        ]'
        list-second='[
            "Reduces some chlorine and metals",
            "Standard filtration system",
            "No certificates",
            "No customization options",
            "Limited or no warranty"
        ]'
        declaimer="*Based on laboratory testing under controlled conditions. Performance may vary depending on water quality and usage."
    }}
        <p>Qure Shower Filter removes more contaminants than standard showerheads, and provides better water quality than alternative filters.</p>
    {{/comparison }}

    {{> have-questions
        list='[
            {
                "summary": "How will the Qure Shower Filter benefit my hair/skin?",
                "text": "
                    <p>The Qure Shower Filter removes harmful impurities like heavy metals, chlorine, and unwanted minerals from your water, helping to protect your skin and hair from damage caused by hard water.</p>
                    <p>By filtering out water impurities, the Qure Shower Filter helps reduce dryness, irritation, and brittleness, leaving your skin hydrated and your hair smoother and more manageable.</p>
                "
            },
            {
                "summary": "Does the filter lose effectiveness over time?",
                "text": "
                    <p>Yes, the filter removes up to 99% of chlorine initially, 95% after 4,000 liters, and 90% after 6,000 liters. For best results, we recommend replacing it after 5,000 liters (around 3 months).</p>
                    <p>We recommend replacing the filter every 3 months for optimal performance.</p>
                "
            },
            {
                "summary": "How do I know when to replace the filter?",
                "text": "
                    <p>A slight drop in water pressure or visible buildup on the filter may indicate it’s time for a replacement. We recommend changing it every 3 months to maintain optimal performance.</p>
                "
            },
            {
                "summary": "How do I install the new filter refill?",
                "text": "
                    <ul>
                        <li>Turn off the water.</li>
                        <li>Open the filter housing and remove the old cartridge.</li>
                        <li>Unwrap the new cartridge and insert it into the housing.</li>
                        <li>Secure the cover by screwing it back clockwise.</li>
                        <li>Turn on the water and let it run for 2–3 minutes to flush out any initial particles.</li>
                    </ul>
                "
            },
            {
                "summary": "Is the Qure Shower Filter certified, tested, and safe to use?",
                "text": "
                    <p>Yes — it’s third-party tested to meet NSF water filtration standards and made with certified BPA-free, non-toxic, and skin-friendly materials. It’s also leak-resistant and built to last.</p>
                "
            },
            {
                "summary": "Where can I buy filter refills?",
                "text": "
                    <p>You can purchase filter refills directly from our website, which provides 3 months of pure water. We also offer convenient subscription plans to ensure you never run out—set it and forget it, and we’ll take care of the rest.</p>
                "
            }
        ]'
    }}

{{/section-stack }}

{{#> cta-bar
    color-selector=true
    hide-silver=true
    button="Subscribe & Save 30%"
}}
{{/cta-bar}}

{{/default }}
