<!-- GUARANTEE -->
{{#unless page-css }}
<link rel="stylesheet" href="sections/new/guarantee/guarantee.css" />
{{/unless}}
<section class="guarantee {{ classes }}">
    <div class="container">
        <article>
            <img src="sections/isolated/guarantee/images/icon.webp" alt="90-day money-back guarantee" />
            <h2>Try it now with zero risk. <br />Our 90-day money-back guarantee.</h2>
            <div>
                <p>We’re confident you’ll love your results — but if you don’t, we’ve got you covered. </p>
                <p>Try the Micro-Infusion System for 90 days at-home. If you’re not seeing smoother, more radiant skin, simply return it for a full refund. </p>
            </div>
        </article>
    </div>
</section>
<!-- GUARANTEE END -->
