<!-- EXCLUSIVE BUNDLE -->
{{#unless page-css }}
<link rel="stylesheet" href="sections/new/exclusive-bundle/exclusive-bundle.css" />
{{/unless}}
<section class="exclusive-bundle {{ classes }}">
    <div class="container">
        <article>
            <div class="e-double-tag"><strong>Bundles</strong> Holiday</div>
            <h2>{{ title }}</h2>
            {{> @partial-block }}
        </article>
    </div>
</section>
<!-- EXCLUSIVE BUNDLE END -->
