<!-- TAKE QUIZ -->
{{#unless page-css }}
<link rel="stylesheet" href="sections/new/take-quiz/take-quiz.css" />
{{/unless}}
<section class="take-quiz {{ classes }}">
    <div class="container">
        <article>
            <h2>Unlock Your Personalized Skincare Routine</h2>
            <p>You don’t have time for products that don’t work. We’ll prescribe you a personalized routine with clinically proven products and tips - just for your skin.</p>
            <ol>
                <li>
                    <h5>Take The Quiz</h5>
                    <p>Then get a custom skincare plan, backed by science.</p>
                    <a class="btn btn--primary" href="#">Take The Quiz</a>
                    <small>
                        {{> e-icon icon="clock" }}
                        Only takes 60 seconds
                    </small>
                </li>
                <li>Here’s your personalized skincare routine...</li>
            </ol>
        </article>
    </div>
</section>
<!-- TAKE QUIZ END -->
