<!-- PILLS NAVIGATION -->
{{#unless page-css }}
    <link rel="stylesheet" href="sections/new/pills-nav/pills-nav.css" />
{{/unless}}
<section class="pills-nav {{ classes }}">
    <div class="container">
        {{> @partial-block }}
    </div>
</section>
<!-- PILLS NAVIGATION END -->
