@use "@root/mixins" as *;

.e-circle-percent {
    position: relative;
    width: 62px;
    height: 62px;
    padding: 6px;
    border-radius: 100px;
    background: conic-gradient(#c7e5db 0deg calc(var(--percent-value) * 3.6deg), transparent calc(var(--percent-value) * 3.6deg) 360deg);

    &::before {
        position: absolute;
        inset: 3px;
        z-index: -1;
        border: 1px solid #8b8c8e;
        border-radius: 100px;
        content: '';
    }

    span {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50px;
        height: 50px;
        font-size: 20px;
        font-weight: 500;
        border-radius: 100px;
        background: #fff;
    }
}