@use "@root/mixins" as *;

.e-hamburger {
    width: 62px;
    padding: 16px;
    cursor: pointer;

    // .e-hamburger__line
    &__line {
        position: relative;
        width: 100%;
        height: 3px;
        border-radius: 10px;
        background: #fff;
        transition: .25s ease-in-out;

        & + & {
            margin-top: 5px;
        }

        @at-root .menu-show & {
            margin-top: 0;

            &:first-child {
                top: 0;
                transform: rotate(45deg);
            }

            &:nth-child(even) {
                display: none;
            }

            &:last-child {
                top: -3px;
                transform: rotate(-45deg);
            }
        }
    }
}