@use "@root/mixins" as *;

.e-icon {
    display: inline-block;
    line-height: 1;

    &::before {
        @include icon;
    }
}

.e-icon-chevron::before {
    content: "\e900";
}

.e-icon-checkmark::before {
    content: "\e901";
}

.e-icon-plus::before {
    content: "\e903";
}

.e-icon-minus::before {
    content: "\e902";
}

.e-icon-cross::before {
    content: "\e904";
}

.e-icon-arrow::before {
    content: "\e905";
}

.e-icon-qure::before {
    content: "\e906";
}

.e-icon-q::before {
    content: "\e907";
}

.e-icon-youtube::before {
    content: "\e90b";
}

.e-icon-instagram::before {
    content: "\e90a";
}

.e-icon-facebook::before {
    content: "\e909";
}

.e-icon-tiktok::before {
    content: "\e908";
}

.e-icon-i::before {
    content: "\e90c";
}

.e-icon-play::before {
    content: "\e90d";
}

// FAQs icons
.e-icon-shipping-order::before {
    content: "\e90e";
}

.e-icon-shipping-order-hvr::before {
    content: "\e90f";
}

.e-icon-rejuvalight-pro-facewear::before {
    content: "\e911";
}

.e-icon-rejuvalight-pro-facewear-hvr::before {
    content: "\e910";
}

.e-icon-micro-infusion-system::before {
    content: "\e913";
}

.e-icon-micro-infusion-system-hvr::before {
    content: "\e912";
}

.e-icon-renew-lllt-helmet::before {
    content: "\e915";
}

.e-icon-renew-lllt-helmet-hvr::before {
    content: "\e914";
}

.e-icon-returns-exchanges::before {
    content: "\e917";
}

.e-icon-returns-exchanges-hvr::before {
    content: "\e916";
}

.e-icon-billing-payment::before {
    content: "\e919";
}

.e-icon-billing-payment-hvr::before {
    content: "\e918";
}

.e-icon-warranty::before {
    content: "\e91b";
}

.e-icon-warranty-hvr::before {
    content: "\e91a";
}

.e-icon-qure-app::before {
    content: "\e91d";
}

.e-icon-qure-app-hvr::before {
    content: "\e91c";
}

.e-icon-troubleshooting::before {
    content: "\e91f";
}

.e-icon-troubleshooting-hvr::before {
    content: "\e91e";
}