<!-- GUIDES LIST -->
{{#unless page-css }}
<link rel="stylesheet" href="sections/new/guides-list/guides-list.css" />
{{/unless}}
<section class="guides-list {{ classes }}">
    <div class="container">
        <article>
            {{> @partial-block }}
        </article>
    </div>
</section>
<!-- GUIDES LIST END -->
