@use "@root/mixins" as *;
@use "@elements/e-icon" as *;
@use "@components/c-swiper" as *;

.how-to-use {
    $root: &;

    .container {
        margin-right: 0;
        padding-right: 0;

        @media screen and (min-width: 1200px) {
            @include max-width(1172px);
        }

        @media screen and (min-width: 1400px) {
            @include max-width(1232px);
        }

        @include sm {
            padding-right: 15px;
        }
    }

    &__content {
        display: grid;
        grid-template: repeat(2, auto) / 1fr 45vw;
        gap: 20px 60px;
        align-items: center;

        @include md {
            column-gap: 40px;
        }

        @include sm {
            display: flex;
            flex-direction: column;
        }
    }

    h2 {
        align-self: end;
        margin-bottom: 0;

        @include sm {
            align-self: start;
        }

        & + div {
            align-self: start;
        }
    }

    .c-swiper {
        grid-row: 1 / -1;
        grid-column: 2;
    }

    .swiper-wrapper {
        @include sm {
            flex-direction: column;
            gap: 22px;
        }
    }

    .swiper-slide {
        position: relative;
        overflow: hidden;
        border: 1px solid #dfe0e0;
        border-radius: 10px;

        @include sm {
            display: flex;
            gap: 16px;
            align-items: center;
            border: 0;
            border-radius: 0;
        }

        &:last-child {
            margin-right: 16px;
        }


        picture {
            position: relative;

            @include sm {
                flex: none;
                width: 100px;
            }

            &[data-index] {
                &::before {
                    top: 12px;
                    left: 12px;
                    font-size: 20px;
                    @include index-number;
                    content: attr(data-index);

                    @include sm {
                        top: 5px;
                        left: 5px;
                        font-size: 16px;
                    }
                }
            }
        }

        img {
            object-fit: cover;
            max-height: 195px;

            @include sm {
                width: 100%;
                border-radius: 5px;
            }
        }

        article {
            padding: 28px 32px;

            @include sm {
                padding: 0;
            }
        }

        h6 {
            font-family: inherit;
            font-weight: 500;
        }
    }

    .c-swiper-nav {
        @include sm {
            display: none;
        }
    }
}
