<!-- HOW TO USE -->
{{#unless page-css }}
<link rel="stylesheet" href="sections/new/how-to-use/how-to-use.css" />
{{/unless}}
<section class="how-to-use {{ classes }}" id="easy_steps">
    <div class="container">
        <article class="how-to-use__content">
            <h2>{{ title }}</h2>
            {{> @partial-block}}
        </article>
    </div>
</section>
<!-- HOW TO USE END -->
