@use "@elements/e-icon" as *;

@mixin badge {
    padding: 3px 12px;
    color: #ff5429;
    font-size: 0.815em;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 5px;
    background: #fff5f2;
}

.helmet-home {
    --section-padding-top: 30px;
    --section-padding-top-mob: 10px;
    --section-padding-bottom: 30px;
    --section-padding-bottom-mob: 10px;

    // .helmet-home__grid
    &__grid {
        display: grid;
        grid-template: auto / 43% 51%;
        gap: 6%;

        @include md {
            grid-template: auto / 47% 51%;
            gap: 2%;
        }

        @include sm {
            display: flex;
            flex-direction: column-reverse;
            gap: 14px;
        }
    }

    // .helmet-home__content
    &__content {
        position: sticky;
        top: 140px;
        display: flex;
        flex-direction: column;
        gap: 20px;

        @include sm {
            top: auto;
            gap: 8px;
        }

        // TODO: hardcode, need to delete in future
        .qure__price,
        .patch__single-shortdes,
        .qure__product-action-inner,
        .moneyback_guarantee {
            margin-top: 0 !important;
            margin-bottom: 0 !important;
        }
    }

    // .helmet-home__gallery
    &__gallery {
        @include sm {
            margin-right: -15px;
            margin-left: -15px;
        }

        .swiper-slide {
            position: relative;

            @include sm {
                padding: 0 15px;
            }

            img {
                display: block;
                max-width: 100%;
                height: auto;
            }

            .coming-soon {
                position: absolute;
                top: 24px;
                left: 24px;
                padding: 14px 26px;
                color: #fff;
                font-size: 24px;
                font-weight: 600;
                text-transform: capitalize;
                border-radius: 100px;
                background: #212428;

                @include md {
                    top: 14px;
                    left: 14px;
                    padding: 4px 14px;
                    font-size: 14px;
                }

                @include sm {
                    left: 29px;
                }
            }

            .watch-how-it-works {
                position: absolute;
                bottom: 18px;
                left: 18px;
                display: flex;
                gap: 6px;
                align-items: center;
                padding: 9px 20px;
                font-size: 20px;
                font-weight: 500;
                border-radius: 40px;
                background: rgb(255 255 255 / 60%);
                cursor: pointer;
                transition: all 200ms linear;
                backdrop-filter: blur(6px);

                @include sm {
                    bottom: 12px;
                    left: 28px;
                    padding: 5px 16px;
                    font-size: 16px;
                }

                &:hover {
                    background: #fff;
                }

                .e-icon {
                    -webkit-text-stroke: 1px
                }
            }
        }
    }

    // .helmet-home__gallery-main
    &__gallery-main {
        .swiper-wrapper {
            @media screen and (min-width: 768px) {
                display: grid;
                grid-template: auto / repeat(2, 1fr);
                gap: 15px;
            }

             .swiper-slide {
                &:first-child {
                    @media screen and (min-width: 768px) {
                        grid-column: 1 / -1;
                    }
                }

                img {
                    border-radius: 10px;
                }
             }
        }
    }

    // .helmet-home__gallery-thumbs
    &__gallery-thumbs {
        margin-top: 12px;

        .swiper-slide {
            opacity: 0.5;

            &.swiper-slide-thumb-active {
                opacity: 1;

                img {
                    border: 1px solid #212428;
                }
            }

            img {
                border-radius: 5px;
            }
        }
    }

    // .helmet-home__header
    &__header {
        @include sm {
            margin-bottom: 14px;
        }
    }

    // .helmet-home__header-rating
    &__header-rating {
        display: flex;
        gap: 8px;
        align-items: center;
        margin-bottom: 15px;
        font-size: 16px;

        @include sm {
            margin-bottom: 10px;
            font-size: 14px;
        }

        img {
            max-width: 105px;
            height: auto;
            vertical-align: top;

            @include sm {
                max-width: 95px;
            }
        }
    }

    // .helmet-home__header-title
    &__header-title {
        margin-bottom: 10px;

        @include md {
            margin-bottom: 4px;
        }
    }

    // .helmet-home__header-price
    &__header-price {
        .price-offer {
            display: flex;
            align-items: flex-start;
            justify-content: space-between;

            // .price-offer__main
            &__main {
                display: grid;
                grid-template: auto / auto auto;
                gap: 2px 8px;
                align-items: center;
            }

            // .price-offer__current
            &__current {
                font-size: 22px;

                @include sm {
                    font-size: 20px;
                }
            }

            // .price-offer__discount
            &__discount {
                @include badge;
                font-size: 18px;

                @include sm {
                    font-size: 16px;
                }
            }

            // .price-offer__value
            &__value {
                grid-column: 1 / -1;
                color: #ff5429;
                font-size: 14px;
            }

            // .price-offer__bf
            &__bf {
                display: flex;
                flex-direction: column;
                gap: 2px;
                align-items: flex-end;
                text-transform: uppercase;
            }

            // .price-offer__bf-label
            &__bf-label {
                font-size: 16px;
                font-weight: 600;
                font-style: normal;
                line-height: 20px;
                background: linear-gradient(90deg, #ff4e22 0%, #ff8f72 50%, #ff4e22 100%);
                background-clip: text;
                -webkit-text-fill-color: transparent;
            }

            // .price-offer__bf-discont
            &__bf-discont {
                width: 100%;
                padding: 1px 12px;
                color: #fff;
                font-size: 16px;
                font-weight: 600;
                line-height: 20px;
                text-align: center;
                border-radius: 40px;
                background: linear-gradient(90deg, #FF4E22 0%, #FF8566 50%, #FF4E22 100%);

            }
        }
    }

    // .helmet-home__benefits
    &__benefits {
        display: flex;
        gap: 6px;

        li {
            width: 100%;
            max-width: 110px;
            padding: 1px 6px;
            font-size: 16px;
            text-align: center;
            border: 1px solid #dfe0e0;
            border-radius: 5px;
        }
    }

    // .helmet-home__ordering
    &__ordering {
        display: flex;
        flex-direction: column;
        gap: 4px;

        .btn {
            width: 100%;

            &:has(img) {
                display: flex;
                justify-content: space-between;
                padding: 16px 30px;
                border-radius: 50px;

                &:not(:hover) {
                    img {
                        filter: brightness(0) invert(100%);
                    }
                }
            }
        }


        .pre-order-info {
            display: flex;
            justify-content: space-between;
            padding-right: 24px;
            padding-left: 24px;
            font-size: 14px;

            // .pre-order-info__status
            &__status {
                display: flex;
                gap: 8px;
                align-items: center;

                &::before {
                    display: inline-block;
                    width: 8px;
                    height: 8px;
                    border-radius: 50%;
                    background: #ff5429;
                    @include pulse;
                    content: ' ';
                }
            }

            // .pre-order-info__expected
            &__expected {
                display: flex;
                gap: 4px;
                align-items: center;
                color: #8b8c8e;

                &[data-bs-toggle] {
                    text-decoration: underline;
                    cursor: pointer;

                    &:hover {
                        text-decoration: none;
                    }
                }

            }
        }
    }

    // .helmet-home__users-experienced
    &__users-experienced {
        display: grid;
        grid-template: repeat(2, auto) / 80px auto;
        gap: 0 12px;
        align-items: center;
        padding: 24px;
        border-radius: 10px;
        background: #fff5f2;
        cursor: pointer;

        @include sm {
            grid-template-columns: 60px auto;
            padding: 16px;
            font-size: 16px;
        }

        &:hover {
            strong {
                text-decoration: none;
            }
        }

        img {
            grid-row: 1 / -1;
            max-width: 100%;
            height: auto;
            border-radius: 5px;
        }

        strong {
            text-decoration: underline;
        }
    }

    // .helmet-home__according
    &__according {
        font-size: 16px;

        .qure__accordion-item {
            border: 0;
            border-bottom: 1px solid #8b8c8e;
        }

        .qure__accordion-header {
            padding: 14px 6px;
            font-size: inherit;
        }

        .qure__accordion-content {
            .accordion-body {
                padding: 0 6px 20px;
            }

            p:not(:last-child) {
                margin-bottom: 20px;
            }

            ul:last-child {
                margin-bottom: 0;

                li {
                    margin-top: 0;
                }
            }

            ol {
                padding-left: 18px;

                &:not(:last-child) {
                    margin-bottom: 20px;
                }

                li {
                    list-style: decimal;
                }
            }
        }
    }

    // .helmet-home__moneyback
    &__moneyback {
        display: grid;
        grid-template: repeat(2, auto) / 80px auto;
        gap: 0 24px;
        align-items: center;
        padding: 28px 24px;
        border-radius: 10px;
        background: #f6f6f7;

        @include sm {
            gap: 0 16px;
            margin-top: 8px;
            padding: 22px 16px;
            font-size: 16px;
        }

        img {
            grid-row: 1 / -1;
            max-width: 100%;
            height: auto;
        }

        p {
            font-size: 16px;
            line-height: 1.25;

            @include sm {
                font-size: 14px;
            }
        }
    }

    // .helmet-home__jump-to
    &__jump-to {
        h6 {
            margin-bottom: 8px;
            font-family: inherit;
            font-weight: inherit;
        }

        .jump-to {
            display: flex;
            flex-wrap: wrap;
            gap: 12px;

            a {
                display: flex;
                gap: 8px;
                align-items: center;
                justify-content: center;
                padding: 4px 24px;
                color: inherit;
                font-size: 16px;
                border: 1px solid #8b8c8e;
                border-radius: 50px;
            }
        }
    }
}

.helmet-home-modal {
    background: rgb(0 0 0 / 50%);
    backdrop-filter: blur(10px);

    .modal-dialog {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 1;
        display: flex;
        flex-direction: column;
        width: 450px;
        max-width: none;
        height: 100vh;
        margin: 0;

        @include sm {
            width: 100vw;
            padding-top: 100px;
        }
    }

    .btn-close {
        position: absolute;
        top: 24px;
        left: -66px;
        z-index: 100;
        width: 50px;
        height: 50px;
        padding: 0;
        border-radius: 100px;
        background: rgb(255 255 255 / 80%);
        transition: all 300ms;

        &:hover {
            background: #c8e6dc;
        }

        @include md {
            top: -25px;
            right: 16px;
            left: auto;
        }

        img {
            vertical-align: top;
        }
    }

    // .helmet-home-modal__content
    &__content {
        display: flex;
        flex-grow: 1;
        min-height: 1px;
        border: 0;
        border-radius: 0;
        background: #fff;
    }

    // .helmet-home-modal__text
    &__text {
        flex-grow: 1;
        overflow: auto;
        padding: 32px 24px 0;

        @include md {
            padding-right: 16px;
            padding-left: 16px;
        }

        hr {
            margin-top: 24px;
            margin-bottom: 24px;
        }

        h6 {
            margin-bottom: 10px;
            font-family: inherit;
            font-weight: 600;
        }

        & > strong {
            display: block;
        }
    }

    &__disclaimer {
        max-width: 395px;
        padding: 0 24px 32px;
        color: #8b8c8e;
        font-size: 14px;
        line-height: 1.25;

        @include md {
            padding-right: 16px;
            padding-left: 16px;
        }

        &::before {
            display: block;
            width: 45px;
            height: 1px;
            margin-top: 20px;
            margin-bottom: 20px;
            background: currentcolor;
            content: '';
        }
    }
}

/* stylelint-disable-next-line selector-class-pattern */
.page\.hair-growth-helmet-red-light,
/* stylelint-disable-next-line selector-class-pattern */
.product\.hair-growth-helmet {
    @media screen and (min-width: 768px) {
        overflow: unset;
    }

    .modal-backdrop {
        display: none;
    }
}

// Popups content
.shipment-popup {
    font-size: 16px;

    span {
        &:first-child {
            display: inline-block;
            margin-bottom: 16px;
            @include badge;
            font-size: 1em;
        }
    }

    hr {
        & + span {
            display: inline-block;
            margin-bottom: 12px;
            color: #ff5429;
            text-transform: uppercase;
        }
    }

    .btn {
        width: 100%;
    }
}

.info-popup {
    .tabs {
        display: flex;
        flex-wrap: wrap;
        gap: 12px;
        margin-top: 10px;
        margin-bottom: 20px;

        button {
            padding: 3px 16px;
            color: #212428;
            font-size: 16px;
            border: 1px solid;
            border-radius: 100px;
            background: transparent;
            transition: 0.3s;

            &:hover,
            &.active {
                color: #fff;
                border-color: #212428;
                background: #212428;
            }
        }
    }

    .tab-content {
        font-size: 16px;
    }
}

.email-modal {
    background: rgb(0 0 0 / 50%);
    backdrop-filter: blur(10px);

    .modal-dialog {
        position: absolute;
        inset: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: none;
        padding: 15px;
    }

    .btn-close {
        position: absolute;
        top: 0;
        right: -66px;
        z-index: 100;
        width: 50px;
        height: 50px;
        padding: 0;
        border-radius: 100px;
        background: rgb(255 255 255 / 80%);
        transition: all 300ms;

        &:hover {
            background: #c8e6dc;
        }

        @include md {
            top: -25px;
            right: 16px;
            left: auto;
        }

        img {
            vertical-align: top;
        }
    }

    &__content {
        width: 100%;
        max-width: 758px;
        border-radius: 0;
    }

    .email-modal-form {

    }
}