.e-icon{
  display:inline-block;
  line-height:1;
}
.e-icon:before{
  font-family:icomoon;
  font-weight:400;
  font-style:normal;
  font-variant:normal;
  line-height:1;
  text-transform:none;
  vertical-align:top;
  -moz-osx-font-smoothing:grayscale;
  -webkit-font-smoothing:antialiased;
  speak:never;
}

.e-icon-chevron:before{
  content:"\e900";
}

.e-icon-checkmark:before{
  content:"\e901";
}

.e-icon-plus:before{
  content:"\e903";
}

.e-icon-minus:before{
  content:"\e902";
}

.e-icon-cross:before{
  content:"\e904";
}

.e-icon-arrow:before{
  content:"\e905";
}

.e-icon-qure:before{
  content:"\e906";
}

.e-icon-q:before{
  content:"\e907";
}

.e-icon-youtube:before{
  content:"\e90b";
}

.e-icon-instagram:before{
  content:"\e90a";
}

.e-icon-facebook:before{
  content:"\e909";
}

.e-icon-tiktok:before{
  content:"\e908";
}

.e-icon-i:before{
  content:"\e90c";
}

.e-icon-play:before{
  content:"\e90d";
}

.e-icon-stars:before{
  content:"\e920";
}

.e-icon-rating-fill:before{
  content:"\e921";
}

.e-icon-trustpilot:before{
  content:"\e922";
}

.e-icon-pm:before{
  content:"\e923";
}

.e-icon-am:before{
  content:"\e924";
}

.e-icon-watch:before{
  content:"\e925";
}

.e-icon-cart:before{
  content:"\e926";
}

.e-icon-user:before{
  content:"\e927";
}

.e-icon-gift:before{
  content:"\e928";
}

.e-icon-shipping:before{
  content:"\e92b";
}

.e-icon-faq:before{
  content:"\e92a";
}

.e-icon-letter:before{
  content:"\e929";
}

.e-icon-pillow:before{
  content:"\e92c";
}

.e-icon-patches:before{
  content:"\e92d";
}

.e-icon-mist:before{
  content:"\e92e";
}

.e-icon-lock:before{
  content:"\e92f";
}

.e-icon-guarantee:before{
  content:"\e930";
}

.e-icon-top:before{
  content:"\e931";
}

.e-icon-shipping-order:before{
  content:"\e90e";
}

.e-icon-shipping-order-hvr:before{
  content:"\e90f";
}

.e-icon-rejuvalight-pro-facewear:before{
  content:"\e911";
}

.e-icon-rejuvalight-pro-facewear-hvr:before{
  content:"\e910";
}

.e-icon-micro-infusion-system:before{
  content:"\e913";
}

.e-icon-micro-infusion-system-hvr:before{
  content:"\e912";
}

.e-icon-renew-lllt-helmet:before{
  content:"\e915";
}

.e-icon-renew-lllt-helmet-hvr:before{
  content:"\e914";
}

.e-icon-returns-exchanges:before{
  content:"\e917";
}

.e-icon-returns-exchanges-hvr:before{
  content:"\e916";
}

.e-icon-billing-payment:before{
  content:"\e919";
}

.e-icon-billing-payment-hvr:before{
  content:"\e918";
}

.e-icon-warranty:before{
  content:"\e91b";
}

.e-icon-warranty-hvr:before{
  content:"\e91a";
}

.e-icon-qure-app:before{
  content:"\e91d";
}

.e-icon-qure-app-hvr:before{
  content:"\e91c";
}

.e-icon-troubleshooting:before{
  content:"\e91f";
}

.e-icon-troubleshooting-hvr:before{
  content:"\e91e";
}

.e-rating-stars{
  position:relative;
  display:inline-block;
  line-height:1;
  letter-spacing:.135em;
}
.e-rating-stars:after,.e-rating-stars:before{
  font-family:icomoon;
  font-weight:400;
  font-style:normal;
  font-variant:normal;
  line-height:1;
  text-transform:none;
  -moz-osx-font-smoothing:grayscale;
  -webkit-font-smoothing:antialiased;
  speak:never;
  white-space:nowrap;
  vertical-align:top;
  content:"\e921\e921\e921\e921\e921";
}
.e-rating-stars:before{
  color:#dfe0e0;
}
.e-rating-stars:after{
  position:absolute;
  top:0;
  left:0;
  overflow:hidden;
  width:calc(var(--rating)/5*100%);
  color:#91baec;
}

.c-rating{
  display:flex;
  gap:8px;
  align-items:center;
  font-size:.885em;
  line-height:1;
}
.c-rating .e-rating-stars{
  font-size:20px;
}
.c-rating small{
  vertical-align:top;
}
.c-rating--bg{
  padding:8px 12px;
  border-radius:5px;
  background:#f6f6f7;
}

.c-marked-list{
  display:flex;
  flex-direction:column;
  gap:10px;
}
.c-marked-list li{
  position:relative;
  padding-left:1.75em;
  line-height:1.25;
}
.c-marked-list li:before{
  position:absolute;
  top:0;
  left:0;
  display:flex;
  align-items:center;
  justify-content:center;
  width:2.25em;
  height:2.25em;
  color:#91baec;
  font-size:.5em;
  font-family:icomoon;
  font-weight:400;
  font-style:normal;
  font-variant:normal;
  line-height:1;
  text-transform:none;
  -moz-osx-font-smoothing:grayscale;
  -webkit-font-smoothing:antialiased;
  speak:never;
  vertical-align:top;
  border:1.5px solid;
  border-radius:50%;
  content:"\e901";
}

.e-features-list{
  display:flex;
  gap:24px;
  justify-content:center;
  font-size:14px;
}
.e-features-list li{
  display:flex;
  gap:6px;
  align-items:center;
}
.e-features-list .e-icon-guarantee{
  font-size:30px;
}
.e-features-list .e-icon-shipping-order{
  font-size:22px;
}

.e-pay-options{
  display:flex;
  flex-wrap:wrap;
  gap:4px;
  color:#757677;
  font-size:14px;
  line-height:1;
}
.e-pay-options ul{
  display:flex;
  gap:6px;
  align-self:center;
  justify-content:center;
  line-height:1;
}
.e-pay-options img{
  max-width:100%;
  height:auto;
  vertical-align:top;
}

.c-order-button{
  display:flex;
  flex-direction:column;
  gap:10px;
}
.c-order-button .btn{
  width:100%;
}
.c-order-button .e-pay-options{
  justify-content:center;
}

.c-certified-box{
  display:grid;
  grid-template-columns:-webkit-max-content 1fr;
  grid-template-columns:max-content 1fr;
  gap:10px;
  align-items:center;
  max-width:415px;
  padding:10px 20px;
  font-size:14px;
  line-height:18px;
  text-align:left;
  border-radius:5px;
  background:#f6f6f7;
}
.c-certified-box ul{
  display:flex;
  align-items:center;
}
.c-certified-box ul li{
  display:inline-flex;
  align-items:center;
  justify-content:center;
  overflow:hidden;
  width:32px;
  height:32px;
  font-size:12px;
  font-weight:600;
  border:1px solid #f6f6f7;
  border-radius:50%;
  background:#c8e6dc;
}
.c-certified-box ul li+li{
  margin-left:-8px;
}
.c-certified-box ul li img{
  width:inherit;
  max-height:inherit;
}
.c-certified-box--light{
  background:#fff;
}

.c-buy-block{
  display:flex;
  flex-direction:column;
  gap:16px;
  max-width:500px;
}
.c-buy-block .c-certified-box{
  margin-right:auto;
  margin-left:auto;
}

.c-next-batch{
  display:flex;
  flex-direction:column;
  gap:16px;
  max-width:500px;
  padding:14px 10px 20px;
  border:1px solid #dfe0e0;
  border-radius:10px;
}
.c-next-batch p{
  font-size:14px;
  line-height:1.25;
}
.c-next-batch p:first-line{
  font-size:16px;
  font-weight:600;
}
.c-next-batch ul{
  display:flex;
  flex-direction:column;
  gap:10px;
  font-size:12px;
}
.c-next-batch li{
  display:flex;
  justify-content:space-between;
  padding:0 10px;
  border:1px solid;
  border-radius:20px;
}
.c-next-batch li:first-child{
  border-color:#8b8c8e;
  background:#dfe0e0;
  opacity:.6;
}
.c-next-batch li:last-child{
  position:relative;
  z-index:1;
  border-color:#91baec;
}
.c-next-batch li:last-child:before{
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  z-index:-1;
  width:var(--data-reserved);
  border-radius:20px;
  background:#91baec;
  content:"";
}

.c-swiper{
  overflow:hidden;
  margin-right:-16px;
  margin-left:-16px;
  padding-right:16px;
  padding-left:16px;
}
.c-swiper .swiper-slide picture[data-url],.c-swiper .swiper-slide picture[data-video-id]{
  cursor:pointer;
}
.c-swiper .swiper-slide img{
  width:100%;
  height:auto;
  vertical-align:top;
}
.c-swiper-nav{
  display:flex;
  gap:20px;
  align-items:center;
  justify-content:center;
  margin-top:30px;
}
.c-swiper-nav-disabled .c-swiper-nav{
  display:none;
}
.c-swiper-pagination{
  display:flex;
  gap:10px;
  width:auto;
}
.c-swiper-button-next,.c-swiper-button-prev{
  display:flex;
  flex:0 0 40px;
  align-items:center;
  justify-content:center;
  height:40px;
  color:#212428;
  font-size:12px;
  border:1px solid;
  border-radius:50px;
  background:#fff;
  cursor:pointer;
  transition:.3s;
}
.c-swiper-button-next:after,.c-swiper-button-prev:after{
  font-family:icomoon;
  font-weight:400;
  font-style:normal;
  font-variant:normal;
  line-height:1;
  text-transform:none;
  vertical-align:top;
  -moz-osx-font-smoothing:grayscale;
  -webkit-font-smoothing:antialiased;
  speak:never;
  content:"\e900";
}
.c-swiper-button-next:hover,.c-swiper-button-prev:hover{
  border-color:#c8e6dc;
  background:#c8e6dc;
}
.c-swiper-button-next.swiper-button-disabled,.c-swiper-button-prev.swiper-button-disabled{
  color:#8b8c8e;
  pointer-events:none;
  opacity:.3;
}
.c-swiper-button-prev:after{
  transform:rotate(-180deg);
}

.buy-section__container{
  display:grid;
  grid-template:auto 1fr/repeat(2, 1fr);
  gap:40px 60px;
}
.buy-section__main{
  display:flex;
  flex-direction:column;
  grid-row:1 /  -1;
  gap:32px;
}
.buy-section__main .c-rating{
  align-self:flex-start;
}
.buy-section__main>p:first-of-type{
  font-size:16px;
  text-transform:uppercase;
}
.buy-section__main h1{
  margin-bottom:-5px;
}
.buy-section__main .e-price{
  font-size:22px;
  font-weight:500;
}
.buy-section__main article p{
  margin-bottom:1.5rem;
}
.buy-section__main article ul{
  display:flex;
  flex-direction:column;
  gap:10px;
}
.buy-section__main article ul li{
  position:relative;
  padding-left:1.75em;
  line-height:1.25;
}
.buy-section__main article ul li:before{
  position:absolute;
  top:0;
  left:0;
  display:flex;
  align-items:center;
  justify-content:center;
  width:2.25em;
  height:2.25em;
  color:#91baec;
  font-size:.5em;
  font-family:icomoon;
  font-weight:400;
  font-style:normal;
  font-variant:normal;
  line-height:1;
  text-transform:none;
  -moz-osx-font-smoothing:grayscale;
  -webkit-font-smoothing:antialiased;
  speak:never;
  vertical-align:top;
  border:1.5px solid;
  border-radius:50%;
  content:"\e901";
}
.buy-section__main article ul{
  gap:16px;
}
.buy-section__gallery{
  min-width:0;
}
.buy-section__gallery .c-swiper{
  margin:0;
  padding:0;
}
@media screen and (max-width:767px){
  .c-marked-list li{
    font-size:16px;
  }
  .e-pay-options{
    font-size:12px;
  }
  .buy-section__main article ul li{
    font-size:16px;
  }
}
