.e-icon{
  display:inline-block;
  line-height:1;
}
.e-icon:before{
  font-family:icomoon;
  font-weight:400;
  font-style:normal;
  font-variant:normal;
  line-height:1;
  text-transform:none;
  vertical-align:top;
  -moz-osx-font-smoothing:grayscale;
  -webkit-font-smoothing:antialiased;
  speak:never;
}

.e-icon-chevron:before{
  content:"\e900";
}

.e-icon-checkmark:before{
  content:"\e901";
}

.e-icon-plus:before{
  content:"\e903";
}

.e-icon-minus:before{
  content:"\e902";
}

.e-icon-cross:before{
  content:"\e904";
}

.e-icon-arrow:before{
  content:"\e905";
}

.e-icon-qure:before{
  content:"\e906";
}

.e-icon-q:before{
  content:"\e907";
}

.e-icon-youtube:before{
  content:"\e90b";
}

.e-icon-instagram:before{
  content:"\e90a";
}

.e-icon-facebook:before{
  content:"\e909";
}

.e-icon-tiktok:before{
  content:"\e908";
}

.e-icon-i:before{
  content:"\e90c";
}

.e-icon-play:before{
  content:"\e90d";
}

.c-subscribe-form{
  display:flex;
  flex-direction:column;
  gap:30px;
  align-items:center;
  width:100%;
  max-width:450px;
}
.c-subscribe-form h2{
  margin-bottom:0;
  color:inherit;
}
.c-subscribe-form form{
  display:flex;
  overflow:hidden;
  width:100%;
  border-radius:50px;
}
.c-subscribe-form input{
  width:100%;
  height:60px;
  padding-left:30px;
  color:#212428;
  font-size:20px;
  border:0;
  border-radius:0;
}
.c-subscribe-form input:focus{
  font-size:20px;
}
.c-subscribe-form button{
  flex:none;
  padding:0 30px 0 20px;
  font-size:20px;
  border:0;
  border-radius:0;
  background:#fff;
}

.c-follow-us{
  display:flex;
  flex-direction:column;
  gap:30px;
  align-items:center;
  width:100%;
  max-width:450px;
}
.c-follow-us h2{
  margin-bottom:0;
  color:inherit;
}
.c-follow-us ul{
  display:flex;
  gap:28px;
}
.c-follow-us a{
  display:block;
  color:inherit;
  font-size:35px;
}

.footer-promo{
  padding-top:30px;
  padding-bottom:35px;
  color:#fff;
  background:#212428;
}
.footer-promo__content{
  display:flex;
  gap:32px;
  max-width:980px;
  margin-left:auto;
}
.footer-promo .c-follow-us{
  align-content:center;
}
@media screen and (max-width:767px){
  .c-subscribe-form{
    gap:14px;
  }
  .c-subscribe-form input{
    height:56px;
    font-size:18px;
  }
  .c-subscribe-form button{
    font-size:16px;
  }
  .c-follow-us{
    gap:14px;
  }
  .footer-promo__content{
    flex-direction:column;
    align-items:center;
  }
}
