<!-- PROGRESS METRICS -->
<link rel="stylesheet" href="sections/new/progress-metrics/progress-metrics.css" />
<section class="progress-metrics {{ classes }}">
    <div class="container">
        {{> @partial-block }}
    </div>
</section>
<!-- PROGRESS METRICS END -->
