@use "@root/mixins" as *;

.intro-section {
    width: 100%;

    article {
        padding: 28px 32px;
        border-radius: 10px;
        background: #f6f6f7;

        @include md {
            padding: 0;
            border-radius: 0;
            background: none;
        }
    }
}