@use "@root/mixins" as *;

.intro-section {
    width: 100%;

    article {
        padding: 28px 32px;
        border-radius: 10px;
        background: #f6f6f7;

        @include md {
            padding: 0;
            border-radius: 0;
            background: none;
        }

        p {
            margin-bottom: 0;

            & + p {
                margin-top: 15px;
            }
        }

        picture {
            margin-top: 15px;

            &[data-video-id],
            &[data-url] {
                @include play;
                width: 60%;

                @include sm {
                    width: 100%;
                }

                img {
                    width: 100%;
                    vertical-align: top;
                    border-radius: 10px;
                }
            }

            &[data-label-text] {
                &::before {
                    position: absolute;
                    bottom: 22px;
                    left: 20px;
                    color: #fff;
                    font-weight: 500;
                    content: attr(data-label-text);
                }

                &::after {
                    inset: auto 20px 10px auto;
                    font-size: 35px;
                    transform: none;
                }
            }
        }
    }
}