name: Mirror PR to main-r2

on:
  pull_request:
    types: [closed]
    branches: [main]
    paths-ignore:
      - '.github/workflows/**'

jobs:
  mirror-pr:
    if: github.event.pull_request.merged == true
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout main
        uses: actions/checkout@v4
        with:
          ref: main
          token: ${{ secrets.PAT_PR_MIRROR }}
          fetch-depth: 0
      
      - name: Push main to main-r2
        env:
          GIT_AUTHOR_NAME: github-actions
          GIT_AUTHOR_EMAIL: github-actions@github.com
          GIT_COMMITTER_NAME: github-actions
          GIT_COMMITTER_EMAIL: github-actions@github.com
        run: |
          git remote add mirror https://x-access-token:${{ secrets.PAT_PR_MIRROR }}@github.com/paul-qureskincare/main-r2.git
          git config --global user.name "github-actions"
          git config --global user.email "github-actions@github.com"
          git checkout -b "${{ github.event.pull_request.number }}"
          git push mirror "${{ github.event.pull_request.number }}" --force --set-upstream -o skip-push-protection
