<!-- BLOG -->
{{#unless page-css }}
    <link rel="stylesheet" href="sections/new/blog/blog.css" />
{{/unless}}
<section class="blog {{ classes }}">
    <div class="container">
        {{> @partial-block }}
    </div>
</section>
<!-- BLOG END -->
