<!-- GET QURE -->
{{#unless page-css }}
<link rel="stylesheet" href="sections/new/get-qure/get-qure.css" />
{{/unless}}
<section class="get-qure {{ classes }}">
    <div class="container">
        <article>
            <h2>{{ title }}</h2>
            {{> @partial-block }}
        </article>
    </div>
</section>
<!-- GET QURE END -->
