<!-- TEXT SECTION -->
    <link rel="stylesheet" href="sections/new/text-section/text-section.css" />
    <section class="text-section">
        <div class="container">
            <article>
                {{> @partial-block }}
            </article>
        </div>
    </section>
    <!-- TEXT SECTION END -->
