<div class="c-app-stores {{#if row }}c-app-stores--row{{/if}}">
    <a href="https://play.google.com/store/apps/details?id=com.lighttreeventures.qure&ref=d6cb54b2-d73b-423e-8d66-3b5b3a661340&pli=1" target="_blank" rel="nofollow">
        <img src="./assets/images/app_store_200x.svg" alt="App Store">
    </a>
    <a href="https://apps.apple.com/us/app/qure-skincare/id1670113821" target="_blank" rel="nofollow">
        <img src="./assets/images/google_play_200x.svg" alt="Google Play">
    </a>
</div>
