<div class="c-approved-by">
    <ul>
        <li><img src="sections/new/hero-section/images/approved-by-1.webp" alt="Dr. Shah" /></li>
        <li><img src="sections/new/hero-section/images/approved-by-2.webp" alt="Dr. Maxfield" /></li>
    </ul>
    <p>Approved by <strong>Dr. Shah</strong> &amp; <strong>Dr. Maxfield</strong></p>
</div>
