<div class="c-certified-box">
    <ul>
        <li><img src="../sections/isolated/targeted-patches/images/crt-1.webp" alt="Certified Dermatologists" /></li>
        <li><img src="../sections/isolated/targeted-patches/images/crt-2.webp" alt="Certified Dermatologists" /></li>
        <li>+50</li>
    </ul>
    <p><strong>50+ Board Certified Dermatologists</strong> recommend Qure to their patients.</p>
</div>
