<div class="c-complete-bundle">
    <p>
        <strong>THE COMPLETE FILTER BUNDLE</strong>
        Order today &amp; Receive a FREE Faucet Filter with your Shower Filter (value $129)
    </p>
    <figure>
        <img src="sections/isolated/clean-water/images/qure_water_img1.webp" alt="" />
        <figcaption class="e-pill-badge e-pill-badge--sm">$149</figcaption>
    </figure>
    {{> e-icon icon="plus" }}
    <figure>
        <img src="sections/isolated/clean-water/images/qure_water_img2.webp" alt="" />
        <figcaption class="e-pill-badge e-pill-badge--sm">
            <del>$129</del>
            <strong>Free</strong>
        </figcaption>
    </figure>
    {{> e-progress
        label="Limited Time Offer, While Supplies Last"
        progress="60"
    }}
</div>
