<div class="c-exclusive-offer">
    <div class="c-exclusive-offer__tag">
        <div class="e-double-tag"><strong>Bundles</strong> Holiday</div>
    </div>
    <div class="c-exclusive-offer__list">
        <div class="c-exclusive-offer__item">
            <img src="sections/isolated/clean-water/images/ledBox.webp" alt="" />
            <div>$399</div>
        </div>
        {{> e-icon icon="plus" }}
        <div class="c-exclusive-offer__item">
            <img src="sections/isolated/clean-water/images/ndBox.webp" alt="" />
            <div><del>$299</del> <strong>Free</strong></div>
        </div>
    </div>
    <p class="c-exclusive-offer__desc">Buy the Q-Rejuvalight Pro and get the Neck &amp; Décolletage LED Device for FREE (value $299)</p>
</div>
