<div class="c-jump-to">
    <div class="c-jump-to__title">Jump To</div>
    <ul class="c-jump-to__buttons">
        {{#parseJson list }}
            <li><a href="#{{ id }}">{{ name }} <i class="fa-regular fa-arrow-down"></i></a></li>
        {{/parseJson}}
    </ul>
</div>
