<div class="c-lifetime-warranty">
    {{> e-icon icon="verified-shield" }}
    <p>
        Covered by our Lifetime Warranty <br />
        Your purchase is protected for life and comes with a 30-day money-back guarantee
    </p>
</div>
