<div class="c-moneyback">
    <img src="alex/sections/isolated/helmet-home/images/moneyback_1.webp" alt="Money Back Guarantee" />
    <strong>Money Back Guarantee</strong>
    <p>Hair growth isn't instant. That's why we offer a money-back guarantee. If you don't see real results, get a full refund - no questions asked.</p>
</div>
