<div class="c-next-batch">
    <p>Next batch ships {date}:<br /> Due to high demand, our {product name} is sold out. Order now and secure yours from the next shipment.</p>
    <ul>
        <li>
            <span>{Previous date}</span>
            <span>SOLD OUT</span>
        </li>
        <li style="--data-reserved: 48%;">
            <span>{date}</span>
            <span>48% Reserved</span>
        </li>
    </ul>
</div>
