<div class="c-order-button">
    <button class="btn btn--primary" type="button">
        {{#if button }}
           {{ button }}
        {{ else }}
            Buy Now
        {{/if}}
    </button>
    {{#unless hide-pay }}
        {{> e-pay-options }}
    {{/unless}}
</div>
