<div class="c-order-button">
    <button class="btn btn--primary" type="button" {{#if on-click }}onclick="{{ on-click }}"{{/if }}>
        {{#if button }}
           {{ button }}
        {{ else }}
            Buy Now
        {{/if}}
    </button>
    {{#unless hide-pay }}
        {{> e-pay-options
            pay-options-label=pay-options-label
        }}
    {{/unless}}
</div>
