<div class="c-save-up">
    {{> e-icon icon="gift" }}
    <p>Save up to <strong>XX%</strong> with our curated bundles</p>
    <button class="btn btn--primary-white">
        Shop Now {{> e-icon icon="arrow" }}
    </button>
</div>
