<div class="c-special-offer" data-label="Special Offer">
    {{#unless hide-price }}
    {{> e-price current="{$dyn}" old="{$dyn}" }}
    {{/unless}}
    <div class="e-pill-save">Save 20%</div>
</div>
